{% load crispy_forms_tags %}

<div class="form-group artist-list-form">
    {% crispy formset %}
    <button type="button" class="white-border-button inline separated" name="add" id="add_more_artists">
            Add another
    </button>
    {% if wrapper.admin %}
        <button type="button" class="white-border-button inline separated" name="add"
                onclick="window.open('{% url 'artist_add' %}?popup=1','Add artist', 'width=800,height=800,scrollbars=no');"
                id="create_artist"> Create a new artist
        </button>
    {% endif %}
</div>
