{% load thumbor_tags %}
<div class="well">
{% if value.url %}Currently: <a target="_blank" href="{{ value.url }}" class="img-thumbnail"><img src="{% thumbor_url value.url|urlencode width=100 %}" alt="{{ value }}" /></a>
{% if not required %}
<div class="checkbox"><label for="{{ checkbox_id }}">
  <input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}">Delete this photo</label>
</div>
    {% else %}<br/>
{% endif %}
Change:
{% endif %}
<input type="{{ type }}" name="{{ name }}"{% if required %} required{% endif %} {% for attr,val in attrs.items %}{{ attr }}={{ val }} {% endfor %} >
</div>