{% load crispy_forms_filters %}
{% load l10n %}

<div class="controls {{ field_class }}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
  {% include 'bootstrap3/layout/field_errors_block.html' %}

  {% for choice in field.field.choices %}
      <label class="radio{% if inline_class %}-{{ inline_class }}{% endif %}">
        <input type="radio"{% if choice.0|stringformat:"s" == field.value|stringformat:"s" %}
               checked="checked"{% endif %} name="{{ field.html_name }}"
               id="id_{{ field.html_name }}_{{ forloop.counter }}"
               {% if choice.0|unlocalize == "custom_invite" %}class="custom_invite"{% endif %}
               value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>{{ choice.1|unlocalize }}
      </label>
      {% if choice.0|unlocalize == "custom_invite" %}
        <div class="no-display extra-message clearfix">
          <p>Dear [first-name],</p>
          <textarea class="form-control" name="invite_text" rows="4"></textarea>
          <p>{ Sincerely, Spike }</p>
        </div>
      {% endif %}
  {% endfor %}

  {% include 'bootstrap3/layout/help_text.html' %}
</div>