{% load crispy_forms_field %}

{% if field.is_hidden %}
	{{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="form-group">
    {% endif %}
	<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if form_show_errors and field.errors %}has-error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% crispy_field field %}
        {% include 'bootstrap3/layout/help_text_and_errors.html' %}
	</{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
