
{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load currency_filters %}


{% block album_listing %}
    <div hidden class="albumpage" data-page={{pagenumber}}></div>
    {% if artist_page %}
        <!-- here we go -->
        {% for album in album_page %}
            {% render_product album.product %}
        {% endfor %}
    {% else %}
    <!-- here we go 11 -->
        {% for album in album_page %}
            {% render_product album %}
        {% endfor %}
    {% endif %}
    
{% endblock %}