{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load sorting_tags %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}" />
{% endblock %}

{% block title %}
    {{ object_name|capfirst }}s | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ full_object_name|capfirst }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header action">
        <h1>{{ full_object_name|capfirst }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block create_product %}
        <div class="table-header">
            <h3><i class="icon-sitemap icon-large"></i> Add new {{ object_name }}</h3>
        </div>
        <div class="well">
            <a href="{{ object_add_url }}" class="btn btn-primary" type="submit"><i class="icon-plus"></i> New {{ object_name }}</a>
        </div>
        {% if dropzone %}
            <div class="well">
                <form action="{{ object_add_url }}" class="dropzone" id="dropzoneForm">
                  {% csrf_token %}
                  <input type="hidden" name="name" value="{{ object_name|title }}"/>
                </form>
            </div>
        {% endif %}
    {% endblock %}

    {% if files %}
        {% block product_list %}
            <form action="." method="post">
                {% csrf_token %}
                {% render_table files %}
            </form>
        {% endblock product_list %}
    {% else %}
        <p>{% trans "No {{ object_name }}s found." %}</p>
    {% endif %}

{% endblock dashboard_content %}

{% block extrascripts %}
  {{ block.super }}
  <script src="{% static "js/dropzone.min.js" %}" type="text/javascript" charset="utf-8"></script>
  <script>
    Dropzone.options.dropzoneForm = {
      parallelUploads: 1,
      init: function () {
        // Set up any event handlers
        this.on('complete', function () {
          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            location.reload();
          }
        });
      }
    };
  </script>
{% endblock %}
