{% extends 'subscriptions/supporter_base.html' %}
{% load static from staticfiles %}
{% load full_static %}
{% comment %}{% load djstripe_tags %}{% endcomment %}

{% block home_content %}
  {% block confirmation_modals %}
  {% endblock %}
  <div class="flex-column supporter-main-container">
      {% fullstatic 'image/banners/archive.jpg' as banner_picture_url %}
    <div class="supporter-image">
        <div style="
        background-image:url( {% static 'image/supporter-background.jpg' %} ); background-size: cover; position: absolute; width: 100%; height: 100%; z-index: -1; left:0;

                ">
        </div>
        <div class="banner-blur-container"></div>
    </div>
    {% block flow_title %}
    {% endblock %}
    <div class="flex-column items-center items-wrapper">
      {% block flow_steps %}
      {% endblock %}
      {% if completed %}
        {% block flow_completed %}
        {% endblock %}
      {% endif %}

    </div>
    <div class="button-row button-row-margin-all confirm-button">

      {% block flow_confirm %}
      {% endblock %}

    </div>
    <div>
      <label id="general-error" class="accent-color text1 hidden">Errors here</label>
    </div>
    {% if not completed %}
      <div id="sentHint" class="processing-message" hidden>
        <p class="text4 text-grey">Processing...Do not close window.</p>
      </div>
    {% endif %}
</div>
{% endblock %}


