{% extends "subscriptions/become-supporter.html" %}
{% load static from staticfiles %}
{% load full_static %}
{% load djstripe_tags %}

{% block confirmation_modals %}
  {% include 'subscriptions/popups/donation_one_time_selection_confirmation_dialog.html' %}
{% endblock %}

{% block flow_title %}
  {% if not completed %}
    <p class="text2 accent-color">Donate</p>
  {% else %}
    <p class="text2 accent-color">Thank you for your donation</p>
  {% endif %}
{% endblock %}

{% block flow_steps %}

  <div id="supporterSteps" class="button-row button-row-margin button-row-no-hover" data-flow="donate">
    {% if not completed %}
      <div class="step-button active"></div>
      <div class="step-button"></div>
      <div class="step-button"></div>
      <div class="step-button"></div>
    {% endif %}
  </div>

  {% if not completed %}

    <div id="supporterStep" class="supporter-step hidden">

    </div>

    <div id="supporterStepSelectType" class="supporter-step">

      <div class="text9">You are making a tax deductible donation to the SmallsLIVE Foundation.<br>
        Please choose one of the following:
      </div>

      <div class="flex-column items-center  supporter-plan-input">
        <div class="section-title section-title-no-padded">
          <div class="title1">One Time Donation</div>
        </div>
        <div id="yearlyPledge"
             class="button-row button-row-big button-row-margin pledge"
             data-dialog-type="donation">
          <button value=100>$5</button>
          <button value=500>$20</button>
          <button value=1000>$100</button>
          <div class="flex-column">
          <div class="flex-row custom-out">
              <div class="custom-input text4">
                <input type="number" pattern="\d*" class="no-spinners transparent" id="yearlyCustom" value="supporter-yearly-pledge">
                <label><div>ENTER  AMOUNT<br>(MIN  $5)</div></label>
                <div id="yearly-less" class="text9 accent-color minimum-error"></div>
              </div>
              <button class="confirm-custom" id="yearlyCustomConfirm" data-type="year" data-value="" style="display: none;">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
              </button>
            </div>
            <label class="hidden accent-color">
              $100 is the minimum donation
            </label>
          </div>
        </div>
      </div>

    </div>

    <div id="supporterStepBilling" class="supporter-step" style="display: none"
         data-payment-info-url="{{ payment_info_url }}"
         data-payment-info-pending-url="{% url 'supporter_pending' %}"
         data-payment-info-complete-url="{% url 'become_supporter' %}">

    </div>

    <div id="supporterStepShipping" class="supporter-step" style="display: none">

    </div>

    <div id="supporterStepPreview" class="supporter-step" style="display: none"
         data-donation-preview-url="{{ donation_preview_url }}">
    </div>

  {% endif %}

{% endblock %}

{% block flow_completed %}
  <div id="supporterStep4" class="flex-column items-center supporter-text-container">
    <div class="supporter-text">
      <p class="title7"><span class="big-letter">T</span>
        hank you for donating. we greatly appreciate your support of our mission.
      </p>
    </div>
  </div>
{% endblock %}

{% block flow_confirm %}
  {% if not completed %}
    <button id="backButton" class="button-bordered">Back</button>
    <button id="confirmButton" class="button-bordered">Confirm</button>
  {% else %}
    <button onclick="endDonation()">Continue</button>
  {% endif %}
{% endblock %}