{% extends "subscriptions/contribute-flow.html" %}
{% load static from staticfiles %}
{% load full_static %}
<!--{% comment %}{% load djstripe_tags %}{% endcomment %}-->

{% block confirmation_modals %}
  {% include 'subscriptions/popups/donation_one_time_selection_confirmation_dialog.html' %}
  {% include 'subscriptions/popups/supporter_gift_selection_confirmation_dialog.html' %}
{% endblock %}

{% block flow_title %}
  {% if not completed %}
    <p class="text2 accent-color">Make a Donation</p>
  {% else %}
    <p class="text2 accent-color">Thank you for your donation</p>
  {% endif %}
{% endblock %}

{% block flow_steps %}

  <div id="supporterSteps" class="button-row button-row-margin button-row-no-hover" data-flow="one_time_donation">
    {% if not completed %}
      <div class="step-button active"></div>
      <div class="step-button"></div>
      <div class="step-button"></div>
      <div class="step-button"></div>
      <div class="step-button"></div>
    {% endif %}
  </div>

  {% if not completed %}
    {% if not skip_intro %}
      <div id="supporterStepIntro"
           data-billing-hidden="hidden"
           class="supporter-step">
        <div class="supporter-text flex-column">
          <!-- TODO: fix inline style -->
          <p class="title7" style="margin-bottom: 70px;">
            <span class="big-letter">T</span>HE <span class='accent-color'>SMALLSLIVE FOUNDATION</span> IS A <span class='accent-color'>NOT-FOR-PROFIT</span>
            ORGANIZED FOR THE PURPOSE OF THE <span class='accent-color'>DISSEMINATION OF JAZZ MUSIC</span> THROUGH OUR ARCHIVE, LIVE STREAMS,
            SPONSORSHIP OF INDIVIDUAL JAZZ PROJECTS & TOURS, EDUCATION, AND LIVE PERFORMANCES AT SMALLS & MEZZROW. WE ARE SUPPORTED BY OUR MEMBERS THROUGH
            <span class='accent-color'><span>TAX DEDUCTIBLE DONATIONS</span>.</span>
          </p>
          <!-- hiding anonymous donations as per Aslan's request -->
        </div>
      </div>
    {% endif %}

    <div id="supporterStepSelectType" class="supporter-step {% if not skip_intro %}hidden{% endif %}">

      {% if user.is_authenticated and not user.has_archive_access %}
        <p class="text9" style="margin-top: 30px;">Please consider becoming a supporter to access the SmallsLIVE Archive.
        </p>
        <div class="text4 text-centered">
          <a class="white-border-button"
             href="{% url 'become_supporter' %}" style="margin: 30px 0;">
            Become a Supporting Member
          </a>
        </div>
      {% endif %}

      {% include 'subscriptions/supporter_step_select_type.html' %}
      {% include 'subscriptions/supporter_gift_selection.html' with hidden=True min_donation=10 %}

    </div>

    <div id="supporterStepShipping" class="supporter-step hidden">

    </div>

    <div id="supporterStepPreview" class="supporter-step hidden"
         data-billing-hidden="hidden"
         data-donation-preview-url="{{ donation_preview_url }}">
    </div>
    <!-- After Spike's request to show payment and amount together, this will show
    when the user is selecting amount for one time or monthly, and after shipping address
    when the user is selecting a gift. It's not an isolated step like it was before -->
    <div id="supporterStepBilling" class="supporter-step hidden"
         data-payment-info-url="{{ payment_info_url }}"
         data-payment-info-complete-url="{% url 'become_supporter' %}"
         data-payment-info-pending-url="{% url 'supporter_pending' %}">
      <form id="payment-form" method="post" action="{% url 'checkout:preview' %}">
        <input type="text" id="hiddenTypeInput" name="type" hidden>
        <input type="number" id="hiddenAmountInput" name="amount" hidden>
        {% if error %}
          <section class="store-error container">
            <span class="store-error__message">{{ error|safe }}</span>
          </section>
        {% endif %}
        <section class="container">
          {% include 'subscriptions/billing_address_details.html' %}
          {% include 'subscriptions/credit_card_payment_details.html' with can_use_existing_cc=user.can_use_existing_cc last4=last4 brand=brand %}
        </section>
      </form>
    </div>

  {% endif %}

{% endblock %}

{% block flow_completed %}
  <div id="supporterStep4" class="flex-column items-center supporter-text-container">
    <div class="supporter-text">
      <p class="title7"><span class="big-letter">T</span>
        hank you for donating. we greatly appreciate your support of our mission.
      </p>
    </div>
  </div>
{% endblock %}

{% block flow_confirm %}
  {% if not completed %}
    <button id="backButton" class="button-bordered">Back</button>
    {% if not user.is_authenticated %}
      <button id="supportBecomeMemberButton"
              class="banner-button-info">Become a member</button>
    {% endif %}
    {% if user.is_authenticated %}
      <button id="confirmButton" class="button-bordered">Confirm</button>
    {% endif %}
  {% else %}
    <button onclick="endDonation()">Continue</button>
  {% endif %}
{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script>
    $(document).ready(function () {

      $("#supportBecomeMemberButton").click(function (e) {
        e.preventDefault();
        $("#becomeMemberDialog").modal("show");

        // Set a different "next url". After logging in, they will go
        // through the supporter flow skipping the intro.
        var next  = "{% url 'donate' %}";

        var action = $("#becomeMemberDialog").find("form").attr("action");
        var parts = action.split("next=");
        parts[1] = next;
        action = parts.join("next=");
        $("#becomeMemberDialog").find("form").attr("action", action);

        action = $("#login-modal").find("form").attr("action");
        var parts = action.split("next=");
        parts[1] = next + "?skip_intro=True";
        action = parts.join("next=");
        $("#login-modal").find("form").attr("action", action);

      });

      {% if skip_intro %}
        // Probably from the Catalog
        setSelected("donate_direct", "one-time", 0, "SelectType");
      {% else %}
        setSelected("one_time_donation", "one-time", 0, "Intro");
      {% endif %}
      checkConfirmButton();
    });
  </script>
{% endblock %}
