{% load static from staticfiles %}
{% load full_static %}
<!--{% comment %}{% load djstripe_tags %}{% endcomment %}-->
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load thumbor_tags %}
{% load basket_tags %}

<div class="modal fade" id="downloadConfirmationDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color title">Download tracks</p>
        <p class="text9 justified-text text">
          Select the tracks you would like to download  ... MP3 or HD if available
        </p>

        <div class="table-container">

        </div>

      </div>
    </div>
  </div>
</div>
