{% extends "subscriptions/contribute-flow.html" %}
{% load static from staticfiles %}
{% load full_static %}
{% load djstripe_tags %}
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load thumbor_tags %}
{% load basket_tags %}

{% block confirmation_modals %}
  {% include 'subscriptions/popups/product_support_gift_selection_confirmation_dialog.html' %}
  {% include 'subscriptions/popups/product_support_one_time_selection_confirmation_dialog.html' %}
{% endblock %}

{% block flow_title %}
  <p class="text2 accent-color">Purchase project

    {{ comma_separated_leaders }}

  </p>
{% endblock %}

{% block flow_steps %}
  <div id="supporterSteps"
       class="button-row button-row-margin button-row-no-hover"
       data-flow="product_support"
       data-product-id="{{ product_id }}">

    <div class="step-button active"></div>
    <div class="step-button"></div>
    <div class="step-button"></div>
    <div class="step-button"></div>

  </div>

  <div id="supporterStepSelectType" class="supporter-step">
    <p class="text9">
      {{ album_product.get_leader_strings }}.
    </p>

    {% include 'subscriptions/catalog_gift_selection.html' with hidden=False %}
  </div>

  <div id="supporterStepShipping"
       data-billing-hidden="hidden"
       class="supporter-step">
  </div>

  <div id="supporterStepPreview"
       class="supporter-step hidden"
       data-billing-hidden="hidden"
       data-donation-preview-url="{{ donation_preview_url }}">
  </div>

  <div id="supporterStepBilling" class="supporter-step hidden "
       data-payment-info-url="{{ payment_info_url }}"
       data-payment-info-pending-url="{% url 'supporter_pending' %}"
       data-payment-info-complete-url="{% url 'become_supporter' %}">
    <form id="payment-form" method="post" action="{% url 'checkout:preview' %}">
      <input type="text" id="hiddenTypeInput" name="type" hidden>
      <input type="number" id="hiddenAmountInput" name="amount" hidden>
      {% if error %}
        <section class="store-error container">
          <span class="store-error__message">{{ error|safe }}</span>
        </section>
      {% endif %}
      <section class="container">
        {% include 'subscriptions/billing_address_details.html' %}
        {% include 'subscriptions/credit_card_payment_details.html' %}
      </section>
    </form>
  </div>

{% endblock %}

{% block flow_confirm %}
  <button id="backButton" class="button-bordered" data-back-action="hideFlow">Back</button>
  <button id="confirmButton" data-hide='true' class="button-bordered">Confirm</button>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>

    var flow = "catalog";
    var type = "one-time";
    var step = "SelectType";

    $(document).ready(function () {
      setSelected(flow, type, 0, step);
      checkConfirmButton();
      replaceWhiteSelects($('#supporterStepBilling')[0]);
      renderCardAnimation('#payment-form');

    });

  </script>
{% endblock %}
