{% if not flow_type == 'update_pledge' and not flow_type == 'event_sponsorship' and not only_one_time %}
  <div id="select-type-row" class="row" style="margin-top: 20px;">
    <div class="button-row button-row-margin supporter-type-select">
      <div class="store__form__selection__option">
        <button class="select-supporter-type-toggle{% if not flow_type == 'product_support' %} active{% endif %} single"
                data-id="one-time"
                data-recurring="single"
                data-payment-options-hidden="">
          One Time Donation
        </button>
      </div>
      {% if flow_type == 'become_supporter' %}
        <div class="store__form__selection__option">
          <button class="select-supporter-type-toggle recurring"
                  data-id="monthly"
                  data-recurring="recurring"
                  data-payment-options-hidden="">
            Monthly Pledge
          </button>
        </div>
      {% endif %}
      <div class="store__form__selection__option">
        <button class="select-supporter-type-toggle {% if flow_type == 'product_support' %} active{% endif %}"
                data-id="gift"
                data-recurring="gift"
                data-payment-options-hidden="hidden">
          Choose a Gift
        </button>
      </div>
    </div>
  </div>
{% endif %}

<div class="flex-column items-center one-time-input supporter-plan-input{% if flow_type == 'product_support' or flow_type == 'update_pledge' %} hidden{% endif %}">
  <div class="section-title section-title-no-padded">
    <div tabindex="0" class="title1">One Time Donation</div>
  </div>
  {% if not no_description %}
    <p tabindex="0" class="text9">This is a one time, 100% tax deductible donation to The SmallsLIVE Foundation. All donations grant access to the SmallsLIVE Archive.<br>
      If you would like to customize your donation please contact us at foundation@smallslive.com
    </p>
  {% endif %}
</div>

<div class="flex-column items-center monthly-input supporter-plan-input{% if not flow_type == 'update_pledge' %} hidden{% endif %}">
  <div class="section-title section-title-no-padded">
    <div tabindex="0" class="title1">Monthly Pledge</div>
  </div>
  <p tabindex="0" class="text9">Monthly pledges are billed automatically and can be cancelled at any time from your account settings. Monthly pledges are 100% tax deductible. All donations grant access to the SmallsLIVE Archive.</p>
</div>
{% if not flow_type == 'one_time_donation' %}
  <div class="flex-column items-center monthly-input supporter-plan-input{% if not flow_type == 'update_pledge' %} hidden{% endif %}" id="monthly-input">
    <div id="monthlyPledge" class="button-row button-row-big donation-container">
      <div class="flex-column">
        <div class="flex-row custom-out">
          <div class="custom-input text4">
            <input type="number" min="10" max="99999" step="1" class="no-spinners transparent" id="monthlyCustom" value="supporter-monthly-pledge">
            <label id="set-your-own-lbl"><div>ENTER YOUR PLEDGE <br> (MIN $10)</div></label>
            <div id="monthly-less" class="text9 accent-color minimum-error"></div>
          </div>
        </div>
        <label class="hidden accent-color">
          $10 is the minimum monthly pledge
        </label>
      </div>
    </div>
  </div>
{% endif %}
{% if not flow_type == 'update_pledge' %}
  <div class="flex-column items-center one-time-input supporter-plan-input{% if flow_type == 'product_support' %} hidden{% endif %}" id="one-time-input">

    <div id="yearlyPledge"
         class="button-row button-row-big donation-container pledge"
         data-dialog-type="supporter">
      <!-- TODO: removing fixed amounts as per Spike's request
      <button class="donation-button donation" value=10>$10</button>
      <button class="donation-button donation" value=50>$50</button>
      <button class="donation-button donation" value=100>$100</button>
      <button class="donation-button donation" value=500>$500</button>
      -->
      <div class="flex-column">
        <div class="flex-row custom-out">
          <div class="custom-input text4">
            <input type="number" data-min-donation="{{ min_donation }}" min="{{ min_donation }}" step="1" class="no-spinners transparent" id="yearlyCustom" max="99999" value="supporter-yearly-pledge">
            <label><div>ENTER YOUR PLEDGE<br>(MIN  ${{ min_donation }})</div></label>
            <div id="yearly-less" class="text9 accent-color minimum-error"></div>
          </div>
        </div>
      </div>
      <label class="hidden accent-color min">
        ${{ min_donation }} is the minimum donation
      </label>
      <label class="hidden accent-color max">
        If you’d like to make a donation of $100,000 or greater, please contact us directly.
      </label>
      <!-- TODO: removing fixed amounts as per Spike's request
      <label class="text3">Or</label>
      <button class="donation-button" onclick="$('#select-type-row [data-id=\'gift\']').click()">Select a gift</button>
      -->
    </div>
  </div>
{% endif %}

