{% extends "subscriptions/contribute-flow.html" %}
{% load static from staticfiles %}
{% load full_static %}
{% load djstripe_tags %}
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load thumbor_tags %}
{% load basket_tags %}

{% block flow_title %}
  <p class="text2 accent-color">
    Sponsorship seat(s)
  </p>
{% endblock %}

{% block flow_steps %}
  <div id="supporterSteps"
       class="button-row button-row-margin button-row-no-hover"
       data-flow="ticket_support"
       data-product-id="{{ product_id }}">

    <div class="step-button active"></div>
    <div class="step-button"></div>
    <div class="step-button"></div>
    <div class="step-button"></div>

  </div>

  <div id="supporterStepBasket"
           data-billing-hidden="hidden"
           class="supporter-step">
    {% include 'basket/partials/basket_content.html' %}

  </div>

  <div id="supporterStepBilling" class="supporter-step hidden"
       data-payment-info-url="{{ payment_info_url }}"
       data-payment-info-pending-url="{% url 'supporter_pending' %}"
       data-payment-info-complete-url="{% url 'become_supporter' %}">
    <form id="payment-form" method="post" action="{% url 'checkout:preview' %}">
      <input type="text" id="hiddenTypeInput" name="type" hidden>
      <input type="number" id="hiddenAmountInput" name="amount" hidden>
      {% if error %}
        <section class="store-error container">
          <span class="store-error__message">{{ error|safe }}</span>
        </section>
      {% endif %}
      <section class="container">
        <div class="section-title section-title__first section-title-no-padded">
          <div tabindex="0" class="title1 center">Party Name</div>
        </div>
        <div class="flex-row col-xs-12 col-md-4 col-md-offset-4">
          <input style="margin-right: 15px;" type="text" class="store__form__input"
          required placeholder="First name" size="20"
          autocomplete="off"
          name="guest_first_name" value="{% if user.first_name %} {{ user.first_name }} {% elif guest.first_name %} {{ guest.first_name }} {% endif %}"
          placeholder="Credit Card Number">
          <input type="text" class="store__form__input"
          required placeholder="Last name" size="20"
          autocomplete="off"
          name="guest_last_name" value="{% if user.last_name %} {{ user.last_name }} {% elif guest.last_name %} {{ guest.last_name }} {% endif %}"
          placeholder="Credit Card Number">
        </div>
        <div class="section-title section-title-no-padded">
          <div tabindex="0" class="title1 center">Payment information</div>
        </div>
        {% include 'subscriptions/billing_address_details.html' %}
        {% include 'subscriptions/credit_card_payment_details.html' with can_use_existing_cc=user.can_use_existing_cc %}
      </section>
    </form>
  </div>

  <div id="supporterStepPreview"
       class="supporter-step hidden"
       data-billing-hidden="hidden"
       data-donation-preview-url="{{ donation_preview_url }}">
  </div>

{% endblock %}

{% block flow_confirm %}
  <button id="backButton" class="button-bordered" data-back-action="goBack">Back</button>
  <button id="confirmButton" data-hide='true' class="button-bordered">Confirm</button>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'oscar/js/oscar/ui.js' %}" type="text/javascript" charset="utf-8"></script>
  <script>

    var flow = "ticket_support";
    var type = "store";
    var step = "Basket";

    $(document).ready(function () {
      setSelected(flow, type, 0, step);
      checkConfirmButton();
      var basketContentUrl = "{% url 'basket:summary' %}";
      $.get(basketContentUrl, function (data) {
        showBasket(data);
      });

    });
    var options = {
      'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.init();
    oscar.basket.init(options);

  </script>
{% endblock %}
