<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div id="login-modal" class="modal-content custom-modal no-cancel">
        <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">Welcome to SmallsLIVE</p>
        <p class="title1">Sign in</p>
        <p class="text4 text-grey">
          Not Yet a Member?
          <a class="accent-color underline"
             href="#" id="becomeMemberButton">
             Sign up for SmallsLIVE
          </a>
        </p>
        <form role="form" id="form-login" method="post" action="{% url 'accounts_login' %}?next={{ request.path }}">
          {% csrf_token %}
          <div class="form-group">
            <input type="email" class="form-control" name="login" placeholder="Email">
            <p class="form-error-text hidden" id="login-error"></p>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <p class="form-error-text hidden" id="password-error"></p>
          </div>
          <div class="form-group">
            <p class="form-error-text hidden" id="all-errors"></p>
          </div>
          <div class="form-group flex-column items-center">
            <a class="forgot-password text4 text-grey"
               href="{% url "account_reset_password" %}">
              Forgot Your Password?
            </a>
          </div>
          <div class="form-group flex-column items-center">
            <input class="login-button" value="Sign in" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    loginModal = document.getElementById('login-modal')
    $('#login-modal .close-button').click(() => { $('#logIn').modal('toggle') })
   
</script>