{% extends "account/contribute-flow.html" %}
{% load static from staticfiles %}
{% load full_static %}
{% load djstripe_tags %}
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load thumbor_tags %}


{% block confirmation_modals %}
  {% if supporter_flow == 'catalog_flow' %}
  {% else %}
    {% include 'account/selection_confirmation_dialog.html' %}
  {% endif %}
{% endblock %}

{% block flow_title %}
  {% if supporter_flow == 'catalog_flow' %}
    <p tabindex="0" class="text2 accent-color">Your selection from the Catalog</p>
  {% else %}
    {% if not completed %}
      {% if flow_type == 'become_supporter' %}
        <p tabindex="0" class="text2 accent-color">Become a supporting member</p>
      {% elif flow_type == 'product_support' %}
        <p tabindex="0" class="text2 accent-color">Support Artist</p>
      {% endif %}
    {% else %}
        <p class="text2 accent-color"></p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block flow_steps %}

  <div id="supporterSteps" class="button-row button-row-margin button-row-no-hover"
       data-artist-id="{{ artist_id }}"
       data-flow="{{ flow_type }}"
       data-free-donate="{{ can_free_donate }}">
    <div class="{% if not completed %}active{% endif %} step-button"></div>
    <div class="step-button"></div>
    <div class="step-button"></div>
    <div class="step-button hidden gift"></div>
    <div class="step-button hidden gift"></div>
    <div class="{% if completed %}active{% endif %} step-button"></div>
  </div>
  {% if not completed %}
    <div id="supporterStep" class="supporter-step hidden"></div>

    {% if not supporter_flow == 'catalog_flow' %}
    <div id="supporterStepIntro" class="supporter-step">
      <div class="supporter-text flex-column">
        <p  tabindex="0" class="title7"><span class="big-letter">T</span>HE <span class='accent-color'>SMALLSLIVE FOUNDATION</span> IS A <span class='accent-color'>NOT-FOR-PROFIT</span> ORGANIZED FOR THE PURPOSE OF THE <span class='accent-color'>DISSEMINATION OF JAZZ MUSIC</span> THROUGH OUR ARCHIVE, LIVE STREAMS, SPONSORSHIP OF INDIVIDUAL JAZZ PROJECTS & TOURS, EDUCATION, AND LIVE PERFORMACES AT SMALLS & MEZZROW. WE ARE SUPPORTED BY OUR MEMBERS THROUGH <span class='accent-color'><span class="underline">TAX DEDUCTIBLE DONATIONS</span>.</span></p>
      </div>
    </div>
    {% endif %}

    <div id="supporterStepSelectType" class="supporter-step" style="display: none">
    
      <div tabindex="0" class="text9">You are
        {% if flow_type = 'update_pledge' %}
        updating your pledge
        {% elif flow_type = 'one_time_donation' %}
        making a one time donation
        {% else %}
        making a tax deductible donation
        {% endif %}
        to the SmallsLIVE Foundation for Jazz Arts and Education.<br>
        {% if not flow_type = 'update_pledge' %}All tax information is available from your account settings. {% endif %}Please choose one of the following:
      </div>

      {% if not flow_type = 'update_pledge' %}
        <div id="select-type-row" class="row" style="margin-top: 20px;">
          <div class="button-row button-row-margin supporter-type-select">
            {% if not flow_type = 'one_time_donation' %}
              <div class="store__form__selection__option">
                <button class="select-supporter-type-toggle {% if not flow_type = 'one_time_donation' %}active{% endif %}" data-id="monthly">
                  Monthly Pledge
                </button>
              </div>
            {% endif %}
            <div class="store__form__selection__option">
              <button class="select-supporter-type-toggle {% if flow_type = 'one_time_donation' %}active{% endif %}" data-id="one-time">
                One Time Donation
              </button>
            </div>
            <div class="store__form__selection__option">
              <button class="select-supporter-type-toggle" data-id="gift">
                Choose a Gift Tier
              </button>
            </div>
          </div>
        </div>
      {% endif %}

      {% if not flow_type = 'one_time_donation' %}
        <div class="flex-column items-center supporter-plan-input" id="monthly-input">
          <div class="section-title section-title-no-padded">
            <div tabindex="0" class="title1">Monthly Pledge</div>
          </div>
          <p tabindex="0" class="text9">Monthly pledges are billed automatically and can be cancelled at any time from your account settings. Monthly pledges are 100% tax deductible.<br>You will receive access to The SmallsLIVE Archive for as long as you are a Supporting Member of the SmallsLIVE Foundation.</p>
          <div id="monthlyPledge" class="button-row button-row-big button-row-margin">
            <button value=10 style="margin-bottom: 25px;">$10</button>
            <button value=20>$20</button>
            <button value=50>$50</button>
            <div class="flex-row custom-out">
              <div class="custom-input text4">
                <input type="number" pattern="\d*" class="no-spinners transparent" id="monthlyCustom" value="supporter-monthly-pledge">
                <label><div>SET YOUR OWN <br> (MIN $10)</div></label>
                <div id="monthly-less" class="text9 accent-color minimum-error"></div>
              </div>
              <button class="confirm-custom" id="monthlyCustomConfirm" data-type="month" data-value="" style="display: none;">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
              </button>
            </div>
          </div>
        </div>
      {% endif %}
      {% if not flow_type = 'update_pledge' %}
        <div class="flex-column items-center  supporter-plan-input {% if not flow_type = 'one_time_donation' %}hidden{% endif %}" id="one-time-input">
          <div class="section-title section-title-no-padded">
            <div tabindex="0" class="title1">One Time Donation</div>
          </div>
          <p tabindex="0" class="text9">This is a one time, 100% tax deductible donation to The SmallsLIVE Foundation. You will receive access to the SmallsLIVE Archive for the remainder of the tax year.<br>
            If would like to customize your donation please contact us at foundation@smallslive.com</p>
          <div id="yearlyPledge" class="button-row button-row-big button-row-margin">
            <button value=100>$100</button>
            <button value=500>$500</button>
            <button value=1000>$1000</button>
            <div class="flex-row custom-out">
              <div class="custom-input text4">
                <input type="number" pattern="\d*" class="no-spinners transparent" id="yearlyCustom" value="supporter-yearly-pledge">
                {% if flow_type = "become_supporter" or not can_free_donate %}
                <label><div>ENTER  AMOUNT<br>(MIN  $100)</div></label>
                <div id="yearly-less" class="text9 accent-color minimum-error"></div>
                {% endif %}
              </div>
              <button class="confirm-custom" id="yearlyCustomConfirm" data-type="year" data-value="" style="display: none;">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
              </button>
            </div>
          </div>
        </div>
      {% endif %}
      {% if not flow_type = "update_pledge" %}
        {% include 'account/gift_selection.html' with hidden=True %}
      {% endif %}
    </div>

    <div id="supporterStepPaymentInfo" class="supporter-step" style="display: none"
         data-payment-info-url="{{ payment_info_url }}"
         data-payment-info-complete-url="{% url 'become_supporter' %}"
         data-payment-info-pending-url="{% url 'supporter_pending' %}"
         data-payment-info-pending-url="{% url 'supporter_pending' %}">
    </div>

    <div id="supporterStepShipping" class="supporter-step" style="display: none">

    </div>

    <div id="supporterStepBilling" class="supporter-step" style="display: none">

    </div>

    <div id="supporterStepPreview" class="supporter-step" style="display: none">

    </div>


  {% endif %}

{% endblock %}

{% block flow_payment %}
{% endblock %}

{% block flow_completed %}
  <div id="supporterStepThankYou" class="flex-column items-center supporter-text-container">
    <div class="supporter-text">
    {% if flow_type = "become_supporter" %}
      <p tabindex="0" class="title7"><span class="big-letter">T</span>
        hank you for becoming a <span class='accent-color'>supporting member</span> of the smallslive foundation for jazz arts and education. we greatly appreciate your support of our mission.  <span class='accent-color'>the smallslive foundation can only exist because of supporting members like yourself.</span> please enjoy our livestreams and extensive audio/video archive.
      </p>
    {% elif flow_type = "update_pledge" %}
    <p tabindex="0" class="title7"><span class="big-letter">T</span>
        hank you for updating your <span class='accent-color'>membership</span> of the smallslive foundation for jazz arts and education. we greatly appreciate your support of our mission.  <span class='accent-color'>the smallslive foundation can only exist because of supporting members like yourself.</span>
      </p>
    {% elif flow_type = "one_time_donation" %}
    <p tabindex="0" class="title7"><span class="big-letter">T</span>
        hank you for donating to the smallslive foundation for jazz arts and education. we greatly appreciate your support of our mission.  <span class='accent-color'>the smallslive foundation can only exist because of supporting members like yourself.</span>
      </p>
    {% endif %}
    </div>
  </div>
{% endblock %}
{% block flow_confirm %}

  {% if not completed %}
    <button id="backButton" class="button-bordered">Back</button>
    <button id="confirmButton" data-hide='true' class="button-bordered">Confirm</button>
  {% else %}
    {% if flow_type = "become_supporter" %}
    <a href="{% url 'archive' %}">
      <button>Access the archive</button>
    </a>
    {% else %}
    <a href="{% url 'user_settings_new' %}">
      <button>Continue</button>
    </a>
    {% endif  %}
  {% endif %}
  
{% endblock %}
