{% extends "account/contribute_flow.html" %}
{% load static from staticfiles %}
{% load full_static %}
{% load djstripe_tags %}

{% block flow_title %}
  {% if not completed %}
    <p class="text2 accent-color">Donate</p>
  {% else %}
    <p class="text2 accent-color">Thank you for your donation</p>
  {% endif %}
{% endblock %}

{% block flow_steps %}
  <div id="supporterSteps" class="button-row button-row-margin button-row-no-hover">
    <div class="{% if not completed %}active{% endif %} step-button"></div>
    <div class="step-button"></div>
    <div class="{% if completed %}active{% endif %} step-button"></div>
  </div>
  {% if not completed %}
  <div id="supporterStep1" class="supporter-step">
    <div class="supporter-text flex-column">
        <p class="title7"><span class="big-letter">T</span>HE <span class='accent-color'>SMALLSLIVE FOUNDATION</span> IS A <span class='accent-color'>NOT-FOR-PROFIT</span> ORGANIZED FOR THE PURPOSE OF THE <span class='accent-color'>DISSEMINATION OF JAZZ MUSIC</span> THROUGH OUR ARCHIVE, LIVE STREAMS, SPONSORSHIP OF INDIVIDUAL JAZZ PROJECTS & TOURS, EDUCATION, AND LIVE PERFORMACES AT SMALLS & MEZZROW. WE ARE SUPPORTED BY OUR MEMBERS THROUGH <span class='accent-color'><span class="underline">TAX DEDUCTIBLE DONATIONS</span>.</span></p>

    </div>
  </div>
  <div id="supporterStep2" class="supporter-step" style="display: none">
    <div class="text9">You are making a tax deductible donation to the SmallsLIVE Foundation.<br> You may download your tax receipt letter in your account settings.</div>
    <div class="flex-column items-center supporter-plan-input">
      <div class="section-title section-title-no-padded">
        <div class="title1">One Time Donation</div>
      </div>
      <p class="text9">This is a one time tax deductible donation to The SmallsLIVE Foundation. Enter any amount of you choice to support Jazz music</p>
      <div id="oneTimePayment" class="button-row button-row-big button-row-margin">
        <div class="custom-input text4">
          <input type="number" class="no-spinners" value="one_time_payment">
          <label><div>Enter amount</div></label>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
{% block flow_completed %}
  <div id="supporterStep4" class="flex-column items-center supporter-text-container">
    <div class="supporter-text">
      <p class="title7"><span class="big-letter">T</span>
        hank you for donating. we greatly appreciate your support of our mission.
      </p>
    </div>
  </div>
{% endblock %}
{% block flow_confirm %}
  {% if not completed %}
    <button id="backButton" class="button-bordered">Back</button>
    <button id="confirmButton" class="button-bordered">Confirm</button>
  {% else %}
    <a href="{{ redirect_url }}">
      <button>Continue</button>
    </a>
  {% endif %}
{% endblock %}
