{% extends "home_new.html" %}
<!--{% comment %}{% load djstripe_tags %}{% endcomment %}-->
{% load static from staticfiles %}
{% load socialaccount %}

{% block extra_head %}
    {% providers_media_js %}
{% endblock %}

{% block title %}Verification email sent!{% endblock %}

{% block content %}
    <div class="flex-column items-center">
        <h1 class="title1 accent-color">Please confirm your email</h1>
        <div class="text4">Watch for an email with a confirmation link. Please click the link to complete your registration. If you do not receive the email please check your SPAM folder first. Otherwise, contact us at <a href="mailto:smallslive@gmail.com">smallslive@gmail.com</a></div>
    </div>
{% endblock %}
