{% extends 'home_new.html' %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

  <div class="flex-column items-center">

    <h1 class="title2 accent-color">
      {% trans "Confirm E-mail Address" %}
    </h1>

    {% if confirmation %}

      {% user_display confirmation.email_address.user as user_display %}

      <p class="text4">
        {% blocktrans with confirmation.email_address.email as email %}
          Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an
          e-mail address for user {{ user_display }}.
        {% endblocktrans %}
      </p>

      <form method="post"
            action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <input type="submit" class="form-button"
               value="{% trans 'Confirm' %}">

      </form>

    {% else %}

      {% url 'account_email' as email_url %}

      <p class="text4">{% blocktrans %}This e-mail confirmation link expired or is invalid.
        Please
        <a href="mailto:smallsliveusers@gmail.com">contact SmallsLIVE staff </a>
        to get a new invite.{% endblocktrans %}</p>

    {% endif %}
  </div>

{% endblock %}
