{% extends "home_new.html" %}
<!--{% comment %}{% load djstripe_tags %}{% endcomment %}-->
{% load static from staticfiles %}
{% load socialaccount %}

{% block extra_head %}
    {% providers_media_js %}
{% endblock %}

{% block title %}EMAIL CONFIRMED{% endblock %}

{% block content %}
  {% include 'sign_in_to_become_a_supporter_dialog.html' %}
  <div class="container">
    <div class="flex-column items-center email-confirm">
      <p class="title1">Welcome to The SmallsLIVE Foundation</p>

      <div class="content">
        <p class="text9">Thank you for registering with the SmallsLIVE Foundation.</p>
        <p class="text9">Your email is now confirmed.</p>
        <p class="text9">To access the SmallsLIVE Audio/Video Archive, please make a tax deductible donation to the SmallsLIVE Foundation.  One month access is $10 and one year is $100.</p>
      </div>

      <div class="text4 text-centered button-row">
        {% if not user.is_authenticated %}
        <button class="white-border-button sign-in-button separated" href="#logIn" data-toggle="modal">
          Sign in
        </button>
        {% endif %}
        <button id="email-confirmed-become-supporter-btn"
                class="white-border-button sign-in-button separated"
                {% if not user.is_authenticated %}
                  href="#logIn"
                {% endif %}
                data-toggle="modal">
          Become a Supporting Member
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {% if not user.is_authenticated %}
  <script>
    $(document).ready(function(){
      $('#email-confirmed-become-supporter-btn').click(function () {
        var $form = $('#form-login');
        var action = $form.attr('action');
        // TODO: Use URL from backend
        action = action + '?next='  + '/subscriptions/supporter';
        $form.attr('action', action);
      });
    });
  </script>
  {% else %}
  <script>
    $(document).on('click', '#email-confirmed-become-supporter-btn', function(){
      window.location = '/subscriptions/supporter';
    })
  </script>
  {% endif %}

{% endblock extra_js %}
