{% extends "smalls_base.html" %}
{% load static %}
{% load socialaccount %}

{% block extra_head %}
    {% providers_media_js %}
{% endblock %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container login">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="col-xs-12">
                    <h1 class="login__title">Sign in</h1>
                    <p class="login__text--heavy">Sign in to access our live stream and audio video archive.</p>
                </div>
                <form role="form" method="post" action="#">
                    {%  csrf_token %}
                    <div class="col-xs-12">
                        <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                            <input type="email" class="form-control" name="login" placeholder="Your email">
                            {% if form.login.errors %}
                              {% for error in form.login.errors %}
                                <p class="form-error-text" id="login-error">{{ error }}</p>
                              {% endfor %}
                            {% endif %}

                        </div>
                        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                            <input type="password" class="form-control" name="password" placeholder="Your password">
                            {% if form.password.errors %}
                              {% for error in form.password.errors %}
                                <p class="form-error-text" id="login-error">{{ error }}</p>
                              {% endfor %}
                            {% endif %}
                            {% if form.non_field_errors %}
                              {% for error in form.non_field_errors %}
                                <p class="form-error-text" id="login-error">{{ error }}</p>
                              {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="login__checkbox-container">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" name="remember" id="remember_me">
                            <div class="form-group {% if form.terms_of_service.errors %}has-error{% endif %}">
                                <label for="remember_me" class="checkbox-label control-label">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="{% url "account_reset_password" %}" class="login__forgot-password">Forgot password?</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-6">
                        <input class="login__login-button" value="Sign in" type="submit">
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-6">
                        <a class="login__login-button facebook" href="{% provider_login_url "facebook" method="js_sdk" %}"><div class="vcenter"><i class="fa fa-facebook-square"></i></div><div class="vcenter">Sign in with Facebook</div></a>
                    </div>
                </form>
                <div class="col-xs-12 login__signup-cta">
                    <h2 class="login__signup-cta__title">Not a member of SmallsLIVE?</h2>
                    <p class="login__signup-cta__text">Become a member of SmallsLIVE to watch our live stream.  Subscribing members get unlimited access to our audio/video archive.  By becoming a subscribing member you are directly supporting the musicians and the venue./p>
                    <a href="{% url "account_signup" %}" class="login__signup-cta__button">Click here to become a member</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

