{% extends 'home_new.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block home_content %}
    <div class="flex-column items-center set-password">
        <h1 class="title2 accent-color">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text4">
          {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
    </div>
{% endblock %}
