{% extends "generic-text-page.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password change successful" %}{% endblock %}

{% block head_title %}{% trans "Password change successful" %}{% endblock %}

{% block static-content %}
    <div class="col-xs-12 reset-password__form">
        <h1 class="login__title">{% trans "Password change successful" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="login__text--heavy">You've successfully changed your password. Please <a href="{% url "accounts_login" %}">log in</a>.</p>
    </div>
{% endblock %}
