{% extends 'home_new.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password change successful" %}{% endblock %}

{% block head_title %}{% trans "Password change successful" %}{% endblock %}

{% block home_content %}
  <div class="flex-column items-center set-password">
    <h1 class="title2 accent-color">{% trans "Password change successful" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="text4">You've successfully changed your password. Please <a href="{% url "home" %}">log in</a>.</p>
  </div>
{% endblock %}
