{% extends 'home_new.html' %}

{% load i18n %}
{% load account %}
{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block home_content %}
  <div class="flex-column items-center set-password">
    <h1 class="title2 accent-color">Password Reset</h1>
    <p class="text4">
      Forgotten your password? Enter your e-mail
      address below, and we'll send you an e-mail allowing you to reset it.
    </p>
    <form class="signup" role="form" method="post"
          action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      <div class="form-group {% if form.email.errors %}has-error{% endif %}">
        <input type="email" id="id_email" class="form-control bordered-input" name="email"
               placeholder="Your email"
               placeholder="Enter your email address">
        {% if form.email.errors %}
          {% for error in form.email.errors %}
            <p class="form-error-text" id="login-error">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <input class="form-button" value="Reset password"
             type="submit">
    </form>
    <p class="text4">Please contact us if you have any trouble
      resetting your password.
    </p>
  </div>
{% endblock %}

