
    <form  class="custom-form" role="form" method="post" action="{% url "user_settings_new" %}">
            {% csrf_token %}
            <div hidden class="form-group {% if artist_info_form.first_name.errors  %}has-error{% endif %}">
              {{ artist_info_form.first_name }}
              {% for error in artist_info_form.first_name.errors %}
                  <p class="form-error-text">{{ error  }}</p>
              {% endfor %}
            </div>
            <div hidden class="form-group {% if artist_info_form.last_name.errors  %}has-error{% endif %}">
              {{ artist_info_form.last_name }}
              {% for error in artist_info_form.last_name.errors %}
                  <p class="form-error-text">{{ error  }}</p>
              {% endfor %}
            </div>
            <div class="form-group {% if artist_info_form.address_1.errors  %}has-error{% endif %}">
              {{ artist_info_form.address_1 }}
              {% for error in artist_info_form.address_1.errors %}
                  <p class="form-error-text">{{ error  }}</p>
              {% endfor %}
            </div>
            <div class="form-group {% if artist_info_form.address_2.errors  %}has-error{% endif %}">
              {{ artist_info_form.address_2 }}
              {% for error in artist_info_form.address_2.errors %}
                  <p class="form-error-text">{{ error  }}</p>
              {% endfor %}
            </div>
            <div class="flex-row content-space-between">
            <div class="flex-column zip-country">
                <div class="form-group {% if artist_info_form.city.errors  %}has-error{% endif %}">
                  {{ artist_info_form.city }}
                  {% for error in artist_info_form.city.errors %}
                      <p class="form-error-text">{{ error  }}</p>
                  {% endfor %}
                </div>
            </div>
            <div class="flex-column zip-country">
                <div class="form-group {% if artist_info_form.zip.errors  %}has-error{% endif %}">
                  {{ artist_info_form.zip }}
                  {% for error in artist_info_form.zip.errors %}
                      <p class="form-error-text">{{ error  }}</p>
                  {% endfor %}
                </div>
            </div>
            </div>
            <div class="form-group {% if artist_info_form.state.errors  %}has-error{% endif %}">
            <div class="white-border-select" style="width: 100%;">
              {{ artist_info_form.state }}
              {% for error in artist_info_form.state.errors %}
                  <p class="form-error-text">{{ error  }}</p>
              {% endfor %}
            </div>
            </div>
            <div class="form-group {% if artist_info_form.country.errors  %}has-error{% endif %}">
            <div class="white-border-select" style="width: 100%;">
              {{ artist_info_form.country }}
              {% for error in artist_info_form.country.errors %}
                  <p class="form-error-text">{{ error  }}</p>
              {% endfor %}
            </div>
            <div hidden class="account-settings__form__separator"> </div>
            <label hidden for="payout_selection">Select your payout method</label>
            <div hidden>
              {% for choice in artist_info_form.payout_method %}
                <div class="row_stack">
                    <input type="radio" name="payout_method" value="{{ choice.choice_label }}" {% if 'Check' == choice.choice_label %}checked{% endif %} class="radio-button" /> <span class="radio-button__label">{{ choice.choice_label }}</span>
                </div>
              {% endfor %}
            </div>
            </div>
            <input type="submit" class="white-border-button" name="artist_info" value="Save">
        </form>
    