{% extends "account/contribute-flow.html" %}
{% load static from staticfiles %}
{% load full_static %}
{% load djstripe_tags %}
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load thumbor_tags %}
{% load basket_tags %}

{% block confirmation_modals %}
  {% include 'account/selection_confirmation_dialog.html' %}
{% endblock %}

{% block flow_title %}
  <p class="text2 accent-color">You are sponsoring

    {{ comma_separated_leaders }} {{ album_product.upc }}

  </p>
{% endblock %}

{% block flow_steps %}
  <div id="supporterSteps"
       class="button-row button-row-margin button-row-no-hover"
       data-flow="product_support"
       data-product-id="{{ product_id }}">
    <div class="{% if not completed %}active{% endif %} step-button"></div>
    <div class="step-button"></div>
    <div class="step-button"></div>
    <div class="step-button hidden gift"></div>
    <div class="step-button hidden gift"></div>
    <div class="{% if completed %}active{% endif %} step-button"></div>
  </div>
  {% if not completed %}
    <div id="supporterStep" class="supporter-step hidden"></div>

    <div id="supporterStepSelectType" class="supporter-step">
  <!--
      <div class="text9">You are
        making a tax deductable donation
        to the SmallsLIVE Foundation for Jazz Arts and Education.<br>
        All tax information is available from your account settings.
      </div>
  //-->

      <div id="select-type-row" class="row" style="margin-top: 20px;">
        <div class="button-row button-row-margin supporter-type-select">
          <div class="store__form__selection__option">
            <button class="select-supporter-type-toggle active" data-id="one-time">
              One Time Donation
            </button>
          </div>
          <div class="store__form__selection__option">
            <button class="select-supporter-type-toggle" data-id="gift">
              Select a gift
            </button>
          </div>
        </div>
      </div>

      <div class="flex-column items-center  supporter-plan-input" id="one-time-input">
        <div class="section-title-centered section-title-no-padded">
          <div class="title1">Artist Sponsorship</div>
        </div>
        <p class="text9">This is a 100% tax-deductable donation to the SmallsLIVE Foundation.
          50% of your donation will go directly to
          {{ album_product.get_leader_strings }}.
        </p>
        <div id="supportPledge" class="button-row button-row-big button-row-margin">
          <button value=5 style="margin-bottom: 25px;">$5</button>
          <button value=20>$20</button>
          <button value=100>$100</button>
          <div class="flex-row custom-out">
            <div class="custom-input text4">
              <input type="number" pattern="\d*" class="no-spinners transparent" id="yearlyCustom" value="supporter-yearly-pledge">
              <label><div>ENTER  AMOUNT<br>(NO MINIMUM REQUIRED)</div></label>
            </div>
            <button class="confirm-custom" id="yearlyCustomConfirm" data-type="year" data-value="" style="display: none;">
              <span class="bar bar-1"></span>
              <span class="bar bar-2"></span>
            </button>
          </div>
        </div>
      </div>

      {% include 'account/gift_selection.html' %}

    </div>

    <div id="supporterStepPaymentInfo" class="supporter-step" style="display: none"
         data-payment-info-url="{{ payment_info_url }}"
         data-payment-info-complete-url="{% url 'become_supporter' %}"
         data-payment-info-pending-url="{% url 'supporter_pending' %}">

    </div>

    <div id="supporterStepShipping" class="supporter-step" style="display: none">

    </div>

    <div id="supporterStepBilling" class="supporter-step" style="display: none">

    </div>

    <div id="supporterStepPreview" class="supporter-step" style="display: none">

    </div>


  {% endif %}

{% endblock %}

{% block flow_payment %}
{% endblock %}

{% block flow_completed %}
  <div id="supporterStepThankYou" class="flex-column items-center supporter-text-container">
    <div class="supporter-text">
      <p class="title7"><span class="big-letter">T</span>
        hank you for <span class='accent-color'>supporting</span> the smallslive foundation for jazz arts and education. we greatly appreciate your support of our mission.
      </p>
    </div>
  </div>
{% endblock %}
{% block flow_confirm %}
  {% if not completed %}
    <button id="backButton" class="button-bordered">Back</button>
    <button id="confirmButton" data-hide='true' class="button-bordered">Confirm</button>
  {% else %}
    <a href="{% url 'promotions:home' %}">
      <button>Continue browsing the Catalog</button>
    </a>
  {% endif %}

{% endblock %}
