{% extends "smalls_base.html" %}
<!--{% load djstripe_tags %}-->
{% load static from staticfiles %}
{% load socialaccount %}

{% block extra_head %}
    {% providers_media_js %}
{% endblock %}

{% block title %}Sign up complete{% endblock %}

{% block content %}
    <div class="content-wrapper">

        <section class="signup-step__header container vertical-align-parent">
            <div class="vertical-align-child">
                <h1>Please confirm your email</h1>
                <div class="signup-step__header__info">Watch for an email with a confirmation link.  Please click the link to complete your registration.  If you do not receive the email please check your SPAM folder first.  Otherwise, contact us at <a href="mailto:smallslive@gmail.com">smallslive@gmail.com</a></div>
            </div>
        </section>

        {% if active_plan.type != "free" %}
          <section class="signup__what-next">
              <h1>What’s next?</h1>
              <p>You can now check out our amazing archive - now with more than 15000 recordings and over 2000 musicians in the archive and growing each week!</p>
              <a class="cto__button" href="{% url "archive" %}">Go to the Archive</a>
          </section>
        {% endif %}
    </div>
{% endblock content %}
