{% extends "smalls_base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Become a member{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="signup-plans">
            <div class="container">
                <!-- Free -->
                <div class="signup-plan">
                    <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                        <img src="{% static 'image/signup_svg/Smalls_SubPg_Basic_Icon.svg' %}" alt="Basic level"/>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-6">
                        <div class="signup-plan__content">
                            <div class="signup-plan__price__free"><b>Basic |</b> Free</div>
                            <div class="signup-plan__level">Live Streaming</div>
                            <div>
                              <ul class="signup-plan__features">
                                  <li class="signup-plan__features__single">Every performance at Smalls and Mezzrow is streamed live directly each night.</li>
                                  <li class="signup-plan__features__single">Register with a valid email address and access our live-video stream for no charge.</li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 button-wrapper">
                          <a class="signup-plan__button" href="{% url "accounts_signup" plan_name="free" %}">Join</a>
                    </div>
                </div>

                <!-- Supporter -->
                <div class="signup-plan">
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                      <img src="{% static 'image/signup_svg/Smalls_SubPg_Supporter_Icon.svg' %}" alt="Supporter level"/>
                  </div>
                  <div class="col-xs-12 col-sm-9 col-md-6">
                      <div class="signup-plan__content">
                          <div class="signup-plan__price__primary"><b>Supporter |</b> $10/month</div>
                          <div class="signup-plan__level">Archive Access</div>
                          <div>
                            <ul class="signup-plan__features">
                                <li class="signup-plan__features__single">Access our extensive Audio/Video archive of more than 11,000 performances dating back to 2007.</li>
                                <li class="signup-plan__features__single">Supporter Memberships directly support the artists and clubs through our <a href="{% url 'revenue-share' %}" class="signup-plan__features__revenue">SmallsLIVE Revenue Share Royalty System.</a></li>
                                <li class="signup-plan__features__single"> About 30 new shows are added to the archive weekly.</li>
                            </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 button-wrapper">
                        <a class="signup-plan__button" href="{% url "accounts_signup" plan_name="supporter" %}">Join</a>
                  </div>
                </div>

                <!-- Benefactor -->
                <div class="signup-plan">
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                      <img src="{% static 'image/signup_svg/Smalls_SubPg_Benefactor_Icon.svg' %}" alt="Benefactor level"/>
                  </div>
                  <div class="col-xs-12 col-sm-9 col-md-6">
                      <div class="signup-plan__content">
                          <div class="signup-plan__price__primary"><b>Benefactor</b></div>
                          <div>
                              <ul class="signup-plan__features">
                                  <li class="signup-plan__features__single">Benefactors are SmallsLIVE supporters who believe in the mission of SmallsLIVE and want to support us with a great contribution.</li>
                                  <li class="signup-plan__features__single">Benefactors receive all benefits of a Supporter Membership Plus:</li>
                                  <li class="signup-plan__features__single">A "Benefactor Card" for unlimited admission to both clubs throughout the year</li>
                                  <li class="signup-plan__features__single">A SmallsLIVE T-shirt</li>
                                  <li class="signup-plan__features__single">A SmallsLIVE USB drive with the complete SmallsLIVE Catalogue</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 button-wrapper">
                      <div class="signup-plan__button" id="toggler">Benefactor Levels <span class="caret"></span></div>
                      <div id="levels">
                        <a class="signup-plan__button drop" href="{% url "accounts_signup" plan_name="benefactor_1" %}">$1000 / year</a>
                        <a class="signup-plan__button drop" href="{% url "accounts_signup" plan_name="benefactor_2" %}">$2500 / year</a>
                        <a class="signup-plan__button drop" href="{% url "accounts_signup" plan_name="benefactor_3" %}">$5000 / year</a>
                      </div>
                  </div>
                </div>

                <!-- Institutional -->
                <div class="signup-plan">
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                      <img src="{% static 'image/signup_svg/Smalls_SubPg_Institutional_Icon.svg' %}" alt="Institutional level"/>
                  </div>
                  <div class="col-xs-12 col-sm-9 col-md-6">
                      <div class="signup-plan__content">
                          <div class="signup-plan__price__primary"><b>Institutional</b></div>
                          <div>
                              <ul class="signup-plan__features">
                                  <li class="signup-plan__features__single">SmallsLIVE offers special packages to universities and conservatories for their students. Offers are negotiable and packages can be custom tailored to suit the needs of the specific programs.</li>
                                  <li class="signup-plan__features__single">Large or small groups of students are welcome.</li>
                                  <li class="signup-plan__features__single">Typically, 3 to 4 month subscriptions are offered which can be renewed on a semester-by-semester basis.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 button-wrapper">
                        <a class="signup-plan__button" href="{% url "institutions" %}">More Info</a>
                  </div>
                </div>
            </div>
        </section>

        <section class="signup-membership container">
            <div class="signup-membership__points" id="signup-membership-points-carousel">
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="albums" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        The SmallsLIVE Archive is a library of every show (audio and video) performed at Smalls Jazz Club since September of 2007 and incorporates more than 9000 recordings and over 1000 musicians.   20 shows per week are added to the Archive on an average.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="sitemap" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        Subscriptions collected from members of SmallsLIVE are pooled and distributed directly to the musicians based on usage.  The more you listen to your favorite musicians or band, the larger the percentage of the revenue share they will receive.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="users-add" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        You can follow your favorite musicians directly, receive updates as to when they will perform and share this with your friends.  Certain shows will be available for download for your personal usage.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="heart" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        By becoming a subscribing member of SmallsLIVE you will have a direct impact on the club and the artists that create the music nightly.
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        /* Initialize featured points carousel for mobile */
        $(document).ready(function () {
            $('#signup-membership-points-carousel').slick({
                dots: true,
                arrows: false,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 8000,
                responsive: [
                    {
                        breakpoint: 6000,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });

        // Benefactor Dropdown
        var hidden = true;
        $( "#levels" ).hide();
        var toggler = document.getElementById("toggler");
        toggler.addEventListener("click", function() {
          if (hidden == true) {
            $( "#levels" ).show( "blind", {});
            hidden = false;
          }
          else {
            $( "#levels" ).hide( "blind", {});
            hidden = true;
          }
        });
    </script>
{% endblock %}
