{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load socialaccount %}

{% block title %}Become a member{% endblock %}

{% block content %}
    <div class="content-wrapper">

        <section class="signup-membership container">
            <div class="signup-membership__header vertical-align-parent">
                <div class="vertical-align-child">
                    <h1 class="signup-membership__header__title">Become a member of SmallsLIVE and access our live streamed shows nightly!</h1>
                    <p class="signup-membership__header__text">Become a subscribing member and gain unlimited access to our extensive audio/video archive of past shows. By becoming a subscribing member you are directly supporting the musicians and the SmallsLIVE Revenue Share Project.</p>
                </div>
            </div>
            <div class="signup-membership__points" id="signup-membership-points-carousel">
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="albums" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        The SmallsLIVE Archive is a library of every show (audio and video) performed at Smalls Jazz Club since September of 2007 and incorporates more than 9000 recordings and over 1000 musicians.   20 shows per week are added to the Archive on an average.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="sitemap" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        Subscriptions collected from members of SmallsLIVE are pooled and distributed directly to the musicians based on usage.  The more you listen to your favorite musicians or band, the larger the percentage of the revenue share they will receive.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="users-add" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        You can follow your favorite musicians directly, receive updates as to when they will perform and share this with your friends.  Certain shows will be available for download for your personal usage.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 signup-membership__points__single">
                    <i class="signup-membership__points__graphic livicon" data-name="heart" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                    <div class="signup-membership__points__text">
                        By becoming a subscribing member of SmallsLIVE you will have a direct impact on the club and the artists that create the music nightly.
                    </div>
                </div>
            </div>
        </section>

        <section class="signup-plans">
            <div class="container">
                <div class="col-xs-12 col-sm-4 signup-plan">
                    <div class="signup-plan__content">
                        <p class="signup-plan__name">Live Video Stream Access</p>
                        <div class="signup-plan__price__container" id="signup-plan-price-slave">
                            <div class="signup-plan__price__free">
                                Free
                            </div>
                        </div>
                        <div class="signup-plan__arrow-separator"></div>
                        <ul class="signup-plan__features">
                            <li class="signup-plan__features__single">Register with a valid email address to access our <b>Live-Video Stream</b>.</li>
                            <li class="signup-plan__features__single">All of our shows are <b>broadcast live each evening</b> from Smalls Jazz Club.</li>
                            <li class="signup-plan__features__single">Most live shows will be available in our Audio/Video Archive <b>within a week</b>.</li>
                            <li class="signup-plan__features__single">There is <b>no cost to register</b> for our Live-Video Stream.</li>
                        </ul>
                        <a class="signup-plan__button" href="{% url "accounts_signup" plan_name="free" %}">Sign up</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 signup-plan">
                    <div class="signup-plan__content">
                        <p class="signup-plan__name">Audio/Video Archive & Live Video Stream Access</p>
                        <div class="signup-plan__price__container" id="signup-plan-price-master">
                            <div class="signup-plan__price__primary">
                                <span class="signup-plan__price__primary__currency">$</span>
                                <span class="signup-plan__price__primary__amount">10</span>
                                <span class="signup-plan__price__primary__period">/ MO</span>
                            </div>
                            <div class="signup-plan__price__promo">
                                Or get 2 months for free
                            </div>
                            <div class="signup-plan__price__secondary">
                                <span class="signup-plan__price__secondary__currency">$</span>
                                <span class="signup-plan__price__secondary__amount">100</span>
                                <span class="signup-plan__price__secondary__period">/ year</span>
                            </div>
                        </div>
                        <div class="signup-plan__arrow-separator"></div>
                        <ul class="signup-plan__features">
                            <li class="signup-plan__features__single"><b>Unlimited access</b> to our Audio/Video Archive and Live Video Stream.</li>
                            <li class="signup-plan__features__single">New content is <b>added weekly</b>.</li>
                            <li class="signup-plan__features__single">Revenue from this subscription is <b>pooled and directly distributed to the artists</b> via the SmallsLIVE Artist Revenue Share Project.</li>
                        </ul>
                        <a class="signup-plan__button" href="{% url "accounts_signup" plan_name="basic" %}">Sign up</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 signup-plan">
                    <div class="signup-plan__content">
                        <p class="signup-plan__name">Benefactor Member</p>
                        <div class="signup-plan__price__container">
                            <div class="signup-plan__price__primary">
                                <span class="signup-plan__price__primary__currency">$</span>
                                <span class="signup-plan__price__primary__amount">100</span>
                                <span class="signup-plan__price__primary__period">/ MO</span>
                            </div>
                            <div class="signup-plan__price__promo">
                                Or get 2 months for free
                            </div>
                            <div class="signup-plan__price__secondary">
                                <span class="signup-plan__price__secondary__currency">$</span>
                                <span class="signup-plan__price__secondary__amount">1000</span>
                                <span class="signup-plan__price__secondary__period">/ year</span>
                            </div>
                        </div>
                        <div class="signup-plan__arrow-separator"></div>
                        <ul class="signup-plan__features">
                            <li class="signup-plan__features__single"><b>Unlimited access</b> to our Audio/Video Archive and Live Video Stream.</li>
                            <li class="signup-plan__features__single">Benefactor Members are <b>members who wish to support</b> SmallsLIVE and the Artists that perform there in a greater way.</li>
                            <li class="signup-plan__features__single">Revenue from this subscription is <b>pooled and directly disturbed to the artists</b> via the SmallsLIVE Artist Revenue Share Project.</li>
                            <li class="signup-plan__features__single">Your subscription <b>directly supports the artists and the venue</b>.</li>
                            <li class="signup-plan__features__single">Benefactor Members are offered merchandise, club passes and exclusive content. <a href="#">Click here</a> for more information.</li>
                        </ul>
                        <a class="signup-plan__button" href="{% url "accounts_signup" plan_name="premium" %}">Sign up</a>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        /* Initialize featured points carousel for mobile */
        $(document).ready(function () {
            $('#signup-membership-points-carousel').slick({
                dots: true,
                arrows: false,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 8000,
                responsive: [
                    {
                        breakpoint: 6000,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
