{% extends "smalls_base.html" %}
{% load djstripe_tags %}
{% load static from staticfiles %}
{% load socialaccount %}

{% block extra_head %}
    {% providers_media_js %}
{% endblock %}

{% block title %}Subscription settings{% endblock %}

{% block content %}
    <div class="content-wrapper">

        <section class="subscription-settings__header">
            <h1>Your current subscription setting</h1>
        </section>

        <section class="subscription-settings signup-plans">
            <div class="container">
                <!-- Free -->
                <div class="signup-plan {% if user.get_subscription_plan.type == "free" %}plan-active{% endif %}">
                    {% if user.get_subscription_plan.type == "free" %}
                    <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm" id="selected-image">
                        <img src="{% static 'image/signup_svg/Smalls_SubPg_Bsic_Red.svg' %}" alt="Basic level" />
                    </div>
                    {% else %}
                    <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                        <img src="{% static 'image/signup_svg/Smalls_SubPg_Basic_Icon.svg' %}" alt="Basic level" />
                    </div>
                    {% endif %}
                    <div class="col-xs-12 col-sm-9 col-md-6">
                        <div class="signup-plan__content">
                            <div class="signup-plan__price__free"><b>Basic |</b> Free</div>
                            <div class="signup-plan__level">Live Streaming</div>
                            <div>
                              <ul class="signup-plan__features">
                                <li class="signup-plan__features__single">Every performance at Smalls and Mezzrow is streamed live directly each night.</li>
                                <li class="signup-plan__features__single">Register with a valid email address and access our live-video stream for no charge.</li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 button-wrapper">
                          {% with active_plan=user.get_subscription_plan.type %}
                          {% if active_plan == "free" %}
                            <a class="signup-plan__button" href="#">Free plan never expires{% if user.get_subscription_plan.type == "free" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% else %}
                            <a class="signup-plan__button disabled" href="#">Can’t downgrade *</a>
                          {% endif %}
                          {% endwith %}
                    </div>
                </div>

                <!-- Supporter -->
                <div class="signup-plan {% if user.get_subscription_plan.type == "supporter" or user.get_subscription_plan.type == "basic" %}plan-active{% endif %}">
                  {% if user.get_subscription_plan.type == "supporter" or user.get_subscription_plan.type == "basic" %}
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm" id="selected-image">
                        <img src="{% static 'image/signup_svg/Smalls_SubPg_Spprtr_Red.svg' %}" alt="Supporter level" />
                  </div>
                  {% else %}
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                        <img src="{% static 'image/signup_svg/Smalls_SubPg_Supporter_Icon.svg' %}" alt="Supporter level" />
                  </div>
                  {% endif %}
                  <div class="col-xs-12 col-sm-9 col-md-6">
                      <div class="signup-plan__content">
                          <div class="signup-plan__price__primary"><b>Supporter |</b> $10/month</div>
                          <div class="signup-plan__level">Archive Access</div>
                          <div>
                            <ul class="signup-plan__features">
                                <li class="signup-plan__features__single">Access our extensive Audio/Video archive of more than 11,000 performances dating back to 2007.</li>
                                <li class="signup-plan__features__single">Supporter Memberships directly support the artists and clubs through our <a href="{% url 'revenue-share' %}" class="signup-plan__features__revenue">SmallsLIVE Revenue Share Royalty System.</a></li>
                                <li class="signup-plan__features__single"> About 30 new shows are added to the archive weekly.</li>
                            </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 button-wrapper">
                      {% with active_plan=user.get_subscription_plan.type %}
                        {% if active_plan == "supporter" or active_plan == "basic" %}
                          {% if user.customer.current_subscription.cancel_at_period_end %}
                              <p class="signup-plan__button">Plan expires on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "supporter" or user.get_subscription_plan.type == "basic" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</p>
                          {% else %}
                              <p class="signup-plan__button">Plan will renew on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "supporter" or user.get_subscription_plan.type == "basic" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</p>
                          {% endif %}
                        {% elif "benefactor" in user.get_subscription_plan.type %}
                          <a class="signup-plan__button disabled" href="#">Can’t downgrade *</a>
                        {% elif active_plan == "free" %}
                          <a class="signup-plan__button" href="{% url "accounts_signup" plan_name="supporter" %}">Join</a>
                        {% endif %}
                      {% endwith %}
                  </div>
                </div>

                <!-- Benefactor -->
                <div class="signup-plan {% if user.get_subscription_plan.type == "premium" or "benefactor" in user.get_subscription_plan.type %}plan-active{% endif %}">
                  {% if user.get_subscription_plan.type == "premium" or "benefactor" in user.get_subscription_plan.type %}
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm" id="selected-image">
                      <img src="{% static 'image/signup_svg/Smalls_SubPg_Bnfctr_Rd.svg' %}" alt="Benefactor level" />
                  </div>
                  {% else %}
                  <div class="signup-plan__picture col-md-3 hidden-xs hidden-sm">
                      <img src="{% static 'image/signup_svg/Smalls_SubPg_Benefactor_Icon.svg' %}" alt="Benefactor level" />
                  </div>
                  {% endif %}
                  <div class="col-xs-12 col-sm-9 col-md-6">
                      <div class="signup-plan__content">
                          <div class="signup-plan__price__primary"><b>Benefactor</b></div>
                          <div>
                              <ul class="signup-plan__features">
                                  <li class="signup-plan__features__single">Benefactors are SmallsLIVE supporters who believe in the mission of SmallsLIVE and want to support us with a great contribution.</li>
                                  <li class="signup-plan__features__single">Benefactors receive all benefits of a Supporter Membership Plus:</li>
                                  <li class="signup-plan__features__single">A "Benefactor Card" for unlimited admission to both clubs throughout the year</li>
                                  <li class="signup-plan__features__single">A SmallsLIVE T-shirt</li>
                                  <li class="signup-plan__features__single">A SmallsLIVE USB drive with the complete SmallsLIVE Catalogue</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 button-wrapper">
                      <div class="signup-plan__button {% if user.get_subscription_plan.type == "premium" %}selected{% endif %} {% if "benefactor" in user.get_subscription_plan.type %}disabled{% endif %}" id="toggler">Benefactor Levels <span class="caret"></span>{% if user.get_subscription_plan.type == "premium" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</div>
                      <div id="levels">
                      {% with active_plan=user.get_subscription_plan.type %}
                        {% if active_plan == "benefactor_2" or active_plan == "benefactor_3" %}
                          <a class="signup-plan__button drop disabled" href="#">Can’t downgrade *</a>
                        {% elif active_plan == "benefactor_1" %}
                          {% if user.customer.current_subscription.cancel_at_period_end %}
                              <a class="signup-plan__button drop" href="#">Plan expires on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "benefactor_1" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% else %}
                              <a class="signup-plan__button drop" href="#">Plan will renew on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "benefactor_1" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% endif %}
                        {% else %}
                          <a class="signup-plan__button drop" href="{% url "accounts_signup" plan_name="benefactor_1" %}">$1000 / year{% if user.get_subscription_plan.type == "benefactor_1" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                        {% endif %}
                        {% if active_plan == "benefactor_3" %}
                          <a class="signup-plan__button drop disabled" href="#">Can’t downgrade *</a>
                        {% elif active_plan == "benefactor_2" %}
                          {% if user.customer.current_subscription.cancel_at_period_end %}
                              <a class="signup-plan__button drop" href="#">Plan expires on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "benefactor_2" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% else %}
                              <a class="signup-plan__button drop" href="#">Plan will renew on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "benefactor_2" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% endif %}
                        {% else %}
                          <a class="signup-plan__button drop" href="{% url "accounts_signup" plan_name="benefactor_2" %}">$2500 / year{% if user.get_subscription_plan.type == "benefactor_2" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                        {% endif %}
                        {% if active_plan == "benefactor_3" %}
                          {% if user.customer.current_subscription.cancel_at_period_end %}
                              <a class="signup-plan__button drop" href="#">Plan expires on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "benefactor_3" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% else %}
                              <a class="signup-plan__button drop" href="#">Plan will renew on {{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}{% if user.get_subscription_plan.type == "benefactor_3" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                          {% endif %}
                        {% else %}
                          <a class="signup-plan__button drop" href="{% url "accounts_signup" plan_name="benefactor_3" %}">$5000 / year{% if user.get_subscription_plan.type == "benefactor_3" %}<span><img id="selected" src="{% static 'image/signup_svg/Smalls_SubPg_Red_Circle_Arrow.svg' %}" alt="selected plan" /></span>{% endif %}</a>
                        {% endif %}
                      {% endwith %}
                      </div>
                  </div>
                </div>
            </div>
            {% if user.get_subscription_plan.type != "free" %}
              <p class="signup-plans__downgrade-notice">* your account gets downgraded to a Free Plan automatically upon not extending your subscription in time.</p>
            {% endif %}
        </section>

      {% if user.has_active_subscription %}
        <section class="subscription-settings subscription-settings__auto-renewal container">
          <h3 class="subscription-settings__heading">Auto renewal</h3>
          <div class="row">
            {% if user.customer.current_subscription.cancel_at_period_end %}
              <div class="col-xs-12 col-sm-9 subscription-settings__auto-renewal__text">
                Auto renewal is disabled on your Subscription. When the current subscription ends on
                <b>{{ user.get_current_subscription.current_period_end|date:"n/j/Y" }}</b>, you'll be downgraded to the
                <b>Free</b> plan and will have to subscribe once again manually.
              </div>
                <div class="col-xs-12 col-sm-3">
                    <form action="{% url 'reactivate_subscription' %}" method="post" id="cancel-form">
                        {% csrf_token %}
                        <button class="setting-toggle-button">Enable Auto renewal</button>
                    </form>
                </div>
            {% else %}
              <div class="col-xs-12 col-sm-9 subscription-settings__auto-renewal__text">
                Auto renewal is activated on your Subscription, so your credit card will be charged again for the next
                {{ user.get_subscription_plan.interval }} on <b>{{ user.get_current_subscription.current_period_end|date:"n/j/Y" }} for
                ${{ user.get_subscription_plan.price|djdiv:100|floatformat:"2" }}</b> to renew your selected plan.
              </div>
              <div class="col-xs-12 col-sm-3">
              <form action="{% url 'cancel_subscription' %}" method="post" id="cancel-form">
                {% csrf_token %}
                <button class="setting-toggle-button">Disable Auto renewal</button>
              </form>
              </div>
            {% endif %}
          </div>
        </section>
      {% endif %}

      <section class="subscription-settings signup__payment">
        <h3 tabindex="0" class="signup__payment__heading">Billing information:</h3>
        {% if user.customer.can_charge %}
          <div class="row">
              <p class="signup__payment__existing-card">You have a saved {{ user.customer.card_kind }} credit card ending
                with {{ user.customer.card_last_4 }}.
                <a href="" id="payment-form-toggle">Click here</a> to change your active credit card.</p>
          </div>
        {% endif %}
        <div class="signup__payment__information row" {% if user.customer.card_last_4 %}style="display:none"{% endif %}>
          <div class="col-xs-12 col-sm-6">
            <p class="signup__payment__text">We accept the following credit cards:</p>
                    <div class="signup__payment__card-icons">
                        <img src="{% static 'image/payment/visa.png' %}" alt="Visa">
                        <img src="{% static 'image/payment/mastercard.png' %}" alt="MasterCard">
                        <img src="{% static 'image/payment/amex.png' %}" alt="American Express">
                        <img src="{% static 'image/payment/diners.png' %}" alt="Diners">
                    </div>
            <form class="payment-form" id="payment-form" method="post" action="{% url "update_card" %}">
              {% csrf_token %}
              <div class="signup__payment__card__info">
                <label for="card-number">Credit card number</label>
                <input type="text" class="form-control" name="card-number" id="card-number"
                       placeholder="XXXX XXXX XXXX XXXX"
                       size="20" pattern="[\d ]*" autocomplete="off" data-stripe="number">
                <label for="expiry" id="expiry-label">Valid thru:</label>
                <label for="cvc" id="cvc-label">CVC</label>
                <input type="text" class="form-control quarter-group" name="expiry-month" id="expiry-month"
                       placeholder="MM"
                       size="2" pattern="\d*" autocomplete="off" data-stripe="exp-month">
                <input type="text" class="form-control quarter-group" name="expiry-year" id="expiry-year"
                       placeholder="YY"
                       size="2" pattern="\d*" autocomplete="off" data-stripe="exp-year">
                <input type="text" class="form-control half" name="cvc" id="cvc" placeholder="xxx" size="4"
                       pattern="\d*"
                       autocomplete="off" data-stripe="cvc">
                <label for="name">Name on card</label>
                <input type="text" class="form-control" name="name" placeholder="Name on card">
                <div class="payment-errors"></div>
                <input type="submit" class="submit-button" value="Save Changes">
                <button class="submit-button light-button" id="card-update-cancel">Cancel</button>
              </div>
            </form>

          </div>
          <div class="col-xs-12 col-sm-6 signup__payment__card__image">
            <div class="card-wrapper"></div>
          </div>
        </div>

      </section>
    {% if user.has_active_subscription %}
      <div id="payment-history">
        {% include "account/blocks/payment_history.html" %}
      </div>
    {% endif %}

    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/card.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        var card = new Card({
            // a selector or DOM element for the form where users will
            // be entering their information
            form: '.payment-form', // *required*
            // a selector or DOM element for the container
            // where you want the card to appear
            container: '.card-wrapper', // *required*

            formSelectors: {
                numberInput: 'input[name="card-number"]', // optional — default input[name="number"]
                expiryInput: 'input[name="expiry-month"], input[name="expiry-year"]', // optional — default input[name="expiry"]
                cvcInput: 'input[name="cvc"]', // optional — default input[name="cvc"]
                nameInput: 'input[name="name"]' // optional - defaults input[name="name"]
            },

            width: 350, // optional — default 350px
            formatting: true, // optional - default true


            // Default values for rendered fields - optional
            values: {
                number: 'XXXX XXXX XXXX XXXX',
                name: 'Name',
                expiry: '••/••',
                cvc: '•••'
            },

            // if true, will log helpful messages for setting up Card
            debug: false // optional - default false
        });
    </script>
    <script>
      $(function() {
          $.post("{% url 'sync_payment_history' %}", function(data) {
              $('#payment-history').html(data);
              $('.in-progress-gif').hide();
          });
      });
    $(document).ready(function() {
      $("#payment-form-toggle, #card-update-cancel").on('click', function(e) {
        e.preventDefault();
        $(".signup__payment__information").slideToggle("fast");
        $(".signup__payment__existing-card").slideToggle("fast");
        return false;
      })
    })
  </script>
      <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');
      jQuery(function ($) {
        $('#payment-form').submit(function (event) {
          var $form = $(this);

          // Disable the submit button to prevent repeated clicks
          $form.find('.submit-button').prop('disabled', true).addClass('disabled');

          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from submitting with the default action
          return false;
        });

        var stripeResponseHandler = function (status, response) {
          var $form = $('#payment-form');

          if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('.submit-button').prop('disabled', false).removeClass('disabled');
          } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripe_token" />').val(token));
            // and submit
            $form.get(0).submit();
          }
        };
      });

      // Benefactor Dropdown
      {% if user.get_subscription_plan.type == "free" or user.get_subscription_plan.type == "supporter" or user.get_subscription_plan.type == "basic" %}
        var hidden = true;
        $( "#levels" ).hide();
      {% else %}
        var hidden = false;
        $( "#levels" ).show( "blind", {});
      {% endif %}
      var toggler = document.getElementById("toggler");
      toggler.addEventListener("click", function() {
        if (hidden == true) {
          $( "#levels" ).show( "blind", {});
          hidden = false;
        }
        else {
          $( "#levels" ).hide( "blind", {});
          hidden = true;
        }
      });
    </script>
{% endblock %}
