{% extends 'account/supporter_base.html' %}
{% block home_content %}
  {% if flow_type == "become_supporter" or flow_type = "one_time_donation" or flow_type = "update_pledge" %}
    {% include 'account/become-supporter.html' %}
  {% elif flow_type == 'donate'%}
    {% include 'account/donate.html' %}
  {% elif flow_type == 'product_support'%}
    {% include 'account/product-support.html' %}
  {% elif flow_type == 'event_support'%}
    {% include 'account/event-support.html' %}
  {% endif %}
{% endblock home_content %}

{% block extra_js %}
  {{ block.super }}
  <script>
    {% if flow_type == 'event_support'%}
      $(document).ready(function () {
        setSelected("event_support", "one-time", 0, "SelectType");
        checkConfirmButton();
      });
    {% endif %}
    {% if flow_type == 'product_support'%}

      $(document).ready(function () {
        setSelected("catalog", "one-time", 0, "SelectType");
        checkConfirmButton();
      });

    {% endif %}
    {% if flow_type == 'one_time_donation'%}

      $(document).ready(function () {
        setSelected("one_time_donation", "one-time", 0, "Intro");
        checkConfirmButton();
      });

    {% else %}
      setSelected("become_supporter", "", 0, "Intro");
      checkConfirmButton();
    {% endif %}
  </script>
{% endblock %}


