{% extends "base.html" %}
{% load account crispy_forms_tags socialaccount %}
{% block nav %}{% endblock nav %}
{% block title %}Upgrade to a Premium Access{% endblock %}
{% block}
{% block content %} 
  <div class="row">
    <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    
      <div class="page-header">
        <h1>Upgrade to a Premium Subscription</h1>
      </div> 
      <div class="marketing-reasons">
        <p>Your free trial of SmallsLIVE premium archive access is about to expire! If you want to continue receiving uninterrupted access to the archive of 1000s of video and audio recordings, and support the musicians who perform at Smalls Jazz Club, please consider signing up for a Premium Subscription today.</p>

        <p>All you need to do is provide a credit card or payment via PayPal, and we'll make sure you can continue enjoying live jazz from Smalls.</p>
        <ul>
          <li>You will be billed on 1st day of each month covering your fees for the following month.</li>
          <li>Cancel anytime and we'll pro-rate and refund any unused portion of your current month</li>
        </ul>
      </div>
      <form id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <!-- {{ form|crispy }} -->
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}     
        {% include 'blocks/credit-card-fields.html' %}
        {% include 'blocks/user-signup-TOC-checkbox.html' %} 
        <div class="form-group primary-submit"> 
          <button type="submit" class="btn btn-primary">Sign Up Now <code>2</code></button>      
        </div>          
      </form>  
    </div> 
  </div>
  <div class="dev">
  <h1>Alternate Views:</h1>
    <ul>
      <li> </li> 
    </ul>
  <h1>UI Reqs</h1>
      <li> </li>
    </ul>
  </div>
{% endblock %}

