{% extends "smalls_base.html" %}
{% load static from staticfiles %}

{% block title %}User settings{% endblock %}

{% block content %}
<div class="content-wrapper">

  <section class="user-settings container">

    <h1 class="sign-up__main-title">Account settings</h1>

    <div class="row">
            <div class="col-sm-6 col-xs-12 user-settings__form left">
                <form role="form" id="change-email-form" method="post" action="{% url "user_settings_new" %}">
                    {% csrf_token %}
                    <h2 class="user-settings__form__heading">Email address:</h2>
                    <p class="user-settings__form__text">Please note that you'll need to confirm your ownership of the new email address once you set it. To do that just follow the confirmation link we'll send to that address.</p>
                    <div class="form-group {% if change_email_form.email.errors  %}has-error{% endif %}">
                        {{ change_email_form.email.label_tag }}
                        {{ change_email_form.email }}
                        {% for error in change_email_form.email.errors %}
                            <p class="form-error-text">{{ error  }}</p>
                        {% endfor %}
                    </div>
                    <input type="submit" class="user-settings__form__button disabled" name="change_email" value="Save">
                </form>

                <hr>
                <h2 class="user-settings__form__heading">Resend verification email:</h2>
                <form action="/accounts/email/" method="post">
                  {% csrf_token %}
                  <div class="ctrlHolder">
                        <input id="email_radio_1" type="hidden" name="email" value="{{ current_user.email }}" >
                  </div>
                  <input type="submit" class="user-settings__form__button disabled" name="action_send" value="Re-send Verification">
                </form>

                <hr>

                <form role="form" id="change-password-form" method="post" action="{% url "user_settings" %}">
                    {% csrf_token %}
                    <h2 class="user-settings__form__heading">Change password:</h2>
                    <p class="user-settings__form__text">To change your password please input your current password and your new password twice.</p>
                    <div class="form-group {% if change_password_form.oldpassword.errors  %}has-error{% endif %}">
                        <label for="oldpassword">Current password</label>
                        <input type="password" class="form-control" name="oldpassword" id="oldpassword">
                        {% for error in change_password_form.oldpassword.errors %}
                            <p class="form-error-text">{{ error  }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if change_password_form.password1.errors  %}has-error{% endif %}">
                        <label for="password1">New password</label>
                        <input type="password" class="form-control" name="password1" id="password1">
                        {% for error in change_password_form.password1.errors %}
                            <p class="form-error-text">{{ error  }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if change_password_form.password1.errors  %}has-error{% endif %}">
                        <label for="password2">New password again</label>
                        <input type="password" class="form-control" name="password2" id="password2">
                        {% for error in change_password_form.password2.errors %}
                            <p class="form-error-text">{{ error  }}</p>
                        {% endfor %}
                    </div>
                    <input type="submit" class="user-settings__form__button disabled" name="change_password" disabled value="Change password">
                </form>

            </div>

            <div class="col-sm-6 col-xs-12 user-settings__form right">
                <form role="form" id="edit-profile-form" method="post" action="{% url "user_settings" %}">
                    <h2 class="user-settings__form__heading">Personal information:</h2>
                    {% csrf_token %}
                    <div class="form-group {% if change_profile_form.first_name.errors  %}has-error{% endif %}">
                        {{ change_profile_form.first_name.label_tag }}
                        {{ change_profile_form.first_name }}
                        {% for error in change_profile_form.first_name.errors %}
                            <p class="form-error-text">{{ error  }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group {% if change_profile_form.last_name.errors  %}has-error{% endif %}">
                        {{ change_profile_form.last_name.label_tag }}
                        {{ change_profile_form.last_name }}
                        {% for error in change_profile_form.last_name.errors %}
                            <p class="form-error-text">{{ error  }}</p>
                        {% endfor %}
                    </div>
                    {% comment %}<label for="location">Location</label>
                    <input type="text" class="form-control" name="location" value="New York, NY">{% endcomment %}

                    <h2 class="user-settings__form__heading">Notification settings:</h2>
                    <div class="row">
                        <div>
                            {{ change_profile_form.newsletter }}
                        </div>
                        <div class="col-xs-10">
                            <label for="id_newsletter" class="checkbox-label">I wish to receive news and updates on SmallsLIVE and Mezzrow
        via email.</label>
                        </div>
                    </div>
                    <input type="submit" class="user-settings__form__button disabled" disabled name="edit_profile" value="Save">
                </form>

            </div>


    </div>

  </section>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/user-settings.js' %}"></script>
{% endblock %}
