{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home{% endblock %}

{% block extra_head %}
	<meta name="description"
				content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
{% endblock %}

{% block header %}
{% include 'partials/header.html' %}
{% endblock %}

{% block content %}
{% include 'inactive_dialog.html' %}
{% include 'become_a_supporter_dialog.html' %}




<div class="account-settings-container-new flex-row">
	<div class="account-settings-menu">
			<div data-id="user-account" class="text1">Account info</div>
			<div data-id="user-payout" class="text1">Payout info</div>
			<div data-id="user-donation-settings" class="text1">Donation settings</div>
			<div data-id="user-donation-history" class="text1">Donation history</div>
			<div data-id="user-billing" class="text1">Billing</div>
		</div>
		<div class="flex-column">
			<div id="user-account" class="account-settings-view">
				<div class="title5 account-settings-title text-bottom-line">Account info</div>
				<div class="account-settings-info">
					<div class="text5">Name</div>
					<div class="text9 text-grey">{{user.first_name}} {{user.last_name}}</div>
				</div>
				<div class="account-settings-info">
					<div class="text5">Email</div>
					<div class="text9 text-grey">{{user.email}}</div>
				</div>
				<div class="account-settings-info">
					<div class="text5">Password</div>
					<div class="text9 text-grey"></div>
				</div>
				<button class="white-border-button">Edit info</button>		
			</div>
			<div id="user-payout" class="account-settings-view">
				<div class="title5 account-settings-title text-bottom-line">Payout info</div>
				<div class="account-settings-info">
					<div class="text5">Mailing address</div>
					{% if user.address_1 or user.address_2 or user.city %}
						<div class="text9 text-grey">{{ user.address_1 }}</div>
						<div class="text9 text-grey">{{ user.address_2 }}</div>
						<div class="text9 text-grey">{{user.city }}</div>
					{% else %}
						<div class="text9 text-grey">There is no address assigned</div>
					{% endif %}
				</div>
				<button class="white-border-button">Edit info</button>	
				<div id="payout-form" style="display: none;">
						{% include 'artist_dashboard/artist-payout-form.html' %}
				</div>
			</div>
			<div id="user-donation-settings" class="account-settings-view">
				<div class="title5 account-settings-title text-bottom-line">Donation settings</div>
				<div class="account-settings-info">
					<div class="text5">Current Subscription</div>
					<div class="text9 accent-color"></div>
				</div>
				<div class="account-settings-info flex-row">
					<button class="white-border-button">Cancel monthly</button>		
					<button class="white-border-button">Update pledge</button>		
				</div>
				<div class="account-settings-info">
					<div class="text5">Last invoice</div>
					<div class="text9 text-grey"></div>	
				</div>
				<div class="account-settings-info ">
					<div class="text5">Expiration of archive access</div>
					<div class="text9 text-grey"></div>
				</div>
			</div>
			<div id="user-donation-history" class="account-settings-view">
				<div class="title5 account-settings-title text-bottom-line">Donation history</div>
					<div class="account-settings-info">
						<div class="text5">Total donations this year</div>
						<div class="text9 text-grey"></div>
					</div>
					<div class="account-settings-info">
						{% comment %} Use for, show 4 and create a view more TBD {% endcomment %}
					</div>
					<button class="white-border-button">Download tax document</button>		
			</div>
			<div id="user-billing" class="account-settings-view">
				<div class="title5 account-settings-title">Billing</div>
					<div class="account-settings-info">
						<div class="text5">Credit card</div>
						<div class="text9 text-grey"></div>
						<div class="text9 text-grey"></div>
					</div>
					<div class="account-settings-info">
						<div class="text5">Billing address</div>
						{% if user.address_1 or user.address_2 or user.city %}
							<div class="text9 text-grey">{{ user.address_1 }}</div>
							<div class="text9 text-grey">{{ user.address_2 }}</div>
							<div class="text9 text-grey">{{user.city }}</div>
						{% else %}
							<div class="text9 text-grey">There is no address assigned</div>
						{% endif %}
					
					<button class="white-border-button">Update</button>	
				</div>
			</div>
		</div>
</div>
{% endblock%}

{% block footer %}
{% endblock %}

{% block extra_js %}
	
{% endblock extra_js %}
