{% extends 'home_new.html' %}

{% block title %}Verify your e-mail address{% endblock %}
{% block head_title %}Verify your e-mail address{% endblock %}


{% block content %}
  <div class="flex-column items-center">
    <h1 class="title2 accent-color"> Verify your e-mail address </h1>
    <p class="text4">We have sent an email to you for verification. Follow the link provided to finalize the signup process.</p>
    <p class="text4">Please contact us if you do not receive it within a few minutes.</p>
  </div>
{% endblock %}
