{% extends "oscar/dashboard/catalogue/product_update.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}" />
{% endblock %}

{% block tabs %}
    {% if product %}
        <li class="active"><a href="#overview" data-toggle="tab">{% trans 'Overview' %}</a></li>
    {% endif %}
    <li><a href="#product_details" data-toggle="tab">{% trans 'Product details' %}</a></li>
    {% if not parent %}
        <li><a href="#product_category" data-toggle="tab">{% trans 'Categories' %} </a></li>
    {% endif %}
    {% if product_class.has_attributes %}
        <li><a href="#product_attributes" data-toggle="tab">{% trans 'Attributes' %}</a></li>
    {% endif %}
    {% if not parent %}
        <li><a href="#product_images" data-toggle="tab">{% trans 'Images' %}</a></li>
    {% endif %}
    {% if not product.is_parent %}
        <li><a href="#product_stock" data-toggle="tab">{% trans 'Stock and pricing' %}</a></li>
    {% endif %}
    {% if user.is_staff and not parent %}
        <li><a href="#child_products" data-toggle="tab">{% trans 'Variants' %}</a></li>
    {% endif %}
    {% if not parent %}
        <li><a href="#product_recommended" data-toggle="tab">{% trans 'Upselling' %}</a></li>
    {% endif %}

    {% if track_formset %}
        <li><a href="#tracks" data-toggle="tab">{% trans 'Tracks' %}</a></li>
    {% endif %}
    {% if product_class.name = "Album" or product_class.name = "Track" %}
        <li><a href="#artist" data-toggle="tab">{% trans 'Artist List' %}</a></li>
    {% endif %}
{% endblock %}

{% block product_details %}
    {% if product %}
        <div class="tab-pane active" id="overview">
            <div class="table-header">
                <h3>{% trans "Overview" %}</h3>
            </div>
            {% block product_overview_content %}
            <div class="well">
                <h3>{{ product.get_title }}</h3>
                <hr />
                <div class="row-fluid">
                    {% block product_overview_content_image %}
                    <div class="span4">
                        {% if product.primary_image.original.url %}
                            {% with image=product.primary_image %}
                                    <a href="{{ image.original.url }}" rel="lightbox_{{ product.upc|default:"-" }}" class="thumbnail">
                                        <img src="{{ thumb.url }}" class="row-fluid" alt="{{ product.get_title }}" data-description="{% if image.caption %}{{ image.caption }}{% endif %}">
                                    </a>
                            {% endwith %}
                        {% endif %}
                    </div>
                    {% endblock %}
                    {% block product_overview_content_stats %}
                    <div class="span8">
                        <p><strong>{% trans "Description" %}</strong><br /> {{ product.description|safe }}</p>

                            {% with stats=product.stats %}
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>{% trans "Views" %}</th>
                                            <td>{{ stats.num_views|default:0 }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Baskets" %}</th>
                                            <td>{{ stats.num_basket_additions|default:0 }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Purchases" %}</th>
                                            <td>{{ stats.num_purchases|default:0 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endwith %}
                        </div>
                    </div>
                    {% endblock %}
                </div>
                <div class="row-fluid">
                    {% block product_overview_content_categories %}
                    <div class="span6">
                        <div class="table-header">
                            <h3>{% trans "Categories" %}</h3>
                        </div>
                        <table class="table table-striped table-bordered">
                            {% for category in product.categories.all %}
                                <tr><td>{{ category.full_name }}</td></tr>
                            {% empty %}
                                <tr><td>{% trans "No categories setup for this product" %}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endblock %}
                    {% block product_overview_content_ranges %}
                    <div class="span6">
                        <div class="table-header">
                            <h3>{% trans "Ranges" %}</h3>
                        </div>
                        <table class="table table-striped table-bordered">
                            {% for range in product.includes.all %}
                                <tr><td><a href="{% url 'dashboard:range-update' pk=range.id %}" alt="{{ range.name }}">{{ range.name }}</a></td></tr>
                            {% empty %}
                                <tr><td>{% trans "No ranges currently include this product for this product" %}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endblock %}
                </div>
            {% endblock product_overview_content %}
        </div>
    {% endif %}
    <div class="tab-pane" id="artist">
        {% block artist_content %}
            <table class="table table-striped table-bordered form-inline">
                <caption>{% trans "Artist" %}</caption>
                {{ artist_formset.management_form }}
                {{ artist_formset.non_form_errors }}
                {% for artist_form in artist_formset %}
                    <tr>
                        <td>
                            {% include "partials/form_fields_inline.html" with form=artist_form %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock artist_content %}
    </div>

    {{ block.super }}
{% endblock %}
{% block child_products %}
    {% with children=product.children.all %}
        <div class="tab-pane" id="child_products">
            {% block child_products_content %}
                <table class='table table-striped table-bordered'>
                    <caption>
                        {% trans "Variants" %}
                        {% if product_class.slug == "album" %}
                            <button class="btn btn-primary pull-right{% if not product.can_be_parent %} disabled{% endif %}" name="action" type="submit" value="create-physical-child">
                                <i class="icon-plus"></i>
                                {% trans "Add physical variant" %}
                            </button>
                            <button class="btn btn-primary pull-right{% if not product.can_be_parent %} disabled{% endif %}" name="action" type="submit" value="create-digital-child">
                                <i class="icon-plus"></i>
                                {% trans "Add digital variant" %}
                            </button>
                        {% else %}
                            <button class="btn btn-primary pull-right{% if not product.can_be_parent %} disabled{% endif %}" name="action" type="submit" value="create-child">
                                <i class="icon-plus"></i>
                                {% trans "Add variant" %}
                            </button>
                        {% endif %}

                    </caption>
                    {% if children %}
                        <tr>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Attributes" %}</th>
                            <th>{% trans "Stock records" %}</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for child in children %}
                            <tr>
                                <td>{{ child.get_title }}</td>
                                <td>{{ child.attribute_summary }}</td>
                                <td>{{ child.stockrecords.count }}</td>
                                <td>
                                    <a href="{% url 'dashboard:catalogue-product' pk=child.id %}" class="btn btn-primary">
                                        {% trans "Edit" %}
                                    </a>
                                    <a href="{% url 'dashboard:catalogue-product-delete' pk=child.id %}" class="btn btn-danger">
                                        {% trans "Delete" %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">
                                {% if product.can_be_parent %}
                                    {% trans 'This product does not have any variants.' %}
                                {% else %}
                                    {% trans "One can't add variants to this product at this point." %}
                                    {% if product.has_stockrecords %}
                                        {% trans 'This is likely because this product still has stock records.' %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            {% endblock child_products_content %}
        </div>
    {% endwith %}
    {% if track_formset %}
        <div class="tab-pane" id="tracks">
            <table class='table table-striped table-bordered'>
                <caption>Tracks</caption>
                {{ track_formset.management_form }}
                {{ track_formset.non_form_errors }}
                <thead>
                    <tr>
                        <th>{% trans "Track no." %}</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Composer" %}</th>
                        <th>{% trans "Duration" %}</th>
                        <th>{% trans "Track preview" %}</th>
                        <th>{% trans "Mp3 file" %}</th>
                        <th>{% trans "Price (excl tax)" %}</th>
                        <th>{% trans "HD file" %}</th>
                        <th>{% trans "HD Price (excl tax)" %}</th>
                        <th>X</th>
                    </tr>
                </thead>
                <tbody>
                {% for track_form in track_formset %}
                    {% if track_form.non_field_errors %}
                    <tr>
                        <td colspan="10">
                            {% for error in track_form.non_field_errors  %}
                                <span class="error-block errorlist"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{% include "partials/form_field.html" with field=track_form.track_no nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.title nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.composer nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.duration nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.track_preview_file nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.track_file nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.price_excl_tax nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.hd_track_file nolabel=True %}</td>
                        <td>{% include "partials/form_field.html" with field=track_form.hd_price_excl_tax nolabel=True %}</td>
                        <td>
                            {% include "partials/form_field.html" with field=track_form.id nolabel=True %}
                            {% include "partials/form_field.html" with field=track_form.DELETE nolabel=True %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}


{% block stockrecords_content %}
  <table class="table table-striped table-bordered">
    <caption>{% trans "Stock and pricing" %}</caption>
    {{ stockrecord_formset.management_form }}
    {{ stockrecord_formset.non_form_errors }}
    <thead>
    <tr>
      <th>{% trans "Partner" %}</th>
      <th>{% trans "SKU" %}</th>
      {% if product_class.track_stock %}
        <th>{% trans "Num in stock" %}</th>
        <th>{% trans "Num allocated" %}</th>
        <th>{% trans "Low stock threshold" %}</th>
      {% endif %}
      <th>{% trans "Currency" %}</th>
      <th>{% trans "Cost price" %}</th>
      <th>{% trans "Price (excl tax)" %}</th>
      <th>{% trans "Retail price" %}</th>
      {% if product_class.slug == "digital-album" %}
        <th>{% trans "Is HD?" %}</th>
      {% endif %}
      <th>{% trans "Delete?" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for stockrecord_form in stockrecord_formset %}
      {% if stockrecord_form.non_field_errors %}
        <tr>
          <td colspan="{% if product_class.track_stock %}10{% else %}7{% endif %}">
            {% for error in stockrecord_form.non_field_errors %}
              <span class="error-block errorlist"><i class="icon-exclamation-sign"></i> {{ error }}</span>
            {% endfor %}
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>{% include "partials/form_field.html" with field=stockrecord_form.partner nolabel=True %}</td>
        <td>{% include "partials/form_field.html" with field=stockrecord_form.partner_sku nolabel=True %}</td>
        {% if product_class.track_stock %}
          <td>{% include "partials/form_field.html" with field=stockrecord_form.num_in_stock nolabel=True %}</td>
          <td>{{ stockrecord_form.instance.num_allocated|default:"-" }}</td>
          <td>{% include "partials/form_field.html" with field=stockrecord_form.low_stock_threshold nolabel=True %}</td>
        {% endif %}
        <td>{% include "partials/form_field.html" with field=stockrecord_form.price_currency nolabel=True %}</td>
        <td>{% include "partials/form_field.html" with field=stockrecord_form.cost_price nolabel=True %}</td>
        <td>{% include "partials/form_field.html" with field=stockrecord_form.price_excl_tax nolabel=True %}</td>
        <td>{% include "partials/form_field.html" with field=stockrecord_form.price_retail nolabel=True %}</td>
        {% if product_class.slug == "digital-album" %}
          <td>{% include "partials/form_field.html" with field=stockrecord_form.is_hd nolabel=True %}</td>
        {% endif %}
        <td>
          {% include "partials/form_field.html" with field=stockrecord_form.id nolabel=True %}
          {% include "partials/form_field.html" with field=stockrecord_form.DELETE nolabel=True %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock stockrecords_content %}
