{% extends "oscar/dashboard/catalogue/product_update.html" %}
{% load i18n %}


{% block tabs %}
    {{ block.super }}
    <li><a href="#tracks" data-toggle="tab">Tracks</a></li>
{% endblock %}

{% block child_products %}
    {{ block.super }}
    <div class="tab-pane" id="tracks">
        <table class='table table-striped table-bordered'>
            <caption>Tracks</caption>
            {{ track_formset.management_form }}
            {{ track_formset.non_form_errors }}
            <thead>
                <tr>
                    <th>{% trans "Track no." %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Author" %}</th>
                    <th>{% trans "Price (excl tax)" %}</th>
                    <th>{% trans "Mp3 file" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for track_form in track_formset %}
                {% if track_form.non_field_errors %}
                <tr>
                    <td colspan="{% if product_class.track_stock %}10{% else %}7{% endif %}">
                        {% for error in track_form.non_field_errors  %}
                            <span class="error-block errorlist"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% include "partials/form_field.html" with field=track_form.track_no nolabel=True %}</td>
                    <td>{% include "partials/form_field.html" with field=track_form.title nolabel=True %}</td>
                    <td>{% include "partials/form_field.html" with field=track_form.author nolabel=True %}</td>
                    <td>{% include "partials/form_field.html" with field=track_form.price_excl_tax nolabel=True %}</td>
                    <td>{% include "partials/form_field.html" with field=track_form.track_file nolabel=True %}</td>
                    <td>
                        {% include "partials/form_field.html" with field=track_form.id nolabel=True %}
                        {% include "partials/form_field.html" with field=track_form.DELETE nolabel=True %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
