{% extends "oscar/dashboard/catalogue/product_update.html" %}
{% load i18n %}


{% block tabs %}
    {{ block.super }}
    <li><a href="#tracks" data-toggle="tab">Tracks</a></li>
{% endblock %}

{% block child_products %}
    {{ block.super }}
    <div class="tab-pane" id="tracks">
        <table class='table table-striped table-bordered'>
            <caption>
                Tracks
                <button class="btn btn-primary pull-right{% if not product.can_be_parent %} disabled{% endif %}"
                        name="action" type="submit" value="create-child">
                    <i class="icon-plus"></i>
                    {% trans "Add variant" %}
                </button>
            </caption>
            <tr>
                <th>{% trans "Track no." %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Author" %}</th>
                <th>&nbsp;</th>
            </tr>
            {% for track in "12345" %}
                <tr>
                    <td>{{ track }}</td>
                    <td>Track #{{ track }}</td>
                    <td>Author name</td>
                    <td>
                        <a href="" class="btn btn-primary">
                            Edit
                        </a>
                        <a href=""
                           class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}
