<div class="event-row"> 
  {% for event in events %}
    <article class="event-display"> {% include 'promotions/featured_card.html' with event=event secondary=secondary hide_play=True%}
      <div class="event-info">
        <div>
          <div class="text-grey">{{ event.get_date|date:'m/d/Y' }}</div>
          <div class="event-info-title">{{ event.title }}</div>
          {% if show_event_venue %}
            <div class="{{ event.get_venue_name|lower}}-color">{{ event.get_venue_name }}</div>
          {% endif %}
        </div>
      </div>
    </article> 
  {% endfor %}
  {% for event in extra_events %}
  <article class="event-display"> 
    {% include 'promotions/featured_card.html' with event=event secondary=secondary hide_play=True%}
    <div class="event-info">
      <div>
        <div class="text-grey">{{ event.get_date|date:'m/d/Y' }}</div>
        <div class="event-info-title">{{ event.title }}</div>
        {% if show_event_venue %}
          <div class="{{ event.get_venue_name|lower}}-color">{{ event.get_venue_name }}</div>
        {% endif %}
      </div>
    </div>
  </article> {% endfor %}
</div>
