# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
#bin/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
static/
*.egg-info/
.installed.cfg
*.egg
.vscode/
docker-compose.yml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# PyCharm files
.idea

# Collected static and media
smallslive/staticfiles/node_modules
!smallslive/staticfiles/.keep
media/*/
koala-config.json
.sass-cache/

# NPM stuff
node_modules/

# data files
smallsliveusers.txt
test_db.sqlite3
deploy/.vagrant
smallslive/media
smallslive/static/css/dashboard.css
smallslive/static/css/main.css
smallslive/static/css/vendors/*
smallslive/static/sass/main.css
secret_vars.yml
smalls_scraping/*.json
.python-version
smallslive/.env
.DS_Store
misc

smallslive/smallslive/settings/yo.py
smallslive/smallslive/settings/jim_testing.py
smallslive/smallslive/settings/local*.py

# Ignore documents
documents
/smallslive/.env.local
/smallslive/foundation.py
venv/
