{% load static %}
{% if gigs %}
  {% for gig_info in gigs %}
    {% with event=gig_info.event %}
      <div id="artist-event-row-{{ event.pk }}"
           class="artist-event-row"
           data-ajax-edit-url="{% url 'artist_dashboard:event_edit_ajax' pk=event.id slug=event.slug %}{% if is_future %}?future=True{% endif %}"
           data-ajax-info-url="{% url 'artist_dashboard:my_past_events_info' pk=event.id %}">
        <div class="artist-event-info flex-row wrap">
          <div class="artist-event-picture">
            {% if event.photo %}
              {% include 'partials/thumbored_picture.html' with photo_url=event.get_photo_url photo_name=event.get_photo_name_with_bucket crop_box=event.photo_crop_box height=100 %}
            {% else %}
              {% include 'partials/thumbored_picture.html' %}
            {% endif %}
          </div>
          <div class="artist-event-details">
            <div class="text2">
              {{ event.get_date|date:'m/d/Y' }}
            </div>
            <div class="text2 title">
              {{ event.title }}
            </div>
            {% if not is_future %}
            <div class="text2 ">
              <span id="event-list-event-{{ event.pk }}" class="accent-color">{% if event.is_public_event %} Public {% else %} Private {% endif %}</span>
              <span class="text-grey" id="event-plays">{{ event.get_play_total }} plays /</span>
              <span class="text-grey" id="event-time">{{ event.get_seconds_total }}</span>
            </div>
            {% else %}
            <div class="text2 ">
              <span class="{{ event.venue|lower }}-color">{{ event.venue }}</span>
            </div>
            {% endif %}
          </div>
          <div class="artist-event-arrow">
            <img src="/static/image/arrow-right-red.svg" alt="">
          </div>
        </div>
      </div>
    {% endwith %}
  {% endfor %}
{% endif %}
