<div class="button-row controls">
  <div id="event-info-close-btn" class="go-back">
    <img src="/static/image/arrow-right-red.svg" alt="">
  </div>
  <div class="artist-set-info-mobile">
    <div class="text2"> {{ event.get_date|date:'m/d/Y' }} </div>
    <div class="text2"> {{ event.title }} </div>
    <div class="text2 accent-color"> Live at {{ event.venue }} </div>
  </div>
</div>
<div class="button-row controls">
  <button class="show-gig-info-btn">Info</button>
  <button class="active show-video-metrics-btn">Video & Metrics</button>
</div>
{% for set in event_sets %}
  <div class="artist-set-actions{% if not forloop.first %} hidden{% endif %}" data-set-id="{{ set.pk }}">
    <div class="button-row button-row-margin">
      <div class="flex-row">
        {% if is_admin and set.has_media %}
          {% if set.video_recording and set.video_recording.is_published or set.audio_recording and set.audio_recording.is_published %}
            <button class="publish-button" onclick="askPublish({{ set.id }})">
                Publish
            </button>
          {% else %}
            <button class="publish-button" onclick="askPrivate({{ set.id }})">Make
                Private
            </button>
          {% endif %}
          <button onclick="showSelectFormat('{{ set.video_recording.media_file.get_downloadable_sd_video_url }}', '{{ set.audio_recording.media_file.get_downloadable_file_url }}')" style="margin-left: 5px; ">
              Download
          </button>
        {% else %}
          {% if set.video_recording and set.video_recording.is_published %}
            <button disabled style="margin-left: 10px;">Make Private</button>
          {% else %}
            <button disabled style="margin-left: 10px;">Publish</button>
          {% endif %}
          <button disabled style="margin-left: 20px;">Download</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="header-metrics-container{% if not forloop.first %} hidden{% endif %}">
    {% include 'artist_dashboard/artist-dashboard-events-metrics.html' %}
  </div>

{% endfor %}
