{% load static %}
<div class="pay-period-wrapper">
    {#    <section class="artist-dashboard-payout-title">#}
    {#        <div class="title1">Pay Period</div>#}
    {#    </section>#}
    <div class="labeled-select flex-row">
        <div class="white-border-select white-border-select-left flex-row">
            <select id="artist_payout_select">
                <option value="current" class="text-grey">
                    {{ current_payout_period.period_start|date:"b j, Y" }} - current
                </option>
                {% for earning in user.artist.earnings.all %}
                    <option value="{{ earning.id }}">
                        {{ earning.payout_period.period_start|date:"b j, Y" }} - {{ earning.payout_period.period_end|date:"b j, Y" }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="flex-row payout-bar">

            <button class="white-border-button payout-bar-button" onclick="$('#payout-info').modal('show')">
                Info
            </button>
            <div id='download-button'></div>
        </div>
    </div>

    <div class="artist-payout-data">
        <div id="currentPayoutData">
            <div class="flex-row payout-info-row">
                <div class="artist-payout-data-left">
                    <div class="flex-column content-flex-end">
                        <div class="artist-payout-data-text">
                            <div class="text1">Total archive usage this period</div>
                            <div class="text9 accent-color" data-seconds='{{ current_payout_period.current_total_seconds }}' id='event-seconds'></div>
                        </div>
                        <div class="artist-payout-data-text">
                            <div class="text1">{{ user.artist.full_name }} this period</div>
                            <div class="text9 accent-color" data-seconds='{{ user.artist.current_period_seconds_played }}' id='artist-seconds'></div>
                        </div>
                        <div class="artist-payout-data-text">
                            <div class="text1">Ratio</div>
                            <div class="text9 accent-color">
                                {{ user.artist.current_period_percentage_ratio|floatformat:"-5" }}% of archive pool
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="payoutData">
        </div>
    </div>
</div>

<div class="modal fade" id="payout-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal no-cancel">
            <a href="#" class="close-button"></a>
            <div class="modal-body">
                <div class="text-grey text4 payout-info-text">
                    <p>These numbers reflect the total usage of the archive in minutes and seconds for the selected pay period,
                        as well as your own personal usage and your payout ratio percentage. </p>
                    <p>The payout ratio percentage is your total time divided by the archive total time.
                        This ratio is the percentage of the archive revenue that
                        is paid to you as a royalty. </p>
                    <p>If you earned less than $20 in the pay period it is carried over to the next
                        pay period and reflected as a previous balance.</p>
                </div>
            </div>
        </div>
    </div>
</div>