{% extends "oscar/dashboard/orders/order_list.html" %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block dashboard_content %}

    <div class="table-header">
        <h3><i class="icon-search icon-large"></i>{% trans "Search" %}</h3>
    </div>
    <div class="well">
        <div class="card card-body bg-light">
        <form method="get" class="form-inline" id="search_form" action=".">
            {% for field in form %}
                {% if "order" in field.id_for_label %}
                    {% if field.is_hidden %}
                        {% render_field field class+='form-control' %}
                    {% else %}
                        <span class="form-group{% if field.errors %} has-error{% endif %}">
                            {{ field.label_tag }}
                            {% render_field field class+='form-control' %}
                            {% for error in field.errors %}
                                <ul class="error-block">
                                    <li>{{ error }}</li>
                                </ul>
                            {% endfor %}
                        </span>
                    {% endif %}
                {% endif %}
                {% if "email" in field.id_for_label %}
                    {% if field.is_hidden %}
                        {% render_field field class+='form-control' %}
                    {% else %}
                        <span class="form-group{% if field.errors %} has-error{% endif %}" style="margin: 0 20px">
                            {{ field.label_tag }}
                            {% render_field field class+='form-control' %}
                            {% for error in field.errors %}
                                <ul class="error-block">
                                    <li>{{ error }}</li>
                                </ul>
                            {% endfor %}
                        </span>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <input type="submit" value="{% trans "Search" %}" class="btn btn-primary" />
            <a data-toggle="modal" data-target="#SearchModal" href="#" style="margin-left: 10px;">{% trans "Advanced Search" %}</a>
        </form>
    </div>

        {# Search modal, if there are form errors the form is automatically openend #}
        <div class="modal fade" data-show="true" id="SearchModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>{% trans "Advanced Search" %}</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form method="get" class="form-stacked">
                        <div class="modal-body">
                            <div class="container">
                                {% csrf_token %}
                                {% include "oscar/dashboard/partials/form_fields.html" with form=form style='horizontal' %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</a>
                            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% comment %}
            {% if search_filters %}
                <div class="search-filter-list">
                    <label>Filters:</label>
                    {% for filter in search_filters %}
                    <span class="label label-success">{{ filter }}</span>
                    {% endfor %}
                </div>

            {% endif %}
        {% endcomment %}
    </div>

{% block order_list %}
<table class="table table-striped table-bordered table-hover">
    <caption>
        <h3 class="float-left"><i class="fas fa-shopping-cart"></i>
            {% if search_filters %}
            {% trans "Order Search Results" %}
            {% else %}
            {% trans "All Orders" %}
            {% endif %}
        </h3>
        <div class="float-right">
            <div class="form-inline">
                <label>{% trans "Download selected orders as a CSV" %}</label>
                <button type="submit" class="btn btn-primary" name="action" value="download_selected_orders" data-loading-text="{% trans 'Submitting...' %}">{% trans "Download" %}</button>
            </div>
        </div>
    </caption>

    <thead>
        <tr>
            <th></th>
            <th>{% anchor 'number' _("Order number") %}</th>
            <th>{% anchor 'type' "Type" %}</th>
            <th>{% anchor 'total_incl_tax' _("Total inc tax") %}</th>
            <th>{% trans "Number of items" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Customer" %}</th>
            <th>{% trans "Shipping address" %}</th>
            <th>{% trans "Billing address" %}</th>
            <th>{% trans "Date of purchase" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td><input type="checkbox" name="selected_order" class="selected_order" value="{{ order.id }}"/></td>
            <td><a href="{% url 'dashboard:order-detail' number=order.number %}">{{ order.number }}</a></td>
            <td>{{ order.order_type }}</a></td>
            <td>{{ order.total_incl_tax|currency:order.currency }}</td>
            <td>{{ order.num_items }}</td>
            <td>{{ order.status|default:"-" }}</td>
            <td>
                {% if order.guest_email %}
                    {{ order.guest_email }}
                {% elif order.user %}
                    <a href="{% url 'dashboard:user-detail' pk=order.user.id %}">{{ order.user.get_full_name|default:"-" }}</a>
                {% else %}
                    &lt;{% trans "Deleted" %}&gt;
                {% endif %}
            </td>
            <td>{{ order.shipping_address|default:"-" }}</td>
            <td>{{ order.billing_address|default:"-" }}</td>
            <td>{{ order.date_placed }}</td>
            <td>
                <a class="btn btn-info" href="{% url 'dashboard:order-detail' number=order.number %}">{% trans "View" %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock order_list %}

{% include "oscar/dashboard/partials/pagination.html" %}

{% endblock dashboard_content %}
