{% extends 'home_new.html' %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home headers-3{% endblock %}

{% block extra_nav %}
  <div class="search-tabs tabs">
    <div class="{% if not musician_search %}active{% endif %}" data-toggle-tab-target="archived-shows" data-toggle-tab-group="search-results">
      <span class="title1">Shows</span>
    </div>
    <div class="{% if musician_search %}active{% endif %}" data-toggle-tab-target="musicians" data-toggle-tab-group="search-results">
      <span class="title1">Musicians</span>
    </div>
  </div>
{% endblock %}

{% block extra_head %}
  <meta name="description" content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
{% endblock %}

{% block content %}

{% include 'inactive_dialog.html' %}
{% include 'become_a_supporter_dialog.html' %}

<section class="event-stripe archive">
  <div class="section-title home">
    <div class="title1">Recently Added</div>
  </div>
  <main>
    <div class="slide-btn prev"><b class="indicator-icon icon-left-caret"></b></div>
    <div class="slide-btn next"><b class="indicator-icon icon-right-caret"></b></div>
    {% include 'events/event_row.html' with events=new_in_archive secondary=False %}
  </main>
</section>

<section class="event-stripe archive">
  <div class="section-title home">
    <div class="title1">Most Popular</div>
    <span class="select-container">
      <div class="white-border-select home-filter">
        <select id="most-popular-filter">
          <option value="week"{% if popular_select == 'week' %} selected{% endif %}>Last week</option>
          <option value="month"{% if popular_select == 'month' %} selected{% endif %}>Last month</option>
          <option value="year"{% if popular_select == 'year' %} selected{% endif %}>This Year</option>
          <option value="alltime"{% if popular_select == 'alltime' %} selected{% endif %}>All Time</option>
        </select>
      </div>
    </span>
  </div>
  <main id="most-popular-container">
    <div class="slide-btn prev"><b class="indicator-icon icon-left-caret"></b></div>
    <div class="slide-btn next"><b class="indicator-icon icon-right-caret"></b></div>
    {% include 'events/event_row.html' with events=popular_in_archive secondary=False %}
  </main>
</section>

<div class="flex-row new-archive">
  <div class="musicians-result active" data-type="search-content">
    <div class="title1 shows-results-title">
      Shows
    </div>
  </div>
  <div class="musicians-result" data-type="musicianContent">
    <div class="title1 musicians-results-title">
      Musicians
    </div>
  </div>
</div>

<div class="artist-search-profile-container pad-content"></div>

<div class="search-container pad-content new-archive">
    <section id="search-content" class="search-content">
      {% include 'events/archived_shows.html' with archived=True default_to_date=default_to_date secondary=True show_rows=True%}
    </section>
    <section id="musicianContent"
             data-toggle-tab="musicians"
             class="search-tab-content"
             data-toggle-tab-group="search-results" style="display: none;">
      {% include 'search/artists.html' %}
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    var eventOrderFilter = 'newest';
    var datePickerInputSelector = '#search-date-picker-from input';
    var datePickerFromDate = null;
    var datePickerToDate = '{{ default_to_date }}';
    var setFromDate = false;
    var setToDate = true;
    var datePickerLeft = 45;
    var datePickerTop = 38;
    var defaultFromDate;
    var defaultToDate = '{{ default_to_date }}';
  </script>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/search/search.js' %}"></script>
  <script>
    {% if popular_select %}
      var popularFilterDefaultValue = "{{ popular_select }}";
      var popularQueryUrl = "{% url 'event_popular_ajax' %}";
    {% endif %}
  </script>
  <script src="{% static 'js/search/artist_index.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}


