{% extends "search_base.html" %}
{% load static %}
{% load custom_cloudinary_tags %}

{% block search_section_title %}Found {{ paginator.count }} artist{{ paginator.count|pluralize }}:{% endblock %}

{% block search_content %}
  <div class="search-artists">
    {% for result in page.object_list %}
      <div class="search-artist">
        <div class="search-artist__image">
          {% if result.object.photo %}
            <img src="{% cloudinary_image_url photo_name=result.object.get_photo_name_with_bucket photo_url=result.object.photo.url|urlencode height=140 width=140 smart=True %}" alt="{{ result.object.full_name }} photo"/>
          {% else %}
            <img src="{% static 'image/no-artist-photo-thumbnail.jpg' %}" alt=""/>
          {% endif %}

        </div>
        <div class="search-artist-info">
          <a href="{{ result.object.get_absolute_url }}"><h2 class="search-artist-info__title">{{ result.object.full_name }}</h2></a>
          <p class="search-artist-info__stats">{{ result.object.instruments.all|join:" // " }} // {{ result.object.events_count }} events <a href="{% url "event_search" %}?artist={{ result.object.id }}" class="search-artist-info__link">(view)</a>
          </p>

          <p class="search-artist-info__bio">{{ result.object.biography|striptags|safe|truncatewords:50 }}</p>
        </div>
      </div>
    {% empty %}
      <p>No artists found.</p>
    {% endfor %}
  </div>
{% endblock search_content %}
