<div class="shows-container">
    {% if not placeholder %}

      {% if with_date_picker %}
        <div class="archive-datepicker fixed"  style="position: relative;">
          <div  class="datepicker-container noclick" style="display:block;     top: 0 !important;">
            <div style="display: flex;">
              <div class="custom-date-picker" id="search-date-picker-from">
                <input class="date-picker-text" type="text" placeholder="Select date" readonly>
              </div>
              <div class="custom-date-picker" id="search-date-picker-to">
                <input class="date-picker-text" type="text" placeholder="Select date" readonly>
              </div>
              <div class="white-border-button archived" id="apply-button"><span>Apply</span></div>
            </div>
            <div class="datepicker-reset text2 text-grey"><span>Reset</span></div>
          </div>

          <div style="position: absolute; right: 10px; top: 40px;">
            <span class="select-container">
              <div class="white-border-select home-filter">
                <select id="events-filter">
                  <option value="newest">Newest</option>
                  <option value="oldest">Oldest</option>
                  <option value="popular">Popular</option>
                </select>
              </div>
            </span>
          </div>

        </div>

      {% endif %}

      {% for event in events %}

        <article class="event-display" onclick="window.location='{{ event.get_absolute_url }}';">

          {% include 'events/event_card.html' with event=event secondary=secondary hide_play=hide_play %}
          <div class="event-info new {% if upcoming %}hidden{% endif %}">
            <div>
              <div class="">{{ event.get_date|date:'m/d/Y' }}</div>
                {% if show_event_venue %}
                  <div class="{{ event.venue.name|lower}}-color">{{ event.venue.name }}</div>
                {% else %}
                  <br>
                {% endif %}
              <div class="event-info-title">{{ event.title }}</div>
            </div>
          </div>
          {% if upcoming %}
          <div class="event-info calendar">
            <div>
              {% if not hidde_event_date %}
                <div class="text-grey">{{ event.get_date|date:'m/d/Y' }}</div>
              {% endif %}
              <div class="event-info-title">{{ event.title }}</div>
              {% if show_event_venue %}
                <div class="{{ event.venue.name|lower}}-color">{{ event.venue.name }} {% if show_extend_date %} <span class="text-grey extend-date">{{ event.get_set_hours_display }}</span> {% endif %}</div>
              {% endif %}
           </div>
          </div>
          {% endif %}

        </article>
      {% endfor %}
    {% endif %}
</div>
