{% extends "search_base.html" %}
{% load static %}

{% block search_section_title %}Found {{ paginator.count }} event{{ paginator.count|pluralize }}:{% endblock %}

{% block search_content %}
  <div class="search-events">
    {% for result in page.object_list %}
      <div class="search-event">
        <p class="search-event__date">{{ result.object.listing_date|date:"n/j/Y" }}</p>
        <h3 class="search-event__venue">{{ result.object.get_venue_name }}</h3>
        <a href="{{ result.object.get_absolute_url }}">
          <h2 class="search-event__title">{{ result.object.title }}</h2>
        </a>
        <p class="search-event__sidemen-section-title">Artists:</p>
        <p class="search-event__sidemen">
            {% for gig_info in result.object.get_performers %} <a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist }} <span
                class="search-event__sidemen-instrument">({{ gig_info.role.name }})</span></a> {% if not forloop.last %} // {% endif %}{% endfor %}
        </p>
        {% if result.object.audio_count or result.object.video_count or result.object.store_count %}
            <p class="search-event__features-section-title">Available features:</p>
            <p class="search-event__features">{% if result.object.audio_count %}<span class="fa fa-music"></span> audio available {% endif %}{% if result.object.video_count %}<span class="fa fa-video-camera"></span> video available {% endif %}{% if result.object.product_count %}<span class="fa fa-shopping-cart"></span> related store items{% endif %}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock search_content %}
