{% extends "search_base.html" %}
{% load static %}

{% block search_section_title %}Found {{ page.object_list|length }} instrument{{ page.object_list|length|pluralize }}:{% endblock %}

{% block search_content %}
  <div class="search-events">
    {% for result in page.object_list %}
      <div class="search-instrument">
        <h2 class="search-instrument__title">{{ result.object.name }}</h2>
        <p class="search-instrument__link"><a href="{% url "artist_search" %}?instrument={{ result.object.id }}">{{ result.object.artists.count }} Artists</a></p>
      </div>
    {% endfor %}
  </div>
{% endblock search_content %}
