<ul class="page-numbers-list">

{% if actual_page >= 4 %}
    {% if actual_page == 1 %}
        <li class="page-numbers-list-item active-page">1</li>
    {% else %}
        <li class="page-numbers-list-item">1</li>
    {% endif %}
    <li class="page-numbers-list-item">...</li>
{% endif %}

{% for n in range %}
    {% if actual_page == n %}
        <li class="page-numbers-list-item active-page">{{n}}</li>
    {% else %}
        <li class="page-numbers-list-item">{{n}}</li>
    {% endif %}
{% endfor %}

{% if has_last_page %}
    <li class="page-numbers-list-item">...</li>
{% endif %}

{% if actual_page == last_page %}
    <li class="page-numbers-list-item active-page">{{last_page}}</li>
{% else %}
    <li class="page-numbers-list-item">{{last_page}}</li>
{% endif %}
</ul>