{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home{% endblock %}

{% block extra_nav %}
  <div class="search-tabs">
    <div class="active" onclick="showContent('#showsContent', this)">
      <span class="title1">Archived Shows</span>
    </div>
    <div onclick="showContent('#musicianContent', this)">
      <span class="title1">Musicians</span>
    </div>
  </div>
{% endblock %}

{% block extra_head %}
  <meta name="description"
        content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
  <script src="{% static 'js/search/search.js' %}"></script>
{% endblock %}

{% block content %}

  {% include 'inactive_dialog.html' %}
<div id="back-search" class="back-search-button white-border-button">
    Back to search</div>

<div class="musicians-results white-line-bottom">
    <div id="artist-subheader" class="showing-results text1">{{ showing_artist_results }}</div>
    <div class="title1 musicians-results-title">Musicians</div>
</div>
<div class="artist-search-profile-container "></div>
<div class="main-container search-container {% if user.is_superuser %}admin-shown{% endif %}">

    <section id="musicianContent" class="search-tab-content">
        <div  class="search-artist-box-container">
          <img src="{% static 'image/search-icon.svg' %}">
          <input id="artist-search"
                 class="search-artist-box"
                 name="q" type="text"
                 placeholder="START TYPING AN ARTIST NAME"
                 autocomplete="off">

          <div class="instrument-btn white-border-button">Instrument</div>
        </div>
      <div class="instruments-container">
        {% for instrument in instruments %}
          <div class="instrument text4 text-grey">{{ instrument }}</div>
        {% endfor %}
      </div>
      <div class="instrument-btn white-border-button visible-sm visible-xs">Instrument</div>

      <div class="container-list-article">

        <div class="left_arrow artist-arrow-search artist-arrow-disabled">

        </div>

        <div id="artist-load-gif" class="loading-image">
          <img src="{% static 'image/loading.gif' %}" alt="">
        </div>

        <main id="artists" class="artists-container">
          {% include 'search/artist_results.html' %}
        </main>

        <div class="right_arrow artist-arrow-search"
             style="{% if artist_num_pages == 1 %}visibility: hidden;{% endif %}">

        </div>

      </div>
      <div class="flex-row items-center content-space-around">
        <div class="left_arrow artist-arrow-search artist-arrow-disabled visible-sm visible-xs">

        </div>
        
        <div class="right_arrow artist-arrow-search visible-sm visible-xs">

        </div>
      </div>
    </section>
    {% include 'events/shows.html' with archived=True %}
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script>
      function showContent(id, tab) {
          $('.search-tab-content').removeClass('active');
          $(id).addClass('active');

          $('.search-tabs > div').removeClass('active');
          $(tab).addClass('active');
      }
  </script>
{% endblock %}

{% block footer %}
{% endblock %}


