{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home{% endblock %}

{% block extra_head %}
  <meta name="description"
        content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
    
        <script src="/static/js/search/search.js"></script>

<style>
    .artists-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .artist-column {
        margin: 20px;
    }

    .artist-row {
        display: block;
        margin-bottom: 2px;
    }

    .artist-search-text {
        font-family: 'Reem Kufi', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1em;
        color: #a6a6a6;
    }

    .artist-arrow-search {
        font-size: 62px;
        cursor: pointer;
    }

    .events-results {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 60px;
        padding-right: 60px;
    }

    .event-display {
        margin: 5px;
    }

    .loading-image {
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    .container-list-article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px;
    }

    .subheader-results {
        margin-left: 300px;
    }

    .results-text {
        letter-spacing: 0;
        font-weight: 900;
        font-size: 1.2em;
    }

    .concerts-footer {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .next-page-btn {
        font-weight: 900;
        font-size: 2em;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 20px;
    }

    .no-result-container {
        text-align: center;
        font-family: 'Reem Kufi', sans-serif;
        font-weight: 900;
        font-size: 4em;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .page-numbers-list {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }

    .page-numbers-list-item {
        display: inline;
        font-weight: bold;
        color: #a6a6a6;
        margin-right: 5px;
        margin-left: 5px;
    }

    .artist-search-text:hover {
        font-weight: 900;
        color: black;
    }

    .active-page {
        font-weight: 900;
        color: black;
    }
</style>
{% endblock %}

{% block content %}

  {% include 'inactive_dialog.html' %}

<div class="main-container">
    <div class="flex-row items-center wrap content-space-around" style="width: 500px; margin: 0 auto;">
        <div class="white-border-select" style="width:120px;">
            <select id="artist-filter">
                <option value="week">ARTIST</option>
                <option value="month">Last month</option>
                <option value="year">This Year</option>
                <option value="alltime">All Time</option>
            </select>
        </div>

        <div class="white-border-select" style="width:150px;">
            <select id="instrument-filter">
                <option value="week">INSTRUMENT</option>
                <option value="month">Last month</option>
                <option value="year">This Year</option>
                <option value="alltime">All Time</option>
            </select>
        </div>

        <div class="white-border-select" style="width:150px;">
            <select id="date-filter">
                <option value="week">DATE</option>
                <option value="month">Last month</option>
                <option value="year">This Year</option>
                <option value="alltime">All Time</option>
            </select>
        </div>
    </div>

<section class="event-stripe">
    <div class="section-title">
        <div class="title1">Artists</div>
        <div id="artist-subheader" class="header-sub title2 subheader-results results-text">{{showing_artist_results}}</div>
    </div>
    <div class="container-list-article">
        <div id="left_arrow" class="artist-arrow-search">
            <i class="fa fa-angle-left"></i>
        </div>
        <img class="loading-image" src="{% static 'image/loading.gif' %}" alt="">

        <main id="artists">
            {% include 'search/artist_results.html' %}
        </main>
        <div id="right_arrow" class="artist-arrow-search">
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
</section>

    <section class="event-stripe">
        <div class="section-title">
            <div class="title1">Concerts</div>
            <div id="event-subheader" class="header-sub title2 subheader-results results-text">{{showing_event_results}}</div>
        </div>
        <main id="events">
            {% include 'search/event_results.html' with events=event_results %}
        </main>
        
        <div class="concerts-footer">    
            <div id="event-subheader-footer" class="header-sub title2 results-text">{{showing_event_results}}</div>
            
            <button id="next-page-btn" class="white-border-button next-page-btn" style="width:220px;">
                <span style="display: block; margin-top: -15px;">NEXT PAGE</span>
            </button>
            
            <div id="page-numbers-footer">
                    {% include 'search/page_numbers_footer.html' %}
            </div>
            
        </div>
    </section>
</div>
{% endblock%}

{% block footer %}
{% endblock %}

