.event-edit {
  padding: 20px;
  background-color: #fff;

  & .artist-list-form {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
  }

  & .formset_table {

    & tr {

      & td {
        vertical-align: middle;
      }

      & .form-control {
        margin-bottom: 0;
      }

      & .selectize-input {
        min-height: 0;
        margin-bottom: -4px;
      }

      & input[type="checkbox"] {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        position: relative;
        left: 14px;
      }

      & .fa-arrows {
        color: #c1c1c1;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        position: relative;
        left: 2px;
      }

      & .artist_remove {
        color: $main-accent-color;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        position: relative;

        &:hover, &:focus {
          color: $main-accent-color-darker;
        }
      }
    }

    & thead .table_row {
      background-color: #eee;
      border: none;
      
      & th {
        padding: 10px;
        border: none;

        &.col-md-1 {
          text-align: center;
        }
      }
    }

    & tbody td {
      border-top: none;
      border-bottom: 1px solid #ddd;
    }
  }

  & .form-group {

    & textarea {
      width: 100%;
    }
  }
}