label {
  @include lato;
  font-size: 14px;
  color: #1f1f1f;
}

.form-control, .form-control .selectize-input {
  @include lato;
  font-size: 16px;
  color: #1f1f1f;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #a4a4a4;
  padding: 10px;
  height: auto;
  margin-bottom: 10px;

  &:focus {
    border: 2px solid #e88a9a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.form-control .selectize-input .item {
  padding: 6px 12px !important;
}

.row_stack {
  display: inline-block;
  width: auto;
  margin-right: 30px;
}

.half_width {
  margin-left: 2%;
  margin-right: 2%;
  width: 48%;
  float: left;

  &.left {
    margin-left: 0;
  }

  &.right {
    margin-right: 0;
  }
}

input[type="submit"] {
  @include lato-bold;
  font-size: 16px;
  color: #fff;
  background-color: $main-accent-color;
  padding: 10px 50px;
  margin: 25px 0 15px;
}

.bootstrap-select {
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  & button {
    @include lato;
    font-size: 16px;
    color: #1f1f1f;
    background-color: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #a4a4a4;
    border-radius: 0;
    width: 100%;

    & .caret {
      float: right;
      margin-top: 10px;
    }
  }

  & .dropdown-menu {
    position: relative;
    margin-top: -10px;
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #a4a4a4;
    padding: 10px 0 0 0;
    max-height: 100px;
    overflow: auto;

    &.inner {
      padding: 0;
      border: none;
    }

    & ul {
      padding: 0;

      & li {
        padding: 0px;

          & a {
            padding: 10px;
            border-bottom: 1px solid #ddd;
          }

          &:last-child {

            & a {
              border-bottom: none;
            }
          }
        }
      }
    }
}

.radio-button {
  width: 18px;
  height: 18px;
  margin: 10px 0;

  &__label {
    @include lato;
    font-size: 16px;
    position: relative;
    bottom: 3px;
    margin-left: 10px;
  }
}

.form-separator-light {
  margin: 10px 0;
  height: 1px;
  background-color: #ddd;
  width: 100%;
}

.form-group {
  margin-top: 0;
  margin-bottom: 0;
}