.navbar {
  background-color: $main-accent-color;
  border: none;
  @include lato-bold;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 2px solid #B71330;

  & .navbar-nav {
    float: right;

    & li a {
      color: #fff;
      opacity: 0.7;
      padding: 10px 20px;

      &:hover, &:focus {
        color: #fff;
        background-color: transparent;
        outline: none;
      }
      
      &.unavailable {
        opacity: 0.4;
        cursor: default;
        
        &:hover, &:focus {
          opacity: 0.4;
        }
      }
    }

    & .contract__pending {
      margin-left: 4px;
    }

    & li, li:hover, & li:focus {
      background-color: $main-accent-color;
      outline: none;
    }

    & li:hover a, & li:focus a {
      color: #fff;
      opacity: 1;
      background-color: transparent;
    }

    & .active a {
      background: none;
      color: #fff;
      opacity: 1;

      &:hover {
        background: none;
        color: #fff;
      }
    }

    & .dropdown-menu {

      & li {
        background: none;
      }

      & li a {
        color: #222;
        
        &:hover {
          color: #222;
          opacity: 0.8;
        }
      }
    }
  }
  
  &__logo {
    opacity: 0.7;
    display: block;
    margin-top: 8px;

    &:hover {
      opacity: 1;
    }

    & img {
      height: 24px;
      width: auto;
    }
  }

  &__item {
    border-left: 1px solid rgba(255,255,255,0.3);

    &:first-child {
      border-left: none;
    }
  }

  &__user {
    padding: 0 20px;

    &__button {
      background-color: transparent;
      border: none;
      color: #fff;

      & span {
        opacity: 0.7;
        margin-left: 10px;
      }

      &:hover span {
        opacity: 1;
      }
    }

    &__image {
      display: inline-block;
      height: 40px;
      width: auto;
      border-radius: 100%;
    }
  }

  &__settings {
    font-size: 24px;
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }

  .navbar {
    padding: 8px 20px;

    &__logo {
      margin-top: 12px;
    }

    & .navbar-nav {
    float: left;

      & li a {
        color: #fff;
        opacity: 1;
        padding: 20px 10px;
        border-bottom: 1px solid rgba(255,255,255,0.3);

        &:last-child {
          border-bottom: none;
        }
      }

      & .active a {
        opacity: 0.7;
      }

      & .dropdown-menu {

        & li a {
          color: #fff;
        }
      }
    }

    &__logo {
      opacity: 1;
      display: block;
    }

    &__item {
      border-left: none;
    }

    &__settings {

      & i {
        font-size: 0px;

        &:after {
          @include lato-bold;
          content: "Settings";
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }
}