.mini-events__container {
  padding: 0;
}

.mini-event {
  @include list-unstyled;
  padding: 10px 0;

  &__image {
    padding: 2px;
    border: 1px solid #dfdfdf;
    background-color: #fff;

    &:hover {
      opacity: 0.7;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__details {

    & p {
      margin-bottom: 0;
    }

    &__date {
      color: #888;
      @include lato-bold;
      font-size: 14px;
      margin-bottom: 0;
    }

    &__title {
      color: #222;
      @include lato-black;
      font-size: 16px;
      margin-bottom: 5px;
      display: block;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &__labels {
      color: #777;
      @include lato;
      font-size: 12px;
      float: left;
      margin-right: 10px;
    }

    &__values {
      color: #777;
      @include lato-black;
      font-size: 12px;
      float: left;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .mini-event {

    &__image {

    }
  }
}