.page-heading {
  padding: 40px 20px 20px;
  background-color: #fff;

  & h1 {
    @include lato-black;
    font-size: 32px;
    color: $main-accent-color;
    margin-bottom: 10px;
  }

  &__button-link {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    padding: 8px 14px;
    @include lato-bold;
    color: #fff;
    background-color: $main-accent-color;
    border-radius: 4px;

    &:hover,
    &:focus {
      outline: none;
      border: none;
      color: #fff;
      background-color: $main-accent-color-darker;
      text-decoration: none;
    }
  }
}

.page-heading-event {
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  &__info {
    padding: 70px 20px;
  }

  &__name {
    @include lato-black;
    font-size: 32px;
    color: $main-accent-color;
    margin-bottom: 4px;
  }

  &__date {
    @include lato-black;
    font-size: 18px;
    color: #1f1f1f;
    margin-bottom: 10px;
  }

  &__label {
    @include lato;
    color: #aaa;
    margin-bottom: 0;
    font-size: 14px;
  }

  &__artists {
    @include lato-bold;
    font-size: 14px;
    color: #1f1f1f;
    margin-bottom: 12px;

    & .instrument {
      @include lato;
      color: #878787;
    }
  }

  &__image {
    padding: 0;
    background-size: cover;
    background-position: center center;

    & img {
      z-index: 1 !important;
    }
  }
}
