@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin horizontal-ruler($color) {
  background-color: $color;
  border-color: $color;
  color: $color;
}
