.main-header {
  padding: 26px;

  .logo-container {
    flex: 1;
    display: flex;

    .search-input {
      flex: 1;
      margin-left: 26px;
      margin-right: 26px;
    }
  }
}

@mixin input-border {
  border: 2px solid $border-color;
}

@mixin white-border-button {
  @include button1;
  height: $input-height;
  padding: 0 20px;
  border-radius: 2px;
  background-color: $background-color;

  &.active {
    background-color: $white-transparent;
  }

  &.button-bordered {
    @include input-border;
  }

  a {
    color: inherit;
  }
}

.button-row {
  button {
    @include white-border-button;
  }
}


@mixin bordered-input {
  @include input-border;
  @include text4;
  box-shadow: none;
  width: 100%;
  border-radius: $input-border / 2;
  height: $input-height;
  font-size: 1.2em;

  // TODO Global
  &:focus {
    outline: none;
  }
}

.search-input {
  position: relative;

  &::before {
    content: '\f002';
    font-family: 'FontAwesome', serif;
    color: $accent-color;
    position: absolute;
    left: 11px;
    font-size: 1.8em;
    top: 7px;
  }

  input {
    @include bordered-input;
    background-color: $background-color;
    padding: 8px 8px 8px 30px;
  }
}
