.main-header {
  padding: 26px;

  .logo-container {
    flex: 1;
    display: flex;

    .search-input {
      flex: 1;
      margin-left: 26px;
      margin-right: 26px;
    }
  }
}

@mixin input-border {
  border: 2px solid $border-color;
}

@mixin white-border-button {
  height: $input-height;
  padding: 0 20px;
  border-radius: 2px;
  background-color: $background-color;

  &.active {
    background-color: $white-transparent;
  }

  &:not(.no-border) {
    @include input-border;
  }

  a {
    color: inherit;
  }
}

@mixin bordered-input {
  @include input-border;
  @include text4;
  box-shadow: none;
  border-radius: $input-border / 2;
  height: $input-height;
  font-size: 1.2em;

  background-color: $background-color;
  padding: 8px;
  // TODO Global
  &:focus {
    outline: none;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  input {
    @include bordered-input;
    @include button1;
    min-width: 150px;
    text-align: center;
  }

  a,
  button {
    color: black;
  }

  button,
  p {
    @include white-border-button;
  }

  &:not(.button-row-big) {
    button,
    p {
      @include button1;
    }
  }

  &.button-row-big {
    button,
    p, input {
      @include title7;
      line-height: 1em;
      min-height: 50px;

      &.active {
        border: 1px solid $accent-color;
      }
    }

    input {
      width: 50px;
      &::placeholder {
        @include reen-kufi-normal;
        padding-bottom: -50px;
        // Compensate text transform
        transform: scaleY(0.7);
        position: relative;
        top: -10px;
        font-size: 10px;
      }
    }
  }

  &.button-row-margin {
    * {
      margin: 0 10px
    }
  }
}

.search-input {
  position: relative;

  &::before {
    content: '\f002';
    font-family: 'FontAwesome', serif;
    color: $accent-color;
    position: absolute;
    left: 11px;
    font-size: 1.8em;
    top: 7px;
  }

  input {
    @include bordered-input;
    width: 60%;
    padding-left: 30px;
  }
}
