header {
  @include bottom-section-border;

}

.smalls-logo {
  float: left;
  margin-top: 19px;
  margin-bottom: 19px;
}

.navbar-default {
  background: none;
  border: none;
}

.header-nav-group {
  clear: right;
  @include display(flex);
  @include align-items(center);
  @include flex-wrap(nowrap);
}

.navigation {
  @include transition(all 0.2s ease-in-out);
  float: left;
  width: 100%;

  & .navigation__menu {
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(nowrap);
    width: 100%;
  }


  &__item {
    @include lato;
    font-size: 16px;
    text-align: center;
    border-right: 1px #3C3B3C solid;
    @include transition(all 0.3s ease-in-out);
    list-style-type: none;
    padding: 0 15px;
    @include flex-grow(0);
    max-width: 130px;

    & span {
      white-space: nowrap;
      @include transition(all 0.2s ease-in-out);
    }

    @media (max-width: $screen-md-max) {
      padding: 0 8px;
    }

    a {
      @include transition(all 0.2s ease-in-out);
      color: #929292;
      display: block;
      text-decoration: none;
    }

    a:hover {
      color: white;
    }

    & i {
      @include transition(all 0.2s ease-in-out);
    }

    &.active a {
      color: #fff;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
      @include flex-grow(1);
      max-width: none !important;
      @include flex-grow(1);

      & i {
        margin-top: 0 !important;
      }
    }

    &.search-active {
      max-width: 51px;

      & .menu-label {
        opacity: 0;
      }

      & i {
        margin-bottom: 0;
        margin-top: 24px;
      }
    }
  }

  &__icon {
    font-size: 22px;
    margin-bottom: 12px;
    width: 100%;
  }
}

.header-login {
  float: right;
  margin-top: 17px;
  list-style: none;

  &__user-name {
      @include lato-bold;
      font-size: 14px;
      @include transition(all 0.2s ease-in-out);
      color: #8F8E8F;
      text-decoration: none;

      &:hover, &:active {
        color: white;
        text-decoration: none;
      }
  }

  &__user-dropdown {
      @include lato;
      font-size: 14px;
      color: white;
      background-color: rgba(0,0,0,0.8);
      border: 1px solid rgba(255,255,255,0.2);
      margin-top: 10px;
      padding: 0;

      & li a {
        padding: 15px 30px;
        color: white;

        &:hover {
          background-color: rgba(255,255,255,0.1);
          color: white;
        }
      }
  }

  &__item {
    @include lato;
    display: inline-block;
    font-size: 14px;
    border-right: 1px #3C3B3C solid;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    vertical-align: middle;

    &:last-child {
      border-right: 0;
    }

    a {
      @include transition(all 0.2s ease-in-out);
      color: #8F8E8F;
      text-decoration: none;
    }

    a:hover {
      color: white;
    }
  }
}

.header-social {
  float: right;
  margin-top: 17px;
  list-style: none;
  padding-left: 20px;

  &__item {
    @include lato;
    display: inline-block;
    font-size: 14px;
    border-right: 1px #3C3B3C solid;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    vertical-align: middle;
    color: #8F8E8F;

    &:last-child {
      border-right: 0;
    }

    & i {
      font-size: 16px;
      vertical-align: middle;
    }

    a {
      @include transition(all 0.2s ease-in-out);
      color: #8F8E8F;
      text-decoration: none;
    }

    a:hover {
      color: white;
    }
  }
}

.login-section {
  float: right;
}

.nav.menu {
  margin-left: 30px;
}

.nav.menu li {
  text-align: center;
  padding: 0 15px;

  & a {
    padding: 0;
  }
}

.search {
  width: 100%;
  margin-left: 10px;

  & .form-group {
    margin-bottom: 0;
  }

  i {
    padding-top: 12px;
    left: 0;
    right: inherit;
    pointer-events: none;
  }

  &__input {
    @include lato-italic;
    height: 40px;
    width: 100%;
    font-size: 14px;
    background: rgba(255,255,255, 0.2);
    padding-left: 35px;
    color: white;
    border-color: #828181;
    @include transition(all 0.1s ease-in-out);
    @include transition(width 1s ease-in-out);

    &:focus {
      background: rgba(255,255,255,0.8);
      @include transition(all 0.1s ease-in-out);
      color: #121212;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.mobile-navbar {
  background-color: $main-accent-color;
  margin-bottom: 0;

  .navbar-nav li a, .navbar-nav li {
    color: #ffffff !important;
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
  }

  .navbar-nav li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.navbar-header {
  padding: 5px 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
  border: none1;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}

.mobile-intro {
  background-color: #1B191A;
  width: 100%;
  display: block;
}

.mobile-intro .smalls-logo {
  width: 180px;
  margin: 50px auto 20px;
  float: none;
  display: block;

  img {
    width: 100%;
    height: auto;
  }
}

.smalls-hor-logo {
  height: 30px;
  display: block;
  margin: 10px;

  img {
    height: 100%;
    width: auto;
  }
}


@media (max-width: $screen-sm-max) {
  .search {
    margin: 0;
  }
}