.static-page {
  background-color: #ffffff;

  &__content {
    @include display(flex);
    @include flex-wrap(wrap);

    &:before,
    &:after {
      display: none;
    }
  }
}
.static-tab {
  display: none;

  &.active {
    display: inherit;
  }
}

.passes-days {
  justify-content: space-between;
  @media (max-width: 960px) {
    flex-direction: column;
  }

  .day-list {
    margin: 0 10px;
    @media (max-width: 960px) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
.venues-static {
  display: flex;
  flex-direction: row;
  justify-content: start;

  .flex-column {
    margin: 0 30px 0 0;
  }

  @media (max-width: 960px) {
    flex-direction: column;
  }
}

.static-nav-menu {
  @include list-unstyled;
  padding-left: 0;
  list-style: none;
  padding-left: 0;
  list-style: none;
  position: fixed;
  width: 18%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;

  @media (max-width: $screen-sm-max) {
    display: none;
  }
  li {
    @include white-border-button;

    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
.info-page-container {
  width: 80vw;
  @media (max-width: $screen-sm-max) {
    width: 100vw;
  }

  &.legal-content {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
    font-size: 16px;

    ul {
      li {
        list-style: none;
      }
    }
  }
}
.static-content {
  @include text4;
  width: 100%;
  overflow: hidden;
  transition: all 1.4s;
  padding: 0 10%;
  max-height: 120%;
  flex-direction: row;
  justify-content: center;
  &.closed {
    @media (max-width: $screen-sm-max) {
      transition: all 0.6s;
      max-height: calc(100vw * .0390625 + 37.5px);
    }
  }
  .flex-row {
    width: 100%;
  }
  strong {
    color: $accent-color;
  }
  //padding: 40px 30px;
  //min-height: 350px;
  //
  //&__image {
  //  margin-bottom: 4px;
  //  @include filter(grayscale(100%));
  //
  //  &:hover {
  //    @include filter(none);
  //    cursor: pointer;
  //  }
  //}
  //
  //&__caption {
  //  @include lato;
  //  font-size: 12px;
  //  color: #626262;
  //  margin-bottom: 15px;
  //}
  //
  .flatpage-content {
    width: 100%;
  }

  .main-title {
    @include event-overlay-title;
    margin-bottom: 20px;

    .white-text {
      color: $white-transparent;
    }
    //@include lato-black;
    //color: $main-accent-color;
    //margin-top: 0;
    //margin-bottom: 24px;
    //font-size: 32px;
  }
  //
  //h2 {
  //  @include lato-black;
  //  font-size: 18px;
  //  margin-top: 20px;
  //  margin-bottom: 13px;
  //}
  //
  //p {
  //  @include lato;
  //  font-size: 14px;
  //  text-align: justify;
  //}
}

//.static-sidebar {
//  padding: 40px 30px 40px 0;
//
//  &__image {
//    width: 100%;
//  }
//}
//
//
.map-wrapper {
  padding-bottom: 40px;
  @include filter(grayscale(60%));
}
//
//@media (max-width: 740px) {
//  .map-wrapper {
//    margin-top: 0;
//    margin-bottom: 20px;
//    margin-left: -10px;
//    margin-right: -10px;
//    padding-right: 0;
//  }
//}
//
//.prices {
//  dt {
//    float: left;
//    clear: left;
//    width: 50px;
//  }
//}
//
//
//@media (max-width: 960px) {
//  .static-nav-menu {
//    margin-top: 0;
//  }
//}


.static-content {

  img {
    margin-bottom: 10px;
    width: 20%;

    &.logo {
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
      width: 80%;
    }
  }

  p {
    margin-bottom: 40px;
  }

  @media(max-width: $screen-md-min) {
    img {
      width: 100%;

      &.logo {
        width: 100%
      }
    }
  }
}

.big-quote {
  position: relative;
  left: -20px;
  line-height: 0;
  font-size: 3em;
  font-weight: 600;
  top: 20px;
  transform: none;
  margin-right: -15px;

  &.closing {
    left: 0;
  }
}

.overview{
  font-family: Oswald;
  font-size: 2.8rem;
  height: auto;
  margin-top: 0;
  font-weight: 300;
  line-height: 110%;
}
