.static-page {
  background-color: #FFFFFF;
}

.static-nav-menu {
  @include list-unstyled;
  margin-top: 15px;
  padding: 0 10px;
}

.static-nav {
  &__item {
    @include lato-black;
    font-size: 18px;
    border-bottom: 1px #DDD solid;
    width: 90%;

    a {
      padding: 20px 0;
      display: block;
      color: #898989;
    }

    &--active a{
      color: #131313;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.static-content{
  padding: 40px 20px;

  &__image {
    margin-bottom: 4px;
  }

  &__caption {
    @include lato;
    font-size: 12px;
    color: #626262;
    margin-bottom: 15px;
  }

  &__main-title {
    @include lato-black;
    color: #D21333;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 32px;
  }

  h2 {
    @include lato-black;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 13px;
  }

  p {
    @include lato;
    font-size: 14px;
    text-align: justify;
  }
}

.static-sidebar {
  padding: 40px 20px 40px 0;

  &__image {
    width: 100%;
  }
}


.map-wrapper {
  margin-top: 100px;
  margin-bottom: 40px;
  margin-right: 10px;
  @include filter(grayscale(60%));
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 740px) {
  .map-wrapper {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.prices {
  dt {
    float: left;
    clear: left;
    width: 50px;
  }
}


@media (max-width: 960px) {
  .static-nav-menu {
    margin-top: 0;
  }
}