.static-page {
  background-color: #ffffff;

  &__content {
    @include display(flex);
    @include flex-wrap(wrap);

    &:before,
    &:after {
      display: none;
    }
  }
}
.static-tab {
  display: none;

  &.active {
    display: inherit;
  }
}

.passes-days {
  justify-content: space-between;
  .day-list {
    margin: 0 10px;
  }
}
.venues-static {
  display: flex;
  flex-direction: row;
  justify-content: start;

  .flex-column {
    margin: 0 30px 0 0;
  }
}

.static-nav-menu {
  @include list-unstyled;
  position: relative;
  width: 20%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  li {
    @include white-border-button;
    margin-bottom: 20px;
    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.static-nav {
  //&__item {
  //  @include lato-black;
  //  font-size: 18px;
  //  border-bottom: 1px #DDD solid;
  //  width: 90%;
  //  padding: 0 10px;
  //
  //  a {
  //    padding: 20px 0;
  //    display: block;
  //    color: #898989;
  //  }
  //
  //  &--active a{
  //    color: #131313;
  //  }
  //
  //  &:last-child {
  //    border-bottom: 0;
  //  }
  //}
}

.static-content {
  @include text4;
  width: 80%;
  flex-direction: row;
  justify-content: center;

  .flex-row {
    width: 100%;
  }
  strong {
    color: $accent-color;
  }
  //padding: 40px 30px;
  //min-height: 350px;
  //
  //&__image {
  //  margin-bottom: 4px;
  //  @include filter(grayscale(100%));
  //
  //  &:hover {
  //    @include filter(none);
  //    cursor: pointer;
  //  }
  //}
  //
  //&__caption {
  //  @include lato;
  //  font-size: 12px;
  //  color: #626262;
  //  margin-bottom: 15px;
  //}
  //
  .flatpage-content {
    width: 100%;
    margin-right: 50px;
  }

  .main-title {
    @include title4;
    margin-bottom: 70px;

    .white-text {
      color: $white-transparent;
    }
    //@include lato-black;
    //color: $main-accent-color;
    //margin-top: 0;
    //margin-bottom: 24px;
    //font-size: 32px;
  }
  //
  //h2 {
  //  @include lato-black;
  //  font-size: 18px;
  //  margin-top: 20px;
  //  margin-bottom: 13px;
  //}
  //
  //p {
  //  @include lato;
  //  font-size: 14px;
  //  text-align: justify;
  //}
}

//.static-sidebar {
//  padding: 40px 30px 40px 0;
//
//  &__image {
//    width: 100%;
//  }
//}
//
//
.map-wrapper {
  padding-bottom: 40px;
  @include filter(grayscale(60%));
}
//
//@media (max-width: 740px) {
//  .map-wrapper {
//    margin-top: 0;
//    margin-bottom: 20px;
//    margin-left: -10px;
//    margin-right: -10px;
//    padding-right: 0;
//  }
//}
//
//.prices {
//  dt {
//    float: left;
//    clear: left;
//    width: 50px;
//  }
//}
//
//
//@media (max-width: 960px) {
//  .static-nav-menu {
//    margin-top: 0;
//  }
//}
