{% load static from staticfiles %}
<div class="flex-row">
    <div class="artist-payout-data-left">
        <div class="flex-column content-flex-end">
            
            
        <div class="artist-payout-data-text">
            <div class="text1">Total archive usage this period</div>
            <div class="text9 accent-color" id='past-event-seconds' data-seconds='{{ earning.payout_period.total_seconds }}'> </div>
        </div>
        <div class="artist-payout-data-text">
            <div class="text1">{{ artist.full_name }} this period</div>
            <div class="text9 accent-color" id='past-artist-seconds' data-seconds='{{ earning.artist_seconds }}'></div>
        </div>
        <div class="artist-payout-data-text">
            <div class="text1">Ratio</div>
            <div class="text9 accent-color">{{ earning.artist_ratio|floatformat:"-5" }}% of archive pool</div>
        </div>
    </div>
    </div>
    <div>
        <div class="artist-payout-data-text">
            <div class="text1">Archive revenue this period</div>
            <div class="text9 accent-color">$ {{earning.payout_period.total_amount|floatformat:"2"}}</div>
        </div>
        <div class="artist-payout-data-text">
            <div class="text1">{{ artist.full_name }}'s share this period</div>
            <div class="text9 accent-color">$ {{ earning.amount|floatformat:"2" }}</div>
            <div class="text8 accent-color">Amounts less than $20 will be carried over to the next payment period</div>
        </div>
    </div>
</div>

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script>
    function formattedPayout(seconds) {
        var hrs = Math.floor(seconds / 3600);
        seconds -= hrs * 3600;
        var mnts = Math.floor(seconds / 60);
        seconds -= mnts * 60;
        formattedString = hrs + " hrs " + mnts + " min " + seconds + " seconds"
        return formattedString
    }
    var downloadButton = document.getElementById('download-button')
    var artistSeconds = document.getElementById('past-artist-seconds')
    var eventsSeconds = document.getElementById('past-event-seconds')
    var artistSecondsValue = $(artistSeconds).data('seconds')
    var eventsSecondsValue = $(eventsSeconds).data('seconds')
    $(document).ready(function () {
        artistSeconds.innerHTML = formattedPayout(artistSecondsValue)
        eventsSeconds.innerHTML = formattedPayout(eventsSecondsValue)
        downloadButton.innerHTML = '       <a href="{{ earning.payout_period.musicians_payout_spreadsheet.url }}" download> <button class="white-border-button payout-bar-button"> Download XLS </button> </a>'

    });
</script> {% endblock %}