{% load static from staticfiles %}
{% load fromisoformat %}

{% with set=event_set %}


  <div class="artist-set-actions">
    <div class="button-row button-row-margin">

      <div class="flex-row">
        {% if is_admin and set.has_media %}
        <button class="set-button event-edit-button white-border-button"
          data-ajax-edit-url="{% url 'artist_dashboard:event_edit_ajax' pk=event.id slug=event.slug %}">
        Edit
        </button>
        {% if not event.is_future %}
        {% if set.video_recording and set.video_recording.is_published or set.audio_recording and set.audio_recording.is_published %}
        <button id="private-button" class="publish-button set-button" onclick="askPrivate({{ set.id }})"> Public </button>
        <button id="public-button" class="publish-button set-button hidden" onclick="askPublish({{ set.id }})"> Private </button>
        {% else %}
        <button id="public-button" class="publish-button set-button" onclick="askPublish({{ set.id }})"> Private </button>
        <button id="private-button" class="publish-button set-button hidden" onclick="askPrivate({{ set.id }})"> Public </button>
        {% endif %}
        {% endif %}
        {% else %}
        {% if is_admin %}
        <button class="set-button event-edit-button white-border-button"
          data-ajax-edit-url="{% url 'artist_dashboard:event_edit_ajax' pk=event.id slug=event.slug %}">
        Edit
        </button>
        {% else %}
        <button class="white-border-button">Download</button>
        {% endif %}
        {% if not event.is_future %}
        {% if set.video_recording and set.video_recording.is_published or set.audio_recording and set.audio_recording.is_published %}
        <button  class="set-button">Public</button>
        {% else %}
        <button  class="set-button">Private</button>
        {% endif %}
        {% endif %}
        {% endif %}
        <input type="submit" name="submit" value="Save event" class="white-border-button inline separated"
        id="submit-id-submit">
      </div>
    </div>
  </div>

  <div data-url="{% url  'artist_dashboard:my_past_events_info' pk=event.id %}"
       class="artist-dashboard-event-container">
    <div class="header-metrics-container not-show" style="width: 80%;">
      <div class="switch-video-metrics">
        <button class="white-border-button" id="back-to-events-list">
          <div class="artist-event-arrow">
            <img src="/static/image/arrow-right-red.svg" alt="">
          </div>
        </button>
        <button class="white-border-button video" id="video">Edit</button>
        <button class="white-border-button metrics" id="metrics">Metrics</button>
      </div>
      {% include 'artist_dashboard/artist-dashboard-events-metrics.html' %}
    </div>
    <div id="edit-event-dashboard" class="edit-event-dashboard" style="width: 100%; padding: 0; margin-top: 30px;"></div>
  </div>
{% endwith %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/event_form.js' %}"></script>
    <script src="{% static 'js/subpages.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/viewport-lenght-for-ios.js' %}"></script>
    <script>

            EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
        $('#edit-event-form .close-button').click(() => { $('#edit-event-form').modal('toggle') })

        $('#table-event-edit').on('click', function () {
            window.subpages.register();
            $('#edit-event-form').modal('show');
            var tabletSubpage = window.subpages.get("tablet-edit");
            tabletSubpage.setCallback(() => {         
            EventForm.init(false);
            })
            tabletSubpage.load();
              
        })
        $('.set-changer').on('click', function () {

            let formUrl = $(this).data('ajax-edit-url');
            $('#event-popup-load-gif').removeClass('hidden');
            $.ajax({
              type: 'GET',
              url: formUrl,
              success: function(data) {
                  console.log('data')
                $('#event-popup-load-gif').addClass('hidden');
                $('#edit-event-dashboard').html(data);
                EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
                EventForm.init(false);
                image_cropping.init();
              },
              error: function() {

              }
            });

            loadInfo($(this).data('url'));

        })
    </script>

   

    <script>
        ///
        var plays = document.getElementById("play-value");
        var time = document.getElementById("time-value");
        var mobilePlays = document.getElementById("mobile-play-value");
        var mobileTime = document.getElementById("mobile-time-value");

        var loadData = function () {
            var data = {};

            {% if event_set %}
            data.set_id = {{ event_set.id }};
            {% endif %}

            data.start = moment(eventDateFrom).format('YYYY-MM-DD');
            data.end = moment(eventDateTo).format('YYYY-MM-DD');

            var countsURL = "{% url 'event_counts' %}";
            $.ajax(countsURL, {
                data: data,
                success: function (response) {
                    console.log('-----------------------------');
                    console.log(response);
                    plays.innerHTML = response['playCount'];
                    mobilePlays.innerHTML = response['playCount'];
                    playedSeconds = response['secondsPlayed'];
                    time.innerHTML = moment.utc((playedSeconds) * 1000).format('HH:mm:ss');
                    mobileTime.innerHTML = moment.utc((playedSeconds) * 1000).format('HH:mm:ss');
                },
                type: 'GET',
                xhrFields: {
                    withCredentials: true
                }
            });
        };



        ///
        $('.mobile-event-opt .white-border-button').on('click', function () {
            $('.mobile-event-opt .white-border-button').css("background-color", "")
            $(this).css( "background-color", 'white' );
        })

        var eventDateFrom = new Date(2000, 0, 1);
        var eventDateTo = new Date();

        var payoutsUrl = '/dashboard/my-payouts';
        var minsData = {
            datasets: [
                {
                    label: "Total",
                    backgroundColor: "rgba(210,21,53,0)",
                    borderColor: "#ed1c24",
                    pointBackgroundColor: "#000",
                    pointBorderColor: "#000",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(220,220,220,1)"
                }
            ]

        };
        $(document).ready(function () {
          replaceWhiteSelects($("#event-info-mobile-card")[0])
          replaceWhiteSelects($("#artistEventsInfo")[0])

          if ('{{ event.is_future }}' === 'False') {
            loadData();
          }

        $( "#mobile_artist_metrics" ).change(function() {
            //alert($(this).data('start'));
            thisDate= new Date()
            pastDate = new Date(1994, 0, 1)
            if ($(this).val() == "custom") {
                $("#myMobileMetrics").show()
                return;
            }else if ($(this).val() == "All Time") {
                eventDateFrom = (pastDate.getMonth() + 1) + '/' + pastDate.getDate() + '/' + pastDate.getFullYear();
                eventDateTo = (thisDate.getMonth() + 1) + '/' + thisDate.getDate() + '/' + thisDate.getFullYear();
            } else if ($(this).val() == "This Period") {
                eventDateFrom = "{{current_payout_period.period_start|date:'m/d/Y'}}";
                eventDateTo = "{{current_payout_period.period_end|date:'m/d/Y'}}";
            } else {
                eventDateFrom = $(this).find(":selected").data("start");
                eventDateTo =  $(this).find(":selected").data("end");
            }
            $("#myMobileMetrics").hide()
            loadData();
          });


        $(".datepicker-dashboard-left-panel > div").click(function () {
            //alert($(this).data('start'));

            if ($(this).data('date') == "all") {
                $("#search-date-picker-from input").datepicker("update", new Date(2000, 0, 1));
                $("#search-date-picker-to input").datepicker("update", new Date());
            } else if ($(this).data('date') == "period") {
                d = new Date();
                d.setFullYear(d.getFullYear() - 1);
                $("#search-date-picker-from input").datepicker("update", d);
                $("#search-date-picker-to input").datepicker("update", new Date());
            } else {
                $("#search-date-picker-from input").datepicker("update", new Date($(this).data('start')));
                $("#search-date-picker-to input").datepicker("update", new Date($(this).data('end')));
            }

            eventDateFrom = $("#search-date-picker-from input").datepicker('getDate');
            eventDateTo = $("#search-date-picker-to input").datepicker('getDate');

            $("#datepicker-description").html($(this).text());

            $("#search-date-picker-to input").click();
            $("#search-date-picker-to input").focus();
        });

        ////////////////

        $('.artist-events-list-info .datepicker-dashboard-btn').bind("click", ToggleDisplay);

        function ToggleDisplay(event) {
            if ($(".artist-events-list-info .datepicker-container").data('shown'))
                hide(event);
            else 
                display();
        }

        function display() {
            $(".artist-events-list-info  .datepicker-container").css("display", "flex").hide().fadeIn(500, function() {
                $(".artist-metrics-header .artist-metrics-header").bind("click", hide);
                $(".artist-events-list-info .datepicker-container").data('shown', true);
            });

            $("#search-date-picker-from input").click();
            $("#search-date-picker-from input").focus();
        }

        function hide(event) {
            $(".artist-metrics-container .datepicker-container").fadeOut(500, function () {
                $(".artist-metrics-header .artist-metrics-header").unbind("click");
                $(".artist-metrics-container .datepicker-container").data('shown', false);
            });
        }
        

        /////////////////////

        var $datePickerFrom = $('#search-date-picker-from input');
        $datePickerFrom.datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            container: '#search-date-picker-from',
            showOnFocus: false
        });

        $datePickerFrom.on('changeDate', function (newDate) {
            eventDateFrom = newDate.date;
            $("#search-date-picker-to input").click();
            $("#search-date-picker-to input").focus();
        });

        $datePickerFrom.on('click', function () {
            var dropdown = $('#search-date-picker .dropdown-menu');
            if (dropdown[0] && dropdown[0].style.display === 'block') {
                $datePickerFrom.datepicker('hide');
            } else {
                $datePickerFrom.datepicker('show');
            }
        });

        //////////////////////

        var $datePickerTo = $('#search-date-picker-to input');
        $datePickerTo.datepicker({
            format: 'mm/dd/yyyy',
            autoclose: false,
            container: '#search-date-picker-to',
            showOnFocus: false
        });

        $datePickerTo.on('changeDate', function (newDate) {
            eventDateTo = newDate.date;

            from = (eventDateFrom.getMonth() + 1) + '/' + eventDateFrom.getDate() + '/' + eventDateFrom.getFullYear();
            to = (eventDateTo.getMonth() + 1) + '/' + eventDateTo.getDate() + '/' + eventDateTo.getFullYear();

            $("#datepicker-description").html(from + " - " + to);
        });

        $datePickerTo.on('click', function () {
            var dropdown = $('#search-date-picker .dropdown-menu');
            if (dropdown[0] && dropdown[0].style.display === 'block') {
                $datePickerTo.datepicker('hide');
            } else {
                $datePickerTo.datepicker('show');
            }
        });

        ///////////

        $("#apply-button").click(function () {
            $(".artist-events-list-info .datepicker-container").fadeOut(500, function () {
                $(document).unbind("click");
                $(".artist-events-list-info .datepicker-container").data('shown', false);
            });

            loadData();
        });

    });
    //////////
    $("#mobile-option-container > *:not(#mobile-option-metrics)").hide()
    $(".white-border-button.disabled").click(function () {
        $("#mobile-option-container > *").hide()
        $("#not-authorized-text").show()
    });

    $("#mobile-metrics-button .white-border-button:not(.disabled, #table-event-edit)").click(function () {
        $("#mobile-option-container > *").hide()
        var $idForOption = $(this).data("id");
        if( $idForOption !== undefined){
            $("#mobile-option-container > #"+ $idForOption).show()
        }
    });
     //////////////////
     function makeSetPrivateMobile(eventId) {
        $.post('/events/sets/' + eventId + '/private/', {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function (data, status) {
        });
        hideMakePrivate();
        $("#set-id-" + selectedSetId).find('.publish-button').replaceWith(
            '<button class="publish-button" onclick="askPublish(' + selectedSetId + ')">Publish</button>'
        )
        $("#set-id-" + selectedSetId).find('.set-status').text('Hidden')
        hideSuccess('private')
    }
  
    function publishSetMobile(eventId) {
        $.post('/events/sets/' + eventId + '/publish/', {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(data, status) { });
        hidePublish();
        $("#set-id-" + selectedSetId).find('.publish-button').replaceWith(
            '<button class="publish-button" onclick="askPrivate(' + selectedSetId + ')">Make Private</button>'
        )
        $("#set-id-" + selectedSetId).find('.set-status').text('Published');
        hideSuccess('public')
    }
    ////////
    function closeEvent(){
        $("#artistEventsContainer").show();
        $("#event-info-mobile-card").hide();
        $(".refine-container").css("display", "flex")
    }
    //////////
    
    /////////////////////

    var $datePickerFromMetricsMobile = $('#search-date-picker-from-mobile-metrics input');
    $datePickerFromMetricsMobile.datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,
        container: '#search-date-picker-from-mobile-metrics',
        showOnFocus: false
    });

    $datePickerFromMetricsMobile.on('changeDate', function (newDate) {
        eventDateFrom = newDate.date;
        $("#search-date-picker-for-mobile-metrics input").click();
        $("#search-date-picker-for-mobile-metrics input").focus();
    });

    $datePickerFromMetricsMobile.on('click', function () {
        var dropdown = $('#search-date-picker .dropdown-menu');
        if (dropdown[0] && dropdown[0].style.display === 'block') {
            $datePickerFromMetricsMobile.datepicker('hide');
        } else {
            $datePickerFromMetricsMobile.datepicker('show');
        }
    });

    //////////////////////

    var $datePickerToMetricsMobile = $('#search-date-picker-for-mobile-metrics input');
    $datePickerToMetricsMobile.datepicker({
        format: 'mm/dd/yyyy',
        autoclose: false,
        container: '#search-date-picker-for-mobile-metrics',
        showOnFocus: false
    });

    $datePickerToMetricsMobile.on('changeDate', function (newDate) {
        eventDateTo = newDate.date;
        eventDateTo = (eventDateTo.getMonth() + 1) + '/' + eventDateTo.getDate() + '/' + eventDateTo.getFullYear();

        if(typeof eventDateFrom === "object"){
            eventDateFrom = (eventDateFrom.getMonth() + 1) + '/' + eventDateFrom.getDate() + '/' + eventDateFrom.getFullYear();
        }else if(typeof eventDateFrom === undefined){
            eventDateFrom = new Date()
            eventDateFrom = (eventDateFrom.getMonth() + 1) + '/' + eventDateFrom.getDate() + '/' + eventDateFrom.getFullYear();
        }
        
        $datePickerToMetricsMobile.datepicker('hide');
        loadData();
    });

    $datePickerToMetricsMobile.on('click', function () {
        var dropdown = $('#search-date-picker-for-mobile-metrics .dropdown-menu');
        if (dropdown[0] && dropdown[0].style.display === 'block') {
            $datePickerToMetricsMobile.datepicker('hide');
        } else {
            $datePickerToMetricsMobile.datepicker('show');
        }
    });

    ///////////
     {% if user.can_watch_video and event_set.video_recording_id %}
        
        jwplayer("player-video").setup({
            primary: 'html5',
    
            file: "{{ event_set.video_recording.get_redirect_url|safe }}",
            type: "mp4",
        
            title: "{{ event.title }}: Video set 0",
            mediaid: {{ event_set.video_recording_id }},
            image: {% if event.photo %}
                        {% include 'partials/thumbor_url.html' with photo_url=event.get_photo_url crop_box=event.photo_crop_box %}
                    {% else %}
                        {% include 'partials/thumbor_url.html' %}
                    {% endif %},
        
            skin: "{% static "jwplayer-skin/smalls.xml" %}",
            aspectratio: "16:9.60",
            width: "100%",
           
            });
    {% endif %}

    

    </script>

    
{% endblock %}
