{% load static from staticfiles %}

{% for gig_info in gigs %}
    {% with event=gig_info.event %}
        <div class="artist-event-row">
            <div class="artist-event-info flex-row">
                <div style="width: 290px;">
                    <div class="text2" style="max-width: 200px; padding-top: 3px;">
                        {{ event.title }}
                    </div>
                    <div class="text2 accent-color">
                        {{ event.date|date:'m/d/Y' }}
                    </div>
                </div>
                <div class="text4 flex-grow" style="padding-top: 3px;">
                    {% for gig_info in event.get_performers %}
                        {{ gig_info.artist.full_name }}
                        <span class="text-grey">({{ gig_info.role }})</span>
                        {% if not forloop.last %}  // {% endif %}
                    {% endfor %}
                </div>
                <div class="button-row button-row-margin">
                    {% if gig_info.is_admin %}
                        <a href="{% url "artist_dashboard:event_edit" pk=event.id slug=event.slug %}">
                            <button>Edit Event</button>
                        </a>
                    {% else %}
                        <button disabled>Edit Event</button>
                    {% endif %}
                </div>
            </div>

            {% if not is_future %}
            <div>
                {% for set in event.sets.all %}
                    <div class="flex-row artist-event-set text2" id="set-id-{{ set.id }}">
                        <div class="artist-event-card">
                            {% include 'events/event_card.html' with event=event %}
                        </div>
                        <div class="flex-column">
                            <div class="flex-row artsist-set-info">
                                <div>
                                    <div class="accent-color artist-event-date">
                                        {% if set.video_recording or set.audio_recording %}
                                            Set {% if set.video_recording %}{{ set.video_recording.set_number }}{% elif set.audio_recording %}{{ set.audio_recording.set_number }}{% endif %} - {{ set.start|date:"g:i A" }}
                                        {% else %}
                                            Set {{ forloop.counter }}
                                        {% endif %}
                                    </div>
                                    <div class="artist-publish-info">
                                        <div class="text-grey">
                                            {% if set.video_recording or set.audio_recording %}
                                                This set is currently <span class="accent-color">
                                                <span class="set-status">{% if set.video_recording %}{{ set.video_recording.state }}{% elif set.audio_recording %}{{ set.audio_recording.state }}{% endif %}</span>
                                            </span>
                                            {% else %}
                                                This set is not uploaded yet.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="artist-event-actions flex-row">
                                    <div class="button-row button-row-margin">
                                        {% if gig_info.is_admin and set.has_media %}
                                            {% if set.video_recording and set.video_recording.state != 'Published' or set.audio_recording and set.audio_recording.state != 'Published' %}
                                                <button class="publish-button" onclick="askPublish({{ set.id }})">
                                                    Publish
                                                </button>
                                            {% else %}
                                                <button class="publish-button" onclick="askPrivate({{ set.id }})">Make
                                                    Private
                                                </button>
                                            {% endif %}
                                            <button onclick="showSelectFormat('{{ set.video_recording.media_file.get_downloadable_sd_video_url }}', '{{ set.audio_recording.media_file.get_downloadable_file_url }}')">
                                                Download
                                            </button>
                                            <button>

                                                <a href="{% url "artist_dashboard:event_metrics" pk=event.id slug=event.slug %}">
                                                    Metrics
                                                </a>
                                            </button>
                                        {% else %}
                                            {% if set.video_recording and set.video_recording.state == 'Published' %}
                                                <button disabled>Make Private</button>
                                            {% else %}
                                                <button disabled>Publish</button>
                                            {% endif %}
                                            <button disabled>Download</button>
                                            <button disabled>Metrics</button>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            {% if not gig_info.is_admin %}
                                <div>
                                    <div class="text-grey">
                                        <div>Admin only material.</div>
                                        <div>To access this feature, you must be a designated admin for this event.</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div>
                <div class="flex-row artist-event-set text2" id="set-id-{{ set.id }}">
                    <div class="artist-event-card">
                        {% include 'events/event_card.html' with event=event %}
                    </div>
                    <div class="flex-row artsist-set-info">
                        <div class="artist-publish-info">
                            <div class="text-grey">
                                Sets at {{ event.get_set_hours_display }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endwith %}
{% endfor %}

