<div class="flex-row content-space-between">
    <div>
        <div class="title5">Seconds Viewed</div>
        <div>
            <div class="title2">Archive pool</div>
            <div class="text4 text-grey">{{ earning.payout_period.total_seconds }} seconds</div>
        </div>
        <div>
            <div class="title2">{{ artist.first_name }} {{ artist.last_name }}</div>
            <div class="text4 text-grey">{{ earning.artist_seconds }} seconds</div>
        </div>
        <div>
            <div class="title2">Ratio</div>
            <div class="text4 text-grey">{{ earning.artist_ratio|floatformat:"-5" }}% of archive
                pool
            </div>
        </div>
    </div>
    <div>
        <div class="title5">Earnings</div>
        <div>
            <div class="title2">Total pooled earnings</div>
            <div class="text4 text-grey">$ {{earning.payout_period.total_amount}}</div>
        </div>
        <div>
            <div class="title2">{{ artist.first_name }} {{ artist.last_name }}'s share</div>
            <div class="text4 text-grey">$ {{earning.amount}}</div>
        </div>
        <div>
            <div class="title2">Previous ledger balance</div>
            <div class="text4 text-grey">$ {{earning.ledger_balance}}</div>
        </div>
    </div>
    <div class="flex-column content-flex-end">
            <a href="{{ earning.payout_period.payout_spreadsheet.url }}" download>
        <button class="white-border-button">
                Download XLS
        </button>
            </a>
    </div>
</div>
