{% load static from staticfiles %}

{% for gig_info in gigs %}
    {% with event=gig_info.event %}
        <div class="artist-event-row" data-url="{% url  'artist_dashboard:my_past_events_info' pk=event.id %}">
            <div class="artist-event-info flex-row wrap">
                    <div class="artist-event-picture">
                        {% if event.photo %}
                          {% include 'partials/thumbored_picture.html' with photo_url=event.get_photo_url crop_box=event.photo_crop_box %}
                        {% else %}
                          {% include 'partials/thumbored_picture.html' %}
                        {% endif %}
                       
                      </div>
                    <div class="artist-event-details">
                      <div class="text2">
                        {{ event.date|date:'m/d/Y' }}
                    </div>
                    <div class="text2">
                        {{ event.title }}
                      </div>
                      <div class="text2 accent-color">
                          {{ event.venue }}
                        </div>
                  </div>
                  <div class="artist-event-arrow">
                    <img src="/static/image/arrow-right-red.svg" alt="">
                   
                  </div>
                 
                </div>
                    
                   
                </div>
     
    {% endwith %}
{% endfor %}

{% block extra_js %}
  <script>

    
    function loadInfo(infoUrl){
            $.ajax({
                url: infoUrl,

                success: function (data) {
                  $("#artistEventsInfo").html(data);
                  $("#artistEventsInfo").data("url", infoUrl);
                }
            });
        }   
    
    $('.artist-event-row').on('click', function () {
      var eventUrl = $(this).data("url");  
      
      loadInfo(eventUrl+"?set_id=0")
    })
    $('.eventChanger').on('click', function () {
      var eventUrl = $(this).data("url");  
      loadInfo(eventUrl)
    })
    $(document).ready(function() {
      $firstEvent= $('.artist-event-row')[0]
      eventUrl = $($firstEvent).data("url");  
      loadInfo(eventUrl+"?set_id=0")
    })
  </script> 
{% endblock %}
