{% load static from staticfiles %}
{% with set=event_set %}


<div class="artist-event-info flex-column wrap">
        <div style="width: 290px;">
           
            <div class="text2 accent-color">
                {{ event.date|date:'m/d/Y' }}
            </div>
            <div class="text2" style="max-width: 200px; padding-top: 3px;">
                    {{ event.title }}
                </div>
        </div>

        <div class="artist-event-info flex-row wrap">

        {% for set in event.sets.all %}
<div data-url="{% url  'artist_dashboard:my_past_events_info' pk=event.id %}?set_id={{ forloop.counter0 }}" class="text4 eventChanger">
        Set {{ forloop.counter0|add:"1" }} Id:{{set.id}} AA 
        
</div>

{% endfor %}
</div>
        <div class="text4 flex-column flex-grow" style="padding-top: 3px;">
            {% for gig_info in event.get_performers %}
                {{ gig_info.artist.full_name }}
                <span class="text-grey">({{ gig_info.role }})</span>
                {% if not forloop.last %}  // {% endif %}
            {% endfor %}
        </div>
    </div>



    
<div class="flex-column">
        <div class="flex-row wrap artsist-set-info">
            <div>
                <div class="accent-color artist-event-date text2">
                    {% if set.video_recording or set.audio_recording %}
                        Set {% if set.video_recording %}{{ set.video_recording.set_number }}{% elif set.audio_recording %}{{ set.audio_recording.set_number }}{% endif %} - {{ set.start|date:"g:i A" }}
                    {% else %}
                        Set {{ forloop.counter }}
                    {% endif %}
                </div>
                
                
            </div>


{% endwith %}

{% block extra_js %}
  <script>

    $('.eventChanger').on('click', function () {
      var eventUrl = $(this).data("url");  
      loadInfo(eventUrl)
    })
  
  </script>
{% endblock %}
