{# {% load pipeline %} #}
{% load static from staticfiles %}
{% load custom_cloudinary_tags %}

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# {% stylesheet 'dashboard_css' %} #}
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900' rel='stylesheet'
        type='text/css'>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <title>Artist Dashboard - SmallsLIVE</title>
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body data-spy="scroll" data-target=".scrollspy" data-offset="80">
<!-- ALERT TEST -->
{% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}

<!-- Dashboard navigation -->
<nav class="navbar navbar-default" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hb-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-scroll navbar__logo" href="{% url "home" %}"><img
              src="{% static 'smalls_live_horizontal_negative.svg' %}" alt=""/></a>
    </div>
    <div class="collapse navbar-collapse" id="hb-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="navbar__item {% block home-active %}{% endblock %}" data-step="1" data-intro="Here you can access your Artist Dashboard homepage. It displays most important information like current period information, last payout information, your personal information used for payouts and your top 10 performing events."><a href="{% url "artist_dashboard:home" %}">Dashboard</a></li>
        <li class="navbar__item {% block my-events-active %}{% endblock %}" data-step="3" data-intro="Here you can access a full list of events you played at Smalls."><a href="{% url "artist_dashboard:my_past_events" %}">My Events</a></li>
        <li class="navbar__item {% block edit-profile-active %}{% endblock %}" data-step="4" data-intro="This section allows you to edit your publicly displayed Artist profile on SmallsLIVE."><a href="{% url "artist_dashboard:edit_profile" %}">Edit Public Profile</a></li>
        <li class="navbar__item {% block legal-active %}{% endblock %}" data-step="5" data-intro="Here you can view, download, print out and sign the SmallsLIVE Artist Agreement."><a href="{% url "artist_dashboard:legal" %}">Legal {% if not user.legal_agreement_acceptance  %}<span class="contract__pending"><i
                class="fa fa-exclamation-circle"></i></span>{% endif %}</a></li>
        <li class="navbar__user hidden-xs">
          <div class="dropdown">
            <button class="navbar__user__button dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown"
                    aria-expanded="true">
              {% if request.user.artist.photo %}
                <img class="navbar__user__image" src="{% cloudinary_image_url photo_name=request.user.artist.get_photo_name_with_bucket photo_url=request.user.artist.get_photo_url|urlencode height=40 width=40 smart=True %}" alt=""/>
              {% else %}
                <img class="navbar__user__image" src="{% static 'image/dashboard/user-image.png' %}">
              {% endif %}
              <span><i class="fa fa-caret-down"></i></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "artist_dashboard:settings" %}">Settings</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "account_logout" %}">Log out</a></li>
            </ul>
          </div>
        </li>
        <li class="navbar__item visible-xs"><a href="{% url "artist_dashboard:settings" %}">Settings</a></li>
        <li class="navbar__item visible-xs"><a href="{% url "account_logout" %}">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of Dashboard navigation -->

<div class="content-wrapper">
  {% block content %}
  {% endblock content %}
</div>

  <footer class="container">
      <div class="footer-content">
          <img class="footer-logo" src="{% static "new_logo_transparent_black.svg" %}" alt=""/>
          <ul class="footer-nav">
              <li><a href="{% url "static_page" "privacy" %}">Privacy</a></li>
              <li><a href="{% url "terms-and-conditions" %}">Terms and Conditions</a></li>
          </ul>
          <address>
              <a href="https://goo.gl/maps/s4jFT">SmallsLIVE  |  183 West 10th Street, Basement  |  New York City, NY 10014</a> <br/>
              <a href="mailto:smallslive@gmail.com">smallslive@gmail.com</a> · <a href="tel:+164647614346">(646) 476-4346</a>
          </address>
      </div>
  </footer>

  {% javascript 'dashboard_js' %}
  {% block extra_js %}
  {% endblock extra_js %}
</body>
</html>
