{% extends "artist_dashboard/login_base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

{% block title %}Change your password{% endblock %}

{% block content %}

    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
    <div class="artist-dashboard__welcome__header login">
      <img src="{% static 'smalls_live_horizontal_negative.svg' %}" alt=""/>
      <span class="artist-dashboard__welcome__header__heading">Change your password</span>
    </div>
    <div class="artist-dashboard__welcome__form login">
      <form method="post" action=".">
        {% csrf_token %}
        <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
          <input type="password" class="form-control" name="password1" placeholder="New password">
          {% if form.password1.errors %}
            {% for error in form.password1.errors %}
              <p class="form-error-text" id="login-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
          <input type="password" class="form-control" name="password2" placeholder="New password (again)">
          {% if form.password2.errors %}
            {% for error in form.password2.errors %}
              <p class="form-error-text" id="login-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <input type="submit" class="account-settings__form__button" value="Change password">
      </form>
    </div>
    <div class="artist-dashboard__welcome__helper-text login">
      <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
      <p>Please <a href="mailto:smallslive@gmail.com">contact us</a> if you have any trouble resetting your password.</p>
    </div>
  </div>
{% endblock %}
