{% extends "artist_dashboard/home.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block extra_head %}
  <script>
    var django = {jQuery: jQuery};
  </script>
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
  <link href="/static/image_cropping/css/jquery.Jcrop.min.css" type="text/css" media="all" rel="stylesheet" />
  <link href="/static/image_cropping/css/image_cropping.css" type="text/css" media="all" rel="stylesheet" />
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
  <!-- Image Cropping is removing jQuery, let's remember it -->
  <script>
    window.__jQuery = window.jQuery;
    window.__$ = window.$;
  </script>
  <script type="text/javascript" src="/static/image_cropping/js/jquery.Jcrop.min.js"></script>
  <script type="text/javascript" src="/static/image_cropping/image_cropping.js"></script>
  <script>
    window.jQuery = window.__jQuery;
    window.$ = window.__$;
  </script>
{% endblock extra_head %}

{% block edit-profile-active %}active{% endblock %}

{% block title %}Edit my public profile{% endblock title %}

{% block content %}
    <div class="artist-profile-container edit flex-column items-flex-stretch">
        <div class="flex-column">
            
            <section class="section-title" style="justify-content: space-between;     padding-right: 3.5vw;">
                <div class="title1">Public profile</div>
                <div>
                    <a target="_blank" class="pull-right white-border-button"
                    href="{{ request.user.artist.get_absolute_url }}">
                        View on live site
                    </a>
                </div>
            </section>
        </div>
        <section class="artist-form">
            <form class="admin-interface__form" action="{% url 'artist_dashboard:edit_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-column" style="margin-top: 20px;">
                    <div class="flex-row content-centered artist-info-container" style="flex-wrap: wrap">
                        <div class="flex-column flex-grow artist-profile-picture">
                            <div class="form-group {% if form.photo.errors %}has-error{% endif %}">
                                <div id="image-upload-loading" class="loading hidden text-center">
                                  <img width="60" src="{% static 'image/loading.gif' %}">
                                </div>
                                <div class="cropping-photo">
                                  <div id="div_id_photo" class="form-group">
                                    <div class="controls ">
                                      {{ form.photo }}
                                    </div>
                                  </div>
                                  <div id="div_id_cropping" class="form-group">
                                    <div class="controls ">
                                      {{ form.cropping }}
                                      <label class="hidden">Enable cropping</label>
                                    </div>
                                  </div>
                                  {{ form.image_id }}
                                </div>
                            </div>
                        </div>
                        <div class="flex-column flex-grow">
                            <div class="flex-row">
                                <div class="form-group profile-first-name {% if form.first_name.errors %}has-error{% endif %}">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                    {% for error in form.first_name.errors %}
                                        <p class="form-error-text">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    {% for error in form.last_name.errors %}
                                        <p class="form-error-text">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="div_id_instruments"
                                 class="form-group  {% if form.instruments.errors %}has-error{% endif %}">
                                <label for="id_instruments" class="control-label ">Instruments</label>
                                {{ form.instruments }}
                                {% for error in form.instruments.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.website.errors %}has-error{% endif %}">
                                {{ form.website.label_tag }}
                                {{ form.website }}
                                {% for error in form.website.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.public_email.errors %}has-error{% endif %}">
                                {{ form.public_email.label_tag }}
                                {{ form.public_email }}
                                {% for error in form.public_email.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="title1" style="text-transform:uppercase">biography</h2>
                        <div id="div_id_biography" class="form-group {% if form.biography.errors %}has-error{% endif %}">
                            {{ form.biography }}
                            {% for error in form.biography.errors %}
                                <p class="form-error-text">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                <div class="flex-column items-center">

                    <div class="button-row button-row-margin">
                        <input type="submit" name="submit" value="Save">
                        <button onclick="window.location = '{% url 'artist_dashboard:home' %}'">Cancel</button>
                    </div>
                </div>
                </div>
            </form>
        </section>
    </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script>
    $("#id_instruments").selectize();
  </script>
  {% if request.GET.popup %}
    <script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
  {% endif %}
  <script>
    var uploadImagePreviewUrl = "{% url 'upload_image_preview' %}";
    var csrfToken = "{{ csrf_token }}";
  </script>
  <script src="{% static 'js/search/artist_dashboard.js' %}"></script>
{% endblock extra_js %}
