{% extends "artist_dashboard/home.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block extra_head %}
  <script>
    var django = {jQuery: jQuery};
  </script>
  {{ form.media }}
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block edit-profile-active %}active{% endblock %}

{% block title %}Edit my public profile{% endblock title %}

{% block content %}
    <div class="artist-profile-container edit flex-column items-flex-stretch">
        <div class="flex-column">
            
            <section class="section-title" style="justify-content: space-between;     padding-right: 3.5vw;">
                <div class="title1">Public profile</div>
                <div>
                    <a target="_blank" class="pull-right white-border-button"
                    href="{{ request.user.artist.get_absolute_url }}">
                        View on live site
                    </a>
                </div>
            </section>
        </div>
        <section class="artist-form">
            <form class="custom-form" action="{% url 'artist_dashboard:edit_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex-column" style="margin-top: 20px;">
                    <div class="flex-row content-centered artist-info-container" style="flex-wrap: wrap">
                        <div class="flex-column flex-grow artist-profile-picture">
                            <div class="form-group {% if form.photo.errors %}has-error{% endif %}">
                                {{ form.cropping }}
                                <div {% if form.cropping.value %} class="hide-original"{% endif %}>
                                        {{ form.photo }}
                                </div>
                                {% for error in form.photo.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex-column flex-grow">
                            <div class="flex-row">
                                <div class="form-group profile-first-name {% if form.first_name.errors %}has-error{% endif %}">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                    {% for error in form.first_name.errors %}
                                        <p class="form-error-text">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    {% for error in form.last_name.errors %}
                                        <p class="form-error-text">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="div_id_instruments"
                                 class="form-group  {% if form.instruments.errors %}has-error{% endif %}">
                                <label for="id_instruments" class="control-label ">Instruments</label>
                                {{ form.instruments }}
                                {% for error in form.instruments.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.website.errors %}has-error{% endif %}">
                                {{ form.website.label_tag }}
                                {{ form.website }}
                                {% for error in form.website.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group {% if form.public_email.errors %}has-error{% endif %}">
                                {{ form.public_email.label_tag }}
                                {{ form.public_email }}
                                {% for error in form.public_email.errors %}
                                    <p class="form-error-text">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="title1" style="text-transform:uppercase">biography</h2>
                        <div id="div_id_biography" class="form-group {% if form.biography.errors %}has-error{% endif %}">
                            {{ form.biography }}
                            {% for error in form.biography.errors %}
                                <p class="form-error-text">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                <div class="flex-column items-center">

                    <div class="button-row button-row-margin">
                        <input type="submit" name="submit" value="Save">
                        <button onclick="window.location = '{% url 'artist_dashboard:home' %}'">Cancel</button>
                    </div>
                </div>
                </div>
            </form>
        </section>
    </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script>
    $("#id_instruments").selectize();
  </script>
  {% if request.GET.popup %}
    <script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
  {% endif %}
  <script>
    $(document).ready (function () {
      $(".custom-form input[type='file']").change(function () {
        var filePath = $(this).val();
        var fileName = filePath.replace(/^.*[\\\/]/, '');
        $("label[for='id_photo']").text(fileName);

      });
    });
  </script>
{% endblock extra_js %}
