{% extends "artist_dashboard/event_detail.html" %}
{% load crispy_forms_tags static %}
{% load thumbor_tags %}

{% block title %}Edit event {{ event.title }}{% endblock %}

{% block extra_head %}
  <script>
    var django = {jQuery: jQuery};
  </script>
  {{ form.media }}
  <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
  {{ block.super }}

  <section class="aritst-event-edit container">
      {% include 'artist_dashboard/event_edit_form.html' %}
  </section>
{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'js/event_form.js' %}"></script>
  <script>
    var show_times = {{ show_times|safe }};
    $(document).ready(function() {
      EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
      EventForm.init(false);

      $('input[type="file"]').change(function (event)  {
        var $form = $('#event-edit-frm');
        var data = new FormData($form.get(0));
        $.ajax({
            url: "{% url 'upload_image_preview' %}",
            type: "POST",
            data: data,
            enctype: 'multipart/form-data',
            processData: false,  // Important!
            contentType: false,
            cache: false,
            success: function (data) {
              if (data.success) {
                $('#div_id_photo img').attr('src', data.src);
              }
            }
        });
      });


    });
  </script>
{% endblock %}
