{% extends "artist_dashboard/edit_profile.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block my-events-active %}active{% endblock %}
{% block edit-profile-active %}{% endblock %}

{% block title %}Event details for {{ event.title }}{% endblock %}

{% block content %}
    <div class="flex-column items-center">
        <h1 class="title2 accent-color">Archived Event</h1>
        <div class="text-grey title2">
            {% if event.get_venue_name %}{{ event.get_venue_name }} | {% endif %} {{ event.start|date:"F j, Y" }} | {{ event.start|date:"g:i A" }} & {{ event.end|date:"g:i A" }}
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.5/vue.min.js"></script>
  <script>
    Vue.config.debug = true;
    Vue.config.delimiters = ['{$', '$}'];
    var data = {
    {% for recording in event.recordings.all %}
      published_{{ recording.id }}: '{{ recording.state }}'{% if not forloop.last %},{% endif %}
    {% endfor %}
    };
    window.vm = new Vue({
      el: '#event-media',
      data: data,
      methods: {
        toggleState: function (name) {
          var fieldName = "published_" + name;
          var formName = "form_" + name;
          var form = this.$$[formName];
          var oldState = this.$data[fieldName];
          this.$data[fieldName] = oldState === "Published" ? "Hidden" : "Published";
          $.post(form.action, $(form).serialize()).fail(function() {
            this.$data[fieldName] = oldState;
          }.bind(this));
        }
      }
    });
  </script>

  <script>
    /* Emulate image cover css effect on event image */
    $(document).ready(function () {
      $(".jwplayer-placeholder").each(function(el) {
        jwplayer(this.id).setup({
          file: $(this).attr('data-audio'),
          width: "100%",
          height: 30
        });
      })
    });
    $('.jwplayer-video').on('click', function() {
      jwplayer("embed-container").setup({
        file: $(this).attr('data-video'),
        width: "100%",
        aspectratio: "16:9"
      });
    });
    $('#videoPlayerModal').on('hide.bs.modal', function () {
      jwplayer().remove();
    })

  </script>
{% endblock %}
