{% extends "artist_dashboard/edit_profile.html" %}
{% load static from staticfiles %}

{% block content %}
  <div class="content-wrapper">
    <div class="header-img container"></div>
    <div class="generic-text-page container">
      <h1>{{ event.full_title }}</h1>
      <ul>
        {% for recording in event.recordings_info.all %}
          <li>{{ event.full_title }} {{ recording.media_file.media_type|capfirst }} - Set {{ recording.set_number }} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
