{% extends "artist_dashboard/edit_profile.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block content %}
    <div class="content-wrapper">
        <section class="container cta cta--contract flexbox-equal-height">
            <div class="cta__content">
                <h1>Event Metrics Section</h1>
            </div>
        </section>
        <section class="page-heading-event flexbox-equal-height-nocenter container">
            <div class="col-xs-12 col-sm-8 page-heading-event__info">
                <p class="page-heading-event__name">{{ event.full_title }}</p>
                <p class="page-heading-event__date">{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</p>
                <p class="page-heading-event__label">With:</p>
                <p class="page-heading-event__artists">
                    {% for gig_info in event.get_performers %}
                        {{ gig_info.artist.full_name }} <span class="instrument">({{ gig_info.role }})</span>{% if not forloop.last %}  // {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs page-heading-event__image">
                {% if event.photo %}
                    <img id="eventImageCover" src="{% thumbor_url event.photo.url|urlencode height=320 width=320 smart=True %}" alt=""/>
                {% else %}
                    <img id="eventImageCover" src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                {% endif %}
            </div>
        </section>
        <section class="event-media container">
            <h2 class="event-media__heading">Event audio:</h2>
            <ul class="event-media__list">
                <!-- single media -->
                <li class="event-media__single flexbox-equal-height">
                    <div class="col-xs-12 col-sm-4 flexbox-equal-height">
                        <div class="event-media__single__icon published flexbox-equal-height">
                            <i class="fa fa-volume-down"></i>
                        </div>
                        <div class="event-media__details">
                            <p class="event-media__title">File-name-goes-here.mp3</p>
                            <p class="event-media__meta">124.6 mb</p>
                        </div>
                    </div>
                    <div class="event-media__controls col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download"><i class="fa fa-arrow-circle-down"></i><span>Download</span></a>
                        <button class="event-media__control make-private"><span></span></button>
                    </div>
                    <div class="event-media__player col-xs-12 col-sm-4">
                        <span class="jwplayer-placeholder">jwplayer goes here</span>
                    </div>
                </li>
                <!-- end of single media -->
                <!-- single media -->
                <li class="event-media__single flexbox-equal-height">
                    <div class="col-xs-12 col-sm-4 flexbox-equal-height">
                        <div class="event-media__single__icon private flexbox-equal-height">
                            <i class="fa fa-volume-down"></i>
                        </div>
                        <div class="event-media__details">
                            <p class="event-media__title">File-name-goes-here.mp3</p>
                            <p class="event-media__meta">124.6 mb</p>
                        </div>
                    </div>
                    <div class="event-media__controls col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download"><i class="fa fa-arrow-circle-down"></i><span>Download</span></a>
                        <button class="event-media__control publish"><span></span></button>
                    </div>
                    <div class="event-media__player col-xs-12 col-sm-4">
                        <span class="jwplayer-placeholder">jwplayer goes here</span>
                    </div>
                </li>
                <!-- end of single media -->
                <!-- single media -->
                <li class="event-media__single flexbox-equal-height">
                    <div class="col-xs-12 col-sm-4 flexbox-equal-height">
                        <div class="event-media__single__icon published flexbox-equal-height">
                            <i class="fa fa-volume-down"></i>
                        </div>
                        <div class="event-media__details">
                            <p class="event-media__title">File-name-goes-here.mp3</p>
                            <p class="event-media__meta">124.6 mb</p>
                        </div>
                    </div>
                    <div class="event-media__controls col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download"><i class="fa fa-arrow-circle-down"></i><span>Download</span></a>
                        <button class="event-media__control make-private"><span></span></button>
                    </div>
                    <div class="event-media__player col-xs-12 col-sm-4">
                        <span class="jwplayer-placeholder">jwplayer goes here</span>
                    </div>
                </li>
                <!-- end of single media -->
            </ul>
        </section>
        <section class="event-media container">
            <h2 class="event-media__heading">Event video:</h2>
            <ul class="event-media__list">
                <!-- single media -->
                <li class="event-media__single flexbox-equal-height">
                    <div class="col-xs-12 col-sm-4 flexbox-equal-height">
                        <div class="event-media__single__icon published flexbox-equal-height">
                            <i class="fa fa-video-camera"></i>
                        </div>
                        <div class="event-media__details">
                            <p class="event-media__title">File-name-goes-here.mp3</p>
                            <p class="event-media__meta">124.6 mb</p>
                        </div>
                    </div>
                    <div class="event-media__controls col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download"><i class="fa fa-arrow-circle-down"></i><span>Download</span></a>
                        <button class="event-media__control make-private"><span></span></button>
                    </div>
                    <div class="event-media__player col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download" data-target="#videoPlayerModal" data-toggle="modal"><i class="fa fa-play-circle"></i><span>Watch video</span></a>
                    </div>
                </li>
                <!-- end of single media -->
                <!-- single media -->
                <li class="event-media__single flexbox-equal-height">
                    <div class="col-xs-12 col-sm-4 flexbox-equal-height">
                        <div class="event-media__single__icon private flexbox-equal-height">
                            <i class="fa fa-video-camera"></i>
                        </div>
                        <div class="event-media__details">
                            <p class="event-media__title">File-name-goes-here.mp3</p>
                            <p class="event-media__meta">124.6 mb</p>
                        </div>
                    </div>
                    <div class="event-media__controls col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download"><i class="fa fa-arrow-circle-down"></i><span>Download</span></a>
                        <button class="event-media__control publish"><span></span></button>
                    </div>
                    <div class="event-media__player col-xs-12 col-sm-4">
                        <a href="#" class="event-media__download" data-target="#videoPlayerModal" data-toggle="modal"><i class="fa fa-play-circle"></i><span>Watch video</span></a>
                    </div>
                </li>
                <!-- end of single media -->
            </ul>
        </section>
        <section class="event-media artists-status container">
            <h2 class="event-media__heading">Contracts status:</h2>
            <ul class="contracts-list">
                <li><i class="fa fa-check-circle signed"></i>Me<span class="contracts-list__is-leader">leader</span></li>
                <li><i class="fa fa-check-circle"></i>Richard Clemens</li>
                <li><i class="fa fa-check-circle signed"></i>Murray Wall</li>
            </ul>
        </section>
    </div>

{% comment %}

    <div class="header-img container"></div>
    <div class="generic-text-page container" id="event">
      <h1>{{ event.full_title }}</h1>
      <h2>Audio</h2>
      <ul>
        {% for recording in event.recordings_info.audio.all %}
          <li>
            {{ event.full_title }} {{ recording.media_file.media_type|capfirst }} - Set {{ recording.set_number }}
            <form action="{% url "artist_dashboard:recording_toggle" pk=recording.id %}" method="post" v-el="form_{{ recording.id }}">
              <i class="fa {$ published_{{ recording.id }} == 'Published' ? 'fa-gear' : 'fa-wrench' $}"
                 v-on="click: toggleState('{{ recording.id }}')"  ></i>
              {% csrf_token %}
              <input type="hidden" name="state" value="{{ recording.state }}" v-model="published_{{ recording.id }}" />
            </form>
          </li>
        {% endfor %}
      </ul>
      <h2>Video</h2>
      <ul>
        {% for recording in event.recordings_info.video.all %}
          <li>{{ event.full_title }} {{ recording.media_file.media_type|capfirst }} - Set {{ recording.set_number }} </li>
        {% endfor %}
      </ul>
    </div>

{% endcomment %}

{% endblock content %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.5/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <script>
    Vue.config.debug = true;
    Vue.config.delimiters = ['{$', '$}'];
    var data = {
    {% for recording in event.recordings_info.all %}
      published_{{ recording.id }}: '{{ recording.state }}'{% if not forloop.last %},{% endif %}
    {% endfor %}
    };
    window.vm = new Vue({
      el: '#event',
      data: data,
      methods: {
        toggleState: function (name) {
          var fieldName = "published_" + name;
          var formName = "form_" + name;
          var form = this.$$[formName];
          var oldState = this.$data[fieldName];
          console.log(oldState);
          this.$data[fieldName] = oldState === "Published" ? "Hidden" : "Published";
          console.log(this.$data[fieldName]);
          $.post(form.action, $(form).serialize()).fail(function() {
            this.$data[fieldName] = oldState;
          }.bind(this));
        }
      }
    });
  </script>
{% endblock %}