{% load static %}
<div class="modal fade" id="event_edit_modal" tabindex="-1"
     role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div id="event-popup-load-gif" class="hiddenloading-image events-gif text-center">
        <img src="{% static 'image/loading.gif' %}" alt="" style="margin: 50px auto; width: 50px;">
      </div>
      <a href="#" class="close-button"></a>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
