<div class="modal fade" id="event_edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <a href="#" class="close-button"></a>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var $modal = $('#event_edit_modal');
    var $modalCloseButton = $($modal.find('.close-button')[0]);
    $modalCloseButton.click(function () {
      $modal.modal('hide');
    });
  });
</script>