{% extends "artist_dashboard/base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block home-active %}active{% endblock %}

{% block content %}
  <section class="container cta cta--contract flexbox-equal-height" data-step="7" data-intro="Please note that, for your Artist Dashboard to be fully in function (and for you to get your rightfully deserved money :)), you need to sign the Artist Agreement.">
      {% if not request.user.legal_agreement_acceptance %}
      <div class="cta__content">
          <h2>To gain access to Metrics, and to enter our Artists revenue sharing program, you need to review and sign The SmallsLIVE Artist Revenue Sharing Contract.</h2>
          <h3>To do that please visit the “Legal” section in the menu above, or click the button below.</h3>
          <a href="{% url "artist_dashboard:legal" %}" class="cta__button">Go to Legal</a>
      </div>
      {% endif %}
  </section>
  <section class="metric-graph graph-carousel container">
    <div class="metric-graph__header">
        <h3 class="metric-graph__title">This months performance:</h3>
        <ul class="metric-graph__switch">
            <li class="metric-graph__switch__option active" id="metric-graph__show-1">Plays</li>
            <li class="metric-graph__switch__option" id="metric-graph__show-2">Minutes</li>
        </ul>
    </div>
    <div class="metric-graph__instance" id="metric-graph__instance-1">
        <canvas id="graph-canvas"></canvas>
    </div>
  </section>
  <section class="container featured-metrics flexbox-equal-height">
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">Play count:</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">Today:</h2>
                  <h1 class="positive"><i class="fa fa-arrow-up"></i> 165</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">This month:</h2>
                  <h1 class="negative"><i class="fa fa-arrow-down"></i> 6184</h1>
              </div>
          </div>
      </div>
      <!-- End of single metric -->
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">Vs last month:</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">Minutes:</h2>
                  <h1 class="positive"><i class="fa fa-arrow-up"></i> 4.2%</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">Plays:</h2>
                  <h1 class="positive"><i class="fa fa-arrow-up"></i> 2.7%</h1>
              </div>
          </div>
      </div>
      <!-- End of single metric -->
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">My income</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">This month:</h2>
                  <h1 class="positive"><i class="fa fa-arrow-up"></i> $1247.14</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">vs last month:</h2>
                  <h1 class="negative"><i class="fa fa-arrow-down"></i> 1.9%</h1>
              </div>
          </div>
      </div>
      <!-- End of single metric -->
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">All time</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">Plays:</h2>
                  <h1 class="positive">61.4k</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">Mins:</h2>
                  <h1 class="positive">198.4hrs</h1>
              </div>
          </div>
      </div>
    </div>
      <!-- End of single metric -->
  </section>
  <section class="dashboard__best-list container">
      <div class="col-xs-12 col-sm-6">
          <p class="dashboard__section-title">My most viewed events:</p>
          <ul class="mini-events__container">
            {% for recording in most_viewed %}
              <!-- single mini event -->
              <li class="mini-event flexbox-equal-height flexbox-nowrap">
                <a href="{{ recording.event.get_absolute_url }}" class="mini-event__image col-xs-3 col-lg-2">
                  {% if recording.event.photo %}
                    <img src="{% thumbor_url recording.event.photo.url|urlencode height=84 width=84 smart=True %}"
                         alt=""/>
                  {% else %}
                    <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                  {% endif %}
                </a>
                <div class="mini-event__details col-xs-9 col-lg-10">
                  <p class="mini-event__details__date">{{ recording.event.listing_date|date:"n/j/Y" }}</p>
                  <a href="#" class="mini-event__details__title">{{ recording.event.title }}</a>
                  <div class="mini-event__details__labels">
                    <p>Added:</p>
                    <p>Views:</p>
                  </div>
                  <div class="mini-event__details__values">
                    <p>{{ recording.date_added|date:"n/j/Y" }}</p>
                    <p>{{ recording.view_count }}</p>
                  </div>
                </div>
              </li>
              <!-- end of single mini event -->
            {% endfor %}
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
          <p class="dashboard__section-title">My most listened to events:</p>
          <ul class="mini-events__container">
            {% for recording in most_listened_to %}
              <!-- single mini event -->
              <li class="mini-event flexbox-equal-height flexbox-nowrap">
                <a href="{{ recording.event.get_absolute_url }}" class="mini-event__image col-xs-3 col-lg-2">
                  {% if recording.event.photo %}
                    <img src="{% thumbor_url recording.event.photo.url|urlencode height=84 width=84 smart=True %}"
                         alt=""/>
                  {% else %}
                    <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                  {% endif %}
                </a>
                <div class="mini-event__details col-xs-9 col-lg-10">
                  <p class="mini-event__details__date">{{ recording.event.listing_date|date:"n/j/Y" }}</p>
                  <a href="#" class="mini-event__details__title">{{ recording.event.title }}</a>
                  <div class="mini-event__details__labels">
                    <p>Added:</p>
                    <p>Views:</p>
                  </div>
                  <div class="mini-event__details__values">
                    <p>{{ recording.date_added|date:"n/j/Y" }}</p>
                    <p>{{ recording.view_count }}</p>
                  </div>
                </div>
              </li>
              <!-- end of single mini event -->
            {% endfor %}
          </ul>
      </div>
  </section>
  <section class="dashboard__upcoming-events container">
      <p class="dashboard__section-title">My upcoming events at Smalls:</p>
      <ul class="upcoming-events__container">
        {% for gig_info in upcoming_events %}
        {% with event=gig_info.event  %}
          <li class="upcoming-event flexbox-equal-height flexbox-nowrap">
              <div class="upcoming-event__image col-xs-12 col-sm-3 col-lg-2">
                {% if event.photo %}
                  <a href="#"><img src="{% thumbor_url event.photo.url|urlencode height=140 width=140 smart=True %}" alt=""/></a>
                {% else %}
                  <a href="#"><img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/></a>
                {% endif %}
              </div>
              <div class="upcoming-event__details col-xs-12 col-sm-9 col-lg-10">
                  <p class="upcoming-event__details__date">{{ event.listing_date|date:"n/j/Y" }}</p>
                  <a href="{% url "artist_dashboard:event_detail" pk=event.id slug=event.slug %}" class="upcoming-event__details__title">{{ event.full_title }}</a>
                  <p class="upcoming-event__details__label">With:</p>
                  <p class="upcoming-event__details__artists">
                    {% for gig_info in event.get_performers %}
                      {{ gig_info.artist.full_name }} <span class="instrument">({{ gig_info.role }})</span>{% if not forloop.last %}  // {% endif %}
                    {% endfor %}
                  </p>
                  {% if gig_info.is_leader %}
                    <span class="is-leader">You are the leader.</span>
                    <a href="{% url "artist_dashboard:event_edit" pk=event.id slug=event.slug %}" class="red-arrow-button">Edit event</a><span class="arrow"></span>
                  {% endif %}
              </div>
          </li>
        {% endwith %}
        {% empty %}
          <p>No upcoming events.</p>
        {% endfor %}
      </ul>
  </section>
{% endblock content %}


{% block extra_js %}
  <script src="{% static 'js/intro/intro.min.js' %}"></script>
  <script>
      var firstLogin = {{ first_login|lower }};
      if (firstLogin) {
        $(document).ready(function () {
          if( $(window).width() > 1000) {
              introJs().start();
          }
        })
      }
  </script>

  <script>
    {% verbatim %}

		var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
		var playsData = {
			labels : ["07/01","07/02","07/03","07/04","07/05","07/06","07/07","07/08","07/09","07/10","07/11","07/12","07/13","07/14","07/15","07/16","07/17","07/18","07/19","07/20","07/21","07/22"],
			datasets : [
				{
					label: "Total",
					fillColor : "rgba(210,21,53,0)",
					strokeColor : "rgba(210,21,53,1)",
					pointColor : "rgba(210,21,53,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [129,87,120,176,130,183,164,68,165,133,141,197,212,196,178,290,144,128,156,99,146,165]
				},
				{
					label: "Audio",
					fillColor : "rgba(3,187,197,0)",
					strokeColor : "rgba(3,187,197,1)",
					pointColor : "rgba(3,187,197,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [42,31,56,88,108,135,87,35,77,68,99,98,105,108,101,150,88,64,68,77,98,88]
				},
                {
					label: "Video",
					fillColor : "rgba(235,148,9,0)",
					strokeColor : "rgba(235,148,9,1)",
					pointColor : "rgba(235,148,9,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [87,56,64,88,22,48,77,33,88,65,42,99,107,88,77,140,56,64,88,22,48,77]
				}
			]

		}

        var minsData = {
			labels : ["07/01","07/02","07/03","07/04","07/05","07/06","07/07","07/08","07/09","07/10","07/11","07/12","07/13","07/14","07/15","07/16","07/17","07/18","07/19","07/20","07/21","07/22"],
			datasets : [
				{
					label: "Total",
					fillColor : "rgba(210,21,53,0)",
					strokeColor : "rgba(210,21,53,1)",
					pointColor : "rgba(210,21,53,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [12.81, 2.8, 8.81, 7.26, 1.36, 5.16, 9.52, 6.5, 4.38, 4.03, 11.15, 7.25, 4.91, 7.09, 2.09, 3.47, 3.85, 7.35, 8.48, 5.83, 5.24, 6.87]
				},
				{
					label: "Audio",
					fillColor : "rgba(3,187,197,0)",
					strokeColor : "rgba(3,187,197,1)",
					pointColor : "rgba(3,187,197,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [6.25, 0.48, 2.01, 1.34, 0.14, 3.44, 2.67, 1.77, 1.93, 2.57, 5.1, 4.43, 2.3, 0.92, 1.92, 0.28, 1.24, 4.17, 1.64, 0.49, 0.22, 5.42]
				},
                {
					label: "Video",
					fillColor : "rgba(235,148,9,0)",
					strokeColor : "rgba(235,148,9,1)",
					pointColor : "rgba(235,148,9,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [6.56, 2.32, 6.8, 5.92, 1.22, 1.72, 6.85, 4.73, 2.45, 1.46, 6.05, 2.82, 2.61, 6.17, 0.17, 3.19, 2.61, 3.18, 6.84, 5.34, 5.02, 1.45]
				}
			]

		}

        window.onload = function(){
            var ctx = document.getElementById("graph-canvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(playsData, {
                responsive: true,
                maintainAspectRatio: false,
                bezierCurve : false,
                bezierCurveTension : 0.25,
                scaleShowVerticalLines: false,
                scaleOverride: false,
                showScale: true,
                pointDotRadius : 6,
                datasetStrokeWidth : 4,
                scaleFontSize: 10,
                scaleFontStyle: "bold",
                scaleFontColor: "#999",
                multiTooltipTemplate: "<%if (label){%><%=datasetLabel%>: <%}%><%= value %> plays"
            });
        }


        /* Toggyling different data */
        $(document).ready(function () {
            $("#metric-graph__show-1").click(function() {
                console.log("test");
                if (!($(this).hasClass("active"))) {
                    $(".metric-graph__switch__option.active").toggleClass("active");
                    $(this).toggleClass("active");
                    $('#graph-canvas').replaceWith('<canvas id="graph-canvas"></canvas>');
                    var ctx = document.getElementById("graph-canvas").getContext("2d");
                    window.myLine = new Chart(ctx).Line(playsData, {
                        responsive: true,
                        maintainAspectRatio: false,
                        bezierCurve : false,
                        bezierCurveTension : 0.25,
                        scaleShowVerticalLines: false,
                        scaleOverride: false,
                        showScale: true,
                        pointDotRadius : 6,
                        datasetStrokeWidth : 4,
                        scaleFontSize: 10,
                        scaleFontStyle: "bold",
                        scaleFontColor: "#999",
                        multiTooltipTemplate: "<%if (label){%><%=datasetLabel%>: <%}%><%= value %> plays"
                    });
                }
            })
            $("#metric-graph__show-2").click(function() {
                console.log("test2");
                if (!($(this).hasClass("active"))) {
                    $(".metric-graph__switch__option.active").toggleClass("active");
                    $(this).toggleClass("active");
                    $('#graph-canvas').replaceWith('<canvas id="graph-canvas"></canvas>');
                    var ctx = document.getElementById("graph-canvas").getContext("2d");
                    window.myLine = new Chart(ctx).Line(minsData, {
                        responsive: true,
                        maintainAspectRatio: false,
                        bezierCurve : false,
                        bezierCurveTension : 0.25,
                        scaleShowVerticalLines: false,
                        scaleOverride: false,
                        showScale: true,
                        pointDotRadius : 6,
                        datasetStrokeWidth : 4,
                        scaleFontSize: 10,
                        scaleFontStyle: "bold",
                        scaleFontColor: "#999",
                        multiTooltipTemplate: "<%if (label){%><%=datasetLabel%>: <%}%><%= value %> hrs"
                    });
                }
            })
        })


      {% endverbatim %}
	</script>
{% endblock %}