{% extends "artist_dashboard/base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block home-active %}active{% endblock %}

{% block content %}
  {% if not request.user.legal_agreement_acceptance %}
      <section class="container cta cta--contract flexbox-equal-height" data-step="7" data-intro="Please note that, for your Artist Dashboard to be fully in function (and for you to get your rightfully deserved money :)), you need to sign the Artist Agreement.">
          <div class="cta__content">
              <h2>To gain full access to Metrics, and to enter our Artists revenue sharing program, you need to review and sign The SmallsLIVE Artist Revenue Sharing Contract.</h2>
              <h3>To do that please visit the “Legal” section in the menu above, or click the button below.</h3>
              <a href="{% url "artist_dashboard:legal" %}" class="cta__button">Go to Legal</a>
          </div>
      </section>
  {% else %}
      <section class="metric-graph graph-carousel container">
        <div class="metric-graph__header">
            <h3 class="metric-graph__title">This months performance:</h3>
            <ul class="metric-graph__switch">
                <li class="metric-graph__switch__option data active" id="metric-graph__show__data-1">Plays</li>
                <li class="metric-graph__switch__option data" id="metric-graph__show__data-2">Minutes</li>
            </ul>
        </div>
        <div class="metric-graph__instance" id="metric-graph__instance-1">
            <canvas class="graph-canvas" id="graph-canvas"></canvas>
        </div>
      </section>
  {% endif %}
  <section class="container featured-metrics flexbox-equal-height">
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">Plays count:</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">This week:</h2>
                  <h1 class="{% if weekly_artist_stats.trend > 0 %}positive{% else %}negative{% endif %}">{{ weekly_artist_stats.play_count }}</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">This month:</h2>
                  <h1 class="{% if monthly_artist_stats.trend > 0 %}positive{% else %}negative{% endif %}">{{ monthly_artist_stats.play_count }}</h1>
              </div>
          </div>
      </div>
      <!-- End of single metric -->
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">Time played:</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">This week:</h2>
                  <h1 class="{% if weekly_artist_stats.trend > 0 %}positive{% else %}negative{% endif %}">{{ weekly_artist_stats.time_played }}</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">This month:</h2>
                  <h1 class="{% if monthly_artist_stats.trend > 0 %}positive{% else %}negative{% endif %}">{{ monthly_artist_stats.time_played }}</h1>
              </div>
          </div>
      </div>
      <!-- End of single metric -->
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">Trend:</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">Vs last week:</h2>
                  {% if weekly_artist_stats.trend == 'n/a'%}
                    <h1 class="normal">{{ monthly_artist_stats.trend }}</h1>
                  {% elif weekly_artist_stats.trend > 0 %}
                    <h1 class="positive"><i class="fa fa-arrow-up"></i> {{ weekly_artist_stats.trend }}%</h1>
                  {% else %}
                    <h1 class="negative"><i class="fa fa-arrow-down"></i> {{ weekly_artist_stats.trend }}%</h1>
                  {% endif %}
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">Vs last month:</h2>
                  {% if monthly_artist_stats.trend == 'n/a'%}
                    <h1 class="normal">{{ monthly_artist_stats.trend }}</h1>
                  {% elif monthly_artist_stats.trend > 0 %}
                    <h1 class="positive"><i class="fa fa-arrow-up"></i> {{ monthly_artist_stats.trend }}%</h1>
                  {% else %}
                    <h1 class="negative"><i class="fa fa-arrow-down"></i> {{ monthly_artist_stats.trend }}%</h1>
                  {% endif %}

              </div>
          </div>
      </div>
      <!-- End of single metric -->
      <!-- Single metric -->
      <div class="col-xs-6 col-sm-3 featured-metrics__metric">
          <div class="featured-metrics__metric__name">Total SmallsLIVE Archive:</div>
          <div class="featured-metrics__metric__content">
              <div class="featured-metrics__metric__content__primary">
              <div class="featured-metrics__metric__content__primary">
                  <h2 class="neutral">This week:</h2>
                  <h1 class="normal">{{ weekly_stats.time_played }}</h1>
              </div>
              <div class="featured-metrics__metric__content__secondary">
                  <h2 class="neutral">This month:</h2>
                  <h1 class="normal">{{ monthly_stats.time_played }}</h1>
              </div>
          </div>
      </div>
    </div>
      <!-- End of single metric -->
  </section>
  <section class="dashboard__best-list container">
      <div class="col-xs-12 col-sm-6">
          <p class="dashboard__section-title">My most viewed events:</p>
          <ul class="mini-events__container">
            {% for recording in most_viewed %}
              <!-- single mini event -->
              <li class="mini-event flexbox-equal-height flexbox-nowrap">
                <a href="{{ recording.event.get_absolute_url }}" class="mini-event__image col-xs-3 col-lg-2">
                  {% if recording.event.photo %}
                    <img src="{% thumbor_url recording.event.photo.url|urlencode height=84 width=84 smart=True %}"
                         alt=""/>
                  {% else %}
                    <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                  {% endif %}
                </a>
                <div class="mini-event__details col-xs-9 col-lg-10">
                  <p class="mini-event__details__date">{{ recording.event.listing_date|date:"n/j/Y" }}</p>
                  <a href="#" class="mini-event__details__title">{{ recording.event.title }}</a>
                  <div class="mini-event__details__labels">
                    <p>Added:</p>
                    <p>Views:</p>
                  </div>
                  <div class="mini-event__details__values">
                    <p>{{ recording.date_added|date:"n/j/Y" }}</p>
                    <p>{{ recording.view_count }}</p>
                  </div>
                </div>
              </li>
              <!-- end of single mini event -->
            {% endfor %}
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
          <p class="dashboard__section-title">My most listened to events:</p>
          <ul class="mini-events__container">
            {% for recording in most_listened_to %}
              <!-- single mini event -->
              <li class="mini-event flexbox-equal-height flexbox-nowrap">
                <a href="{{ recording.event.get_absolute_url }}" class="mini-event__image col-xs-3 col-lg-2">
                  {% if recording.event.photo %}
                    <img src="{% thumbor_url recording.event.photo.url|urlencode height=84 width=84 smart=True %}"
                         alt=""/>
                  {% else %}
                    <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                  {% endif %}
                </a>
                <div class="mini-event__details col-xs-9 col-lg-10">
                  <p class="mini-event__details__date">{{ recording.event.listing_date|date:"n/j/Y" }}</p>
                  <a href="#" class="mini-event__details__title">{{ recording.event.title }}</a>
                  <div class="mini-event__details__labels">
                    <p>Added:</p>
                    <p>Views:</p>
                  </div>
                  <div class="mini-event__details__values">
                    <p>{{ recording.date_added|date:"n/j/Y" }}</p>
                    <p>{{ recording.view_count }}</p>
                  </div>
                </div>
              </li>
              <!-- end of single mini event -->
            {% endfor %}
          </ul>
      </div>
  </section>
  <section class="dashboard__upcoming-events container">
      <p class="dashboard__section-title">My upcoming events at Smalls:</p>
      <ul class="upcoming-events__container">
        {% for gig_info in upcoming_events %}
        {% with event=gig_info.event  %}
          <li class="upcoming-event flexbox-equal-height flexbox-nowrap">
              <div class="upcoming-event__image col-xs-12 col-sm-3 col-lg-2">
                {% if event.photo %}
                  <a href="#"><img src="{% thumbor_url event.photo.url|urlencode height=140 width=140 smart=True %}" alt=""/></a>
                {% else %}
                  <a href="#"><img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/></a>
                {% endif %}
              </div>
              <div class="upcoming-event__details col-xs-12 col-sm-9 col-lg-10">
                  <p class="upcoming-event__details__date">{{ event.listing_date|date:"n/j/Y" }}</p>
                  <a href="{% url "artist_dashboard:event_detail" pk=event.id slug=event.slug %}" class="upcoming-event__details__title">{{ event.full_title }}</a>
                  <p class="upcoming-event__details__label">With:</p>
                  <p class="upcoming-event__details__artists">
                    {% for gig_info in event.get_performers %}
                      {{ gig_info.artist.full_name }} <span class="instrument">({{ gig_info.role }})</span>{% if not forloop.last %}  // {% endif %}
                    {% endfor %}
                  </p>
                  {% if gig_info.is_leader %}
                    <span class="is-leader">You are the leader.</span>
                    <a href="{% url "artist_dashboard:event_edit" pk=event.id slug=event.slug %}" class="red-arrow-button">Edit event</a><span class="arrow"></span>
                  {% endif %}
              </div>
          </li>
        {% endwith %}
        {% empty %}
          <p>No upcoming events.</p>
        {% endfor %}
      </ul>
  </section>
{% endblock content %}


{% block extra_js %}
  <script src="{% static 'js/intro/intro.min.js' %}"></script>
  <script>
      var firstLogin = {{ first_login|lower }};
      if (firstLogin) {
        $(document).ready(function () {
          if( $(window).width() > 1000) {
              introJs().start();
          }
        })
      }
  </script>

  <script>

		var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var playsData = {
      labels: {{ date_counts.dates|safe }},
      datasets: [
        {
          label: "Total",
          fillColor: "rgba(210,21,53,0)",
          strokeColor: "rgba(210,21,53,1)",
          pointColor: "rgba(210,21,53,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: {{ date_counts.total_plays_list }}
        },
        {
          label: "Audio",
          fillColor: "rgba(56,193,153,0)",
          strokeColor: "rgba(56,193,153,1)",
          pointColor: "rgba(56,193,153,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: {{ date_counts.audio_plays_list }}
        },
        {
          label: "Video",
          fillColor: "rgba(125,77,117,0)",
          strokeColor: "rgba(125,77,117,1)",
          pointColor: "rgba(125,77,117,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: {{ date_counts.video_plays_list }}
        }
      ]

    };

    var minsData = {
      labels: {{ date_counts.dates|safe }},
      datasets: [
        {
          label: "Total",
          fillColor: "rgba(210,21,53,0)",
          strokeColor: "rgba(210,21,53,1)",
          pointColor: "rgba(210,21,53,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: {{ date_counts.total_seconds_list }}
        },
        {
          label: "Audio",
          fillColor: "rgba(56,193,153,0)",
          strokeColor: "rgba(56,193,153,1)",
          pointColor: "rgba(56,193,153,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: {{ date_counts.audio_seconds_list }}
        },
        {
          label: "Video",
          fillColor: "rgba(125,77,117,0)",
          strokeColor: "rgba(125,77,117,1)",
          pointColor: "rgba(125,77,117,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: {{ date_counts.video_plays_list }}
        }
      ]

    };
    {% verbatim %}

        window.onload = function(){
            var ctx = document.getElementById("graph-canvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(playsData, {
                responsive: true,
                maintainAspectRatio: false,
                bezierCurve : false,
                bezierCurveTension : 0.25,
                scaleShowVerticalLines: false,
                scaleOverride: false,
                showScale: true,
                pointDotRadius : 6,
                datasetStrokeWidth : 4,
                scaleFontSize: 10,
                scaleFontStyle: "bold",
                scaleFontColor: "#999",
                multiTooltipTemplate: "<%if (label){%><%=datasetLabel%>: <%}%><%= value %> plays"
            });
        }


        /* Toggyling different data */
        $(document).ready(function () {
            $("#metric-graph__show__data-1").click(function() {
                console.log("test");
                if (!($(this).hasClass("active"))) {
                    $(".metric-graph__switch__option.data.active").toggleClass("active");
                    $(this).toggleClass("active");
                    $('#graph-canvas').replaceWith('<canvas class="graph-canvas" id="graph-canvas"></canvas>');
                    var ctx = document.getElementById("graph-canvas").getContext("2d");
                    window.myLine = new Chart(ctx).Line(playsData, {
                        responsive: true,
                        maintainAspectRatio: false,
                        bezierCurve : false,
                        bezierCurveTension : 0.25,
                        scaleShowVerticalLines: false,
                        scaleOverride: false,
                        showScale: true,
                        pointDotRadius : 6,
                        datasetStrokeWidth : 4,
                        scaleFontSize: 10,
                        scaleFontStyle: "bold",
                        scaleFontColor: "#999",
                        multiTooltipTemplate: "<%if (label){%><%=datasetLabel%>: <%}%><%= value %> plays"
                    });
                }
            })
            $("#metric-graph__show__data-2").click(function() {
                console.log("test2");
                if (!($(this).hasClass("active"))) {
                    $(".metric-graph__switch__option.data.active").toggleClass("active");
                    $(this).toggleClass("active");
                    $('#graph-canvas').replaceWith('<canvas class="graph-canvas" id="graph-canvas"></canvas>');
                    var ctx = document.getElementById("graph-canvas").getContext("2d");
                    window.myLine = new Chart(ctx).Line(minsData, {
                        responsive: true,
                        maintainAspectRatio: false,
                        bezierCurve : false,
                        bezierCurveTension : 0.25,
                        scaleShowVerticalLines: false,
                        scaleOverride: false,
                        showScale: true,
                        pointDotRadius : 6,
                        datasetStrokeWidth : 4,
                        scaleFontSize: 10,
                        scaleFontStyle: "bold",
                        scaleFontColor: "#999",
                        multiTooltipTemplate: "<%if (label){%><%=datasetLabel%>: <%}%><%= value %> hrs"
                    });
                }
            })
        })


      {% endverbatim %}
	</script>
{% endblock %}