{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load custom_cloudinary_tags %}

{% block home-active %}active{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
  {% include 'partials/artist_header.html' %}
{% endblock %}

{% block content %}

  <section class="container dashboard-home">
    <h2 class="dashboard-home__artist-name">{{ user.artist.first_name }} {{ user.artist.last_name }}</h2>
    <div class="dashboard-home__container">
      <div class="col-xs-12 col-sm-6 col-md-7 dashboard-home__left-column">
        <div class="payout-period">
          <h2 class="payout-period__heading">Current pay period</h2>
          <ul class="payout-period__table">
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                Period dates:
              </div>
              <div class="payout-period__table__value">
                {{ current_payout_period.period_start|date:"n/j/Y" }} - {{ current_payout_period.period_end|date:"n/j/Y" }}
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                Current period archive total:
              </div>
              <div class="payout-period__table__value">
                {{ current_payout_period.current_total_seconds }} seconds
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                Current period my total:
              </div>
              <div class="payout-period__table__value">
                {{ user.artist.current_period_seconds_played }} seconds
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                My current period ratio:
              </div>
              <div class="payout-period__table__value">
                {{ user.artist.current_period_percentage_ratio|floatformat:"-5" }}%
              </div>
            </li>
          </ul>
        </div>
        <div class="dashboard-home__artist-info">
          <h2 class="dashboard-home__artist-info__heading">My information</h2>
          <ul class="dashboard-home__artist-info__table">
            <li class="dashboard-home__artist-info__table__row">
              <div class="dashboard-home__artist-info__table__label">
                Address:
              </div>
              <div class="dashboard-home__artist-info__table__value">
                <p>
                  {{ user.address_1 }}
                </p>
                <p>
                  {{ user.address_2 }}
                </p>
                <p>
                  {{ user.city }}, {{ user.state }}
                </p>
                <p>
                  {{ user.zip }}
                </p>
                <p>
                  {{ user.country }}
                </p>
              </div>
            </li>
            <li class="dashboard-home__artist-info__table__row">
              <div class="dashboard-home__artist-info__table__label">
                Email:
              </div>
              <div class="dashboard-home__artist-info__table__value">
                <p>
                  {{ user.email }}
                </p>
              </div>
            </li>
            <li class="dashboard-home__artist-info__table__row">
              <div class="dashboard-home__artist-info__table__label">
                Selected payout method:
              </div>
              <div class="dashboard-home__artist-info__table__value">
                <p>
                  {{ user.payout_method }}
                </p>
              </div>
            </li>
          </ul>
          <a href="{% url "artist_dashboard:settings" %}" class="dashboard-home__cta  dashboard-home__artist-info__cta"><span><i class="fa fa-gear"></i>Change information</span></a>
        </div>
        <div class="payout-period previous-period">
          <div class="payout-period__heading-group">
            <h2 class="payout-period__heading">Previous pay out</h2>
            <a href="{% url "artist_dashboard:previous_payouts" %}" class="payout-period__heading-cta">All payouts</a>
          </div>
          <ul class="payout-period__table">
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                Period dates:
              </div>
              <div class="payout-period__table__value">
                {{ previous_payout_period.payout_period.period_start|date:"n/j/Y" }} - {{ previous_payout_period.payout_period.period_end|date:"n/j/Y" }}
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                Archive total:
              </div>
              <div class="payout-period__table__value">
                {{ previous_payout_period.payout_period.total_seconds }} seconds
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                My total:
              </div>
              <div class="payout-period__table__value">
                {{ previous_payout_period.artist_seconds }} seconds
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                My period ratio:
              </div>
              <div class="payout-period__table__value">
                {{ previous_payout_period.artist_percentage_ratio|floatformat:"-5" }}%
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                Total archive payout:
              </div>
              <div class="payout-period__table__value">
                ${{ previous_payout_period.payout_period.total_amount|floatformat:"-2" }}
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                My payout:
              </div>
              <div class="payout-period__table__value">
                ${{ previous_payout_period.amount|floatformat:"-2" }}
              </div>
            </li>
            <li class="payout-period__table__row">
              <div class="payout-period__table__label">
                My ledger balance:
              </div>
              <div class="payout-period__table__value">
                ${{ previous_payout_period.ledger_balance|floatformat:"-2" }}
              </div>
            </li>
          </ul>
          <a href="{{ previous_payout_period.payout_period.payout_spreadsheet.url }}" class="dashboard-home__cta payout-period__download-xls"><span><i class="fa fa-file-excel-o"></i>Download Excel file for this period</span></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 dashboard-home__right-column dashboard-home__top-performing">
        <div class="dashboard-home__top-performing__heading-group">
          <p class="dashboard-home__top-performing__heading">My top 10 performing events:</p>
          <a href="{% url "artist_dashboard:my_past_events" %}" class="dashboard-home__top-performing__heading-cta">All events</a>
        </div>
        <ul class="mini-events__container">
          {% for event in most_popular_events %}
            <!-- single mini event -->
            <li class="mini-event flexbox-equal-height flexbox-nowrap">
              <a href="{{ event.get_absolute_url }}" class="mini-event__image col-xs-3 col-lg-2">
                {% if event.photo %}
                  <img src="{% cloudinary_image_url photo_name=event.get_photo_name_with_bucket photo_url=event.get_photo_url|urlencode height=84 width=84 smart=True %}"
                       alt=""/>
                {% else %}
                  <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                {% endif %}
              </a>
              <div class="mini-event__details col-xs-9 col-lg-10">
                <p class="mini-event__details__date">{{ event.listing_date|date:"n/j/Y" }}</p>
                <a href="#" class="mini-event__details__title">{{ event.title }}</a>
                <a href="{% url "artist_dashboard:event_detail" pk=event.id slug=event.slug %}" class="red-arrow-button">Download</a><span class="arrow"></span>
              </div>
            </li>
            <!-- end of single mini event -->
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock content %}


{% block extra_js %}
  <script src="{% static 'js/intro/intro.min.js' %}"></script>
  <script>
      var firstLogin = {{ first_login|lower }};
      if (firstLogin) {
        $(document).ready(function () {
          if( $(window).width() > 1000) {
              introJs().start();
          }
        })
      }
  </script>
{% endblock %}
