{% extends "artist_dashboard/home.html" %}
{% load static %}

{% block legal-active %}active{% endblock %}

{% block title %}Legal agreement{% endblock %}

{% block content %}
  <section class="page-heading container hidden">
    <h1>SmallsLIVE Agreement</h1>
  </section>
  <section class="legal-page__full-contract container">
    <div class="row">
      <div class="hidden">
        <ul id="nav" class="nav" data-spy="affix" data-offset-top="300" data-offset-bottom="200">
          <li><a href="#section-1">The SmallsLIVE Archive is the entire collection of audio and videos recordings
            documenting every show at Smalls Jazz Club since September of 2007. </a></li>
          <li><a href="#section-2">SmallsLIVE will offer this Archive to the public for streaming from our website for a
            subscription fee. These fees will be pooled and distributed to every Artist in the Archive based on the
            individual usage of each recording. </a></li>
          <li><a href="#section-3">Every show in the Archive will have a designated Leader (all of the members of the
            group may be designated as Leader) otherwise they will be designated as Sidemusician. </a></li>
          <li><a href="#section-4">Ownership of the recording will be 100% the property of the Leader(s) including 100%
            of the publishing and copyrights. The Leader(s) may do anything they like with the recordings, including
            selling it to a third-party</a></li>
          <li><a href="#section-5">The Leader will have the right to decide which dates in the Archive are made public
            or private. The Leader may also decide to edit the dates to their satisfaction. </a></li>
          <li class="bulletpoint-multiple"><a href="#section-5">All musicians “tagged” on the date will be credited with
            “minutes listened to” as Subscribers use the Archive. Leaders and Sidemusicians will be equally credited.
            Pay out from the revenue collected from subscriptions will be distributed based on the Artist’s percentage
            of usage. </a></li>
          <li><a href="#section-7">All content in the Archive will be stream-only. Leaders may choose to license
            individual tracks from a performance to SmallsLIVE for download by providing the title, composer and
            publishing information for the track. These individual tracks will be sold for download, exclusively from
            the SmallsLIVE website, as “SmallsLIVE TRACKS”. In the case of download sales, the revenue goes directly to
            the Artist selling the track, not the revenue pool from the subscriptions. </a></li>
          <li class="bulletpoint-multiple"><a href="#section-5">Every Artist in the SmallsLIVE Archive will have a
            personal account (accessible by password) in order to update their own information (ie. photos, bios,
            payment information) and to access any recordings that they are involved with. Leaders of a date may tag
            Sidemusicans or designate other Leaders. </a></li>
          <li><a href="#section-9">SmallsLIVE can only use these recordings in the context of the SmallsLIVE website and
            cannot exploit them for use with any other third-party site without the express and written agreement of the
            Artist. </a></li>
          <li class="bulletpoint-clear"><a href="#section-clear"></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-12 contract-content">
        <h1>The SmallsLIVE Foundation Artist Agreement</h1>
        <p>This Agreement is between The SmallsLIVE Foundation and you regarding the SmallsLIVE 
          Foundation Archive and your content.</p>
            <ol type="1">
              <li>
                <h3 id="section-1">The Archive:<a class="anchorjs-link" href="#section-1"><span
                        class="anchorjs-icon"></span></a></h3>
                <ol type="a">
                  <li>The SmallsLIVE Foundation Archive consists of audio and videos produced by 
                    SmallsLIVE Foundation at Smalls Jazz Club and Mezzrow since 2007.
                  </li>
                  <li>The SmallsLIVE Foundation’s Supporting Members can access the Archive and play (stream) 
                    the individual sets of musical performances by an individual artist and/or group. 
                    The recording may be audio only and/or audiovisual. SmallsLIVE Foundation Supporting Members 
                    must make a minimum of a $10 donation yearly for this access.  This is a tax-deductible donation governed 
                    by the rules of not-for-profit corporations.  
                  </li>
                  <li>A portion of these donations (determined by the SmallsLIVE Foundation) will be placed in a revenue pool 
                    to be distributed to the Artists as specified in Paragraph 4 below (“Revenue Share”).
                  </li>

                </ol>
              </li>
              <li>
                <h3>Artists' rights:</h3>
                <ol type="a">
                  <li id="section-3"><a class="anchorjs-link" href="#section-3"><span class="anchorjs-icon"></span></a>LEADERS & SIDE MUSICIANS: 
                    Each Date must have a designated leader (“Leader”), provided that in the event of a collective band, each member may be designated as a Leader. 
                    Any musician who plays on a Date who is not a Leader shall be deemed to be a “Side Musician.”
                  </li>
                  <li>PERFORMANCE FEE: The Leader is paid a performance fee for the Date at Smalls Jazz Club or Mezzrow, 
                    under a separate booking agreement.
                  </li>
                  <li id="section-4"><a class="anchorjs-link" href="#section-4"><span class="anchorjs-icon"></span></a>COPYRIGHT IN THE RECORDINGS: Except for 
                    SmallsLIVE Foundation’s right, subject to paragraph 2(g) below, to include the Recording of each Date in the Archive as set forth herein the 
                    Leader of each Date shall retain all right, title and interest in and to each Recording including the copyright in the “sound recording” 
                    (as defined in the Copyright Act) in the Recording, and all renewals and extensions thereof, worldwide and for the full duration of the copyright. To effectuate this intent, 
                    SmallsLIVE Foundation and each Side Musician hereby transfer their interest in the copyright in each Recording to the Leader, including without limitation the authority to 
                    distribute or otherwise exploit each Recording as set forth in more detail in subparagraph 2(d) below. For avoidance of doubt, nothing in this Agreement will transfer the 
                    ownership or copyright in any underlying musical composition embedded in any Recording.
                  </li>
                  <li>LEADER’S RIGHT TO EXPLOIT THE RECORDINGS: The Leader may use the Recording for any commercial or promotional purpose, including without limitation the right to sell, license 
                    or otherwise exploit the Recording or any portion thereof. The Leader shall have the exclusive obligation to make any payment required to the Side Musicians or any third parties, 
                    including any third-party writers or owners of musical compositions. For the avoidance of doubt, SmallsLIVE Foundation shall not be responsible for any payments to or permission 
                    from any Side Musicians or any third parties.
                  </li>
                  <li>ARTIST ACCOUNT: Every Leader and Side Musician will have an account (located in the Artist Dashboard) on the SmallsLIVE Foundation Site. From this account page, Leaders will be 
                    able to download their Recording(s) for personal use or commercial exploitation in accordance with Subparagraph d. above. Leaders may also use their account to “tag”, i.e. add, 
                    the name of any Side Musician regarding a Date for which SmallsLIVE Foundation inadvertently omits that Side Musician’s name. Leaders and Side Musicians may also use the account 
                    to update personal info such as address, telephone, email, etc. Leaders and Side Musicians will also be able to set up their banking information to receive royalty payments from 
                    Subscription Fees and paid downloads and to see SmallsLIVE Foundation’s metrics on usage and payout dates.
                  </li>
                  <li id="section-5"><a class="anchorjs-link" href="#section-5"><span class="anchorjs-icon"></span></a>LEADER’S RIGHT TO KEEP DATES PRIVATE: Every Leader shall have the right to use 
                    his/her account to control which Recordings of Dates can be public, that is, accessed by Subscribers, and which Recordings of Dates shall remain private.
                  </li>
                  <li>EDITING: Leaders shall have the right to “edit” their Recording(s) provided that any such edits shall be at their sole expense. SmallsLIVE Foundation is not responsible for editing, 
                    mixing and mastering of any Recording unless it is previously determined by SmallsLIVE Foundation and the Artist that the Date shall be a special project (“Special Project”). Special 
                    Projects are outside the terms of this Agreement and shall be subject to terms to be negotiated separately.
                  </li>
                  <li>EDITED DATES: Leaders may “resubmit” their edited Recording for active use in the Archive, provided that the edited Recording must be a minimum of 20 minutes in length and must 
                    consist of the performance of at least two songs.
                  </li>
                  <li>AUTHORIZED PAYEES: You shall have the right to assign your right to receive any income to you under this Agreement to any third party such as a business manager. Such authorization 
                    must be made in a writing signed by you and delivered to SmallsLIVE Foundation by certified mail. In case of your death or disability, monies earned under this Agreement shall be 
                    paid to your duly authorized representative after that representative has adduced any required legal documents confirming their authority.
                  </li>
                </ol>
              </li>
              <li>
                <h3>SmallsLIVE Foundation's rights:</h3>
                <ol type="a">
                  <li>SmallsLIVE Foundation is hereby granted the non-exclusive perpetual right to include in the Archive any 
                    Recording of any Date in which the Leader or Side Musician participated or will participate in the future 
                    subject to the Leader’s right to keep the Recording of any Date private in accordance with Subparagraph 2(g) 
                    above.
                  </li>
                  <li>SmallsLIVE Foundation is hereby granted the right to live broadcast (“Webcast”) each Date on the Site or any 
                    third-party website or digital platform one time live and once as a rebroadcast. After that, a Recording of the 
                    Date, in Video/Audio will be added to the Archive for Leader’s approval and use. SmallsLIVE Foundation shall have 
                    the right to make the Webcasts available for no charge to viewers or Subscribers, and to include advertising and 
                    accept sponsorship in conjunction with the Webcasts and the Videos.
                  </li>
                  <li>No Leader or Side Musician may use “Smalls”, “SmallsLIVE Foundation” or any logo or other mark associated with 
                    SmallsLIVE Foundation or Smalls Jazz Nightclub, in connection with the promotion, sale or license of any Recording, 
                    without the express prior written permission of SmallsLIVE Foundation.
                  </li>
                  <li>You hereby give SmallsLIVE Foundation the right to use your name, image, likeness, and approved bio in the Site 
                    in connection with your Recordings, Webcasts and Videos, and in any advertising , promotion or marketing of such 
                    Recordings, Webcasts, Videos, the Site or the Archive.
                  </li>
                </ol>
              </li>
              <li>
                <h3>Distribution of Revenue</h3>
                <ol type="a">
                  <li>
                    <h4 id="section-2">SmallsLIVE Foundation Supporting Member Donations<a class="anchorjs-link" href="#section-2"><span
                            class="anchorjs-icon"></span></a></h4>
                    <p>A portion of donations to the SmallsLIVE Foundation collected from Supporting Members for access to the Archive 
                      shall be shared with all the artists represented in the Archive. After the deduction of operational Expenses 
                      (as defined below) all revenue will be placed in a Revenue Pool.</p>
                    <p>The Musicians’ share of the Revenue Pool will be determined by the number of minutes that the Recording of each 
                      Date is streamed within a pay period (either bi-annually or annually to be determined by SmallsLIVE Foundation). 
                      Each Musician who plays on any Date, whether as a Leader or as a Side Musician, will be credited the number of 
                      minutes that Subscribers listen to the Date(s). Musicians must be “tagged” on the date to be credited with the Minutes. 
                      It is the responsibility of the Leader to tag all the Side Musicians on a date and the Side Musicians’ responsibility 
                      to see that he or she does so.</p>
                    <p>The formula for determining a Musician’s share of the Revenue Pool is:</p>
                    <p class="formula">Total Individual Musicians Minutes divided by the Total Archive usage
                      minutes.</p>
                    <p>If, for Example in one three month period (pay period):</p>
                    <p class="example">Peter gets 350 minutes listened to for all of his dates in the Archive as Leader
                      or Side Musician</p>
                    <p class="example">Stacy gets 5000 minutes listened to for all of his dates in the Archive as Leader
                      or Side Musician</p>
                    <p class="example">Grant gets 700 minutes listened to for all of his dates in the Archive as Leader
                      or Side Musician</p>
                    <p class="example">Tuomo gets 950 minutes listened to for all of his dates in the Archive as Leader
                      or Side Musician</p>
                    <p class="example">Miki gets 1200 minutes listened to for all of his dates in the Archive as Leader
                      or Side Musician</p>
                    <p class="example">Spike gets 30 minutes listened to for all of his dates in the Archive as Leader
                      or Side Musician</p>
                    <p>Adding all these minutes together yields the Total Archive Usage, which in this example equals
                      8230 minutes.</p>
                    <p>To calculate the pay percentage attributable to each Musician (“Pay Percentage”), you must divide
                      the individual minutes by the total usage.</p>
                    <p class="example">Peter = .0425 (350/8230)</p>
                    <p class="example">Stacy = .6075 (5000/8230)</p>
                    <p class="example">Grant = .0851 (700/8230)</p>
                    <p class="example">Tuomo = .1154 (950/8230)</p>
                    <p class="example">Miki = .1458 (1200/8230)</p>
                    <p class="example">Spike = .0036 (30/8230)</p>
                    <p class="formula">Payout = Revenue Pool Total X Individual Pay Percentage</p>
                    <p>Each Musician is paid an amount equal to the total amount collected from Subscription Fees
                      (Revenue Pool) multiplied by his or her Pay Percentage.</p>
                    <p>If, by example, the Revenue Pool for the pay period is $500 then the payments would be:</p>
                    <p class="example">Peter = $21.25 (500 X .0425)</p>
                    <p class="example">Stacy = $303.75 (500 X .6075)</p>
                    <p class="example">Grant = $42.55 (500 X .0851)</p>
                    <p class="example">Tuomo = $57.70 (500 X .1154)</p>
                    <p class="example">Miki = $72.90 (500 X .1458)</p>
                    <p class="example">Spike = $1.80 (500 X .0036)</p>
                    <ol type="i" start="3">
                      <li>Use of the Archive will be measured in minutes rounded downward. For example, if a Subscriber
                        listens to a Date for ten (10) minutes and thirty (30) seconds then Artist would be credited
                        with 10 minutes.
                      </li>
                    </ol>
                  </li>
                  <li>
                    <h4 id="section-7"><a class="anchorjs-link" href="#section-7"><span
                            class="anchorjs-icon"></span></a>Catalog and Archive Individual Sponsorships:</h4>
                    <ol type="i">
                      <li>SmallsLIVE Foundation Supporting Members may sponsor individual artists in the SmallsLIVE Catalog or in the Archive.  
                        Supporting Members may support an Artist directly (100% tax deductible) or receive their CD or downloads (partially 
                        tax deductible).
                      </li>
                      <li>SmallsLIVE shall share any monies it receives from such downloads with the Leader on a 50-50
                        basis.
                      </li>
                      <li>The Leader shall be responsible for making any required payments to the Side Musicians, for
                        mechanical royalties, or to any other necessary third parties.
                      </li>
                    </ol>
                    <p>The Revenue Share set forth in Subparagraphs 4.a and 4.b above, shall be the total compensation 
                      payable by SmallsLIVE Foundation for the rights granted under this Agreement.</p>
                    <ol type="i" start="4">
                      <li>SmallsLIVE Foundation retains the right to not publish a track for any reason and maintains the 
                        final decision on tracks placed in the SmallsLIVE Foundation Archive.
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <h3>EXPENSES:</h3>
                <p>SmallsLIVE Foundation will be allowed to deduct the following expenses from Subscription Fees:</p>
                <ol type="a">
                  <li>Operation costs such as server, cloud service, site hosting, internet costs, and transaction costs (for examples, PayPal or credit card fees).</li>
                  <li>Licensing fees payable to performance rights organizations;</li>
                  <li>Hosting and bandwidth fees; and</li>
                  <li>Sales and local taxes, and other applicable taxes, levies or fees.</li>
                  <li>Operation of the SmallsLIVE Foundation including salaries, office expenses and general operating costs.
                  </li>
                </ol>
              </li>
              <li>
                <h3>TAXES:</h3>
                <p>Each Artist who receives any monies under the Agreement shall be solely responsible for paying any
                  applicable taxes.</p>
              </li>
              <li>
                <h3>ACCOUNTING:</h3>
                <ol type="a">
                  <li>SmallsLIVE Foundation shall make payments to each Artist on annual or bi-annual calendar basis 
                    Such payments shall be made by check or automatic deposit at the election of the Artist.
                  </li>
                  <li>Notwithstanding anything to the contrary above, SmallsLIVE Foundation shall have no obligation to 
                    make a payment to an Artist if the amount due is less than ten dollars ($20) provided that when such 
                    monies exceed twenty dollars ($20) any monies withheld will be paid after any pay period in which the 
                    total amount due to the Artist exceeds twenty dollars ($20).
                  </li>
                  <li>Every Musician will have access to on-line accounting pages in their dashboard on the SmallsLIVE Foundation site. 
                    These accounting pages will set forth the amounts that have accrued for the Musician.
                  </li>
                </ol>
              </li>
              <li>
                <h3>AUDIT:</h3>
                <ol type="a">
                  <li>At any time within two (2) years after any payment is received by any Leader or Side Musician hereunder, 
                    that Leader or Side Musician shall have the right to give SmallsLIVE Foundation reasonable written notice 
                    of his or her intention to examine SmallsLIVE Foundation’s books and records with respect to such statement. 
                    Such examination shall be commenced within one (1) month after the date of such notice, at the sole expense 
                    of such Leader or Side Musician, by any certified public accountant or attorney designated by such Leader or 
                    Side Musician, provided he or she is not then engaged in an outstanding examination of SmallsLIVE Foundation’s 
                    books and records on behalf of a person other than such Leader or Side Musician. Such examination shall be 
                    made during SmallsLIVE Foundation's usual business hours at the place where SmallsLIVE Foundation maintains the 
                    books and records which relate to such Leader or Side Musician and which are necessary to verify the accuracy of 
                    the statement or statements specified in the notice to SmallsLIVE Foundation and the examination shall be limited 
                    to the foregoing. A Leader or Side Musician’s right to inspect SmallsLIVE Foundation's books and records shall be 
                    only as set forth in this subparagraph 7(a) and SmallsLIVE Foundation shall have no obligation to produce such 
                    books and records more than once with respect to each statement.
                  </li>
                  <li>Unless notice shall have been given to SmallsLIVE Foundation in accordance with subparagraph 7(a) above, each payment 
                    rendered to Artist shall be final, conclusive and binding the Artist and shall constitute an account stated. Artist shall 
                    be foreclosed from maintaining any action, claim or proceeding against SmallsLIVE Foundation in any forum or tribunal 
                    with respect to any payment or accounting rendered hereunder unless such action, claim or proceeding is commenced against 
                    SmallsLIVE Foundation in a court of competent jurisdiction within three (3) years after the date such payment is received 
                    by Artist.
                  </li>
                  <li>Artist acknowledges that SmallsLIVE Foundation’s books and records contain confidential trade information. Neither Artist nor 
                    Artist’s representatives will communicate to others or use on behalf of any other person any facts or information obtained as a 
                    result of such examination of SmallsLIVE Foundation’s books and records, except as may be required by law or judicial decree.
                  </li>
                </ol>
              </li>
              <li>
                <h3>WARRANTIES AND INDEMNITIES:</h3>
                <ol type="a">
                  <li>
                    <p>You warrant and represent that:</p>
                    <ol type="i">
                      <li>You are under no disability, restriction or prohibition, whether contractual or otherwise, 
                        with respect to your right to (A) enter into this Agreement, and (B) convey the rights granted 
                        to SmallsLIVE Foundation hereunder, to perform each and every material term and provision hereof, 
                        and to record each and every musical composition hereunder;
                      </li>
                      <li>To the extent of your contributions hereunder, SmallsLIVE Foundation shall not be required to make 
                        any payments of any nature for, or in connection with, the acquisition, exercise or exploitation of 
                        rights granted to SmallsLIVE Foundation by you pursuant to this Agreement, except as specifically 
                        provided in this Agreement;
                      </li>
                      <li>To the extent of your contributions hereunder, neither the Materials (as defined immediately below) 
                        nor any use of the Materials by SmallsLIVE Foundation will violate or infringe upon the rights of any person. 
                        “Materials” as used in this subparagraph means any musical, artistic and literary materials, ideas and other 
                        intellectual properties furnished by you, including any copyright, trademarks or rights of publicity, 
                        contained in or used in connection with any Recordings made hereunder, which have not been supplied by 
                        the SmallsLIVE Foundation. Among other obligations, you shall not sample any third-party work without 
                        the express written approval of SmallsLIVE Foundation.
                      </li>
                      <li>All your representations and warranties shall be true and correct upon execution hereof and shall remain 
                        in effect in perpetuity. SmallsLIVE Foundation's use of the Recordings or Materials hereunder shall not 
                        constitute a waiver of any of your representations, warranties or agreements in respect thereof.
                      </li>
                    </ol>
                  </li>
                  <li>
                    <p>You shall at all times indemnify and hold harmless SmallsLIVE Foundation and any licensee of SmallsLIVE Foundation 
                      from and against any and all third party claims, damages, liabilities, costs and expenses, including legal expenses 
                      and reasonable counsel fees, arising out of breach by you of any warranty, representation or agreement made by you 
                      herein.</p>
                  </li>
                  <li>
                    <p>SmallsLIVE Foundation warrants and represents that:</p>
                    <ol type="i">
                      <li>SmallsLIVE Foundation is under no disability, restriction or prohibition, whether contractual or otherwise, with 
                        respect to its right to enter into this Agreement, and to perform each term and provision hereof.
                      </li>
                      <li>All SmallsLIVE Foundation’s representations and warranties shall be true and correct upon execution hereof and 
                        shall remain in effect in perpetuity.
                    </ol>
                  </li>
                </ol>
              </li>
                <h3>ESCROW:</h3>
                <p>If SmallsLIVE Foundation cannot locate any Leader or Side Musician at any time, it shall put any amount 
                  due to such Leader or Side Musician in escrow until the time that SmallsLIVE Foundation can find such person 
                  or he or she provides accurate information to SmallsLIVE Foundation.</p>
              </li>
              <li>
                <h3>NOTICE:</h3>
                <p>SmallsLIVE Foundation may provide notifications, whether such notifications are required by law or are for marketing or 
                  other business related purposes, to you via email, mobile text message, written or hard copy notice, or through conspicuous 
                  posting of such notice on Site, as determined by SmallsLIVE Foundation in its sole discretion. SmallsLIVE Foundation reserves 
                  the right to determine the form and means of providing notifications to you.</p>
              </li>
              <li>
                <h3>JURISDICTION:</h3>
                <p>This Agreement will be governed by the laws of the State of New York applying to contracts made and to be performed in New York. 
                  The exclusive jurisdiction for any claim, action or dispute with SmallsLIVE Foundation or relating in any way to your use of the 
                  Site will be in the state and federal courts of the State of New York.</p>
              </li>
              <li>
                <h3 id="section-clear"><a class="anchorjs-link" href="#section-clear"><span
                        class="anchorjs-icon"></span></a>MISCELLANEOUS:</h3>
                <p>Should you have any questions concerning this Agreement or need technical support, you may contact SmallsLIVE Foundation at the 
                  following email address: <a href="mailto:info@smallslive.com" target="_blank">info@smallslive.com</a>
                </p>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </section>
  <section class="legal-page__download container text-center">
    <div>
      <a href="#" class="legal-page__button secondary print white-border-button">
        <i class="fa fa-print"></i> Print out
      </a>
      <a href="{% static 'SmallsLIVE_artist_revenue_share_agreement.pdf' %}"
         class="legal-page__button secondary white-border-button">
        <i class="fa fa-download"></i> Download as PDF
      </a>
    </div>
  </section>
  <section class="legal-page__bullets container">
    <h2 class="legal-page__heading">Synopsis:</h2>
    <ul>
      <li><a class="page-scroll" href="#section-1">The SmallsLIVE Foundation Archive is the entire collection of audio and videos
        recordings documenting every show at Smalls Jazz Club since September of 2007.</a></li>
      <li><a class="page-scroll" href="#section-2">SmallsLIVE Foundation will offer this Archive to the public for streaming from
        our website for a subscription fee. These fees will be pooled and distributed to every Artist in the Archive
        based on the individual usage of each recording.</a></li>
      <li><a class="page-scroll" href="#section-3">Every show in the Archive will have a designated Leader (all of the
        members of the group may be designated as Leader) otherwise they will be designated as Sidemusician.</a></li>
      <li><a class="page-scroll" href="#section-4">Ownership of the recording will be 100% the property of the Leader(s)
        including 100% of the publishing and copyrights. The Leader(s) may do anything they like with the recordings,
        including selling it to a third-party.</a></li>
      <li><a class="page-scroll" href="#section-5">The Leader will have the right to decide which dates in the Archive
        are made public or private. The Leader may also decide to edit the dates to their satisfaction.</a></li>
      <li><a class="page-scroll" href="#section-5">All musicians “tagged” on the date will be credited with “minutes
        listened to” as Subscribers use the Archive. Leaders and Sidemusicians will be equally credited. Pay out from
        the revenue collected from subscriptions will be distributed based on the Artist’s percentage of usage.</a></li>
      <li><a class="page-scroll" href="#section-7">In the case of individual sponsorships, the revenue goes directly to 
        the Artist not the revenue pool.</a></li>
      <li><a class="page-scroll" href="#section-5">Every Artist in the SmallsLIVE Fondation Archive will have a personal account
        (accessible by password) in order to update their own information (ie. photos, bios, payment information) and to
        access any recordings that they are involved with. Leaders of a date may tag Sidemusicans or designate other
        Leaders.</a></li>
    </ul>
  </section>
  <section class="legal-page__sign container hidden">
    <div class="legal-page__sign__text col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      By clicking the “I Agree” button you acknowledge that you have read The Agreement in its entirety and that you
      agree with it.
    </div>
    <div class="col-xs-12">
      {% if not user_signed %}
        <form action="{% url 'artist_dashboard:legal' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="sign-agreement" class="legal-page__button sign"><i class="fa fa-check-circle"></i><span></span>
          </button>
        </form>
      {% else %}
        <button class="legal-page__button signed white-border-button" disabled><i class="fa fa-check-circle"></i><span></span></button>
        <div class="legal-page__sign__text col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          Legal agreement was signed on {{ request.user.legal_agreement_acceptance.date|date:"F j, Y g:i A" }}
        </div>
      {% endif %}

    </div>
  </section>


{% endblock content %}

{% block extra_js %}

    <script>
        $('.print').click(function () {
            window.print();
            return false;
        });
    </script>
    <style>
        @media print {
            body *{
                visibility: hidden;
            }

            .page-heading, .page-heading *, .legal-page__full-contract,
            .legal-page__full-contract *, .legal-page__bullets, .legal-page__bullets *,
            .legal-page__sign__text, .legal-page__sign__text * {
                visibility: visible;
            }

            .content-wrapper {
                position: absolute;
                left: 0;
                top: 0;
            }

            .legal-page__sign__text:first-child {
                visibility: hidden;
            }
        }
    </style>
{% endblock %}
