{# {% load pipeline %} #}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# {% stylesheet 'dashboard_css' %} #}
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900' rel='stylesheet'
        type='text/css'>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <title>{% block title %}{% endblock %} - Artist Dashboard - SmallsLIVE</title>
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body>

    <section class="artist-dashboard__welcome flexbox-equal-height">
        <div class="container artist-dashboard__welcome__container">
          {% block content %}{% endblock content %}
        </div>
    </section>


  {% javascript 'dashboard_js' %}
  {% block extra_js %}
  {% endblock extra_js %}
</body>
</html>