{% extends "artist_dashboard/login_base.html" %}
{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
    <div class="artist-dashboard__welcome__header login">
      <img src="{% static 'smalls_live_horizontal_negative.svg' %}" alt=""/>
      <span class="artist-dashboard__welcome__header__heading">Artist login</span>
    </div>
    <div class="artist-dashboard__welcome__form login">
      <form method="post" action="{% url "artist_dashboard:login" %}">
        {% csrf_token %}
        <div class="form-group {% if form.login.errors %}has-error{% endif %}">
          <input type="email" class="form-control" name="login" placeholder="Email"
                 {% if form.login.value %}value={{ form.login.value }}{% endif %}>
          {% if form.login.errors %}
            {% for error in form.login.errors %}
              <p class="form-error-text" id="login-error">{{ error }}</p>
            {% endfor %}
          {% endif %}

        </div>
        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
          <input type="password" class="form-control" name="password" placeholder="Your password">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <p class="form-error-text" id="login-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <p class="form-error-text" id="login-error">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div>
          <input type="checkbox" name="remember" id="remember">
          <label for="remember" class="artist-dashboard__welcome__form__remember">Remember me</label>
          <a class="artist-dashboard__welcome__form__forgot" href="{% url "artist_dashboard:forgot_password" %}">Forgot password?</a>
        </div>
        <input type="submit" class="account-settings__form__button" value="Log in">
      </form>
    </div>
    <div class="artist-dashboard__welcome__helper-text login">
      <p>If you encounter a problem during the login process, or need assistance, please let us know at <a
              href="mailto:support@smallslive.com" target="_blank">support@smallslive.com</a>.</p>
      <p>SmallsLIVE artists program is invite based and accessible only to artists that performed or are scheduled to
        perform at Smalls Jazz Club. If you are one of those artists but didn’t get an invite please email us on <a
                href="mailto:info@smallslive.com" target="_blank">info@smallslive.com</a>.</p>
    </div>
  </div>
{% endblock %}
