{% extends "artist_dashboard/home.html" %} 
{% load static from staticfiles %} 
{% load thumbor_tags %} 
{% load fromisoformat%}
{% block home-active %}active{% endblock %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="artist-profile-container metrics-profile-container">
    <div class="artist-payout-wrapper">
        <div class="pay-period-wrapper">
            <section class="artist-dashboard-payout-title">
                <div class="title1">Pay Period</div>
            </section>
            <div class="labeled-select flex-row">
                <div class="white-border-select white-border-select-left flex-row">
                    <select id="artist_payout_select">
                        <option value="current" class="text-grey">
                            {{ current_payout_period.period_start|date:"b j, Y" }} - current
                        </option>
                        {% for earning in user.artist.earnings.all %}
                        <option value="{{ earning.id }}">
                            {{ earning.payout_period.period_start|date:"b j, Y" }} - {{ earning.payout_period.period_end|date:"b j, Y" }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="flex-row payout-bar">

                    <button class="white-border-button payout-bar-button" onclick="$('#payout-info').modal('show')">
                        Info
                    </button>
                    <div id='download-button'></div>
                </div>
            </div>
        
            <div class="artist-payout-data">
                <div id="currentPayoutData">
                    <div class="flex-row payout-info-row">
                        <div class="artist-payout-data-left">
                            <div class="flex-column content-flex-end">


                            <div class="artist-payout-data-text">
                                <div class="text1">Total archive usage this period</div>
                                <div class="text9 accent-color" data-seconds='{{ current_payout_period.current_total_seconds }}' id='event-seconds'></div>
                            </div>
                            <div class="artist-payout-data-text">
                                <div class="text1">{{ user.artist.full_name }} this period</div>
                                <div class="text9 accent-color" data-seconds='{{ user.artist.current_period_seconds_played }}' id='artist-seconds'></div>
                            </div>
                            <div class="artist-payout-data-text">
                                <div class="text1">Ratio</div>
                                <div class="text9 accent-color">
                                    {{ user.artist.current_period_percentage_ratio|floatformat:"-5" }}% of archive pool
                                </div>
                            </div>
                        </div>
                        </div>
                        <div>
                            <div class="artist-payout-data-text">
                                <div class="text1">Archive revenue this period</div>
                                <div class="text9 accent-color">Payout has not been processed yet</div>
                            </div>
                            <div class="artist-payout-data-text">
                                <div class="text1">{{ user.artist.full_name }}'s share this period</div>
                                <div class="text9 accent-color">Payout has not been processed yet</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="payoutData">
                </div>
            </div>
        </div>
        <div class="pay-info-wrapper">
            <section class="artist-dashboard-payout-title">
                <div class="title1">Payout info</div>
            </section>
            <div class="flex-column settings-right artist-payout-data">
                <div id="payout-form" style="display: none;" data-subpage-url="{% url 'artist_dashboard:payout_form'%}" data-subpage-name="payout-form">
                
                </div>
                <div class="flex-column" id="payout-address-info">
                    <div class="text1 artist-payout-data-text">Mailing address</div>
                    <div class="text9 text-grey artist-payout-data-text">
                        {% if user.address_1 or user.address_2 or user.city %}
                            <span id="address-1">{{ user.address_1 }}</span>
                            <br>
                            <span id="address-2">{{ user.address_2 }}</span>
                            <br>  
                            <span id="city">{{ user.city }}</span>
                            <span id="zip">{{ user.zip }}</span>
                        {% else %}
                            There is no address assigned
                        {% endif %}
                    </div>
                    <div class="text1 artist-payout-data-text">PayPal Email Address</div>
                    <div class="text9 text-grey artist-payout-data-text">
                        {% if user.paypal_email %}
                            <span id="paypal">{{ user.paypal_email }}</span>
                        {% else %}
                            <span>Enter a PayPal account if you wish to be paid through that method</span>
                        {% endif %}
                    </div>
                    <div class="text1 artist-payout-data-text">Tax Payer ID</div>
                    <div class="text9 text-grey artist-payout-data-text">
                        {% if user.taxpayer_id %}
                            <span id="taxpayer">{{ user.taxpayer_id }}</span>
                        {% else %}
                            <span>Enter a Tax Payer Id (optional)</span>
                        {% endif %}
                    </div>
                    <button class="white-border-button payout-info-button" onclick="showForm()">
                        Edit Info
                    </button>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="payout-info" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content custom-modal no-cancel">
                    <a href="#" class="close-button"></a>
                    <div class="modal-body">
                        <div class="text-grey text4 payout-info-text">
                            <p>These numbers reflect the total usage of the archive in minutes and seconds for the selected pay period,
                            as well as your own personal usage and your payout ratio percentage. </p>
                            <p>The payout ratio percentage is your total time divided by the archive total time.
                                This ratio is the percentage of the archive revenue that
                            is paid to you as a royalty. </p>
                            <p>If you earned less than $20 in the pay period it is carried over to the next
                                pay period and reflected as a previous balance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="successful-edit" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content custom-modal no-cancel">
                    <a href="#" class="close-button"></a>
                    <div class="modal-body">
                        <div class="text-grey text4 payout-info-text">
                            You've successfully updated your profile.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="unsuccessful-edit" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content custom-modal no-cancel">
                    <a href="#" class="close-button"></a>
                    <div class="modal-body">
                        <div class="text-grey text4 payout-info-text">
                            There were errors updating your profile.
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/metrics_datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/subpages.js' %}"></script>
    <script>
        var subpages = window.subpages;
        subpages.register();
        subpages.get('payout-form').setCallback(function() {
            replaceWhiteSelects($('[data-subpage-name="payout-form"]')[0]);
            payoutForm = $("#payout-form")[0];
            $("#submit-button").remove()
            $(payoutForm).append("<button class='white-border-button payout-info-button' onclick='submitPayoutForm()'>Save</button>")
        });
        subpages.loadAll();

        var ranges = {{ date_ranges| safe }};
        var selectedRange = 'all';
        var payoutsUrl = '/dashboard/my-payouts';
        var minsData = {
            datasets: [
                {
                    label: "Total",
                    backgroundColor: "rgba(210,21,53,0)",
                    borderColor: "#ed1c24",
                    pointBackgroundColor: "#000",
                    pointBorderColor: "#000",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(220,220,220,1)"
                }
            ]

        };
        $(document).ready(function () {
            var $payoutData = $('#payoutData');
            var $currentPayoutData = $('#currentPayoutData');
            var $downloadButton = $('#download-button')
            $("#artist_payout_select").on('change', function () {
                var payoutId = $("#artist_payout_select").val();
                if (payoutId !== 'current') {
                    $.ajax({
                        url: payoutsUrl + '/' + payoutId,
                        success: function (data) {
                            $payoutData.html(data);
                            $payoutData.show();
                            $currentPayoutData.hide();
                        }
                    })
                } else {
                    $downloadButton.html('');
                    $payoutData.hide();
                    $currentPayoutData.show();
                }
            });
        })
    </script>

    <script>
        function showForm(){
            $payoutForm = document.getElementById('payout-form')
            $payoutAddressInfo = document.getElementById('payout-address-info')
            $($payoutAddressInfo).hide()
            $($payoutForm).show()
           
        }
        function toogleInfo() {
            infoContainer = document.getElementById('payout-info-container')

            if ($(infoContainer).data('visible') === false) {

                $(infoContainer).show()
                $(infoContainer).data('visible', true)
            } else {
                $(infoContainer).hide()
                $(infoContainer).data('visible', false)
            }
        }
        function formattedPayout(seconds) {
            var hrs = Math.floor(seconds / 3600);
            seconds -= hrs * 3600;
            var mnts = Math.floor(seconds / 60);
            seconds -= mnts * 60;
            formattedString = hrs + " hrs " + mnts + " min " + seconds + " seconds"
            return formattedString
        }
        var artistSeconds = document.getElementById('artist-seconds')
        var eventsSeconds = document.getElementById('event-seconds')
        var artistSecondsValue = $(artistSeconds).data('seconds')
        var eventsSecondsValue = $(eventsSeconds).data('seconds')
        $(document).ready(function () {
            artistSeconds.innerHTML = formattedPayout(artistSecondsValue)
            eventsSeconds.innerHTML = formattedPayout(eventsSecondsValue)

        });
        function submitPayoutForm(){
            payoutForm = $("#payout-form .custom-form")[0];
            $.ajax({
                type: "POST",
                url: "{% url 'artist_dashboard:payout_form'%}",
                data: $(payoutForm).serialize()+"&artist_info=Save",
                success: function(data) {
                    $payoutForm = document.getElementById('payout-form');
                    $payoutAddressInfo = document.getElementById('payout-address-info');
                    if (data.success) {
                        $($payoutAddressInfo).show();
                        $($payoutForm).hide();
                        $('#successful-edit').modal('show');
                        $("#address-1").html(data['address-1']);
                        $("#address-2").html(data['address-2']);
                        $("#city").html(data['city']);
                    } else {
                        $('#unsuccessful-edit').modal('show');
                        $($payoutForm).html(data.template);
                    }
                }
            });
        }
    </script> 
{% endblock %}