{% extends "home_new.html" %}
{% load add_get_parameter %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}Metrics payout{% endblock %}

{% block content %}
    <div class="content-wrapper" style="border:none">
        <form method="post" action="{% url 'artist_dashboard:metrics_payout_period' %}">
            <section class="page-heading container" style="width: 100%;">
                <h1>SmallsLIVE Payout Calculation Admin:</h1>
            </section>
            <section class="payout-calculator">
                {% csrf_token %}
                {{ form.errors }}
                <div class="payout-calculator__input"><span class="payout-calculator__input__label">Period start date:</span><span class="payout-calculator__date-picker" id="payout-calculator__date-picker-start"><input class="" type="text" name="period_start" readonly><i class="fa fa-caret-down"></i></span></div>
                <div class="payout-calculator__input"><span class="payout-calculator__input__label">Period end date:</span><span class="payout-calculator__date-picker" id="payout-calculator__date-picker-end"><input class="" type="text" name="period_end" readonly><i class="fa fa-caret-down"></i></span></div>
                <div class="payout-calculator__instructions">
                    <p>Please select above the starting date and ending date for which you want to calculate the payout amounts for each artist.</p>
                </div>

                <button type="submit" class="payout-calculator__submit-button">Get Donations</button>
                <button id="generate-download-payout" class="payout-calculator__submit-button hidden"></button>
                <a class="text3" href="#" id="download-payout" class="hidden"></a>
            </section>
        </form>

    </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/bootstrap-select.js' %}"></script>
  <script src="{% static 'js/dashboard-base.js' %}"></script>


  <!-- Bootstrap datepicker JavaScript -->
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/metrics_datepicker.js' %}"></script>
  <script>
    var $datePickerStart = $('#payout-calculator__date-picker-start input');
    $datePickerStart.datepicker({
        format: 'yyyy-mm-dd',
        minViewMode: "days",
        orientation: "top auto",
        startDate: new Date(2015, 10-1, 1),
        autoclose: true
    });

    var $datePickerEnd = $('#payout-calculator__date-picker-end input');
    $datePickerEnd.datepicker({
        format: 'yyyy-mm-dd',
        minViewMode: "days",
        orientation: "top auto",
        autoclose: true
    });

    var start_date = new Date({{ form.fields.period_start.initial.year }}, {{ form.fields.period_start.initial.month }}-1, {{ form.fields.period_start.initial.day}});
    var end_date = new Date({{ form.fields.period_end.initial.year }}, {{ form.fields.period_end.initial.month }}-1, {{ form.fields.period_end.initial.day}});
    $datePickerStart.datepicker("setDate", start_date);
    $datePickerEnd.datepicker("setDate", end_date);

    var pollUrl = "{% url 'artist_dashboard:metrics_payout_poll' %}";
    var generateUrl = "{% url 'artist_dashboard:metrics_payout_download' %}";

    function poll() {
      // Poll for spreadsheets
      $.ajax({
        url: pollUrl,
        success: function (data) {
          if (data.success) {
            var downloadButton = $("#generate-download-payout");
            if (data.file.name.indexOf(".generating") > -1) {
              downloadButton.html("Generating ... please wait");
              if (!downloadButton.hasClass("generating")) {
                downloadButton.addClass("generating");
              }
              window.setTimeout(poll, 5000);
            } else {
              downloadButton.html(data.file.name).removeClass("generating");
            }
            downloadButton.removeClass("hidden");
          }
        }
      });
    }

    $(document).ready(function () {

      poll();

      $("#generate-download-payout").click(function (e) {
        e.preventDefault();

        if ($(this).hasClass("generating")) {
          return;
        }

        $.ajax({
          url: generateUrl,
          success: function (data) {
            if (data.success) {
              $("#download-payout").attr("href", data.file.url).removeClass("hidden").html("Download");
            }
          }
        });
      });
    });



  </script>
{% endblock %}
