{% load static from staticfiles %}
<form method="post" class="admin-interface__form" enctype="multipart/form-data" action="{% url 'artist_dashboard:event_edit' pk=event.id slug=event.slug %}">
  {% csrf_token %}
  <div class="logo-container">
    <img src="{% static 'logo-black.svg' %}" alt=""/>
  </div>
  <div class="title-container">
    <div class="text2 accent-color">Archived Show</div>
    <div class="title1">Edit event info</div>
  </div>
  <div id="div_id_title" class="form-group">
    <label class="control-label  requiredField">
      Band Title</label>
    <div class="controls ">
      {{ form.title }}
    </div>
  </div>

  <div class="form-group artist-list-form">
  {% for formset in inlines %}
    {{ formset.management_form }}
    <table class="table formset_table">
      <thead>
        <tr class="table_row">
          <th></th>
          <th for="id_artists_gig_info-0-artist" class="mobile-edit-title col-md-8 control-label requiredField">
            Artist
          </th>
          <th for="id_artists_gig_info-0-is_leader" class="mobile-edit-title col-md-2 control-label ">
            Leader
          </th>
          <th class="mobile-edit-title col-md-1">Remove</th>
        </tr>
       </thead>
        <tbody>
          {% for gig in event.artists_gig_info.all %}
          <tr>
             <td><i class="fa fa-bars"></i></td>
             <input class="sort_order_field"
                    id="id_artists_gig_info-{{ forloop.counter0 }}-sort_order"
                    name="artists_gig_info-{{ forloop.counter0 }}-sort_order"
                    type="hidden"
                    value="0">
             <td id="div_id_artists_gig_info-{{ forloop.counter0 }}-artist" class="artist-selector">
                <select class="artist_field select form-control"
                        id="id_artists_gig_info-{{ forloop.counter0 }}-artist"
                        name="artists_gig_info-{{ forloop.counter0 }}-artist">
                   <option value="">Artist</option>
                   <option value="gig.artist.id" selected>{{gig.artist.full_name}}</option>
                </select>
                <select class="role_field select form-control"
                        id="id_artists_gig_info-{{ forloop.counter0 }}-role"
                        name="artists_gig_info-{{ forloop.counter0 }}-role">
                    <option value="">Role</option>
                   {% for instrument in gig_instruments %}
                      <option value="{{ instrument.id }}" {% if gig.role.id == instrument.id %} selected {% endif %}>{{ instrument.name }}</option>
                   {% endfor %}
                </select>
             </td>

             <td id="div_id_artists_gig_info-{{ forloop.counter0 }}-is_leader">
                <input checked="checked"
                       class="checkboxinput"
                       id="id_artists_gig_info-{{ forloop.counter0 }}-is_leader"
                       name="artists_gig_info-{{ forloop.counter0 }}-is_leader"
                       type="checkbox">
             </td>
             <input id="id_artists_gig_info-{{ forloop.counter0 }}-id"
                    name="artists_gig_info-{{ forloop.counter0 }}-id"
                    type="hidden"
                    value="103704">
             <input id="id_artists_gig_info-{{ forloop.counter0 }}-event"
                    name="artists_gig_info-{{ forloop.counter0 }}-event"
                    type="hidden"
                    value="14800">
             <td><a href="" class="artist_remove"><span class="fa fa-trash"></span></a></td>
          </tr>
          {% endfor %}
       </tbody>
    </table>
    <button type="button" class="white-border-button artists-table__button" name="add" id="add_more_artists"> Add another
    </button>
  {% endfor %}
  </div>
  <div id="div_id_photo" class="form-group">
    <div class="controls ">
      {{ form.photo }}
    </div>
  </div>
  <div class="buttonHolder">
    <input type="submit" name="submit" value="Save event" class="white-border-button inline separated"
           id="submit-id-submit">
  </div>
</form>
