{% extends "artist_dashboard/home.html" %}
{% load add_get_parameter %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block my-events-active %}active{% endblock %}

{% block title %}My events{% endblock %}


{% block content %}
    {% include 'artist_dashboard/publish_modal.html' %}

{#    TODO Move container to dashboard base#}
    <div class="artist-profile-container">
        <div class="artist-archive-filter flex-row">
{#            FIXME Remove margin#}
            <div class="white-border-select" style="width: 150px; float:none; margin-right: 20px">
                <select id="artist_archive_status_filter">
                    <option value="all">All</option>
                    <option value="leader">Leader</option>
                    <option value="sidemusician">Sidemusician</option>
                </select>
            </div>
            <div class="white-border-select" style="width: 250px; float:none">
                <select id="artist_archive_order">
                    <option value="newest">Newest to oldest</option>
                    <option value="oldest">Oldest to newest</option>
                    <option value="draft">Most Popular</option>
                </select>
            </div>
        </div>
        <div class="flex-column items-flex-stretch">
            {% for gig_info in gigs %}
                {% with event=gig_info.event %}
                    <div class="event-row flex-row">
                        <div class="artist-event-card flex-column items-flex-stretch">
                            {% include 'events/event_card.html' with event=event %}
                            <div class="button-row button-row-margin flex-column"  style="margin-top: 30px">
                                {% if gig_info.is_admin %}
                                    <a href="{% url "artist_dashboard:event_edit" pk=event.id slug=event.slug %}">
                                        <button style="width: 100%">Edit Event</button>
                                    </a>
                                {% else %}
                                    <button disabled style="width: 100%">Edit Event</button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="artist-event flex-column content-space-between">
                            <div class="flex-row">
                                <div class="text2 artist-event-info">
                                    {{ event.title }}
                                </div>
                                <div class="text2 accent-color artist-event-date">
                                    <div>{{ event.venue.name }} {{ event.date|date:'m/d/Y' }}</div>
                                </div>
                                <div class="text4">
                                    {% for gig_info in event.get_performers %}
                                        {{ gig_info.artist.full_name }}
                                        <span class="text-grey">({{ gig_info.role }})</span>
                                        {% if not forloop.last %}  // {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% for set in event.sets.all %}
                                <div class="flex-row text2 items-center" id="set-id-{{ set.id }}">
                                    <div class="accent-color artist-event-date">
                                        <div>
                                            {% if set.video_recording %}
                                                Set {{ set.video_recording.set_number }} - {{ set.start|date:"g:i A" }}
                                            {% else %}
                                                No set for {{ set.start|date:"g:i A" }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="artist-publish-info">
                                        <div class="text-grey">
                                            {% if set.video_recording %}
                                                This set is currently <span class="accent-color">
                                                <span class="set-status">{{ set.video_recording.state }}</span>
                                            </span>
                                            {% else %}
                                                This set is not uploaded yet.
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="artist-event-actions">
                                        {% if gig_info.is_admin %}
                                            {% if set.video_recording %}
                                                <div class="button-row button-row-margin">
                                                    {% if set.video_recording.state != 'Published' %}
                                                        <button class="publish-button" onclick="askPublish({{ set.id }})">Publish</button>
                                                    {% else %}
                                                        <button class="publish-button" onclick="askPrivate({{ set.id }})">Make Private</button>
                                                    {% endif %}
                                                    <button>Monetize</button>
                                                    <button onclick="showSelectFormat('{{ set.video_recording.media_file.get_downloadable_sd_video_url }}', '{{ set.audio_recording.media_file.get_downloadable_file_url }}')">
                                                        Download
                                                    </button>

                                                    <a href="{% url "artist_dashboard:event_metrics" pk=event.id slug=event.slug %}">
                                                        <button>Metrics</button>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="text-grey">
                                                <div>Admin only material.</div>
                                                <div>To access this feature, you must be a designated admin for this set.</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        var selectedSetId;
        function askPrivate(setId) {
            $('#privateConfirm').modal('show');
            selectedSetId=setId;
        }

        function askPublish(setId) {
            $('#publishConfirm').modal('show');
            selectedSetId=setId;
        }

        function makeSetPrivate() {
            $.post('/events/sets/' + selectedSetId + '/private/', {
              csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function (data, status) {
                console.log(status);
            });
            hideMakePrivate();
            $("#set-id-" + selectedSetId).find('.publish-button').replaceWith(
                '<button class="publish-button" onclick="askPublish(' + selectedSetId + ')">Publish</button>'
            )
            $("#set-id-" + selectedSetId).find('.set-status').text('Hidden')
            showSuccess('private')
        }

        function showSuccess(state) {
            var $publishSuccess = $('#publishSuccess');
            $publishSuccess.find('.success-state').text(state);
            $publishSuccess.modal('show')
        }

        function publishSet() {
            $.post('/events/sets/' + selectedSetId + '/publish/', {
              csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data, status) {
                console.log(status);
            });
            hidePublish();
            $("#set-id-" + selectedSetId).find('.publish-button').replaceWith(
                '<button class="publish-button" onclick="askPrivate(' + selectedSetId + ')">Make Private</button>'
            )
            $("#set-id-" + selectedSetId).find('.set-status').text('Published');
            showSuccess('public')
        }

        function hideMakePrivate() {
            $('#privateConfirm').modal('hide');
        }

        function hidePublish() {
            $('#publishConfirm').modal('hide');
        }

        function hideSuccess() {
            $('#publishSuccess').modal('hide');
        }

        function showSelectFormat(videoUrl, audioUrl) {
            var $downloadFormat = $('#downloadFormat');
            $downloadFormat.find('#downloadFormatAudioUrl').attr({href: audioUrl}).on('click', function () {
                $downloadFormat.modal('hide');
            });
            $downloadFormat.find('#downloadFormatVideoUrl').attr({href: videoUrl}).on('click', function () {
                $downloadFormat.modal('hide');
            });
            $downloadFormat.modal('show');
        }



    </script>
{% endblock %}
