{% extends "artist_dashboard/home.html" %}
{% load add_get_parameter %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block extra_head %}
  <script>
    var django = {jQuery: jQuery};
  </script>
  {{ form.media }}
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
  <link href="/static/image_cropping/css/jquery.Jcrop.min.css" type="text/css" media="all" rel="stylesheet" />
  <link href="/static/image_cropping/css/image_cropping.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/image_cropping/js/jquery.Jcrop.min.js"></script>
  <script type="text/javascript" src="/static/image_cropping/image_cropping.js"></script>

{% endblock extra_head %}

{% block my-events-active %}active{% endblock %}

{% block title %}My events{% endblock %}


{% block content %}
    {% include 'artist_dashboard/publish_modal.html' %}
    {% include 'artist_dashboard/event_edit_modal.html' %}

{#    TODO Move container to dashboard base#}
    <div class="artist-profile-container flex-column">
        <div class="event-mobile-info" id="event-info-mobile-card" style="display:none;width:100%;padding:0"></div>
        {% if not is_future %}
            <div class="refine-container flex-row" id="refine-container">
                <div class="refine text1 flex-grow"><span id="filter-number" class="accent-color">(0)</span>Refine</div>
                <div class="reset text1" id="dashboard-mobile-refine-reset">Reset</div>
            </div>
            <div class="artist-archive-filter flex-row">
                <div class="dashboard-datepicker-container">
                <div class="white-border-button datepicker-dashboard-main-btn" >
                Date
                </div>
                <div class="datepicker-container noclick" id="dashboard-desktop-datepicker">
                    <div class="custom-date-picker" id="search-date-picker-from-dashboard">
                        <input class="date-picker-text" type="text" placeholder="Select date" readonly>
                    </div>
            
                    <div class="custom-date-picker" id="search-date-picker-to-dashboard">
                        <input class="date-picker-text" type="text" placeholder="Select date" readonly>
                    </div>
            
                    <div class="white-border-button" id="dashboard-apply-button">Apply</div>
                    <div class="datepicker-reset text2 text-grey">Reset</div>
                </div>
            </div>
                <div class="white-border-select" id="dashboard-status-filter">
                    <select id="artist_archive_status_filter">
                        <option value="all">All</option>
                        <option value="leader">Leader</option>
                        <option value="sidemusician">Sidemusician</option>
                    </select>
                </div>
                <div class="white-border-select" id="dashboard-sort-filter">
                    <select id="artist_archive_order">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                        <option value="popular">Popular</option>
                    </select>
                </div>
                <div class="white-border-button" id="dashboard-desktop-reset">
                    
                        Reset all
                    
                
                </div>
            
            </div>
        {% else %}

            <div class="white-border-select hidden" id="dashboard-status-filter">
                <select id="artist_archive_status_filter">
                    <option value="all">All</option>
                </select>
            </div>

        {% endif %}
       
        <div id="artistEventsContainer" class="flex-row items-flex-stretch artist-events-container">
            <div class="flex-column items-flex-stretch artist-events-list">
              <div id="artistEventsList" ></div>
              {% if current_page < total_pages %}
                <div class="concerts-footer" >
                  <button id="load-more-btn" class="white-border-button load-more-btn" onclick="loadMore(false)" style="margin: 0 auto;">
                    <span>Load More</span>
                  </button>
                </div>
              {% endif %}
              <div id="event-load-gif" class="loading-image events-gif">
                <img src="{% static 'image/loading.gif' %}" alt="">
              </div>
            </div>
            <div id="artistEventsInfo" class="flex-column items-flex-stretch artist-events-list-info"></div>

        </div>
        
    </div>
    <div id="myNav" class="refine-overlay dashboard-refine">

            <div class="refine-overlay-menu white-line-bottom">
              <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
              <div class="calendar-refine-menu-item text1">Refine</div>
              <div class="refine-apply calendar-refine-menu-item text1">Apply</div>
            </div>
          
              <div class="refine-overlay-content">
               
          
                  <p class="calendar-refine-title title1">Date Range</p>
                  <div class="refine-datepicker-container">
                      <div class="custom-date-picker search-date-picker-from-refine" id="search-date-picker-from-refine">
                          <input class="date-picker-text" id="start-date" type="text" placeholder="Select date" readonly>
                      </div>
              
                      <div class="custom-date-picker search-date-picker-to-refine" id="search-date-picker-to-refine">
                          <input class="date-picker-text" id="until-date" type="text" placeholder="Select date" readonly>
                      </div>
                  </div>
          
                  <p class="calendar-refine-title title1">Status</p>
          
                  <span class="btngroup text2 refine-dashboard-buttons">
                    <button value="leader" class="btngroup--btn">Leader</button>
                    <button value="sidemusician" class="btngroup--btn">Side musician</button>
                    <button value="all" class="btngroup--btn">All</button>
                  </span>
                
                  <p class="calendar-refine-title title1">Sort By</p>
                  <div class="white-border-select event-filter-select calendar-duration">
                      <select id="refine-order-filter">
                        <option value="newest">Newest to oldest</option>
                        <option value="oldest">Oldest to newest</option>
                        <option value="popular">Most Popular</option>
                      </select>
                    </div>

                  <div class="reset-all text2 text-grey">Reset All</div>
          
              </div>
            
            </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/event_form.js' %}"></script>
<script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>

    <script>
        
        {% if is_future %}
            eventsUrl = "{% url 'artist_dashboard:my_future_events_ajax' %}";
        {% else %}
            eventsUrl = "{% url 'artist_dashboard:my_past_events_ajax' %}";
        {% endif %}
        var selectedSetId;
        var currentPage = 0;
        var totalPages = 1;

        function askPrivate(setId) {
            $('#privateConfirm').modal('show');
            selectedSetId=setId;
        }

        function askPublish(setId) {
            $('#publishConfirm').modal('show');
            selectedSetId=setId;
        }
        function makeSetPrivate() {
            $.post('/events/sets/' + selectedSetId + '/private/', {
              csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function (data, status) {
            });
            hideMakePrivate();
            $("#set-id-" + selectedSetId).find('.publish-button').replaceWith(
                '<button class="publish-button" onclick="askPublish(' + selectedSetId + ')">Publish</button>'
            )
            $("#set-id-" + selectedSetId).find('.set-status').text('Hidden')
            showSuccess('private')
        }

        function showSuccess(state) {
            //var $publishSuccess = $('#publishSuccess');
            //$publishSuccess.find('.success-state').text(state);
            //$publishSuccess.modal('show')
            $("#hide-scss-btn").data("type", state)
            hideSuccess()
        }

        function publishSet() {
            $.post('/events/sets/' + selectedSetId + '/publish/', {
              csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data, status) {
            });
            hidePublish();
            $("#set-id-" + selectedSetId).find('.publish-button').replaceWith(
                '<button class="publish-button" onclick="askPrivate(' + selectedSetId + ')">Make Private</button>'
            )
            $("#set-id-" + selectedSetId).find('.set-status').text('Published');
            showSuccess('public')
        }

        function hideMakePrivate() {
            $('#privateConfirm').modal('hide');
        }

        function hidePublish() {
            $('#publishConfirm').modal('hide');
        }

        function hideSuccess(data) {
            $('#publishSuccess').modal('hide');
            var $currentSet = $(".artist-active-set.accent-color.set-changer")[0];
            var successType = $("#hide-scss-btn").data("type");
            if (successType === "public" || data ==="public"){
                $("#private-button").removeClass("hidden")
                $("#public-button").addClass("hidden")
                $("#mobile-private-button").removeClass("hidden")
                $("#mobile-public-button").addClass("hidden")
                $("#mobile-private-button").click()
            };
            if (successType === "private" || data ==="private"){
                $("#private-button").addClass("hidden")
                $("#public-button").removeClass("hidden")
                $("#mobile-private-button").addClass("hidden")
                $("#mobile-public-button").removeClass("hidden")
                $("#mobile-public-button").click()
            };
        }

        function showSelectFormat(videoUrl, audioUrl) {
            var $downloadFormat = $('#downloadFormat');
            var audioButton = $downloadFormat.find('#downloadFormatAudioUrl');
            var videoButton = $downloadFormat.find('#downloadFormatVideoUrl');

            if (audioUrl !== '') {
                audioButton.attr({href: audioUrl}).on('click', function () {
                    $downloadFormat.modal('hide');
                });
                audioButton.find('button').prop('disabled', false);
            } else {
                audioButton.find('button').prop('disabled', true);
            }

            if (videoUrl !== '') {
                videoButton.attr({href: videoUrl}).on('click', function () {
                    $downloadFormat.modal('hide');
                });
                videoButton.find('button').prop('disabled', false);
            } else {
                videoButton.find('button').prop('disabled', true);
            }
            $downloadFormat.modal('show');
        }
        var statusFilter="all"
        $('.btngroup--btn').click(function () {
          statusFilter = $(this).val();
        });

        function loadMore(mobile) {
          $("#event-load-gif").css("display", "block");
          $('.concerts-footer').hide();
            var  optNumber = 0;
            var params = {};
            if (currentPage >= totalPages) {
                return;
            }
          if(mobile===false){
            params.page = ++currentPage;

            params.start_date_filter = $("#search-date-picker-from-dashboard").find(".date-picker-text").val()
            params.end_date_filter =  $("#search-date-picker-to-dashboard").find(".date-picker-text").val()
   
            var isLeader = $('#artist_archive_status_filter').val();
            if (isLeader !== 'all') {
                console.log(isLeader)
                params.leader_filter = isLeader === 'leader';
            }

            var order = $('#artist_archive_order').val();
            if (order !== 'newest') {
                params.order = order;
            }
          }
         
          if(mobile===true){
           
            params.page = ++currentPage;
            
            params.start_date_filter = $('#start-date').val()
            params.end_date_filter =  $('#until-date').val()

            todayDate=(new Date().getMonth() + 1)  + "/" + new Date().getDate() + "/" + new Date().getFullYear();
            if( params.end_date_filter === todayDate || params.end_date_filter !== "" && params.start_date_filter !== "" ){
              optNumber +=1
            }

            if (statusFilter !== 'all') {
                params.leader_filter = statusFilter === 'leader';
                optNumber +=1
            }
            
            var orderMobile = $('#refine-order-filter option:selected').val()
            if (orderMobile !== 'newest') {
                params.order = orderMobile;
                optNumber +=1
            }
            $('#filter-number').text("("+ optNumber +")")
          }
            $.ajax({
                url: eventsUrl,
                data: params,
                dataType: 'json',
                success: function (data) {
                    $("#event-load-gif").hide();
                    $('#artistEventsList').removeClass("artist-loading-gif");
                    $('.concerts-footer').show();
                    if (data.template) {
                        if (currentPage > 1) {
                            $("#artistEventsList").append(data.template)
                        } else {
                            $("#artistEventsList").html(data.template)
                        }
                    }

                    if (data.total_pages) {
                        totalPages = data.total_pages;
                        if (currentPage >= totalPages) {
                            $('#next-page-btn').hide();
                            $('#load-more-btn').hide();
                        } else {
                            $('#next-page-btn').show()
                        }
                    }
                }
            });
        }

        $('#artist_archive_status_filter').on('change', function () {
            currentPage = 0;
            totalPages = 1;
            loadMore(false);
            $('#artistEventsList').html("")
            $('#artistEventsList').addClass("artist-loading-gif");
        });

        $('#artist_archive_order').on('change', function () {
            currentPage = 0;
            totalPages = 1;
            loadMore(false);
            $('#artistEventsList').html("")
            $('#artistEventsList').addClass("artist-loading-gif");
        });

        loadMore(false);
        $('#next-page-btn').on('click', function () {
            loadMore(false)
        })

        ////////////////////////////////////////////////////////////
        $(document).ready(function() {
            $(document).on('click','#back-to-events-list', function () {
                if( viewPortLength("width") < 960){
                    $('.artist-dashboard-event-container').hide("slide", { direction: "right" }, 300);
                    $('.artist-events-list').show("slide", { direction: "left" }, 300);
                }
            })

        $(window).resize( e => {
             if( viewPortLength("width") < 960 && $('.artist-events-list').is(":hidden")){
        
                  $('.artist-events-list').show("slide", { direction: "left" }, 300);
             }
        })
          $(document).on('click', '.artist-event-row', function () {
            if( viewPortLength("width") < 960){
                $('.artist-dashboard-event-container').show("slide", { direction: "right" }, 300);
                $('.artist-events-list').hide("slide", { direction: "left" }, 300);
            }


            var url = $(this).data('ajax-edit-url');
            $('#event-popup-load-gif').removeClass('hidden');
            $.ajax({
              type: 'GET',
              url: url,
              success: function(data) {
                $('#event-popup-load-gif').addClass('hidden');
                $('#edit-event-dashboard').html(data);
                EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
                EventForm.init(false);
                image_cropping.init();
              },
              error: function() {

              }
            });

          });
            $(document).on('click', '#show-video', function(){
                console.log('aa')
            } )
          // Ajax upload image
          $(document).on('change', '#mobile-event-edit-frm input[type="file"]', function () {
            var $form = $(this).closest('form');
            var data = new FormData($form.get(0));
            $('#div_id_photo img').toggleClass('hidden');
            $('#image-load-gif').toggleClass('hidden');
            $('#event_edit_modal').find('.modal-body').html('');
            $.ajax({
                url: "{% url 'upload_image_preview' %}",
                type: "POST",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                  if (data.success) {
                    $('#div_id_photo img').attr('src', data.src);
                    $('#div_id_photo img').toggleClass('hidden');
                    $('#image-load-gif').toggleClass('hidden');
                    $('#id_image_id').val(data.id);
                  }
                }
            });
          });

          $(document).on('click', '#metrics', e => {
                                        $('.video').css('background-color', '#f0f0eb')

              $('.metrics').css('background-color', '#fff')
              $('.edit-event-dashboard').addClass('not-show')
              $('.header-metrics-container').removeClass("not-show")
          })
        $(document).on('click', '#video', e => {
            $('.video').css('background-color', '#fff')
                          $('.metrics').css('background-color', '#f0f0eb')

              $('.header-metrics-container').addClass("not-show")

              $('.edit-event-dashboard').removeClass('not-show')
          })

          $(document).on('click', '.artist_remove', function () {
            var selector = $(this).data('remove');
            $(selector).val('true');
          });

          $(document).on('click', '#submit-id-submit', function (e) {
            e.preventDefault();
            $('#event_edit_modal').find('.modal-body').html('');
            $('#event-popup-load-gif').removeClass('hidden');
            var $form = $(this).closest('form');
            $.ajax({
              type: "POST",
              url: $form.attr('action'),
              data: $form.serialize(),
              success: function (data) {
                $('#event-popup-load-gif').addClass('hidden');
                if (data.success) {
                  var eventId = data.data.eventId;
                  var title = data.data.title;
                  var photoUrl = data.data.photoUrl;
                  var $element = $('#artist-event-row-' + eventId);
                  $element.find('.artist-event-picture img').attr('src', photoUrl);
                  $element.find('.title').text(title);
                  $('#event_edit_modal').modal('hide');
                  $('#event_edit_modal').find('.modal-body').html('');
                  $('#event-popup-load-gif').addClass('hidden');
                } else {
                  $('#event_edit_modal').find('.modal-body').html(data);
                  EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
                  EventForm.init(false);
                }
              },
              error: function () {
              }
            });
            return false;
          });

          $("#dashboard-status-filter .select-selected").text("Status");
          $("#dashboard-sort-filter .select-selected").text("Sort By");
          $('.refine-dashboard-buttons button[value="all"]').click();
          $("#apply-button").click(function () {
            apply = true;
            eventPageNum = 1;
            $(".datepicker-container").hide();
            sendEventRequest();
          });
    
          $(".datepicker-reset").click(function () {
              $('#search-date-picker-from-dashboard input').val("").datepicker("update");
              $('#search-date-picker-to-dashboard input').val("").datepicker("update");
              eventDateFrom = eventDateTo = null;
              $("#search-date-picker-from-dashboard input").click();
              $("#search-date-picker-from-dashboard input").focus();
          });
          $(".refine-apply").click(function () {
            $("body").removeClass("hidden-body");
              currentPage = 0;
              totalPages = 1;
              $('#artistEventsList').html("")
              $('#artistEventsList').addClass("artist-loading-gif");
              loadMore(true)
              $(".refine-overlay").hide();

          });

          $('.btngroup--btn').click(function () {
              venueFilter = $(this).val();
          });
          /////////
          $('#search-date-picker-from-refine input').val("").datepicker("update");
          $(".reset-all").click(function () {
              $('#search-date-picker-from-refine input').val("").datepicker("update");
              $('#search-date-picker-to-refine input').val("").datepicker("update");
              eventDateFrom = eventDateTo = null;
              $('.refine-dashboard-buttons button[value="all"]').click()
              $(".event-filter-select .select-items div[value='newest']").click()
          });
            $(".refine").click(function () {
              $(".refine-overlay").show();
              $("body").addClass("hidden-body");
          });
        
          $(".closebtn").click(function () {
              $(".refine-overlay").hide();
              $("body").removeClass("hidden-body");
          })

          $('#load-more-btn').click(function () {
            loadMore();
          });
        });
          
          //////////
          $("#dashboard-mobile-refine-reset").click(function () {
            $('#search-date-picker-from-refine input').val("").datepicker("update");
            $('#search-date-picker-to-refine input').val("").datepicker("update");
            eventDateFrom = eventDateTo = null;
            $('.refine-dashboard-buttons button[value="all"]').click()
            $(".event-filter-select .select-items div[value='newest']").click()
            currentPage = 0;
            totalPages = 1;
            $('#artistEventsList').html("")
            $('#artistEventsList').addClass("artist-loading-gif");
            loadMore(true)
          });
          //////////
           var $datePickerFromRefine = $('#search-date-picker-from-refine input');
            $datePickerFromRefine.datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                container: '#search-date-picker-from-refine',
                showOnFocus: false
            }).datepicker('setDate', 'now');

            $datePickerFromRefine.on('changeDate', function (newDate) {
                eventDateFrom = newDate.date;
                $("#search-date-picker-to-refine input").click();
                $("#search-date-picker-to-refine input").focus();
            });

    $datePickerFromRefine.on('click', function () {
        var dropdown = $('#search-date-picker .dropdown-menu');
        if (dropdown[0] && dropdown[0].style.display === 'block') {
            $datePickerFromRefine.datepicker('hide');
        } else {
            $datePickerFromRefine.datepicker('show');
        }

    });
    //////////////////////

    var $datePickerToRefine = $('#search-date-picker-to-refine input');
    $datePickerToRefine.datepicker({
        format: 'mm/dd/yyyy',
        autoclose: false,
        container: '#search-date-picker-to-refine',
        showOnFocus: false
    });

    $datePickerToRefine.on('changeDate', function (newDate) {
        eventDateTo = newDate.date;

        from = (eventDateFrom.getMonth() + 1) + '/' + eventDateFrom.getDate() + '/' + eventDateFrom.getFullYear();
        from = '<span class="accent-color">' + from + '</span>';
        to = (eventDateTo.getMonth() + 1) + '/' + eventDateTo.getDate() + '/' + eventDateTo.getFullYear();
        to = '<span class="accent-color">' + to + '</span>';

        $(".datepicker-btn").html("From " + from + " to " + to);
    });

    $datePickerToRefine.on('click', function () {
        var dropdown = $('#search-date-picker .dropdown-menu');
        if (dropdown[0] && dropdown[0].style.display === 'block') {
            $datePickerToRefine.datepicker('hide');
        } else {
            $datePickerToRefine.datepicker('show');
        }

    });

    ///////////this

    $('.datepicker-dashboard-main-btn').bind("click", ToggleDisplay);

    function ToggleDisplay(event) {
        if ($("#dashboard-desktop-datepicker").data('shown'))
            hide(event);
        else 
            display();
    }

    function display() {
        $("#dashboard-desktop-datepicker").css("display", "flex").hide().fadeIn(500, function() {
            $(document).bind("click", hide);
            $("#dashboard-desktop-datepicker").data('shown', true);
        });

        $("#search-date-picker-from-dashboard input").click();
        $("#search-date-picker-from-dashboard input").focus();
    }

    function hide(event) {
        var $target = $(event.target);
        if (($target.closest('.noclick').length == 0) &&
        (!($target.hasClass('day') || $target.hasClass('year')))) {
            $('#dashboard-desktop-datepicker').fadeOut(500, function () {
                $(document).unbind('click');
                $('#dashboard-desktop-datepicker').data('shown', false);
            });
        }
    }

    /////////////////////

    var $datePickerFrom = $('#dashboard-desktop-datepicker #search-date-picker-from-dashboard input');
    $datePickerFrom.datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,
        container: '#search-date-picker-from-dashboard',
        showOnFocus: false
    });

    $datePickerFrom.on('changeDate', function (newDate) {
        eventDateFrom = newDate.date;
        $("#dashboard-desktop-datepicker #search-date-picker-to-dashboard input").click();
        $("#dashboard-desktop-datepicker #search-date-picker-to-dashboard input").focus();
    });

    $datePickerFrom.on('click', function () {
        var dropdown = $('#dashboard-desktop-datepicker #search-date-picker .dropdown-menu');
        if (dropdown[0] && dropdown[0].style.display === 'block') {
            $datePickerFrom.datepicker('hide');
        } else {
            $datePickerFrom.datepicker('show');
        }
    });

    //////////////////////

    var $datePickerTo = $('#dashboard-desktop-datepicker #search-date-picker-to-dashboard input');
    $datePickerTo.datepicker({
        format: 'mm/dd/yyyy',
        autoclose: false,
        container: '#search-date-picker-to-dashboard',
        showOnFocus: false
    });

    $datePickerTo.on('click', function () {
        var dropdown = $('#dashboard-desktop-datepicker #search-date-picker .dropdown-menu');
        if (dropdown[0] && dropdown[0].style.display === 'block') {
            $datePickerTo.datepicker('hide');
        } else {
            $datePickerTo.datepicker('show');
        }
    });

    ///////////

    $("#dashboard-apply-button").click(function () {
        $("#dashboard-desktop-datepicker").fadeOut(500, function () {
            $(document).unbind("click");
            $("#dashboard-desktop-datepicker").data('shown', false);
        });
        currentPage = 0;
        totalPages = 1;
        $('#artistEventsList').html("")
        $('#artistEventsList').addClass("artist-loading-gif");
        loadMore(false);
        
    });

    $("#dashboard-desktop-reset").click(function () {
        defaultStatusValue = $("#artist_archive_status_filter option:first-child").val()
        defaultStatusText = $("#artist_archive_status_filter option:first-child").text()
        defaultOrderValue = $("#artist_archive_order option:first-child").val()
        defaultOrderText = $("#artist_archive_order option:first-child").text()
        $("#artist_archive_status_filter").val(defaultStatusValue)
        $("#artist_archive_status_filter + .select-selected").text(defaultStatusText)
        $("#artist_archive_order").val(defaultOrderValue)
        $("#artist_archive_order + .select-selected").text(defaultOrderText)
        $("#search-date-picker-from-dashboard").find(".date-picker-text").val("")
        $("#search-date-picker-to-dashboard").find(".date-picker-text").val("")
        currentPage = 0;
        totalPages = 1;
        $('#artistEventsList').html("")
        $('#artistEventsList').addClass("artist-loading-gif");
        loadMore(false);
    });
    /////////////
    $('.refine-dashboard-buttons .btngroup--btn').on('click', function () {
        $('.refine-dashboard-buttons .btngroup--btn').css("background-color", "")
        $(this).css( "background-color", 'white' );
    })
    ///////////////


    $(document).on('keyup', '.artist_field .selectize-input input',function(){
        console.log("a")
        artistSelectorContainer = $(this).closest(".artist-selector")
        selectElement = $(artistSelectorContainer).find("select")[0]
        selectizeElement = $(artistSelectorContainer).find(".selectize-dropdown-content")[0]
        if($(this).val().length > 1){
            loadArtist($(this).val(), selectElement)
        }
    });
    function loadArtist(value, select){
            $.ajax({
            type: 'GET',
            url: '/search/artist_form_autoconplete/?artist-start='+value,
            success: function(data){
                data.artist_list.forEach(function(artist) {
                    select.selectize.addOption({ value: artist.val, text: artist.full_name })
                    select.selectize.refreshOptions() 
                })
                
            }
            })
    }
    //////////

    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}">

{% endblock %}
