{% extends "artist_dashboard/base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}Previous payouts{% endblock %}

{% block content %}
  <section class="container previous-payouts">
    <h1 class="previous-payouts__heading">Previous payouts</h1>
    <ul class="previous-payouts__table">
      <li class="previous-payouts__table__row header">
        <div class="period-dates">
          Period dates
        </div>
        <div class="archive-total">
          Archive total seconds
        </div>
        <div class="my-total">
          My total seconds
        </div>
        <div class="my-period-ratio">
          My period ratio
        </div>
        <div class="total-archive-payout">
          Total archive payout
        </div>
        <div class="my-payout">
          My payout
        </div>
        <div class="my-ledger-balance">
          My ledger balance
        </div>
        <div class="paid-out">
          Paid out
        </div>
        <div class="download-xls">
          Download xls
        </div>
      </li>
      {% for payout in past_payouts %}
      <li class="previous-payouts__table__row">
        <div class="period-dates">
          {{ payout.payout_period.period_start|date:"n/j/Y" }} - {{ payout.payout_period.period_end|date:"n/j/Y" }}
        </div>
        <div class="archive-total">
          {{ payout.payout_period.total_seconds }} seconds
        </div>
        <div class="my-total">
          {{ payout.artist_seconds }} seconds
        </div>
        <div class="my-period-ratio">
          {{ payout.artist_percentage_ratio|floatformat:"-5" }}%
        </div>
        <div class="total-archive-payout">
          ${{ payout.payout_period.total_amount|floatformat:"-2" }}
        </div>
        <div class="my-payout">
          ${{ payout.amount|floatformat:"-2" }}
        </div>
        <div class="my-ledger-balance">
          ${{ payout.ledger_balance|floatformat:"-2" }}
        </div>
        <div class="paid-out">
          {% if payout.ledger_balance > 20 %}
            <i class="fa fa-check-circle"></i>
          {% endif %}
        </div>
        <div class="download-xls">
          <a href="{{ payout.payout_period.musicians_payout_spreadsheet.url }}"><i class="fa fa-arrow-down"></i></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
