{% extends "artist_dashboard/base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}Previous payouts{% endblock %}

{% block content %}
  <section class="container previous-payouts">
    <h1 class="previous-payouts__heading">Previous payouts</h1>
    <ul class="previous-payouts__table">
      <li class="previous-payouts__table__row header">
        <div class="period-dates">
          Period dates
        </div>
        <div class="archive-total">
          Archive total seconds
        </div>
        <div class="my-total">
          My total seconds
        </div>
        <div class="my-period-ratio">
          My period ratio
        </div>
        <div class="total-archive-payout">
          Total archive payout
        </div>
        <div class="my-payout">
          My payout
        </div>
        <div class="my-ledger-balance">
          My ledger balance
        </div>
        <div class="paid-out">
          Paid out
        </div>
      </li>
      <li class="previous-payouts__table__row">
        <div class="period-dates">
          10/15 - 12/15
        </div>
        <div class="archive-total">
          39074370 seconds
        </div>
        <div class="my-total">
          202110 seconds
        </div>
        <div class="my-period-ratio">
          0.517%
        </div>
        <div class="total-archive-payout">
          $6594.00
        </div>
        <div class="my-payout">
          $34.10
        </div>
        <div class="my-ledger-balance">
          $0
        </div>
        <div class="paid-out">
          <i class="fa fa-check-circle"></i>
        </div>
      </li>
      <li class="previous-payouts__table__row">
        <div class="period-dates">
          10/15 - 12/15
        </div>
        <div class="archive-total">
          39074370 seconds
        </div>
        <div class="my-total">
          202110 seconds
        </div>
        <div class="my-period-ratio">
          0.517%
        </div>
        <div class="total-archive-payout">
          $6594.00
        </div>
        <div class="my-payout">
          $34.10
        </div>
        <div class="my-ledger-balance">
          $0
        </div>
        <div class="paid-out">
          <i class="fa fa-check-circle"></i>
        </div>
      </li>
      <li class="previous-payouts__table__row">
        <div class="period-dates">
          10/15 - 12/15
        </div>
        <div class="archive-total">
          39074370 seconds
        </div>
        <div class="my-total">
          202110 seconds
        </div>
        <div class="my-period-ratio">
          0.517%
        </div>
        <div class="total-archive-payout">
          $6594.00
        </div>
        <div class="my-payout">
          $34.10
        </div>
        <div class="my-ledger-balance">
          $0
        </div>
        <div class="paid-out">
          <i class="fa fa-check-circle"></i>
        </div>
      </li>
    </ul>
  </section>
{% endblock %}
