<div class="modal fade dashboard-publish" id="publishConfirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-body">
                <p class="title2 accent-color">Publish</p>
                <p class="title1">This set is currently private</p>
                <p class="text4 text-justify">
                    Making your performance public will add it from the archive making it avaliable to the SmallsLIVE supporting members. You will be able to generate residual money from your performance as is laid out in the Artist Agreement. Learn more about the <span class="accent-color">Revenue Share</span>
                </p>
                <div class="button-row button-row-margin">
                    <button onclick="hidePublish()">Cancel</button>
                    <button onclick="publishSet()">Make Public</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privateConfirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-body">
                <p class="title2 accent-color">Publish</p>
                <p class="title1">This set is currently published</p>
                <p class="text4 text-justify">
                    Making your performance private will remove it from the archive making it unavaliable to the SmallsLIVE supporting members. You will not be able to generate any residual monies from your performance as is laid out in the Artist Agreement. Learn more about the <span class="accent-color">Revenue Share</span>
                </p>

                <div class="button-row button-row-margin">
                    <button onclick="hideMakePrivate()">Cancel</button>
                    <button onclick="makeSetPrivate()">Make Private</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publishSuccess" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-body">
                <p class="title2 accent-color">Publish</p>
                <p class="title1">Your set is now <span class="success-state">public</span></p>
                <div class="button-row button-row-margin">
                    <button id="hide-scss-btn" onclick="hideSuccess()">Got it</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="downloadFormat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-body">
                <p class="title2 accent-color">Download</p>
                <p class="title1">Select a format</p>
                <div class="button-row button-row-margin">
                    <a id="downloadFormatAudioUrl" href="" download>
                        <button>mp3 audio</button>
                    </a>
                    <a id="downloadFormatVideoUrl" href="" download>
                        <button>mp4 video</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


