<div class="modal fade dashboard-publish" id="sideMusicianModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal no-cancel">
            <a href="#" class="close-button"></a>
            <div class="modal-body">
                <p class="title2 accent-color">Leaders only</p>
                <p class="title1">Contact Leaders</p>
                <p class="text4 text-justify message2">
                  You must have leader status to edit or access this information. <span class="comma-separated-leaders"></span> are listed as leaders.
                  Please contact one of them to receive or edit this content.
                </p>
                <p class="text4 text-justify message1">
                  You must have leader status to edit or access this information. <span class="comma-separated-leaders"></span> is listed as leader.
                  Please contact this artist receive or edit this content.
                </p>
            </div>
        </div>
    </div>
</div>