{% extends "static-page.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block about-us-active %}static-nav__item--active{% endblock %}

{% block static-content %}
  <section class="static-content {% if files %}col-md-5{% else %}col-md-9{% endif %}">
    <h1 class="static-content__main-title">{{ page.title }}</h1>

    {{ page.content|safe }}
  </section>
  {% if files %}
  <aside class=" static-sidebar col-md-4 hidden-xs hidden-sm">
    {% for file in files %}
    <figure>
      <img src="{% thumbor_url file.file.url|urlencode width=365  %}" class="static-sidebar__image" alt="{{ file.name }}"/>
      <figcaption class="static-content__caption">{{ file.name }}</figcaption>
    </figure>
    {% endfor %}
  </aside>
{% endif %}

{% endblock static-content %}