<section class="static-content static-tab active closed" id="archive-tab">
  <div class="flex-row">
    <div class="flatpage-content">
      <h1 class="main-title">Archive  <button class="expand">	&#x2B07</button></h1>
      <p>
        We feel that all the performances at
        <span class="smalls-color">Smalls </span> and
        <span class="mezzrow-color">Mezzrow</span> are of historic importance.
        The<span class="smalls-color"> SmallsLIVE</span>
        Archive is an initiative to document every single show performed at
        <span class="smalls-color">Smalls</span> and
        <span class="mezzrow-color">Mezzrow</span>. The Archive, begun in
        September of 2007 has now more than 17,000 recordings and represents
        more than 3500 musicians. The
        <span class="smalls-color">SmallsLIVE</span> Archive is a dynamic,
        historical library capturing 12 years of performances and growing each
        week. The recordings in the Archive are the property of the Artists that
        create them. Artists may choose to make their shows private or public.
      </p>
      <p>
        As Supporting Members of the
        <span class="smalls-color">SmallsLIVE</span> Foundation watch shows in
        the Archive usage is registered. Artists are payed royalties based on
        the percentage of their individual usage divided by the overall usage of
        the Archive. The more popular an artist is the larger his or her share
        of the royalty payout will be. By listening to your favorite artists in
        the Archive you are supporting them directly.
      </p>
    </div>
  </div>
</section>
