<article class="static-content static-tab active closed" id="catalog-tab">
  <div class="flex-row">
    <div class="flatpage-content">
      <h1 id="mobile-catalog" class="main-title expand" tabindex="0">
        SmallsLIVE
        catalog
      </h1>
      <p class="overview">
        The SmallsLIVE Catalog is our collection of individually produced HD artist projects.
      </p>
      <p tabindex="0">
        The SmallsLIVE Catalog is a collection of HD projects, recorded live at Smalls Jazz Club or Mezzrow with tracks selected by the artist.
        These projects are available as collectible CD’s or as either HD or MP3 downloads.
        Members have a “library” from which they can access their recorded projects for their own downloads and enjoyment.
      </p>
      <div class="text-right">
        <button class="white-border-button close">Close</button>
      </div>
    </div>
  </div>
</article>
