{% extends "home_new.html" %}
{% load static from staticfiles %}

{% block contact-us-active %}active{% endblock %}

{% block title %}Education{% endblock %}


{% block content %}
  <div class="main-container pad-content">
    <div>
      <div class="flex-row content-centered">
        <div class="flex-column info-page-container">
          <article class="education__article">
            <img class="logo" src="{% static 'image/education/workshop_logo.svg' %}" alt="Workshop logo">
            <p>
              Education is a key component to the mission of the <span class="smalls-color">SmallsLIVE Foundation</span>.
              Our audio/video archive is a unique resource in the history of jazz, documenting the work of nearly 4000 musicians over twelve consecutive years.
              There are currently more than 15,000 shows from both <span class="smalls-color">Smalls</span> and <span class="mezzrow-color">Mezzrow</span>.
              The archive adds 35 new shows every week.
            </p>
            <div class="education__article__quote">
              <div class="education__article__picture">
                <img src="{% static 'image/education/keller_coker.jpg' %}" alt="Keller Colker, Dean of the Jazz & Contemporary Music Dept. at The New School.">
              </div>
              <p>
                <span class="big-letter">“</span><i>The entire New School community is thrilled to be working with the <span class="smalls-color">SmallsLIVE Foundation</span> on this project.
                The <span class="smalls-color">SmallsLIVE class</span> is an important part of the rethinking of musicology at the School of Jazz & Contemporary Music,
                where students develop their skills in critical thinking, research, and placing art in an historical and social context
                through the lens of living musical cultures.</i><span class="big-letter closing">”</span>
              </p>
              <p>
              -Keller Colker, Dean of the Jazz & Contemporary Music Dept. at The New School.
              </p>
            </div>
            <p>
              Under the direction of Keller Coker, The School of Jazz & Contemporary Music at The New School
              has given <span class="smalls-color">SmallsLIVE</span> the unique opportunity to create and teach a course with the
              <span class="smalls-color">SmallsLIVE archive</span> as the centerpiece.
            </p>
            <div class="education__article__picture">
              <img src="{% static 'image/education/new_school_class.jpg' %}" alt="New School Class">
            </div>
            <p>
              In 2018, “SmallsLIVE: Profiles From The Contemporary Jazz Scene” was premiered at The New School and is now in its second year. 
              Students use the archive to research <span class="smalls-color">SmallsLIVE artists</span> and gain insights into their music and process.
              Student led research groups use the archive to create in-depth profiles of <span class="smalls-color">SmallsLIVE artists</span> through archive transcriptions,
              concert reviews, and interviews. 
              The course also helps familiarize students with various SmallsLIVE artists,
              the history of <span class="smalls-color">Smalls</span> and <span class="mezzrow-color">Mezzrow</span>, and the current scene at both clubs.
              In many cases, the artists themselves are brought to class to speak directly with the students and engage in dialogue.
              <span class="smalls-color">The SmallsLIVE Foundation</span> subsidizes the expense of creating and operating this class.  
            </p>
            <div class="education__article__quote">
              <div class="education__article__picture">
                <img src="{% static 'image/education/new_school_class_2.jpg' %}" alt="New School Class">
              </div>
              <p><span class="big-letter">“</span>
                <i><span class="smalls-color">Smalls</span> and <span class="mezzrow-color">Mezzrow</span>
                have been home to some of the most influential musicians in contemporary jazz music.
                <span class="smalls-color">The SmallsLIVE archive</span> is a one-of-a-kind resource for the academic study of these musicians.
                Our course at the New School presents original research on <span class="smalls-color">SmallsLIVE musicians</span> and engages students in research of their own.
                By using the archive as a tool for academic inquiry, students are given unique insights into the current
                New York jazz scene and the individual artists who have shaped it.</i><span class="big-letter closing">”</span>
                <p> –Jeff McGregor, Education Director SmallsLIVE </p>
              </p>
            </div>
            <p>
              The <span class="smalls-color">SmallsLIVE Foundation</span> is available to any school music program that is interested in our archive or educational initiative.
              We are available for school tours and private presentations as well as workshops and lessons. Please email us at education@smallslive.com
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
