
<article class="static-content static-tab active closed" id="hours-policies-tab">

  <div class="flex-row">
    <div class="flatpage-content">
      <h1 class="main-title expand" tabindex="0">Hours Policies</h1>
      <p class="text2" tabindex="0">Hours</p>
      <p tabindex="0">Doors open at 7PM.  Tickets are <span class="smalls-color">“first come/first served”</span>.<br>  We recommend arriving a minimum of a ½ hour before the show you would like to see to insure your seat. <br> Smalls sells 70 seats per show.  After we reach our capacity we begin to sell tickets to the following show.<br>  A line for ticket holders will begin 20 minutes before the show begins.</p>
        <h3 class="text-grey" tabindex="0">Show times are at 7:30 PM, 9:00 PM, 10:30 PM, 12:00 AM.</h3>
        <p tabindex="0">
            <span class="smalls-color">Smalls</span> has an after-hours show at 1:00 AM to close.<br>
            <span class="mezzrow-color">Mezzrow</span> has a 4:30 PM matinee show every Sunday afternoon.
        </p><br>
        <p class="text2" tabindex="0">Polices</p>
        <p tabindex="0">
          •	<span class="smalls-color">Smalls</span> and <span class="mezzrow-color">Mezzrow</span> have an “invitation only” booking policy.  Please do not solicit us for bookings.<br>
          •	There is a one drink minimum per person per show.<br>
          •	Valid ID is required to purchase alcohol<br>
          •	<span class="smalls-color">Smalls</span> and <span class="mezzrow-color">Mezzrow</span> reserves the right to refuse entrance or bar service at the discretion of the management.  <br>
          •	No smoking of any kind allowed inside the venues.<br>
          •	Please be conscious of our neighbors and neighborhood and everyone’s right to abide in peace.  <br>

        </p>
    </div>
  </div>
</article>
