<article class="static-content static-tab active closed" id="passes-tickets-tab">

  <div class="flex-row">
    <div class="flatpage-content">

      <h1 id="mobile-passes-tickets" class="main-title expand" tabindex="0">Tickets Passes</h1>

      <p class="flex-row" tabindex="0">Passes for the evening are $20.
          Passes may be purchased at either venue and are valid at both.  We accept all credit cards at the door.
      </p><br>
      <div class="flex-row flex-row passes-days">
      <div class="flex-column day-list">
          <div class="title1" tabindex="0"       >
            Sunday – Thursday
          </div><br>
          <div class="flex-column day-event">
            <a href="#">
              <p class="smalls-color ">Passes are good for all the shows<br> at both venues </p>
              <p class="text-grey "> Pleas feel free to<br> visit both clubs with the same pass</p>
            </a>
          </div>
      </div>
      <div class="flex-column day-list">
          <div class="title1" tabindex="0" >
            Friday & Saturday
          </div><br>
          <div class="flex-column day-event">
            <a href="#">
              <p class="smalls-color ">Passes are good for only one set </p>
            </a>
          </div>
      </div>
      <div class="flex-column day-list">
          <div class="title1" tabindex="0">
            Friday - Saturday
          </div><br>
          <div class="flex-column day-event">
            <a href="#">
              <p class="mezzrow-color ">Mezzrow</p>
              <p class="text-grey "> Charges an additional $5 for<br> the front 40 “music room” seats.</p>
            </a>
          </div>
      </div>
       <div class="flex-column day-list">
          <div class="title1" tabindex="0">
            Sunday – Thursday
          </div><br>
          <div class="flex-column day-event">
            <a href="#">
              <p class="smalls-color ">Student price is $10 with valid ID<br> starting at 10PM.</p>
              <p class="text-grey "> There is no student discount on the weekend.</p>
            </a>
          </div>
      </div>


      </div><br>
      <p tabindex="0">Reserved seats are available for most shows at <span class="mezzrow-color">Mezzrow</span> and select shows at <span class="smalls-color">Smalls</span>.  Click on the event and click the “tickets” button to purchase reserved seats.</p>
    <p class="text-grey" tabindex="0">Saints, Angels, Wizards and Holy People are always free (at the discretion of the management)</p>
    </div>
  </div>
</article>
