
            <section class="static-content static-tab" id="passes-tickets-tab">
              
              <div class="flex-row">
                <div class="flatpage-content">
              
                  <h1 class="main-title">Tickets <span class="white-text">Passes</span></h1>

                  <h1 class="flex-row">Passes for the evening are $20.
                      Passes may be purchased at either venue and are valid at both.  We accept all credit cards at the door.
                  </h1><br>
                  <div class="flex-row flex-row passes-days">
                  <div class="flex-column day-list">
                      <div class="title1" data-date="July 12, 2019">
                        Sunday – Thursday
                      </div>
                      <div class="flex-column day-event">
                        <a href="#">
                          <div class="smalls-color text4">Passes are good for all the shows<br> at both venues </div>
                          <div class="text-grey text4"> Pleas feel free to<br> visit both clubs with the same pass</div>
                        </a>
                      </div>
                  </div>
                  <div class="flex-column day-list">
                      <div class="title1" data-date="July 12, 2019">
                        Friday & Saturday
                      </div>
                      <div class="flex-column day-event">
                        <a href="#">
                          <div class="smalls-color text4">Passes are good for only one set </div>
                        </a>
                      </div>
                  </div>
                  <div class="flex-column day-list">
                      <div class="title1" data-date="July 12, 2019">
                        Friday - Saturday
                      </div>
                      <div class="flex-column day-event">
                        <a href="#">
                          <div class="mezzrow-color text4">Mezzrow</div>
                          <div class="text-grey text4"> Charges an additional $5 for<br> the front 40 “music room” seats.</div>
                        </a>
                      </div>
                  </div>
                   <div class="flex-column day-list">
                      <div class="title1" data-date="July 12, 2019">
                        Sunday – Thursday
                      </div>
                      <div class="flex-column day-event">
                        <a href="#">
                          <div class="smalls-color text4">Student price is $10 with valid ID<br> starting at 10PM.</div>
                          <div class="text-grey text4"> There is no student discount on the weekend.</div>
                        </a>
                      </div>
                  </div>


                  </div><br>
                  <h2>Reserved seats are available for most shows at Mezzrow and select shows at Smalls.  Click on the event and click the “tickets” button to purchase reserved seats.</h2>
                <p class="text-grey">Saints, Angels, Wizards and Holy People are always free (at the discretion of the management)</p>
                </div>
              </div>
            </section>
