<section class="static-content static-tab active closed" id="streaming-tab">
  <div class="flex-row">
    <div class="flatpage-content">
      <h1 class="main-title">Live <span class="white-text">Stream</span>  <button class="expand">	&#x2B07</button></h1>
      <p>
        It is the policy of <span class="smalls-color">Smalls Jazz Club</span> and <span class="mezzrow-color">Mezzrow</span> to live stream all of our shows to our website in order to disseminate our music to the world.  Transmissions begin at the start of the evening and go until the close of the venues.  There is no charge to watch these live shows.  Register as a free member and confirm your email address to sign in and watch our live streams.  Live shows are available in our Archive generally one week after the performance.  

      </p>
    </div>
  </div>
</section>
