body {
  background-image: url("../image/header_bg.png"), url("../image/background-tile.png");
  background-position: center top, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 100% 404px, 10px 10px;
  background-color: $background-color;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.artist {
  @extend %bottom-section-border;
  background-color: #fff;
}


// equal height columns on large devices
@media (min-width: $screen-md-min) {
  .row{
    overflow: hidden;
  }

  [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
