$background-color: #f0f0eb;
$white-transparent: rgba(255, 255, 255, 0.9);
$accent-color: #ed1c24;
$accent-color-dark: darken($accent-color, 10%);
$border-color: $white-transparent;
$black: black;
$text-grey: #808080;

.accent-color {
  color: $accent-color;
}

.text-grey {
  color: $text-grey;
}

$underline-height: 3px;

$sepia-filter: grayscale(100%) brightness(50%) sepia(100%) saturate(20%) hue-rotate(335deg);
