@mixin lato-light {
  font-family: 'Lato', $helvetica;
  font-weight: 300;
}

@mixin lato {
  font-family: 'Lato', $helvetica;
  font-weight: 400;
}

@mixin lato-italic {
  font-family: 'Lato', $helvetica;
  font-style: italic;
  font-weight: 400;
}

@mixin lato-bold {
  font-family: 'Lato', $helvetica;
  font-weight: 700;
}

@mixin lato-bold-italic {
  font-family: 'Lato', $helvetica;
  font-style: italic;
  font-weight: 700;
}

@mixin lato-black {
  font-family: 'Lato', $helvetica;
  font-weight: 900;
}
