{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load thumbor_tags %}
{% load basket_tags %}



{% block product %}
  {% purchase_info_for_product request product as session %}
    <!-- Single store item -->
    <div class="store-list-item flex-column items-flex-stretch">
        <div class="store-list-item-image">
            {% with image=product.primary_image %}
                {% if not image.is_missing %}
                  <a href="{{ product.get_absolute_url }}"><img src="{% thumbor_url image.original.url|urlencode height=260 width=260 smart=True %}" alt="{{ product.get_title }}" class="defineImageRatio"></a>
                {% else %}
                  <a href="{{ product.get_absolute_url }}"><img src="{% static "image/image_not_found.jpg" %}" alt="{{ product.get_title }}" class="defineImageRatio"></a>
                {% endif %}
            {% endwith %}
        </div>
        <span class="text2 store-list-item-tile">
            <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title }}</a>
        </span>
        {% if product.product_class.slug == "album" %}
            <p class="text4">{% if product.has_physical_media %}CD / {% endif %}{% if product.has_digital_media %}Digital download / {% endif %}{% if product.has_tracks %}Tracks{% endif %}</p>{% endif %}
        <span class="text4">
        {% if session.price.exists %}
            {% if session.price.excl_tax == 0 %}
                {% trans "Free" %}
            {% elif session.price.is_tax_known %}
                {{ session.price.incl_tax|currency:session.price.currency }}
            {% else %}
                {{ session.price.excl_tax|currency:session.price.currency }}
            {% endif %}
        {% else %}
            &nbsp;
        {% endif %}
        </span>
        <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post" class="add-to-basket">
          {% if session.availability.is_available_to_buy %}
            {% basket_form request product 'single' as basket_form %}
            
                {% csrf_token %}
                {{ basket_form.quantity }}
               
           
          {% endif %}
        </form>
    </div>
    <!-- End of single store item -->
{% endblock %}
