{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load addurlparameter %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}About{% endblock %}

{% block extra_head %}

{% endblock %}

{% block home_content %}
    <main class="static-content basic-page about-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 about-content-wrapper">
                    <p>Smalls Jazz Club opened in 1994 by ex-naval nurse, Mitch Borden. Borden brought a philosophical approach to managing the club. He felt that the social element of hanging out was of utmost importance. He fostered a loose club environment featuring jam sessions and gave the musical community priority over sound business practice. A young generation of musicians quickly made Smalls their homebase. During the early period of Smalls, there was no liquor license and the club operated 24/7. Some musicians lived in the club full time. Many prominent names of the current jazz scene cut their teeth at Smalls. Now, multiple generations of jazz musicians credit Smalls as their incubator and a start to their careers.</p>

                    <p>After September 11, 2001, the economics of New York City changed and Smalls went bankrupt. The club was closed for nearly two years re-opened briefly as a Brazilian bar. Although the space was upgraded and got a liquor license, the Brazilian bar was not popular. The owner sought Borden and asked him to re-open Smalls. Borden worked with him for two more years until the owner became fed up decided to sell the business. Jazz pianist Spike Wilner and poet Lee Kostrinsky partnered with Borden to buy and reconfigure the club and to give it new life. The club was again committed to the idea of promoting and presenting jazz music as well as providing a communal residence for the fans and artists. There was also a commitment to record, transmit and preserve all of the work created at Smalls and Mezzrow for future generations to study and enjoy. The SmallsLIVE Archive was created in September of 2007 and continues to this day.</p>

                    <p>After Kostrinsky’s retirement in 2011, Wilner and Borden opened the venue Mezzrow directly across the street. Inspired by the biography of “Mezz” Mezzrow’s, Really The Blues, Mezzrow was conceived as a piano/bass duo room, in the style of the great jazz club Bradley’s. Mezzrow took on a life of its own and becoming its own musical personality. Smalls and Mezzrow operate in tandem to present and live-stream 30 concerts a week. Mitch Borden retired in 2019 and now Spike Wilner is sole-proprietor. Wilner managed to navigated the clubs through the challenging COVID shutdown period. His long-term belief in live-streaming became Smalls’ life-line. A sympathetic, world-wide audience kept the clubs afloat through online donations until finally the time came for businesses to operate again.</p>

                    <p>Both clubs are now vibrantly full of jazz loving people from all over the world. The musicians are all top rate and playing their hearts out for an adoring and sympathetic crowd. We invite you to come visit us in person, reserve a seat and enjoy a concert.</p>
                    <img class="big centered" src="{% static 'image/basic_pages/empty-club.jpeg' %}" alt="Empty club">
                    
                    <div class="newsletter-wrapper">
                        <p>Subscribe to our newsletter.</p>

                        {% include 'partials/newsletter.html' %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock home_content %}

{% block extra_js %}

{% endblock extra_js %}
