{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load addurlparameter %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}Livestream{% endblock %}

{% block extra_head %}

{% endblock %}

{% block home_content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Livestream</h1>
                    <p class="text4">Smalls Jazz Club was one of the first venues to utilize live-streaming and streamed their first show in September of 2007. Since then, Smalls and Mezzrow have live-streamed all of their shows and built aninternational audience of on-line fans and supporters. Our goal is to share the music created in our clubs with the world.</p>

                    <p class="text4">There is no charge to watch the live streams from Smalls and Mezzrow. You can watch all the shows each night on our website by signing up as a free member of The SmallsLIVE Foundation [SIGN UP]. We also live-stream to our YouTube Channels, <a href="www.youtube.com/@smallslive" class="accent-color">www.youtube.com/@smallslive</a> and <a href="www.youtube.com/@mezzrowjazzclub8350" class="accent-color">www.youtube.com/@mezzrowjazzclub8350</a> </p>

                    <p class="text4">Every live-streamed performance is placed in The SmallsLIVE Audio/Video Archive within one week. The SmallsLIVE Archive is an ongoing archiving project with the mission to record and preserve all the performances at Smalls Jazz Club and Mezzrow for future generations. Get access to the SmallsLIVE Archive by becoming a supporting member of The SmallsLIVE Foundation and making a $10 yearly donation. <a href="#" class="accent-color">[CLICK HERE TO JOIN]</a> </p>
                </div>
            </div>
        </div>
    </main>
{% endblock home_content %}

{% block extra_js %}

{% endblock extra_js %}
