{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load addurlparameter %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}Ticketing{% endblock %}

{% block extra_head %}

{% endblock %}

{% block home_content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Looking for tickets?</h1>
                    <p class="text4">Reserved seats for the shows are $35 Sunday-Thursday and $40 Friday & Saturday. You may purchase guaranteed seats for any show in the calendar. To purchase a ticket, click on the event you wish and then press the “Buy Tickets” button. Smalls sells 50 advanced seats per show and Mezzrow sells 40 advanced seats per show. Please note there is a required <strong>One-drink minimum per person per set and it is customary to leave a gratuity for the bar staff.</strong></p>

                    <p class="text4">After you purchase your tickets, please look for a confirmation email. This email will have your <strong>Confirmation Number</strong> and the name of your party. Your name will also be at the door when you arrive but please have your confirmation number handy.</p>

                    <p class="text4">We ask that you arrive <strong>30 min before</strong> the show for the <strong>Reservation Line. PLEASE NOTE:</strong> your ticket guarantees you a seat but choice of seats is first come/first served, so please be on-time for seating.</p>

                    <p class="text4"><strong>PLEASE NOTE:</strong> once the set has begun, we reserve the right to fill the seats. If you arrive late, you will have the option to be seated on the following set, or to be seated at the otherclub. In general, there is a <strong>NO REFUND POLICY</strong> for ticket sales, although we will make individual exceptions depending on the situation.</p>

                    <p class="text4">For any ticketing questions or issues, please contact <a href="mailto:reservations@smallslive.com" class="accent-color">reservations@smallslive.com</a></p>
                    <br>
                    <p class="text4 text-centered">WALK-INs<p/>

                    <p class="text4">Depending on availability you can simply walk-in on any show without a reservation for a discounted price. The walk-in price is $25. This $25 music charge is added to your bar bill. There is a required <strong>one-drink minimum per person per set.</strong> There are 15 additional seats available for every show after the reservations are sold-out. We recommend arriving early before the set for a walk-in ticket as they go fast. Our reservations are seated first and then our walk-ins. Walk-ins are generally seated 10 minutes before the set starts.</p>

                    <br>
                    <p class="text4 text-centered">STUDENT TICKETS AND FREE EVENTS</p>

                    <p class="text4">The Student Ticket Price is $10 and is applicable for the 10:30 Set only, Sun-Thur. There is no student discount on the weekends. In general, there is no cover-charge for our 12 AM jam sessions (musician who play are always free). We also have afternoon jam sessions on Saturday and Sunday that is free to the public.</p>

                    <p class="text4">Wizards, Angels and Holy-People are always free to enter at any time.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock home_content %}

{% block extra_js %}

{% endblock extra_js %}
