{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load addurlparameter %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}Ticketing{% endblock %}

{% block extra_head %}

{% endblock %}

{% block home_content %}
    <main class="static-content basic-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="big centered" src="{% static 'image/basic_pages/stairs-up.jpeg' %}" alt="Stairs up">
                    <p class="text-centered">ADVANCED TICKETING<p/>
                    <p>Advanced tickets are $35 Sunday through Thursday and $40 Friday and Saturday. To purchase a ticket, click on the event you wish to attend and press the “Buy Tickets” button. Smalls sells 50 advanced tickets per show and Mezzrow sells 40 advanced tickets per show. After you purchase your tickets, please look for your confirmation email. This email will have your confirmation number and the name of your party. Your name will be at the door when you arrive, but please also have your confirmation email with you.<br>
                    </p>

                    <p><strong>PLEASE NOTE:</strong> there is a required one-drink minimum per person, per set. It is also customary to leave a gratuity for the bar staff.
                        Seating for each show begins approximately 30 minutes before the show. We ask that you arrive at least 30 minutes before the show and join the advanced ticket line.
                    </p>
                    <p><strong>PLEASE NOTE:</strong> your ticket guarantees you entrance, but choice of seats is first come/first served, so please be on-time for seating. Advanced ticket holders are guaranteed a seat if they arrive before the set begins.</p>
                    <div>
                        <strong>PLEASE NOTE:</strong> once the set has begun, we reserve the right to fill the seats of ticket holders who have not arrived. If you arrive late, you will have the option to be seated on the following set, or to be seated at the other club if possible.</div>

                    <p class="less-space">In general, there is a <strong>NO REFUND POLICY</strong> for ticket sales, although we will make individual exceptions depending on the situation. For any ticketing questions or issues, please contact <a href="mailto:reservations@smallslive.com" class="accent-color">reservations@smallslive.com</a> </p>

                    <p class="text-centered">WALK-IN TICKETS<p/>
                    <p>Depending on availability you can simply walk-in on any show without an advanced ticket for a discounted price. The walk-in price is $25. This $25 music charge is added to your bar bill. There is a required one-drink minimum per person per set. There are 15 additional seats available for every show after the reservations are sold-out. We recommend arriving early before the set for a walk-in ticket as they go fast. Our advanced tickets are seated first and then our walk-ins. Walk-ins are generally seated 10 minutes before the set starts.</p>

                    {% comment %}
                        <p class="text-centered">STUDENT TICKETS AND FREE EVENTS<p/>
                        <p>The Student Ticket Price is $10 and is applicable for the 10:30 Set only, Sun-Thur. There is no student discount on the weekends. There is no cover-charge after 1:00AM. There is no cover for musicians arriving for the 12:00am jam session who are performing in the jam  We also have afternoon jam sessions on Saturday and Sunday that are free to the public. Wizards, Angels and Holy-People are always free to enter at any time.</p>
                    {% endcomment %}

                    <p>Smalls Jazz Club was one of the first venues to utilize live-streaming and streamed their first show in September of 2007. Since then, Smalls and Mezzrow have live-streamed all of their shows and built an international audience of on-line fans and supporters. Our goal is to share the music created in our clubs with the world.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock home_content %}

{% block extra_js %}

{% endblock extra_js %}
