{% extends "store_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block store_nav_active %}active{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}">
  <style type="text/css">
    @media (max-width: 992px) {
      .fancybox-next span {
        left: auto;
        right: -22px;
      }

      .fancybox-prev span {
        left: -20px;
      }

      .fancybox-nav span {
        visibility: visible;
      }
    }
  </style>
{% endblock %}

{% block store_content %}
  <div class="col-xs-12 col-sm-8 col-md-9 col-sm-push-4 col-md-push-3 store-single__content">
    <div class="row">
      <div class="store-single__item row">
        <div class="col-xs-12 col-sm-6 store-single__item__images">
          {% with all_images=product.images.all %}
          <div class="store-single__item__images__carousel" id="store-single__item__images__carousel">
            {% for image in all_images %}
                {% thumbnail image.original "x365" upscale=False as thumb %}
                <div class="store-single__item__images__big-image square-container">
                    <a href="{{ thumb.url }}" class="fancybox"><img class="defineImageRatio"
                                                                    src="{{ thumb.url }}"
                                                                    alt="{{ product.get_title }}"></a>
                </div>
                {% endthumbnail %}
            {% endfor %}
          </div>
          <span class="store-single__item__images__helper">(Click/tap on the image to zoom.)</span>
          <ul class="store-single__item__images__thumbnails">
            {% for image in all_images %}
              {% thumbnail image.original "x75" upscale=False as thumb %}
                  <li data-slickPosition="{{ forloop.counter0 }}"
                      class="store-single__item__images__thumbnail square-container {% if forloop.first %}active{% endif %}">
                      <img class="defineImageRatio" src="{{ thumb.url }}"
                           alt="{{ product.get_title }} thumbnail"></li>
              {% endthumbnail %}
            {% endfor %}
          </ul>
          {% endwith %}
        </div>
        <div class="col-xs-12 col-sm-6 store-single__item__content">
          <h2 class="store-single__item__name">
            <a href="#">{{ product.title }}</a>
          </h2>
          {% if product.event %}
          <div class="store-single__item__event-link">
            <a href="{{ product.event.get_absolute_url }}">View event in our Archive</a>
            <span class="arrow"></span>
          </div>
          {% endif %}
          <p class="store-single__item__description">
            {{ product.short_description|safe }}
          </p>
          <p class="store-single__item__details">
              {% if product.description %}
                  <span class="store-single__item__details__title">Detailed description:</span>
                  {{ product.description|safe }}
              {% endif %}
          </p>
          {% purchase_info_for_product request product as session %}
          <span class="store-single__item__price">
              {% if session.price.exists %}
                  {% if session.price.excl_tax == 0 %}
                      {% trans "Free" %}
                  {% elif session.price.is_tax_known %}
                      {{ session.price.incl_tax|currency:session.price.currency }}
                  {% else %}
                      {{ session.price.excl_tax|currency:session.price.currency }}
                  {% endif %}
              {% else %}
                  &nbsp;
              {% endif %}
          </span>
          <form>
            <div class="store-add-large">
              <select class="store-add-large__options">
                <option>CD - full case with artwork -- $25.00</option>
                <option>Album digital download - Mp3 -- $9.99</option>
                <option>Album digital download - HD -- $14.99</option>
              </select>
              <button type="submit" class="store-add-large__button">Add to cart</button>
              <span class="arrow"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if product.event %}
    <div class="store-single__recording__artists">
      <h3 class="store-single__recording__artists__heading">Event artists:</h3>
      <div class="row">
        {% for gig_info in product.event.get_performers %}
          <div class="mini-artist col-xs-12">
            <div class="mini-artist__image">
              {% if gig_info.artist.photo %}
                  <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% thumbor_url gig_info.artist.photo.url|urlencode height=80 width=80 smart=True %}" alt="{{ gig_info.artist.full_name }} photo"/></a>
                {% else %}
                  <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% static 'image/no-artist-photo-thumbnail.jpg' %}" alt=""/></a>
              {% endif %}
            </div>
            <div class="mini-artist-info">
              <h2 class="mini-artist-info__title"><a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }}</a></h2>
              <p class="mini-artist-info__instrument">{{ gig_info.role }}</p>
              <p class="mini-artist-info__bio">{{ gig_info.artist.biography|striptags|truncatewords:28 }}</p>
              <a class="mini-artist-info__button" href="{{ gig_info.artist.get_absolute_url }}">Artist profile</a><span class="arrow"></span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="store-single__recording__tracks">
      <h3 class="store-single__recording__artists__heading">Track listing:</h3>
      <div style="width: 1px; height: 1px; position: absolute; top: -9999px; left: -9999px;">
        <div id="player-audio"></div>
      </div>
      <!-- tracks table -->
      <div class="store-single__recording__tracks-table">
        <!-- tracks table header -->
        <div class="store-single__recording__tracks-table__header row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 store-single__recording__tracks-table__column preview">
            <div class="hidden-xs hidden-sm">Preview</div>
          </div>
          <div class="col-xs-5 col-sm-3 col-md-3 col-lg-6 store-single__recording__tracks-table__column title">
            Title
          </div>
          <div class="hidden-xs hidden-sm col-md-2 col-lg-1 store-single__recording__tracks-table__column duration">
            Duration
          </div>
          <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 store-single__recording__tracks-table__column price">
            Mp3 / HD
          </div>
          <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 store-single__recording__tracks-table__column buy-track">

          </div>
        </div>
        <!-- end of tracks table header -->
        {% for track in product.tracks.all|dictsort:"ordering" %}
          <!-- tracks table row -->
          <div class="store-single__recording__tracks-table__row row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 store-single__recording__tracks-table__column preview">
              {% if track.preview %}
                <a href="#" class="playback-control" data-playlist-id="{{ forloop.counter0 }}"><i class="fa fa-play"></i></a>
              {% endif %}
            </div>
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-6 store-single__recording__tracks-table__column title">
              {{ track.title }}
            </div>
            <div class="hidden-xs hidden-sm col-md-2 col-lg-1 store-single__recording__tracks-table__column duration">
              14:23
            </div>
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 store-single__recording__tracks-table__column price">
              {% if track.get_track_stockrecord %}${{ track.get_track_stockrecord.price_excl_tax }}{% else %}-{% endif %} / {% if track.get_hd_track_stockrecord %}${{ track.get_hd_track_stockrecord.price_excl_tax }}{% else %}-{% endif %}
            </div>
            <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 store-single__recording__tracks-table__column buy-track">
              <div class="buy-button-container">
                <a class="tracks-table__button" data-toggle="dropdown" aria-expanded="false" href="">Buy track <i
                        class="fa fa-caret-down"></i></a>
                {% if track.get_track_stockrecord or track.get_hd_track_stockrecord %}
                  <ul class="dropdown-menu" role="menu">
                    {% if track.get_track_stockrecord %}
                      <li>
                        {% basket_form request track 'single' as basket_form %}
                        <form id="add_to_basket_form" action="{% url 'basket:add' pk=track.pk  %}" method="post" class="add-to-basket">
                          {% csrf_token %}
                          {{ basket_form.quantity }}
                          {{ basket_form.child_id }}
                          <input type="hidden" name="stockrecord_id" value="{{ track.get_track_stockrecord.id }}"/>
                          <input type="submit" value="Buy mp3 (${{ track.get_track_stockrecord.price_excl_tax }})">
                        </form>
                      </li>
                    {% endif %}
                    {% if track.get_hd_track_stockrecord %}
                      <li>
                        {% basket_form request track 'single' as basket_form %}
                        <form id="add_to_basket_form" action="{% url 'basket:add' pk=track.pk  %}" method="post" class="add-to-basket">
                          {% csrf_token %}
                          {{ basket_form.quantity }}
                          {{ basket_form.child_id }}
                          <input type="hidden" name="stockrecord_id" value="{{ track.get_hd_track_stockrecord.id }}"/>
                          <input type="submit" value="Buy HD (${{ track.get_hd_track_stockrecord.price_excl_tax }})">
                        </form>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}

              </div>
            </div>
          </div>
        {% endfor %}
        <!-- end of tracks table row -->
      </div>
      <!-- end of tracks table -->
    </div>
    <div class="store-single__recording__photos">
      <h3 class="store-single__recording__photos__heading">Event photos:</h3>
      <div class="row store-single__recording__photos__container">
        <div class="store-single__recording__photo">
          <a href="{% static 'image/store/recording-photos/01.jpg' %}" class="fancybox"><img class="defineImageRatio"
                                                                                             src="{% static 'image/store/recording-photos/01.jpg' %}"
                                                                                             alt=""></a>
        </div>
        <div class="store-single__recording__photo">
          <a href="{% static 'image/store/recording-photos/02.jpg' %}" class="fancybox"><img class="defineImageRatio"
                                                                                             src="{% static 'image/store/recording-photos/02.jpg' %}"
                                                                                             alt=""></a>
        </div>
        <div class="store-single__recording__photo">
          <a href="{% static 'image/store/recording-photos/03.jpg' %}" class="fancybox"><img class="defineImageRatio"
                                                                                             src="{% static 'image/store/recording-photos/03.jpg' %}"
                                                                                             alt=""></a>
        </div>
        <div class="store-single__recording__photo">
          <a href="{% static 'image/store/recording-photos/04.jpg' %}" class="fancybox"><img class="defineImageRatio"
                                                                                             src="{% static 'image/store/recording-photos/04.jpg' %}"
                                                                                             alt=""></a>
        </div>
        <div class="store-single__recording__photo">
          <a href="{% static 'image/store/recording-photos/03.jpg' %}" class="fancybox"><img class="defineImageRatio"
                                                                                             src="{% static 'image/store/recording-photos/03.jpg' %}"
                                                                                             alt=""></a>
        </div>
        <div class="store-single__recording__photo">
          <a href="{% static 'image/store/recording-photos/04.jpg' %}" class="fancybox"><img class="defineImageRatio"
                                                                                             src="{% static 'image/store/recording-photos/04.jpg' %}"
                                                                                             alt=""></a>
        </div>
      </div>
    </div>
  </div>
{% endblock store_content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".fancybox").fancybox({
        preload: 2
      });

      var audioPlayer = jwplayer("player-audio").setup({
        primary: 'html5',
        playlist: [
          {% for track in product.tracks.all|dictsort:"ordering" %}
            {% if track.preview %}
            {
              sources: [{
                file: "{{ track.get_track_preview_url|safe }}",
                type: "mp3"
              }],
              mediaid: {{ track.id }}
            }{% if not forloop.last %},{% endif %}
            {% endif %}
          {% endfor %}
        ],
        skin: "{% static "jwplayer-skin/smalls.xml" %}",
        width: "100%",
        height: 0
      });
      $(".playback-control").on('click', function(e) {
          e.preventDefault();
          if (audioPlayer.getPlaylistIndex() == $(this).data('playlist-id')) {
            audioPlayer.pause();
          } else {
            audioPlayer.playlistItem($(this).data('playlist-id'));
            $('.playback-control i').removeClass('fa-pause').addClass('fa-play');
          }
          $(this).find('i').toggleClass('fa-play').toggleClass('fa-pause');
      })
    });
  </script>
{% endblock %}
