{% extends "store_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}{{ product.get_title }} - {{ block.super }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}">
  <style type="text/css">
    @media (max-width: 992px) {
      .fancybox-next span {
        left: auto;
        right: -22px;
      }

      .fancybox-prev span {
        left: -20px;
      }

      .fancybox-nav span {
        visibility: visible;
      }
    }
  </style>
{% endblock %}
 
{% block breadcrumbs %}
    <span class="store-header__title__divider">|</span>
    {% for category in category.get_ancestors %}
        <span class="store-header__title__category"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></span>
        <span class="store-header__title__divider">|</span>
    {% endfor %}
    <span class="store-header__title__category"><a href="{{ product.category.get_absolute_url }}">{{ category.name }}</a></span>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
            <span class="store-header__title__category"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></span>
            <span class="store-header__title__divider">|</span>
        {% endfor %}
        <span class="store-header__title__category"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></span>
    {% endwith %}
{% endblock %}

{% block store_content %}
  <div class="store-single__content">
    <div>
      <div class="store-single__item flex-row">
        <div class="store-single__item__images">
              {% with all_images=product.images.all %}
                  <div class="store-single__item__images__carousel" id="store-single__item__images__carousel">
                      {% for image in all_images %}
                          {% if not image.is_missing %}
                              <a href="{% thumbor_url image.original.url|urlencode height=300 smart=True %}"
                                 class="fancybox"><img
                                      src="{% thumbor_url image.original.url|urlencode height=300 width=auto smart=True %}"
                                      alt="{{ product.get_title }}" class="defineImageRatio"></a>
                          {% else %}
                              <a href="{% static "image/image_not_found.jpg" %}" class="fancybox"><img
                                      src="{% static "image/image_not_found.jpg" %}" alt="{{ product.get_title }}"
                                      class="defineImageRatio"></a>
                          {% endif %}
                      {% endfor %}
                  </div>

              {% endwith %}
          </div>
        <div class="store-single__item__content">
          <div class="store-single__item__name">
            <a href="#">{{ product.title }}</a>
          </div>
          <div class="store-single__item__subtitle">
              {{ product.subtitle }}
          </div>
          {% if product.event %}
          <div class="store-single__item__event-link">
            <a href="{{ product.event.get_absolute_url }}">View event in our Archive</a>
            <span class="arrow"></span>
          </div>
          {% endif %}
          <div class="store-single__item__description">
            {{ product.short_description|safe }}
          </div>
          <div class="store-single__item__details">
              {% if product.description %}
                  <span class="store-single__item__details__title">Detailed description:</span>
                  {{ product.description|safe }}
              {% endif %}
          </div>
          {% purchase_info_for_product request product as session %}
          <span class="store-single__item__price">
              {% if session.price.exists %}
                  {% if session.price.excl_tax == 0 %}
                      {% trans "Free" %}
                  {% elif session.price.is_tax_known %}
                      {{ session.price.incl_tax|currency:session.price.currency }}
                  {% else %}
                      {{ session.price.excl_tax|currency:session.price.currency }}
                  {% endif %}
              {% else %}
                  &nbsp;
              {% endif %}
          </span>
        <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post" class="add-to-basket">
          {% if session.availability.is_available_to_buy %}
            {% basket_form request product 'single' as basket_form %}
            <div class="store-add-large">
                {% csrf_token %}
                {{ basket_form.quantity }}
                {% if basket_form.fields.child_id.choices %}
                  <div class='white-border-select'>
                    <select class="store-add-large__options" name="child_id">
                        {% for variant in product.variants.all %}
                        {% purchase_info_for_product request variant as variant_session %}
                            {% if session.availability.is_available_to_buy %}
                                  <option data-price="{{ variant_session.price.excl_tax|currency:variant_session.price.currency }}" value="{{ variant.id }}">{{ variant.title }} ({{ variant_session.price.excl_tax|currency:variant_session.price.currency }})</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  {% if user.is_authenticated %}
                    <div class="arrow-button-container"><button type="submit" class="white-border-button">Add to cart</button></div>
                  {% else %}
                    <div class="arrow-button-container"><a href="#" data-toggle="modal" data-target="#logIn" class="white-border-button">Add to cart</a></div>
                  {% endif %}
                {% else %}
                  {{ basket_form.child_id }}
                  {% if user.is_authenticated %}
                    <div class="arrow-button-container"><button type="submit" class="white-border-button">Add to cart</button></div>
                  {% else %}
                    <div class="arrow-button-container"><a href="#" data-toggle="modal" data-target="#logIn" class="white-border-button">Add to cart</a></div>
                  {% endif %}
                {% endif %}
            </div>
          {% endif %}
        </form>
        </div>
      </div>
    </div>
    {% if product.event %}
    <div class="store-single__recording__artists">
      <h3 class="store-single__recording__artists__heading">Event artists:</h3>
      <div class="row">
        {% for gig_info in product.event.get_performers %}
          <div class="mini-artist col-xs-12">
            <div class="mini-artist__image">
              {% if gig_info.artist.photo %}
                  <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% thumbor_url gig_info.artist.get_photo_url|urlencode height=80 width=80 smart=True %}" alt="{{ gig_info.artist.full_name }} photo"/></a>
                {% else %}
                  <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% static 'image/no-artist-photo-thumbnail.jpg' %}" alt=""/></a>
              {% endif %}
            </div>
            <div class="mini-artist-info">
              <h2 class="mini-artist-info__title"><a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }}</a></h2>
              <p class="mini-artist-info__instrument">{{ gig_info.role }}</p>
              <p class="mini-artist-info__bio">{{ gig_info.artist.biography|striptags|truncatewords:28 }}</p>
              <a class="mini-artist-info__button" href="{{ gig_info.artist.get_absolute_url }}">Artist profile</a><span class="arrow"></span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="store-single__recording__tracks">
      <div style="width: 1px; height: 1px; position: absolute; top: -9999px; left: -9999px;">
        <div id="player-audio"></div>
      </div>

      <div class="store-featured-music__single__tracks-table">
        <h4 class="store-featured-music__single__tracks-table__title">
          Track listing:
        </h4>
        <!-- tracks table header -->
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Preview</th>
              <th>Title</th>
              <th class="hidden-sm hidden-xs">Duration</th>
              <th class="hidden-sm hidden-xs">Mp3 / HD</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for track in product.tracks.all|dictsort:"ordering" %}
              <tr>
                <td>
                  {% if track.preview %}
                    <a href="#" class="playback-control"
                       data-playlist-id="{{ preview_track_id_counter.next }}"><i
                            class="fa fa-play"></i></a>
                  {% else %}
                    <!-- {{ preview_track_id_counter.next }} -->
                  {% endif %}
                </td>
                <td>{{ track.title }}</td>
                <td class="hidden-sm hidden-xs">{{ track.attr.duration }}</td>
                <td class="hidden-sm hidden-xs">
                  {% if track.get_track_stockrecord %}$
                    {{ track.get_track_stockrecord.price_excl_tax }}{% else %}
                    -{% endif %} / {% if track.get_hd_track_stockrecord %}$
                  {{ track.get_hd_track_stockrecord.price_excl_tax }}{% else %}
                  -{% endif %}
                </td>
                <td>

                  {% if track.get_track_stockrecord or track.get_hd_track_stockrecord %}
                    <div class="buy-button-container">
                      {% if user.is_authenticated %}
                         <a class="white-border-button"
                                       data-toggle="dropdown" aria-expanded="false"
                                       href="">Buy track <i
                                            class="fa fa-caret-down"></i></a>
                      {% else %}
                        <a class="tracks-table__button" href="#"
                           data-toggle="modal" data-target="#logIn">Buy
                          track <i class="fa fa-caret-down"></i></a>
                      {% endif %}
                      <ul class="dropdown-menu" role="menu">
                        {% if track.get_track_stockrecord %}
                          <li>
                            {% basket_form request track 'single' as basket_form %}
                            <form id="add_to_basket_form"
                                  action="{% url 'basket:add' pk=track.pk %}"
                                  method="post"
                                  class="add-to-basket">
                              {% csrf_token %}
                              {{ basket_form.quantity }}
                              {{ basket_form.child_id }}
                              <input type="hidden"
                                     name="stockrecord_id"
                                     value="{{ track.get_track_stockrecord.id }}"/>
                              <input type="submit"
                                     value="Buy mp3 (${{ track.get_track_stockrecord.price_excl_tax }})">
                            </form>
                          </li>
                        {% endif %}
                        {% if track.get_hd_track_stockrecord %}
                          <li>
                            {% basket_form request track 'single' as basket_form %}
                            <form id="add_to_basket_form"
                                  action="{% url 'basket:add' pk=track.pk %}"
                                  method="post"
                                  class="add-to-basket">
                              {% csrf_token %}
                              {{ basket_form.quantity }}
                              {{ basket_form.child_id }}
                              <input type="hidden"
                                     name="stockrecord_id"
                                     value="{{ track.get_hd_track_stockrecord.id }}"/>
                              <input type="submit"
                                     value="Buy HD (${{ track.get_hd_track_stockrecord.price_excl_tax }})">
                            </form>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock store_content %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".fancybox").fancybox({
        preload: 2
      });

      var audioPlayer = jwplayer("player-audio").setup({
        primary: 'html5',
        playlist: [
          {% for track in product.tracks.all|dictsort:"ordering" %}
            {% if track.preview %}
                {
                  sources: [{
                    file: "{{ track.get_track_preview_url|safe }}",
                    type: "mp3"
                  }],
                  mediaid: {{ track.id }}
                }
            {% else %}{
                  sources: [{
                    file: "blank.mp3",
                    type: "mp3"
                  }],
                  mediaid: {{ track.id }}
              }
            {% endif %}{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        skin: "https:{% static "jwplayer-skin/smalls.xml" %}",
        width: "100%",
        height: 0
      });
      $(".playback-control").on('click', function(e) {
          e.preventDefault();
          if (audioPlayer.getPlaylistIndex() == $(this).data('playlist-id')) {
            audioPlayer.pause();
          } else {
            audioPlayer.playlistItem($(this).data('playlist-id'));
            $('.playback-control i').removeClass('fa-pause').addClass('fa-play');
          }
          $(this).find('i').toggleClass('fa-play').toggleClass('fa-pause');
      });

      $("select.store-add-large__options").on("change", function(val) {
        var selectedPrice = $(this).find(":selected").data('price');
        $(this).closest('.store-single__item__content').find('.store-single__item__price').text(selectedPrice);
      })

    });
  </script>
{% endblock %}
