@import "bootstrap/vendor/assets/stylesheets/bootstrap.scss";
@import "../css/selectize.bootstrap3.css";
@import "../js/datepicker.css";
@import "../js/jqui/jquery-ui-1.10.4.custom.min.css";
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* Bootstrap var overrides */
//** Border color for table and cell borders.
$table-border-color:            #eee;
$margin-bottom:                 24px;

/* TEmplate setup - body, footer, etc */

/* Masthead */
body { 
  > div.alert {
    margin-bottom: 0;
    border-radius: 0;
  }
  nav.navbar {
    @include border-radius(0);
    .longname  {
      display: none;
    }
    .navbar-brand img { 
        width: 44px;
        position: relative; 
        top: -.6em;
        padding: 2px;
        background: #fff;
        z-index: 50;
    }
    form.search input:first-child {
      width: 95px;
    }  
    form.f-artist-date-lookup input {
      min-width: 160px;
    }  
  }
}
@media all and 
 (min-width : 800px) {
  ul.nav {
    span.longname {
      display: inline;
    } 
    a.longname {
      display: block;
    }
  }
}
@media all and 
 (min-width : 950px) {
  .navbar-brand img { 
    top:-.5em;
    width: 80px;
    padding: 8px;
  }
}
/*Footer*/
footer {
  background: #fafafa;
  color: #333;
  padding: 1em;
  margin-top:2em;
  border-top:1px solid #ccc;
  text-align: center;
  position: relative;
  ul {
    padding-left: 0; 
    li {
      text-align: center;
      list-style: none;
    }
  }
}
@media all and 
 (min-width : 950px) {
  footer {
    text-align: left;
    ul { 
      position: absolute;
      right: 20px;
      top: 0;
      text-align: left;
      display: inline;
      li {
        display: inline;
        margin-right: 1em;
      }
    }
  }
} 
/*=Public screens*/
/*Home*/
.homepage-spotlight {
  margin-top: -20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: #000;
  > div {
  padding-top:20px;
  }
  a, a:visited {
    color: #fff;  
  }
  .carousel .item {
    min-height: 400px; 
  }
  .carousel-caption img {
    width: 100%; 
  }
}
@media all and 
 (min-width : 640px) {
   .homepage-spotlight .carousel-caption img {
     width: auto;
   }
}
.txt {
  text-align: left;
}
.num {
  text-align: right;
} 
table {
  .num {
    @extend .num;
  }
  .txt {
    @extend .txt;
  }
}
/*=SEarch*/
body.search .facets {
  div.input-group {
    margin-bottom: 10px;  
  }
  .row div.checkbox {
    padding-left: 33px;
  }
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  p {
    margin: 1em 0 1em 0;
    padding: 0;
  }
}
/*=Calendar*/
.calendar {
  .calendar-month {
    font-size: 11px;
    .day {
      padding: 4px; 
      time {
        display: block;
        font-size: 14px;
        margin-top: 8px; 
      }
      ul {
        padding: 4px;
        margin: 0;
        li {
          padding: 0;
          margin: 0 0 4px 0;
          list-style-type: none;
        }
      }
    }
    .days-of-week {
      display: none;
    }
    .past {
      a {
        color: $gray; 
      }
      background: #f5f5f5;
      color: $gray !important;
    }
  }
}
@media all and (min-width : $screen-md-min) {
  .calendar .calendar-month {
    .days-of-week {
      display: block;
      text-align: right;
    }
    .day {
      float: left;
      width: 13%;
      border: 1px solid #f1f1f1;  
      time {
        text-align: right;
        font-size: inherit;
      }
      .month {
        display: none;
      }
    }  
    .day.weekend {
      width: 16%;
    }
    .row:not(.days-of-week) .day {
      height: 15em; 
    }
  } 
}
/*=Artist Signup */
.musician-registration {
  .instructions {
    @extend .formSectionSeparator;  
  }
  .show-recordings {
    margin-top: $margin-bottom;
  }
}
/*=Artist Bio Page*/
.artist {
  .jumbotron  {
    h1 {
      margin-top: 0;
    }
    img {
      margin-right: 16px;
    }
  }
}
/*=Single Event/View Video Page*/
.event {  
  .leader-videos,
  div.request-video,
  .rankings {
    margin-bottom: $margin-bottom;
    strong {
      margin-right: 16px;
    }
  }
  .for-owner-only {
    @include border-radius(0px);
    .default {
      table {
        margin-bottom: 0;
        td {
          border-top-color: $state-warning-border;
        }
      }
      > span,
      a {
          margin-right: 1em;
          white-space: nowrap;
      }
    }
  }
  div.socials {
    padding-top: 8px;
  }
  .event-main-container.future {
    border:1px solid #ddd;
    padding-top:0;
    img.event-photo {
      margin-left: -13px;
      margin-top:  -1px;
      margin-bottom: 16px;
    }    
    h4.text-muted {
      margin-bottom: 0;
      margin-top: $margin-bottom;
    }
  }
  .event-main-container {
    h4.text-muted {
      margin-bottom: 0;
    }
    border:1px solid #ddd;
    border-top: none;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: $margin-bottom;
  }
  .page-header h1 a {
    font-size: 50%;
    margin-left: 24px;
  }
 .event-meta {
   margin-bottom: $margin-bottom;
   .future {
     border-top: 1px solid #eee;
     padding-top: $margin-bottom;
   } 
 } 
 .cd {
   background: #eee;
   color: #111;
   a { 
   }
   padding: 16px;
 }
 .sideman {
    float:left;
    margin: 16px 16px 0 0;
    width: 206px;
    div {
      white-space: nowrap;
    }
    a {
      color: #333;
    }
    .media-count {
      color: #666;
    }
  }
  @media all and (min-width : $screen-md-min) {
    .sideman {
      width: 260px;
    }
  }
  img {
    margin-right: 8px
  }
  h3 {
    margin-top: 0;
  } 
} 
.video-player {
  .video-player-controls {
    background: #111;
    font-size: 16px; /* adjust icon size */
    border-top:1px solid #444;
    padding: 4px 12px; 
    span.run-time {
      margin-left: 8px;
      font-size: 12px;
      line-height: 24px;
      color: #aaa;
      .total {
        color: #777;
      }
    }
    a {
      color: #aaa;
    }
  }
}
/*=My Gigs / Events*/
.list-of-recordings {
  .media-area {
    background: #f5f5f5; /*variable*/
  }
  td.audio-play {
    @extend .media-area;
  }
  td.choose-set.not-first {
    border-top: none;
  }
  td.choose-set.active {
    background: #f5f5f5;
  }
  a.download {
    display: block;
    white-space: nowrap;
    margin-bottom: 4px;
  }
  td.choose-set {
    vertical-align: middle;
    label {
      font-weight: normal;
      white-space: nowrap;
      display: block;
      margin: 0;
    }
  }
  td.video-thumb {
    @extend .media-area;
    a {
      display: block;
      position: relative;
      span.glyphicon-play {
        color: #EEEEEE;
        font-size: 200%;
        left: 36%;
        position: absolute;
        top: 27%;
      }
    }
  }
  .downloads {
    color: $gray-light;
    a {
      white-space: nowrap;
    }
  }
  .unpublished-by-another-sideman {
    color: $gray-light;
    a, p {
      color: $gray-light;
    }
  }
}
/*=Admin screens*/
table.artist-past-gigs-media {
  .artist-clearance-breakdown table tr td:first-child {
    white-space: nowrap;
  }
  td.downloads {
    white-space: nowrap;
    color: $gray-light;
  }
} 
/*=Signup screens for fans*/
.marketing-reasons {
  background: #f5f5f5;
  padding: 16px;
  margin-bottom: $margin-bottom;
}
.formSectionSeparator { /*reused via extensions*/
  margin-bottom: $margin-bottom;
  border-bottom: 1px solid #ccc;
  padding-bottom: $margin-bottom;
}
#signup_form {
  .trigger-credit-card-fields,
  .TOC-checkbox,
  .payment-options {
    margin-bottom: $margin-bottom;
  }
  > div.form-group:last-child {
    margin-top: 24px;
  }
  h5 {
    font-weight: bold;
  }
  >  h4 {
    margin-top: 0;
  }
  .nav-tabs img.paypal {
    margin-top:-5px;
    position: relative;
    top: 3px;
  }
  p.socially-authorized {
    margin-bottom: $margin-bottom;
  }
  .payment-options .tab-content {
    padding: 16px;
    margin-top:-24px;
    padding-top: 24px;
    border: 1px solid #ddd;
    border-top: none;
  }
  .social-signup:not(.authenticated-by-social) {
    @extend .formSectionSeparator;
   }
  .social-logins {
    margin-bottom: $margin-bottom;
    .btn-sm {
      width: 40%;
      min-width: 70px;
      margin-bottom: 12px;
    }
  }
  .login button.btn {
    width: 50%;
  } 
  #div_id_TOS .well {
    min-height: 200px;
    max-height: 200px;
    overflow: auto; 
  }
  @media all and (min-width : $screen-sm-min) {  
    div.form-group {
      margin-bottom: 22px; 
    }
    #id_exp_year {
      position: relative;
      top:26px;
    }
    #div_id_subscribe {
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
  @media all and (min-width : $screen-md-min) {  
    div.CC-expiration-info .col-sm-3:first-child {
      padding-right: 2px;
    }
    div.CC-expiration-info .col-sm-3:nth-child(2) {
      padding-right: 2px !important;
      padding-left: 2px !important;
    }
    #div_id_subscribe {
      margin-top: -20px;
      margin-bottom: 20px;
    }    
  }
  p.accepted-payments {
  height: 29px;
  overflow: hidden;
    img {
      position: relative;
      top:-38px; 
      width: auto;
      height: auto;
    }
  }
} 
input.form-control.text-muted[type=text] {
  color: $gray-light;
}
.earnings-summary table tr td:not(:first-child):not(.txt) {
  @extend .num;
}
#agreement-musicians-legal {
  font-family: $font-family-monospace;
}
.terms {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}
/*=FOrm to add events*/ 
div.trigger_add_set_times {
  margin-top:20px;
}
div.datepicker {
  margin-left:40px;/*This is mainly for the f-gig form to make sure time slots arent hidden by picker*/  
} 
.sortable-list .glyphicon-move {
  position: relative;
  top:34px;
  cursor: pointer;
}
.slots input[type=text] {
  width: auto;
}
.add_set_times {;
  margin-left: 32px;
  margin-bottom: 2em;
}
.lookup-item {
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
.no-display,
.longname {
  display: none;
}
//My Account Area
.search-orders-by-number, 
.search-orders-by-date {
  padding-top: 16px;
  padding-bottom: 16px;
  label {
    font-weight: normal
  }
  a {
    position: relative;
    top:.25em;
  }
}
@media all and (min-width : $screen-md-min) { 
  .my-account {
    h2.orders {  
      margin-top: 0;
      border-bottom: 1px dotted #DDDDDD;
      padding-bottom: 12px;
    } 
    p.download-all {
      float: right;
      margin: 0 !important;
      padding: 0;
      position: relative;
      top: 12px;
    }
  }
}
/*=Components , Element and Bootstrap Overrides*/
.table thead > tr > th {
  border-bottom: none;
}
table.list-of-recordings thead th {
  white-space: nowrap;
}
.media { 
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid $gray-lighter;
  p {
    margin-bottom: 0;
  }
  span.pull-left {
    background: $gray-lighter;
    color: #444;
    text-align: center;
    padding: 3px;
    width: 3em;  
    @include border-radius(3px);
  }
} 
.owner {
  white-space: nowrap;
  color: $brand-danger;
}
.approved {
  color: $brand-success;
}
.nav-tabs,
.nav-pills,
.upcoming_events {
  margin-bottom: $margin-bottom;
}
form {  
  .form-control {
    border-color: #dddddd;
    box-shadow: none;
    @include border-radius(0);
  }
  .form-control:focus {    
    box-shadow: none;
  }
  .form-group label[class=''] {
    color: $gray;
  }
  .form-group label.txt-success {
    color: $brand-success;
  }
  .form-group label.txt-warning {
    color: $brand-warning;
  }
  .formset_table {
    margin-bottom: 0;
  }
  .artist_remove {
    color: #cd0a0a;
  }
}
table.nv tbody { /* Name/value pair tables */
  tr:first-child td {
    border-top: none;
  }
  tr > td:first-child:not(.txt) {
    font-weight: bold;
    color: $gray;
    text-align: right;
  }
}
table.my-account {
  tr:first-child h2 {
    margin-top:0;
    padding-top: 0;
  }
}
table.payment-history {
  tr td:first-child,
  tr th:first-child {
    text-align: right;
  }
}
/* =general table and other misc styles */
.credit {
  font-style: italic;
}
.event_date time,
.event_date,
.nowrap {
  white-space: nowrap;
}
body abbr.explained {
  border: none;
}
.row.none, .none {
  display: none;
}
/*jQuery overrides*/
body .ui-widget {
  /* override jquery UI*/
  /* bootstrap values: */
  font-size: 100%;
  color: $gray-dark;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857; 
}
.ui-widget-header {
  color: $gray-dark;
  border: none;
  border-bottom: 1px solid $gray-light;
  @include border-radius(0px);
  
}
/*=Color*/
/*=Development*/
/*=Trash this after design done */
.dev {
  max-width: 800px;
  margin-bottom: $margin-bottom;
  font-family: $font-family-monospace;
  margin-top:2em;
  background: #f3f3f3;
  padding: 1em;
  border:1px solid #aaa;
  ul {
    margin: 0;
    padding: 0;
  }  
  li {
    list-style: none;
    padding: 0;
    margin: 0 0 .5em 0; 
    li {
      list-style: circle;
      margin-left: 3em;
    }
  }
  li.completed {
    text-decoration: line-through;
  }
  h1 {
    font-weight: bold;
  }
  * {
    font-size: 12px;
  }
} 
code {
  color: #fafafa;
  background: #c00;
  font-size: 12px;
}