@import "bootstrap/vendor/assets/stylesheets/bootstrap.scss";
@import "../css/selectize.bootstrap3.css";
@import "../js/datepicker.css";
@import "../js/jqui/jquery-ui-1.10.4.custom.min.css";
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* Bootstrap var overrides */
//** Border color for table and cell borders.
$table-border-color:            #eee;
$margin-bottom:                 24px;

/* TEmplate setup - body, footer, etc */

/* Masthead */
body { 
  > div.alert {
    margin-bottom: 0;
    border-radius: 0;
  }
  nav.navbar {
  border-radius: 0;
    .longname  {
      display: none;
    }
    .navbar-brand img { 
        width: 44px;
        position: relative; 
        top: -.6em;
        padding: 2px;
        background: #fff;
        z-index: 50;
    }
    form.search input:first-child {
      width: 95px;
    }  
    form.f-artist-date-lookup input {
      min-width: 160px;
    }  
  }
}
@media all and 
 (min-width : 800px) {
  ul.nav {
    span.longname {
      display: inline;
    } 
    a.longname {
      display: block;
    }
  }
}
@media all and 
 (min-width : 950px) {
  .navbar-brand img { 
    top:-.5em;
    width: 80px;
    padding: 8px;
  }
}
/*Footer*/
footer {
  background: #fafafa;
  color: #333;
  padding: 1em;
  margin-top:2em;
  border-top:1px solid #ccc;
  text-align: center;
  position: relative;
  ul {
    padding-left: 0; 
    li {
      text-align: center;
      list-style: none;
    }
  }
}
@media all and 
 (min-width : 950px) {
  footer {
    text-align: left;
    ul { 
      position: absolute;
      right: 20px;
      top: 0;
      text-align: left;
      display: inline;
      li {
        display: inline;
        margin-right: 1em;
      }
    }
  }
} 
/*=Public screens*/
/*Home*/
.homepage-spotlight {
  margin-top: -20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: #000;
  > div {
  padding-top:20px;
  }
  a, a:visited {
    color: #fff;  
  }
  .carousel .item {
    min-height: 400px; 
  }
  .carousel-caption img {
    width: 100%; 
  }
}
@media all and 
 (min-width : 640px) {
   .homepage-spotlight .carousel-caption img {
     width: auto;
   }
}
.txt {
  text-align: left;
}
.num {
  text-align: right;
} 
table {
  .num {
    @extend .num;
  }
  .txt {
    @extend .txt;
  }
}
/*=SEarch*/
body.search .facets {
  div.input-group {
    margin-bottom: 10px;  
  }
  .row div.checkbox {
    padding-left: 33px;
  }
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  p {
    margin: 1em 0 1em 0;
    padding: 0;
  }
}
/*=Calendar*/
.calendar {
  .calendar-month {
    font-size: 11px;
    .day {
      padding: 4px; 
      time {
        display: block;
        font-size: 14px;
        margin-top: 8px; 
      }
      ul {
        padding: 4px;
        margin: 0;
        li {
          padding: 0;
          margin: 0 0 4px 0;
          list-style-type: none;
        }
      }
    }
    .days-of-week {
      display: none;
    }
    .past {
      a {
        color: $gray; 
      }
      background: #f5f5f5;
      color: $gray !important;
    }
  }
}
@media all and (min-width : $screen-md-min) {
  .calendar .calendar-month {
    .days-of-week {
      display: block;
      text-align: right;
    }
    .day {
      float: left;
      width: 13%;
      border: 1px solid #f1f1f1;  
      time {
        text-align: right;
        font-size: inherit;
      }
      .month {
        display: none;
      }
    }  
    .day.weekend {
      width: 16%;
    }
    .row:not(.days-of-week) .day {
      height: 15em; 
    }  
  } 
}
/*=Event/Media Page*/
.sideman-block .thumbnail {
  text-align: center;
  min-height: 210px;
}
/*=Admin screens*/
table.artist-past-gigs-media {
  .event_date, .artist-clearance-breakdown table tr td:first-child {
    white-space: nowrap;
  }
  td.downloads {
    white-space: nowrap;
    color: $gray-light;
  }
  
}
/*=Signup screens*/
form.f-trial-signup {
  margin-top: 24px; 
  #div_id_TOS .well {
    min-height: 200px;
    max-height: 200px;
    overflow: auto; 
  }
  @media all and (min-width : $screen-sm-min) {  
    div.form-group {
      margin-bottom: 22px; 
    }
    #id_exp_year {
      position: relative;
      top:26px;
    }
    #div_id_subscribe {
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
  @media all and (min-width : $screen-md-min) {  
    div.CC-expiration-info .col-sm-3:first-child {
      padding-right: 2px;
    }
    div.CC-expiration-info .col-sm-3:nth-child(2) {
      padding-right: 2px !important;
      padding-left: 2px !important;
    }
    #div_id_subscribe {
      margin-top: -20px;
      margin-bottom: 20px;
    }    
  }
  p.accepted-payments {
  height: 29px;
  overflow: hidden;
    img {
      position: relative;
      top:-38px; 
      width: auto;
      height: auto;
    }
  }
}
table.recordings-to-publish tr {
  th {
    vertical-align: top;
    span {
      white-space: nowrap;
    }
    label {
      margin: 8px 0;
      display: block;
      font-weight: normal;    
    }
    @media all and (min-width : $screen-md-min) {  
      label {
        margin: 0 0 0 16px;
        display: inline-block; 
      }
    }
  }
  .thumbnail {
    margin-bottom: 0;
    img {
      display: none;
    }
    a.pull-left {
      float: none !important;
      margin-bottom: $margin-bottom;
    }
    @media all and (min-width : $screen-sm-min) {  
      img {
        display: block;
      }
      a.pull-left {
        float: left !important;
      }
    }
    border: none;
    padding-bottom: 0;
  }
  abbr {
    margin-left: 16px; 
  }
  .copyright-owners { 
    .owner {
      white-space: nowrap;
    }
  }
  .add-private-note {
    border-top: 1px dotted $gray-lighter;
    padding-top: 4px;
    label {
      font-weight: normal;
      text-decoration: underline;
      color: $gray-light;
    }
    label:after {
      content:"..."
    }
  }
}
input.form-control.text-muted[type=text] {
  color: $gray-light;
}
.earnings-summary table tr td:not(:first-child):not(.txt) {
  @extend .num;
}
#agreement-musicians-legal {
  font-family: $font-family-monospace;
}
.terms {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}
/*=FOrm to add events*/ 
div.trigger_add_set_times {
  margin-top:20px;
}
div.datepicker {
  margin-left:40px;/*This is mainly for the f-gig form to make sure time slots arent hidden by picker*/  
} 
.sortable-list .glyphicon-move {
  position: relative;
  top:34px;
  cursor: pointer;
}
.slots input[type=text] {
  width: auto;
}
.add_set_times {;
  margin-left: 32px;
  margin-bottom: 2em;
}
.lookup-item {
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
.no-display,
.longname {
  display: none;
}
/*=Components - Bootstrap Overrides*/
.nav-tabs,
.nav-pills {
  margin-bottom: $margin-bottom;
}
form {  
  .form-control {
    border-color: #dddddd;
    box-shadow: none;
    @include border-radius(0);
  }
  .form-control:focus {    
    box-shadow: none;
  }
  .form-group label[class=''] {
    color: $gray;
  }
  .form-group label.txt-success {
    color: $brand-success;
  }
  .form-group label.txt-warning {
    color: $brand-warning;
  }
  .formset_table {
    margin-bottom: 0;
  }
  .artist_remove {
    color: #cd0a0a;
  }
}
/* Name/value pair tables */
table.nv tbody { 
  tr:first-child td {
    border-top: none;
  }
  tr > td:first-child:not(.txt) {
    font-weight: bold;
    color: $gray;
    text-align: right;
  }
}
table.my-account {
  tr:first-child h2 {
    margin-top:0;
    padding-top: 0;
  }
}
table.payment-history {
  tr td:first-child,
  tr th:first-child {
    text-align: right;
  }
}
/* =table and other misc styles */
.media, .credit {
  font-style: italic;
}
.nowrap {
  white-space: nowrap;
}
body abbr.explained {
  border: none;
}
.none {
  display: none;
}
/*=Color*/
/*=Green*/
.approved {
  color: $brand-success;
}
.not-approved {
  color: $brand-danger;
}
/*=Red*/
/*=Development*/
/*=Trash this after design done */
.dev ul {
  margin: 0;
  padding: 0;
}
.dev li {
  list-style: none;
  padding: 0;
  margin: 0 0 .5em 0; 
}

.dev li li {
  list-style: circle;
  margin-left: 3em;
}
.dev * {
  font-size: 12px;
}
.dev {
  font-family: $font-family-monospace;
  margin-top:2em;
  background: #f3f3f3;
  padding: 1em;
  border:1px solid #aaa;
}
code {
  color: #fafafa;
  background: #c00;
  font-size: 12px;
}