{% load static from staticfiles %}
{% load thumbor_tags %}

<a href="{{ album.get_absolute_url }}">
  <div class="{% if not mini%}event-card{% else %}event-card-small{% endif %}">
    <div class="event-picture-container">
      <div class="picture-border">
        <div class="event-picture">
          {% if album.primary_image %}
            {% include 'partials/thumbored_picture.html' with photo_url=album.primary_image.original.url height=photo_height width=photo_width %}
          {% else %}
            {% include 'partials/thumbored_picture.html' %}
          {% endif %}
        </div>
        <div class="icon-overlay">
          <i class="fa fa-play fa-thin-circle"></i>
        </div>
      </div>
    </div>
    {% if show_time %}
      <div class="event-dates links1">
        {% if album.is_live %}
          <span class="accent-box">Live Now</span>
        {% else %}
          <span>
            {{ album.start|date:"g:i A" }} & {{ album.end|date:"g:i A" }}
          </span>
        {% endif %}
      </div>
    {% endif %}
  </div>
</a>
