{% extends "home_new.html" %}
{% load add_get_parameter %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}Artist list{% endblock %}

{% block schedule_nav_active %}active{% endblock %}

{% block content %}

    <div class="content-wrapper" style="border:none">
        <section class="page-heading container" style="width: 100%;">
            <h1>Artists list:</h1>
        </section>
        <section class="artists-list__search">
            <form method="get" action="{% url "artist_list" %}">
                <span class="artists-list__search__heading">Search:</span>
                {{ filter.form.name }}
                <input type="submit" value="Search">
            </form>
        </section>
        <section class="artists-list__filters">
            <form method="get" action="{% url "artist_list" %}" id="artist-form">
                <input type="hidden" name="name" value="{{request.GET.name}}">
                <input type="hidden" name="o" id="sort_form_field" value="{{request.GET.o }}">
                <ul>
                    <li class="artists-list__filters__group">
                        {{ filter.form.instruments.label_tag }}
                        {{ filter.form.instruments }}
                    </li>
                    <li class="artists-list__filters__group">
                        {{ filter.form.is_invited.label_tag }}
                        {{ filter.form.is_invited }}
                    </li>
                    <li class="artists-list__filters__group">
                        {{ filter.form.has_registered.label_tag }}
                        {{ filter.form.has_registered }}
                    </li>
                    <li class="artists-list__filters__group">
                        {{ filter.form.signed_legal_agreement.label_tag }}
                        {{ filter.form.signed_legal_agreement }}
                    </li>
                    <li class="artists-list__filters__group">
                        {{ filter.form.has_photo.label_tag }}
                        {{ filter.form.has_photo }}
                    </li>
                    <li class="artists-list__filters__group">
                        <input type="submit" value="Apply">
                    </li>
                </ul>
            </form>
        </section>
        <section class="artists-list__list container" style="width: 100%;">
            <div class="artists-list__list__header row">
                <div class="hidden-xs col-sm-2 col-md-1">
                    Image
                </div>
                <div class="col-xs-5 col-sm-4 col-md-3 sort-column" data-sort="last_name">
                    Name<i class="fa fa-sort"></i>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2 sort-column" data-sort="instruments">
                    Instrument<i class="fa fa-sort"></i>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 artists-list__list__states">
                    <div class="artists-list__list__state sort-column" data-sort="-events_count">Shows<i class="fa fa-sort"></i></div>
                    <div class="artists-list__list__state">Invited</div>
                    <div class="artists-list__list__state">Registered</div>
                    <div class="artists-list__list__state">Signed</div>
                    <div class="artists-list__list__state">Photo</div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-2 artists-list__list__actions">
                    Action(s)
                </div>
            </div>
            <ul>
                {% for artist in artists %}
                    <li class="artists-list__list__row row">
                        <div class="hidden-xs col-sm-2 col-md-1 artists-list__list__image">
                            {% if artist.photo %}
                                <img src="{% thumbor_url artist.photo.url|urlencode height=40 width=40 smart=True %}" alt="{{ artist.full_name }} photo"/>
                            {% else %}
                                <img src="dzycyuuhttkib.cloudfront.net/static/image/no-artist-photo.cadaf697815a.jpg" alt="{{ artist.full_name }} photo"/>
                            {% endif %}
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-3 artists-list__list__name">
                            <span title="{{artist.public_email}}">{{ artist.full_name }}</span>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2 artists-list__list__instrument">
                            {{ artist.instruments.all|join:" , " }}
                        </div>
                        <div class="hidden-xs hidden-sm col-md-4 artists-list__list__states">
                            <div class="artists-list__list__state">{{ artist.events_count }}</div>
                            <div class="artists-list__list__state"><i class="fa {% if request.GET.is_invited == "true" or artist.is_invited %}fa-check-circle true{% else %}fa-times-circle{% endif %}"></i></div>
                            <div class="artists-list__list__state"><i class="fa {% if request.GET.has_registered == "true" or artist.has_registered %}fa-check-circle true{% else %}fa-times-circle{% endif %}"></i></div>
                            <div class="artists-list__list__state"><i class="fa {% if request.GET.signed_legal == "true" or artist.has_signed_legal %}fa-check-circle true{% else %}fa-times-circle{% endif %}"></i></div>
                            <div class="artists-list__list__state">
                              {% if artist.photo %}
                                <i class="fa fa-check-circle true"></i>
                              {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2 artists-list__list__actions">
                            <div class="btn-group">
                                <a href="{% url "artist_edit" pk=artist.id slug=artist.slug %}"><button type="button" class="btn">Edit</button></a>
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url "artist_edit" pk=artist.id slug=artist.slug %}">Edit</a></li>
                                    {% if not artist.is_invited %}<li><a href="#" data-toggle="modal" data-target="#inviteArtist" data-url="{% url "invite_artist" artist=artist.id %}" class="invite-artist-button">Invite</a></li>{% endif %}
                                    {% comment %}<li class="divider"></li>
                                    <li class="warning"><a href="#">Delete artist</a></li>{% endcomment %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li class="artists-list__list__row--empty row">No artists found. Do you want to  <a href="{% url "artist_add" %}"> add a new artist</a>?</li>
                {% endfor %}
            </ul>
        </section>
        <section class="page-pagination artists-list__pagination container">
          <p class="search-pagination-info">Showing results {{ page_obj.start_index }}-{{ page_obj.end_index }}
            of {{ paginator.count }}</p>
          {% if page_obj.has_previous or page_obj.has_next %}
            <div class="search-pagination">
              {% if page_obj.has_previous %}<a href="{% add_get page=page_obj.previous_page_number %}"><span
                      class="search-pagination__previous fa fa-caret-left"></span></a>{% endif %}
              {% if show_first %}
                <a href="{% add_get page=1 %}"><span class="search-pagination__page">1</span></a>
                ...
              {% endif %}
              {% for page in page_numbers %}
                <a href="{% add_get page=page %}"><span
                        class="search-pagination__page {% if page == page_obj.number %}active{% endif %}">{{ page }}</span></a>
              {% endfor %}
              {% if show_last %}
                ...
                <a href="{% add_get page=paginator.num_pages %}"><span
                        class="search-pagination__page">{{ paginator.num_pages }}</span></a>
              {% endif %}
              {% if page_obj.has_next %}<a href="{% add_get page=page_obj.next_page_number %}"><span
                      class="search-pagination__next fa fa-caret-right"></span></a>{% endif %}

            </div>
          {% endif %}
            <div class="artist-list__email-button__container">
                <a class="artist-list__email-button" href="{% url "artist_list_emails" %}?is_invited={{request.GET.is_invited}}&has_registered={{ request.GET.has_registered }}&signed_legal_agreement={{ request.GET.signed_legal_agreement }}&has_photo={{ request.GET.has_photo }}">Email list</a>
                <a class="artist-list__email-button" href="{% url "subscriber_list_emails" %}">Subscriber list</a>
            </div>
        </section>
    </div>


    <!-- Invite artist modal -->
  <div class="modal fade" id="inviteArtist" tabindex="-1" role="dialog" aria-labelledby="inviteArtist"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content invite-artist-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="modal-body">
          <form method="post" id="invite-artist-form">
            {% csrf_token %}
            <div class="from-group">
              <h2 class="invite-artist-modal__heading">Invite artist to SmallsLIVE</h2>
              <p class="invite-artist-modal__text">This artist <b>hasn't yet been invited</b> to SmallsLIVE artist
                program. To invite this artist check the email address below (or enter a new one if one is currently not
                set) and press the "Invite Artist" button.</p>
              <input type="email" class="form-control" name="email" placeholder="Email address">
              <input type="submit" value="Invite artist">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
      var $inviteForm = $('#invite-artist-form');
      var $inviteButtons = $('.invite-artist-button');
      $inviteButtons.on('click', function () {
        console.log($(this).attr('data-url'));
        $inviteForm.attr('action', $(this).attr('data-url'));
      });

      $(".sort-column").on('click', function () {
        var sortColumnValue = $(this).attr('data-sort');
        var $sortField = $("#sort_form_field");
        var sortFieldValue = $sortField.val();
        if (sortColumnValue === sortFieldValue) {
          if (sortFieldValue[0] === '-') {
            sortFieldValue = sortFieldValue.substring(1);
          } else {
            sortFieldValue = "-" + sortColumnValue;
          }
          $sortField.val(sortFieldValue);
        } else {
          $sortField.val(sortColumnValue);
        }
        $("#artist-form").submit();
      })
    })
  </script>
{% endblock extra_js %}
