{% extends "home_new.html" %}
{% load schemaless_url %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}{{ artist.full_name }} profile{% endblock %}

{% block schedule_nav_active %}active{% endblock %}

{% block extra_head %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="profile" />
  <meta property="og:site_name" content="SmallsLIVE" />
  <meta property="og:title" content="{{ artist.full_name }} profile" />
  <meta property="og:title" content="{{ artist.biography|truncatewords:40|striptags|safe }}" />
  {% if artist.photo %}
    <meta property="og:image" content="https:{% thumbor_url artist.photo.url|urlencode height=315 width=600 smart=True %}" />
    <meta itemprop="image" content="https:{% thumbor_url artist.photo.url|urlencode height=315 width=600 smart=True %}">
  {% endif %}
  <meta property="fb:app_id" content="{{ facebook_app_id }}" />
  <meta itemprop="name" content="{{ artist.full_name }} profile">
  <meta itemprop="description" content="{{ artist.biography|truncatewords:40|striptags|safe}}">
{% endblock %}

{% block home_content %}
  <main>
    <div class="flex-row items-flex-stretch artist-header wrap">
      <div class="artist-picture">
        {% if artist.photo %}
          {% include 'partials/thumbored_picture.html' with photo_url=artist.photo.url crop_box=artist.photo_crop_box %}
        {% else %}
          {% include 'partials/thumbored_picture.html' with photo_url="dzycyuuhttkib.cloudfront.net/static/image/no-artist-photo.cadaf697815a.jpg" crop_box=artist.photo_crop_box %}
        {% endif %}
      </div>

      <div class="flex-column content-space-between artist-info">
        <div>
          <p class="title4">{{ artist.full_name }}</p>
          <div class="section-title">
            <div class="title1">{{ artist.get_main_instrument_name }}</div>
          </div>
        </div>
        <div>
          <div class="button-row button-row-margin nav" role="tablist">
            <button class="nav-item" data-target="#catalog"
                    role="tab" data-toggle="tab">Catalog</button>
            <button class="nav-item" data-target="#upcoming"
                    role="tab" data-toggle="tab">Upcoming Shows</button>
            <button class="nav-item" data-target="#bio"
                    role="tab" data-toggle="tab">Bio</button>
            <button class="nav-item" data-target="#contact"
                    role="tab" data-toggle="tab">Contact</button>
          </div>
        </div>
      </div>
    </div>
    <div class="artist-tabs">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="catalog">
          {% if artist.albums %}
            <section class="event-stripe">
              <div class="section-title">
                <div class="title1">
                  Artist Albums
                </div>
              </div>
              <main>
                {% include 'artists/album_row.html' with events=artist.albums hide_event_date=False show_event_venue=True %}
              </main>
            </section>
          {% endif %}
            {% if artist.tracks%}
              <section class="event-stripe">
                <div class="section-title">
                  <div class="title1">
                    Smallslive tracks
                  </div>
                </div>
                <main>
                  {% include 'artists/album_row.html' with events=artist.tracks hide_event_date=False show_event_venue=True %}
                </main>
              </section>
            {% endif %}
          <section class="event-stripe">
            <div class="section-title">
              <div class="title1">
                Recently Added
              </div>
            </div>
            <main>
              {% include 'events/event_row.html' with events=artist.recently_added hide_event_date=False show_event_venue=True %}
            </main>
          </section>
        </div>
        <div role="tabpanel" class="tab-pane" id="upcoming">
          <div>
            <section class="event-stripe">
              <div class="section-title">
                <div class="title1">
                  Upcoming Shows
                </div>
              </div>
              <main>
                {% include 'events/event_row.html' with events=artist.upcoming_events hide_event_date=True show_event_venue=True %}
              </main>
            </section>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="bio">
          <div class="flex-column items-center">
            <div class="text7 artist-biography">
              {% if artist.biography %}
                {{ artist.biography|striptags|safe }}
              {% else %}
                <p class="unavailable">This artist does not have a bio yet.</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="contact">
          <div class="flex-column items-center">
            <div class="artist-contact">
              {% if artist.public_email %}
                <div>
                  <p class="text4 text-uppercase">Email</p>
                  <p class="text4"><a href="mailto:{{ artist.public_email }}">{{ artist.public_email }}</a></p>
                </div>
              {% endif %}

              {% if artist.website %}
                <div>
                  <p class="text4 text-uppercase">Website</p>
                  <p class="text4"><a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a></p>
                </div>
              {% endif %}

              {% if artist.facebook %}
                <div>
                  <p class="text4 text-uppercase">Facebook</p>
                  <p class="text4">{{ artist.facebook }}</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock home_content %}

{% block extra_js %}
<script>
  // Facebook sharing
  document.getElementById('shareBtn').onclick = function() {
    FB.ui({
      method: 'share',
      display: 'popup',
      href: '{{ request.build_absolute_uri }}',
    }, function(response){});
  }
</script>
{% endblock extra_js %}
