{% extends "base.html" %}
{% load thumbor_tags %}
{% block title %}{{ artist.first_name }} {{ artist.last_name }} - {{ artist.artist_type.all|join:", " }}  ({artist.videos.count} concert videos)  {% endblock title %}
{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <img src="{% thumbor_url artist.photo.url|urlencode width=150 height=150 smart=True %}" class="img-rounded img-responsive pull-left artist-photo" />
      <h1>{{ artist.first_name }} {{ artist.last_name }}</h1>
      <p>{{ artist.artist_type.all|join:", " }} - 6 videos - LIKE - <a href="{{ artist.website }}">@twittername</a></p>
      <p><span class="glyphicon glyphicon-ok"></span> #2 Most Watched (of 612 artists)</p>
      <p><a class="btn btn-primary btn-lg" role="button">Subscribe to my videos</a></p>
      <p> [<a href="">EDIT PROFILE IF ALLOWED</a>]</p>
    </div>
  </div>
  <div class="col-sm-4">

    <h2>Upcoming Shows @ Smalls:</h2>
    <ul>
      <li>Tue, 3/4/14 title w/ sidemen-here [<a href="">EDIT LINK IF ALLOWED</a>]</li>
      <li>Tue, 4/4/14 title  w/ sidemen-here [<a href="">EDIT LINK IF ALLOWED</a>]</li>
      <li>Tue, 5/4/14 title  w/ sidemen-here [<a href="">EDIT LINK IF ALLOWED</a>]</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>
  </div>
  <div class="col-sm-3">
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>
  </div>
  <div class="col-sm-3">
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>  
  </div>
  <div class="col-sm-3">
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>
    <div class="well">
      gigDate, video, clone link (if allowed)
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <h2>Bio</h2>
    <div class="pull-right well">    
      <ul>
        <li><a href="{{ artist.website }}">Artist's website</a></li>
 
        <li><a href="{{ artist.website }}">Facebook</a></li>
      </ul>
    </div>
    {{ artist.biography|safe }} 
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h2>Mailing List:</h2>
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" placeholder="Enter email" id="" class="form-control">
        </div>  
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" placeholder="Name" id="" class="form-control">
        </div>  
        <div class="form-group">
          <label for="exampleInputEmail1">ZIP/Postal Code</label>
          <input type="text" placeholder="POstal Code" id="" class="form-control">
        </div>      
        <div class="checkbox">
          <label>
            <input type="checkbox"> Also subscribe to SmallsLIVE List
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
