{% extends "smalls_base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block extra_head %}
  {{ form.media }}
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block title %}Add new artist{% endblock title %}

{% block content %}
  <div class="content-wrapper">
  <section class="sign-up container">
    <h1 class="sign-up__main-title">Add artist</h1>
    <form method="post" class="sign-up__form" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form %}
      {% comment %}{% crispy artist_invite_form %}{% endcomment %}
      <button type="submit" name="submit" class="sign-up__form__button">Add artist</button>
    </form>
    </section>
  </div>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script>
    $("#id_instruments").selectize();
  </script>
{% endblock extra_js %}