{% load schemaless_url %}
{% load static from staticfiles %}
{% load thumbor_tags %}

<div  class="content-centered clearfix" style="width: 100%;">
  <div class="artist-search-profile-resume">
    <div class="mobile-padding visible-xs visible-sm visible-md">
        <div class="text1">
            Total shows in archive: <span class='accent-color'>{{ artist.archive_shows }}</span>
        </div>
        {% if artist.public_email %}
            <div>
                <p class="text4 text-uppercase">Email: <a href="mailto:{{ artist.public_email }}">{{ artist.public_email }}</a></p>
            </div>
        {% endif %}
        {% if artist.website %}
            <div>
                <p class="text4 text-uppercase">Website: <a href="{{ artist.website }}" class="text-lowercase" target="_blank" rel="noreferrer">{{ artist.website|schemaless_url }}</a></p>
            </div>
        {% endif %}
        <div class="text4 artist-search-profile-bio collapsed">
            {% if artist.biography %}
                {{ artist.biography|safe|striptags }}
            {% else %}
                This artist does not have a bio yet.
            {% endif %}
        </div>
        {% if artist.biography %} <span class="read-more text4 text-grey">Read more</span> {% endif %}
    </div>
    <div class="artist-search-profile-image">
      {% if artist.photo %}
          {% include 'partials/search_artist_profile_picture.html' with photo_url=artist.photo.url crop_box=artist.photo_crop_box %}
      {% else %}
          {% include 'partials/search_artist_profile_picture.html' with photo_url="dzycyuuhttkib.cloudfront.net/static/image/no-artist-photo.cadaf697815a.jpg" crop_box=artist.photo_crop_box %}
      {% endif %}
    </div>
    <div class="flex-column white-line-right">
      <div>
        <div class="musician-title mobile-padding">
            {{ artist.full_name }}
        </div>
      </div>
      <div class="white-line-bottom thicker visible-xs visible-sm visible-md"></div>
      <div class="flex-row">
        <div class="musician-instrument mobile-padding">{{ artist.get_main_instrument_name }}</div>
        <div class="text1 show-in-archive hidden-xs hidden-sm hidden-md">
            Total shows in archive: <span class='accent-color'>{{artist.archive_shows}}</span>
        </div>
      </div>
      <div class="white-line-bottom medium hidden-xs hidden-xs hidden-sm hidden-md"></div>
      {% if artist.public_email %}
        <div>
          <p class="text4 text-uppercase hidden-xs hidden-xs hidden-sm hidden-md">Email: <a href="mailto:{{ artist.public_email }}">{{ artist.public_email }}</a></p>
        </div>
      {% endif %}
      {% if artist.website %}
        <div class="hidden-xs hidden-sm hidden-md artist-details-website">
          <p class="text4 text-uppercase">Website: <a href="{{ artist.website }}" rel="noreferrer noopener" target="_blank">{{ artist.website|schemaless_url }}</a></p>
        </div>
      {% endif %}
      <div class="close-button-container visible-xs visible-sm visible-md">
        <a href="#" class="close-button" onclick="window.history.back()"></a>
      </div>
    </div>
  </div>

  <div class="artist-search-profile-bio-container hidden-xs hidden-xs hidden-sm hidden-md" style="display: inline-flex; vertical-align: top; float: right; margin-right: 3.5vw;">
    <div>
      <div class="artist-search-profile-bio collapsed text4">
        {% if artist.biography %}
            {{ artist.biography|safe|striptags }}
        {% else %}
            This artist does not have a bio yet.
        {% endif %}
      </div>
      {% if artist.biography %} <span class="read-more text4 text-grey">Read more</span> {% endif %}
    </div>

    <div class="artist-search-profile-bio-buttons flex-column">
      {% if archived and upcoming or archived and artist.albums %}
        <button data-toggle-tab-group="search-results" data-toggle-tab-target="archived-shows" id="archive-shows-button" class="white-border-button hover-fade active">Archived Shows</button>
      {% endif %}
      {% if upcoming and archived or upcoming and artist.albums %}
        <button data-toggle-tab-group="search-results" data-toggle-tab-target="upcoming-shows" id="upcoming-shows-button" class="white-border-button hover-fade">Upcoming Shows</button>
      {% endif %}
      <button data-toggle-tab-group="search-results" data-toggle-tab-target="smallslive-tracks" id="smallslive-tracks-button" class="white-border-button hover-fade {% if not artist.albums %} hidden {% endif %}">Smallslive Tracks</button>
    </div>
  </div>
</div>

<div class="close-button-container hidden-xs hidden-sm hidden-md">
  <a href="#" class="close-button" onclick="window.history.back()"></a>
</div>

<div class="tabs artist-tabs">
  {% if archived and upcoming %}
    <div class="active" data-toggle-tab-target="archived-shows" data-toggle-tab-group="search-results">
      <span class="title1">Archived</span>
    </div>
  {% else %}
    <div>
      <span class="title1"></span>
    </div>
  {% endif %}
  {% if upcoming and archived %}
    <div data-toggle-tab-target="upcoming-shows" data-toggle-tab-group="search-results">
      <span class="title1">Upcoming</span>
    </div>
  {% else %}
    <div>
      <span class="title1"></span>
    </div>
  {% endif %}
  {% if artist.albums %}
    <div data-toggle-tab-target="smallslive-tracks" data-toggle-tab-group="search-results">
      <span class="title1">Tracks</span>
    </div>
  {% endif %}
</div>

<div id="smallslive-tracks" data-toggle-tab="smallslive-tracks" style="display: none;"  data-toggle-tab-group="search-results">
  <div class="musicians-results white-line-bottom">
    <div class="title1 shows-results-title">Smallslive Tracks</div>
  </div>
  <div class="all-artist-tracks flex-row">
    {% if artist.albums %}
      {% for artistproduct in artist.albums %}
        {% include "catalogue/partials/product.html" with product=artistproduct.product %}
      {% endfor %}
    {% else %}
      <div class="no-result-container text2">No results</div>
    {% endif %}
  </div>
</div>


<script>
  $(document).ready(function () {
    $(".read-more").click(function () {
      var $bio = $('.artist-search-profile-bio');
      if ($bio.hasClass('collapsed')) {
        $bio.removeClass('collapsed');
        $(this).text('less');
      } else {
        $bio.addClass('collapsed');
        $(this).text('read more');
      }
    });
  });
</script>
