{% extends "base_admin.html" %}
{% load crispy_forms_tags thumbor_tags %}

{% block extra_head %}
  {{ form.media }}
{% endblock extra_head %}

{% block title %}Edit profile {{ artist.full_name }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-offset-1 col-md-11">   
    <h1>Edit profile: {{ artist.full_name }}</h1> 
  </div>
</div>
<div class="row">
  <div class="col-sm-7 col-md-offset-1 col-md-5"> 
    <div class="alert alert-info">
      <p><a href="">Clone this artist's last show (4/12/14)</a></p>
    </div>
    <form method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <h4 class="text-info">How Should We Pay You?</h4>
        <p><span class="label label-info">About Payments</span> We make payments to musicians who have earned any income every quarter, for the previous quarter. This info is private and never shown to anyone. You can provide this data later if you wish.</p>
        <div class="radio">
          <label><input type="radio" name="payment-distribution-method" value="DD" checked="checked" /> Pay me via Direct Deposit (fastest)
        </div>
        <div class="radio">
          <label><input type="radio" name="payment-distribution-method" value="check" /> Pay me via mailed check        
        </div>
        <div id="div_id_legal_name" class="form-group">
          <label for="id_tax" class="control-label  requiredField">
				  Full Legal Name</label>
				  <div class="controls "><input class="textinput textInput form-control" id="id_legal_name" maxlength="255" placeholder="" name="legal_name" type="text" value=""> </div>
				  <p class="help-block">For tax purposes and mailed-check payments.</p>
				</div>	
        <div class="payment-via-DD">
          <div id="div_id_bank" class="form-group">
            <label for="id_bank" class="control-label  requiredField">
  				  Name of your Bank</label>
  				  <div class="controls "><input class="textinput textInput form-control" id="id_bank" maxlength="255" name="bank" type="text" value=""> </div>
  				</div>
          <div id="div_id_bank_account_number" class="form-group">
            <label for="id_bank_account_number" class="control-label  requiredField">
  				Bank Account Number</label>
  				  <div class="controls "><input class="textinput textInput form-control" id="id_bank_account_number" maxlength="255" name="bank_account" type="text" value=""> </div>
  				</div>
          <div id="div_id_bank_routing_number" class="form-group">
            <label for="id_bank_routing_number" class="control-label  requiredField">
  				 Routing Number (for Bank)</label>
  				  <div class="controls "><input class="textinput textInput form-control" id="id_bank_routing_number" maxlength="255" placeholder="" name="routing_number" type="text" value=""> </div>
  				  <p class="help-block">9 digits usually, often found on the bottom of one of your checks.</p>
  				</div>	
        </div>
        <div class="payment-via-check none">
          {% include 'blocks/mailing-address-fields.html' %} 
        </div>	
        <div id="div_id_tax" class="form-group">
          <label for="id_tax" class="control-label  requiredField">
				  Your Best Phone Number</label>
				  <div class="controls "><input class="textinput textInput form-control" id="id_tax" maxlength="255" placeholder="### ### ####" name="tax" type="text" value=""> </div>
				  <p class="help-block">If we have problems paying you, we will contact you via phone.</p>
				</div>				
				
        <button type="submit" class="btn btn-primary">Save profile</button>
    </form>
  </div>
  <div class="col-sm-5 col-md-5">    
    <div class="well">
      {% if artist.photo %}
        <img src="{% thumbor_url artist.photo.url|urlencode width=200   %}" class="img-responsive" />
      {% endif %}
      <h2>Upcoming gigs ({{ artist.upcoming_events|length }}):</h2>
        {% if artist.upcoming_events %}
        <table class="table">
        <tbody>
          {% for upcoming_event in artist.upcoming_events|slice:"5" %}
          <tr>
            <td class="event_date"><time datetime="{{ upcoming_event.start|date:"c" }}">{{ upcoming_event.start|date:"D, M. d" }}<br />{{ upcoming_event.start|date:"Y - f a" }}</time></td>
            <td>
              {% if upcoming_event.photo.url != "" %}
                <a href="/events/{{ upcoming_event.id }}/">
                  <img src="{% thumbor_url upcoming_event.photo.url|urlencode width=100 height=60 smart=True %}" alt="Photo of {{ upcoming_event.title }}" />
                </a>
              {% else %}
                <a href="{% url "event_edit" upcoming_event.id %}"><span class="text-danger">[missing photo]</span></a>                
              {% endif %} 
            </td>
            <td><a href="{{ upcoming_event.get_absolute_url }}">{{ upcoming_event.display_title }}</a><br />
                {{ upcoming_event.subtitle }}
            </td>
            <td>
                <a href="{% url "event_edit" upcoming_event.id %}">edit event</a> {% if user.is_superuser %} | <a href="">clone</a>{% endif %}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3"><code>3</code><a href="">&laquo; Earlier</a> | Later &raquo;</td>
          </tr>
        </tbody>
      </table>
      {% elif artist.past_events %}
        <p>No gigs scheduled right now.</p>
      {% else %}
        <p>This artist hasn't yet played a show at Smalls.</p>
      {% endif %}
      <h2>Past Gigs ({{ artist.past_events|length }}):</h2>
      <table class="table">
        <tbody>
          {% for past_event in artist.past_events|slice:"10" %}
          <tr>
            <td class="event_date"><time datetime="{{ past_event.start|date:"c" }}">{{ past_event.start|date:"D, M. d" }}<br />{{ past_event.start|date:"Y - f a" }}</time></td>
            <td>
              {% if past_event.photo.url != "" %}
                <a href="/events/{{ past_event.id }}/">
                  <img src="{% thumbor_url past_event.photo.url|urlencode width=100 height=60 smart=True %}" alt="Photo of {{ past_event.title }}" />
                </a>
              {% else %}
                <a href="{% url "event_edit" past_event.id %}"><span class="text-danger">[missing photo]</span></a>                
              {% endif %} 
            </td>
            <td>
              <a href="{{ past_event.get_absolute_url }}">
              {% if past_event.displaytitle %}
                {{ past_event.displaytitle }}<br />
              {% else %}
                untitled gig with: 
              {% endif %}
              </a>
              {{ past_event.performers.all|join:", " }}
              <span class="text-muted">{{ past_event.subtitle }}</span>
            </td>
            <td>
                <a href="{% url "event_edit" past_event.id %}">edit event</a> {% if user.is_superuser %} | <a href="">clone</a>{% endif %}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3"><code>3</code><a href="">&laquo; Earlier</a> | Later &raquo;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
    <div class="dev">
    <h1>Dev. notes:</h1>
      <ul>
          <li><code>1</code> I may suggest we have a search/autocomplete here to avoid duplicates being entered.</li>
          <li><code>2</code> I would use a type-head chozen for the Artist Type field and change display label to "Instrument(s)"</li>
          <li><code>3</code> I think two toggles is enough; i woudl use ajax and rewrite the table rows here - dont add to the bottom of table list.</li>
      </ul>
    </div>
{% endblock content %}

{% block extra_js %}
  <script>
    $("#id_instruments").selectize({
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
    });
  </script>
{% endblock extra_js %}