{% load static %}
<a href="{{ artist.get_absolute_url }}{% if query_term %}&query_term={{ query_term }}{% endif %}" aria-label="            {% if artist.last_name %}{{ artist.last_name }}{% endif %} {% if artist.last_name and artist.first_name %}, {% endif %}{{ artist.first_name }} , {{ artist.instruments.all.first }}">
  <div class="event-card-square">
    <div class="event-picture-container">
      <div class="picture-border">
        <div class="event-picture">
          <!--  <div class="img-overlay"></div>  -->
          {% if artist.photo %}
            {% include 'partials/thumbored_picture.html' with photo_url=artist.photo.url photo_name=artist.get_photo_name_with_bucket height="300" width="300" %}
          {% else %}
            <img src="{% static 'image/no-artist-photo-thumbnail.jpg' %}"alt="Generic artist image">
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="event-info new">
    <div>
      <div class="{% if not show_event_venue %} margin-bottom{% endif %}">{{ artist.last_name }}, {{ artist.first_name }}</div>
      {% for instrument in artist.instruments.all %}
        <div class="event-info-title">{{ instrument }}</div>
      {% endfor %}
    </div>
  </div>
</a>
