{% extends "base_admin.html" %}
{% load thumbor_tags %}
{% block title %}Edit profile {{ artist.full_name }}{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Edit profile: {{ artist.full_name }}</h1>
<div class="row">
  <div class="col-sm-9">    
    <div class="alert alert-info">
      <p><a href="">Clone this artist's last show (4/12/14)</a></p>
    </div>
    <form method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Save profile</button>
    </form>
  </div>
  <div class="col-sm-3">    
    <div class="well">
      {% if artist.photo %}
        <img src="{% thumbor_url artist.photo.url|urlencode width=200   %}" class="img-responsive" />
      {% endif %}
      <h2>Upcoming: ({{ artist.upcoming_events|length }})</h2>
        {% if artist.upcoming_events %}
        <table class="table">
        <tbody>
          {% for upcoming_event in artist.upcoming_events|slice:"5" %}
          <tr>
            <td><a href="{{ upcoming_event.get_absolute_url }}">{{ upcoming_event.start_day|date:"m/j/y" }}</a></td>
            <td>{{ upcoming_event.performers.all|join:", " }}</td>
            <td><a href="">clone</a></td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3"><code>3</code><a href="">&laquo; Earlier</a> | Later &raquo;</td>
          </tr>
        </tbody>
      </table>
      {% elif artist.past_events %}
        <p>This artist hasn't played a show since {{ artist.past_events.0.start_day|date:"n/j/y" }}</p>
      {% else %}
        <p>This artist hasn't yet played a show at Smalls.</p>
      {% endif %}
      <h2>Past ({{ artist.past_events|length }}):</h2>
      <table class="table">
        <tbody>
          {% for past_event in artist.past_events|slice:"5" %}
          <tr>
            <td><a href="{{ past_event.get_absolute_url }}">{{ past_event.start_day|date:"n/j/y" }}</a></td>
            <td>{{ past_event.performers.all|join:", " }}</td>
            <td><a href="">clone</a></td>
          </tr>
          {% endfor %}
          <tr>
            <td><a href="">4/11/09</a></td>
            <td>list sidemen</td>
            <td><a href="">clone</a></td>
          </tr>
          <tr>
            <td><a href="">3/11/09</a></td>
            <td>list sidemen</td>
            <td><a href="">clone</a></td>
          </tr>
          <tr>
            <td><a href="">2/11/09</a></td>
            <td>list sidemen</td>
            <td><a href="">clone</a></td>
          </tr>
          <tr>
            <td><a href="">1/11/09</a></td>
            <td>list sidemen</td>
            <td><a href="">clone</a></td>
          </tr>
          <tr>
            <td><a href="">12/11/08</a></td>
            <td>list sidemen</td>
            <td><a href="">clone</a></td>
          </tr>
          <tr>
            <td colspan="3"><code>3</code><a href="">&laquo; Earlier</a> | Later &raquo;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
    <div class="dev">
    <h1>Dev. notes:</h1>
      <ul>
          <li><code>1</code> I may suggest we have a search/autocomplete here to avoid duplicates being entered.</li>
          <li><code>2</code> I would use a type-head chozen for the Artist Type field and change display label to "Instrument(s)"</li>
          <li><code>3</code> I think two toggles is enough; i woudl use ajax and rewrite the table rows here - dont add to the bottom of table list.</li>
      </ul>
    </div>
{% endblock content %}

{% block extra_js %}
  <script>
    $("#id_instruments").selectize({
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
    });
  </script>
{% endblock extra_js %}