{% extends "home_new.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
  <script>
    var django = {jQuery: jQuery};
  </script>
  {{ form.media }}
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
  <link href="/static/image_cropping/css/jquery.Jcrop.min.css" type="text/css" media="all" rel="stylesheet" />
  <link href="/static/image_cropping/css/image_cropping.css" type="text/css" media="all" rel="stylesheet" />
  <script>
    window.__jQuery = window.jQuery;
    window.__$ = window.$;
  </script>
  <script type="text/javascript" src="/static/image_cropping/js/jquery.Jcrop.min.js"></script>
  <script type="text/javascript" src="/static/image_cropping/image_cropping.js"></script>
  <script>
    window.jQuery = window.__jQuery;
    window.$ = window.__$;
  </script>
{% endblock extra_head %}

{% block title %}{{ action_name|capfirst }} artist{% endblock title %}

{% block content %}
  <div class="content-wrapper" style="border:none">
    <section class="admin-interface container">
      <h1 class="admin-interface__main-title">{{ action_name|capfirst }} artist</h1>
      <form method="post" class="admin-interface__form" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        {% comment %}{% crispy artist_invite_form %}{% endcomment %}
        <button type="submit" name="submit" class="white-border-button">{{ action_name|capfirst }} artist
        </button>
      </form>
    </section>
    {% if action_name == "edit" %}
      <section class="invite-artist container">
        {% if not artist.is_invited %}
        <form action="{% url "invite_artist" artist=artist.id %}" method="post">
          {% csrf_token %}
          <div class="from-group">
            <h2 class="invite-artist__heading">Invite artist to SmallsLIVE</h2>
            <p class="invite-artist__text">This artist <b>hasn't yet been invited</b> to SmallsLIVE artist program. To
              invite this artist check the email address below (or enter a new one if one is currently not set) and
              press the "Invite Artist" button.</p>
            <input type="email" class="form-control" name="email" placeholder="Email address">
            <input class="white-border-button" type="submit" value="Invite artist">
          </div>
        </form>
        {% elif not artist.has_registered %}
          <form action="{% url "invite_artist" artist=artist.id %}" method="post">
            {% csrf_token %}
            <div class="from-group">
              <h2 class="text2">Artist already invited!</h2>
              <p class="text2">{{ artist.full_name }} has already been invited to SmallsLIVE on
                {{ artist.email_invitation.sent|date:"F j, Y g:i A" }} with e-mail address <strong>{{ artist.user.email }}</strong></p>
            </div>
            <input type="hidden" class="form-control" name="email" value="{{ artist.user.email }}">
            <button type="submit" class="white-border-button">Resend invite</button>
          </form>
        {% else %}
          <div class="from-group">
            <h2 class="invite-artist__heading">Artist already registered!</h2>
            <p class="invite-artist__text">{{ artist.full_name }} has registered to SmallsLIVE on
              {{ artist.user.date_joined|date:"F j, Y g:i A" }} with e-mail address <strong>{{ artist.user.email }}</strong></p>
          </div>
        {% endif %}
      </section>
    {% endif %}
  </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script>
    $("#id_instruments").selectize();
  </script>
  {% if request.GET.popup %}
    <script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
  {% endif %}
{% endblock extra_js %}