{% extends "base_admin.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
  {{ form.media }}
{% endblock extra_head %}

{% block title %}Add new artist{% endblock title %}

{% block content %}
    <h1>Add artist</h1>
    {% include "blocks/form_lookup_artist.html" %}
    {% include 'blocks/invite-artist-form.html' %}    
    <div class="dev">
    <h1>Alternate Views</h1>
    <ul>
      <li><a href="./?invited=1">Already invited at least once</a></li>
    </ul>
    <h1>Dev. notes:</h1>
      <ul>
          <li><code>ArtistSearch</code> Unlike masthead, this autocomplete only matches on artist name (Starts with, and substring). Result should appear as "first_name last_name (instrument_list) and be alpha sorted" </li>
          <li><code>2</code> I would use a type-head chozen for the Artist Type field and change display label to "Instrument(s)"
          <li><code>3</code> The flash message should have text like "Profile saved &amp; invitation sent."</li>
          <li><code>4</code> - once a user has been invited once to the site, this radio should be the default choice on return visits</li>
      </ul>
    </div>

{% endblock content %}

{% block extra_js %}
  <script>
    $("#id_instruments").selectize({
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
    });
  </script>
{% endblock extra_js %}