{% extends "base.html" %}
{% load thumbor_tags %}
{% block bodyclass %}artist{% endblock %}
{% block title %}{{ artist.first_name }} {{ artist.last_name }} - {{ artist.instruments.all|join:", " }}  ({{ event.leader.media_count }} videos)  {% endblock title %}
{% block extra_js %}
  {% include 'blocks/social-like-init.html' %}
{% endblock extra_js %}
{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      {% if artist.photo %}
        <img src="{% thumbor_url artist.photo.url|urlencode width=150 height=150 smart=True %}" class="img-responsive pull-left artist-photo" />
      {% endif %}
      <h1>{{ artist.first_name }} {{ artist.last_name }}
          {% if artist.user == request.user or request.user.is_superuser %}
            <small><a href="{% url "artist_edit" pk=artist.id %}">edit</a></small>
          {% endif %}
      </h1>
      <p>{{ artist.instruments.all|join:", " }} - {{ artist.media_count }}  videos - <a href="{{ artist.website }}">@twittername</a></p>
      <p>{% include 'blocks/social-like-buttons.html' %}</p>
      <p><span class="glyphicon glyphicon-ok"></span> #2 Most Watched (of 612 artists) - 1,423 total video views</p>
      <a class="btn btn-primary" role="button">Subscribe to this artist</a> <span class="text-muted">- get emailed about new videos or gigs w/ {{ artist.full_name }}</span>
    </div>
 
    {# begin upcoming events #}
    <div class="upcoming_events">
      <h4>Upcoming Shows with {{ artist.first_name }} @ Smalls</h4>
      {% if artist.upcoming_events|length > 0 %}
        {% if user.is_authenticated %}
          <p>Watch them live, online for free:</p>
        {% else %}
          <p>These concerts are streamed live for free if you  <a href="/accounts/signup/">sign up for an account.</p>
        {% endif %}
        {% for upcoming_event in artist.upcoming_events %}
          {% include 'blocks/event-snippet.html' with event=upcoming_event %}
        {% endfor %} 
      {% else %}
        <p>No upcoming shows at this time.</p>
      {% endif %}
    </div>
    {# end events #}
    
    {# begin artist videos tab set #} 
    <div class="leader-videos"> 
      <h4>Jazz Videos featuring {{ artist.first_name }}</h4>
      {% if  artist.media_count < 1 %}
        <p>This artist does not have any videos available yet.</p>
      {% else %}
        <ul class="nav nav-tabs">
            <li {% if  artist.media_count_as_leader > 0  %} class="active"{% endif %}><a href="#as_leader" data-toggle="tab">As Leader {{ artist.media_count_as_leader|length }} ({{ artist.media_count_as_leader}})</a></li>
            <li {% if  artist.media_count_as_sideman > 0 and   artist.media_count_as_leader < 1 %}class="active"{% endif %}><a href="#as_sideman" data-toggle="tab">As Side Musician ({{ artist.media_count_as_sideman}})</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane {% if  artist.media_count_as_leader > 0  %} class="active"{% endif %}" id="as_leader">
            {% if  artist.media_count_as_leader > 0 %}
              <table class="table">
                <tbody>
                  {% for past_event in artist.past_events|slice:"10" %}
                    {% include 'blocks/related-video.html' with video_thumb=past_event.photo video_id=past_event.id %}
                  {% endfor %}
                </tbody>
              </table> 
              <p>[paginate]</p>
            {% else %}
              <p>{{ artist.first_name }} has no videos as a bandleader at Smalls.</p> 
            {% endif %}
          </div>       
          <div class="tab-pane {% if  artist.media_count_as_sideman > 0 and   artist.media_count_as_leader < 1 %}active{% endif %}" id="as_sideman">
            {% if  artist.media_count_as_sideman > 0 %}
              <table class="table">
                <tbody>
                  {% for past_event in artist.past_events|slice:"10" %}
                    {% include 'blocks/related-video.html' with video_thumb=past_event.photo video_id=past_event.id %}
                  {% endfor %}
                </tbody>
              </table> 
              <p>[paginate]</p>
            {% else %}
              <p>{{ artist.first_name }} has no videos as a side musician at Smalls.</p> 
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>  
    {# end artist videos tab set #} 
  </div>
  <div class="col-sm-4">
    <h4>About {{ artist.first_name }}</h4>
 
      <ul>
        <li><a href="{{ artist.website }}">Artist's website</a></li>
 
        <li><a href="{{ artist.website }}">Facebook</a></li>
      </ul>
 
    {{ artist.biography|safe }} 
    <div class="well join-artist-mailing-list">
      <h4>Join {{ artist.first_name }}'s Mailing List:<code>2</code></h4>
      {% if request.GET.hasRequestedInPast %}
        <div class="alert alert-info">You already asked to join this list on May 12, 2014. <a href="">Request to join again</a></div>
      {% endif %}
        <form role="form" class="{% if request.GET.hasRequestedInPast %} none{% endif %}">
        <p>* = required field</p>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address* </label>
            <input type="email" value="{{ user.email }}" placeholder="Enter email" id="" class="form-control">
          </div>  
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" placeholder="Name" value="{{ user.full_name }}" id="" class="form-control">
          </div>  
          <div class="form-group">
            <label for="exampleInputEmail1">ZIP/Postal Code</label>
            <input type="text" placeholder="POstal Code" id="" value="{{ user.zip }}" class="form-control">
          </div> 
          <div class="form-group">
            <label for="exampleInputEmail1">Country</label>
            <input type="text" placeholder="POstal Code" id="" value="{{ user.country }}" class="form-control">
          </div>      
          <div class="checkbox">
            <label>
              <input type="checkbox"> Also subscribe to SmallsLIVE email list <code>1</code>
            </label>
          </div>
   
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
  </div>
</div>
 
<div class="dev">
  <h1>Alternate States:</h1>
  <ul>  
    <li><a href="./?hasRequestedInPast=1">Fan already requested mailing list status</a> {hasRequestedInPast}</li>
  </ul>
  <h1>Dev Notes:</h1>
  <ul>
    <li><code>1</code> - hide this if they're on the SL list already</li>
    <li><code>2</code> - this generates an email (emails/request-to-join-artist-mailing-list.html) sent to artist</li>
  </ul>
</div>
{% endblock content %}
