{% load static from staticfiles %}
{% load humanize %}

<section id="upcoming-events-fullsize" class="upcoming-events container hidden-xs hidden-sm">
    <div class="carousel slide" id="upcoming-carousel" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner" id="event-details-slides">
            {% for event in events %}
            <!-- Carousel slide -->
            <div class="event-details row item {% if forloop.first %}active{% endif %}">
                <div class="col-xs-12 col-md-6 vcenter hidden-xs">
                    <div class="gradient-overlay"></div>
                    <img src="{% static 'image/upcoming-events/01.jpg' %}" class=" event-details__image img img-responsive div-fill-img" alt=""/>
                </div><!--
             --><div class="col-xs-12 col-md-6 info vcenter">
                    <div>
                        <h1 class="event-details__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>

                        <p class="event-details__artists">{% for gig_info in event.get_performers %} <a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist }} <span
                class="event-details__instrument">({{ gig_info.role.name }})</span></a> {% if not forloop.last %} // {% endif %}{% endfor %}
                        </p>
                        <a href="{{ event.get_absolute_url }}" class="event-details__event-button">Full event page</a><span class="arrow"></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="event-select row" id="event-details-selector">
            <div class="col-xs-12 float-none">
                <h2 class="event-select__title">Live Schedule</h2>
                <div class="row">
                    <div class="col-md-3 col-xs-12 vcenter">
                        <select name="" id="homepage-date-select" class="event-select__date-select form-control">
                          {% for date in dates %}
                            <option value="{{ date|date:"n/j/Y" }}" {% if request.GET.date == date|date:"n/j/Y" %}selected{% endif %}>{{ date|naturalday:"l"|capfirst }} // {{ date|date:"n/j/Y" }}</option>
                          {% endfor %}
                        </select>
                    </div><!--
                 --><div class="col-md-9 col-xs-12 vcenter">
                        <ol class="event-select__slots carousel-indicators">
                          {% for event in events %}
                            <li data-target="#upcoming-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}>{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</li>
                          {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>