{% load static from staticfiles %}
{% load humanize %}
{% load custom_cloudinary_tags %}

{% if not request.is_ajax %}
<section id="upcoming-events-fullsize" class="upcoming-events container hidden-xs hidden-sm">
{% endif %}
    <div class="row upcoming-carousel" id="upcoming-carousel">
        {% for event in events %}
        <!-- single slide -->
        <div class="upcoming-carousel-single event-details">
            <div class="col-xs-12 col-md-6 vcenter hidden-xs">
                <div class="gradient-overlay"></div>
                {% if event.photo %}
                    {% if event.photo_crop_box %}
                      <img src="{% cloudinary_image_url photo_name=event.get_photo_name_with_bucket photo_url=event.get_photo_url|urlencode crop_box=event.photo_crop_box width=600 %}" alt="" class="event-details__image img div-fill-img"/>
                    {% else %}
                      <img src="{% cloudinary_image_url photo_name=event.get_photo_name_with_bucket photo_url=event.get_photo_url|urlencode height=360 width=600 smart=True %}" alt="" class="event-details__image img div-fill-img"/>
                    {% endif %}
                {% else %}
                    <img src="{% static "image/no-event-image-placeholder.jpg" %}" class="event-details__image img div-fill-img" alt="{{ event.title }} photo"/>
                {% endif %}
                </div><!--
             --><div class="col-xs-12 col-md-6 info vcenter">
                    <div>
                        {% if event.is_cancelled %}<span class="event-details__cancelled-ribbon">cancelled</span>{% endif %}
                        <h1 class="event-details__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
                        <h3 class="event-details__timeslot">{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</h3>
                        <p class="event-details__artists">{% for gig_info in event.get_performers %} <a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist }} <span
                class="event-details__instrument">({{ gig_info.role.name }})</span></a> {% if not forloop.last %} // {% endif %}{% endfor %}
                        </p>
                        <a href="{{ event.get_absolute_url }}" class="event-details__event-button">Full event page</a><span class="arrow"></span>
                    </div>
                </div>
        </div>
        {% empty %}
            <div class="upcoming-carousel-single event-details no-events">
                <div class="no-events__container">
                    <h2 class="no-events__title">No events for this date.</h2>
                </div>
            </div>
        {% endfor %}
    </div>
{% if not request.is_ajax %}
    <div class="event-select row" id="event-details-selector">
        <div class="col-xs-12 float-none">
            <h2 class="event-select__title">SmallsLIVE Schedule</h2>
            <div class="row">
                <div class="col-md-3 col-xs-12 vcenter">
                    <div id="header__date-picker">
                        <input class="" type="text" readonly>
                    </div>
                </div><!--
             --><div class="col-md-9 col-xs-12 vcenter">
                    <ol class="event-select__slots carousel-indicators">
                        {% for event in events %}
                            <li data-slickPosition="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}>{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

