<div class="list-group">
  <a href="../musician-signup-login" class="list-group-item active">
    1. Log In <code>3</code>
  </a>
  <a href="../musician-signup-terms" class="list-group-item">
    2. Accept Terms &amp; Conditions <code>2</code>
  </a>
  <a href="../musician-signup-choose-videos" class="list-group-item">3. Choose Videos to Publish</a> 
  <a href="#" class="list-group-item">5. Add Song Titles</a>    
  <a href="#" class="list-group-item">6. Publish Videos &amp; Get Paid</a>    
</div>