<div class="list-group">
  <a href="/static_pages/musician-signup-login" class="list-group-item active">
    1. Log In <code>3</code>
  </a>
  <a href="/events/musician-signup-choose-videos/" class="list-group-item">2. Review Your Recordings</a> 
  <a href="/static_pages/musician-signup-terms" class="list-group-item">
     3. Accept Terms &amp; Conditions <code>2</code>
  </a>
  <a href="/static_pages/musician-signup-artist-edit" class="list-group-item">4. Update Artist Profile</a>       
</div>
<p><a href="/static_pages/about-smallslive-for-musicians" class="text-muted">Cancel registration process</a><code>g2</code></p>