<ul class="nav navbar-nav navbar-right">
  {% if user.is_authenticated %}
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="longname">{% if user.first_name %} {{ user.first_name }} {% else %}My Account {% endif %}<b class="caret"></b></a>
    <ul class="dropdown-menu"> 
      {% if user.is_superuser %}
        <li><a href="/static_page/dashboard-admin">Admin Website </a></li>      
        <li class="divider"></li>
      {% endif %}
      {% if user.is_artist %}
        <li><a href="{% url 'my_gigs' %}">Artist Website </a></li>      
        <li class="divider"></li>
      {% endif %}
      <li><a href="/static_page/my-account-summary">Subscription/Account</a></li>  
      <li><a href="/static_page/my-account-view-orders">Downloads &amp; Orders</a></li>     
      <li><a href="/static_page/my-account-payment-history">Payment History</a></li>      
      <li class="divider"></li>
      <li><a href="{% url "account_logout" %}">Log Out</a></li>
    </ul>
  </li>  
  {% endif %} 
  {% if not user.is_authenticated %}
    <li><a href="/static_page/choose-subscription/">Free Trial</a></li>
    <li><a href="{% url "account_login" %}">Log In</a></li>
  {% endif %}
</ul>