<ul class="nav navbar-nav navbar-right">
  {% if user.is_authenticated %}
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="longname">{% if user.full_name %} {{ user.full_name }} {% else %} {{ user.email }} {% endif %}<b class="caret"></b></a>
    <ul class="dropdown-menu"> 
      {% if user.is_artist %}
      <li><a href="{% url "artist_edit" pk=user.artist.id %}">Edit artist profile</a></li>
      <li><a href="{% url "my-gigs" %}">My gigs</a></li>
      {% endif %}
      <li><a href="/static_page/my_subscription">Subscription info</a></li>         
      <li><a href="/static_page/my_account">Profile, email, password</a></li>
      <li><a href="{% url "account_logout" %}">Log Out</a></li>
    </ul>
  </li>  
  {% endif %} 
  <li>
    {% if not user.is_authenticated %}
      <a href="{% url "account_login" %}">Log In</a>
    {% endif %}
  </li>
</ul>