<div class="product-object">
  <div class="produt-thumbnail">
    <a href="/events/8323/">
    <img src="http://d3dombqstlgdhj.cloudfront.net/h1ELL_gHTvZay4EmGogrjHkl07U=/126x90/http%3A//d3dombqstlgdhj.cloudfront.net/images/SL0031_daveschnitter_FINAL2.jpg" class="media-object img-responsive">
    </a>
  </div>
  <div class="product-info">
    <a href="/events/8323/">
      <h2 class="product-title">The David Schnitter Quartet</h2>
      <p class="product-subtitle">Recorded Aug 2, 2014</p>
    </a>
    <a href="" class="btn start-trial-button">$15 - Buy</a>
  </div>
  <p><span class="glyphicon glyphicon-ok-circle"></span> Video available</p>
</div>