{% load static from staticfiles %}
{% load custom_cloudinary_tags %}

{% if event %}
<section class="schedule__event-details-container container" id="event-details-expanded" xmlns="http://www.w3.org/1999/html">
    <div class="event-details row item active">
        <div class="hidden-xs col-sm-6 col-md-6">
            <div class="gradient-overlay"></div>
            {% if event.photo %}
                {% if event.photo_crop_box %}
                      <img src="{% cloudinary_image_url photo_url=event.get_photo_url|urlencode photo_name=event.get_photo_name_with_bucket crop_box=event.photo_crop_box width=600 %}" alt="" class="event-details__image img div-fill-img"/>
                    {% else %}
                      <img src="{% cloudinary_image_url photo_url=event.get_photo_url|urlencode photo_name=event.get_photo_name_with_bucket height=360 width=600 smart=True %}" alt="" class="event-details__image img div-fill-img"/>
                    {% endif %}
            {% else %}
                <img src="{% static "image/no-event-image-placeholder.jpg" %}" class="event-details__image img div-fill-img" alt=""/>
            {% endif %}
        </div>
        <div class="hidden-xs col-sm-6 col-md-6 info">
            <div>
                {% if event.is_cancelled %}<span class="event-details__cancelled-ribbon">cancelled</span>{% endif %}
                <h1 class="event-details__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h1>
                <h3 class="event-details__timeslot">{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</h3>
                <p class="event-details__artists">{% for gig_info in event.get_performers %} <a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist }} <span
                class="event-details__instrument">({{ gig_info.role.name }})</span></a> {% if not forloop.last %} // {% endif %}{% endfor %}</p>
                <a href="{{ event.get_absolute_url }}" class="event-details__event-button">Full event page</a><span class="arrow"></span>
            </div>
        </div>
    </div>
</section>
{% endif %}