{% load humanize %}
{% load thumbor_tags %}
<table class="table list-of-recordings">
  <thead>
    <tr>
      <th><a href="">Gig Date</a></th>
      <th>Set</th>
      <th>Video</th>
      <th>Audio</th>
      <th>Description</th>
      <th><a href="">Publish Date</a><code>4</code></th>
      <th><a href="">Fans* <span class="glyphicon glyphicon-arrow-down"></span></a></th> 
    </tr>
  </thead>
  <tbody>
    {% for past_event in past_events %}
    <tr data-event="{{ past_event.id }}"  class="event_{{ past_event.id }}"> 
      <td rowspan="2" class="event_date"><time datetime="{{ past_event.start|date:"c" }}">{{ past_event.start|date:"D, M. d" }}<br />{{ past_event.start|date:"Y - f a" }}</time></td>
      <td  class="choose-set active">
        <label class="small"><input type="radio" name="set_{{ past_event.id }}" value="1" checked="checked"> 1 (66min)</label>
      </td>
      <td rowspan="2" class="video-thumb">
        <a href="" class="download small"><span class="glyphicon glyphicon-download"></span>   1.2GB MP4</a>

        {% if past_event.photo.url != "" %}
          <a href="/events/{{ past_event.id }}/">
            <span class="glyphicon glyphicon-play"></span>
            <img src="{% thumbor_url past_event.photo.url|urlencode width=100 height=60 smart=True %}" alt="Play video: {{ event.title }}" class="img-responsive" />
          </a>
        {% endif %}       
      </td>
      <td rowspan="2" class="audio-play"> 
          <a href="" class="download small"><span class="glyphicon glyphicon-download"></span>   52MB MP3</a>
          <a  href="/events/{{ past_event.id }}/" class=" btn btn-default" role="button" title="Play audio {{ past_event.displaytitle }}"><span class="glyphicon glyphicon-play"></span></a>                  
      </td>
      <td rowspan="2"> 
         <a href="{{ past_event.get_absolute_url }}">{{ past_event.display_title }}</a><br />
            {{ past_event.subtitle }}
         <div>
         
           {# if show_leader == 'true' #}
           {#  Led by: {{ past_event.leader.full_name }} #}
           {# endif #}  
             <a href="{% url "event_edit" past_event.id %}">{% if past_event.description %}Edit{% else %}Add{% endif %} description</a></div>
      </td>
      <td rowspan="2" >Jan 1, 2015</td>
      <td rowspan="2" class="num">3</td>
    </tr>
    <tr data-event="{{ past_event.id }}" class="event_{{ past_event.id }}">
      <td  class="choose-set not-first">
      
        <label class="small"><input type="radio" name="set_{{ past_event.id }}" value="2"> 2 (34min)</label>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% if paginator.num_pages > 1 %}
   <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}#past">&laquo;</a></li>
    {% endif %}
    {% for num in paginator.page_range %}
      {% ifequal num page_obj.number %}
        <li class="active"><a href="#">{{ num }}</a></li>
      {% else %}
        <li><a href="?page={{ num }}#past"> {{ num }}</a></li>
      {% endifequal %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}#past">&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}         