{% comment %}
<div class="video-player">
  <div id="jquery_jplayer_1"></div>
  <div id="jp_container_1" class="video-player-controls">
    <a href="#" class="jp-video-full pull-right"><span class="glyphicon glyphicon-fullscreen"></span></a>
    <a href="#" class="jp-play"><span class="glyphicon glyphicon-play"></span></a>
    
    <a href="#" class="jp-pause"><span class="glyphicon glyphicon-pause"></span></a>
    <span class="run-time">0:00:00 / <span class="total">1:30:00</span></span>
  </div>
</div>
{% endcomment %}
<iframe width="800" height="400" src="//www.youtube.com/embed/Rr-d3tO-sXM?autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>