{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}







{% block store_content %}
<div class="my-downloads-album row big-player">
<div class="my-downloads-album__cover flex-column player-container " data-track=0>
    {% with image=album_product.primary_image %}
    {% if album_product.parent_id %}
        {% with image=album_product.parent.primary_image %}
            {% thumbnail image.original "245x245" upscale=False as thumb %}
                <div style="position: relative; min-width:255px">
                    <img class="defineImageRatio" src="{{ thumb.url }}" alt="{{ album_product.get_title }}" style="border-radius: 0px">
                    <div class="purchases-player-button myplay-btn">
                        <div class="fa-thin-circle fa" >
                        <i class="fas fa-play"></i></div>
                    </div>
                </div>
            {% endthumbnail %}
        {% endwith %}
    {% else %}
        {% with image=album_product.primary_image %}
            {% thumbnail image.original "245x245" upscale=False as thumb %}
                <div style="position: relative; min-width:255px">
                    <img class="defineImageRatio" src="{{ thumb.url }}" alt="{{ album_product.get_title }}" style="border-radius: 0px">
                        <div class="purchases-player-button myplay-btn">
                        <div class="fa-thin-circle fa" >
                        <i class="fas fa-play"></i></div>
                    </div>
                </div>
            {% endthumbnail %}
        {% endwith %}
    {% endif %}
    {% endwith %}
    <div class="flex-column">
      <a class="store-single__item__name" href="{{ album_product.get_absolute_url }}">{% if album_product.parent %}{{ album_product.parent.title }} - {% endif %}{{ album_product.title }}</a>
      <br>
      {% for artist in  album_product.artist.all %}
        <a class="artist-link " href="/search/?artist_pk={{ artist.pk }}">{{ artist.first_name }} {{ artist.last_name }} / {{ artist.instruments.first }}</a><br>
      {% endfor %}
      <div class="store-single__item__name" style="color:black"> 
      {% if session.price.exists %}
          {% if session.price.excl_tax == 0 %}
              {% trans "Free" %}
          {% elif session.price.is_tax_known %}
              {{ session.price.incl_tax|currency:session.price.currency }}
          {% else %}
              {{ session.price.excl_tax|currency:session.price.currency }}
          {% endif %}
      {% else %}
          &nbsp;
      {% endif %}
      </div>
      <br>
      <form id="add_to_basket_form" action="{% url 'basket:add' pk=album_product.pk  %}" method="post" class="add-to-basket">
        {% if session.availability.is_available_to_buy %}
          {% basket_form request product 'single' as basket_form %}
          <div class="store-add-large">
              {% csrf_token %}
              {{ basket_form.quantity }}
              {% if basket_form.fields.child_id.choices %}
                <div class='white-border-select'>
                  <select class="store-add-large__options" name="child_id">
                      {% for variant in album_product.variants.all %}
                      {% purchase_info_for_product request variant as variant_session %}
                          {% if session.availability.is_available_to_buy %}
                                <option data-price="{{ variant_session.price.excl_tax|currency:variant_session.price.currency }}" value="{{ variant.id }}">{{ variant.title }} ({{ variant_session.price.excl_tax|currency:variant_session.price.currency }})</option>
                          {% endif %}
                      {% endfor %}
                  </select>
                </div>
                {% if user.is_authenticated %}
                  <div class="arrow-button-container"><button type="submit" class="white-border-button">Add to cart</button></div>
                {% else %}
                  <div class="arrow-button-container"><a href="#" data-toggle="modal" data-target="#logIn" class="white-border-button">Add to cart</a></div>
                {% endif %}
              {% else %}
                {{ basket_form.child_id }}
                {% if user.is_authenticated %}
                  <div class="arrow-button-container"><button type="submit" class="white-border-button">Add to cart</button></div>
                {% else %}
                  <div class="arrow-button-container"><a href="#" data-toggle="modal" data-target="#logIn" class="white-border-button">Add to cart</a></div>
                {% endif %}
              {% endif %}
          </div>
        {% endif %}
      </form>
    </div>
</div>
<div class="song-container">
    <div class="my-downloads-album__tracks-table">
    {% for track in album_product.tracks.all|dictsort:"ordering" %}
        <!-- tracks table row -->
        <div class="track-container {{ track.pk }} {% if not track.pk in bought_tracks and not is_full %} BUUUUY {% endif %}" style="position:relative">
            <div class="my-downloads-album__tracks-table__row flex-row">
                <div class="progress-bar"></div>
                <div class="length-bar"></div>
                <div class="hidden my-downloads-album__tracks-table__column audio">
                    <audio class="audio-player" controls data-track="{{ forloop.counter0 }}" data-length="{{track.attr.duration}}">
                   {% if track.get_hd_track_stockrecord %}
                        <source src="{{ track.get_hd_track_stockrecord.digital_download.get_file_url }}" type="audio/mpeg">
                    {% else %}
                        <source src="{{ track.get_track_stockrecord.digital_download.get_file_url }}" type="audio/mpeg">
                    {% endif %}

                    </audio>
                </div>
                <div class="flex-column track-info" data-track="{{ forloop.counter0 }}">
                    <div class="my-downloads-album__tracks-table__column title2">
                    {{ track.title }}
                    </div>
                    <div class="my-downloads-album__tracks-table__column composer text1">
                        {{ track.attr.composer }}
                    </div>
                </div>
                <div class="store-buy my-downloads-album__tracks-table__column duration text1">
                    {{ track.attr.duration }}
                </div>
                <div class="my-downloads-album__tracks-table__column buy-track store-buy">
                    <div class="buy-button-container">
                      {% if user.is_authenticated %}
                        <a class="white-border-button  flex-button"
                                      data-toggle="dropdown" aria-expanded="false"
                                      href="">Buy track <i
                                          class="fa fa-caret-down"></i></a>
                      {% else %}
                        <a class="tracks-table__button" href="#"
                           data-toggle="modal" data-target="#logIn">Buy
                          track <i class="fa fa-caret-down"></i></a>
                      {% endif %}
                      <div class="dropdown-menu" role="menu">
                          {% if track.get_track_stockrecord %}

                           {% basket_form request track 'single' as basket_form %}
                            <form id="add_to_basket_form"
                                  action="{% url 'basket:add' pk=track.pk %}"
                                  method="post"
                                  class="add-to-basket">
                              {% csrf_token %}
                              {{ basket_form.quantity }}
                              {{ basket_form.child_id }}
                              <input type="hidden"
                                     name="stockrecord_id"
                                     value="{{ track.get_track_stockrecord.id }}"/>
                              <input class="white-border-button flex no-border" type="submit"
                                     value="Buy mp3 (${{ track.get_track_stockrecord.price_excl_tax }})">
                            </form>



                          {% comment %} <a class="white-border-button flex border-not" href="{{ track.get_hd_track_stockrecord.digital_download.get_downloadable_file_url }}" download="{{ track.get_hd_track_stockrecord.digital_download.file.name }}">Download {% endcomment %}
                          {% else %}

                          {% basket_form request track 'single' as basket_form %}
                            <form id="add_to_basket_form"
                                  action="{% url 'basket:add' pk=track.pk %}"
                                  method="post"
                                  class="add-to-basket">
                              {% csrf_token %}
                              {{ basket_form.quantity }}
                              {{ basket_form.child_id }}
                              <input type="hidden"
                                     name="stockrecord_id"
                                     value="{{ track.get_hd_track_stockrecord.id }}"/>
                              <input class="white-border-button flex no-border" type="submit"
                                     value="Buy HD (${{ track.get_hd_track_stockrecord.price_excl_tax }})">
                            </form>




                          {% comment %} <a class="white-border-button flex border-not" href="{{ track.get_track_stockrecord.digital_download.get_downloadable_file_url }}" download="{{ track.get_track_stockrecord.digital_download.file.name }}">Download {% endcomment %}
                          {% endif %}

                      </div>


             
                   

                    </div>
                </div>
            </div>
        </div>
        <!-- end of tracks table row -->
    {% endfor %}
    </div>
    <!-- end of tracks table -->
</div>
</div>

{% endblock store_content %}
