{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block store_content %}
<div class="my-downloads-album row big-player">
  <div class="my-downloads-album__cover flex-column player-container ">
    {% with image=album_product.primary_image %}
      {% if album_product.parent_id %}
        {% with image=album_product.parent.primary_image %}
          <div style="position: relative; min-width:255px">
            <img class="defineImageRatio" src="{{ image.original.url }}" alt="{{ album_product.get_title }}" style="border-radius: 0px">
            <div class="purchases-player-button myplay-btn">
              <div class="fa-thin-circle fa" >
                <i class="fas fa-play"></i>
              </div>
            </div>
          </div>
        {% endwith %}
      {% else %}
        {% with image=album_product.primary_image %}
          <div style="position: relative; min-width:255px">
              <img class="defineImageRatio" src="{{ image.original.url }}" alt="{{ album_product.get_title }}" style="border-radius: 0px">
                <div class="purchases-player-button myplay-btn">
                <div class="fa-thin-circle fa" >
                  <i class="fas fa-play"></i>
                </div>
              </div>
          </div>
        {% endwith %}
      {% endif %}
    {% endwith %}
    <div class="flex-column">
      <a class="store-single__item__name" href="{{ album_product.get_absolute_url }}">{% if album_product.parent %}{{ album_product.parent.title }} - {% endif %}{{ album_product.title }}</a>
      <br>
      {% for artist in  album_product.artist.all %}
        <a class="artist-link " href="/search/?artist_pk={{ artist.pk }}">{{ artist.first_name }} {{ artist.last_name }} / {{ artist.instruments.first }}</a><br>
      {% endfor %}
      <br>
      {% if child_product %}
        {% purchase_info_for_product request child_product as session %}
        <form id="add_to_basket_form" action="{% url 'basket:add' pk=child_product.pk  %}" method="post" class="add-to-basket">
          {% if session.availability.is_available_to_buy %}
            {% basket_form request child_product 'single' as basket_form %}
            <div class="store-add-large">
              {% csrf_token %}
              {{ basket_form.quantity }}
              {{ basket_form.child_id }}
              <div class="arrow-button-container">
                <button type="submit" class="white-border-button"> {{ child_product.title }} {{ session.price.excl_tax|currency:session.price.currency }}</button>
              </div>
            </div>
          {% else %}
            <label>Out of stock</label>
          {% endif %}
        </form>
      {% endif  %}
    </div>
  </div>
  <div class="song-container">
    <div class="my-downloads-album__tracks-table">
    {% for track in album_product.tracks.all|dictsort:"ordering" %}
      <!-- tracks table row -->
      <div class="track-container" style="position:relative" {% if not track.pk in bought_tracks and not is_full = 'full_album' %}  href='none' {% else %} href='{% url "my-downloads" %}?album={{ album_product.pk }}' {% endif %}   >
      {% if not is_catalogue %}
       {% if track.pk in bought_tracks or is_full = 'full_album' %}
        <div class="progress-holder" id='{{ forloop.counter0 }}' data-progress="0">
            <div class="progress-bar paused">
              <span class="progress-btn"></span>
            </div>
          </div>
        {% endif %}
      {% endif %}

        <div id='t{{ forloop.counter0 }}' class="my-downloads-album__tracks-table__row flex-row {% if track.get_track_preview_url == 'blank.mp3' %} {% if not track.pk in bought_tracks and not is_full = 'full_album' %} disabled {% endif %}{% endif %}">
          {% if track.pk in bought_tracks or is_full = 'full_album' %}
            <div class="hidden my-downloads-album__tracks-table__column audio">
              <audio class="audio-player" controls data-track="{{ forloop.counter0 }}" data-length="{{track.attr.duration}}">
                {% if track.get_hd_track_stockrecord %}
                  <source src="{{ track.get_hd_track_stockrecord.digital_download.get_file_url }}" type="audio/mpeg">
                {% else %}
                  <source src="{{ track.get_track_stockrecord.digital_download.get_file_url }}" type="audio/mpeg">
                {% endif %}
              </audio>
            </div>
          {% else %}
            {% if is_catalogue %}
              <div class="hidden my-downloads-album__tracks-table__column audio">
                <audio class="audio-player" controls data-track="{{ forloop.counter0 }}" data-length="{{track.attr.duration}}">
                  {% if track.get_track_preview_url %}
                    <source src="{{ track.get_track_preview_url|safe }}" type="audio/mpeg">
                  {% endif %}
                </audio>
              </div>
            {% endif %}
          {% endif %}
          <div class="flex-column track-info {% if not is_catalogue %} {% if not track.pk in bought_tracks and not is_full = 'full_album' %} disabled {% endif %}{% endif %}" data-track="{{ forloop.counter0 }}">
            <div class="my-downloads-album__tracks-table__column title2">
              {{ track.title }} {% if is_catalogue and track.get_track_preview_url != 'blank.mp3'  %} {% if not track.pk in bought_tracks and not is_full = 'full_album' %} <span style="font-size: 10px;">(preview)</span>{% endif %} {% endif %}
            </div>
            <div class="my-downloads-album__tracks-table__column composer text1">
              {{ track.attr.composer }}
            </div>
          </div>
          <div class="store-buy my-downloads-album__tracks-table__column duration text1 {% if not is_catalogue %} {% if not track.pk in bought_tracks and not is_full = 'full_album' %} disabled {% endif %}{% endif %}">
            {{ track.attr.duration }}
          </div>

          <div class="my-downloads-album__tracks-table__column buy-track store-buy">
            {% if not track.pk in bought_tracks and not is_full = 'full_album' %}
              {% if track.get_track_stockrecord %}
                {% if user.is_authenticated %}
                  <button class="white-border-button add-to-library"
                          data-track-id="{{ track.pk }}"
                          data-price="{{ track.get_track_stockrecord.price_excl_tax }}">Add to Library
                  </button>
                {% else %}
                  <a class="white-border-button" href="#"
                     data-toggle="modal"
                     data-target="#logIn"
                     data-price="{{ track.get_track_stockrecord.price_excl_tax }}">Add to library
                    <i class="fa fa-caret-down"></i>
                  </a>
                {% endif %}
              {% else %}
                  <button class="white-border-button add-to-library no-border">No Mp3 available</button>

              {% endif %}
            {% else %}
              {% if is_catalogue %}
                <button class="white-border-button">Added to Library</button>
              {% else %}
                {% if is_full == 'full_album' %}
                  <a class="white-border-button flex download-btn"
                     href="{{ track.get_track_stockrecord.digital_download.get_downloadable_file_url }}"
                     download="{{ track.get_track_stockrecord.digital_download.file.name }}">Download mp3
                  </a>
                {% else %}
                  <button class="white-border-button download"
                          data-mp3-href="{{ track.get_track_stockrecord.digital_download.get_downloadable_file_url }}"
                          data-mp3-name="{{ track.get_track_stockrecord.digital_download.file.name }}"
                          data-hd-href="{{ track.get_hd_track_stockrecord.digital_download.get_downloadable_file_url }}"
                          data-hd-name="{{ track.get_hd_track_stockrecord.digital_download.file.name }}">Download</button>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>

      </div>

      <!-- end of tracks table row -->
    {% endfor %}
    </div>
    {% if mp3_available %}
    <div>
      <button id="btnCheckout" class="white-border-button checkout">Confirm donation</button>
    </div>
    {% endif %}
    <!-- end of tracks table -->
  </div>
</div>
<div class="modal fade" id="downloadFormat" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">Download</p>
        <p class="title1">Select a format</p>
        <div class="button-row button-row-margin">
          <a id="downloadFormatMp3Url" href="" download>
              <button>Mp3</button>
          </a>
          <a id="downloadFormatHdUrl" href="" download>
              <button>HD</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmCheckout" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color title">Library</p>
        <p class="text3 justifyed-text text">
          You've selected tracks
        </p>
        <p id="purchase-content"></p>
        <div class="text4 text-centered" style="display: flex; justify-content: center;">
          <button id="confirmSelectionButton" class="white-border-button confirm" style="margin-right: 5px;">Confirm</button>
          <button id="cancelSelectionButton" class="white-border-button cancel" style="margin-left: 5px;">Cancel</button>
          <form id="frmCheckout" type="post"  class="hidden">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addToLibraryNotice" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color title">Add tracks to your Library</p>
        <p class="text3 justifyed-text text">
          Please select tracks and then confirm.
        </p>
        <div class="text4 text-centered" style="display: flex; justify-content: center;">
          <a class="white-border-button" href="#" class="close-button">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock store_content %}
{% block extra_js %}

  <script>
    $(document).ready(function () {
      {% if is_catalogue %}
        $(document).on('click', '.track-container', function(e){
          if($(e.currentTarget).attr('href') != 'none')
            document.location = $(e.currentTarget).attr('href')
    })
    {% endif %}

      $(document).on('click', '.add-to-library, .added-to-library', function (event) {
        /* Add to Library (Mark as ready to be added to basket
          This does not add the item to the basket just yet.
          Just change a few classes to prepare what's going to be
          added when the confirmation is received.
        */
        if ($(this).hasClass('add-to-library')) {
          $(this).removeClass('add-to-library');
          $(this).addClass('added-to-library');
          $(this).addClass('no-border');
          $(this).addClass('active');
        } else {
          $(this).removeClass('added-to-library');
          $(this).addClass('add-to-library');
          $(this).removeClass('no-border');
          $(this).removeClass('active');
        }

        // update total in Confirm button:
        var total = 0;
        $('.added-to-library').each(function () {
          var price = $(this).data('price');
          if (price) {
            price = parseFloat(price);
            total += price
          }
        });

        if (total > 0) {
          $('#btnCheckout').text('Confirm $' + total + ' donation');
        } else {
          $('#btnCheckout').text('Confirm donation');
        }
      });

      $(document).on('click', '.download', function (event) {
        event.stopPropagation();
        var mp3Url = $(this).data('mp3-href');
        var mp3Name = $(this).data('mp3-name');
        var hdUrl = $(this).data('hd-href');
        var hdName = $(this).data('hd-name');
        $('#downloadFormatMp3Url').attr('href', mp3Url);
        $('#downloadFormatMp3Url').attr('download', mp3Name);
        $('#downloadFormatHdUrl').attr('href', hdUrl);
        $('#downloadFormatHdUrl').attr('download', hdName);
        $('#downloadFormat').modal('show');

      });

      $(document).on('click', '#btnCheckout', function (event) {
        if ($('.added-to-library').length) {

          var $form = $('#frmCheckout');
          $(this).attr('disabled', 'disabled');
          $('.added-to-library').each(function () {
            var id = $(this).data('track-id');
            $('<input>').attr({
              'type': 'hidden',
              'name': 'trackId',
              'value': id
            }).appendTo($form);
          });
          $.ajax({
            url: "/multimedia/library/add-tracks",
            data: $form.serialize(),
            success: function (data) {
              // Append all forms  to content
              $('#purchase-content').html(data);
              $('#confirmCheckout').modal('show');
              $(this).removeAttr('disabled');
            }
          });

        } else {

          $('#addToLibraryNotice').modal('show');

        }
      });

      $(document).on('click', '#confirmSelectionButton', function (event) {

        var $that = $(this);
        $(document.body).css('cursor', 'wait');
        $that.attr('disabled', 'disabled');
        var $matches =  $('#confirmCheckout .add-to-basket');
        var count = $matches.length;
        $matches.each(function () {
          var $form = $(this);
          $.ajax({
            url: $form.attr('action'),
            type: "post",
            data: $form.serialize(),
            success: function (data) {
              console.log(data);
              count--;
              if (count == 0) {
                checkout();
              }
            }
          });
        });
      });

      $("#confirmCheckout").on("hidden.bs.modal", function () {
        var $btn = $('#btnCheckout');
        $(document.body).css('cursor', 'initial');
        $btn.removeAttr('disabled');
        $('.added-to-library').each(function () {
          $(this).removeClass('added-to-library');
          $(this).addClass('add-to-library');
          $(this).text('Add to Library');
          $(this).removeClass('no-border');
          $(this).removeClass('active');
        });

      });

      $(document).on('click', '.payment-method-toggle', function () {
        $('.payment-method-toggle').toggleClass('active');
      });

      /* Store functions */

      function checkout() {
        $.ajax({
          url: "/store/checkout",
          success: function (data) {
            // If there is no active card, we'll need to take the
            // user to the usual flow, except for the basket view.
            {% if not active_card %}
              window.location.href = '/store/checkout/shipping-address/';
              return;
            {% endif %}

            // User has selected not to use existing credit card.
            $paymentMethod = $('.payment-method-toggle.active').data('id');
            if ($paymentMethod == 'other') {
              window.location.href = '/store/checkout/shipping-address/';
              return;
            }

            // Continue via ajax so that everything the user sees is one popup.
            selectShippingAddress();

          }
        });

      }

      function selectShippingAddress() {
        $.ajax({
          url: "/store/checkout/shipping-address/",
          success: function (data) {
            selectShippingMethod();
          }
        });
      }

      function selectShippingMethod() {
        $.ajax({
          url: "/store/checkout/shipping-method/",
          success: function (data) {
            selectPaymentMethod();
          }
        });
      }

      function selectPaymentMethod() {
        $.ajax({
          url: "/store/checkout/payment-method/",
          success: function (data) {
            selectPaymentDetails(data);
          }
        });
      }

      function selectPaymentDetails(data)  {
        var url = data.url;
        $.ajax({
          url: url,
          success: function (data) {
            var $form = $(data).find('#payment-form');

            $.ajax({
              url: '/store/checkout/preview/',
              type: "POST",
              data: $form.serialize(),
              success: function (data) {
                placeOrder(data);
              }
            });

          }
        });
      }

      function placeOrder(data) {
        var $form = $(data).find('#place-order');
        $.ajax({
          url: $form.attr('action'),
          type: "POST",
          data: $form.serialize(),
          success: function (data) {
            window.location.reload();
          }
        });
      }

    });
  </script>

{% endblock %}

