{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block store_content %}
<div class="album big-player"> <!--flex column container for album-->
  <div class="album__header"> <!--header container flex row-->
    <div class="album__header__cover"><!--album cover container-->
      {% with cover_art=album_product.images.first %}
        {% thumbnail cover_art.original "x365" upscale=False as thumb %}
        <div class="album__header__cover__artwork"><!--cover art container-->
          <img src="{% thumbor_url cover_art.original.url|urlencode height=260 width=260 smart=True %}"
               alt="{{ product.get_title }}"
               class="album__header__cover__artwork {% if all_images.count == 1 %} one-image{% else %} more-images{% endif %}">
        </div>
        {% endthumbnail %}
      {% endwith %}
      {% if can_preview %}
        <div class="purchases-player-button myplay-btn album__header__cover__player-controls"><!--player control container-->
          <div class="fa-thin-circle fa"><i class="fas fa-play" ></i></div><!--player control-->
        </div>
      {% endif %}
      <div class="album__support-buttons__container--mobile">
        <!--<div class="sponsor-text text2">Sponsor this {{ text }} artist and project with a tax-deductable donation to the smallslive foundation</div>-->
        <div>
          <button id="projectDonationBtn" class="white-border-button buttons-row" style="width: 100%; margin-left: 0; font-size: 12px;">Sponsor this Artist</button>
        </div>
      </div>
    </div>
    <div class="album__track-list">
      {% for track in album_product.tracks.all|dictsort:"ordering" %}
        <!-- tracks table row -->
        <div class="track-container" style="position:relative">
          <div id='t{{ forloop.counter0 }}'class="my-downloads-album__tracks-table__row flex-row">
            <div class="hidden my-downloads-album__tracks-table__column audio">
              {% if track.get_track_preview_url != 'blank.mp3' %}
              <audio class="audio-player" controls data-track="{{ forloop.counter0 }}" data-length="{{track.attr.duration}}">
              {% if track.get_track_preview_url %}
                <source src="{{ track.get_track_preview_url|safe }}" type="audio/mpeg">
              {% endif %}
              </audio>
              {% endif %}
            </div>
            <div class="flex-column track-info {% if is_catalogue and track.get_track_preview_url == 'blank.mp3' and not track.pk in bought_tracks and not is_full == 'full_album' %} disabled{% endif %}" data-track="{{ forloop.counter0 }}">
              <div class="my-downloads-album__tracks-table__column track title2">
                {{ track.title }} {% if is_catalogue and track.get_track_preview_url != 'blank.mp3'  %}<span style="font-size: 10px;">(preview)</span> {% endif %}
              </div>
              <div class="my-downloads-album__tracks-table__column composer text1">
                {{ track.attr.composer }}
              </div>
            </div>
            <div class="store-buy my-downloads-album__tracks-table__column duration text1 {% if not is_catalogue %} {% if not track.pk in bought_tracks and not is_full = 'full_album' %} disabled {% endif %}{% endif %}">
              {{ track.attr.duration }}
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of tracks table row -->
    </div>
    <!-- end of tracks table -->
  </div>
  <div>
    <div class="album__info__container">
      <div class="album__header__title"><!--album title container (maybe not necessary)-->
        <div class="album__header__title--underline">{% if album_product.parent %}{{ album_product.parent.title }} - {% endif %}{{ album_product.title }} {{ album_product.upc }}</div><!--album title-->
        <div class="album__musician-list">
          <ul>
          {% for artist_product in album_product.artistproduct_set.all %}
            <li>
              <a href="{% url 'search' %}?artist_pk={{ artist_product.artist.pk }}&return_url={{ request.path }}" class="title2">
                  {{ artist_product.artist }} / {{ artist_product.instrument }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="album__support-buttons__container">
        <!--<div class="sponsor-text text2">Sponsor this {{ text }} artist and project with a tax-deductable donation to the smallslive foundation</div>-->
        <div>
          <button id="projectDonationBtn" class="white-border-button buttons-row" style="margin-left: 0;">Sponsor this Artist</button>
        </div>
      </div>
    </div>
    <div>
      <div class="description-container text4">
        {{ album_product.description|safe }}
      </div>
    </div>
  </div>

</div>


{% endblock store_content %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
      {% if is_catalogue %}
        $(document).on('click', '.track-container', function(e) {
          if($(e.currentTarget).attr('href') != 'none') {
            document.location = $(e.currentTarget).attr('href');
          }
        })
      {% endif %}

      $(document).on('click', '.download', function (event) {
        event.stopPropagation();
        var mp3Url = $(this).data('mp3-href');
        var mp3Name = $(this).data('mp3-name');
        var hdUrl = $(this).data('hd-href');
        var hdName = $(this).data('hd-name');
        $('#downloadFormatMp3Url').attr('href', mp3Url);
        $('#downloadFormatMp3Url').attr('download', mp3Name);
        $('#downloadFormatHdUrl').attr('href', hdUrl);
        $('#downloadFormatHdUrl').attr('download', hdName);
        $('#downloadFormat').modal('show');
      });

      /* Product selection and purchase */

      var $selectionConfirmationDialog = $("#catalogSelectionConfirmationDialog");

      $(document).on('click', '.select-catalog-product', function (event) {

        // Prevent submission
        event.preventDefault();

        // Show popup with selected product
        $selectionConfirmationDialog.find(".title").text($(this).text());
        $itemForm = $(this).closest("form");

        // Clone html (image and product title) to  append to modal content.
        var $item = $itemForm.find(".modal-content").clone();

        // Price and tax info
        var giftTier = $(this).attr("data-type");
        $selectionConfirmationDialog
          .find(".subtitle")
          .text("Selected Item: " + giftTier);
        var price = $(this).data('incltax');
        var cost = $(this).data("cost");
        var priceFloat = parseFloat(price);

        if (cost && cost != "None" && cost != "0.00") {
          tax_deductable = "$ " + (priceFloat - parseFloat(cost)).toFixed(2).toString();
        } else if (cost == "None" || cost == "0.00") {
          tax_deductable = "100%";
        }

        // Create text to display and append html
        var content = 'You have selected an item of price <span class="smalls-color">' +
          price +
          '</span>  of which <span class="smalls-color"> ' +
          tax_deductable +
          "</span> is tax deductable.";

        $selectionConfirmationDialog
          .find(".text")
          .html(content);

        var $giftContent = $selectionConfirmationDialog.find(".gift-content");
        $giftContent.html($item);
        $item.removeClass("hidden");

        $selectionConfirmationDialog.modal("show");

      });

      function showFlow(supporterType) {

        if (supporterType == "support") {
          $mainContainer = $("#my-downloads-product__" + supporterType);
          setSelected("catalog", "support", 0);
          showPanel("SelectType");
          $donationConfirmationDialog.modal("hide");
        } else {
          setSelected("catalog", "store", 0);
          $("#confirmButton").show();
          $selectionConfirmationDialog.modal("hide");
        }
        $("#my-downloads-product__" + supporterType).removeClass('hidden');
        $("#my-downloads-album__list").addClass('hidden');

      }

      $(document).on("click", "#confirmCatalogSelectionButton", function () {
        showFlow("store");
        $itemForm.submit();
      });

      $('#selectionConfirmationDialog').on('hidden.bs.modal', function () {
        //$("#my-downloads-product__purchase").addClass("hidden");
      });

      var $donationConfirmationDialog = $("#supportConfirmationDialog");

      $(document).on('click', '#projectDonationBtn', function (event) {

        $donationConfirmationDialog.modal("show");

      });

      $(document).on("click", "#confirmDonationButton", function () {
        // Initiate the flow if PO chooses  a pop up to start  the  flow
        showFlow("support");
      });


    });
  </script>

{% endblock %}

