{% extends "smalls_base.html" %}
{% load static %}
{% load add_get_parameter %}
{% load thumbor_tags %}

{% block title %}Archive top lists{% endblock %}

{% block content %}
   <div class="content-wrapper">
      <section class="cto cto--archive container vertical-align-parent">
          <div class="vertical-align-child">
              <h1 class="cto__title search-cto__title">Archive Top Lists</h1>
          </div>
      </section>
      <div class="container">
        <div class="equal-heights row">
          <section class="col-md-3 archive-lists__sidebar">
            <ul class="archive-lists__nav">
                <li class="archive-lists__nav__item {% if most_popular_videos %}active{% endif %}"><a href="{% url "most_popular_videos" %}">All Time Most Popular Videos</a></li>
                <li class="archive-lists__nav__item {% if most_popular_weekly_videos %}active{% endif %}"><a href="{% url "most_popular_weekly_videos" %}">Most Popular Videos This Week</a></li>
                <li class="archive-lists__nav__item {% if most_recent_videos %}active{% endif %}"><a href="{% url "most_recent_videos" %}">Recently Added Videos</a></li>
                <li class="archive-lists__nav__item {% if most_popular_audio %}active{% endif %}"><a href="{% url "most_popular_audio" %}">All Time Most Popular Audio</a></li>
                <li class="archive-lists__nav__item {% if most_popular_weekly_audio %}active{% endif %}"><a href="{% url "most_popular_weekly_audio" %}">Most Popular Audio This Week</a></li>
                <li class="archive-lists__nav__item {% if most_recent_audio %}active{% endif %}"><a href="{% url "most_recent_audio" %}">Recently Added Audio</a></li>
            </ul>
          </section>
          <section class="col-md-9 archive-list">
            <h1 class="archive-list__section-title">
                {% if most_popular_videos %}
                    Most popular videos in Archive:
                {% elif most_recent_videos %}
                    Most recent videos in Archive:
                {% elif most_popular_audio %}
                    Most popular audio recordings in Archive:
                {% elif most_recent_audio %}
                    Most recent audio recordings in Archive:
                {% endif %}
            </h1>
            <div class="archive-list__content">
                {% block list_content %}
                {% endblock list_content %}
              </div>
          </section>
        </div>
      </div>
    </div>
{% endblock content %}
