{% extends "store_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}


{% block store_content %}
  <section id="my-downloads-album__list">
    {% include 'multimedia/album-display.html' with album_product=album_product if_full=is_full bought_tracks=bought_tracks is_catalogue=is_catalogue mp3_available=mp3_available %}
  </section>
  <section id="my-downloads-product__store" class="hidden">
    {% include 'account/become-supporter.html' with supporter_flow='catalog_flow' %}
  </section>
  <section id="my-downloads-product__support" class="hidden">
    {% include 'account/product-support.html' %}
  </section>
  {% include 'account/catalog_selection_confirmation_dialog.html' %}
  {% include 'account/product_support_confirmation_dialog.html' %}
{% endblock %}


{% block extra_js %}

  {{ block.super }}
  <script>
    var el, setTime;
    el = document.querySelector(".track-container");
  </script>

  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  <script src="{% static 'js/progress-bar.js' %}"></script>
  <script src="{% static 'js/catalog/catalog.js' %}"></script>


{% endblock %}
