/*TEmplate setup - body, footer, etc */
/*Footer*/
footer {
  background: #fafafa;
  color: #333;
  padding: 1em;
  margin-top:2em;
  border-top:1px solid #ccc;
}
/*=Public screens*/
#agreement-musicians-legal {
  font-style: "Courier", monospace;
}
.terms {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}
table.videos-to-clear .form-group .checkbox:not(:first-child) {
  margin-left: 20px;
}
/*=Admin screens*/
input.form-control.text-muted[type=text] {
  color: #999;
}
/*=Gigs*/ 
div.datepicker {
  margin-left:40px;/*This is mainly for the f-gig form to make sure time slots arent hidden by picker*/  
}
.sortable-list > div {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 20px;
}
.sortable-list .glyphicon-move {
  position: relative;
  top:34px;
  cursor: pointer;
}
.slots input[type=text] {
  width: auto;
}
.add_set_times {;
  margin-left: 32px;
  margin-bottom: 2em;
}
.lookup-item {
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
/*=Development*/
/*=Trash this after design done */
.dev ul {
  margin: 0;
  padding: 0;
}
.dev li {
  list-style: none;
  padding: 0;
  margin: 0 0 .5em 0; 
}
.dev * {
  font-size: 12px;
}
.dev {
  font-family:"Courier", monospace;
  margin-top:2em;
  background: #f3f3f3;
  padding: 1em;
  border:1px solid #aaa;
}
code {
  color: #fafafa;
  background: #c00;
  font-size: 12px;
}