/*TEmplate setup - body, footer, etc */
/*Masthead*/
.longname,
body nav .longname  {
  display: none;
}
.navbar-brand img { 
    width: 44px;
    position: relative; 
    top: -.6em;
    padding: 2px;
    background: #fff;
    z-index: 50;
}
@media all and 
 (min-width : 800px) {
  ul.nav span.longname {
    display: inline;
  } 
  ul.nav a.longname {
    display: block;
  }
}
@media all and 
 (min-width : 950px) {
  .navbar-brand img { 
    top:-.5em;
    width: 80px;
    padding: 8px;
  }
}
form.search input:first-child {
  width: 95px;
}
/*Footer*/
footer {
  background: #fafafa;
  color: #333;
  padding: 1em;
  margin-top:2em;
  border-top:1px solid #ccc;
}
/*=Public screens*/
.num,
.earnings-summary table tr td:not(:first-child):not(.txt) {
  text-align: right;
} 
#agreement-musicians-legal {
  font-style: "Courier", monospace;
}
.terms {
  max-height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}
table.videos-to-clear .form-group .checkbox:not(:first-child) {
  margin-left: 20px;
}
/*=Admin screens*/
input.form-control.text-muted[type=text] {
  color: #999;
}
/*=Gigs*/ 
div.trigger_add_set_times {
  margin-top:20px;
}
div.datepicker {
  margin-left:40px;/*This is mainly for the f-gig form to make sure time slots arent hidden by picker*/  
} 
.sortable-list .glyphicon-move {
  position: relative;
  top:34px;
  cursor: pointer;
}
.slots input[type=text] {
  width: auto;
}
.add_set_times {;
  margin-left: 32px;
  margin-bottom: 2em;
}
.lookup-item {
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
/*=Development*/
/*=Trash this after design done */
.dev ul {
  margin: 0;
  padding: 0;
}
.dev li {
  list-style: none;
  padding: 0;
  margin: 0 0 .5em 0; 
}
.dev * {
  font-size: 12px;
}
.dev {
  font-family:"Courier", monospace;
  margin-top:2em;
  background: #f3f3f3;
  padding: 1em;
  border:1px solid #aaa;
}
code {
  color: #fafafa;
  background: #c00;
  font-size: 12px;
}