/*=Admin*/
/*=Gigs*/
.selectize-mega-option h1 {
  font-size: 1em;
}
.slots input[type=text] {
  width: auto;
}
.add_set_times {
  padding: 1em;
  border: 1px dotted #ccc;
  margin-left: 1em;
  margin-bottom: 1em;
  
}
.lookup-item {
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}
/*Footer*/
footer {
  background: #fafafa;
  color: #333;
  padding: 1em;
  margin-top:2em;
  border-top:1px solid #ccc;
}
/*=Development*/
.container .dev ul {
  margin: 0;
  padding: 0;
}
.container .dev li {
  list-style: none;
  padding: 0;
  margin: 0 0 .5em 0; 
}
.container .dev * {
  font-size: 12px;
}
.container .dev {
  font-family:"Courier", monospace;
  margin-top:2em;
  background: #f3f3f3;
  padding: 1em;
  border:1px solid #aaa;
}
.container code {
  color: #fafafa;
  background: #c00;
  font-size: 12px;
}