.account-settings-container {
    padding: 0 10%;
    margin-bottom: 40px;

    .account-form {
        padding: 0 10%;
    }

    .settings-left {
        width: 560px;
        padding-right:20px;
    }

    .settings-right {
        width: 560px;
        padding-left: 20px;
    }

    .zip-country {
        width: 48%;
    }

    .select-selected,
    .select-items {
        background-color: white;
        justify-content: left;
    }

    .select-items div:hover, .same-as-selected {
        background-color: rgba(240, 240, 235, 0.5);
    }

    .white-border-select {
        padding-bottom: 16px;
        text-transform: none;
    }

    @media (max-width: $screen-sm-max) {
        .settings-left {
            padding-right:0;
        }
    
        .settings-right {
            padding-left: 0;
        }
    }

    .input-label-checkbox {
        margin-left: 5px;
    }

    .white-border-button {
        margin-top: 20px;
    }

    .white-line {
        border-bottom: 3px solid white;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
.account-settings-container-new {
    padding: 0 0 0 10%;
    margin-bottom: 40px;
    @media(max-width: $screen-sm-max) {
      margin-top: 10px;
    }
    .text-bottom-line{
        background: linear-gradient(to right, $white-transparent, $white-transparent) no-repeat bottom left;
        background-size: 100% 2px;
    }
    .account-settings-info-container{
        height: 100vh;
        overflow-y: auto;
        width: 100%;
        display: flex;
        >.flex-column{
            height: 230vh;
        }
    }
    .account-settings-menu{
        margin-right: 90px;
        >.text1{
        padding: 10px;
        margin-right: 10px;
        &:hover{
            background-color: $white-transparent;
        }
        &.white-background{
            background-color: $white-transparent;
        }
        }

        @media(max-width: $screen-sm-max) {
          display: none;
        }
    }
    .form-control{
        &:first-child{
            margin-top:15px;
        }
        color:grey;
    }
 
    .account-settings-view{
        margin-bottom: 30px;
        >*:not(.title5){
            margin-left: 5px;
        }
        .title5{
            line-height: 20px;
        }
        .account-settings-info, button{
            margin-top: 10px;
        }
        .account-settings-info .supporter-options .white-border-button{
            width: 50%;
            padding: 0;
            font-size: 10px;
        }
    }
}