.artist-profile-container {
  padding: 0 10%;
  margin-bottom: 40px;

  .labeled-select {
    display: flex;

    button {
      border-right: none;
    }

    .select-selected {
      border-left: none;
    }

    .select-items {
      margin-top: 5px;
    }

  }

  .artist-form {
    padding: 0 10%;

    margin-bottom: 40px;

    .profile-first-name {
      margin-right: 20px;
    }
    .custom-form {
      input[type='file'] {
        width: auto;
      }
    }

  }

  .artist-event-row {
    position: relative;
    padding-top: 10px;
    border-top: 3px solid $white-transparent;

    .artist-event-card {
      margin-right: 40px;

    }

    .artist-event-info {
      margin: 25px 0;
    }

    .artist-event-set {
      margin: 25px 0;

      .artsist-set-info {
        border-top: $underline-height solid $white-transparent;
        padding-top: 15px;
        margin-bottom: 40px;
      }
    }
  }

}

.artist-profile-picture {
  .allow-fullsize {
    display: none;
  }
}


.hide-original {
  img  {
    display: none;
  }
}

.artist-event {
  flex: 1
}

.artist-archive-filter {
  margin-bottom: 40px;

  .white-border-select {
      margin-right: 20px;
  }
}

.aritst-event-edit {
  .controls {
    font-size: 12px;
    input {
      @include bordered-input;
    }
  }

  .admin-interface__form {
    .table {
      thead {
        background-color: transparent;
        border: none;
        tr {
          border: none;
          th {
            @include title2;
            color: $text-grey;
            border: none;
          }
        }
      }

      tbody {
        tr {
          td {
            border: none;
          }
          border: none;
        }
      }


      .selectize-input {
        @include bordered-input;
        background-color: $white-transparent;
      }

      .selectize-dropdown {
        @include text4;
      }
    }
  }
}

.artist-event-actions {
  margin-left: 40px;

  .button-row {
    button {
      font-size: 0.8em;
    }
  }
}

.artist-publish-info {
  min-width: 275px;
}

.publish-button {
  width: 150px;
}

.artist-payout-data {
  margin: 25px 0;

  .title2 {
    margin-top: 20px;
  }
}
