.artist-profile-container {
  margin-bottom: 40px;

  @media (min-width: $screen-md-min) {
    padding: 0 10%;
  }

  @media (max-width: $screen-sm-max) {
    padding: 20px;
  }

  .labeled-select {
    display: flex;

    button {
      border-right: none;
    }

    .select-items {
      margin-top: 5px;
    }

  }

  .artist-form {
    padding: 0 10%;

    margin-bottom: 40px;

    .profile-first-name {
      margin-right: 20px;
    }
    .custom-form {
      input[type='file'] {
        width: auto;
      }
    }

  }

  .artist-event-row {
    position: relative;
    padding-top: 10px;
    border-top: 3px solid $white-transparent;

    .artist-event-card {
      margin-right: 40px;

    }

    .artist-event-info {
      margin: 25px 0;

      @media (max-width: $screen-sm-max) {
        .button-row {
          margin-top: 20px;
        }
      }
    }

    .artist-event-set {
      margin: 25px 0;

      .artsist-set-info {
        padding-top: 15px;
        @media (min-width: $screen-md-min) {
          border-top: $underline-height solid $white-transparent;
          margin-bottom: 40px;
        }

      }
    }
  }

}

.artist-profile-picture {
  .allow-fullsize {
    display: none;
  }
}


.hide-original {
  img  {
    display: none;
  }
}

.artist-event {
  flex: 1
}

.artist-archive-filter {
  margin-bottom: 40px;

  .white-border-select{
    width: 8vw; 
    float:none;
    margin-right: 30px;
  }
  
}

.aritst-event-edit {
  .controls {
    font-size: 12px;
    input {
      @include bordered-input;
    }
  }

  .admin-interface__form {
    .table {
      thead {
        background-color: transparent;
        border: none;
        tr {
          border: none;
          th {
            @include title2;
            color: $text-grey;
            border: none;
          }
        }
      }

      tbody {
        tr {
          td {
            border: none;
          }
          border: none;
        }
      }


      .selectize-input {
        @include bordered-input;
        background-color: $white-transparent;
      }

      .selectize-dropdown {
        @include text4;
      }
    }
  }
}

.artist-event-actions {
  @media (min-width: $screen-md-min) {
    margin-left: 40px;
  }

  .button-row {
    button {
      font-size: 0.8em;
      @media (max-width: $screen-sm-max) {
        height: 30px;
        font-size: 0.6em;
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}

.artist-publish-info {
  min-width: 275px;
}

.artist-payout-data {
  margin: 25px 0 45px;

  .title2 {
    margin-top: 20px;
  }
}

.white-border-select {
  &.engagement-event-select {

    .select-items > div, .select-selected {
      padding: 10px;
      height: auto;
    }

    .select-items {
      & > div {
        & > span:first-child {
          border-top: 2px solid $white-transparent;
          padding-top: 10px;
        }
      }
    }

    .select-items {
      max-height: 400px;
      overflow: scroll;
    }
  }
}

.graph-container {
  @media (min-width: $screen-md-min) {
    padding: 50px;
  }

  .graph-canvas {
    border: 4px solid $white-transparent;
    border-radius: 10px
  }
}

.artist-event-set-info {
  @media (max-width: $screen-sm-max) {
    margin-left: 10px;
  }
}
