.supporter-main-container {
  width: 100%;
  padding: 20px;
  align-items: center;

  .confirm-button {
    margin-top: 70px;
  }

  .supporter-card-data {
    width: 100%;
    input {
      @include bordered-input;
      margin: 3px;
    }

    .flex-row {
      width: 100%;
    }
  }

  .processing-message {
    margin-top: 40px;
  }
}


.supporter-text {
  padding: 40px 200px;

  h1 {
    margin-bottom: 60px;
  }

  @media(max-width:$screen-xs-max) {
    padding: 0;
    h1 {
      margin-bottom: 150px;
    }
  }

  p {
    line-height: 1.1em;
    margin-bottom: 80px;
  }

  .big-letter {
    position: relative;
    left: 5px;
    font-size: 3em;
    transform: none;
  }
}
