.event-page-container {
  @media(min-width: $screen-md-max) {
    margin: 0 200px;
  }

  .white-border-button {
    margin-bottom: 20px;
  }

  .event-side {
    @media(min-width: $screen-md-max) {
      padding-left: 30px;
    }
  }

  //FIXME
  .text2 {
    line-height: 1em;
  }
}

.event-video-info {
  @media(max-width: $screen-md-max) {
    .event-title {
      line-height: 1em;
      margin-bottom: 20px;
    }
  }

  .event-band {
    @include links1;
  }

}

.event-band {
  margin: 2em 0;
}

#videoContainer, #audioContainer {
  margin-bottom: 30px;
  @media(min-width: $screen-md-min) {
    min-width: 800px;
  }
}

.player-container {
  color: $white-transparent;

  position: relative;
  overflow: hidden;

  .player-info {
    @include animated;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
  }

  .jwplayer {
    .jw-preview {
      background-size: cover;
      @include cross-browser-grayscale;
    }
  }
}

.event-related-videos {
  .section-title {
    width: 100%;
  }

  .related-video {
    margin-bottom: 1em;

    .related-info {
      width: $event-card-width / 1.5;
      background-color: $white-transparent;
      padding: 1em;

      //TODO Show ellipsis
      .related-title {
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

.artist-link {
  @include text4;
  color: $text-grey;

  &:hover {
    color: black;
  }
}

.event-video-banner {
  position: relative;
  width: 700px;
  height: 420px;

  padding: 60px 100px;
  margin-bottom: 30px;

  .event-banner-background {
    @include background-image-with-overlay(rgba(255, 255, 255, 0.8));
    background: url("/static/image/banners/live.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .white-border-button {
    background-color: transparent;
  }
}
