.event-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .white-border-button {
    margin-bottom: 20px;
  }

  @media(min-width: $screen-md-min) {
    .event-side {
      padding-left: 30px;
    }
  }

  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    align-items: center;

    .event-side {
      margin-top: 40px;
      padding: 0 20px;
      width: 100%;
    }
  }
}

.event-video-info {
  .event-title {
    margin-bottom: 20px;
  }

  @media(max-width: $screen-sm-max) {
    padding: 0 20px;
    width: 100%;
  }
}

.event-band {
  margin: 2em 0;

  & > div {
    margin-right: 30px;
  }
}

#videoContainer, #audioContainer {
  //@media(min-width: $screen-md-min) {
  //  min-width: 800px;
  //}
}

.player-container {
  color: $white-transparent;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;


  .jwplayer {
    .jw-preview {
      background-size: cover;
      filter: $sepia-filter
    }
  }
}

.event-video-placeholder {
  flex: 1;
  .player-info {
    color: $white-transparent;
  }
}

.overlay-info,
.player-info {
  @include animated;
  //position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
}

.player-info {
  height: 40%;
  position: absolute;
}

.overlay-info {
  //height: 100%;
  //width: 100%;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px 100px;
}

.event-related-videos {
  margin-bottom: 40px;
  .section-title {
    width: 100%;
    padding-left: 0;
  }

  .related-video {
    margin-bottom: 1em;

    .related-info {
      width: $event-card-width / 1.5;
      background-color: $white-transparent;
      padding: 1em;

      //TODO Show ellipsis
      .related-title {
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

.artist-link {
  @include text4;
  color: $text-grey;

  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.event-video-placeholder {
  .event-video-placeholder-picture {
    filter: $sepia-filter;
    height: 100%;
    width: 100%;
  }
}

.event-container {
  @media (min-width: $screen-md-min) {
    max-width: 850px;
  }
}

.event-video-banner, .event-video-placeholder {
  position: relative;
  max-height: 450px;
  margin-bottom: 30px;

  .event-banner-background {
    &:not(.dark) {
      @include background-image-with-overlay(rgba(255, 255, 255, 0.8));
    }

    &.dark {
      @include background-image-with-overlay(rgba(0, 0, 0, 0.8));
    }

    //background: url("/static/image/banners/live.jpg");
    //background-size: cover;
    width: 100%;
    height: 100%;
  }

  .white-border-button {
    background-color: transparent;
    padding: 0 40px;
  }
}

.event-video-banner {
  padding: 60px 100px;
}

.set-buttons {
  button {
    margin-right: 30px;
    width: 200px;
  }
}

.jw-display .jw-reset .jw-display-icon-container.jw-display-icon-display.jw-reset > div {
  border-radius: 44px;
  border: 1px solid $accent-color;

  .jw-svg-icon {
    height: 44px;
    width: 44px;
    color: $accent-color;
  }
}

.comments-container {
  textarea {
    resize: none;
    margin: 10px 0;
    height: 80px;
    border-radius: 0;
  }
}
@media(max-width: $screen-md-min) {
  .comments-container {
    padding: 20px;
  }
}

.comment {
  margin-bottom: 10px;
  border-bottom: 1px solid $white-transparent;
  .comment-head {
    i {
      color: $background-color;
      font-size: 1.5em;
      text-shadow: 0 0 1px black;
    }
    .comment-head-user {
      margin-left: 5px;
      text-transform: capitalize;
    }
  }
  .comment-body {
    padding: 10px 25px;
  }
}
