.event-page-container {
  @media(min-width: $screen-md-max) {
    margin: 0 200px;
  }

  .white-border-button {
    margin-bottom: 20px;
  }

  .event-side {
    @media(min-width: $screen-md-max) {
      padding-left: 30px;
    }
  }

  //FIXME
  .text2 {
    line-height: 1em;
  }
}

.event-video-info {
  @media(max-width: $screen-md-max) {
    .event-title {
      line-height: 1em;
      margin-bottom: 20px;
    }
  }

  .event-band {
    @include links1;
  }

}

.event-band {
  margin: 2em 0;
}

#videoContainer, #audioContainer {
  @media(min-width: $screen-md-min) {
    min-width: 800px;
  }
}

.player-container {
  color: $white-transparent;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;


  .jwplayer {
    .jw-preview {
      background-size: cover;
      filter: $sepia-filter
    }
  }
}

.player-info {
  @include animated;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 30px;
  height: 40%;

  @at-root .event-video-placeholder {
    color: $white-transparent;
  }
}

.event-related-videos {
  .section-title {
    width: 100%;
  }

  .related-video {
    margin-bottom: 1em;

    .related-info {
      width: $event-card-width / 1.5;
      background-color: $white-transparent;
      padding: 1em;

      //TODO Show ellipsis
      .related-title {
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

.artist-link {
  @include text4;
  color: $text-grey;

  &:hover {
    color: black;
  }
}

.event-video-placeholder {
  .event-video-placeholder-picture {
    filter: $sepia-filter;
  }
}

.event-video-banner, .event-video-placeholder {
  position: relative;
  width: 850px;
  height: 500px;

  margin-bottom: 30px;

  .event-banner-background {
    &:not(.dark) {
      @include background-image-with-overlay(rgba(255, 255, 255, 0.8));
    }

    &.dark {
      @include background-image-with-overlay(rgba(0, 0, 0, 0.8));
    }

    background: url("/static/image/banners/live.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .white-border-button {
    background-color: transparent;
  }
}

.event-video-banner {
  padding: 60px 100px;
}

.set-buttons {
  button {
    margin-right: 30px;
    width: 200px;
  }
}
