body {
  // TODO Remove
  &.home {
    font-size: 10px;
    background: $background-color;
  }
}

.main-container {
  margin: auto;
  max-width: 1680px;
  display: flex;
  flex-direction: column;
}

.section-title {
  position: relative;
  $underline-length: 750px;
  @media(min-width: $screen-sm-max) {
    width: $underline-length;
  }

  width: 100%;
  line-height: 1.1;
  margin-bottom: 20px;
  padding-left: 20px;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, $white-transparent, $white-transparent) no-repeat bottom left;
  background-size: $underline-length 4px;

  .date-separator {
    color: $accent-color;
  }
}

.event-stripe {
  position: relative;
  margin-top: 40px;

  .select-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.floating-dialog-background {
  position: fixed;
  height: calc(100vh);
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($background-color, 0.6);
  z-index: 1;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .floating-dialog {
    padding: 40px 60px;
    max-width: 550px;
    background-color: $background-color;
    border: 5px solid $white-transparent;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      margin-bottom: 20px;
    }
  }
}

