body {
  // TODO Remove
  &.home {
    font-size: 10px;
    background: $background-color;

    @media (max-width: $screen-sm-max) {
      width: calc(100vw);
      overflow-x: hidden;
    }
  }
}

@mixin variable-admin-padding($extra) {
  @media (max-width: $screen-sm-max) {
    padding-top: ($mobile-bar-height) + $extra;
    &.admin-shown {
      padding-top: ($mobile-bar-height * 2) + $extra;
    }
  }
}

.main-container {
  @include animated();
  @include variable-admin-padding(20px);
  &.mobile-search-header-shown {
    @include variable-admin-padding(20px + $mobile-bar-height);
  }

  display: flex;
  flex-direction: column;
}

.event-container {
  margin-top: 3vh;
}

.event-stripe {

  margin-bottom: 30px;
  margin-top: 35px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 20px;
  }

  .select-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }

}

.sign-in-button,
.user-menu {
  margin-left: 20px;
}

.home-filter {
  &.white-border-select {
    width: 150px;

    @media (max-width: $screen-sm-max) {
      width: 100px;
      font-size: 0.9em;
    }
  }
}
