.caret {
  cursor: pointer;
  position: relative;
  &:after{
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    right: 16px;
    top: 16px;
    transition: all 0.3s linear;
    cursor: pointer;
    pointer-events: inherit;
    z-index: -1;
  }
}

.hover-fade:hover {
  background-color: $white-transparent;
}

.artists-container {
  @media (min-width: $screen-md-min) {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0 40px;
  }

  .artist-column {
    margin: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 300px;

    .artist-row {
      display: block;
      margin-bottom: 6px;
      font-size: 0.68vw;
      line-height: 22px;
      @media (max-width: $screen-md-min) {
        font-size: 1em;
      }
    }

    a {
      color: $black;
      &:hover {
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
}

.no-result-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.tabs {
  display: none;
  background-color: $background-grey;

  @media (max-width: $screen-sm-max) {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: stretch;
    z-index: 1000;

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background-grey;

      &.active {
        border-bottom: 2px solid $accent-color;
        color: $accent-color;
      }

      span {
        margin: 10px 0;
        @media (max-width: $screen-sm) {
          margin: 10px 0;
          font-size: 1em;
          padding: 10px;
        }
      }
    }
  }
}

.search-tabs {
  display: none;
  @media (max-width: $screen-sm-max) {
    display: flex;
  }
}

.search-container {

  .container-list-article {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //Mobile
  @media (max-width: $screen-sm-max) {

    .search-tab-content {
      &:not(.active) {
        display: none;
      }
      display: flex;
      flex-direction: column;
    }

    .container-list-article {
      margin-top: 20px;
      .left_arrow, .right_arrow {
        display: none;
      }
    }

    .section-title {
      display: none;
    }


    .artists-container {
      padding: 0 20px;

      .artist-column {
        margin: 0;
        color: $text-grey;

        a {
          color: $text-grey;
        }
      }
    }
  }
}

.instruments-container {
  flex-wrap: wrap;
  background-color: #f0f0eb;
  border: solid white;
  border-radius: 10px;
  display: none;
  position: absolute;
  margin: 0 340px;
  top: 50px;
  padding: 10px 20px;

  @media (min-width: $screen-md-min) {
    width: 50%;
    left: 50px;
    padding: 50px 100px;
    .instrument {
      width: 80px;
    }
  }

  z-index: 100;

  .instrument {
    width: 130px;
    margin: 5px;

    @media (max-width: $screen-sm-max) {
      font-size: 2em;
      margin: 0 15px;
    }

    &:hover {
      text-decoration: underline;
      color: $accent-color;
      cursor: pointer;
    }
  }
}


.shows-filter-container {
  margin: 0 auto;
  position: relative;
  > * {
    display: inline-block;
  }
  @media (min-width: $screen-md-min) {
    .white-border-select, .custom-date-picker {
      width: 120px;
    }

    > .white-border-button {
      margin-right: 20px;
    }

    > .white-border-select,
    > .white-border-button {
      width: 200px;
    }
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.artist-arrow-search {
  background-image: url(/static/image/arrow-right-black.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 62px;
  height: 69px;
  margin: 0 40px;
  width: 35px;

  &.artist-arrow-disabled {
    color: $text-grey;
    cursor: not-allowed;
  }

  &.left_arrow {
    transform: scaleX(-1);
  }
}

.events-results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  .event-row {
    flex-wrap: wrap;
  }

  @media (max-width: $screen-sm-max) {
    @include column_events;
    padding-left: 0;
    padding-right: 0;

    .event-row {
      flex-wrap: wrap;
      padding: 0 0 0 20px;
    }
  }
}

.loading-image {
  margin-left: auto;
  margin-right: auto;
  display: none;
  height: 200px;

  align-items: center;

  img {
    width: 50px;
    height: 50px;
  }
}

.subheader-results {
  vertical-align: bottom;
}

.results-text {
  letter-spacing: 0;
  font-weight: 900;
  font-size: 1.2em;
}

.concerts-footer {
  margin-top: 50px;
  margin-bottom: 100px;
}

.load-more-btn {
  @include title1;
  font-size: 2.5em;
  width: auto;
  height: auto;
  padding: 10px 30px;
}

.page-numbers-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.page-numbers-list-item {
  display: inline;
  font-weight: bold;
  color: #a6a6a6;
  margin-right: 5px;
  margin-left: 5px;
}

.active-page {
  font-weight: 900;
  color: black;
}

.change-page:hover {
  cursor: pointer;
  font-weight: 900;
  color: black;
}

.change-page > li:hover {
  font-weight: 900;
  color: black;
}

.event-section {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.search-artist-box-container {
  position: relative;
  width: 700px;
  margin: 10px auto;

  img {
    width: 21px;
    position: absolute;
    left: 110px;
    top: 12px;
  }
}

.search-artist-box {
  @include bordered-input;
  width: 350px;
  margin-right: 0;
  margin-left: 100px;
  border-radius: 10px;
  padding-left: 40px;
  text-transform: uppercase;
}

.instrument-btn {
  display: inline-block;
  width: 170px;
  padding-top: 10px;
  margin-left: 20px;
  align-self: center;
  text-align: center;

  @media (max-width: $screen-sm-max) {
    @include caret;
  }
}

.event-sub-w {
  width: 590px;
}

.event-stripe .date-picker-text::placeholder {
  color: black;
  opacity: 1;
  text-align: center;
}

.event-stripe {
  margin-bottom: 10px;
}

.search-bar-autocomplete-container {
  position: absolute;
  background-color: #f0f0eb;
  border-color: white;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  width: 398px;
  z-index: 9999;
  top: 92px;
  left: 138px;
  display: none;
  padding: 10px;

  .search-bar-artist {
    display: inline-block;
    padding-bottom: 6px;
  }

  .search-bar-event {
    display: inline-block;
    padding: 6px 0;
  }

  @media (max-width: $screen-sm-max) {
    left: 0;
    top: 120px;
    border-radius: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 9px 9px 0 rgba(145,140,145,1);
    overflow: scroll;
    max-height: 450px;
  }
}

.search-bar-text {
  font-size: 1.2em;
  line-height: 2em;
}

.search-bar-result-text:hover {
  font-weight: 900;
  color: black;
  text-decoration: underline;
}

.search-bar-more {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar-more:hover {
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}

.events-gif {
  margin-top: 30px;
}

.artist-loading-gif {
  background: url(/static/image/loading.gif) 50% 50%;
  background-repeat: no-repeat;
  background-size: 50px;
}
.artist-search-profile-container {
  display: none;

  .content-centered {
    flex-direction: row;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }

  width: 100%;
  position: relative;

  .close-button {
    top: 0;
  }
}

.mobile-padding {

  @media (max-width: $screen-sm-max) {
    padding: 0 20px;
    width: 100%;
  }
}

.artist-search-profile-resume {
  width: 500px;
  flex-direction: row;
  position: relative;

  @media (max-width: $screen-sm-max) {
    font-size: 1.2em;
    width: auto;
    flex-direction: column-reverse;

    > .visible-xs > div {
        margin: 10px 0;
    }

    .artist-search-profile-image {
      width: 100%;
      height: auto;
      margin: 20px 0 0 0;

      img {
        height: 180px;
        object-fit: cover;
        object-position: top;
        width: 100%;
      }
    }

    .white-line-bottom {
      margin: 0;
    }

    .white-line-right {
      padding: 0;
    }
  }

  p {
    margin: 0;
  }
}

.artist-search-profile-bio-container {
  width: 800px;
}

.artist-search-profile-bio {
  width: 500px;
  overflow: hidden;
  height: auto;
  line-height: 20px;
  margin-top: 40px;
  &.collapsed {
    max-height: 7.2em;
  }
  @media (max-width: $screen-sm-max) {
    width: 100%;
    height: auto;
    &.collapsed {
      max-height: 120px;
    }
  }
}

.artist-search-profile-bio-buttons {
  width: 300px;
  margin-left: 80px;

  button {
    margin: 10px 0;
  }
}

.artist-search-profile-image {
  width: 150px;
  height: 150px;
  border: 4px solid $border-color;
  @include cross-browser-grayscale;

  img {
    width: 100%
  }

  span.title1 {
    position: relative;
    top: 50%;
  }

  @media (max-width: $screen-sm-max) {
    border: none;
    height: 250px;
    span.title1 {
      position: absolute;
      top: calc(50% - 11px);
      right: calc(50% - 20px);
    }
  }
}

.white-line-bottom {
  margin: 20px 0;
  border-bottom: 2px solid white;

  &.thin {
    border-bottom-width: 1px;
  }

  &.thick {
    border-bottom-width: 4px;
  }

  &.thicker {
    border-bottom-width: 5px;
  }
}

.white-line-right {
  padding: 0 30px;
  border-right: 2px solid white;
}

.read-more {
  float: right;
  text-transform: uppercase;
}

.read-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.musicians-results {
  width: 100%;
}

.musicians-results-title {
  width: 120px;
  margin: 4px auto;
}

.shows-results-title {
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

.showing-results {
  position: absolute;
  right: 0;
  color: $accent-color;
  margin-right: 50px;
  margin-top: 21px;
}

.shows-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-left: $content-left-padding;
}

.shows-item {
  margin: 3px;
  flex: 0 1 calc(100% * (1/8) - 6px);

  @media (max-width: $screen-md-max) {
    margin: 3px;
    flex: 0 1 calc(100% * (1/6) - 6px);
  }
}

.back-search-button {
  cursor: pointer;
  width: 160px;
  margin-left: 100px;
  display: none;
}

.shows-item {
  .event-card {
    min-height: 0;
    .event-picture-container, .event-picture-container-dashboard{
      .event-picture {
        height: auto;
        width: auto;
      }
    }
  }
  .event-info {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.datepicker-btn {
  display: inline-block;
  width: 290px !important;
  padding-top: 10px;
  margin-left: 20px;
  align-self: center;
  text-align: center;
}

.datepicker-container {
  background-color: #f0f0eb;
  border: solid white;
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 44px;
  padding: 0;
  z-index: 100;
  height: 375px;
  align-items: flex-start;

  .datepicker {
    left: 28px !important;
    border: none !important;
  }

  .custom-date-picker {

    .dropdown-menu {
      min-width: 256px!important; // inline by bootstrap js.
      top: 55px!important;
      padding: 0;
    }

    input {
      color: $accent-color;
      text-align: center;

      &:focus {
        background-color: $white-transparent;
        border-radius: 5px;
        border: 0 transparent;
        box-shadow: 0 0 1px inset $accent-color;
      }

      &::-webkit-input-placeholder {
         color: $gray-light;
        letter-spacing: .05em;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $gray-light;
        letter-spacing: .05em;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: $gray-light;
        letter-spacing: .05em;
      }

      &:-ms-input-placeholder {
        color: $gray-light;
        letter-spacing: .05em;
      }

    }

    &:first-child > input {
      border-top: none;
      border-left: none;
      border-right: none;
    }

    &:nth-child(2) > input {
      border-top: none;
      border-right: none;
    }
  }

  .datepicker-reset {
    bottom: 10px;
    position: absolute;
    left: calc(50% - 20px);
    text-decoration: underline;
    cursor: pointer;
  }

  .white-border-button {
    cursor: pointer;
    border-top: none;
    border-right: none;
  }

  #search-date-picker-from::before {
    content: 'From';
  }

  #search-date-picker-to::before {
    content: 'To';
    left: 42%; // This is a hack because parent cannot be position: relative.
  }

  .custom-date-picker::before {
    @include text2;
    z-index: 99;
    font-size: 1em;
    position: absolute;
    text-transform: uppercase;
    top: 2px;
    left: 4px;
  }
}

.accent-color {
  color: $accent-color;
}

.musician-title {
  @include title3;
  font-size: 3em;
  line-height: 1em;
  padding-bottom: 3px;
  @media (max-width: $screen-sm-max) {
    @include title1;
  }
}

.musician-instrument {
  @include title1;
  @media (max-width: $screen-md-max) {
    transform: none;
    @include text1;
    margin-top: 5px;
  }
  font-size: 2em;
}

.show-in-archive {
  align-self: flex-end;
  margin-bottom: -5px;
  margin-left: 10px;
}
