{% extends "home_new.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}
  {% trans "Checkout gateway" %} | {{ block.super }}
{% endblock %}

{% load widget_tweaks %}

{% block content %}
  <div class="main-container">
    <div class="flex-column supporter-main-container">
      <div class="supporter-image">
        <div style="background-image:url( {% static 'image/supporter-background.jpg' %} ); background-size: cover; position: absolute; width: 100%; height: 100%; z-index: -1; left:0;">

        </div>
      </div>

      <p class="text2 accent-color">{% trans "Ticket Checkout as Guest" %}</p>

      <form method="post" class="form-stacked well checkout-gateway guest-checkout">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% include "oscar/partials/form_field.html" with field=form.username %}

        <div class="form-group">
          <div class="row">
              <div class="col-sm-3">
                  <button type="submit" class="btn btn-lg btn-block continue-btn" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
              </div>
          </div>
        </div>

        <div class="form-group invisible">
          <div class="controls">
            <div class="radio form-element-wraper">
              {{ form.options.0.tag }}
              <label class="form-check-label" for="id_options_0"> {{ form.options.0.choice_label }}</label>
            </div>
          </div>
        </div>

        <div class="form-group {% if form.password.errors %}error{% endif %} invisible">
            {{ form.options.errors }}
            <div class="controls">
                <div class="radio">
                    <div class="form-element-wraper">
                      {{ form.options.2.tag }}
                      <label class="form-check-label" for="id_options_2"> {{ form.options.2.choice_label }}</label>
                    </div>
                    <div class="form-inline">
                        {% render_field form.password class+="form-control" %}
                        <small class="password-remainder"><a href="{% url 'account_reset_password' %}" tabindex="-1">{% trans "Get a password reminder" %}</a></small>
                        {% for error in form.password.errors %}
                            <span class="error-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group invisible">
            <div class="controls">
                <div class="radio form-element-wraper">
                  {{ form.options.1.tag }}
                  <label class="form-check-label" for="id_options_1"> {{ form.options.1.choice_label }}</label>
                </div>
            </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
  <script>
    $(document).ready(function(){
      if($('.guest-checkout').length){
        $(".form-group>.control-label").remove();
        $('<label for="id_username" class="control-label email">Please enter your email and continue</label>').insertBefore('#id_username');
      }
    });
  </script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
    oscar.checkout.gateway.init();
{% endblock %}
