{% extends "store_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}Payment details{% endblock %}

{% block content %}
    {% include 'inactive_dialog.html' %}

    <div class="payment-main-container payment-main-container--add-padding">
        <form id="payment-form" method="post" action="{% url 'checkout:preview' %}">
          <input type="text" id="hiddenTypeInput" name="type" hidden>
          <input type="number" id="hiddenAmountInput" name="amount" hidden>
          {% if error %}
            <section class="store-error container">
              <span class="store-error__message">{{ error|safe }}</span>
            </section>
          {% endif %}
          <section class="container">
            <div class="section-title section-title__first section-title-no-padded">
              <div tabindex="0" class="title1 center">Party Name</div>
            </div>
            <div class="flex-row col-xs-12 col-md-4 col-md-offset-4">
              <input style="margin-right: 15px;" type="text" class="store__form__input"
              required placeholder="First name" size="20"
              autocomplete="off"
              name="guest_first_name" value="{% if user.first_name %} {{ user.first_name }} {% elif guest.first_name %} {{ guest.first_name }} {% endif %}"
              placeholder="Credit Card Number">
              <input type="text" class="store__form__input"
              required placeholder="Last name" size="20"
              autocomplete="off"
              name="guest_last_name" value="{% if user.last_name %} {{ user.last_name }} {% elif guest.last_name %} {{ guest.last_name }} {% endif %}"
              placeholder="Credit Card Number">
            </div>
            <div class="section-title section-title-no-padded">
              <div tabindex="0" class="title1 center">Payment information</div>
            </div>
            {% include 'subscriptions/billing_address_details.html' %}
            {% include 'subscriptions/credit_card_payment_details.html' with can_use_existing_cc=can_use_existing_cc %}
          </section>
            <div class="button-row button-row-margin-all confirm-button btn-for-card">
              <button class="button-bordered card-payment-submit" type="submit">Continue</button>
            </div>

            {% block flow_confirm %}
              <div class="button-row button-row-margin-all confirm-button btn-for-paypal">
                <button id="confirmButton" data-hide='true' class="button-bordered">Continue</button>
              </div>
            {% endblock %}
        </form>
    </div>

{% endblock content %}


{% block extra_js %}
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script src="https://js.stripe.com/v2/"></script>
  <script src="{% static 'js/payment/payment.js' %}"></script>
  <script src="{% static 'js/store-base.js' %}"></script>
  <script src="{% static 'js/card.js' %}"></script>
  <script src="{% static 'js/store-payments.js' %}"></script>

  <script>

    $(document).ready(function () {

      $('.btn-for-card .card-payment-submit').click(function(){
        var cardNumber =  $('#card-number').val();
        var expiryMonth =  $('#expiry-month').val();
        var expiryYear =  $('#expiry-year').val();
        var name =  $('#name-on-card').val();
        var cvc  =  $('#cvc').val();

        if(cardNumber == "" || expiryMonth == "" || expiryYear == "" || name == "" || cvc == "") {
          $('#card-number, #expiry-month, #expiry-year, #name-on-card, #cvc').css('border', '2px solid red');
          if(cardNumber !== ""){
            $('#card-number').css('border', 'none');
          }
          if (expiryMonth !== ""){
            $('#expiry-month').css('border', 'none');
          }
          if (expiryYear !== ""){
            $('#expiry-year').css('border', 'none');
          }
          if (name !== ""){
            $('#name-on-card').css('border', 'none');
          }
          if (cvc !== ""){
            $('#cvc').css('border', 'none');
          }
          
          return false;
        }
      })

      $('.confirm-button.btn-for-paypal').hide();
      $(document).on("click", ".btn-paypal", function(event) {
        event.preventDefault();
        $('.confirm-button.btn-for-card').hide();
        $('.confirm-button.btn-for-paypal').show();
      });

      $(document).on("click", ".btn-card", function(event) {
        event.preventDefault();
        $('.confirm-button.btn-for-paypal').hide();
        $('.confirm-button.btn-for-card').show();
      });

        setTimeout(function() {
            $('#payment-form .card-wrapper .jp-card-container').next().remove('.jp-card-container');
        }, 100);
        renderCardAnimation("#payment-form");


      function fixMonthSingleDigit(){

        if($('#expiry-month').val() < 10 && !$('#expiry-month').val().startsWith('0')){
          $('#expiry-month').val('0' + $('#expiry-month').val())
        }
      }

      var $yearPlaceholder = $('#expiry-year-placeholder');
      var $yearInput = $('#expiry-year');

      var $form = $('#payment-form');

      $form.submit(function(){
        fixMonthSingleDigit()
      })


      $yearPlaceholder.on("input", function() {
        $yearInput.val('20' + this.value);
      });

      $('.useless-checkbox').hide();

      var card = new Card({
        // a selector or DOM element for the form where users will
        // be entering their information
        form: '#payment-form', // *required*
        // a selector or DOM element for the container
        // where you want the card to appear
        container: '.card-wrapper', // *required*

        formSelectors: {
          numberInput: 'input[name="number"]', // optional — default input[name="number"]
          expiryInput: 'input[name="expiry_month_0"], #expiry-year-placeholder', // optional — default input[name="expiry"]
          cvcInput: 'input[name="ccv"]', // optional — default input[name="cvc"]
          nameInput: 'input[name="name"]' // optional - defaults input[name="name"]
        },

        width: 350, // optional — default 350px
        formatting: true, // optional - default true


        // Default values for rendered fields - optional
        values: {
          number: '•••• •••• •••• ••••',
          name: 'Name',
          expiry: '••/••',
          cvc: '•••'
        },

        // if true, will log helpful messages for setting up Card
        debug: false // optional - default false
      });
    });
    inactive = {% if user.is_authenticated and show_email_confirmation_dialog %}true{% else %}false{% endif %};
    console.log(inactive)

  </script>
{% endblock %}
