
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}

    <div class="">
        <form id="payment-form" method="post" action="{% url 'checkout:preview' %}">
          {% if error %}
            <section class="store-error container">
              <span class="store-error__message">{{ error|safe }}</span>
            </section>
          {% endif %}
          <section class="container">
              <div class="section-title section-title-no-padded">
                  <div tabindex="0" class="title1">Billing Information</div>
              </div>
              <div class="row">
                  <div class="button-row button-row-margin">
                      {% if shipping_address %}
                        <div class="store__form__selection__option">
                          <button class="billing-address-toggle active">Bill to same address as shipping</button>
                        </div>
                        <div class="store__form__selection__option">
                          <button class="billing-address-toggle">Bill to different address</button>
                        </div>
                        <input type="hidden" name="billing_option"
                               id="billing-option"
                               value="{% if billing_address_form.billing_option.value == 'different-address' %}different-address{% else %}same-address{% endif %}">
                      {% else %}
                        <input type="hidden" name="billing_option"
                               id="billing-option" value="different-address">
                      {% endif %}
                  </div>
                  <div class="store__form__group clearfix {% if shipping_address %}hidden{% endif %}"  style="padding:20px;" id="custom-billing-address">
                      <div class="col-xs-12 col-sm-6">
                          <input type="text" id="first_name" name="first_name"
                                 class="store__form__input" {% if billing_address_form.first_name.value %}value="{{ billing_address_form.first_name.value }}"{% endif %}
                                 placeholder="First Name">
                            {% for error in billing_address_form.first_name.errors %}
                                <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                          <input type="text" id="last_name" name="last_name"
                                 class="store__form__input" {% if billing_address_form.last_name.value %}value="{{ billing_address_form.last_name.value }}"{% endif %}
                                 placeholder="Last Name">
                            {% for error in billing_address_form.last_name.errors %}
                                <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                          <input type="tel" name="phone" id="phone"
                                 class="store__form__input" {% if billing_address_form.phone_number.value %}value="{{ billing_address_form.phone_number.value }}"{% endif %}
                                 placeholder="Phone">
                            {% for error in billing_address_form.phone_number.errors %}
                                <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                    </div>
                      <div class="col-xs-12 col-sm-6">
                          <input type="text" name="line1" id="line1"
                                 class="store__form__input" {% if billing_address_form.line1.value %}value="{{ billing_address_form.line1.value }}"{% endif %}
                                 placeholder="Address Line 1">
                        {% for error in billing_address_form.line1.errors %}
                                <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                        <input type="text" name="line2" id="line2"
                               class="store__form__input" {% if billing_address_form.line2.value %}value="{{ billing_address_form.line2.value }}"{% endif %}
                               placeholder="Address Line 2">
                        {% for error in billing_address_form.line2.errors %}
                                <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" name="line4" id="city"
                                       class="store__form__input" {% if billing_address_form.line4.value %}value="{{ billing_address_form.line4.value }}"{% endif %}
                                       placeholder="City">
                                {% for error in billing_address_form.line4.errors %}
                                    <span class="store__form__field-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                              <div class="col-xs-6">
                                <input type="text" name="postcode" id="postcode"
                                       class="store__form__input" {% if billing_address_form.postcode.value %}value="{{ billing_address_form.postcode.value }}"{% endif %}
                                       placeholder="Zip Code">
                                {% for error in billing_address_form.postcode.errors %}
                                    <span class="store__form__field-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="white-border-select">
                          <select name="state" class="store__form__select">
                            <option value="">Select State</option>
                            {% for val, choice in billing_address_form.fields.state.widget.choices %}
                              {% if val %}
                                <option value="{{ val }}" {% if val == billing_address_form.state.value %}selected{% endif %}>{{ choice }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                        {% for error in billing_address_form.state.errors %}
                            <span class="store__form__field-error">{{ error }}</span>
                        {% endfor %}
                        <div class="white-border-select">
                          <select name="country" class="store__form__select">
                            <option value="">Select Country</option>
                            {% for val, choice in billing_address_form.fields.country.choices %}
                              {% if val %}
                                <option value="{{ val }}" {% if val == billing_address_form.country.value %}selected{% endif %}>{{ choice }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          {% for error in billing_address_form.country.errors %}
                              <span class="store__form__field-error">{{ error }}</span>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
              <div class="section-title section-title-no-padded">
                  <div tabindex="0" class="title1">Payment Information</div>
              </div>
              <div class="row">
                  <div class="button-row button-row-margin" style="margin-bottom: 30px;">
                    {% if form.can_use_existing %}
                      <div class="store__form__selection__option">
                      <button class="payment-method-toggle active" data-id="existing-credit-card">Use existing credit card</button>
                      </div>
                    {% endif %}
                    <div class="store__form__selection__option">
                    <button class="payment-method-toggle {% if not form.can_use_existing %}active{% endif %}" data-id="credit-card">Pay with credit card</button>
                    </div>
                    <div class="store__form__selection__option">
                    <button class="payment-method-toggle" data-id="paypal">Pay with PayPal</button>
                    </div>

                  </div>
              </div>
              <input type="hidden" name="payment_method" id="payment-method" value="{% if form.payment_method.value == 'existing-credit-card' %}existing-credit-card{%  else %}credit-card{% endif %}">
              <div class="store__form__group clearfix row payment-method-form {% if not form.can_use_existing %}hidden{% endif %}" id="existing-credit-card-form">
                <p tabindex="0" class="text9">Pay with existing {{ user.customer.card_kind }} credit card ending in {{ user.customer.card_last_4 }}</p>
              </div>
              <div class="store__form__group clearfix row payment-method-form hidden" id="paypal-form">
                <p  tabindex="0" class="text9">You will be redirected to PayPal to complete your transaction</p>
              </div>
              <div class="store__form__group clearfix payment-method-form {% if form.can_use_existing %}hidden{% endif %}" id="credit-card-form">
                  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                      <div class="signup__payment__card__info">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-xs-6">
                              <input type="text" class="store__form__input"
                                 id="card-number" placeholder="XXXX XXXX XXXX XXXX" size="20" pattern="[\d ]*"
                                 autocomplete="off" name="number" {% if form.number.value %}value="{{ form.number.value }}"{% endif %}
                                 placeholder="Credit Card Number">
                              {% for error in form.number.errors %}
                                  <span class="store__form__field-error">{{ error }}</span>
                              {% endfor %}
                            </div>

                            <div class="col-xs-3">
                                <input type="text" class="store__form__input"
                                       id="expiry-month" placeholder="MM" size="2" pattern="\d*"
                                       autocomplete="off" name="exp_month" {% if form.exp_month.value %}value="{{ form.exp_month.value }}"{% endif %}
                                       placeholder="Valid thru">
                                {% for error in form.exp_month.errors %}
                              <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                            </div>
                              <div class="col-xs-3">
                                  <input type="text" class="store__form__input" id="expiry-year" placeholder="YY" size="2" pattern="\d*" autocomplete="off" name="exp_year" {% if form.exp_year.value %}value="{{ form.exp_year.value }}"{% endif %}>
                                  {% for error in form.exp_year.errors %}
                                <span class="store__form__field-error">{{ error }}</span>
                            {% endfor %}
                              </div>

                          </div>
                          <div class="row">
                            <div class="col-xs-9">
                              <input id="name-on-card"
                                     type="text"
                                     class="store__form__input"
                                     placeholder="Name on card"
                                     autocomplete="off"
                                     name="name"
                                     {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
                            </div>
                            <div class="col-xs-3">
                              <input type="text" class="store__form__input" id="cvc" placeholder="xxx" size="4" pattern="\d*" autocomplete="off" name="cvc" {% if form.cvc.value %}value="{{ form.cvc.value }}"{% endif %}>
                              {% for error in form.cvc.errors %}
                              <span class="store__form__field-error">{{ error }}</span>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="payment-errors text1 accent-color"></div>
                      </div>
                      <div class="card-wrapper"></div>
                  </div>
              </div>
          </section>
        </form>
    </div>
    