{% extends "store_base.html" %}
{% load static %}
{% load thumbor_tags %}
{% load thumbnail %}

{% load currency_filters %}
{% load purchase_info_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}Preview your order{% endblock %}

{% block content %}
    <div class="content-wrapper borderless text1" style="margin-top:30px">

        <section class="store-header container">
            <div class="store-header__content">
                <div class="white-line-bottom">
                    <div tabindex="0" class="title1 center">Order overview</div>
                </div>
            </div>
        </section>
        <section class="store-overview container">
            <div class="col-xs-12 col-sm-8 store-overview__left-column">
             <div class="white-line-bottom">
                    <div class="title1 center" tabindex="0">Ordered items:</div>
            </div>
                {% if basket.has_physical_products %}
                    {% include 'checkout/physical_products.html' %}
                {% endif %}
                {% if basket.has_digital_products %}
                    {% include 'checkout/digital_products.html' %}
                {% endif %}
                {% if basket.has_tickets %}
                    {% include 'checkout/tickets_products.html' %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4 store-overview__right-column">
                <div class="store-overview__group">
                <div class="section-title section-title-no-padded">
                  <div class="title1" tabindex="0">Shipping</div>
                </div>
                    {% if shipping_address %}
                        <div class="store-overview__group__textblock text1">
                            <p tabindex="0">{{ shipping_address.name }}</p>
                            <p tabindex="0">{{ shipping_address.line1 }}</p>
                            <p tabindex="0">{{ shipping_address.line2 }}</p>
                            <p tabindex="0">{{ shipping_address.city }}{% if shipping_address.state %},  {{ shipping_address.state }}{% endif %}</p>
                            <p tabindex="0">{{ shipping_address.country }}</p>
                        </div>
                    {% endif %}

                    {% if shipping_method %}
                        <div class="store-overview__group__textblock text1">
                            <p tabindex="0">Shipping method: {{ shipping_method.name }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="store-overview__return-button__container">
                    {% if not shipping_method.name = "No shipping required" %}
                        <a href="{% url 'checkout:shipping-address' %}" class="white-border-button">Edit </a>
                    {% endif %}
                </div>
                <div class="store-overview__group">
                    <div class="section-title section-title-no-padded">
                        <div class="title1" tabindex="0">Billing</div>
                     </div>
                    {% if billing_address %}
                    <div class="store-overview__group__textblock text1">
                        <p tabindex="0">{{ billing_address.name }}</p>
                        <p tabindex="0">{{ billing_address.line1 }}</p>
                        <p tabindex="0">{{ billing_address.line2 }}</p>
                        <p tabindex="0">{{ billing_address.city }}{% if billing_address.state %},  {{ billing_address.state }}{% endif %}</p>
                        <p tabindex="0">{{ billing_address.country }}</p>
                    </div>
                    {% endif %}
                    <div class="store-overview__group__textblock text1">
                        <p class="small-heading">Credit card:</p>
                        <p>{{ card_info.name }}</p>
                        <p>xxxx xxxx xxxx {{ card_info.last_4 }}</p>
                    </div>
                    <div class="store-overview__return-button__container">
                    <a href="{% url "checkout:payment-details" %}" class="white-border-button">Edit</a>
                </div>
                </div>
            </div>
        </section>
        <section class="store-cart__footer container">
            <div class="col-xs-12 col-sm-12 store-cart__footer__right right">
                <div class="store-cart__footer__price-container">
                    <span class="store-cart__footer__price-container__value">{{ basket.total_excl_tax|currency:basket.currency }}</span>
                    <span class="store-cart__footer__price-container__label">Basket total:</span>
                    <span class="store-cart__footer__price-container__value">{{ shipping_charge.excl_tax|currency:basket.currency }}</span>
                    <span class="store-cart__footer__price-container__label">Shipping:</span>
                    <div class="store-cart__footer__price-container__total">
                        <span class="store-cart__footer__price-container__value">{{ order_total.excl_tax|currency:basket.currency }}</span>
                        <span class="store-cart__footer__price-container__label">Total:</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 store-cart__footer__buttons">
              {% block place_order %}
                <form action="{% url "checkout:preview" %}" method="post">
                  {% csrf_token %}
                  <a href="{% url 'basket:summary' %}" class="white-border-button left back-to-payment-btn"> Back</a>
                  <button class="white-border-button checkout-white">Pay and order</button>
                  <input type="hidden" name="action" value="place_order"/>
                  <input type="hidden" name="payment_method" value="{{ payment_method }}">
                  {% if card_token %}
                    <input type="hidden" name="card_token" value="{{ card_token }}"/>
                  {% endif %}
                </form>
              {% endblock %}
            </div>
        </section>
    </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/store-base.js' %}"></script>
{% endblock %}
