{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}

{% load currency_filters %}
{% load purchase_info_tags %}

{% block store_nav_active %}active{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <section class="store-header container">
            <div class="store-header__content">
                <h1 class="store-header__title">SmallsLIVE Store<span class="store-header__title__divider">|</span><span class="store-header__title__category">Order overview</span></h1>
            </div>
        </section>
        <section class="store-overview container">
            <div class="col-xs-12 col-sm-8 store-overview__left-column">
                <div class="store-overview__group">
                    <h3 class="store-overview__group__heading">Ordered items:</h3>
                    <h4 class="store-overview__group__table__heading">Physical items:</h4>
                    <div class="store-overview__group__table">
                        <!-- table header start -->
                        <div class="store-overview__group__table__header clearfix">
                            <div class="col-xs-2 image">
                                Image
                            </div>
                            <div class="col-xs-7 details">
                                Details
                            </div>
                            <div class="col-xs-3 total">
                                Total
                            </div>
                        </div>
                        <!-- end of table header -->
                        {% for line in basket.physical_lines %}
                            {% with product=line.product  %}
                                <!-- table row start -->
                                <div class="store-overview__group__table__row clearfix">
                                    <div class="col-xs-2 image">
                                        {% if product.parent_id %}
                                            {% with image=product.parent.primary_image %}
                                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                    <a class="square-container" href="{{ product.parent.get_absolute_url }}"><img class="defineImageRatio"
                                                                                              src="{{ thumb.url }}"
                                                                                              alt="{{ product.get_title }}"></a>
                                                {% endthumbnail %}
                                            {% endwith %}
                                        {% else %}
                                            {% with image=product.primary_image %}
                                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                                    <a class="square-container" href="{{ product.get_absolute_url }}"><img class="defineImageRatio"
                                                                                              src="{{ thumb.url }}"
                                                                                              alt="{{ product.get_title }}"></a>
                                                {% endthumbnail %}
                                            {% endwith %}
                                        {% endif %}

                                    </div>
                                    <div class="col-xs-7 details">
                                        <p class="store-overview__group__table__product-name">
                                            {% if product.parent_id %}
                                                {{ product.parent.title }}
                                            {% else %}
                                                {{ product.title }}
                                            {% endif %}
                                        </p>
                                        <p class="store-overview__group__table__product-details">
                                            {% if product.parent_id %}
                                                {{ product.title }}
                                            {% endif %}
                                        </p>
                                        <p class="store-overview__group__table__product-details">
                                            {{ line.quantity }} x ${{ line.unit_price_excl_tax }}
                                        </p>
                                    </div>
                                    <div class="col-xs-3 total">
                                        ${{ line.price_excl_tax }}
                                    </div>
                                </div>
                            {% endwith %}
                            <!-- end of table row -->
                        {% endfor %}
                        <!-- group total -->
                        <div class="store-overview__group__total clearfix">
                            <div class="col-xs-9 store-overview__group__total__label">
                                Sub-total:
                            </div>
                            <div class="col-xs-3 store-overview__group__total__value">
                                {{ basket.physical_total_excl_tax|currency:basket.currency }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="store-overview__group">
                    <h4 class="store-overview__group__table__heading">Digital downloads:</h4>
                    <div class="store-overview__group__table">
                        <!-- table header start -->
                        <div class="store-overview__group__table__header clearfix">
                            <div class="col-xs-2 image">
                                Cover
                            </div>
                            <div class="col-xs-7 details">
                                Details
                            </div>
                            <div class="col-xs-3 total">
                                Total
                            </div>
                        </div>
                        <!-- end of table header -->
                        {% for line in basket.digital_lines %}
                            {% with product=line.product  %}
                                <!-- table row start -->
                                <div class="store-overview__group__table__row clearfix">
                                    <div class="col-xs-2 image">
                                        <a href="#"><img class="defineImageRatio" src="{% static 'image/store/bopjuice-cover.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                                    </div>
                                    <div class="col-xs-7 details">
                                        <p class="store-overview__group__table__product-name">
                                            {{ product.title }}
                                        </p>
                                        <p class="store-overview__group__table__product-details">
                                            {{ product.album.title }}
                                        </p>
                                        <p class="store-overview__group__table__product-details">
                                            {% if line.stockrecord.is_hd %}HD{% else %}mp3{% endif %}
                                        </p>
                                    </div>
                                    <div class="col-xs-3 total">
                                        ${{ line.price_excl_tax }}
                                    </div>
                                </div>
                                <!-- end of table row -->
                            {% endwith %}
                        {% endfor %}
                        <!-- group total -->
                        <div class="store-overview__group__total clearfix">
                            <div class="col-xs-9 store-overview__group__total__label">
                                Sub-total:
                            </div>
                            <div class="col-xs-3 store-overview__group__total__value">
                                {{ basket.digital_total_excl_tax|currency:basket.currency }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="store-overview__return-button__container">
                    <a href="{% url "basket:summary" %}" class="store-overview__return-button"><i class="fa fa-angle-double-left"></i> Back to cart</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 store-overview__right-column">
                <div class="store-overview__group">
                    <h3 class="store-overview__group__heading">Shipping information:</h3>
                    {% if shipping_address %}
                        <div class="store-overview__group__textblock">
                            <p>{{ shipping_address.name }}</p>
                            <p>{{ shipping_address.line1 }}</p>
                            <p>{{ shipping_address.line2 }}</p>
                            <p>{{ shipping_address.city }}{% if shipping_address.state %},  {{ shipping_address.state }}{% endif %}</p>
                            <p>{{ shipping_address.country }}</p>
                        </div>
                    {% endif %}

                    {% if shipping_method %}
                        <div class="store-overview__group__textblock">
                            <p>Shipping method: {{ shipping_method.name }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="store-overview__return-button__container">
                    <a href="{% url "checkout:shipping-address" %}" class="store-overview__return-button"><i class="fa fa-angle-double-left"></i> Back to shipping</a>
                </div>
                <div class="store-overview__group">
                    <h3 class="store-overview__group__heading">Billing information:</h3>
                    {% if billing_address %}
                    <div class="store-overview__group__textblock">
                        <p>{{ billing_address.name }}</p>
                        <p>{{ billing_address.line1 }}</p>
                        <p>{{ billing_address.line2 }}</p>
                        <p>{{ billing_address.city }}{% if billing_address.state %},  {{ billing_address.state }}{% endif %}</p>
                        <p>{{ billing_address.country }}</p>
                    </div>
                    {% endif %}
                    <div class="store-overview__group__textblock">
                        <p class="small-heading">Credit card:</p>
                        <p>xxxx xxxx xxxx 11111</p>
                        <p>Valid thru 9/15</p>
                        <p>Filip Jukić</p>
                    </div>
                    <div class="store-overview__return-button__container">
                    <a href="{% url "checkout:payment-details" %}" class="store-overview__return-button"><i class="fa fa-angle-double-left"></i> Back to billing</a>
                </div>
                </div>
            </div>
        </section>
        <section class="store-cart__footer container">
            <div class="col-xs-12 col-sm-6 store-cart__footer__left">
                <p class="store-cart__footer__left__text">We accept the following payment options:</p>
                <div class="store-cart__footer__card-icons">
                    <img src="{% static 'image/payment/visa.png' %}" alt="Visa">
                    <img src="{% static 'image/payment/mastercard.png' %}" alt="MasterCard">
                    <img src="{% static 'image/payment/amex.png' %}" alt="American Express">
                    <img src="{% static 'image/payment/diners.png' %}" alt="Diners">
                    <img src="{% static 'image/payment/paypal.png' %}" alt="Paypal">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 store-cart__footer__right">
                <div class="store-cart__footer__price-container">
                    <span class="store-cart__footer__price-container__value">{{ basket.total_excl_tax|currency:basket.currency }}</span>
                    <span class="store-cart__footer__price-container__label">Basket total:</span>
                    <span class="store-cart__footer__price-container__value">{{ shipping_charge.excl_tax|currency:basket.currency }}</span>
                    <span class="store-cart__footer__price-container__label">Shipping:</span>
                    <div class="store-cart__footer__price-container__total">
                        <span class="store-cart__footer__price-container__value">{{ order_total.excl_tax|currency:basket.currency }}</span>
                        <span class="store-cart__footer__price-container__label">Total:</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 store-cart__footer__buttons">
              {% block place_order %}
                <form action="{% url "checkout:preview" %}" method="post">
                  {% csrf_token %}
                  <a href="{% url "checkout:payment-details" %}" class="store-cart__footer__button-back"><i class="fa fa-angle-double-left"></i> Back to
                    payment information</a>
                  <button class="store-cart__footer__button-next">Pay and order</button>
                  <input type="hidden" name="action" value="place_order"/>
                  <input type="hidden" name="card_token" value="{{ card_token }}"/>
                </form>
              {% endblock %}
            </div>
        </section>
    </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/store-base.js' %}"></script>
{% endblock %}