{% extends "store_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}Order complete{% endblock %}

{% block content %}

    <div class="">

        <section class="store-header container">
             <div class="store-header__title__container">
                  {% if order.has_tickets %}
                  <div class="title1 title1--thankyou center"> Reservation Confirmed for
                    <span class="{{ order.lines.first.product.event_set.event.get_venue_name|lower }}-color {{ order.lines.first.product.event_set.event.get_venue_name|lower }}-color--thankyou">
                      {{ order.lines.first.product.event_set.event.get_venue_name }} Jazz Club
                    </span>
                  </div>
                  {% else %}
                  <div class="title1 center">Smalls LIVE</div>
                  {% endif %}
              </div>
        </section>
        <section class="store-done container">
            <div class="store-done__content disclaimer text4">
              {% with order_number=order.number %}
                  {% for line in order.lines.all %}
                      <p>
                          You have successfully made {{ line.quantity }} reservation(s) for the {{ line.product.event_set.start }} seating on {{ line.product.event_set.event.date }} at {{ line.product.event_set.event.get_venue_name }} Jazz Club.
                          Your order number is {{ order_number }}.  Your card has been charged for {{ line.line_price_incl_tax|currency:order.currency }}.
                      </p>
                      <p>
                          The reservation name is {{ order.first_name }} {{ order.last_name }} and will be with the doorman when you arrive.
                          Please arrive 1/2 hour before the seating.
                          We are mandated to take temperatures at the door and to collect contact tracing information from at least one person in your party.
                          This reservation guarantees your seating.  Your actual space in the venue is first come/first serve so please arrive on time.
                          We reserve the right to release a seat 15 minutes after the seating time.
                      </p>
                      <p>
                          Reservations are generally non-refundable however, you may exchange your reservation for another seating depending on availability.
                          If you have any issues please email us at reservations@smallslive.com.
                      </p>
                  {% endfor %}
              {% endwith %}
            </div>
        </section>
    </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/store-base.js' %}"></script>
{% endblock %}
