{% extends "store_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}Order complete{% endblock %}

{% block content %}

    <div class="content-wrapper borderless">

        <section class="store-header container">
             <div class="white-line-bottom">
                    <div class="title1 center"> Smalls LIVE</div>
                </div>
        </section>
        <section class="store-done container">
            <div class="row">
                <div class="hidden-xs col-sm-5 col-md-5 store-done__graphic">
                    <img src="{% static "new_logo_transparent_black.svg" %}" alt="SmallsLIVE logo"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 store-done__content">
                    <h3 class="store-done__heading">Payment successful!</h3>
                    <ul class="store-done__info-list">
                        {% with source=order.sources.first %}
                            <li>your {{ source.source_type|lower }} has been charged for <b>${{ order.total_excl_tax }}</b></li>
                        {% endwith %}
                        <li>we have sent <b>the receipt</b> to the email address you supplied</li>
                        {% if order.has_physical_products %}
                            <li>we will attend to shipping your order as quickly as possible.</li>
                        {% endif %}
                        {% if order.has_digital_products %}
                            <li>you can find your downloads under <a href="{% url "my-downloads" %}">my downloads</a></li>
                        {% endif %}

                        <li>if you have any questions or issues, please feel free to contact us via email on <a href="mailto:info@smallslive.com">info@smallslive.com</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/store-base.js' %}"></script>
{% endblock %}
