{% load static from staticfiles %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}

 <div class="store-overview__group">
   <div class="store-overview__group__table">
        {% for line in basket.digital_lines %}
        {% with product=line.product  %}
        <!-- table row start -->
        <div class="store-overview__group__table__row clearfix">
            <div class="col-xs-9 details">
                <div class="{{ product.event_set.event.venue|lower }}-color">
                  Reservations for {{ product.event_set.event.venue }} Jazz Club - {{ product.set }}
                </div>
            </div>
            <div class="col-xs-3 details total">
                <div>${{ line.price_excl_tax }}</div>
                <div>{{ line.quantity }} {% if line.quantity > 1 %} reserve seats {% else %} reserve seat {% endif %}</div>
            </div>
        </div>
        <!-- end of table row -->
        {% endwith %}
        {% endfor %}
        <!-- group total -->
        <div class="store-overview__group__total clearfix">
            <div class="col-xs-9 store-overview__group__total__label">
                Sub-total:
            </div>
            <div class="col-xs-3 store-overview__group__total__value">
                {{ basket.digital_total_excl_tax|currency:basket.currency }}
            </div>
        </div>
    </div>
</div>
