{% extends "events/event_details_new.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load crispy_forms_tags %}

{% block event_content %}
{% if user.is_authenticated %}
  {% include 'inactive_dialog.html' %}
{% endif %}
{% include 'events/streaming_not_available_dialog.html' %}
{% include 'events/tickets_dialog.html' %}

<div tabindex="0" class="event-video-placeholder flex-column content-space-between" style="flex: initial;">
  <span class="event-video-placeholder-picture">
    {% if event.photo %}
    <img src="{% thumbor_url event.get_photo_url|urlencode height=360 width=600 crop=event.photo_crop_box %}"
         onError="this.src='{% static 'image/no-event-image-placeholder.jpg' %}'" style="width: 100%">
    {% else %}
    <img src="{% static 'image/no-event-image-placeholder.jpg' %}" style="width: 100%">
    {% endif %}
  </span>
  <div class="player-info pointer-events">
    <div class="live-now text2{% if not event.is_live %} hidden{% endif %}">Live now</div>
    <div class="event-overlay upcoming">
      <div class="nested-row">
        <p class="event-title-ajax event-info-title">{{ event.title }}{% if request.user.is_staff and event.state == "Draft"%} - Draft {% endif %}</p>
        <img class="upcoming-logo" src="{% static 'new_logo_transparent.png' %}" alt="Smalls"
                        class="img-circle"/>
      </div>
      <div class="{{ event.get_venue_name|lower}}-color event-venue title5">Live at {{ event.get_venue_name }}</div>
      <div class="event-date title5">{{ event.get_date|date:'D M d' }}</div>
      {% if event.sets.count > 1 %}
      <div class="event-sets title5">Sets at {{ event.get_set_hours_display}}</div>
      {% else %}
      <div class="event-sets title5">From {{ event.get_set_hours_display}}</div>
      {% endif %}
      <div class="icon-overlay">
        <i id="btn-play-event" class="event-detail fa fa-play fa-thin-circle"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
  $(document).ready(function () {
    $('#btn-tickets').click(function () {
      $('#ticketsDialog').modal('show');
    });
    var $form;
    $('.buy-tickets').click(function(e){
      e.preventDefault();
      // Remember form to be submitted
      $form = $(this).closest('form');

      $('#buy-tickets-dialog').modal('show');
      $('#ticket-name').text("Tickets for the " + $(this).data('ticket-name') + " set");
      $('#ticket-price').text("$" +$(this).data('ticket-price'));
      $('#ticket-availability').text($(this).data('ticket-availability'));
    })
    $('#confirm-buy-tickets').click(function (e) {
      e.preventDefault();
      $form.submit();
    })
    $('#cancel-buy-tickets').click(function (event) {
      event.preventDefault();
      $form = null;
      $('#buy-tickets-dialog').modal('toggle');
    })
    $('#btn-play-event, .event-overlay').click(function () {
      /* Show 'sign in' modal if user is not logged in. Otherwise, redirect
      to the live stream view if the show is about to start. */

      if (smallsConfig.user.isAuthenticated) {

        var allowStreamingTime = moment("{{ streaming.start.isoformat }}");
        if (moment() - allowStreamingTime > 0) {
          window.location = "{{ streaming.event_url }}";
        } else {
          $('#streamingNotAvailableDialog').modal('show');
        }

      } else {
        var $modal = $('#becomeMemberDialog');
        $modal.modal('show');
      }
    });

  });

  $('.event-video-placeholder').keypress(function (e){
   if(e.keyCode == 13){
      $('#btn-play-event').click();
   }
  });
</script>
{% endblock %}
