{% extends "events/event_details_new.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load crispy_forms_tags %}
{% block event_content %}
<div class="player-container">
  {% if is_event_user_not_confirmed %}
    <div class="not-auth-container">
      {% if event.photo %}
        {% include 'partials/thumbored_picture.html' with photo_url=event.get_photo_url crop_box=event.photo_crop_box %}
      {% else %}
        {% include 'partials/thumbored_picture.html' %}
      {% endif %}
      <div class="icon-overlay">
        <i class="fa fa-play fa-thin-circle"></i>
      </div>
    </div>
  {% else %}
  <div class="wrapper">
     <iframe id="UstreamIframe"
             width="100%" height="100%"
             src="{{ event.get_live_stream }}"
             frameborder="0"
             style="position:absolute; top:0; left: 0" allowfullscreen allowautoplay
             webkitallowfullscreen></iframe>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script>
  $(document).ready(function () {
    {% if next_event %}
      var changeTime = moment("{{ next_event.start.isoformat }}");
      var waitTime = changeTime.diff(moment(), 'miliseconds');
      var intervalId = setInterval(function () {
          clearInterval(intervalId);
          $('.current-event').addClass('hidden');
          $('.next-event').removeClass('hidden');
          $('.related-video.selected').removeClass('selected');
          $('.related-video.next-up').addClass('selected');
      }, waitTime);
    {% endif %}
  });

  {% if is_event_user_not_confirmed %}

  function cannotWatchModalOpen(){
          var modal = '#becomeMemberDialog';
          if (smallsConfig.user.isAuthenticated) {
            modal = '#become-a-supporter-dialog';
          }
          if ('{{ is_event_user_not_confirmed }}') {
            modal = '#inactive-dialog';
          }
          $(modal).modal('show');
        }
        
        $(document).on('click', '.not-auth-container', function (event) {
          cannotWatchModalOpen()
        })

  {% endif %}




</script>
{% endblock %}