{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load custom_cloudinary_tags %}
{% load addurlparameter %}

{% block title %}SmallsLIVE Audio/Video Archive{% endblock %}

{% block archive_nav_active %}active{% endblock %}


{% block content %}
    <div class="content-wrapper">

      {% if request.user.is_authenticated %}
        <section class="archive-new__header-search">
          <h1>SmallsLIVE Audio/Video Archive</h1>
          <p>The SmallsLIVE Archive was started in September of 2007 and represents nearly all the shows performed at the club to the current date.</p>
          <form action="{% url "artist_search" %}" method="get">
            <div class="form-group has-feedback archive-new__header-search__search-container" id="archive-search-container">
              <i class="fa fa-search legend-icon"></i>
              <input id="archive--search" type="text" name="q" class="form-control search-input" placeholder="Search by artist name, event name or instrument..."/>
              <button type="submit" class="search--control">
                <i class="fa fa-arrow-circle-right form-control-feedback"></i>
              </button>
            </div>
          </form>
          <span class="archive-new__header-search__instructable">or browse below...</span>
        </section>
      {% else %}
        <section class="archive-new__header-cta">
          <h1>Not yet a member of SmallsLIVE?</h1>
          <p>Become a Member of SmallsLIVE and watch our live streams at no charge. Become a Subscribing Member and get unlimited access to the SmallsLIVE Audio/Video Archive of all shows performed at Smalls Jazz Club since 2007.</p>
          <p>Subscribing Members directly support the Artists and the Clubs through our unique SmallsLIVE Revenue Share Project.<br><a href="{% url "revenue-share" %}">CLICK HERE</a> for more information.</p>
          <a href="{% url "signup_landing" %}" class="archive-new__header-cta__cta">Membership options</a>
        </section>
      {% endif %}
      <section class="archive__venue_filter">
        <div class="homepage-date-browser__venue_filter">
          <h2>Filter by venue:</h2>
          <div class="homepage-date-browser__venue_filter__venues">
            {% for venue in venues %}
              <a href="{% addurlparameter 'venue' venue.id %}"
                 {% if venue.id == venue_selected %}class="active"{% endif %}>{{ venue.name }}</a>
            {% endfor %}
            <a href="{% addurlparameter 'venue' None %}" {% if not venue_selected %}class="active"{% endif %}>All</a>
          </div>
        </div>
      </section>

      <section class="archive-new__carousel container">
        <ul class="archive-new__carousel__switches">
          <li class="archive-new__carousel__switch active" id="archive-carousel-switch--new">
            Newly added
          </li>
          <li class="archive-new__carousel__switch" id="archive-carousel-switch--popular">
            Most popular
          </li>
        </ul>
        <!-- carousel -->
        <div class="" id="archive--carousel">

        </div>
        <!-- new items -->
        <div class="archive-new__carousel__container" id="js--archive--carousel--new" style="display: none;">
          {% for event in most_recent %}
            <div class="archive-new__carousel__item">
              <a href="{{ event.get_absolute_url }}" class="archive-new__carousel__item__container">
                {% if event.photo %}
                  <img class="event-image"
                       src="{% cloudinary_image_url photo_name=event.get_photo_name_with_bucket photo_url=event.get_photo_url|urlencode height=300 width=350 %}">
                {% else %}
                  <img class="event-image" src="{% static 'image/no-event-photo-thumbnail--archive-carousel.jpg' %}">
                {% endif %}
                <span class="event-date">{{ event.start|date:"n/j/Y" }}</span>
                <h4 class="event-name">{{ event.title }}</h4>
                <h4 class="event-venue">{{ event.get_venue_name }}</h4>
              </a>
            </div>
          {% endfor %}
        </div>
        <!-- /new items -->
        <!-- popular items -->
        <div class="archive-new__carousel__container" id="js--archive--carousel--popular" style="display: none;">
          {% for event in most_popular %}
            <div class="archive-new__carousel__item">
              <a href="{{ event.get_absolute_url }}" class="archive-new__carousel__item__container">
                {% if event.photo %}
                  <img class="event-image"
                       src="{% cloudinary_image_url photo_name=event.get_photo_name_with_bucket photo_url=event.get_photo_url|urlencode height=300 width=350 %}">
                {% else %}
                  <img class="event-image" src="{% static 'image/no-event-photo-thumbnail.jpg' %}">
                {% endif %}
                <span class="event-date">{{ event.start|date:"n/j/Y" }}</span>
                <h4 class="event-name">{{ event.title }}</h4>
                <h4 class="event-venue">{{ event.get_venue_name }}</h4>
              </a>
            </div>
          {% endfor %}
        </div>
        <!-- /popular items -->
      </section>

      <section class="archive-new__date-browser container" id="archive-dates-browser">
        <div class="archive-new__date-browser__header">
          <div class="archive-new__date-browser__header-left">
            <h1>Browse archive by date</h1>
            <div class="icons-legend">
              <span class="helper">Icons legend:</span><i class="fa fa-music"></i><span class="icon-meaning">Audio available</span><i class="fa fa-video-camera"></i><span class="icon-meaning">Video available</span><i class="fa fa-shopping-cart"></i><span class="icon-meaning">Tracks / CD available</span>
            </div>
          </div>
          <div class="archive-new__date-browser__date-picker" id="archive__date-picker">
              <input type="text" placeholder="Select a month" readonly>
              <i class="fa fa-caret-down"></i>
          </div>
        </div>
        <ul class="no-bg-calendar__container">
          <!-- calendar control -->
          <li class="no-bg-calendar__control">
            <a class="no-bg-calendar__control__content-container" href="{{ prev_url }}#archive-dates-browser">
              {% if month_view %}
                <h3><span>Display </span>previous month</h3>
              {% else %}
                <h3><span>Display </span>14 previous dates</h3>
              {% endif %}
            </a>
          </li>
          {% for date, events in date_events %}
            <!-- single day -->
            <li class="no-bg-calendar__day">
              <h2 class="no-bg-calendar__day__date">
                {{ date|date:"l" }} {{ date|date:"n/j/Y" }}
              </h2>
              {% for event in events %}
                <!-- single event -->
                <a class="no-bg-calendar__event" href="{{ event.get_absolute_url }}">
                  <div class="no-bg-calendar__event__content-container">
                    <div>
                      <span class="event-time">{{ event.start|date:"g:i A" }} to {{ event.end|date:"g:i A" }}</span>
                      <h3 class="event-name">{{ event.title }}</h3>
                      <h3 class="event-venue">{{ event.get_venue_name }}</h3>
                    </div>
                  </div>
                  <div class="no-bg-calendar__event__media-indicators-container">
                    <div>
                      {% if event.video_count %}<i class="fa fa-video-camera"></i>{% endif %}
                      {% if event.audio_count %}<i class="fa fa-music"></i>{% endif %}
                      {% if event.product_count %}<i class="fa fa-shopping-cart"></i>{% endif %}
                    </div>
                  </div>
                </a>
                <!-- /single event -->
              {% endfor %}
            </li>
            <!-- /single day -->
          {% endfor %}
          <!-- calendar control -->
          {% if request.GET.week > 0 or month_view %}
            <li class="no-bg-calendar__control">
              <a class="no-bg-calendar__control__content-container" href="{{ next_url }}#archive-dates-browser">
                {% if request.GET.week > 0 %}
                <i class="fa fa-angle-right"></i>
                <h3><span>Display </span>14 next dates</h3>
                {% endif %}
                {% if month_view %}
                  <i class="fa fa-angle-right"></i>
                  <h3><span>Display </span>next month</h3>
                {% endif %}
              </a>
            </li>
          {% else %}
            <li class="no-bg-calendar__control disabled">
              <div class="no-bg-calendar__control__content-container disabled">
                <i class="fa fa-remove"></i>
                <h3><span>New media is added generally one week after the event date. <br /><br />Approximately 25 shows added weekly.</span></h3>
              </div>
            </li>
          {% endif %}
        </ul>
      </section>

      <section class="archive-new__bottom-promo container">
        <p>Subscribing Members directly support the Artists and the Clubs through our unique SmallsLIVE Revenue Share Project.</p>
        <a href="{% url "revenue-share" %}" class="archive-new__bottom-promo__cta">Learn more</a>
      </section>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        function initSlick(selector) {
          $(selector).slick({
                dots: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 8000,
                responsive: [
                    {
                        breakpoint: 6000,
                        settings: {
                            slidesToShow: 6,
                            slidesToScroll: 6
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            })
        };
        /* Toggling different streams */
        $(document).ready(function () {
            initSlick('#archive--carousel');
            $("#js--archive--carousel--new").each(function(index, element) {
                $('#archive--carousel').slick('slickAdd', $(element).html());
            });

            $("#archive-carousel-switch--new").click(function() {
                if (!($(this).hasClass("active"))) {
                    $(".archive-new__carousel__switch.active").toggleClass("active");
                    $(this).toggleClass("active");
                    $('#archive--carousel').slick('unslick');
                    $('#archive--carousel').empty();
                    initSlick('#archive--carousel');
                    $("#js--archive--carousel--new").each(function(index, element) {
                        $('#archive--carousel').slick('slickAdd', $(element).html());
                    });
                }
            });

            $("#archive-carousel-switch--popular").click(function() {
                if (!($(this).hasClass("active"))) {
                    $(".archive-new__carousel__switch.active").toggleClass("active");
                    $(this).toggleClass("active");
                    $('#archive--carousel').slick('unslick');
                    $('#archive--carousel').empty();
                    initSlick('#archive--carousel');
                    $("#js--archive--carousel--popular").each(function(index, element) {
                        $('#archive--carousel').slick('slickAdd', $(element).html());
                    });
                }
            });
        })
    </script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script>
      var $datePicker = $('#archive__date-picker input');
      $datePicker.datepicker({
          format: 'MM // yyyy',
          minViewMode: "months",
          orientation: "top auto",
          autoclose: true
      });
      $datePicker.on('changeMonth', function(d){
          var month = d.date.getMonth() + 1;
          var year = d.date.getFullYear();
          window.location = '/events/new-popular/' + year + '/' + month + '/#archive-dates-browser';
      });
      var date = new Date({{ year}}, {{ month }}, 1);
      $datePicker.datepicker("setDate", date);

      $(function() {
        $("#archive--search").catcomplete({
          delay: 500,
          source: '/search/autocomplete/',
          minLength: 3,
          appendTo: '#archive-search-container'
        });
      });

    </script>
{% endblock %}
