{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}New/Popular{% endblock %}

{% block content %}
    <div class="content-wrapper">
      {% if request.user.is_authenticated %}
          <section class="archive-page-header">
              <h1>New and Most Popular Video/Audio</h1>
              <p>This is our most recently uploaded video and audio and our currently most popular.</p>
          </section>
      {% else %}
          <section class="home-membership container">
              <div class="home-membership__header vertical-align-parent">
                  <div class="vertical-align-child">
                      <h1 class="home-membership__header__title">Become a member of SmallsLIVE and access our live streamed shows nightly!</h1>
                      <p class="home-membership__header__text">Become a member of SmallsLIVE to watch our live stream. Subscribing members get unlimited access to our audio/video archive. By becoming a subscribing member you are directly supporting the musicians and the venue.</p>
                      <a href="{% url "account_signup" %}" class="cto__button">Sign up!</a>
                  </div>
              </div>
          </section>
      {% endif %}
      <section class="video-audio container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Recently Added Video</h1>
            <div class="videos row">
              {% for event in recent_video %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ event.get_absolute_url }}">
                      {% if event.photo %}
                        <img src="{% thumbor_url event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ event.play_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}

            </div>
            <a href="{% url "most_recent_videos" %}" class="video-audio__more-link">Full list of 30 recently added videos</a>
          </div>
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Recently Added Audio</h1>
            <div class="videos row">
              {% for event in recent_audio %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ event.get_absolute_url }}">
                      {% if event.photo %}
                        <img src="{% thumbor_url event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ event.play_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
            <a href="{% url "most_recent_audio" %}" class="video-audio__more-link">Full list of 30 recently added audio recordings</a>
          </div>
        </div>
      </section>

      <section class="video-audio container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Most Popular Video</h1>
            <div class="videos row">
              {% for event in most_popular_video %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ event.get_absolute_url }}">
                      {% if event.photo %}
                        <img src="{% thumbor_url event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ event.play_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          <a href="{% url "most_popular_videos" %}" class="video-audio__more-link">Full list of 30 most popular videos</a>
          </div>
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Most Popular Audio</h1>
            <div class="videos row">
              {% for event in most_popular_audio %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ event.get_absolute_url }}">
                      {% if event.photo %}
                        <img src="{% thumbor_url event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ event.play_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          <a href="{% url "most_popular_audio" %}" class="video-audio__more-link">Full list of 30 most popular audio recordings</a>
          </div>

        </div>
      </section>
    </div>
{% endblock content %}