<div class="event-section">
    <div class="shows-filter-container">
       <div class="datepicker-container noclick">
           <div class="custom-date-picker" id="search-date-picker-from">
               <input class="date-picker-text" type="text" placeholder="Select date" readonly>
           </div>
           <div class="custom-date-picker" id="search-date-picker-to">
               <input class="date-picker-text" type="text" placeholder="Select date" readonly>
           </div>
           <div class="white-border-button archived" id="apply-button"><span>Apply</span></div>
           <div class="datepicker-reset text2 text-grey"><span>Reset</span></div>
       </div>
       <div class="white-border-select event-filter-select">
        <select id="events-filter">
          <option value="newest">Newest to oldest</option>
          <option value="oldest">Oldest to newest</option>
          <option value="popular">Most popular</option>
        </select>
      </div>
       <div class="datepicker-btn white-border-button caret hover-fade archived">Filter by date
       </div>
     
    </div>
 </div>




