{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block title %}New/Popular{% endblock %}

{% block content %}
    <div class="content-wrapper">
      {% if request.user.is_authenticated %}
          <section class="archive-page-header">
              <h1>New and Most Popular Video/Audio</h1>
              <p>This is our most recently uploaded video and audio and our currently most popular.</p>
          </section>
      {% else %}
          <section class="home-membership container">
              <div class="home-membership__header vertical-align-parent">
                  <div class="vertical-align-child">
                      <h1 class="home-membership__header__title">Become a member of SmallsLIVE and access our live streamed shows nightly!</h1>
                      <p class="home-membership__header__text">Become a member of SmallsLIVE to watch our live stream. Subscribing members get unlimited access to our audio/video archive. By becoming a subscribing member you are directly supporting the musicians and the venue.</p>
                      <a href="{% url "account_signup" %}" class="cto__button">Sign up!</a>
                  </div>
              </div>
          </section>
      {% endif %}
{% comment %}
      <section class="your-requested-videos container">
        <h1 class="your-requested-videos__section-title">Your requested videos</h1>

        <div class="row archive-carousel">

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/02.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The Ari Hoenig Trio</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">66</span> requests</p>
                </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/03.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Siren Dan an experimental sound salon </h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">38</span> requests</p>
                </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/06.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Mike DiRubbo Quintet</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">28</span> requests</p>
                </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/08.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The David Gibson Quinte</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">22</span> requests</p>
                </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/10.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The Tyler Mitchell Trio</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">17</span> requests</p>
                </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/11.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Josh Evans Big Band</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">8</span> requests</p>
                </div>
            </div>
          </div>

        </div>
      </section>
{% endcomment %}
      <section class="video-audio container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Recently Added Video</h1>
            <div class="videos row">
              {% for recording in recent_video %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ recording.event.get_absolute_url }}">
                      {% if recording.event.photo %}
                        <img src="{% thumbor_url recording.event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ recording.event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ recording.event.get_absolute_url }}">{{ recording.event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Added:</p>
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ recording.date_added|date:"n/j/Y" }}</span></p>
                          <p><span>{{ recording.view_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}

            </div>
            <a href="{% url "most_recent_videos" %}" class="video-audio__more-link">Full list of 30 recently added videos</a>
          </div>
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Recently Added Audio</h1>
            <div class="videos row">
              {% for recording in recent_audio %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ recording.event.get_absolute_url }}">
                      {% if recording.event.photo %}
                        <img src="{% thumbor_url recording.event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ recording.event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ recording.event.get_absolute_url }}">{{ recording.event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Added:</p>
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ recording.date_added|date:"n/j/Y" }}</span></p>
                          <p><span>{{ recording.view_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
            <a href="{% url "most_recent_audio" %}" class="video-audio__more-link">Full list of 30 recently added audio recordings</a>
          </div>
        </div>
      </section>
      {% comment %}
      <section class="your-requested-videos container">
        <h1 class="your-requested-videos__section-title">Most requested videos</h1>

        <div class="row archive-carousel">

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/01.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title"><a href="#">Jill McCarron Trio</a></h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">87</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/02.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The Ari Hoenig Trio</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">66</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/03.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Siren Dan an experimental sound salon </h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">45</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/04.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Saturday afternoon Open Jam Session with: Jonathan Thomas Trio </h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">42</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/05.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Sylvia Cuenca Organ Quartet</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">38</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/06.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Mike DiRubbo Quintet </h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">28</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/07.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The Chuck Redd Quartet </h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">25</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/08.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The David Gibson Quintet</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">22</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/09.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">Amos Hoffman Quintet</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">18</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="requested-video event-object--gold">
                <img class="requested-video__image"
                     src="{% static 'image/archive-temp/10.jpg' %}" alt=""/>
                <div class="requested-video__info">
                  <p class="requested-video__date">01/30/2015</p>
                  <h1 class="requested-video__title">The Tyler Mitchell Trio</h1>
                  <p class="requested-video__requests"><span class="requested-video__requests--number">17</span> requests</p>
                </div>
                <a href="" class="requested-video__request">Request</a><span class="arrow"></span>
            </div>
          </div>

        </div>
      </section>
      {% endcomment %}

      <section class="video-audio container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Most Popular Video</h1>
            <div class="videos row">
              {% for recording in most_popular_video %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ recording.event.get_absolute_url }}">
                      {% if recording.event.photo %}
                        <img src="{% thumbor_url recording.event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ recording.event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ recording.event.get_absolute_url }}">{{ recording.event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Added:</p>
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ recording.date_added|date:"n/j/Y" }}</span></p>
                          <p><span>{{ recording.view_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          <a href="{% url "most_popular_videos" %}" class="video-audio__more-link">Full list of 30 most popular videos</a>
          </div>
          <div class="col-md-6">
            <h1 class="video-audio__section-title">Most Popular Audio</h1>
            <div class="videos row">
              {% for recording in most_popular_audio %}
                <div class="mini-video col-xs-6 col-sm-12">
                    <div class="mini-video__image">
                      <a href="{{ recording.event.get_absolute_url }}">
                      {% if recording.event.photo %}
                        <img src="{% thumbor_url recording.event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/>
                      {% else %}
                        <img src="{% static 'image/no-event-photo-thumbnail.jpg' %}" alt=""/>
                      {% endif %}
                      </a>
                    </div>
                    <div class="mini-video-info">
                      <p class="mini-video-info__date">{{ recording.event.start|date:"n/j/Y" }}</p>
                      <h2 class="mini-video-info__title"><a href="{{ recording.event.get_absolute_url }}">{{ recording.event.title }}</a></h2>
                      <div class="mini-video-info__stats">
                          <p>Added:</p>
                          <p>Plays:</p>
                      </div>
                      <div class="mini-video-info__stats">
                          <p><span>{{ recording.date_added|date:"n/j/Y" }}</span></p>
                          <p><span>{{ recording.view_count }}</span></p>
                      </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          <a href="{% url "most_popular_audio" %}" class="video-audio__more-link">Full list of 30 most popular audio recordings</a>
          </div>

        </div>
      </section>
    </div>
{% endblock content %}