<div class="modal fade" id="buy-tickets-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <a href="#" class="close-button"></a>
      <div class="modal-body"> 

        <p class="title2 accent-color">Buy tickets for {{ event.venue.name }} ({{ session.availability.num_available }} available)</p>
        <p class="title3">{{ event.title }}</p>
        <p class="title2">{{ event.date | date:"D, M d" }}</p>
        <p id="ticket-name" class="title2"></p>
        <p id="ticket-price" class="title2 acent-color"></p>

        <p class="text5 text-grey">
          Good for this show only
        </p>
        <div>
          <button id="cancel-buy-tickets" class="white-border-button">Cancel</button>
          <button id="confirm-buy-tickets" class="white-border-button">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
