<div class="modal fade" id="buy-tickets-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="modal-body">
        {% if event.is_foundation %}
          <p class="title2 accent-color" tabindex="0">Sponsor Seats - SmallsLIVE Foundation</p>
        {% else %}
          <p class="title2 {{ event.get_venue_name|lower}}-color" tabindex="0">Reserved Seating for {{ event.get_venue_name }} Jazz <C> </C>lub </p>
        {% endif %}
        <p class="title2" tabindex="0">{{ event.date | date:"D, M d" }} <span id="ticket-time"></span> Show</p>
        <p id="ticket-name" class="title2" tabindex="0"></p>
        {% if event.is_foundation %}
          <p class="title2">Sponsorship Seats $<span id="ticket-price" tabindex="0"></span></p>
        {% else %}
          <p class="title2">Reserved seats are $<span id="ticket-price" tabindex="0"></span> for this show.</p>
        {% endif %}
        {% if event.is_foundation %}
          <p class="title2" tabindex="0"><span id="ticket-availability"></span> sponsorships(s) available</p>
          <p class="text9 text-center">Sponsorships are tax deductible donations to the SmallsLIVE Foundation</p>
        {% else %}
          <p class="title2 text-center" tabindex="0">There are <span id="ticket-availability"></span> Reserved Seat(s) available for this show</p>
          <p class="text4 text-center">
            A reserved seat guarantees your seat for this show.
          </p>
          <p class="text4 text-center">
            Please arrive at least 30 minutes early. Guests arriving after the start of the show are seated at the discretion of the management and risk losing their seats of being moved to another show.
          </p>
          <p class="text4 text-center">
            Walk-in price is only $<span id="walk-in-price"></span>. Walk-in space is limited. Please arrive early for walk-in without reservation.
          </p>
        {% endif %}
        <div>
          <button id="cancel-buy-tickets" class="white-border-button" tabindex="0">Cancel</button>
          <button id="confirm-buy-tickets" class="white-border-button" tabindex="0">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
