{% for date, events in dates.iteritems %}
  <div>
    <p class="title1">{{ date|date:"D n/j/Y" }}</p>
    <div>
      {% if events %}
        <div class="flex flex-column items-flex-stretch">
          {% for event in events %}
            <div class="event-info top-border">
              <div>{{ event.title }}</div>
              <div class="accent-color">{{ event.venue.name }}</div>
              <div class="text-grey">{{ event.start|date:"g:i A" }} &
                {{ event.end|date:"g:i A" }}</div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div>
          <h1>No events</h1>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
