<form action="{{ request.get_full_path }}">
    {{ form.content }}
    {{ form.errors.content }}
    {{ form.event_set }}
    <p> 
        <div class="flex-row">
        <input type="submit" class="white-border-button" value="Comment"  {% if not user.can_watch_video %}  href="#logIn" data-toggle="modal" {% endif %} />
        {% csrf_token %}
        {% if not request.user.is_authenticated %}
          <button class="white-border-button sign-in-button" href="#logIn" data-toggle="modal">
            Sign In
          </button>
        {% endif %}
        </div>
    </p>
  
</form>