<div class="event-row">
  {% for event in events %}
  <article class="event-display">
    {% include 'events/event_card.html' with event=event %}
    <div class="event-info">
      <div>
        <div>{{ event.title }}</div>
        {% if show_event_venue %}
          <div class="accent-color">{{ event.venue.name }}</div>
        {% endif %}
        {% if not hidde_event_date %}
        <div class="text-grey">{{ event.start|date:'m/d.Y' }}</div>
        {% endif %}
      </div>
    </div>
  </article>
  {% endfor %}
</div>
