{% extends "base_admin.html" %}
{% load crispy_forms_tags static thumbor_tags %}

{% block title %}Edit gig {{ event.title }} : {{ event.subtitle }} {% endblock %}

{% block extra_head %}
  {{ form.media }}
  <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/image-picker.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
  <h1>Edit gig: {{ event.title }} </h1>
  <div class="row">
    <div class="col-sm-7">
      <div class="alert alert-success">
        <p>Edit this event below, or <a href="#">clone it</a> to make a new one.</p>
      </div>
      <div class="alert alert-warning">
        <p><code>ToDo:</code>This event happened in the past. Be careful editing details.</p>
      </div>
      <form method="post" role="form" enctype="multipart/form-data">
          {% csrf_token %}
          {% crispy form %}
      </form>
    </div>
    <div class="col-sm-3">
      {% if event.photo %}
      <div class="well">
          <img src="{% thumbor_url event.photo.url|urlencode width=300 %}" class="img-responsive" />
      </div>
      {% endif %}
    </div>
  </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <ul>
      <li><code>1</code> draggable</li> 
    </ul>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static "js/event_form.js" %}"></script>
  <script src="{% static "js/image-picker.js" %}"></script>
  <script>
    var show_times = {{ show_times|safe }};
    $(document).ready(function() {
      EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
      EventForm.init();
      $('.imagepicker').imagepicker();
    });
  </script>
{% endblock extra_js %}