{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}{{ event.title }}{% endblock %}

{% block extra_head %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="SmallsLIVE"/>
  <meta property="og:title" content="{{ event.full_title }}"/>
  <meta property="og:description"
        content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}"/>
  {% if event.photo %}
    <meta property="og:image" content="https:{% thumbor_url event.photo.url|urlencode height=315 width=600 smart=True %}"/>
    <meta itemprop="image" content="https:{% thumbor_url event.photo.url|urlencode height=315 width=600 smart=True %}">
  {% endif %}
  <meta property="fb:app_id" content="{{ facebook_app_id }}"/>
  <meta itemprop="name" content="{{ event.full_title }}">
  <meta itemprop="description"
        content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}">
{% endblock %}

{% block home_content %}
  {% include 'events/tickets_dialog.html' %}

  <div class="flex-row wrap content-centered event-page-container">
    <div class="flex-column">
    {% if user.is_authenticated %}
      {% if event.is_live %}
         <div class="player-container">
           <div style="padding-bottom:56.25%; position:relative; display:block; width: 800px; height: 450px">
             <iframe id="UstreamIframe"
                     width="100%" height="100%"
                     src="https://www.ustream.tv/embed/23240575?html5ui"
                     frameborder="0"
                     style="position:absolute; top:0; left: 0" allowfullscreen
                     webkitallowfullscreen></iframe>
           </div>
         </div>
      {% elif event.is_future %}
        <div class="event-video-placeholder flex-column content-space-between">
          <span class="event-video-placeholder-picture" style="{% if event.photo %}
             {% include 'partials/thumbored_picture_style.html' with photo_url=event.photo.url crop_box=event.photo_crop_box %}
           {% else %}
             {% include 'partials/thumbored_picture_style.html' %}
           {% endif %}
         "></span>
          <div class="player-info flex-column content-space-between">
            <div>
              <div class="accent-color text2">{{ event.start|date:'m/d/Y' }}</div>
              <div class="title1">{{ event.title }}</div>
            </div>
            <div>
              <div class="accent-color text2">{{ event.venue }}</div>
              <div class="text4">Sets at {{ event.start|date:'h:i A' }} {% if event.end %}& {{ event.end|date:'h:i A' }}{% endif %}</div>
            </div>
          </div>
        </div>
      {% else %}
        {% if user.can_watch_video %}
          <div id="videoContainer" class="player-container">
            <div id="player-video"></div>
            <div class="player-info" id="playerTextOveraly">
              <div class="accent-color text2">
                {{ event.start|date:'m/d/Y' }}</div>
              <div class="title1">{{ event.title }}</div>
            </div>
          </div>
        {% else %}
          <div class="event-video-banner flex-column content-space-between items-center">
            <span class="event-banner-background"></span>
            <p class="text1 accent-color">Archive Access</p>
            <p class="title3">Become a supporter</p>
            <p class="text7">Access archive videos by becoming a Supporting Member. Your supporting pledge goes directly to your favorite artists and helps make SmallsLIVE possible through our SmallsLIVE Revenue Share. Supporting Members have unlimited access to our archive of nearly every concert performed at Smalls & Mezzrow with new concerts added weekly. By listening to your favorite artists in the archive you are getting them paid.</p>
            <button class="white-border-button" onclick="goToSupporter()">Become a Supporter</button>
          </div>
        {% endif %}
        {% if event.published_audio %}
          <div id="audioContainer" class="player-container" style="display:none;">
            <div id="player-audio"></div>
            <div class="player-info" id="playerTextOveraly">
              <div class="accent-color text2">{{ event.start|date:'m/d/Y' }}</div>
              <div class="title1">{{ event.title }}</div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% else %}
      <div class="event-video-banner flex-column content-space-between items-center">
        <span class="event-banner-background"></span>
        <p class="text1 accent-color">Live Stream Access</p>
        <p class="title3">Sign up</p>
        <p class="text7">Our live stream has expanded our 60 seat clubs into a worldwide community of jazz fans and supporters. Sign up for free to watch our live streams each night.</p>
        <button class="white-border-button register-button" onclick="showRegister()">Become a Member</button>
      </div>
    {% endif %}
      <div class="flex-row content-space-between">
        <div class="event-video-info flex-column">
          <div class="event-set-info">
            <div class="event-title title1">{{ event.title }}</div>
            {% if event.is_past %}
              <div class="accent-color text2">Set <span id="set-number">1</span></div>
              <div class="accent-color text2">
                {{ event.start|date:'m/d/Y' }}</div>
            {% endif %}
          </div>
          <div class="flex-column event-band">
            {% for gig_info in event.get_performers %}
              <div class="event-info-artist">
                <a href="{{ gig_info.artist.get_absolute_url }}"
                   class="artist-link">
                  {{ gig_info.artist.full_name }} / {{ gig_info.role }}
                </a>
              </div>
            {% endfor %}
          </div>
          <div id="video-set-buttons">
            <div class="button-row set-buttons" id="video-sets-list">
            </div>
          </div>
          <div id="audio-set-buttons" style="display: none;">
            <div class="button-row set-buttons" id="audio-sets-list">
            </div>
          </div>
        </div>
        <div class="event-player-buttons flex-column items-flex-stretch">

          {% if event.is_past %}
            <button class="white-border-button" id="togglePlayerAudio">
              Audio only player
            </button>
            <button class="white-border-button" id="togglePlayerVideo"
                    style="display: none">
              Video player
            </button>
          {% endif %}
          {% if not event.is_live and event.is_past %}
            <button class="white-border-button">Download for $9.99</button>
          {% elif not event.is_live and event.is_future %}
            <button class="white-border-button" onclick="showTickets()">Tickets</button>
          {% endif %}
        </div>
      </div>
      <div class="flex-row event-set-selector"></div>
    </div>
    <div class="flex-column event-side">
      <div class="event-streaming-tonigth">
      </div>
      <div class="event-related-videos">
        <div class="section-title section-flex">
          <div class="title1">Related videos</div>
        </div>
        <div>
          {% for related in related_videos%}
            <div class="flex-row related-video">
              {% include 'events/event_card.html' with event=related mini=True %}
              <div class="related-info flex-column content-centered items-center">
                <div class="flex-column">
                  <div class="text2 related-title">{{ related.title }}</div>
                  <div class="text2 text-grey">{{ related.start|date:'m/d/Y' }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
  var showRegister = function() {
    $('#becomeMemberDialog').modal('show');
  };

  var showTickets = function () {
    $('#ticketsDialog').modal('show');
  };

  var goToSupporter = function() {
    window.location = '{% url 'become_supporter' %}'
  };
  </script>
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  {% if user.is_authenticated %}
      <script>
        var playsCountSent = [];
        var activeTracker = null;
        function updateViewCount(player) {
          var id = player.getPlaylistItem(player.getPlaylistIndex()).mediaid;
          if (playsCountSent.indexOf(id) === -1) {
            playsCountSent.push(id);
            $.post('/multimedia/update_media_viewcount/', {
              recording_id: id,
              csrfmiddlewaretoken: '{{ csrf_token }}'

            });
          }
        }

        function updateSetText(textElement, currentItem, totalSets) {
          var setText = "Set " + currentItem + "/" + totalSets;
          $(textElement).text(setText);
        }

        {% if count_metrics %}
            var metricsSignedData = {{ metrics_signed_data|safe }};

            var pingMetricsServer = function(mediaId) {
                var data = {};
                data.signed_data = metricsSignedData[mediaId];
                data.csrfmiddlewaretoken = '{{ csrf_token }}';
                $.ajax({
                    url: "{{ metrics_server_url }}/metric/",
                    method: 'POST',
                    headers: {
                        "Authorization": "Token {{ user_token }}"
                    },
                    data: data,
                    xhrFields: {
                        withCredentials: true
                    }
                })
            };

            function setUpTimerForMedia(mediaId) {
                pingMetricsServer(mediaId);
                if (!activeTracker) {
                    activeTracker = window.setInterval(function () {
                                pingMetricsServer(mediaId);
                            }, {{ metrics_ping_interval }} * 1000
                    )
                }
            }
        {% endif %}

        {% if user.can_listen_to_audio and event.published_audio %}
          audioPlayer = jwplayer("player-audio").setup({
            primary: 'html5',
            playlist: [
              {% for audio in event.published_audio %}
                {
                  sources: [{
                    file: "{{ audio.media_file.get_file_url|safe }}",
                    type: "mp3"
                  }],
                  image: "{{ event.photo.url }}",
                  mediaid: {{ audio.id }}
                }{% if not forloop.last %},{% endif %}
              {% endfor %}
            ],
            width: "100%",
            height: 200
          });
          audioPlayer.on('play', function () {
            {% if user.can_watch_video and event.published_videos %}videoPlayer.pause(true);{% endif %}
            updateViewCount(this);
            {% if count_metrics %}
                if (! activeTracker) {
                    setUpTimerForMedia(this.getPlaylistItem(this.getPlaylistIndex()).mediaid);
                }
            {% endif %}
          });
          {% if count_metrics %}
              audioPlayer.on('pause', function() {
                  window.clearInterval(activeTracker);
                  activeTracker = null;
              });
          {% endif %}
          audioPlayer.on('ready', function () {
            var playlist = audioPlayer.getPlaylist();
            var playlistItems = "";
            $.each(playlist, function (index, item) {
              playlistItems += '<button class="';
              if (index === 0) {
                playlistItems += ' active';
              }
              playlistItems += '" data-playlist-index="' + index + '">Set ' + (index + 1) + '</button>';
            });
            $("#audio-sets-list").html(playlistItems);
          });

          $('#audio-sets-list').on('click', 'button', function () {
            var currentIndex = audioPlayer.getPlaylistIndex();
            var selectedIndex = $(this).data('playlist-index');
            audioPlayer.playlistItem(selectedIndex);
            $('#set-number').html(selectedIndex + 1);
            $(this).toggleClass('active');
            $('#audio-sets-list button[data-playlist-index=' + currentIndex + ']').toggleClass('active');
          });
        {% endif %}

        {% if user.can_watch_video and event.published_videos %}
            videoPlayer = jwplayer("player-video").setup({
                primary: 'html5',
                playlist: [
                    {% for video in event.published_videos %}{% if video.media_file.sd_video_file %}
                    {
                        sources: [{
                            file: "{{ video.media_file.get_sd_video_url|safe }}",
                            type: "mp4"
                        }],
                        mediaid: {{ video.id }},
                        image: "{{ event.photo.url }}"
                    }{% if not forloop.last %},{% endif %}
                    {% endif %}{% endfor %}
                ],
                skin: "https:{% static "jwplayer-skin/smalls.xml" %}",
                width: "100%",
                height: 450
            });
            videoPlayer.on('play', function () {
                audioPlayer.pause(true);
                updateViewCount(this);
                {% if count_metrics %}setUpTimerForMedia(this.getPlaylistItem(this.getPlaylistIndex()).mediaid);{% endif %}
                $('#playerTextOveraly').css('opacity', 0);
            });
              videoPlayer.on('pause', function() {
                {% if count_metrics %}
                  window.clearInterval(activeTracker);
                  activeTracker = null;
                {% endif %}
                  $('#playerTextOveraly').css('opacity', 1);
              });

              videoPlayer.on('ready', function () {
                var playlist = videoPlayer.getPlaylist();
                var playlistItems = "";
                $.each(playlist, function (index, item) {
                    playlistItems += '<button class="';
                    if (index === 0) {
                        playlistItems += ' active';
                    }
                    playlistItems += '" data-playlist-index="' + index + '">Set ' + (index + 1) + '</button>';
                });
                $("#video-sets-list").html(playlistItems);
            });

            $('#video-sets-list').on('click', 'button', function () {
                var currentIndex = videoPlayer.getPlaylistIndex();
                var selectedIndex = $(this).data('playlist-index');
                videoPlayer.playlistItem(selectedIndex);
                $('#set-number').html(selectedIndex + 1);
                $(this).toggleClass('active');
                $('#video-sets-list button[data-playlist-index=' + currentIndex + ']').toggleClass('active');
            });
        {% endif %}

        var togglePlayerAudio = $("#togglePlayerAudio");
        var togglePlayerVideo = $("#togglePlayerVideo");
        var audioContainer = $("#audioContainer");
        var videoContainer = $("#videoContainer");

        var togglePlayer = function () {
          $(videoContainer).toggle();
          $(audioContainer).toggle();
          $(togglePlayerAudio).toggle();
          $(togglePlayerVideo).toggle();
          $('#video-set-buttons').toggle();
          $('#audio-set-buttons').toggle();
        };
        togglePlayerAudio.on('click', togglePlayer);
        togglePlayerVideo.on('click', togglePlayer);
      </script>
  {% endif %}
    {% with album=event.products.first %}
        {% if album and album.tracks %}
            <script>
                var tracksPlayer = jwplayer("player-tracks").setup({
                    primary: 'html5',
                    playlist: [
                        {% for track in album.tracks.all %}
                            {% if track.preview %}
                                {
                                    sources: [{
                                        file: "{{ track.get_track_preview_url|safe }}",
                                        type: "mp3"
                                    }],
                                    mediaid: {{ track.id }}
                                }{% if not forloop.last %},{% endif %}
                            {% endif %}
                        {% endfor %}
                    ],
                    skin: "{% static "jwplayer-skin/smalls.xml" %}",
                    width: "100%",
                    height: 0
                });
                $(".playback-control").on('click', function (e) {
                    e.preventDefault();
                    if (tracksPlayer.getPlaylistIndex() == $(this).data('playlist-id')) {
                        tracksPlayer.pause();
                    } else {
                        tracksPlayer.playlistItem($(this).data('playlist-id'));
                        $('.playback-control i').removeClass('fa-pause').addClass('fa-play');
                    }
                    $(this).find('i').toggleClass('fa-play').toggleClass('fa-pause');
                });
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}
