{% extends "base_admin.html" %}
{% block title %}Edit Gig: %dateAndArtistandTitleHere%{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Edit gig:</h1>
  <div class="row">
    <div class="col-sm-7">
      <div class="alert alert-success">
        <p>Edit this event below, or <a href="#">clone it</a> to make a new one.</p>
      </div>
      <div class="alert alert-warning">
        <p>This event happened in the past. Be careful editing details.</p>
      </div>
      <form method="post" class="f-gig" role="form" enctype="multipart/form-data">
       
      </form>
    </div>
      </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <Ul>
      <li><code>1</code> draggable</li> 
    </Ul>
  </div>
{% endblock content %}
