{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block schedule_nav_active %}active{% endblock %}

{% block extra_head %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="SmallsLIVE" />
  <meta property="og:title" content="{{ event.full_title }}" />
  <meta property="og:description" content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}" />
  {% if event.photo %}
    <meta property="og:image" content="{% thumbor_url event.photo.url|urlencode height=315 width=600 smart=True %}" />
    <meta itemprop="image" content="{% thumbor_url event.photo.url|urlencode height=315 width=600 smart=True %}">
  {% endif %}
  <meta property="fb:app_id" content="{{ facebook_app_id }}" />
  <meta itemprop="name" content="{{ event.full_title }}">
  <meta itemprop="description" content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}">
{% endblock %}

{% block content %}

    <div class="content-wrapper">
        <section {% if not event.is_future %}{% if event.published_videos %}id="event-view-header"{% endif %}{% endif %} class="event-view__header {% if event.is_future %}future-event{% endif %} {% if not event.published_videos %}{% if not event.published_audio %}no-media{% endif %}{% endif %} container">
            <div class="event-view__header__info">
                <div class="event-view__header__bg-photo">
                    {% if event.photo %}
                        {% if event.photo_crop_box %}
                            <img src="{% thumbor_url event.photo.url|urlencode crop=event.photo_crop_box width=980 %}" alt="" class="event__img img-responsive"/>
                        {% else %}
                            <img src="{% thumbor_url event.photo.url|urlencode height=640 width=980 %}" alt="" class="event__img img-responsive"/>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="event-view__header__info__container {% if event.is_future %}no-track{% endif %}">
                    <div class="col-xs-12 col-sm-8 event-view__header__meta">
                        <span class="event-view__header__meta__time">{{ event.listing_date|date:"l, F j, Y" }}<span>|</span>{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</span>
                        <h1 class="event-view__header__meta__title">{{ event.title }}</h1>
                        <h3 class="event-view__header__meta__subtitle">{{ event.subtitle }}</h3>
                        {% if not event.is_future %}{% if not event.published_videos %}{% if not event.publiched_audio %}
                            <p class="event-view__header__meta__no-media visible-xs visible-sm">No media is currently available for this event.</p>
                        {% endif %}{% endif %}{% endif %}
                        <div class="event-view__share-social">
                            <h3 class="event-view__share-social__title">Share this event on:</h3>
                            <a href="https://www.facebook.com/dialog/share?app_id={{facebook_app_id}}&display=popup&href={{ request.build_absolute_uri|urlencode }}&redirect_uri={{ request.build_absolute_uri|urlencode }}"
                             class="btn social-btn social-btn--facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&text={{ "Check out "|urlencode }}{{ event.title }}{{ " show on SmallsLIVE:"|urlencode }}&hashtags=SmallsLIVE"
                              class="btn social-btn social-btn--twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter"></i></a>
                            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}" class="btn social-btn social-btn--google"
                           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        {% if event.published_videos %}
                            {% if user.can_watch_video %}
                                <div class="event-view__header__video-link__container playable">
                                    <span data-slickPosition="1" class="event-view__header__video-link playable">
                                        <i class="fa fa-play-circle event-view__header__video-link__icon"></i>
                                        <p>Play event video</p>
                                    </span>
                                </div>
                            {% else %}
                                {% if user.can_listen_to_audio %}
                                    <div class="event-view__header__video-link__container">
                                        <div class="event-view__header__video-link">
                                            <i class="fa fa-play-circle event-view__header__video-link__icon"></i>
                                            <p>Event video available</p>
                                            <p class="smaller">Upgrade to a premium account to gain access to event video streaming.</p>
                                            <a href="{% url "subscription_settings" %}" class="event-view__header__video-link__cta">Click to upgrade</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="event-view__header__video-link__container">
                                        <div class="event-view__header__video-link">
                                            <i class="fa fa-play-circle event-view__header__video-link__icon"></i>
                                            <p>Event video available</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if not event.is_future %}
                        {% if event.published_audio %}
                            {% if user.is_authenticated %}
                                {% if user.can_listen_to_audio %}
                                    <div class="col-xs-12 event-view__header__track">
                                        <div class="col-xs-12 col-sm-6 col-md-6 event-view__header__track__info">
                                            {% if event.published_videos %}
                                                <p>Listen to event audio recording:</p>
                                            {% else %}
                                                <p>No video available. Listen to event audio recording:</p>
                                            {% endif %}
                                        </div>
                                        <div id="player-audio" class="col-xs-12 col-sm-6 col-md-6 event-view__header__track__player">
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-xs-12 event-view__header__track">
                                        <div class="col-xs-12 event-view__header__track__info">
                                            <p class="not-allowed">Event audio (and video) are available only to users with basic (and premium) memberships.</p><a href="{% url "subscription_settings" %}" class="event-view__header__track__info__cta">Click to upgrade</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="col-xs-12 event-view__header__track">
                                    <div class="col-xs-12 event-view__header__track__info">
                                        <p class="not-allowed">Sign up to gain access to our vast archive of event audio and video recordings!</p><a href="{% url "signup_landing" %}" class="event-view__header__track__info__cta">Sign up!</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-xs-12 event-view__header__track hidden-xs hidden-sm">
                                <div class="col-xs-12 event-view__header__track__info">
                                    <p class="no-media">No event audio recording available.</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if user.can_watch_video %}
                {% if event.published_videos %}
                    <div class="event-view__header__video">
                        <div class="event-view__header__video__container">
                            <div class="event-view__header__video__close">
                                <i class="fa fa-chevron-circle-left event-view__header__video-link__icon"></i>
                                <p>Close<br>video</p>
                            </div>
                            <div id="player-video"></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </section>
        {% if event.description or request.user.is_staff %}
        <section class="event-view__details container">
            <div class="row">
                <div class="col-xs-12 event-view__details__description">
                    {% if event.description %}
                        <h3>Event description:</h3>
                        <p>{{ event.description|safe }}</p>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <div class="event-view__details__admin">
                            <a href="{% url "event_edit" pk=event.id slug=event.slug %}" class="event-view__details__admin__button button-edit">edit event</a>
                            <form action="{% url "event_clone" pk=event.id slug=event.slug %}" method="post">
                                {% csrf_token %}
                                <input class="event-view__details__admin__button button-clone" type="submit" value="Clone">
                            </form>
                            <span class="event-view__details__admin__id">
                                ID: {{ event.id }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endif %}
        <section class="event-view__artists container">
            <h3>Event artists:</h3>
            <div class="row event-view__artists__container">
            {% for gig_info in event.get_performers %}
                <div class="mini-artist col-xs-12 col-sm-6">
                    <div class="mini-artist__image">
                        {% if gig_info.artist.photo %}
                            <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% thumbor_url gig_info.artist.photo.url|urlencode height=80 width=80 smart=True %}" alt="{{ gig_info.artist.full_name }} photo"/></a>
                        {% else %}
                            <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% static 'image/no-artist-photo-thumbnail.jpg' %}" alt=""/></a>
                        {% endif %}
                    </div>
                    <div class="mini-artist-info">
                        <h2 class="mini-artist-info__title"><a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }}</a></h2>
                        <p class="mini-artist-info__instrument">{{ gig_info.role }}</p>
                        {% if gig_info.artist.biography %}
                            <p class="mini-artist-info__bio">{{ gig_info.artist.biography|striptags|truncatewords:28 }}</p>
                        {% else %}
                            <p class="mini-artist-info__bio unavailable">No artist biography available</p>
                        {% endif %}
                        <a class="mini-artist-info__button" href="{{ gig_info.artist.get_absolute_url }}">Artist profile</a><span class="arrow"></span>
                    </div>
                </div>
            {% empty %}
                <p class="artist-events__notice">There is no performer data available.</p>
            {% endfor %}
            </div>
        </section>
        <section class="event-tracks container">
            <div class="row event-tracks-header vcenter">
              <div class="col-xs-12">
                <h1 class="event-tracks-header__title">Buy tracks from this show</h1>
                <p class="event-tracks-header__text">You can buy indivital tracks from this show as digital downloads, so you
                  can listen to it in high quality on your devices even when you’re not online.</p>
              </div>
            </div>
            <div class="tracks-table-separator"></div>
            <div class="row tracks-table">
                <!--table header-->
                <div class="col-xs-12 tracks-table__header">
                    <div class="col-sm-1 col-xs-2 text-center">
                        <div class="hidden-xs">Preview</div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        Title
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        Composer
                    </div>
                    <div class="col-sm-1 hidden-xs text-center">
                        Duration
                    </div>
                    <div class="col-sm-1 hidden-xs text-center">
                        Price
                    </div>
                    <div class="col-sm-2 col-xs-5 text-center">

                    </div>
                </div>
                <!--end of table header-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-pause"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Wrap your troubles in dreams
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Ted Koehler
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center price vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        All too soon
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Duke Ellington
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Lullaby of the leaves
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Bernice Petkere
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Bess, you is my woman now
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        George Gershwin
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                   <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Gone with the wind
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Allie Wrubel
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        I can’t get started
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Vernon Duke
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
            </div>
        </section>
        <section class="buy-album container">
            <div class="row">
              <div class="col-sm-3 col-xs-12 text-center-xs vcenter">
                <h2 class="buy-album__cto-title">Buy the entire album:</h2>
                <p class="buy-album__description">Includes lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
              </div><!--
           --><div class="col-sm-3 col-xs-12 vcenter">
                <img src="http://placehold.it/220x195/232323/text=Album%20image" alt="" class="event__img img-responsive"/>
              </div><!--
           --><div class="col-sm-6 col-xs-12 text-center-xs vcenter">
                <h1 class="buy-album__title">The Ari Hoenig Quartet</h1>
                <p class="buy-album__description">CD / Digital Download</p>
                <p class="buy-album__price">$15,00</p>
                <div class="buy-button-container">
                    <a class="buy-album__button" href="">Buy album</a><span class="arrow"></span>
                </div>
              </div>
            </div>
        </section>
    </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
    <script>
      var playsCountSent = [];
      function updateViewCount(state) {
        var id = this.getPlaylistItem(this.getPlaylistIndex()).mediaid;
        if (playsCountSent.indexOf(id) === -1) {
          playsCountSent.push(id);
          $.post('/multimedia/update_media_viewcount/', {
            recording_id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}'

          });
        }
      }

      {% if user.can_listen_to_audio and event.published_audio %}
      jwplayer("player-audio").setup({
        primary: 'html5',
        playlist: [
          {% for audio in event.published_audio %}
            {
              sources: [{
                file: "{{ audio.media_file.get_file_url|safe }}"
              }],
              title: "{{ event.title }}: Set {{ audio.set_number }}",
              mediaid: {{ audio.id }}
            }{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        skin: "{% static "jwplayer-skin/smalls.xml" %}",
        width: "100%",
        height: 30
      });
      jwplayer('player-audio').onPlay(updateViewCount);
      {% endif %}

      {% if user.can_watch_video and event.published_videos %}
      jwplayer("player-video").setup({
        primary: 'html5',
        playlist: [
          {% for video in event.published_videos %}
            {
              sources: [{
                file: "{{ video.media_file.get_sd_video_url|safe }}"
              }],
              title: "{{ event.title }}: Set {{ video.set_number }}",
              mediaid: {{ video.id }}
            }{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        skin: "{% static "jwplayer-skin/smalls.xml" %}",
        width: "100%",
        height: 450
      });
      jwplayer('player-video').onPlay(updateViewCount);
      {% endif %}
    </script>
{% endblock %}