{% extends "home_new.html" %}
{% load crispy_forms_tags static %}

{% block title %}Add new event{% endblock title %}

{% block extra_head %}
  <script>
    var django = {jQuery: jQuery};
  </script>
  {{ form.media }}
  <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
  <div class="content-wrapper" style="border:none">
  <section class="admin-interface container">
  <h1 class="admin-interface__main-title">Add/Edit gig:</h1>
    <form method="post"  class="admin-interface__form" enctype="multipart/form-data">
      {% crispy form %}
      <div class="alert alert-warning">
        <div id="div_id_state" class="form-group">
          <label for="id_state" class="control-label">Add tickets to sets (create sets as needed)</label>

          <div class="controls ">
            {% for ticket_form in ticket_forms %}
              {% crispy ticket_form %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="buttonHolder">
            <input type="submit" name="submit" value="Save event" class="admin-interface__form__button" id="submit-id-submit">
      </div>
    </form>
    </section>
  </div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'js/event_form.js' %}"></script>
  <script>

    function checkTicketFormVisibility(element) {
      $full_form = $(element).parents(".form-group").next();
        if($(element).is(':checked')) {
          $full_form.show();
        } else {
          $full_form.hide();
        }
    }
    var show_times = {{ show_times|safe }};
    $(document).ready(function() {

      $toggle = $(".toggle");
      $toggle.click(function() {
        checkTicketFormVisibility(this)
      });
      checkTicketFormVisibility($toggle);
      EventForm.SITE_URL = "{{ request.META.HTTP_HOST }}";
      EventForm.init(true);

      // Ajax upload image
      $(document).on('change', 'form.admin-interface__form input[type="file"]', function () {
        var $form = $(this).closest('form');
        var data = new FormData($form.get(0));
        $('#div_id_photo img').toggleClass('hidden');
        $('#image-load-gif').toggleClass('hidden');
        $('#event_edit_modal').find('.modal-body').html('');
        $.ajax({
            url: "{% url 'upload_image_preview' %}",
            type: "POST",
            data: data,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
              if (data.success) {
                $('#div_id_photo img').attr('src', data.src);
                $('#div_id_photo img').toggleClass('hidden');
                $('#image-load-gif').toggleClass('hidden');
                $('#id_image_id').val(data.id);
                $('#div_id_cropping img').attr('src', data.src);
              }
            }
        });
      });

    });
  </script>
{% endblock %}