{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}{{ event.title }}{% endblock %}

{% block extra_head %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="SmallsLIVE" />
  <meta property="og:title" content="{{ event.full_title }}" />
  <meta property="og:description" content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}" />
  {% if event.photo %}
    <meta property="og:image" content="{% thumbor_url event.get_photo_url|urlencode height=315 width=600 smart=True %}" />
    <meta itemprop="image" content="{% thumbor_url event.get_photo_url|urlencode height=315 width=600 smart=True %}">
  {% endif %}
  <meta property="fb:app_id" content="{{ facebook_app_id }}" />
  <meta itemprop="name" content="{{ event.full_title }}">
  <meta itemprop="description" content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}">
{% endblock %}

{% block content %}

  <div class="content-wrapper">
    {% if user.can_watch_video %}
      {% if event.published_videos %}
        <section class="container">
          <div class="event-video row">
            <div id="player-video"></div>
            <div class="event-video__stats col-xs-12">
              <p>54:32 min // 1982 plays</p>
            </div>
          </div>
        </section>
      {% else %}
        <section class="cto cto--video-not-available container vertical-align-parent">
          <div class="vertical-align-child">
            <h1 class="cto__title">Video not available (yet)</h1>

            <p class="cto__text">The video for this performance can be made available if you request it.<br/>
              We had 181 request for this video so far.</p>
            <a href="" class="cto__button">Request video</a>
          </div>
        </section>
      {% endif %}
    {% endif %}
      <div class="event container">
        <div class="equal-heights row">
          <section class="event-artists col-md-6">
            {% if event.is_cancelled %}<span class="event__cancelled-ribbon">cancelled</span>{% endif %}
            <p class="event-heading__date">{{ event.listing_date|date:"l, F j, Y" }}</p>
            <p class="event-heading__timeslot">{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</p>
            <h1 class="event-heading__title">{{ event.title }} {% if request.user.is_staff %}(ID: {{ event.id }}){% endif %}</h1>
            <p class="event-heading__subtitle">{{ event.subtitle }}</p>

            <div class="artists">
              {% for gig_info in event.get_performers %}
              <div class="mini-artist">
                <div class="mini-artist__image">
                  {% if gig_info.artist.photo %}
                    <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% thumbor_url gig_info.artist.get_photo_url|urlencode height=80 width=80 smart=True %}" alt="{{ gig_info.artist.full_name }} photo"/></a>
                  {% else %}
                    <a href="{{ gig_info.artist.get_absolute_url }}"><img src="{% static 'image/no-artist-photo-thumbnail.jpg' %}" alt=""/></a>
                  {% endif %}
                </div>
                <div class="mini-artist-info">
                  <h2 class="mini-artist-info__title"><a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }}</a></h2>
                  <p class="mini-artist-info__instrument">{{ gig_info.role }}</p>
                  {% if gig_info.artist.biography %}
                    <p class="mini-artist-info__bio">{{ gig_info.artist.biography|striptags|safe|truncatewords:28 }}</p>
                  {% else %}
                    <p class="mini-artist-info__bio unavailable">No artist biography available</p>
                  {% endif %}
                  <a class="mini-artist-info__button" href="{{ gig_info.artist.get_absolute_url }}">Artist profile</a><span class="arrow"></span>
                </div>
              </div>
              {% empty %}
                <p class="artist-events__notice">There is no performer data available.</p>
              {% endfor %}
            </div>
          </section>
          <section class="event-description col-md-6">
            <div class="row">
                {% if event.photo %}
                  {% if event.photo_crop_box %}
                    <img src="{% thumbor_url event.get_photo_url|urlencode crop=event.photo_crop_box width=580 %}" alt="" class="event__img img-responsive"/>
                  {% else %}
                    <img src="{% thumbor_url event.get_photo_url|urlencode height=340 width=580 %}" alt="" class="event__img img-responsive"/>
                  {% endif %}
                {% endif %}
              </div>
            {% if user.is_superuser %}
            <div class="event-description__admin-buttons">
                <a href="{% url "event_edit" pk=event.id slug=event.slug %}" class="event-description__admin-buttons__edit">edit event</a>
                <form action="{% url "event_clone" pk=event.id slug=event.slug %}" method="post">
                    {% csrf_token %}
                    <input class="event-description__admin-buttons__clone" type="submit" value="Clone">
                </form>
            </div>
            {% endif %}
            <div class="event-description__text-block">
              {% if event.description %}
                <h1 class="event-description__title">Event description:</h1>
                    {{ event.description|safe }}
                {% endif %}
            </div>
            <div class="share-social">
                  <h2 class="share-social__title">Share this event on:</h2>
                  <a href="https://www.facebook.com/dialog/share?app_id={{facebook_app_id}}&display=popup&href={{ request.build_absolute_uri|urlencode }}&redirect_uri={{ request.build_absolute_uri|urlencode }}"
                     class="btn social-btn social-btn--facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&text={{ "Check out "|urlencode }}{{ event.title }}{{ " show on SmallsLIVE:"|urlencode }}&hashtags=SmallsLIVE"
                      class="btn social-btn social-btn--twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}" class="btn social-btn social-btn--google"
                   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                        class="fa fa-google-plus"></i></a>
              </div>
          </section>
        </div>
      </div>
      {% if user.can_listen_to_audio and event.published_audio %}
        <section class="cto cto--listen-to-show audio-player__container container vertical-align-parent">
          <div class="audio-player__text">
            <h1 class="cto__title">Listen to entire show</h1>
            <p class="cto__text">You can use the player below to listen to the entire show.</p>
          </div>
          <div id="player-audio" class="audio-player__player"></div>
        </section>
      {% endif %}

      {% comment %}
        {% if not request.GET.future %}
          <section class="event-tracks container">
            <div class="row event-tracks-header vcenter">
              <div class="col-xs-12">
                <h1 class="event-tracks-header__title">Buy tracks from this show</h1>
                <p class="event-tracks-header__text">You can buy indivital tracks from this show as digital downloads, so you
                  can listen to it in high quality on your devices even when you’re not online.</p>
              </div>
            </div>
            <div class="tracks-table-separator"></div>
            <div class="row tracks-table">
                <!--table header-->
                <div class="col-xs-12 tracks-table__header">
                    <div class="col-sm-1 col-xs-2 text-center">
                        <div class="hidden-xs">Preview</div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        Title
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        Composer
                    </div>
                    <div class="col-sm-1 hidden-xs text-center">
                        Duration
                    </div>
                    <div class="col-sm-1 hidden-xs text-center">
                        Price
                    </div>
                    <div class="col-sm-2 col-xs-5 text-center">

                    </div>
                </div>
                <!--end of table header-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-pause"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Wrap your troubles in dreams
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Ted Koehler
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center price vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        All too soon
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Duke Ellington
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Lullaby of the leaves
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Bernice Petkere
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Bess, you is my woman now
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        George Gershwin
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                   <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        Gone with the wind
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Allie Wrubel
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
                <!--single table row-->
                <div class="col-xs-12 tracks-table__row vcenter">
                    <div class="col-sm-1 col-xs-2 text-center vcenter">
                        <a href="#" class="playback-control"><i class="fa fa-play"></i></a>
                    </div><!--
                 --><div class="col-sm-4 col-xs-5 title vcenter">
                        I can’t get started
                    </div><!--
                 --><div class="col-sm-3 hidden-xs composer vcenter">
                        Vernon Duke
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        14:23
                    </div><!--
                 --><div class="col-sm-1 hidden-xs text-center duration vcenter">
                        $0.99
                    </div><!--
                 --><div class="col-sm-2 col-xs-5 text-center vcenter">
                        <div class="buy-button-container">
                            <a class="tracks-table__button" href="">Buy track</a><span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <!--end of single table row-->
            </div>
          </section>
          <section class="buy-album container">
            <div class="row">
              <div class="col-sm-3 col-xs-12 text-center-xs vcenter">
                <h2 class="buy-album__cto-title">Buy the entire album:</h2>
                <p class="buy-album__description">Includes lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
              </div><!--
           --><div class="col-sm-3 col-xs-12 vcenter">
                <img src="http://placehold.it/220x195/232323/text=Album%20image" alt="" class="event__img img-responsive"/>
              </div><!--
           --><div class="col-sm-6 col-xs-12 text-center-xs vcenter">
                <h1 class="buy-album__title">The Ari Hoenig Quartet</h1>
                <p class="buy-album__description">CD / Digital Download</p>
                <p class="buy-album__price">$15,00</p>
                <div class="buy-button-container">
                    <a class="buy-album__button" href="">Buy album</a><span class="arrow"></span>
                </div>
              </div>
            </div>
          </section>
      {% endif %}
      {% endcomment %}
    </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  <script>
    var playsCountSent = [];
    {% if count_metrics %}
      function updateViewCount(state) {
        var id = this.getPlaylistItem(this.getPlaylistIndex()).mediaid;
        if (playsCountSent.indexOf(id) === -1) {
          playsCountSent.push(id);
          $.post('/multimedia/update_media_viewcount/', {
            recording_id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          });
        }
      }
    {% endif %}

    {% if user.can_listen_to_audio and event.published_audio %}
      jwplayer("player-audio").setup({
        primary: 'html5',
        playlist: [
          {% for audio in event.published_audio %}
            {
              sources: [{
                file: "{{ audio.get_redirect_url|safe }}",
                type: "mp3"
              }],
              title: "{{ event.title }}: Audio set {{ audio.set_number }}",
              mediaid: {{ audio.id }}
            }{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        skin: "{% static "jwplayer-skin/smalls.xml" %}",
        {% if event.published_audio|length > 1 %}
        listbar: {
          position: "bottom",
          layout: 'basic',
          size: 90
        },
        {% endif %}
        width: "100%",
        height: 120
      });
      {% if count_metrics %}
        jwplayer('player-audio').onPlay(updateViewCount);
      {% endif %}
    {% endif %}

    {% if user.can_watch_video and event.published_videos %}
      jwplayer("player-video").setup({
        primary: 'html5',
        playlist: [
          {% for video in event.published_videos %} {% if video.media_file.sd_video_file %}
            {
              sources: [{
                file: "{{ video.get_redirect_url|safe }}",
                type: "mp4"
              }],
              title: "{{ event.title }}: Video set {{ video.set_number }}",
              mediaid: {{ video.id }}
            }{% if not forloop.last %},{% endif %}
            {% endif %}{% endfor %}
        ],
        skin: "{% static "jwplayer-skin/smalls.xml" %}",
        {% if event.published_videos|length > 1 %}
        listbar: {
          position: "bottom",
          layout: 'basic',
          size: 90
        },
        {% endif %}
        width: "100%",
        height: 450
      });
      {% if count_metrics %}
        jwplayer('player-video').onPlay(updateViewCount);
      {% endif %}
    {% endif %}
  </script>
{% endblock %}