{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load thumbnail %}
{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}{{ event.title }}{% endblock %}

{% block extra_head %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="SmallsLIVE"/>
  <meta property="og:title" content="{{ event.full_title }}"/>
  <meta property="og:description"
        content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}"/>
  {% if event.photo %}
    <meta property="og:image" content="https:{% thumbor_url event.photo.url|urlencode height=315 width=600 smart=True %}"/>
    <meta itemprop="image" content="https:{% thumbor_url event.photo.url|urlencode height=315 width=600 smart=True %}">
  {% endif %}
  <meta property="fb:app_id" content="{{ facebook_app_id }}"/>
  <meta itemprop="name" content="{{ event.full_title }}">
  <meta itemprop="description"
        content="{{ event.listing_date|date:"l, F j, Y" }} {{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}">
{% endblock %}

{% block content %}

  <div class="content-wrapper">
    <section {% if not event.is_future %}{% if event.published_videos %}id="event-view-header"{% endif %}{% endif %}
             class="event-view__header {% if event.is_future %}future-event{% endif %}
                     {% if not event.published_videos %}{% if not event.published_audio %}no-media{% endif %}{% endif %} {% if not event.published_videos %}{% if event.published_audio %}audio-only{% endif %}{% endif %} container">
      <div class="event-view__header__info">
        <div class="event-view__header__bg-photo-cover" style="background-image: url('{% if event.photo %}{% if event.photo_crop_box %}{% thumbor_url event.photo.url|urlencode crop=event.photo_crop_box width=600 %}{% else %}{% thumbor_url event.photo.url|urlencode height=360 width=600 smart=True %}{% endif %}{% else %}{% static "image/no-event-image-placeholder.jpg" %}{% endif %}');"></div>
        <div class="event-view__header__info__container {% if event.is_future %}no-track{% endif %}">
          <div class="col-xs-12 col-sm-8 event-view__header__meta">
            <span class="event-view__header__meta__time">{{ event.listing_date|date:"l, F j, Y" }}<span>|</span>{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</span>
            <h1 class="event-view__header__meta__title">{{ event.title }}</h1>
            <h3 class="event-view__header__meta__subtitle">{{ event.subtitle }}</h3>
            <div class="event-view__share-social">
              <h3 class="event-view__share-social__title">Share this event on:</h3>
              <a href="https://www.facebook.com/dialog/share?app_id={{ facebook_app_id }}&display=popup&href={{ request.build_absolute_uri|urlencode }}&redirect_uri={{ request.build_absolute_uri|urlencode }}"
                 class="btn social-btn social-btn--facebook"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                      class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&text=
                      {{ "Check out "|urlencode }}{{ event.title }}{{ " show on SmallsLIVE:"|urlencode }}&hashtags=SmallsLIVE"
                 class="btn social-btn social-btn--twitter"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                      class="fa fa-twitter"></i></a>
              <a href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}"
                 class="btn social-btn social-btn--google"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                      class="fa fa-google-plus"></i></a>
            </div>
          </div>
          {% if event.is_past %}
            {% if event.published_videos or event.published_audio %}
              {% if user.is_authenticated %}
                {% if user.can_watch_video %}
                  {% if event.published_videos %}
                    <div class="col-xs-12 col-sm-4 event-view__header__video-link__container playable">
                      <span data-slickPosition="1" class="event-view__header__video-link playable">
                        <i class="fa fa-play-circle event-view__header__video-link__icon"></i>
                        <p>Play event video</p>
                      </span>
                    </div>
                  {% else %}
                      {% if event.video_status == 'blocked' %}
                        <div class="col-xs-12 col-sm-4 event-view__header__video-link__container">
                          <div class="event-view__header__video-link">
                            <p>The artist has made this event video private.</p>
                          </div>
                        </div>
                      {% else %}
                        <div class="col-xs-12 col-sm-4 event-view__header__video-link__container">
                          <div class="event-view__header__video-link">
                            <p>There is currently no video available for this event.</p>
                          </div>
                        </div>
                      {% endif %}
                  {% endif %}
                {% else %}
                  <div class="col-xs-12 col-sm-4 event-view__header__video-link__container">
                    <div class="event-view__header__video-link">
                      <i class="fa fa-play-circle event-view__header__video-link__icon"></i>
                      <p>Event media available</p>
                      <p class="smaller">Upgrade your SmallsLIVE membership for unlimited access to our Audio/Video Archive.</p>
                      <a href="{% url "subscription_settings" %}" class="event-view__header__video-link__cta">Click to
                        upgrade</a>
                    </div>
                  </div>
                {% endif %}
              {% else %}
                <div class="col-xs-12 col-sm-4 event-view__header__video-link__container">
                  <div class="event-view__header__video-link">
                    <i class="fa fa-play-circle event-view__header__video-link__icon"></i>
                    <p>Event media available</p>
                    <p class="smaller">Upgrade your SmallsLIVE membership for unlimited access to our Audio/Video Archive.</p>
                    <a href="{% url "signup_landing" %}" class="event-view__header__video-link__cta">Sign up</a>
                  </div>
                </div>
              {% endif %}
            {% else %}
              {% if event.audio_status == 'blocked' or event.video_status == 'blocked' %}
                <div class="col-xs-12 col-sm-4 event-view__header__video-link__container">
                  <div class="event-view__header__video-link">
                    <p>This event media is private at the request of the artist.</p>
                  </div>
                </div>
              {% else %}
                <div class="col-xs-12 col-sm-4 event-view__header__video-link__container">
                  <div class="event-view__header__video-link">
                    <p>There is currently no media available for this event.</p>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% if event.is_past %}
          {% if user.can_watch_video %}
            {% if event.published_audio %}
              <div class="col-xs-12 event-view__header__track audio-available">
                <div class="col-xs-12 col-sm-6 col-md-4 event-view__header__track__info">
                  <p>Listen to event audio:</p>
                </div>
                <div id="player-audio" class="col-xs-12 col-sm-6 col-md-5 event-view__header__track__player">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 event-view__header__track__playlist">
                  <img class="player-control-icon" id="audio-control_prev" src="{% static 'image/player-control/controller-prev.svg' %}" alt="Previous set">
                  <span class="player-control-current" id="audio-control__current">Set</span>
                  <img class="player-control-icon" id="audio-control_next" src="{% static 'image/player-control/controller-next.svg' %}" alt="Next set">
                </div>
              </div>
            {% else %}
                {% if event.audio_status == 'blocked' %}
                  <div class="col-xs-12 event-view__header__track audio-available">
                    <div class="col-xs-12 event-view__header__track__info">
                      <p>Artist has made this event audio private.</p>
                    </div>
                  </div>
                {% elif event.published_videos %}
                  <div class="col-xs-12 event-view__header__track audio-available">
                    <div class="col-xs-12 event-view__header__track__info">
                      <p>There is currently no audio available for this event.</p>
                    </div>
                  </div>
                {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      {% if user.can_watch_video %}
        {% if event.published_videos %}
          <div class="event-view__header__video">
            <div class="event-view__header__video__container">
              <div class="event-view__header__video__close">
                <i class="fa fa-chevron-circle-left event-view__header__video-link__icon"></i>
                <p>Close<br>video</p>
              </div>
              <div id="player-video"></div>
              <div class="col-xs-12 col-sm-6 col-md-3 event-view__header__video__playlist">
                <span class="event-view__header__video__playlist__heading">Event playlist</span>
                <ul id="video-sets-list">
                  <li class="event-view__header__video__playlist__item active">Set 1 <span class="duration">48:23</span>
                  </li>
                  <li class="event-view__header__video__playlist__item">Set 2 <span class="duration">48:23</span></li>
                  <li class="event-view__header__video__playlist__item">Set 3 <span class="duration">48:23</span></li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </section>
    {% if event.description or request.user.is_staff %}
      <section class="event-view__details container">
        <div class="row">
          <div class="col-xs-12 event-view__details__description">
            {% if event.description %}
              {% comment %}<h3>Event description:</h3>{% endcomment %}
              <p>{{ event.description|safe }}</p>
            {% endif %}
            {% if request.user.is_staff %}
              <div class="event-view__details__admin">
                <a href="{% url "event_edit" pk=event.id slug=event.slug %}"
                   class="event-view__details__admin__button button-edit">edit event</a>
                <form action="{% url "event_clone" pk=event.id slug=event.slug %}" method="post">
                  {% csrf_token %}
                  <input class="event-view__details__admin__button button-clone" type="submit" value="Clone">
                </form>
                            <span class="event-view__details__admin__id">
                                ID: {{ event.id }}
                            </span>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
    {% endif %}
    <section class="event-view__artists container">
      {% comment %}<h3>Event artists:</h3>{% endcomment %}
      <div class="row event-view__artists__container">
        {% for gig_info in event.get_performers %}
          <div class="mini-artist col-xs-12 col-sm-6">
            <div class="mini-artist__image">
              {% if gig_info.artist.photo %}
                <a href="{{ gig_info.artist.get_absolute_url }}"><img
                        src="{% thumbor_url gig_info.artist.photo.url|urlencode height=80 width=80 smart=True %}"
                        alt="{{ gig_info.artist.full_name }} photo"/></a>
              {% else %}
                <a href="{{ gig_info.artist.get_absolute_url }}"><img
                        src="{% static 'image/no-artist-photo-thumbnail.jpg' %}" alt=""/></a>
              {% endif %}
            </div>
            <div class="mini-artist-info">
              <h2 class="mini-artist-info__title"><a
                      href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }}</a></h2>
              <p class="mini-artist-info__instrument">{{ gig_info.role }}</p>
              {% if gig_info.artist.biography %}
                <p class="mini-artist-info__bio">{{ gig_info.artist.biography|striptags|truncatewords:28 }}</p>
              {% else %}
                <p class="mini-artist-info__bio unavailable">No artist biography available</p>
              {% endif %}
              <a class="mini-artist-info__button" href="{{ gig_info.artist.get_absolute_url }}">Artist profile</a><span
                    class="arrow"></span>
            </div>
          </div>
        {% empty %}
          <p class="artist-events__notice">There is no performer data available.</p>
        {% endfor %}
      </div>
    </section>
    {% with album=event.products.first %}
    {% if album %}
        <section class="event-tracks container">
            <div class="row event-tracks-header vcenter">
              <div class="col-xs-12">
                <h1 class="event-tracks-header__title">Buy tracks from this show</h1>
                <p class="event-tracks-header__text">You can buy individual tracks from this show as digital downloads, so you
                  can listen to it in high quality on your devices even when you’re not online.</p>
              </div>
            </div>
            <div class="tracks-table-separator"></div>
            {% if album.tracks %}
                <div style="width: 1px; height: 1px; position: absolute; top: -9999px; left: -9999px;">
                    <div id="player-tracks"></div>
                </div>
                <!-- tracks table -->
                  <div class="event__tracks-table row">
                    <!-- tracks table header -->
                    <div class="event__tracks-table__header row">
                      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 event__tracks-table__column preview">
                        <div class="hidden-xs hidden-sm">Preview</div>
                      </div>
                      <div class="col-xs-5 col-sm-3 col-md-2 col-lg-4 event__tracks-table__column title">
                        Title
                      </div>
                      <div class="hidden-xs hidden-sm col-md-2 col-lg-2 event__tracks-table__column composer">
                          Composer
                      </div>
                      <div class="hidden-xs hidden-sm col-md-2 col-lg-1 event__tracks-table__column duration">
                        Duration
                      </div>
                      <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 event__tracks-table__column price">
                        Mp3 / HD
                      </div>
                      <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 event__tracks-table__column buy-track">

                      </div>
                    </div>
                    <!-- end of tracks table header -->
                    {% for track in album.tracks.all %}
                      <!-- tracks table row -->
                      <div class="event__tracks-table__row row">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 event__tracks-table__column preview">
                          {% if track.preview %}
                            <a href="#" class="playback-control" data-playlist-id="{{ forloop.counter0 }}"><i class="fa fa-play"></i></a>
                          {% endif %}
                        </div>
                        <div class="col-xs-5 col-sm-3 col-md-2 col-lg-4 event__tracks-table__column title">
                          {{ track.title }}
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 event__tracks-table__column composer">
                          {{ track.attr.composer }}
                        </div>
                        <div class="hidden-xs hidden-sm col-md-2 col-lg-1 event__tracks-table__column duration">
                          {{ track.attr.duration }}
                        </div>
                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 event__tracks-table__column price">
                          {% if track.get_track_stockrecord and track.get_track_stockrecord.price_excl_tax %}${{ track.get_track_stockrecord.price_excl_tax }}{% else %}-{% endif %} / {% if track.get_hd_track_stockrecord and track.get_hd_track_stockrecord.price_excl_tax %}${{ track.get_hd_track_stockrecord.price_excl_tax }}{% else %}-{% endif %}
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 event__tracks-table__column buy-track">
                            {% if track.get_track_stockrecord or track.get_hd_track_stockrecord %}
                                <div class="buy-button-container">
                                  <a class="tracks-table__button" data-toggle="dropdown" aria-expanded="false" href="">Buy track <i
                                        class="fa fa-caret-down"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                {% if track.get_track_stockrecord %}
                                  <li>
                                    {% basket_form request track 'single' as basket_form %}
                                    <form id="add_to_basket_form" action="{% url 'basket:add' pk=track.pk  %}" method="post" class="add-to-basket">
                                      {% csrf_token %}
                                      {{ basket_form.quantity }}
                                      {{ basket_form.child_id }}
                                      <input type="hidden" name="stockrecord_id" value="{{ track.get_track_stockrecord.id }}"/>
                                      <input type="submit" value="Buy mp3 (${{ track.get_track_stockrecord.price_excl_tax }})">
                                    </form>
                                  </li>
                                {% endif %}
                                {% if track.get_hd_track_stockrecord %}
                                  <li>
                                    {% basket_form request track 'single' as basket_form %}
                                    <form id="add_to_basket_form" action="{% url 'basket:add' pk=track.pk  %}" method="post" class="add-to-basket">
                                      {% csrf_token %}
                                      {{ basket_form.quantity }}
                                      {{ basket_form.child_id }}
                                      <input type="hidden" name="stockrecord_id" value="{{ track.get_hd_track_stockrecord.id }}"/>
                                      <input type="submit" value="Buy HD (${{ track.get_hd_track_stockrecord.price_excl_tax }})">
                                    </form>
                                  </li>
                                {% endif %}
                              </ul>

                          </div>
                            {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                    <!-- end of tracks table row -->
                  </div>
                  <!-- end of tracks table -->
            {% endif %}

        </section>
        <section class="buy-album container">
            <div class="row">
              <div class="col-sm-3 col-xs-12 text-center-xs vcenter">
                <h2 class="buy-album__cto-title">Buy the entire album:</h2>
                <p class="buy-album__description">{{ album.short_description|safe }}</p>
              </div><!--
           --><div class="col-sm-3 col-xs-12 vcenter">
                {% with image=album.primary_image %}
                    {% if not image.is_missing %}
                      <a href="{{ product.get_absolute_url }}"><img src="{% thumbor_url image.original.url|urlencode height=195 width=220 smart=True %}" alt="{{ product.get_title }}" class="event__img img-responsive"></a>
                    {% else %}
                      <a href="{{ product.get_absolute_url }}"><img src="{% static "image/image_not_found.jpg" %}" alt="{{ product.get_title }}" class="event__img img-responsive"></a>
                    {% endif %}
                {% endwith %}
              </div><!--
           --><div class="col-sm-6 col-xs-12 text-center-xs vcenter">
                {% purchase_info_for_product request album as session %}
                <h1 class="buy-album__title">{{ album.title }}</h1>
                <p class="buy-album__description">CD / Digital Download</p>
                {% if session.price.exists %}
                    {% if session.price.excl_tax == 0 %}
                        <p class="buy-album__price">{% trans "Free" %}</p>
                    {% elif session.price.is_tax_known %}
                        <p class="buy-album__price">{{ session.price.incl_tax|currency:session.price.currency }}</p>
                    {% else %}
                        <p class="buy-album__price">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                    {% endif %}
                {% else %}
                    <p class="buy-album__price">&nbsp;</p>
                {% endif %}
                <form id="add_to_basket_form" action="{% url 'basket:add' pk=album.pk  %}" method="post" class="add-to-basket">
                  {% if session.availability.is_available_to_buy %}
                    {% basket_form request album 'single' as basket_form %}
                    <div class="store-add-large buy-album__add">
                        {% csrf_token %}
                        {{ basket_form.quantity }}
                        {% if basket_form.fields.child_id.choices %}
                          <select class="store-add-large__options" name="child_id">
                              {% for item_value, item_name in basket_form.fields.child_id.choices %}
                                <option value="{{ item_value }}">{{ item_name }}</option>
                              {% endfor %}
                          </select>
                          <div class="arrow-button-container"><button type="submit" class="store-add-large__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                        {% else %}
                          {{ basket_form.child_id }}
                          <div class="arrow-button-container"><button type="submit" class="store-add-large__button">Add to cart</button><span class="arrow"></span></div>
                        {% endif %}
                    </div>
                  {% endif %}
                </form>
              </div>
            </div>
        </section>
    {% endif %}
    {% endwith %}
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  {% if user.is_authenticated %}
      <script>
        var playsCountSent = [];
        var activeTracker = null;
        function updateViewCount(player) {
          var id = player.getPlaylistItem(player.getPlaylistIndex()).mediaid;
          if (playsCountSent.indexOf(id) === -1) {
            playsCountSent.push(id);
            $.post('/multimedia/update_media_viewcount/', {
              recording_id: id,
              csrfmiddlewaretoken: '{{ csrf_token }}'

            });
          }
        }

        function updateSetText(textElement, currentItem, totalSets) {
          var setText = "Set " + currentItem + "/" + totalSets;
          $(textElement).text(setText);
        }

        {% if count_metrics %}
            var metricsSignedData = {{ metrics_signed_data|safe }};

            var pingMetricsServer = function(mediaId) {
                var data = {};
                data.signed_data = metricsSignedData[mediaId];
                data.csrfmiddlewaretoken = '{{ csrf_token }}';
                $.ajax({
                    url: "{{ metrics_server_url }}/metric/",
                    method: 'POST',
                    headers: {
                        "Authorization": "Token {{ user_token }}"
                    },
                    data: data,
                    xhrFields: {
                        withCredentials: true
                    }
                })
            };


            function setUpTimerForMedia(mediaId) {
                pingMetricsServer(mediaId);
                if (!activeTracker) {
                    activeTracker = window.setInterval(function () {
                                pingMetricsServer(mediaId);
                            }, {{ metrics_ping_interval }} * 1000
                    )
                }
            }
        {% endif %}

        {% if user.can_listen_to_audio and event.published_audio %}
          audioPlayer = jwplayer("player-audio").setup({
            primary: 'html5',
            playlist: [
              {% for audio in event.published_audio %}
                {
                  sources: [{
                    file: "{{ audio.media_file.get_file_url|safe }}",
                    type: "mp3"
                  }],
                  title: "{{ event.title }}: Set {{ audio.set_number }}",
                  mediaid: {{ audio.id }}
                }{% if not forloop.last %},{% endif %}
              {% endfor %}
            ],
            skin: "https:{% static "jwplayer-skin/smalls.xml" %}",
            width: "100%",
            height: 30
          });
          audioPlayer.onPlay(function () {
            {% if user.can_watch_video and event.published_videos %}videoPlayer.pause(true);{% endif %}
            updateViewCount(this);
            {% if count_metrics %}
                if (! activeTracker) {
                    setUpTimerForMedia(this.getPlaylistItem(this.getPlaylistIndex()).mediaid);
                }
            {% endif %}
          });
          {% if count_metrics %}
              audioPlayer.onPause(function() {
                  window.clearInterval(activeTracker);
                  activeTracker = null;
              });
          {% endif %}
          audioPlayer.onReady(function (olds) {
            var currentItem = audioPlayer.getPlaylistIndex() + 1;
            var totalItems = audioPlayer.getPlaylist().length;
            updateSetText('#audio-control__current', currentItem, totalItems);
          });

          $('#audio-control_next').on('click', function () {
            var playlistLength = audioPlayer.getPlaylist().length;
            var currentIndex = audioPlayer.getPlaylistIndex();
            // if current item is last, do nothing
            if (currentIndex !== playlistLength - 1) {
              var nextItemIndex = (currentIndex + 1) % playlistLength;
              audioPlayer.playlistItem(nextItemIndex);
              updateSetText('#audio-control__current', nextItemIndex + 1, playlistLength);
            }
          });

          $('#audio-control_prev').on('click', function () {
            var playlistLength = audioPlayer.getPlaylist().length;
            var currentIndex = audioPlayer.getPlaylistIndex();
            if (currentIndex !== 0) {
              var nextItemIndex = (currentIndex - 1);
              audioPlayer.playlistItem(nextItemIndex);
              updateSetText('#audio-control__current', nextItemIndex + 1, playlistLength);
            }
          });
        {% endif %}

        {% if user.can_watch_video and event.published_videos %}
            videoPlayer = jwplayer("player-video").setup({
                primary: 'html5',
                playlist: [
                    {% for video in event.published_videos %}{% if video.media_file.sd_video_file %}
                    {
                        sources: [{
                            file: "{{ video.get_redirect_url|safe }}",
                            type: "mp4"
                        }],
                        title: "{{ event.title }}: Set {{ video.set_number }}",
                        mediaid: {{ video.id }}
                    }{% if not forloop.last %},{% endif %}
                    {% endif %}{% endfor %}
                ],
                skin: "https:{% static "jwplayer-skin/smalls.xml" %}",
                width: "100%",
                height: 450
            });
            videoPlayer.onPlay(function () {
                audioPlayer.pause(true);
                updateViewCount(this);
                {% if count_metrics %}setUpTimerForMedia(this.getPlaylistItem(this.getPlaylistIndex()).mediaid);{% endif %}
            });
            {% if count_metrics %}
              videoPlayer.onPause(function() {
                  window.clearInterval(activeTracker);
                  activeTracker = null;
              });
            {% endif %}
            videoPlayer.onReady(function () {
                var playlist = videoPlayer.getPlaylist();
                var playlistItems = "";
                $.each(playlist, function (index, item) {
                    playlistItems += '<li class="event-view__header__video__playlist__item';
                    if (index === 0) {
                        playlistItems += ' active';
                    }
                    playlistItems += '" data-playlist-index="' + index + '">Set ' + (index + 1) + '</li>';
                });
                $("#video-sets-list").html(playlistItems);
            });

            $('#video-sets-list').on('click', 'li', function () {
                var currentIndex = videoPlayer.getPlaylistIndex();
                var selectedIndex = $(this).data('playlist-index');
                videoPlayer.playlistItem(selectedIndex);
                $(this).toggleClass('active');
                $('li[data-playlist-index=' + currentIndex + ']').toggleClass('active');
            });
        {% endif %}
      </script>
  {% endif %}
    {% with album=event.products.first %}
        {% if album and album.tracks %}
            <script>
                var tracksPlayer = jwplayer("player-tracks").setup({
                    primary: 'html5',
                    playlist: [
                        {% for track in album.tracks.all %}
                            {% if track.preview %}
                                {
                                    sources: [{
                                        file: "{{ track.get_track_preview_url|safe }}",
                                        type: "mp3"
                                    }],
                                    mediaid: {{ track.id }}
                                }{% if not forloop.last %},{% endif %}
                            {% endif %}
                        {% endfor %}
                    ],
                    skin: "{% static "jwplayer-skin/smalls.xml" %}",
                    width: "100%",
                    height: 0
                });
                $(".playback-control").on('click', function (e) {
                    e.preventDefault();
                    if (tracksPlayer.getPlaylistIndex() == $(this).data('playlist-id')) {
                        tracksPlayer.pause();
                    } else {
                        tracksPlayer.playlistItem($(this).data('playlist-id'));
                        $('.playback-control i').removeClass('fa-pause').addClass('fa-play');
                    }
                    $(this).find('i').toggleClass('fa-play').toggleClass('fa-pause');
                });
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}