{% extends "home_new.html" %}
{% load crispy_forms_tags static %}

{% block title %}Add Jazz Cultural Photo{% endblock title %}

{% block extra_head %}
  <link href="{% static 'css/selectize.bootstrap3.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
<div class="content-wrapper" style="border:none">
  <section class="admin-interface container">
    <h1 class="admin-interface__main-title">Add Jazz Cultural Photo:</h1>
    <form action="/" method="post">
      {% csrf_token %}
      {% crispy form %}

      <button type="submit" style="padding:10px 20px; font-size:16px; cursor:pointer;">
        Save Photo
      </button>
    </form>
  </section>
</div>
{% endblock content %}