{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block livestream_nav_active %}active{% endblock %}

{% block content %}
    <div class="content-wrapper">
    {% if not user.is_authenticated %}
      <section class="cto cto--video-not-available container vertical-align-parent">
        <div class="vertical-align-child">
            <h1 class="cto__title">Logged in users only</h1>

            <p class="cto__text">To view our live stream you need to be logged in.<br/>
              If you still don't have an account on SmallsLIVE, you can easily create it - the basic account that allows you to watch our live stream is free!
            </p>
            <a href="{% url "account_signup" %}" class="cto__button">Sign up!</a>
        </div>
      </section>
    {% endif %}
      <section class="container">
        <div class="live-stream row">
        {% if user.is_authenticated %}
          <div class="bw-wrapper" style="height: 480px">
            <iframe class="live-stream__player" width="720" height="480"
                    src="http://smallslive.live-s.cdn.bitgravity.com:1935/content:cdn-live/smallslive/secure/live/multibitrate.smil?e=1423210977&amp;h=0e4558f0844e201c4fa50ac50007e285&amp;bgsecuredir=1&amp;height=480&amp;width=720&amp;DefaultRatio=1.33&amp;VideoFit=stretch&amp;BufferTime=4" frameborder="0"
                    allowfullscreen></iframe>
          </div>
        {% endif %}
          <div class="live-stream__header col-xs-12">
            {% if events and events.0.has_started %}<p class="live-stream__title">Live now:</p>{% endif %}
            <p class="live-stream__title--no-show" {% if events and events.0.has_started %}style="display:none;"{% endif %}>There’s no live show currently going on. Next show starts at {{ show_next_day.start|date:"g:i A" }} EST.</p>
          </div>
        </div>
        {% if events and events.0.has_started %}
        <div class="live-stream-info equal-heights row">
          <div class="live-stream-current col-xs-12 col-md-6">
            {% with current_event=events.0 %}

            <h1 class="live-stream-current__title"><a href="{{ current_event.get_absolute_url }}">{{ current_event.title }}</a></h1>
            <p class="live-stream-current__date">{{ current_event.start|date:"g:i A" }} - {{ current_event.end|date:"g:i A" }}</p>
            <p class="live-stream-current__sidemen">
              {% for gig_info in current_event.get_performers %}
                <a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }} <span class="event-details__instrument">({{ gig_info.role }})</span></a>{% if not forloop.last %}  // {% endif %}
              {% endfor %}
            </p>
            <a href="{{ current_event.get_absolute_url }}" class="live-stream-current__button">Full event page</a><span class="arrow"></span>
            {% endwith %}
          </div>
          <div class="coming-up col-xs-12 col-md-6">
            <h2 class="coming-up__title">Coming up:</h2>
            <div class="events">
              <p class="coming-up__no-events">No upcoming events for today.</p>
              {% for upcoming_event in events|slice:"1:" %}
                  <div class="mini-event" data-end-time="{{ upcoming_event.end.isoformat }}">
                    <div class="mini-event__image">
                      {% if upcoming_event.photo %}
                        <a href="{{ upcoming_event.get_absolute_url }}"><img src="{% thumbor_url upcoming_event.photo.url|urlencode height=80 width=80 smart=True %}" alt=""/></a>
                      {% else %}
                        <a href="{{ upcoming_event.get_absolute_url }}"><img src="http://placehold.it/80x80/232323/232323&text=Event%20image" alt=""/></a>
                      {% endif %}
                    </div>
                    <div class="mini-event-info" data-end-time="{{ current_event.end }}">
                      <p class="mini-event-info__date">{{ upcoming_event.start|date:"g:i A" }} - {{ upcoming_event.end|date:"g:i A" }}</p>
                      <a href="{{ upcoming_event.get_absolute_url }}"><h2 class="mini-event-info__title">{{ upcoming_event.title }} {{ upcoming_event.subtitle }}</h2></a>
                       <p class="mini-event-info__sidemen">
                        {% for gig_info in upcoming_event.get_performers %}
                          <a href="{{ gig_info.artist.get_absolute_url }}">{{ gig_info.artist.full_name }} <span class="mini-event-info__instrument">({{ gig_info.role }})</span></a>{% if not forloop.last %}  // {% endif %}
                        {% endfor %}
                      </p>
                      <a class="mini-event-info__button" href="{{ upcoming_event.get_absolute_url }}">Go to event</a><span
                            class="arrow"></span>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      </section>
    </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/live-stream.js" %}"></script>
  <script>
    {% if events and events.0.has_started %}
        LiveStream.init("{{ events.0.start.isoformat }}", "{{ events.0.end.isoformat }}");
    {% endif %}
  </script>
{% endblock %}