{% extends "home_new.html" %}
{% load static from staticfiles %}
{% load addurlparameter %}

{% block schedule_nav_active %}active{% endblock %}

{% block title %}Calendar{% endblock %}

{% block extra_head %}

{% endblock %}

{% block home_content %}
<main class="calendar">
  <div class="container home-about">
    <div class="title1">About Smallslive</div>
    <p class="text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p class="text2">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="event-stripe">
    {% include 'events/today_and_tomorrow.html' with custom_venue_style=True calendar_page=True%}
  </div>
  {% include 'events/upcoming_calendar.html' with upcoming=True show_extend_date=True show_event_venue=False hide_play=True day_list=day_list new_date=new_date %}
</main>{% endblock home_content %}

{% block extra_js %}
<script>

  $(document).ready(function () {
  
    $("#calendar-club-filter ~ .select-selected").css("padding: 1em 30px;")

  });

  var eventOrderFilter = 'oldest';
  var show_event_venue = true;
  var show_event_setTime = true;
  var $datePickerFrom = $("#search-date-picker-calendar > input");
  var datePickerFromDate = '{{ default_from_date }}';
  var $datePickerTo = null;
  var datePickerToDate = null;
  var setFromDate = true;
  var setToDate = false;
  var datePickerLeft = 222;
  var datePickerTop = 42;
  var is_upcoming = true;
  var upcomingEventDateFrom = new Date();
  var defaultFromDate = '{{ default_from_date }}';
  var defaultToDate;
</script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/search/search.js' %}"></script>
{% endblock extra_js %}
