{% extends "smalls_base.html" %}
{% load static from staticfiles %}

{% block schedule_nav_active %}active{% endblock %}

{% block content %}
<div class="content-wrapper">

    <section class="cto cto--schedule container vertical-align-parent">
        <div class="vertical-align-child">
            <h1 class="cto__title">SmallsLIVE schedule</h1>
            <p class="cto__text">Browse our schedule or use the date selector before to quickly jump to a month that interests you.</p>
            <div id="schedule__date-picker">
                <input class="schedule-cto__button cto__button" type="text" readonly>
            </div>
        </div>
    </section>

    <!-- flexbox solution -->
    <section class="schedule flex container">
        <div class="schedule__nav flex col-xs-6 col-md-3">
          {% if prev_url %}
          <a href="{{ prev_url }}">
            <div class="flex-center">
                <div class="icon">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="text">
                    {% if month_view %}
                        <span>View</span> previous<br>month
                    {% else %}
                        <span>View</span> previous<br>14 days
                    {% endif %}

                </div>
            </div>
          </a>
        {% endif %}

        </div>
        {% for date, events in dates.iteritems %}
        <div class="day flex col-xs-6 col-md-3"
             data-position={{ forloop.counter|add:"1" }} data-date="{{ date|date:"n/j/Y" }}"
          <h2 class="day__date">{{ date|date:"l" }} // {{ date|date:"n/j/Y" }}</h2>
          {% if events %}
              <dl>
                {% for event in events %}
                  <dt class="day__event-time">{{ event.start|date:"g:i A" }} - {{ event.end|date:"g:i A" }}</dt>
                  <dd class="day__event-title">{{ event.title }}</dd>
                {% endfor %}
              </dl>
          {% else %}
          <h3>No events today.</h3>
          {% endif %}
        </div>
        {% endfor %}
        <div class="schedule__nav flex col-xs-6 col-md-3" data-position=16>
          <a href="{{ next_url }}">
            <div class="flex-center">
                <div class="text">
                    {% if month_view %}
                        <span>View</span> next<br>month
                    {% else %}
                        <span>View</span> next<br>14 days
                    {% endif %}
                </div>
                <div class="icon">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
          </a>
        </div>
    </section>

</div>
{% endblock content %}

{% block extra_js %}
  <script>
  var date = new Date("{{ year}}-{{ month }}-1");
  console.log(date);
  $datePicker.datepicker("setDate", date);
  </script>
{% endblock extra_js %}