{% load static from staticfiles %}
<a href="{{ event.get_absolute_url }}" style="display: flex; align-items: center;" aria-label="{{ event.get_date|date:'m/d/Y' }}, {{ event.title }}">
  <div class="
      {% if not mini  %}
        {% if not secondary %}
        event-card
        {% else %}
        event-card-secondary
        {% endif %}
      {% else %}
        event-card-small
      {% endif %}">
    <div class="event-picture-container">
      <div class="picture-border">
        <div class="event-picture">
          <!--  <div class="img-overlay"></div> -->
          {% if event.get_photo_url %}
            {% include 'partials/thumbored_picture.html' with photo_url=event.get_photo_url photo_name=event.get_photo_name_with_bucket height="300" width="300" %}
          {% else %}
            {% include 'partials/thumbored_picture.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if show_time or next_up or current_event %}
      <div class="event-dates links1">
          <span class="accent-box{% if not event.is_live %} hidden{% endif %}{% if next_up %} next-up{% endif %}{% if current_event %} current-event{% endif %}">Live Now</span>
          <span class="{% if event.is_live %} hidden{% endif %}{% if next_up %} next-up{% endif %}{% if current_event %} current-event{% endif %}">{{ event.get_set_hours_display }}</span>
      </div>
    {% endif %}
  </div>
  {% if side_info %}
    <div class="related-info flex-column content-centered">
      <div class="flex-column">
        <div class="text1 related-title">{{ related.title }}</div>
        <div class="text1 text-grey">{{ related.get_date|date:'m/d/Y' }}</div>
        {% if show_venue_on_side %}
          <div class="accent-color text-uppercase">
            <strong class="{{ related.get_venue_name|lower }}-color">{{ related.get_venue_name }} {% if request.user.is_staff and related.state == "Draft"%} - Draft {% endif %}</strong>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="event-info new {% if upcoming %}{% endif %}">
    <div>
      <div class="{% if not show_event_venue %} margin-bottom{% endif %}">{{ event.get_date|date:'m/d/Y' }}</div>
        {% if show_event_venue %}
          <div class="{{ event.get_venue_name|lower}}-color ">{{ event.get_venue_name }}</div>
        {% endif %}
      <div class="event-info-title">{{ event.title }} </div>
            {% if request.user.is_staff and event.state == "Draft" %}
      <div class="{{ event.get_venue_name|lower}}-color event-venue">{{ event.state }}</div>
    {% endif %}
    </div>
  </div>
  {% if upcoming %}
    <div class="event-info calendar">
      <div>
        {% if not hidde_event_date %}
          <div class="text-grey">{{ event.get_date|date:'m/d/Y' }}</div>
        {% endif %}
        <div class="event-info-title">{{ event.title }} ssss</div>
        {% if show_event_venue %}
          <div class="{{ event.get_venue_name|lower}}-color">{{ event.get_venue_name }} {% if show_extend_date %} <span class="text-grey extend-date">{{ event.get_set_hours_display }}</span> {% endif %}{% if request.user.is_staff and event.state == "Draft"%} - Draft {% endif %}}</div>
        {% endif %}
     </div>
    </div>
  {% endif %}
</a>
