<div class="modal fade" id="streamingNotAvailableDialog"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog medium">
    <div class="modal-content custom-modal">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        {% if not event.streamable %}
          <p class="title2 accent-color nowrap">This event will not be live streamed at the request of the artist</p>
        {% elif sets %}
          <p class="title2 accent-color nowrap">This event will be streaming live {% if not event.is_today %} on {{ event.date|date:"m/d/Y" }} {% endif %} at {{ sets.0.start|time:"g:iA" }}</p>
        {% else %}
          <p class="title2 accent-color nowrap">Streaming for this event will be available 15 minutes before it begins</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var $streamingDialog = $('#streamingNotAvailableDialog');
    var $streamingCloseButton = $($streamingDialog.find('.close-button')[0]);
    $streamingCloseButton.click(function () {
      $streamingDialog.modal('hide');
    });
  });
</script>
