<div class="modal fade" id="ticketsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">Purchase Tickets</p>
          {% if event.tickets_url %}
            <p class="title3">Available from {{ event.get_venue_name|capfirst }}</p>
            <a href="{{ event.tickets_url }}" target="_blank" rel="noreferrer">
              <button class="white-border-button">Buy from {{ event.get_venue_name|capfirst }}</button>
            </a>
          {% else %}
            <p class="title3">Advance Tickets are not available for this show.</p>

          {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ticketsSoldOutDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">Sold Out</p>
        <p class="title3">All the tickets for this show have been sold out.
        </p>
        <p class="text9 justified-text text">
          There is a limited number of walk-ins available if you would like to get to the venue early and sign up on the list.
          You can also purchase for another set.
        </p>
      </div>
    </div>
  </div>
</div>
