<div class="modal fade" id="tickets-sold-out-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2" tabindex="0">ALL RESERVATIONS ARE SOLD FOR THIS SET</p>
        <p class="text9">Depending on availability you can simply walk-in on any show without
          an advanced ticket for a discounted price. The walk-in price is $25. This
          $25 music charge is added to your bar bill. There is a required one-
          drink minimum per person per set. There are 15 additional seats
          available for every show after the reservations are sold-out. We
          recommend arriving early before the set for a walk-in ticket as they go
          fast. Our advanced tickets are seated first and then our walk-ins. Walk-
          ins are generally seated 10 minutes before the set starts.
        </p>
      </div>
    </div>
  </div>
</div>
