<div class="modal fade" id="ticketsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-body">
        <p class="title2 accent-color">Tickets</p>
        <p class="title3">Tickets not available</p>
        <p class="text4 text-grey">
          Smalls is a first come first served establishment. There are no advanced tickets. Arrive no later than 30 min prior to the desired set time to purchase entry at the door
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('click', function () {
    $('#ticketsDialog').hide();
  })
</script>
