{% load static from staticfiles %}
{% load thumbor_tags %}
{% load common_tags %}
{% load i18n %}

<section class="event-stripe {% if calendar_page %}calendar {% else %}home {% endif %}live">
  <div class="section-title clubs {% if calendar_page %}calendar {% else %}home {% endif %}flex-row">
    <div class="title1">
      {% if calendar_page %}
        Today + Tomorrow <span class="date-separator">\</span>
      {% else %}
      Live <span class="at-the-clubs">at the clubs</span> tonight <span class="home date-separator">/</span>
      {% endif %}
    </div>

    <div class="title1 home date">  {% if calendar_page %} {% get_today_and_tomorrow_dates '%a' %}  {% else %} {% now 'D b d' %} {% endif %} 
       <span class="text-center">Click on an event to purchase tickets</span>
    </div>
    {% if not calendar_page %}
      <a href='/events/calendar/' class="white-border-button">Full calendar</a>
    {% endif %}
  </div>
  <main style="position: relative;">
    <div class="slick-slide-btn prev today-and-tomorrow-arrow today-left">
      <b class="indicator-icon icon-left-caret"></b>
    </div>
    <div class="slick-slide-btn next today-and-tomorrow-arrow today-right">
      <b class="indicator-icon icon-right-caret"></b>
    </div>

    {% if calendar_page %}
      {% include 'events/tonight_events_home.html' with events=events_today show_date=True hide_event_date=True show_event_venue=True custom_venue_style=custom_venue_style %}
    {% else %}
      {% include 'events/tonight_events_home.html' with events=events_today show_date=False hide_event_date=True show_event_venue=True custom_venue_style=custom_venue_style %}
    {% endif %}
  </main>
</section>
