<div class="event-row">
  {% for event in events %}
  <article class="event-display-today-and-tomorrow"> {% include 'events/tonight_event_card.html' with event=event secondary=secondary hide_play=True%}
    <div class="event-info">
              {% if show_event_venue %}
          <div class="{{ event.venue.name|lower}}-color">Live at {{ event.venue.name }}</div>
        {% endif %}
        <div class="text-grey">Setst at {{ event.get_set_hours_display}}</div>
        <p class="event-info-title">{{ event.title }}</p>
        <div class="artists">
          {% for gig in event.artists_gig_info.all %}
          <a href="http://localhost:3000/search/?artist_pk={{ gig.artist.pk }}">

                {{ gig.artist }} / {{ gig.role }}</a>
          {% endfor %}
        </div>
    </div>
  </article> 
  {% endfor %}
</div>
