<div class="event-section">
  <div class="shows-filter-container">
    <div class="white-border-select event-filter-select">
      <select id="events-filter">
        <option value="newest">Newest to oldest</option>
        <option value="oldest">Oldest to newest</option>
        <option value="popular">Most popular</option>
      </select>
    </div>

    <div class="custom-date-picker" id="search-date-picker" style="float: left">
      <input class="date-picker-text" type="text" placeholder="date" readonly>
      <i class="fa fa-caret-down"></i>
    </div>

    <div class="white-border-select club-filter-select" style="margin-right: 8px;">
      <select id="club-filter">
        <option value="smallslive">SmallsLIVE</option>
        <option value="mezzrow">Mezzrow</option>
      </select>
    </div>

  </div>
</div>
