{% load static from staticfiles %}
{% load thumbor_tags %}
{% load common_tags %}
{% load i18n %}

<section id="shows{% if archived %}Archived{% else %}Upcoming{% endif %}Content"
         class="search-tab-content {% if archived %}archived{% else %}upcoming{% endif %} {{ archived|yesno:',shows-calendar' }} "
         data-toggle-tab="{% if archived %}archived{% else %}upcoming{% endif %}-shows"
         data-toggle-tab-group="search-results"{% if placeholder %} style="display:none;"{% endif %}>
  {% if archived or upcoming %}
   <div class="musicians-results flex-row">
      <div class="section-title home" style="width: 950px;     background-size: 900px 5px;">
          <div class="title1">
              Upcoming Shows <span class="date-separator">/</span>
          </div>
          <div class="header-sub title1">{{ upcoming_dates.first|date:'D M d Y' }} - {{ upcoming_dates.last|date:'D M d Y' }}</div>
      </div>
      <div class="white-border-select club-filter-select">
        <select id="club-filter">
            <option value="all">All</option>
          {% for venue in venues %}
            <option value="{{venue.pk}}">{{venue.name}}</option>
          {% endfor %}
        </select>
      </div>
  </div> 
  {% endif %}
  {% if archived %}
      {% include 'events/archived_filters.html' with default_to_date=default_to_date %}
  {% endif %}
  <div class="flex-row upcoming-schedule">
    <div class="flex-row upcoming-datepicker">
      <div  class="datepicker-container noclick" style="display:block;     top: 0 !important;">
          <div class="custom-date-picker" id="search-date-picker-calendar">
              <input id="upcoming-datepicker" class="date-picker-text" type="text" placeholder="Select date" readonly disabled>
          </div>
      </div>
    </div>
    {% include 'search/upcoming_calendar_dates.html' with day_list=day_list %}
    <div class="white-border-button">Load more</div>
  </div>
  {% comment %} <main id="events" class="events-results {{ archived|yesno:',events-calendar' }}">
    {% include 'search/event_search_result.html' with show_extend_date=show_extend_date upcoming=upcoming events=event_results show_event_venue=show_event_venue secondary=True hide_play=hide_play %}
  </main> {% endcomment %}

  <div class="concerts-footer flex-column items-center">
    {% if last_page != actual_page %}
        <button id="load-more-{% if archived %}archived{% else %}upcoming{% endif %}-btn"
                class="white-border-button load-more-btn"
                onclick="loadMoreEvents('{% if archived %}Archived{% else %}Upcoming{% endif %}')">
          <span>Load More</span>
        </button>
    {% endif %}
    <div id="event-load-gif" class="loading-image events-gif">
        <img src="{% static 'image/loading.gif' %}" alt="">
    </div>
  </div>
</section>

<div id="myNav" class="refine-overlay">

  <div class="refine-overlay-menu white-line-bottom">
    <div><a href="javascript:void(0)" class="closebtn">&times;</a></div>
    <div class="calendar-refine-menu-item text1">Refine</div>
    <div class="refine-apply calendar-refine-menu-item text1">Apply</div>
  </div>

    <div class="refine-overlay-content">
      <p class="calendar-refine-title title1">Duration</p>
      <div class="white-border-select event-filter-select calendar-duration">
          <select id="refine-period-filter">
            <option value="All Upcoming">All Upcoming</option>
            <option value="One Day">One Day</option>
            <option value="One Week">One Week</option>
            <option value="One Month">One Month</option>
          </select>
        </div>

        <p class="calendar-refine-title title1">Date Range</p>
        <div class="refine-datepicker-container">
            <div class="custom-date-picker search-date-picker-from-refine" id="search-date-picker-from-refine">
                <input class="date-picker-text" type="text" placeholder="Select date" readonly>
            </div>
    
            <div class="custom-date-picker" id="search-date-picker-to-refine">
                <input class="date-picker-text" type="text" placeholder="Select date" readonly>
            </div>
        </div>

        <p class="calendar-refine-title title1">Club</p>

        <span class="btngroup">
          {% for venue in venues %}
              <button class="btngroup--btn" value="{{venue.pk}}">{{venue.short_name}}</button>
          {% endfor %}
          <button value="all" class="btngroup--btn">All</button>
        </span>

        <div class="reset-all text2 text-grey">Reset All</div>
    </div>
  </div>


  <script src="{% static 'js/viewport-lenght-for-ios.js' %}"></script>
<script>
console.log("a")
 $(window).on('load', function () {
    $("#upcoming-datepicker").click()

  })
</script>
  