<div class="event-section">
  <div class="shows-filter-container">
    
    <div class="white-border-select club-filter-select" style="margin-right: 8px;">
      <select id="club-filter">
          <option value="all">Club</option>
        {% for venue in venues %}
          <option value="{{venue.pk}}">{{venue.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="datepicker-container noclick">
        <div class="custom-date-picker" id="search-date-picker-calendar">
            <input class="date-picker-text" type="text" placeholder="Select date" readonly>
        </div>
    </div>

    <div class="datepicker-btn white-border-button caret hover-fade">Date</div>

    <div class="white-border-select event-filter-select">
        <select id="period-filter">
          <option value="All Upcoming">All Upcoming</option>
          <option value="One Day">One Day</option>
          <option value="One Week">One Week</option>
          <option value="One Month">One Month</option>
        </select>
      </div>


  </div>
</div>
