{% load static from staticfiles %}
{% load thumbor_tags %}
{% load common_tags %}
{% load i18n %}

<section class=" new-calendar search-tab-content {% if archived %}archived{% else %}upcoming{% endif %} {{ archived|yesno:',shows-calendar' }} "
         data-toggle-tab="{% if archived %}archived{% else %}upcoming{% endif %}-shows"
         data-toggle-tab-group="search-results"{% if placeholder %} style="display:none;"{% endif %}>
  <div id="new-calendar">
  {% if archived or upcoming %}
    <div class="musicians-results flex-row" style="margin-top: 40px; flex-wrap: wrap;">
      <div class="section-title home" style="width: 950px; background-size: 900px 5px; margin-right: -3.5vw;">
        <div class="title1">
            Upcoming Shows <span class="date-separator">/</span>
        </div>
        <div class="header-sub title1">{{ upcoming_dates.first|date:'D M d Y' }} - {{ upcoming_dates.last|date:'D M d Y' }}</div>
      </div>
      <div style="padding-left: 3.5vw; position: relative;">
        <div class="white-border-select club-filter-select" style="display: inline-block; width: 150px;">
          <select id="calendar-club-filter">
            <option value="all">All</option>
            {% for venue in venues %}
              <option value="{{venue.pk}}">{{venue.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="datepicker-container noclick">
          <div class="custom-date-picker" id="search-date-picker-calendar">
            <input class="date-picker-text" type="text" placeholder="Select date" readonly>
          </div>
        </div>
        <div class="datepicker-btn white-border-button caret hover-fade upcoming" style="display: inline-block; width: 150px;">Date</div>
      </div>
    </div>
  {% endif %}
    <div class="flex-row upcoming-schedule calendar-hiding-4">
      {% include 'search/upcoming_calendar_dates.html' with day_list=day_list %}
      <input  type="hidden" id="load-more-calendar" data-starting-date="{{ upcoming_dates.last|date:'Y-m-d' }}" data-venue="all" class="white-border-button">
    </div>
  </div>
</section>

<script src="{% static 'js/viewport-lenght-for-ios.js' %}"></script>
<script>

  $(window).on('load', function () {
    $("#upcoming-datepicker").click();
  });

  function getCalendarAjax(calendarDate, days, filtered, venue="all") {
    var data = {'days': days, 'venue': venue};
    if (calendarDate) {
      data['starting_date'] = calendarDate;
    }
    $.ajax({
      url: '/search/upcoming-ajax/',
      data: data,
      dataType: "json",
      success: function (data) {
        if (filtered)  {
          $(".flex-row.upcoming-schedule").addClass("calendar-hiding-4")
          $(".flex-column.day-list").remove()
          $(".upcoming-schedule").find(".flex-row.upcoming-datepicker").last().after(data.template)
        } else {
          $(".upcoming-schedule").find(".flex-column.day-list").last().after(data.template)
        }
        $("#load-more-calendar").data("starting-date", data.new_date);
      },
      error: function(err) {
        console.log(err);
      }
    });
  }

  $(window).scroll(function () {
    if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
      $loadMore = $("#load-more-calendar");
      var startDate = $loadMore.data("starting-date");
      var venue  = $loadMore.data("venue");
      getCalendarAjax(startDate, 15, false, venue);
    };
  });

  $("#calendar-club-filter").change(function () {
    $("#load-more-calendar").data("venue", $(this).find("option:selected").val());
    getCalendarAjax(null, 12, true, $(this).find("option:selected").val());
  });

</script>
  