{% extends "base.html" %}
{% load static %}
{% block bodyclass %}event{% endblock bodyclass %}
{% block extra_css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock extra_css %}
{% block extra_js %}
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/js/jQuery.jPlayer.2.6.0/jquery.jplayer.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#jquery_jplayer_1").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          m4v: "http://orchestrotica.com/media/kit2009/index_files/Andalucia_HD.mp4",
          poster: "http://orchestrotica.com/media/kit2009/index_files/poster_andalucia.jpg"
        });
      },
      size: {
  			width: "100%", 
  			cssClass: "video-player-controls"
  		},
      swfPath: "/static/js/jQuery.jPlayer.2.6.0/",
      supplied: "m4v",      
  		smoothPlayBar: true,
  		keyEnabled: true,
  		remainingDuration: true,
  		toggleDuration: true
    });
  });
  </script>
  {# start FB like #}   
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=235621183164222&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>   
  {# start twitter sharer #} 
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock extra_js %}
{% comment %}
sample thumbors:
      <img src="{% thumbor_url event.photo.url|urlencode width=100 height=100 smart=True %}" class="headshot" /> <!-- 100x100 with smart crop (should detect faces) -->
      <img src="{% thumbor_url event.photo.url|urlencode width=200 %}" class="200w" width="200w_proportional"/> <!-- width=200 height=proportional -->
      <img src="{% thumbor_url event.photo.url|urlencode width=200 height="orig" %}" class="200w_original" width="200"/> <!-- width=200 height=original-->
      <img src="{% thumbor_url event.photo.url|urlencode width=300 fit_in=True %}" class="300w" /> <!-- resizes larger to 300, otherwise keep the original width, must be proportional-->
      {{ event.description }}
{% endcomment %}
{% load thumbor_tags %}
{% block title %}{{ event.title }} - {{ event.start }} in NYC w/ {{ event.performers.all|join:", " }}{% endblock title %}
{% block content %}
<div class="page-header">
  <h1>
    {% if request.GET.islive %}
      <span class="label label-primary">Live Now</span>
    {% endif %}
    {{ event.title }}
    <small><time>{{ event.start }}</time></small>
    {% if user.is_superuser %}
      <small><a href="{% url "event_edit" pk=event.id %}">Edit this event</a></small>
    {% endif %}
  </h1>
  <div>   
    <div class="socials">
      <div class="fb-like" data-href="http://myurl" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="250"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="smallsjazzclub" data-related="smallsjazzclub">Tweet</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    {% if not request.GET.isfuture %}
      {% if request.GET.mediaUnavailable %}
        <div class="alert alert-info">Video for this show is being processed and will be available here soon.</div>
        {% if event.photo %}
          <div class="well" style="text-align:center;padding:8em 8em">    
            <img src="{{ event.photo.url }}"  />
          </div>
        {% endif %}
      {% else %}
        {% if request.GET.hascd %}  
          <div class="cd">
           <img src="{% thumbor_url 'http://beta.asoundstrategy.com/sitemaster/userUploads/site372/SL0039_PETERBERNSTEIN1.jpg'|urlencode width=130 height=130 smart=True %}" class="pull-left img-responsive" /> 
            <h6>This event was recorded as an album:</h6>
            <h4 class="text-primary"><a href="https://slstore.herokuapp.com/en-us/catalogue/peter-bernstein_42/">Peter Bernstein: Solo Guitar</a></h4>
            <p class="text-muted">Released in Jan, 2007. Available formats: CD, FLAC/WAV download</p>
            <p><a href="https://slstore.herokuapp.com/en-us/catalogue/peter-bernstein_42/" class="btn btn-primary btn-sm" role="button">Buy Album / Singles</a>
          </div>
        {% endif %}
        <div class="video-player">
          <div id="jquery_jplayer_1"></div>
          <div id="jp_container_1">
            <a href="#" class="jp-video-full pull-right"><span class="glyphicon glyphicon-fullscreen"></span></a>
            <a href="#" class="jp-play"><span class="glyphicon glyphicon-play"></span></a>
            
            <a href="#" class="jp-pause"><span class="glyphicon glyphicon-pause"></span></a>
            <span class="run-time">0:00:00 / <span class="total">1:30:00</span></span>
          </div>
        </div>         
      {% endif %}
    {% endif %}
    <div class="event-main-container {% if request.GET.isfuture %}future{% endif %}">
      {% if event.photo and request.GET.isfuture %}  
        <img src="{{ event.photo.url }}" class="img-responsive event-photo"  />
      {% endif %}
      {% if event.subtitle or event.description or event.link %}
        <div class="event-meta">
          {% if event.subtitle %}
            <p>{{ event.subtitle }} {% if event.description and not request.GET.isfuture %}  <a href="" class="trigger-show-event-description">More info...</a> {% endif %}</p>
          {% endif %}
          {% if event.description %}
            <div class="description {% if not request.GET.isfuture %}none{% endif %}"> 
              {{ event.description|safe }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      {# start track list #}
      {% if request.GET.hastracks %}
        <h4>(7) Downloads available from this video:</h4>
      {% endif %}
      {% if request.GET.hascd %}  
        <h4>Buy Tracks from the <a class="album" href="https://slstore.herokuapp.com/en-us/catalogue/peter-bernstein_42/">Album</a></h4>
      {% endif %}
      {% if request.GET.hastracks or request.GET.hascd %}
        
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Song</th>
            <th>Composer</th>
            <th>Length</th>
            <th>Price</th>
            <th>Video cue <code>1</code></th>
          </tr>
        </thead>
        <tbody>
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          <tr> 
            <td><a href=""><span class="glyphicon glyphicon-play"></span></a></td>
            <td>{ # }. { songtitle }</td>
            <td>{ composer }</td>
            <td>{ 0:00 }</td>
            <td><a class="btn btn-xs primary" href="" role="button">Download <code>2</code></a></td>
            <td>{ n/a or x:xx } </td>
          </tr>          
        </tbody>
      </table>
      {# end track list #}
      {% endif %}
      {# start musician list #}
      <p>
        <a href="" class="trigger-favorite-video btn btn-primary btn-xs">
          <span class="glyphicon glyphicon-star"></span> Favorite
        </a>
        <a href="{% url "artist_detail" pk=event.leader.id %}" class="btn btn-xs btn-default">#2 in  {{ event.leader.first_name }}'s videos</span></a> 
        <a href="/static_page/search/" class="btn btn-default btn-xs">#134 video overall</a>

      </p>
      <h4 class="text-muted">featuring:</h4> 
      <div class="clearfix">
        {% for artist_info in performers %}
          <div class="sideman">
            <a href="{% url "artist_detail" pk=artist_info.artist.id %}">
            {% if artist_info.artist.photo.url != "" %}
              <img src="{% thumbor_url artist_info.artist.photo.url|urlencode width=80 height=80 smart=True %}" class="img-responsive artist-photo pull-left" />
            {% else %} 
              <img src="{% static 'image/photo-unavailable-square.svg' %}" width="80" height="80" class="img-responsive artist-photo pull-left" />
            {% endif %}
            <h3>{{ artist_info.artist.full_name }}</h3>
            {{ artist_info.artist.instruments.all|join:", " }} 
            <span class="media-count">(<span class="glyphicon glyphicon-music"></span> 6)</span>
            </a>
          </div>
        {% endfor %} 
      </div>
      {# end musician list #}
      <br class="clear" />
    </div>
    <!-- end event-main-container -->
  </div>
  <div class="col-sm-4">
    {% if event.leader %}
      <div class="leader-videos"> 
      <h4>Recent Videos led by {{ event.leader.full_name }}</h4>
      <table class="table">
        <tbody>
 
          {% include 'blocks/related-video.html' %}
          {% include 'blocks/related-video.html' %}
          {% include 'blocks/related-video.html' %}
          {% include 'blocks/related-video.html' %}

        </tbody>
      </table> 
      <p><a href="{% url "artist_detail" pk=412%}">Browse all ({{ event.leader.media_count_as_leader }}) videos from {{ event.leader.full_name }}</a></p>
      </div>
    {% endif %}
    <h4>About {{ event.leader.first_name }}</h4>
    <p>{{ event.leader.biography|safe|truncatechars:190}} <a href="{% url "artist_detail" pk=event.leader.id %}">Full artist profile</a></p>
 

  </div>
</div>    
<div class="dev">
  <h1>Alternate States:</h1>
  <ul>
    <li><a href="./?">Past event</a> (default = no audio tracks)</li>
    <li><a href="./?hascd=1">Past event, w/ CD</a> {hascd} </li>
    <li><a href="./?hastracks=1">Past event, w/ live singles</a> {hastracks} </li>
    <li><a href="./?isfuture=1">Future/upcoming event</a> {isfuture}</li>
    <li><a href="./?islive=1">Live now event</a> {islive}</li>
    <li><a href="./?mediaUnavailable=1">Past event, no video</a> {mediaUnavailable}</li>
  </ul>
  <h1>Dev notes</h1>
  <Ul> 
    <li><code>1</code> - if the cuts are   from the CD, we may not want this here if edits were made to audio (pending response from mike bond) as the video/audio may not line up. </li> 
    <li><code>2</code> - the page knows if the user already bought this track in the past so they can download again here</li>
  </Ul>
</div>

{% endblock content %}
