{% extends "base.html" %}
{% comment %}
This page is loaded instead of event_detail if the event is in the past or taping is going on.
      <img src="{% thumbor_url event.photo.url|urlencode width=100 height=100 smart=True %}" class="headshot" /> <!-- 100x100 with smart crop (should detect faces) -->
      <img src="{% thumbor_url event.photo.url|urlencode width=200 %}" class="200w" width="200w_proportional"/> <!-- width=200 height=proportional -->
      <img src="{% thumbor_url event.photo.url|urlencode width=200 height="orig" %}" class="200w_original" width="200"/> <!-- width=200 height=original-->
      <img src="{% thumbor_url event.photo.url|urlencode width=300 fit_in=True %}" class="300w" /> <!-- resizes larger to 300, otherwise keep the original width, must be proportional-->
      {{ event.description }}
{% endcomment %}
{% load thumbor_tags %}
{% block title %}{{ event.display_title }} {{ event.start }} in NYC w/ {{ event.sidemen }}{% endblock title %}
{% block content %}
<h1><code>2</code>Live Now: {{ event.display_title }}</h1>
<div class="row">
  <div class="col-sm-8">
    <div class="video_player">
      <p>{{ event.start }}, {{ event.date_freeform }}</p>
      {% if event.subtitle %}
        <p>{{ event.subtitle }}</p>
      {% endif %}
      <div class="well" style="text-align:center;padding:8em">[video player if live now]<code>3</code></div>
      <div class="well" style="text-align:center;padding:4em 8em">[audio player if past event]</div>
      {% if event.photo %}
        <div class="well" style="text-align:center;padding:8em 8em">    
          <img src="{{ event.photo.url }}"  />
        </div>
      {% endif %}
    </div> 
    <div class="row">
    {% for artist_info in performers %}
      <div class="col-sm-6 col-md-4 sideman-block">
        <div class="thumbnail">
          <a href="{% url "artist_detail" pk=artist_info.artist.id %}">
          {% if artist_info.artist.photo.url != "" %}
            <img src="{% thumbor_url artist_info.artist.photo.url|urlencode width=100 height=100 smart=True %}" class="img-responsive artist-photo" />
          {% endif %}</a>
          <div class="caption">
            <h3>{{ artist_info.artist.full_name }}</h3>
            <p>{{ artist_info.artist.instruments.all|join:", " }} </p>
          </div>
        </div>
      </div>
    {% endfor %} 
    </div>
    {% if event.description %}  
      <div class="description well"> 
        {{ event.description|safe }}
      </div>
    {% endif %}
  </div>
  <div class="col-sm-4">
    <h2><code>1</code>Listen to Recent Sets from { leader.fullname }</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>[playButton]</td>
          <td><a href="{% url "event_detail" pk=412%}">{ pasteventwithaudio.date } - { pasteventwithaudio.displaytitle } </a></td>
        </tr>
        <tr>
          <td>[playButton]</td>
          <td><a href="{% url "event_detail" pk=412%}">{ pasteventwithaudio.date } - { pasteventwithaudio.displaytitle } </a></td>
        </tr>
        <tr>
          <td>[playButton]</td>
          <td><a href="{% url "event_detail" pk=412%}">{ pasteventwithaudio.date } - { pasteventwithaudio.displaytitle } </a></td>
        </tr> 
      </tbody>
    </table> 
    <p><a href="{% url "artist_detail" pk=412%}">Browse all (6) audio sets from { leader.fullname }</a></p>
    <h2><code>1</code>Audio from Sidemen:</h2>
    <table class="table">
      <tbody>
      {% for artist_info in performers %}
        <tr>
          <td><a href="{% url "artist_detail" pk=artist_info.artist.id %}">{{ artist_info.artist.full_name }} - {{ artist_info.artist.instruments.all|join:", " }} </a></td>
          <td><a href="{% url "artist_detail" pk=artist_info.artist.id %}">X sets available</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table> 
  </div>
</div>    
<div class="dev">
  <h1>Dev notes</h1>
  <Ul> 
    <li><code>1</code> - display audio lnks to sidemen and leader. hide any artist including leader if there is no audio for him/her.</li>
    <li><code>2</code> - only print this if the show is live now</li>
    <li><code>3</code> - based on event date, or live-now status, show either video player, or or event photo + audio player if avail (for past events)
  </Ul>
</div>

{% endblock content %}
