{% extends "base.html" %}
{% load static %}
{% block bodyclass %}event{% endblock bodyclass %}
{% block extra_css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="{% static "css/mp3-player-button.css" %}"/>
{% endblock extra_css %}
{% block extra_js %}
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/js/jQuery.jPlayer.2.6.0/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="{% static "js/soundmanager2.js" %}"></script>
  <script type="text/javascript" src="{% static "js/mp3-player-button.js" %}"></script>
  <script type="text/javascript">
      soundManager.setup({
          url: '{% static "swf/" %}'
      });
      $(document).ready(function () {
          $("#jquery_jplayer_1").jPlayer({
              ready: function () {
                  $(this).jPlayer("setMedia", {
                      m4v: "http://orchestrotica.com/media/kit2009/index_files/Andalucia_HD.mp4",
                      poster: "http://orchestrotica.com/media/kit2009/index_files/poster_andalucia.jpg"
                  });
              },
              size: {
                  width: "100%",
                  cssClass: "video-player-controls"
              },
              swfPath: "/static/js/jQuery.jPlayer.2.6.0/",
              supplied: "m4v",
              smoothPlayBar: true,
              keyEnabled: true,
              remainingDuration: true,
              toggleDuration: true
          });
      });
  </script>
  {% include 'blocks/social-like-init.html' %}
{% endblock extra_js %}
{% comment %}
sample thumbors:
      <img src="{% thumbor_url event.photo.url|urlencode width=100 height=100 smart=True %}" class="headshot" /> <!-- 100x100 with smart crop (should detect faces) -->
      <img src="{% thumbor_url event.photo.url|urlencode width=200 %}" class="200w" width="200w_proportional"/> <!-- width=200 height=proportional -->
      <img src="{% thumbor_url event.photo.url|urlencode width=200 height="orig" %}" class="200w_original" width="200"/> <!-- width=200 height=original-->
      <img src="{% thumbor_url event.photo.url|urlencode width=300 fit_in=True %}" class="300w" /> <!-- resizes larger to 300, otherwise keep the original width, must be proportional-->
      {{ event.description }}
{% endcomment %}
{% load thumbor_tags %}
{% block title %}{{ event.title }} - 
  {% if not request.GET.isfuture %}
    jazz video of {{ event.performers.all|join:", " }} - {{ event.start }} (NYC)
  {% else %}
    {{ event.start }} - {{ event.performers.all|join:", " }} live in NYC
  {% endif %}
{% endblock title %}
{% block content %}
<div class="page-header">
  <h1>
    {% if request.GET.islive %}
      <span class="label label-primary">Live Now</span>
    {% endif %}
    {{ event.title }}
    {{ event.subtitle }}
    <small>
      <time>{{ event.start }}</time>
      {% if not request.GET.islive %}
          <a href=""><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Streamed Live</span><code>4</code></a>
          <a href="/accounts/signup/"><span class="label label-success"><span class="glyphicon glyphicon-ok"></span> To Be Archived</span></a>
      {% endif %}      
    </small>
    {% if user.is_superuser %}
      <small><a href="{% url "event_edit" pk=event.id %}">Edit this event</a></small>
    {% endif %}
  </h1>
  {% include 'blocks/social-like-buttons.html' %}
</div>
<div class="row">
  <div class="col-sm-8"> 
    {% if not request.GET.isfuture %}
      {# START Private Info for Artist / Video Owner #}
      {% if event.leader.user == request.user or request.user.is_superuser %}
        {% if request.GET.notPublished %}
          <div class="alert alert-warning">
                <a href="{% url 'my_gigs' %}" class="pull-right">My Recordings &amp; Gigs&hellip;</a>
            {% include 'blocks/change-publish-status.html' %}
          </div>
        {% else %}
          <div class="alert alert-warning for-owner-only">
            <form action="form" role="form" class="form-inline f-publish-video">   
              <div class="default small"> 
                <table class="table">
                  <thead>
                    <tr>
                      <th>Earnings</th>
                      <th><span class="glyphicon glyphicon-download"></span> Video MP4</th>
                      <th><span class="glyphicon glyphicon-download"></span> Audio AIFF</th>
                      <th><span class="glyphicon glyphicon-download"></span> Published</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><strong>$x.xx</strong> </td>
                    <td>
                      <a href="" class="download">Set 1  - 1.1GB </a>
                      <a href="" class="download">Set 2  - 1.2GB</a>
                    </td>
                    <td>
                      <a href="" class="download">Set 1  - 42MB </a>
                      <a href="" class="download">Set 2  - 34MB</a>
                    </td>
                    <td> <strong>mm/dd/yy</strong>
                      <a href="" class="trigger-unpublish text-muted">Unpublish <code>3</code></a>
                    </td> 
                    <td>
                      <a href="{% url 'my_gigs' %}">My Recordings &amp; Gigs&hellip;</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="are-you-sure none">            
                {% if not user.is_superuser %}
                  <p>You are about to remove a video from the subscribers' archive. You and the other artists featured in this video will no longer be eligible to earn $ on this video if you unpublish this video.</p>
                {% else %}
                  <p>Unpublish this video? (You may want to notify the artists if you proceed).</p>
                {% endif %}
                <div class="form-group">
                  <input type="submit" class="btn btn-sm btn-warning cancel" value="Leave Published" name="publish_status">  
                  <input type="submit" class="btn btn-sm btn-default" value="Unpublish" name="publish_status">               
                </div>
              </div>
            </form>
          </div>
        {% endif %}
      {% endif %}
      {# END Publishing status checkbox #}
    {% endif %}  
    {% if not request.GET.isfuture %}
      {% if request.GET.mediaUnavailable %}
        <div class="alert alert-info"><h3>This video  will be available soon.</h3>  
        <div class="request-video">
          <a href="" class="trigger-request-video btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-star"></span> I want it ASAP!
          </a> 
          (<span class="request-count">0</span> requests so far)
        </div>
        {% if event.photo %}
          <p><img src="{{ event.photo.url }}" class="event-photo img-responsive"  /></p>
        {% endif %}
        </div>
      {% else %}
        {# A video does exist: #}
        {% if request.GET.hascd %}  
          <div class="cd">
           <img src="{% thumbor_url 'http://beta.asoundstrategy.com/sitemaster/userUploads/site372/SL0039_PETERBERNSTEIN1.jpg'|urlencode width=130 height=130 smart=True %}" class="pull-left img-responsive" /> 
            <h6>This event was recorded as an album:</h6>
            <h4 class="text-primary"><a href="https://slstore.herokuapp.com/en-us/catalogue/peter-bernstein_42/">Peter Bernstein: Solo Guitar</a></h4>
            <p class="text-muted">Released in Jan, 2007. Available formats: CD, FLAC/WAV download</p>
            <p><a href="https://slstore.herokuapp.com/en-us/catalogue/peter-bernstein_42/" class="btn btn-primary btn-sm" role="button">Buy Album / Singles</a>
          </div>
        {% endif %}
        {% for set in event.sets.all %}
          <p><a href="{{ set.media_file.get_file_url|safe }}" class="sm2_button">Play</a> Set {{ set.set_number }}</p>
        {% endfor %}
        <div class="video-player">
          <div id="jquery_jplayer_1"></div>
          <div id="jp_container_1">
            <a href="#" class="jp-video-full pull-right"><span class="glyphicon glyphicon-fullscreen"></span></a>
            <a href="#" class="jp-play"><span class="glyphicon glyphicon-play"></span></a>
            
            <a href="#" class="jp-pause"><span class="glyphicon glyphicon-pause"></span></a>
            <span class="run-time">0:00:00 / <span class="total">1:30:00</span></span>
          </div>
        </div>

      {% endif %}
    {% endif %}
    <div class="event-main-container {% if request.GET.isfuture or request.GET.mediaUnavailable %}future{% endif %}">
      {% if request.GET.isfuture or request.GET.mediaUnavailable %}
      {% else %}
        {# Begin rankings #}
        <div class="rankings">
          <strong>23 views</strong>
          <a href="" class="trigger-favorite-video btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-star"></span> Favorite
          </a>
          {% if event.leader %}
            <a href="{% url "artist_detail" pk=event.leader.id %}" class="btn btn-xs btn-default">#2 in  {{ event.leader.first_name }}'s videos</a>
          {% endif %}
          <a href="/static_page/search/" class="btn btn-default btn-xs">#134 video overall</a>
           
        </div>
        {# end rankings #}
      {% endif %}
      {# Begin event meta data (photo, description ,etc) #}
      {% if event.photo and request.GET.isfuture %}  
        <img src="{{ event.photo.url }}" class="img-responsive event-photo"  />
      {% endif %}
      {% if  event.description or event.link %}
        <div class="event-meta">
          {% if event.description %}
            <div class="description">{{ event.description|safe|truncatechars:380 }}{% if event.description   %}  <a href="" class="trigger-show-event-description">More info...</a> {% endif %}</div>
 
            <div class="description none"> 
              {{ event.description|safe }}
            {% if event.link %}
              <p>More info on this event: <a href="{{ event.link }}">{{ event.link|truncatechars:100 }}</a></p>
            {% endif %}
            <p><a href="" class="trigger-show-event-description">Less info...</a> </p>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {# End event meta data (photo, description ,etc) #}
      {# start track list #}
      {% if request.GET.hastracks %}
        <h4>(7) Downloads available from this video:</h4>
      {% endif %}
      {% if request.GET.hascd %}  
        <h4>Buy Tracks from the <a class="album" href="https://slstore.herokuapp.com/en-us/catalogue/peter-bernstein_42/">Album</a></h4>
      {% endif %}
      {% if request.GET.hastracks or request.GET.hascd %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Song</th>
            <th>Composer</th>
            <th>Length</th>
            <th>Price</th>
            <th>Video cue <code>1</code></th>
          </tr>
        </thead>
        <tbody>
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          {% include 'blocks/track-name.html' %}
          <tr> 
            <td><a href=""><span class="glyphicon glyphicon-play"></span></a></td>
            <td>{ # }. { songtitle }</td>
            <td>{ composer }</td>
            <td>{ 0:00 }</td>
            <td><a class="btn btn-xs primary" href="" role="button">Download <code>2</code></a></td>
            <td>{ n/a or x:xx } </td>
          </tr>          
        </tbody>
      </table>
      {# end track list #}
      {% endif %}
      {# start musician list #}
      <h4 class="text-muted">featuring:</h4> 
      <div class="clearfix">
        {% for artist_info in performers %}
          <div class="sideman">
            <a href="{% url "artist_detail" pk=artist_info.artist.id %}">
            {% if artist_info.artist.photo.url != "" %}
              <img src="{% thumbor_url artist_info.artist.photo.url|urlencode width=80 height=80 smart=True %}" class="img-responsive artist-photo pull-left" />
            {% else %} 
              <img src="{% static 'image/photo-unavailable-square.svg' %}" width="80" height="80" class="img-responsive artist-photo pull-left" />
            {% endif %}
            <h3>{{ artist_info.artist.full_name }}</h3>
            <div>
              {{ artist_info.artist.instruments.all|join:", " }} 
              <span class="media-count">(<span class="glyphicon glyphicon-music"></span> 6)</span>
            </div>
            </a>
          </div>
        {% endfor %} 
      </div>
      {# end musician list #}
      <br class="clear" />
    </div>
    <!-- end event-main-container -->
  </div>
  <div class="col-sm-4">
  
    {% if request.GET.islive %}
      <div class="well">
        <h4>Live Shows Streaming Tonight</h4>
        {% if request.GET.issubscriber %}
          <p>As a subscriber, you can watch <strong>{{ event.title }}</strong> now and the following shows this evening:</p>
        {% else %}
          <p>With <a href="/accounts/signup">a free account</a>, you can watch <strong>{{ event.title }}</strong> now, and the following shows this evening:</p>
        {% endif %}
 
        <div class="media">
          <span class="pull-left"> 
          <small>10pm</small>
          </span>
        
          <a href="/events/8404/" class="pull-right"><img src="http://d3dombqstlgdhj.cloudfront.net/AH6AFUCBeKEpJqnvF6E5n0vOb5o=/130x94/smart/http%3A//d3dombqstlgdhj.cloudfront.net/images/wayne_tucker_pic.jpg" alt=" " class="media-object img-responsive pull-left"></a>
        
          <div class="media-body">
            <h4 class="media-heading"><a href="/events/8404/">"Round Midnight" with: w/ Wayne Tucker<br>The Wayne Tucker Group</a></h4>
            <p><small>Midnight to close</small></p>
            <p>Wayne Tucker</p>
          </div>
        </div>
        
        <div class="media">
          <span class="pull-left"> 
          <small>12am</small>
          </span>
        
          <a href="/events/8355/" class="pull-right"><img src="http://d3dombqstlgdhj.cloudfront.net/Z8CKRtQhmpXbymooXUx60Jstdb8=/130x94/smart/http%3A//d3dombqstlgdhj.cloudfront.net/images/Michela..jpg" alt=" " class="media-object img-responsive pull-left"></a>
        
          <div class="media-body">
            <h4 class="media-heading"><a href="/events/8355/">Tap Dance Jam! w/ Michela  Marino Lerman<br>Hosted by Michela Lerman ($10 cover/Musicians free)</a></h4>
            <p><small>6:00 PM to 9:00 PM</small></p>
            <p>Michela  Marino Lerman</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if event.leader %}
      <div class="leader-videos"> 
      <h4>Recent Videos led by {{ event.leader.full_name }}</h4>
      <table class="table">
        <tbody>
        {% for past_event in past_events %}
          {% include 'blocks/related-video.html' with video_thumb_url=past_event.photo.url  video_id=past_event.id %}
        {% endfor %}
        </tbody>
      </table>
        <p><a href="{% url "artist_detail" pk=412%}">Browse all ({{ event.leader.media_count_as_leader }}) videos from {{ event.leader.full_name }}</a></p>
      </div>
    <h4>About {{ event.leader.first_name }}</h4>
    <p>{{ event.leader.biography|safe|truncatechars:190}} <a href="{% url "artist_detail" pk=event.leader.id %}">Full artist profile</a></p>
    {% endif %}
  </div>
</div>    
<div class="dev">
  <h1>Alternate States:</h1>
  <ul>
    <li><a href="./?">Past event</a> (default = no audio tracks)</li>
    <li><a href="./?hascd=1">Past event, w/ CD</a> {hascd} </li>
    <li><a href="./?hastracks=1">Past event, w/ live singles</a> {hastracks} </li>
    <li><a href="./?isfuture=1">Future/upcoming event</a> {isfuture}</li>
    <li><a href="./?islive=1">Live now event</a> {islive}</li>
    <li><a href="./?isSubscriber=1">Is-subscriber</a> {isSubscriber}</li>
    <li><a href="./?mediaUnavailable=1">Past event, no video</a> {mediaUnavailable}</li>
    <li><a href="./?notPublished=1">Past event, unpublished</a> {mediaUnavailable}</li>
  </ul>
  <h1>Dev notes</h1>
  <Ul> 
    <li><code>1</code> - if the cuts are   from the CD, we may not want this here if edits were made to audio (pending response from mike bond) as the video/audio may not line up. </li> 
    <li><code>2</code> - the page knows if the user already bought this track in the past so they can download again here</li>
    <li><code>3</code> - log in as super user or as the leader of this video to see unpublish capability, $ earnings to date, and download links. See <code>5</code> for details. </li>
    <li><code>5</code> - dont show publish date if its never been published. Do not ask "are you sure" when going from unpublished->published status (just publish it w/ ajax, and show the blue default UI as the feedback message). The act of publishing from this place  </li>
    <li><code>4</code> - take them to current live show</li>
  </Ul>
</div>

{% endblock content %}
