{% extends "generic-text-page.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags static %}

{% block title %}Invite artist{% endblock %}


{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block static-content %}
    <h1 class="text2">{% trans "Confirm E-mail Address" %}</h1>

    <form method="post" action="{% url 'invite_artist' artist.id %}">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="white-border-button">{% trans 'Confirm' %}</button>
    </form>
{% endblock %}
