{% extends "base.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<h1>Reset Your Password</h1>
<div class="row"> 
  <div class="col-sm-10"> 
    <div class="row">
      <div class="col-sm-10">
        <div class="well"> 
          <p>If you are an artist that has played at SmallsLIVE, you probably have an account with us. Use this form to have a password-reset link emailed to you. If you haven't played the club in awhile, the email address we have may be out of date. Contact <a href="#">artistHelp@smallslive.com</a> for help.</p> 
          <form class="form-horizontal f-reset-password" role="form">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label"><code>1</code>Email Address</label>
              <div class="col-sm-8">
                <input type="email" value="ari@hoenig.com" name="artist_email" class="form-control" id="inputEmail3" placeholder="Email">
                 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <p><button type="submit" class="btn btn-primary">Send Password Reset Email</button></p> 
              </div>
            </div>
          </form>  
        </div> 
      </div>
    </div>     
  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul>
    <li><code>1</code> If there is an email address already filled on previous page, then dont show this page - show the results and process the form submit automatically.</li>
  </Ul>
</div>
{% endblock content %}
