{% extends "base_musician-signup.html" %}
{% load crispy_forms_tags %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
  <div class="row">
    <div class="col-sm-3 col-md-4 col-lg-3">
      {% include "blocks/musician-signup-steps.html" %}
    </div>
    <div class="col-sm-7 col-md-6 col-lg-4">
      <div class="well">
        <p>Because you have played at Smalls Jazz Club in NYC, you have an account already in our system. You just need
          to choose a new password to get started with the Performer Registration.</p>

        <form action="{% url "artist_registration_password_set" %}" method="post">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <Ul>
      <li><code>1</code> AN artist can only get here from an email based invitation</li>
    </Ul>
  </div>
{% endblock content %}
