
{% load static %}


  <div class="modal-body">
    <p class="title2 accent-color">Welcome</p>
    <p class="title1">Complete your login credentials</p>
    <p class="text4 text-grey">
      <b>Welcome to SmallsLIVE!</b> To complete your registration and gain access to your SmallsLIVE account, please create your password. Please note that the <b>email displayed below</b> is also your username for logging in to your SmallsLIVE account.
    </p>

    {% if institution_signup %}
      <form role="form" method="post" action="{% url "institution_member_confirm_email" key=confirmation.key %}">
    {% else %}
      <form id="artist-registration-set-password-form" role="form" method="post" action="{% url "artist_registration_confirm_email_ajax" key=confirmation.key %}">
    {% endif %}
    {%  csrf_token %}
      <div class="form-group">
        <input type="email" class="form-control" readonly name="email" value="{{ form.email.value }}" placeholder="Your email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password1" placeholder="Your password">
        <p class="form-error-text hidden" id="password1-error"></p>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password2" placeholder="Your password (again)">
        <p class="form-error-text hidden" id="password2-error"></p>
      </div>

      <input type="submit" class="white-border-button" value="Finish registration">
    </form>

  </div>

