{% extends "static-page.html" %}
{% load static %}

{% block newsletters-active %}active{% endblock %}

{% block title %}Newsletters{% endblock %}

{% block static-content %}
  <section class="static-content newsletters">
    <h1 class="main-title">Newsletters Archive</h1>

    {% if not user.newsletter %}
    <div class="newsletters__subscribe row">
        <div class="col-xs-12 newsletters__subscribe__text">
            Sign up and stay informed!
        </div>
        <div class="col-xs-12 col-sm-7">
          <form action="{% url "newsletters" %}" method="post">
            {% csrf_token %}
            {{ form.email }}
            <input type="submit" value="SUBSCRIBE" class="newsletters__subscribe__button"/>
          </form>
        </div>
    </div>
    {% endif %}
  {% regroup newsletters by date.year as newsletter_years %}
  {% for year in newsletter_years %}
    <div class="newsletters__year row">
        <div class="newsletters__year__heading col-xs-12">{{ year.grouper }}</div>
        {% for newsletter in year.list %}
        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">{{ newsletter.title }}</div>
            <div class="newsletter__date">{{ newsletter.date|date:"n/j/Y" }}</div>
            <a href="{{ newsletter.link }}" class="newsletter__view-button">Read <span class="hidden-xs">newsletter</span></a><span class="arrow"></span>
        </div>
      {% endfor %}
    </div>
  {% endfor %}


  </section>
{% endblock static-content %}
