{% extends "store_base.html" %}
{% load static %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
    {% include 'basket/partials/basket_content.html' %}
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            oscar.init();
            var options = {
                'basketURL': '{% url 'basket:summary' %}'
            };
            oscar.basket.init(options);
            $("#content_inner").on('click', '.store-cart__quantity-control__button', function(e) {
                if (! $(this).attr('disabled')) {
                    e.preventDefault();
                    var $quantityInput = $(this).siblings('input[type=hidden]');
                    var $quantityLabel = $(this).siblings('.store-cart__quantity-control__label');
                    var quantity = parseInt($quantityInput.val(), 10);
                    var behaviour = $(this).data('behaviour');
                    if (behaviour === "increase") {
                        quantity += 1;
                    } else if (behaviour === "decrease") {
                        quantity -= 1;
                    }

                    $quantityLabel.text(quantity);
                    $quantityInput.val(quantity);
                    oscar.basket.submitBasketForm(e);
                    if (quantity <= 1 && $(this).hasClass('control-decrease')) {
                        $(this).attr('disabled', true).addClass('disabled');
                    } else if (quantity >= 2 && $(this).hasClass('control-decrease')) {
                        $(this).attr('disabled', false).removeClass('disabled');
                    }
                }
            });
        });
    </script>
{% endblock %}