{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ event.title }} ticket details | Mezzrow</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <h1>{{ event.title }}
      <small>{{ event.start|date:"F jS, g:i A" }} </small>
    </h1>
  </div>
  {% for set, lines in ticket_data.items %}
    <div class="row">
      <h4>{{ set }}</h4>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Order #</th>
          <th>Party name</th>
          <th>No. of seats</th>
          <th>Price paid</th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
          <tr>
            <td>{{ line.order.number }}</td>
            <td><strong>{{ line.order.last_name }}, {{ line.order.first_name }}</strong></td>
            <td><strong>{{ line.quantity }}</strong></td>
            <td>${{ line.line_price_incl_tax }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  {% endfor %}
</div>
</body>
</html>
