{% extends "base.html" %}

{% block content %}
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias animi, aut consequuntur debitis
        dicta eius incidunt natus nemo nesciunt nihil nobis optio placeat quidem quis recusandae,
        reprehenderit rerum tenetur.
    </p>
    <h2>Are you a Smalls Performer?</h2>
    <p>You can earn $ on the recordings you have made at Smalls when you participate in <a href="/static_page/about-smallslive-for-musicians/">SmallsLIVE for Musicians</a>.</p>
{% endblock content %}
