{% extends "smalls_base.html" %}
{% load static from staticfiles %}

{% block content %}
  <section class="container">
      <div class="artist-details row">
        <div class="col-xs-12 col-md-6 visible-lg visible-md">
          <img src="{% static 'image/featured-photo.png' %}" class=" artist-details__image img img-responsive" alt=""/>
        </div>
        <div class="col-xs-12 col-md-6">
            <h1 class="artist-details__name">Mark Soskin</h1>

          <p class="artist-details__instruments">Piano</p>
          <p class="artist-details__stats">19 live shows  //  2 albums in store</p>
          <a href="" class="artist-details__website">www.marksoskin.com</a>
        </div>
    </div>
  </section>
  <div class="artist container">
    <div class="equal-heights row">
      <section class="artist-events col-md-6">
        <h2 class="artist-events__title">Upcoming shows:</h2>

        <p class="artist-events__notice">There are no upcoming shows for this artist.</p>

        <h2 class="artist-events__title">Previous shows (19):</h2>

        <div class="events">
          <div class="mini-event">
            <div class="mini-event__image">
              <img src="http://placehold.it/80x80/232323/232323&text=Event%20image" alt=""/>
            </div>
            <div class="mini-event-info">
              <p class="mini-event-info__date">10/24/2007</p>
              <h2 class="mini-event-info__title">THE DAVID SCHNITTER QUARTET</h2>
              <p class="mini-event-info__sidemen">DAVID SCHNITTER (tenor sax) // MARK SOSKIN (piano) // GREGG AUGUST
                (bass) // ANTHONY PINCIOTTI (drums)</p>
              <a class="mini-event-info__button" href="">Go to event</a><span class="arrow"></span>
            </div>
          </div>
          <div class="mini-event">
            <div class="mini-event__image">
              <img src="http://placehold.it/80x80/232323/232323&text=Event%20image" alt=""/>
            </div>
            <div class="mini-event-info">
              <p class="mini-event-info__date">10/24/2007</p>
              <h2 class="mini-event-info__title">THE DAVID SCHNITTER QUARTET</h2>
              <p class="mini-event-info__sidemen">DAVID SCHNITTER (tenor sax) // MARK SOSKIN (piano) // GREGG AUGUST
                (bass) // ANTHONY PINCIOTTI (drums)</p>
              <a class="mini-event-info__button" href="">Go to event</a><span class="arrow"></span>
            </div>
          </div>
          <div class="mini-event">
            <div class="mini-event__image">
              <img src="http://placehold.it/80x80/232323/232323&text=Event%20image" alt=""/>
            </div>
            <div class="mini-event-info">
              <p class="mini-event-info__date">10/24/2007</p>
              <h2 class="mini-event-info__title">THE DAVID SCHNITTER QUARTET</h2>
              <p class="mini-event-info__sidemen">DAVID SCHNITTER (tenor sax) // MARK SOSKIN (piano) // GREGG AUGUST
                (bass) // ANTHONY PINCIOTTI (drums)</p>
              <a class="mini-event-info__button" href="">Go to event</a><span class="arrow"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="artist-bio col-md-6">
        <h1 class="artist-bio__title">Artist biography:</h1>

        <p>Mark Soskin was born July 12, 1953 in Brooklyn, N.Y. Soskin has recorded and performed with such diverse
          musicians as Sonny Rollins, Joe Henderson, Randy Brecker, Billy Cobham, Buster Williams, Eddie Henderson,
          Stanley Turrentine, Cornell Dupree, Herbie Mann, John Abercrombie, Claudio Roditi, Sheila Jordan, Gato
          Barbieri, Joe Locke, David”Fathead”Newman, Mark Murphy, Slide Hampton, Pete and Sheila Escovedo, Bobby Watson,
          Miroslav Vitous, The NY Voices and others.</p>

        <p>Soskin attended Colorado State University where he pursued classical studies, but at this time his interests
          in jazz music were growing. In 1973 he enrolled in The Berklee College of Music, studying composition as well
          as arranging. In Boston he began to work professionally until moving to San Francisco, eventually going on to
          work with some of the west coast’s finest players.</p>

        <p>Shortly after arriving in San Francisco, Soskin was introduced to the Latin music legend, Pete Escovedo.
          Along with Pete’s daughter, percussionist Sheila. E, they toured and recorded as Azteca, a group in which
          Soskin’s keyboard, writing, and arranging talents were showcased. Eventually, the group, which now included
          Tom Harrell on trumpet, went on to record two discs for Fantasy Records, produced by drum ace Billy Cobham.
          Soskin was enlisted in Cobham’s band, a stint that lasted for two years and which produced two recordings for
          Columbia. Between tours for Cobham, Soskin did a tour and live recording for the CBS All Stars with Tom Scott,
          Alphonso Johnson, Steve Khan, and Billy Cobham. At this time Soskin was very active as a session player at
          Fantasy studios in Berkeley, California and veteran jazz music producer Orrin Keepnews took notice.</p>

        <p>Soskin signed his first recording contract with Prestige (a subsidiary of Fantasy) produced by Keepnews,
          entitled “Rhythm Vision.” This featured the likes of Benny Maupin and Harvey Mason with the album eventually
          making it into Billboard’s top ten Jazz Chart. </p>

        <p>Keepnews introduced Soskin to Sonny Rollins, which started a long, fruitful collaboration (14 years). Besides
          the extensive touring throughout the world, Soskin can be heard on a number of critically acclaimed recordings
          with the tenor sax master...</p>

        <div class="share-social">
          <h2 class="share-social__title">Share this profile on:</h2>
          <button class="btn social-btn social-btn--facebook"><i class="fa fa-facebook"></i></button>
          <button class="btn social-btn social-btn--twitter"><i class="fa fa-twitter"></i></button>
          <button class="btn social-btn social-btn--google"><i class="fa fa-google-plus"></i></button>
        </div>
      </section>
    </div>
  </div>
  <section class="cto cto--subscribe-to-artist container">
    <h1 class="cto__title">Subscribe to this artist</h1>

    <p class="cto__text">Get emailed about new videos or gigs.</p>
    <a href="" class="cto__button">Subscribe</a>
  </section>
{% endblock content %}