{% extends "artist_dashboard/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
        <section class="page-heading container">
            <h1>Account settings:</h1>
        </section>
        <section class="account-settings container flexbox-align-top">
            <div class="col-xs-12 col-sm-6 account-settings__form__column">
                <div class="account-settings__form__group">
                    <form>
                        <h2 class="account-settings__form__heading">Email address:</h2>
                        <p class="account-settings__form__text">Please note that you’ll need to confirm your ownership of the new email address once you set it. To do that just follow the confirmation link we’ll send to that address.</p>
                        <label for="email">Your email address</label>
                        <input type="email" class="form-control" name="email" value="spike@smallslive.com">
                        <input type="submit" class="account-settings__form__button disabled" value="Save">
                    </form>
                </div>
                <div class="account-settings__form__group">
                    <form>
                        <h2 class="account-settings__form__heading">Change password:</h2>
                        <p class="account-settings__form__text">To change your password please input your old password and your new password twice.</p>
                        <label for="current_password">Current password</label>
                        <input type="password" class="form-control" name="current_password" placeholder="Current password">
                        <label for="new_password">New password</label>
                        <input type="password" class="form-control" name="new_password" placeholder="New password">
                        <label for="confirm_new_password">Confirm new password</label>
                        <input type="password" class="form-control" name="confirm_new_password" placeholder="Confirm new password">
                        <input type="submit" class="account-settings__form__button" value="Change password" disabled>
                    </form>
                </div>
                <div class="account-settings__form__group">
                    <form>
                        <h2 class="account-settings__form__heading">Other info:</h2>
                        <label for="phone_number">Phone number</label>
                        <input type="tel" class="form-control" name="phone_number" placeholder="+0 000 000 00">
                        <input type="submit" class="account-settings__form__button" value="Save" disabled>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 account-settings__form__column">
                <div class="account-settings__form__group">
                    <form>
                        <h2 class="account-settings__form__heading">Payout information:</h2>
                        <p class="account-settings__form__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" name="surname" placeholder="Surname">
                        <label for="address_1">Address line 1</label>
                        <input type="text" class="form-control" name="address_1" placeholder="Name">
                        <label for="address_2">Address line 2</label>
                        <input type="text" class="form-control" name="address_2" placeholder="Name">
                        <div class="half_width left">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                        <div class="half_width right">
                            <label for="zip_code">Zip code</label>
                            <input type="text" class="form-control" name="zip_cide" placeholder="ZIP">
                        </div>
                        <label for="select_state">State</label>
                        <select class="form-control selectpicker" name="select_state" title="Choose your state">
                            <option>Massachusetts</option>
                            <option>California</option>
                            <option>Texas</option>
                        </select>
                        <label for="select_country">State</label>
                        <select class="form-control selectpicker" name="select_country" title="Choose your country">
                            <option>United States</option>
                            <option>Croatia</option>
                            <option>Poland</option>
                        </select>
                        <div class="account-settings__form__separator"></div>
                        <label for="payout_selection">Select your payout method</label>
                        <div>
                            <div class="row_stack">
                                <input type="radio" name="payout_selection" value="Paypal" class="radio-button" /> <span class="radio-button__label">Paypal</span>
                            </div>
                            <div class="row_stack">
                                <input type="radio" name="payout_selection" value="Check" class="radio-button" /> <span class="radio-button__label">Check</span>
                            </div>
                        </div>
                        <div class="account-settings__form__hidden" id="paypal-info">
                            <label for="paypal_email">Your Paypal account email</label>
                            <input type="email" class="form-control" name="paypal_email" placeholder="Paypal email address">
                            <label for="paypal_email_confirm">Confirm your Paypal account email</label>
                            <input type="email" class="form-control" name="paypal_email_confirm" placeholder="Confirm Paypal email address">
                        </div>
                        <input type="submit" class="account-settings__form__button" value="Save" disabled>
                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}