{% extends "base.html" %}
{% block subbrand %}
  {% if user.is_superuser and user.is_artist %}
    <span class="label">For Admin/Artists</span>
  {% else %}
    {% if user.is_superuser %}
      <span class="label">For Admins</span>
    {% endif %}
    {% if user.is_artist %}
      <span class="label">For Artists</span>
    {% endif %} 
  {% endif %} 
{% endblock subbrand %}
{% block nav %}
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="nav navbar-nav">
      {% if user.is_superuser %}  
        <li><a href="{% url 'venue_dashboard' %}">Calendar</a></li> 
        <li><a href="{% url 'recordings' %}">Videos &amp; Audio</a></li> 
        <li class="divider" role="presentation"></li>
      {% endif %}
      {% if user.is_artist %}  
        <li><a href="/static_page/dashboard-musician"> <span class="badge pull-right">5</span> $ Dashboard </a></li>      
        <li><a href="{% url "my_gigs" %}" >Recordings &amp; Gigs</a> </li>  
          
        <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="longname">Artist</span> Profile <b class="caret"></b></a>   
          <ul class="dropdown-menu">
            <li><a href="{% url 'artist_detail' pk=user.artist.id %}">Edit Artist Profile</a></li>   
            <li><a href="{% url 'artist_edit' pk=user.artist.id %}">View Artist Profile</a></li>       
          </ul>
        </li>
        <li><a href="#">Community Summary</a></li> 
      {% endif %}           
    </ul>  
    {% if user.is_superuser %}  
    <form class="navbar-form navbar-left search f-artist-date-lookup" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Date or artist name">
      </div> 
    </form>
    {% endif %}
    {% include 'blocks/nav_personallinks.html' %}
  </div>
{% endblock nav %}