{% extends "base.html" %}
{% block nav %}
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="nav navbar-nav">
      {% if user.is_superuser %}  
        <li><a href="/static_page/dashboard-admin">Calendar</a></li> 
        <li><a class="longname" href="/">Licensing</a></li>
        <li class="divider" role="presentation"></li>
      {% endif %}
      {% if user.is_artist %}  
        <li><a href="/static_page/dashboard-musician"><span class="badge pull-right">5</span> Artist Dashboard </a></li>      
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Gigs<b class="caret"></b></a>
        <ul class="dropdown-menu"> 
          <li><a href="#">Edit next gig (6/24/14)</a></li>
          <li><a href="{% url "my_gigs" %}">View all gigs</a></li> 
        </ul>
      </li>    
      <li><a href="#">Platform Stats</a></li>  
      {% endif %}           
    </ul>  
    {% if user.is_superuser %}  
    <form class="navbar-form navbar-left search f-artist-date-lookup" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Date or artist name">
      </div> 
    </form>
    {% endif %}
    {% include 'blocks/nav_personallinks.html' %}
  </div>
{% endblock nav %}