{% extends "base.html" %}
{% load static %}
{% block title %}Choose a subscription{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="row">
  <div class="col-sm-10  ">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>
            <p>Free Account:</p> 
            <h3>Live Video Only</h2>
            Free
          </th>
          
          <th>
            <p>Premium Account:</p> 
            <h3>Access the Archive</h3>
            30 days free, then $10/month
          </th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          
        </tr>
        <tr>
          <td>Watch live broadcasts from Smalls in real time</td>
          <td class="bg-success">&check; Yes</td>
          <td class="bg-success">&check; Yes</td>
        </tr>  
        <tr>
          <td>Listen to 8,000 hours of streaming archival audio</td>
          <td class="text-muted">No</td>
          <td class="bg-success">&check; Yes</td>
        </tr>
        <tr>
          <td>Watch select archived concerts</td>
          <td class="text-muted">No</td>
          <td class="bg-success">&check; Yes</td>
        </tr>
        <tr>
          <td>Send messages to SmallsLIVE artists</td>
          <td class="bg-success">&check; Yes</td>
          <td class="bg-success">&check; Yes</td>
        </tr>
        <tr>
          <td>30-day trial to SmallsLIVE Premium included?</td>
          <td class="bg-success">&check; Yes</td>
          <td class="bg-success">&check; Yes</td>
        </tr>
        <tr>
          <td></td>
          <td><a href="/accounts/signup/"><button class="btn btn-primary  ">Sign Up for Free</button></a> </td>
          <td><a href="/accounts/signup/"><button class="btn btn-primary  ">Sign Up for Premium</button></a> </td>
        </tr>
      </tbody>
    </table> 
    
 
 
  </div>
</div>
 
{% endblock content %}
