{% extends "base_venue.html" %}
{% block title %}Venue Dashboard{% endblock title%}
{% block content %}
  <h1>Venue Dashboard</h1>
  <div class="row">
    <div class="col-sm-7">
    
      <h2>Tonight:</h2>
      <p>who is playing ?</p>
      
      <h2>Next Available Slots To Book</h2>
      <p>list some dates here</p>
      
      <h2>Awaiting Licenses</h2>
      <p>list of songs and videos here</p>
     
    </div>
    <div class="col-sm-5">    
    
      <h2>Top Earning Artists:</h2>
      <p>Leaderboard</p>
      
      <h2>Top Earning Videos:</h2>
      <p>Leaderboard</p> 
      
    </div>
  </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <Ul> 
    </Ul>
  </div>
{% endblock content %}
