{% extends "home_new.html" %}
{% load add_get_parameter %}
{% load static from staticfiles %}

{% block title %}Manage Events{% endblock %}

{% block schedule_nav_active %}active{% endblock %}


{% block content %}
  <div class="content-wrapper" style="border:none">
    <section class="page-heading container" style="width: 100%;">
      <h1>Manage Events</h1>
    </section>
    <section class="artists-list__search">
      <form method="get" action="{% url "manage_events_list" %}">
          <span class="artists-list__search__heading">Search:</span>
          {{ filter.form.title }}
          <input type="submit" value="Search">
      </form>
    </section>
    <section class="artists-list__list container" style="width: 100%;">
      <div class="artists-list__list__header row">
          <div class="hidden-xs hidden-sm col-md-1">
              Image
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
              Name
          </div>
          <div class="col-xs-2 col-sm-2 col-md-1">
            Venue
          </div>
          <div class="hidden-xs hidden-sm col-md-2">
            Date
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            Sets
          </div>
          <div class="col-xs-2 col-sm-2 col-md-1">
            Status
          </div>
          <div class="col-xs-2 col-sm-2 col-md-1 artists-list__list__actions">
              Action(s)
          </div>
      </div>
      <ul style="margin-bottom: 30px;">
        {% for event in events %}
            <li class="artists-list__list__row row">
                <div class="hidden-xs hidden-sm col-md-1 artists-list__list__image">
                    {% if event.photo %}
                        <img src="{{ event.get_photo_url }}" alt="{{ event.title }}" style="height: 50px; width: 50px"/>
                    {% endif %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 artists-list__list__name">
                    <span title="{{event.title}}">{{ event.title }}</span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-1 {{ event.get_venue_name|lower}}-color artists-list__list__name">
                    {{ event.venue }}
                </div>
                <div class="hidden-xs hidden-sm col-md-2">
                  {{ event.date }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                  {% if event.sets.count > 1 %}
                    <span class="event-overlay-venue-set">
                      {{event.get_set_hours_display}}
                    </span>
                  {% endif %}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-1">
                  {{ event.state }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-1 artists-list__list__actions">
                    <div class="btn">
                        <a href="{% url 'event_edit' pk=event.id slug=event.slug %}?nav=event_list"><button type="button" class="btn">Edit</button></a>
                    </div>
                </div>
            </li>
          {% empty %}
            <li class="artists-list__list__row--empty row">No event found in archive. Do you want to  <a href="{% url "event_add" %}"> add a new Event</a>?</li>
        {% endfor %}
      </ul>
    </section>
    <section class="page-pagination">
      <p class="search-pagination-info">Showing results {{ page_obj.start_index }}-{{ page_obj.end_index }}
        of {{ paginator.count }}</p>
      {% if page_obj.has_previous or page_obj.has_next %}
        <div class="search-pagination">
          {% if page_obj.has_previous %}<a href="{% add_get page=page_obj.previous_page_number %}"><span
                  class="search-pagination__previous fa fa-caret-left"></span></a>{% endif %}
          {% if show_first %}
            <a href="{% add_get page=1 %}"><span class="search-pagination__page">1</span></a>
            ...
          {% endif %}
          {% for page in page_numbers %}
            <a href="{% add_get page=page %}"><span
                    class="search-pagination__page {% if page == page_obj.number %}active{% endif %}">{{ page }}</span></a>
          {% endfor %}
          {% if show_last %}
            ...
            <a href="{% add_get page=paginator.num_pages %}"><span
                    class="search-pagination__page">{{ paginator.num_pages }}</span></a>
          {% endif %}
          {% if page_obj.has_next %}<a href="{% add_get page=page_obj.next_page_number %}"><span
                  class="search-pagination__next fa fa-caret-right"></span></a>{% endif %}

        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}