{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load common_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home{% endblock %}

{% block extra_head %}
  <meta name="description"
        content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
{% endblock %}

{% block header %}
  <div class="navigation-bars">
    {% if user.is_superuser %}
      {% include 'admin_header.html' %}
    {% endif %}
    {% include 'partials/header.html' %}
    {% block extra_nav %}
    {% endblock %}
  </div>
{% endblock %}

{% block content %}
  {% include 'inactive_dialog.html' %}
  {% include 'become_a_supporter_dialog.html' %}


  <div class="main-container pad-content home-new">
    {% block home_content %}
    <main>
      {% if not request.user.is_authenticated %}
        {% include 'home_banners_mobile.html' %}
      {% elif not request.user.has_archive_access %}
        {% include 'home_banners_mobile.html'  with active='supporter'%}
      {% endif %}
      <div class="event-stripe">
        {% include 'events/today_and_tomorrow.html' with custom_venue_style=True %}
        <section class="event-stripe">
          <div class="section-title home">
            <div class="title1">Recently Added</div>
          </div>
          <main>
            <div class="slide-btn prev"><b class="indicator-icon icon-left-caret"></b></div>
            <div class="slide-btn next"><b class="indicator-icon icon-right-caret"></b></div>
            {% include 'events/event_row.html' with events=new_in_archive secondary=True %}
          </main>

        </section>
        <section class="event-stripe">
          <div class="section-title home">
            <div class="title1">Most Popular</div>
            <span class="select-container">
              <div class="white-border-select home-filter">
                <select id="most-popular-filter">
                  <option value="week"{% if popular_select == 'week' %} selected{% endif %}>Last week</option>
                  <option value="month"{% if popular_select == 'month' %} selected{% endif %}>Last month</option>
                  <option value="year"{% if popular_select == 'year' %} selected{% endif %}>This Year</option>
                  <option value="alltime"{% if popular_select == 'alltime' %} selected{% endif %}>All Time</option>
                </select>
              </div>
            </span>
          </div>
          <main id="most-popular-container">
            <div class="slide-btn prev"><b class="indicator-icon icon-left-caret"></b></div>
            <div class="slide-btn next"><b class="indicator-icon icon-right-caret"></b></div>
            {% include 'events/event_row.html' with events=popular_in_archive secondary=True %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title home">
            <div class="title1">Staff Picks</div>
          </div>
          <main>
            <div class="slide-btn prev"><b class="indicator-icon icon-left-caret"></b></div>
            <div class="slide-btn next"><b class="indicator-icon icon-right-caret"></b></div>
            {% include 'events/event_row.html' with events=staff_picks secondary=True %}
          </main>
        </section>
      </div>
    </main>
    {% endblock %}
  </div>
{% endblock%}

{% block footer %}
  <div class="footer-mobile visible-xs visible-sm text4 ">
    <div class="flex-column footer-links">
      <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
      <a href="{% url 'schedule' %}" class="{% if request.resolver_match.url_name == 'schedule' %}active{% endif %}">Calendar</a>
      <a href="{% url 'search' %}"
         class="{% if request.resolver_match.url_name == 'search' %}active{% endif %}">Archive</a>
      <a href="{% url 'contact-and-info' %}"
         class="{% if request.resolver_match.url_name == 'contact-and-info' %}active{% endif %}">Info</a>
      <a href="">Education</a>
      <a href="{% url 'promotions:home' %}">Catalog</a>
    </div>
    <div class="footer-info flex-column items-center">
      <div class="text-grey">Copyright ®{% now 'Y' %} SmallsLIVE All rights reserverd.</div>
      <div>
        <a href="{% url 'static_page' 'privacy' %}">Privacy Policy</a> |
        <a href="{% url 'terms-and-conditions' %}">Terms and Conditions</a> |
        <a href="{% url 'contact-and-info' %}">Contact + Info</a>
      </div>

    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function(){
      var filter = $('#most-popular-filter');

      var setMostPopular = function (value) {
        var mostPopularFilter = $('#most-popular-container').find('.event-row');
        $.get("{% url 'event_popular_ajax' %}?range=" + value,
          function (data) {
            mostPopularFilter.replaceWith(data.content);
          });
      };
      filter.on('change', function () {
        setMostPopular(filter.val());
      });

      {% if popular_select %}
        filter.val('{{ popular_select }}');
        filter.trigger("change");
      {% endif %}
    });
  </script>

  <script type="javascript" src="{% static 'js/slider.js' %}"></script>
{% endblock extra_js %}
