{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home{% endblock %}

{% block extra_head %}
  <meta name="description"
        content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

  {% include 'inactive_dialog.html' %}

  <div class="main-container">
    <header class="main-header">
      <div class="flex-row wrap content-space-around">
        <div class="flex-row wrap logo-container">
          <div>
            <a href="/" class="smalls-logo">
              <img src="{% static 'logo-black.svg' %}" alt=""/>
            </a>
          </div>
          <div class="search-input">
            <input type="text">
          </div>
        </div>

        <div class="button-row">
          <button class="active">Calendar</button>
          <button>Archive</button>
          <button>Info</button>
          <button>Education</button>
          <button>Store</button>
          {% if not request.user.is_authenticated %}
          <button class="button-bordered" href="#logIn" data-toggle="modal">
              Sign In
          </button>

          {% else %}
            <button class="button-bordered">
              {% if request.user.first_name %}
                {{ request.user.first_name }}
              {% else %}
                {{ request.user.email }}
              {% endif %}
            </button>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
      {% if not request.user.is_authenticated %}
        {% include 'home_banners.html' %}
      {% elif not request.user.has_active_subscription %}
        {% include 'home_banners.html' with active='supporter' %}
      {% endif %}
      <div>
        <section class="event-stripe">
          <div class="section-title">
            <div class="title1">
              Streaming Tonight <span class="date-separator">/</span>
            </div>
            <div class="header-sub title2">{% now "l F j, o" %}</div>
          </div>
          <main>
            {% include 'events/event_row.html' with events=events_today show_time='True' hidde_event_date='True' show_event_venue='True' %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title">
            <div class="title1">Recently Added</div>
          </div>
          <main>
            {% include 'events/event_row.html' with events=new_in_archive %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title">
            <div class="title1">Most Popular</div>
            <span class="select-container">
              <div class="white-border-select" style="width:150px;">
                <select id="most-popular-filter">
                  <option value="week">Last week</option>
                  <option value="month">Last month</option>
                  <option value="year">This Year</option>
                  <option value="alltime">All Time</option>
                </select>
              </div>
            </span>
          </div>
          <main id="most-popular-container">
            {% include 'events/event_row.html' with events=popular_in_archive %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title">
            <div class="title1">Staff Picks</div>
          </div>
          <main>
            {% include 'events/event_row.html' with events=events_today %}
          </main>
        </section>
      </div>
    </main>
  </div>
{% endblock%}

{% block footer %}
{% endblock %}

{% block extra_js %}
  <!-- Bootstrap datepicker JavaScript -->
  <script src="{% static 'js/white-border-select.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script>
    $(document).ready(function(){
      var filter = $('#most-popular-filter');
      var mostPopularFilter = $('#most-popular-container');

      var setMostPopular = function (value) {
        $.get("{% url 'event_popular_ajax' %}?range=" + value,
          function (data) {
            mostPopularFilter.html(data.content);
          });
      };
      filter.on('change', function () {
        setMostPopular(filter.val());
      });

      {% if popular_select %}
        filter.val('{{ popular_select }}');
        filter.trigger("change");
      {% endif %}

      var signInModal = $('#logIn');
      var becomeMemberModal = $('#becomeMemberDialog');

      var becomeMember = $('#becomeMemberButton');
      becomeMember.on('click', function () {
        console.log('Become member Clicked');
        signInModal.modal('hide');
        becomeMemberModal.modal('show');
      });

      var showSignIn = $('#showSignIn');
      showSignIn.on('click', function () {
        console.log('Go to sign in clicked');
        becomeMemberModal.modal('hide');
        signInModal.modal('show');
      })

    });
  </script>
{% endblock extra_js %}
