{% extends "smalls_base.html" %}
{% load static from staticfiles %}

{% block homepage_nav_active %}active{% endblock %}

{% block content %}
    <div class="content-wrapper">
      <section class="mobile-intro container hidden">
          <a href="/" class="smalls-logo"><img src="{% static 'logo.svg' %}" alt=""/></a>
      </section>

      {% include "blocks/today-schedule-mobile.html" %}
      {% include "blocks/homepage-upcoming-events-carousel.html" %}

      {% if request.user.is_authenticated %}
          <section class="cto cto--archive container vertical-align-parent">
            <div class="vertical-align-child">
                <h1 class="cto__title">SmallsLIVE Audio/Video Archive</h1>
                <p class="cto__text">Sign up for access to our comprehensive audio/video archive of past performances.
                </p>
                <a href="{% url "static_page" "archive" %}" class="cto__button">Go to the full Archive</a>
            </div>
          </section>
      {% else %}
          <section class="home-membership container">
              <div class="home-membership__header vertical-align-parent">
                  <div class="vertical-align-child">
                      <h1 class="home-membership__header__title">Become a member of SmallsLIVE and access our live streamed shows nightly!</h1>
                      <p class="home-membership__header__text">Become a subscribing member and gain unlimited access to our extensive audio/video archive of past shows. By becoming a subscribing member you are directly supporting the musicians and the SmallsLIVE Revenue Share Project.</p>
                      <a href="{% url "account_signup" %}" class="cto__button">Sign up!</a>
                  </div>
              </div>
              <div class="home-membership__points">
                  <div class="col-xs-12 col-sm-6 col-md-3 home-membership__points__single">
                      <i class="home-membership__points__graphic livicon" data-name="albums" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                      <div class="home-membership__points__text">
                          The SmallsLIVE Archive is a library of every show (audio and video) performed at Smalls Jazz Club since September of 2007 and incorporates more than 9000 recordings and over 1000 musicians.   20 shows per week are added to the Archive on an average.
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 home-membership__points__single">
                      <i class="home-membership__points__graphic livicon" data-name="sitemap" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                      <div class="home-membership__points__text">
                          Subscriptions collected from members of SmallsLIVE are pooled and distributed directly to the musicians based on usage.  The more you listen to your favorite musicians or band, the larger the percentage of the revenue share they will receive.
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 home-membership__points__single">
                      <i class="home-membership__points__graphic livicon" data-name="users-add" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                      <div class="home-membership__points__text">
                          You can follow your favorite musicians directly, receive updates as to when they will perform and share this with your friends.  Certain shows will be available for download for your personal usage.
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 home-membership__points__single">
                      <i class="home-membership__points__graphic livicon" data-name="heart" data-size="54" data-color="#D21535" data-hc="#D21535"></i>
                      <div class="home-membership__points__text">
                          By becoming a subscribing member of SmallsLIVE you will have a direct impact on the club and the artists that create the music nightly.
                      </div>
                  </div>
              </div>
          </section>
      {% endif %}
      <section class="from-our-archive container">
        <h1 class="from-our-archive__section-title">New in our Archive</h1>

        <div class="row">
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--green">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/01.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Ryan Kisor Quintet</h1>
                  <ul class="event-object__artists">
                    <li>Marcus Parsley</li>
                    <li>Rick Germanson</li>
                    <li>Al Street</li>
                    <li>Neal Miner</li>
                    <li>Brian Floody</li>
                    <li>Bosco Mann</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--blue">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/02.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Steve Davis Quintet</h1>
                  <ul class="event-object__artists">
                    <li>Marcus Parsley</li>
                    <li>Rick Germanson</li>
                    <li>Al Street</li>
                    <li>Neal Miner</li>
                    <li>Brian Floody</li>
                    <li>Bosco Mann</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--yellow">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/03.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Kevin Hays Trio</h1>
                  <ul class="event-object__artists">
                    <li>Doug Weiss</li>
                    <li>Bill Stewart</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--gold">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/04.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Dezron Douglas</h1>
                  <ul class="event-object__artists">
                    <li>Willie Jones III</li>
                    <li>Josh Evans</li>
                    <li>Stacy Dillard</li>
                    <li>David Bryant</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--red">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/05.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">David Kikoski Trio</h1>
                  <ul class="event-object__artists">
                    <li>Hans Glawischnig</li>
                    <li>Obed Calvaire</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--purple">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/06.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Seamus Blake Quintet</h1>
                  <ul class="event-object__artists">
                    <li>Lage Lund</li>
                    <li>David Kikoski</li>
                    <li>Matt Clohesy</li>
                    <li>Bill Stewart</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section class="from-our-archive container">
        <h1 class="from-our-archive__section-title">Most Popular from the Archive</h1>

        <div class="row">
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--darkblue">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/07.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Ben Wolfe Quintet</h1>
                  <ul class="event-object__artists">
                    <li>Marcus Strickland</li>
                    <li>Ryan Kisor</li>
                    <li>Luis Perdomo</li>
                    <li>Gregory Hutchinson</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--orange">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/08.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Neal Smith Quintet</h1>
                  <ul class="event-object__artists">
                    <li>Eric Alexander</li>
                    <li>Steve Wilson</li>
                    <li>Mulgrew Miller</li>
                    <li>Mark Whitfield</li>
                    <li>Dezron Douglas</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="event-object event-object--blue">
                <img class="event-object__image"
                     src="{% static 'image/archive-thumbs/09.jpg' %}" alt=""/>
                <div class="event-object__info">
                  <h1 class="event-object__title">Steve Davis Quintet</h1>
                  <ul class="event-object__artists">
                    <li>Larry Willis</li>
                    <li>Mike Dirubbo</li>
                    <li>Gerald Cannon</li>
                    <li>Willie Jones III</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-store container">
        <h1 class="home-store__section-title">Popular in our Store</h1>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#"><img class="home-store__img"  src="{% static 'image/store-thumbs/01.jpg' %}" alt=""/></a>
            <h2 class="home-store__title"><a href="#">Jesse Davis Quintet Live at Smalls</a></h2>
            <p class="home-store__type">CD / Digital Download</p>
            <p class="home-store__price">$15.00</p>
            <a href="" class="home-store__buynow">Buy now</a><span class="arrow"></span>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#"><img class="home-store__img"  src="{% static 'image/store-thumbs/02.jpg' %}" alt=""/></a>
            <h2 class="home-store__title"><a href="#">Bopjuice (Ralph Lalama, Joel Forbes, Clifford Barbaro)</a></h2>
            <p class="home-store__type">CD / Digital Download</p>
            <p class="home-store__price">$12.00</p>
            <a href="" class="home-store__buynow">Buy now</a><span class="arrow"></span>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#"><img class="home-store__img"  src="{% static 'image/store-thumbs/03.jpg' %}" alt=""/></a>
            <h2 class="home-store__title"><a href="#">Dezron Douglas Live at Smalls + a whole bunch of other dudes blah blah omg so long name</a></h2>
            <p class="home-store__type">2CD / Digital Download</p>
            <p class="home-store__price">$20.00</p>
            <a href="" class="home-store__buynow">Buy now</a><span class="arrow"></span>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#"><img class="home-store__img"  src="{% static 'image/store-thumbs/04.jpg' %}" alt=""/></a>
            <h2 class="home-store__title"><a href="#">Grant Stewart Live at Smalls</a></h2>
            <p class="home-store__type">CD / Digital Download</p>
            <p class="home-store__price">$15.00</p>
            <a href="" class="home-store__buynow">Buy now</a><span class="arrow"></span>
          </div>
        </div>
      </section>

      <section class="cto cto--visit container vertical-align-parent">
        <div class="vertical-align-child">
            <h1 class="cto__title">Visit us</h1>

            <p class="cto__text">Smalls Jazz Club, 183 West 10th Street, basement, Greenwich Village, NYC, 10014</p>
            <a href="{% url "contact-and-info" %}" class="cto__button">Get Directions</a>
        </div>
      </section>
      <section class="about-smalls container">
        <div class="row">
          <div class="col-md-6 hidden-xs hidden-sm about-smalls__img"></div>
          <div class="col-xs-12 col-md-6 about-smalls__info">
            <h1 class="about-smalls__title">About Smalls Live</h1>

            <p class="about-smalls__text">Smalls Jazz Club was created in 1994.  Founded by Mitchell Borden, a former Navy submariner, registered nurse, philosopher & jazz violinist, his initiative was to create an environment that was conducive to Jazz Music and Jazz culture. Borden, who booked and managed the club, approached business from a stance of generosity rather than profit. Borden’s concern was only with the music and the musicians who created it. Under his generous care, a culture of vibrant and newly energized young musicians claimed Smalls as their home base and began to develop their individuality in the music.</p>
            <p class="about-smalls__text">Since 2007 every show at Smalls has been meticulously recorded (with video since 2011), cataloged and archived.  We consider this audio/video archive to be of historical importance. Now with more than 9000 recordings and over 1000 musicians in the archive and growing each week, we have made this archive available to the public for enjoyment study.</p>
            <p class="about-smalls__text">By becoming a subscribing member of SmallsLIVE you are directly supporting the artists and the club.  Each artist is represented as a partner in our unique revenue sharing system and benefits each time their music is listened to in the archive. </p>
          </div>
        </div>
      </section>
      <section class="mini-gallery visible-md visible-lg container">
        <div class="row no-gutters">
            <div class="col-sm-3"><img src="{% static 'image/homepage_gallery/img1.jpg' %}" class="mini-gallery__img"/></div>
            <div class="col-sm-3"><img src="{% static 'image/homepage_gallery/img2.jpg' %}" class="mini-gallery__img"/></div>
            <div class="col-sm-3"><img src="{% static 'image/homepage_gallery/img3.jpg' %}" class="mini-gallery__img"/></div>
            <div class="col-sm-3"><img src="{% static 'image/homepage_gallery/img4.jpg' %}" class="mini-gallery__img"/></div>
        </div>
      </section>
      <section class="homepage-news container">
        <div class="row">
          <div class="col-xs-12 col-md-6 vcenter">
            <h1 class="homepage-news__title">SmallsLIVE Newsletter</h1>
            <p class="homepage-news__text">Sign up for our weekly newsletter!</p>
          </div><!--
       --><div class="col-xs-12 col-md-6 vcenter">
            {% if not user.newsletter %}
              <form action="{% url "newsletters" %}" method="post">
                  {% csrf_token %}
                  <input type="email" required class="homepage-news__input" name="email" placeholder="Your email address" value="{% if user.is_authenticated %}{{ user.email }}{% endif %}"/>
                  <input type="submit" value="SUBSCRIBE" class="homepage-news__button"/>
              </form>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
{% endblock content %}

{% block extra_js %}
  <script>
    window.disabledDates = [
      {% for date in disabled_dates %}
        '{{ date }}'{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
  </script>
  <!-- Bootstrap datepicker JavaScript -->
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/header_datepicker.js' %}"></script>
{% endblock extra_js %}