{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}
{% load i18n %}

{% block homepage_nav_active %}active{% endblock %}

{% block title %}Smalls Jazz Club{% endblock %}

{# TODO Shouldn't be needed here #}
{% block body_class %}home{% endblock %}

{% block extra_head %}
  <meta name="description"
        content="This is the official website for Smalls Jazz Club in Greenwich Village, New York City!">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="main-container">
    <header class="main-header">
      <div class="flex-row wrap content-space-around">
        <div class="flex-row wrap logo-container">
          <div>
            <a href="/" class="smalls-logo">
              <img src="{% static 'logo-black.svg' %}" alt=""/>
            </a>
          </div>
          <div class="search-input">
            <input type="text">
          </div>
        </div>

        <div class="button-row">
          <button class="active">Calendar</button>
          <button>Archive</button>
          <button>Info</button>
          <button>Education</button>
          <button>Store</button>
          {% if not request.user.is_authenticated %}
          <button class="button-bordered">Sign In</button>
          {% else %}
            <button class="button-bordered">
              {% if request.user.first_name %}
                {{ request.user.first_name }}
              {% else %}
                {{ request.user.email }}
              {% endif %}
            </button>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
      {% include 'home_banners.html' %}
      <div>
        <section class="event-stripe">
          <div class="section-title">
            <span class="title1">Streaming Tonight <span class="date-separator">/</span></span>
            <span class="header-sub title2">{% now "l F j, o" %}</span>
          </div>
          <main>
            {% include 'events/event_row.html' with events=events_today show_time='True' %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title title1">Recently Added</div>
          <main>
            {% include 'events/event_row.html' with events=new_in_archive %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title">
            <div class="title1">Most Popular</div>
            <div class="select-container">
              <div class="white-border-select" style="width:150px;">
                <select id="most-popular-filter">
                  <option value="week">Last week</option>
                  <option value="month">Last month</option>
                  <option value="year">This Year</option>
                  <option value="alltime">All Time</option>
                </select>
              </div>
            </div>

          </div>
          <main id="most-popular-container">
            {% include 'events/event_row.html' with events=popular_in_archive %}
          </main>
        </section>
        <section class="event-stripe">
          <div class="section-title title1">Staff Picks</div>
          <main>
            {% include 'events/event_row.html' with events=events_today %}
          </main>
        </section>
      </div>
    </main>
  </div>
{% endblock%}

{% block footer %}
{% endblock %}

{% block extra_js %}
  <!-- Bootstrap datepicker JavaScript -->
  <script src="{% static 'js/white-border-select.js' %}"></script>
  <script>
    $(document).ready(function(){
      var filter = $('#most-popular-filter');
      var mostPopularFilter = $('#most-popular-container');
      filter.on('change', function () {
        $.get("{% url 'event_popular_ajax' %}?range=" + filter.val(),
          function (data) {
            mostPopularFilter.html(data.content);
          });
      })
    });
  </script>
{% endblock extra_js %}
