{% extends "base.html" %}

{% block content %}
<section class="from-our-archive container">
    <h1 class="from-our-archive__section-title">New in our Archive</h1>
    <div class="row">
      <div class="col-xs-6 col-md-4"><img class="from-our-archive__image from-our-archive__image--green"  src="http://placehold.it/350x300/232323&text=Event%20image" alt=""/></div>
      <div class="col-xs-6 col-md-4"><img class="from-our-archive__image from-our-archive__image--blue"  src="http://placehold.it/350x300/232323&text=Event%20image" alt=""/></div>
      <div class="col-xs-6 col-md-4"><img class="from-our-archive__image from-our-archive__image--yellow" src="http://placehold.it/350x300/232323&text=Event%20image" alt=""/></div>
      <div class="col-xs-6 col-md-4"><img class="from-our-archive__image from-our-archive__image--gold" src="http://placehold.it/350x300/232323&text=Event%20image" alt=""/></div>
      <div class="col-xs-6 col-md-4"><img class="from-our-archive__image from-our-archive__image--red" src="http://placehold.it/350x300/232323&text=Event%20image" alt=""/></div>
      <div class="col-xs-6 col-md-4"><img class="from-our-archive__image from-our-archive__image--purple" src="http://placehold.it/350x300/232323&text=Event%20image" alt=""/></div>
    </div>
</section>
{% endblock content %}
