  <div class="banner-border flex-row">
    <div class="banner-title-button flex-column">
      <div id="banner-title">Archive</div>
      <div class="learnmore-container">
        <div class="banner-learnmore">
          <button id="banner-button"></button>
        </div>
        <div class="banner-learnmore-info hidden">
          <button id="banner-button-info">More Info</button>
        </div>
      </div>
    </div>
    <div class="banner-text-container flex-row items-center">
      <p id="banner-text">El texto</p>
    </div>
  </div>