{% extends "base.html" %}
{% load thumbor_tags %}
{% block title_prefix %}{% endblock title_prefix %}
{% block title_suffix %} - Watch Jazz Videos from Smalls Jazz Club (NYC){% endblock title_suffix%}
{% block content %}
  <div class="row homepage-spotlight">
    <div class="col-sm-10  col-sm-offset-1"> 
      <div id="carousel-example-generic" class="carousel slide" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-caption">
                <h1><a href="{% url "event_detail" pk=8402 %}">Tonight: The Joe Martin Quartet CD Release  @ <span class="text-primary">9:30pm</span></a></h1>
              <p><img src="http://d3dombqstlgdhj.cloudfront.net/images/smallssextet3.jpg" alt="..."></p>
              <p><em>plus</em>:</p>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
             <h1><a href="{% url "event_detail" pk=7802 %}">The Hayes Greenfield Roger Rosenberg Quartet  @ <span class="text-primary">11:30pm</span></a></h1>
              <p><img src="http://d3dombqstlgdhj.cloudfront.net/images/smallssextet3.jpg" alt="..."></p>
              <p> w/ name, name name</p>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
             <h1><a href="{% url "event_detail" pk=7602 %}">Bucky Pizzarelli and Ed Laub @    <span class="text-primary">1am</span></a></h1>
              <p><img src="http://d3dombqstlgdhj.cloudfront.net/images/smallssextet3.jpg" alt="..."></p>
              <p>Sunday Evening Duets</p>
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>    
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-6">
      <h2>Next 7 days @ Smalls:</h2>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <div class="well">Event here</div>
      <h2>About Smalls and SmallsLIVE</h2>
      <p>Smalls is a historic jazz club in NYC presenting the best in live jazz music 7 days a week. SmallsLIVE is our digital video service where jazz fans can watch 3000+ hours of concert videos recorded at the club since 2007. We live-stream and record every concert at Smalls, so check out <a href="">tonight's show online for free</a>. To access the archive of videos, you'll need a <a href="">subscription</a>.</p>
    
 
      <form method="post" class="f-trial-signup" role="form" enctype="multipart/form-data">
        <div class="form-group" id="div_id_subscriber_email">
          <label class="control-label " for="div_id_subscriber_email">Join Mailing List:</label>
          <div class="controls ">
            <input type="text" placeholder="Your email address" name="subscriber_email" value="" id="id_subscriber_email" class="form-control">
          </div>
        </div>  
        <div class="form-group"> 
          <button type="submit" class="btn btn-primary">Subscribe</button>   
        </div>
      </form>  
      <h5>Stay In Touch:</h5>
      <p><a href="http://facebook.com/smallsjazzclub" class="">Smalls on Facebook</a></p>
      <p><a href="http://twitter.com/smallsjazzclub" class="">Follow  @smallsjazzclub</a> on Twitter</p>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <span class="text-success">SmallsLIVE</span>
        <h2>8,000+ Hours of Jazz Concert Videos</h2>
        <p>Get 30 days of unlimited access to our archive of over 350 jazz concerts filmed at Smalls since 2007. After your trial, it's just $20/month  to unlock permanent access to the archive. <a href="#">Learn more</a></p>
        <a class="btn btn-primary" href="/static_page/trial-signup">Start Free Trial</a>
        <p class="text-muted"><br /><a href="#">I have an account already</a></p>
      </div>
      <h3>Latest Videos:</h3>
      <p>We try to get concert videos posted within 3 days of being taped. Here are the latest:</p>
      <div class="thumbnail">
        <div class="well" style="height:180px;"></div>
        <div class="caption">          <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">+ Watchlist</a></p>
        </div>
      </div> 
      <div class="thumbnail">
        <div class="well" style="height:80px;"></div>
        <div class="caption">          <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">+ Watchlist</a></p>
        </div>
      </div> 
      <div class="thumbnail">
        <div class="well" style="height:80px;"></div>
        <div class="caption">          <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">+ Watchlist</a></p>
        </div>
      </div> 
      <div class="thumbnail">
        <div class="well" style="height:80px;"></div>
        <div class="caption">          <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">+ Watchlist</a></p>
        </div>
      </div> 
      <div class="thumbnail">
        <div class="well" style="height:80px;"></div>
        <div class="caption">          <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">+ Watchlist</a></p>
        </div>
      </div> 
      <p><a href="">More</a></p>
      <h3>Most Popular Videos:</h3>
      <p>We try to get concert videos posted within 3 days of being taped. Here are the latest:</p>
      <div class="well">video here</div>
      <div class="well">video here</div>
      <div class="well">video here</div>
      <div class="well">video here</div>
      <div class="well">video here</div>
      <p><a href="">More</a></p>    

    </div>
  </div>
  <div class="dev">
    <h1>Screens SO Far:</h1>
    <h2>Public Screens (Main NAV)</h2>
    <ul>
      <li>This homepage</li>
          <li><a href="{% url "artist_detail" pk=122 %}">Artist page</a></li>   
          <li><a href="{% url "event_detail" pk=8402 %}">Event page</a></li>   
      <li><a href="/static_page/about.html">About the club</a></li>
      <li><a href="/static_page/about-smallslive-for-musicians">SL For Performers</a></li>
      <li><a href="/static_page/smallslive-jazz-videos">SmallsLIVE Home</a></li>
      <li><a href="/static_page/musician-signup-login">Performer Reg (Login) </a> (this link starts process)</li>
      <li><a href="/static_page/musician-signup-password">Performer Reg (Pwd Change) </a> (this link starts process from an email invite)</li>
    </ul>
    <h2>Admin Screens</h2>
    <ul>
        <li><a href="/static_page/dashboard-venue">Dashboard: Venue</a></li>
        <li><a href="/static_page/dashboard-musician">Dashboard: Musicians</a></li>
 
        <li><a href="{% url "admin:index" %}">Django Admin</a></li>
    </ul>
  </div>
{% endblock content %}
