{% load full_static %}

<div class="banners mobile carousel">
  <div id="banner-archive-box" class="box archive">
    <p class="title">Archive</p>
    <p class="content">
        <span class="accent-color">Every show</span>
        at Smalls + Mezzrow has been recorded and archived since 2007.
        supporting members enjoy <span class="accent-color">unlimited access</span>
        to our archive. Our musicians are paid royalties through our
        <span class="accent-color">unique revenue share system.</span>
    </p>
    <div class="banner-learnmore">
      <button>Learn more</button>
    </div>

  </div>
  <div id="banner-live-box" class="box live">
    <p class="title">Live</p>
    <p class="content">Our <span class="accent-color">live stream</span> has expanded our 60 seat clubs into a
        <span class="accent-color">worldwide community</span> of jazz fans and supporters.
        Sign up for free to watch our <span class="accent-color">live streams</span> each night.</p>
    <div class="banner-learnmore">
      <button>Become a member</button>
    </div>
  </div>
  <div id="banner-mission-box" class="box mission">
    <p class="title">Mission</p>
    <p class="content">The <span class="accent-color">Smallslive foundation</span> is a
        <span class="accent-color">not-for-profit</span> organized for the purpose of the
        <span class="accent-color">dissemination of jazz music</span>
        through our archive, live streams, sponsorship of individual jall projects & tours,
        education, and live performances at Smalls &Smezzrow. we are supported by our
        members through <span class="accent-color">tax-deductible donations</span>.</p>
      <div class="banner-learnmore">
        <button>Become a member</button>
      </div>

  </div>

</div>



{% block extra_js %}
<script>
$(document).ready(function() {
  $('.carousel').slick({infinite: true, dots:true,   arrows: false}) 
});
</script>
{% endblock %}

