{% extends "static-page.html" %}
{% load static from staticfiles %}

{% block mission-statement-active %}static-nav__item--active{% endblock %}

{% block static-content %}
  <section class="static-content col-md-9">
    <h1 class="static-content__main-title">Mission Statement</h1>

    <p>The intention and purpose of this website is ultimately dedicated to the <strong>betterment of Mankind through the
      dissemination of this music</strong>. Our hope is that the music on this site is studied and enjoyed by people of
      open minds and clear thoughts. We ask that you research the artists and, if you enjoy their music, to
      support them by buying their cds or contacting them with positive feedback. We dedicate this site as a
      <strong>resource for musicians and fans</strong> to discover each others work and to share ideas. <strong>Through peaceful
      interchange we will be able to progress as Artists and as Human Beings.</strong></p>

    <p>Our intention is also to support Smalls Jazz Club and the Artists that perform there. By supporting this
      site, you are directly supporting the club and its Artists. We hope that if you are able to, that you come
      visit us in New York City and experience the club in person.</p>

    <p>We ask that you not steal from this site and that you treat the material here <strong>respectfully</strong>. Much of the
      content on this site is here by the <strong   >goodwill of the Artists</strong> who have performed at the club.</p>
  </section>
{% endblock static-content %}