<div class="modal fade" id="moreInfoCatalogPopup"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">SmallsLIVE Catalog</p>
        <p class="text9">The SmallsLIVE Catalog is a collection of individually produced artist projects.
          SmallsLIVE Members may sponsor artists of their choice and receive their music as downloads or CDs.
          Sponsorships directly support the artist.</p>
      </div>
    </div>
  </div>
</div>
