<div class="modal fade" id="moreInfoLiveStreamPopup"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">Live Stream</p>
        <p class="text9">
             Smalls Jazz Club has been a pioneer in live streaming and began streaming shows live from the venue in 2007.  
             There is no cost to watch our live streams.  During normal operating times the entire evening is streamed.  
             During this Covid-19 pandemic period there will be special live concerts scheduled in advance.
        </p>
      </div>
    </div>
  </div>
</div>
