<div class="modal fade" id="moreInfoLiveStreamPopup"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content custom-modal no-cancel">
      <a href="#" class="close-button"></a>
      <div class="modal-body">
        <p class="title2 accent-color">Live Stream</p>
        <p class="text9">It is the policy of Smalls Jazz Club and Mezzrow to live stream all of our shows to our website.
          Streaming begins at the start of the evening and goes until the close of the venues.
          There is no charge to watch these live streams.
          Please register as a member and confirm your email address to sign in and begin watching our live stream.
          Each show is available in our Archive generally one week after the performance.</p>
      </div>
    </div>
  </div>
</div>