{% extends "base_musician-signup.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-9"> 
    <div class="row">
      <div class="col-sm-9">
        <div class="well">
          <h2>Welcome!</h2>
          <p>Because you have played at Smalls Jazz Club in NYC, you have an account already in our system. You just need to choose a new password to get started with the Performer Registration.</p> 
          <form class="form-horizontal" action="/static_page/musician-signup-terms" role="form">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Email Address</label>
              <div class="col-sm-8">
                <input type="email" value="ari@hoenig.com" class="form-control" id="inputEmail3" placeholder="Email">
                
                <p class="help-block">Your email address will also be used to log in.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-4 control-label">Choose a Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-4 control-label">Re-type Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked /> Remember me when I come back
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <p><button type="submit" class="btn btn-primary">Continue</button></p>
                <p>Contact <a href="#">artistHelp@smallslive.com</a> for help.</p>
              </div>
            </div>
          </form>  
        </div> 
      </div>
    </div>     
  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul>
    <li><code>1</code> AN artist can only get here from an email based invitation</li>
  </Ul>
</div>
{% endblock content %}
