{% extends "base_musician-signup.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-4 col-lg-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-7 col-md-6 col-lg-4">  
    <div class="well">
      <h2>Welcome!</h2>
      <p>Because you have played at Smalls Jazz Club in NYC, you have an account already in our system. You just need to choose a new password to get started with the Performer Registration.</p> 
      <form   action="{% url "musician-signup-choose-videos" %}" role="form">
        <div class="form-group">
          <label for="inputEmail3" class="control-label">Email Address</label>
            <input type="email" value="ari@hoenig.com" class="form-control" id="inputEmail3" placeholder="Email">
          <p class="help-block">Your email address will also be used to log in.</p>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="  control-label">Choose a Password</label>
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="inputPassword3" class=" control-label">Re-type Password</label>
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked /> Remember me when I come back
          </label>
        </div>
        <div class="form-group">
          <p><button type="submit" class="btn btn-primary">Continue</button></p>
          <p>Contact <a href="#">artistHelp@smallslive.com</a> for help.</p>
        </div>
      </form>  
    </div>
  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul>
    <li><code>1</code> AN artist can only get here from an email based invitation</li>
  </Ul>
</div>
{% endblock content %}
