{% extends "base_musician-signup.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block bodyclass %}musician-registration{% endblock bodyclass %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-9">
    <form action="">  
      <p class="">You have performed on (20) audio recordings ("Masters") at Smalls starting in 2011. Because you own a share of the copyright in each of these Masters, we need your permission to make them available for listening. Please note that:</p>
      <ul>
        <li>Until all performers on a given recording have granted us permission to publish it, it will not appear in our audio archive.</li>
        <li>Recordings cannot begin earning revenue until they are available to listeners in the archive.</li>
        <li>If you want to approve just a portion of a recording, please select "Do not publish for now" and contact us via email below with details.</li>
        <li>You can change the publishing status of a recording  later<code>true?</code>.</li>
      </ul> 
      <p>Questions? Email <a href="mailto:info@smallsjazzclub.com?subject=Question about approving my masters during artist sign-up">info@smallsjazzclub.com</a>.</p>        
      <table class="table   table-bordered recordings-to-publish">
        <thead>
          <tr> 
            <th>Allow in archive? <label><input type="checkbox" value="all"> Approve all 20</label></th>            
            <th>Audio Recording <span class="approved"><abbr title="Approved" class="explained">&check;</abbr> = owner approved</span>  <span class="not-approved"><abbr title="Declined" class="explained">&Cross;</abbr> = owner did not approve</span></th>          
          </tr>
        </thead>
        <tbody>  
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        {% include 'blocks/artist-select-master-publishing-status.html' %}
        </tbody>
      </table>  
      <div class="alert alert-info">Congratulations! Due to your choices, (2) recordings above now have 100% approval from all artists and are eligible to make money when fans listen. Your peers on these recordings will receive a courtesy email notifying them about this and these recordings may appear in our "Just Added" lists for fans. <code>1</code></div>
      <p><button type="submit" class="btn btn-primary">Continue</button>  <button type="submit" class="btn btn-default">Skip for now</button></p>
    </form>
    <small class="text-muted text-sm">* Because you do not own the entire video recording (aka the "Master"), you cannot decide alone which videos go live. For each video, you and the side musicians each own a portion of the copyright in the Master recording and so all musicians on each video must agree for a video to go live on the website. By default, your side musicians are "opted in" to your videos and only have 7 days to opt out before the video goes live.</small>

  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul> 
    <li><code>1</code> - this doesnt work but obviously this needs to have a counter. hide this if no recordings are being published.</li>
    <li><code>2</code> - is it true that they can un-publish a recording later?</li>
  </Ul>
</div>
{% endblock content %}
