{% extends "base.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<h1>Performer Registration</h1>
<div class="row">
  <div class="col-sm-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-9">
    <form action="">
      <div class="alert alert-info">
        <h2>You need (2) sidemen to clear your videos</h2>
        <p class="">On SmallsLIVE, in order to publish a video and start to monetize it, the bandleader must be the sole owner of the video. In order to make you the owner of the videos on which you were a bandleader, you need to ask each musician who played with you to "clear" the video. By clearing the video, they are transferring their copyright and ownership in the video (Master Recording) to you.  </p>    
      </div>
      <table class="table table-hover table-bordered videos-to-clear">
        <thead>
          <tr> 

            <th>These (2) Sidemen Need To Give You Clearance:</th>          
          </tr>
        </thead>
        <tbody>
          <tr> 
            <td class="videos">
              <p>Ask <strong>Carlos Abadie</strong> (trumpet), who played on (2) of your sets, to clear the checked videos:  </p>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select-all" checked="">Select all (2):

                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 12/1/09 w/  J. Hartman, M. Davis, J. Coltrane, you <button type="button" class="btn btn-primary btn-xs">Play</button>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 2/11/08 w/  C. Davis, T. Clarke, B. O'Neill, you <button type="button" class="btn btn-primary btn-xs">Play
                  </label>
                </div>
              </div>              
            </td>
          </tr>
          <tr>    
            <td class="videos">
              <p>Ask <strong>Eric Biondo</strong> (trumpet), who played on (2) of your sets, to clear the checked videos:</p>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select-all" checked=""> Select all (2):  

                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 12/1/09 w/  J. Hartman, M. Davis, J. Coltrane, you <button type="button" class="btn btn-primary btn-xs">Play</button>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 2/11/08 w/  C. Davis, T. Clarke, B. O'Neill, you <button type="button" class="btn btn-primary btn-xs">Play
                  </label>
                </div>
              </div>              
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-info about-to-happen">
        <p>When you press Continue, SmallsLIVE will contact the appropriate sidemen listed above with videos you want cleared and explain to them how to give you the proper clearance. You will be emailed when any one of the <span class="count-videos-to-be-cleared">4</span> videos have been cleared by one of your sidemen.</p>
      </div>
      <button type="submit" class="btn btn-primary">Continue</button>  <button type="submit" class="btn btn-default">Skip for now</button>
    </form>
  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul> 
  </Ul>
</div>
{% endblock content %}
