{% extends "base.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<h1>SmallsLIVE Performer Registration</h1>
<div class="row">
  <div class="col-sm-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-9">
    <form action="#">
      <div class="alert alert-success">
      Thanks! (2) of your peers have been asked to clear the specified videos. Now it's your turn to reciprocate!
      </div>
      <div class="alert alert-info">
        <h2>(2) Bandleaders Need You To Clear Their Videos</h2>
        <p class="">The following 2 musicians have hired you for gigs at Smalls in the past. In order for these bandleaders to publish the videos you played on, and begin to monetize them, you need to give them ownership of your performance in each video.  While you will be giving the leader your copyright in your performance on those videos,* you'll also get an equal share of any money made on those videos on SmallsLIVE.  </p>   
      </div>
      <table class="videos-to-clear table table-condensed table-hover table-bordered">
        <thead>
          <tr> 
            <th>Give clearance to the bandleader by checking off video(s):</th>
            <th>Is bandleader a SmallsLIVE member?</th>
          </tr>
        </thead>
        <tbody>
          <tr> 
            <td class="videos">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select-all" checked=""> Carlos Abadie (trumpet) wants you to clear (2) videos:

                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 12/1/09 w/ J. Hartman, M. Davis, J. Coltrane, you <button type="button" class="btn btn-primary btn-xs">Play</button>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 2/11/08 w/ C. Davis, T. Clarke, B. O'Neill, you <button type="button" class="btn btn-primary btn-xs">Play
                  </label>
                </div>
              </div>              
            </td>
            <td>Yes (last login: 1 day ago)</td>
          </tr>
          <tr> 
            <td class="videos">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select-all" checked=""> Eric Biondo (trumpet) wants you to clear (2) videos:  

                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 4/19/13 w/ J. Hartman, M. Davis, J. Coltrane, you <button type="button" class="btn btn-primary btn-xs">Play</button>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""> 3/4/12 w/ C. Davis, T. Clarke, B. O'Neill, you <button type="button" class="btn btn-primary btn-xs">Play
                  </label>
                </div>
              </div>  
            </td>
            <td>Yes (logged in now)</td>
      
          </tr>
        </tbody>
      </table>
      <div class="alert alert-info about-to-happen">
        <p>Press continue to clear the (<span class="count-videos-to-be-cleared">4</span>) selected videos. </p>
      </div>
      <p><button type="submit" class="btn btn-primary">Continue</button> <button type="submit" class="btn btn-default">Skip for now</button></p>
    </form> 
    
    <p class="text-warning">* While the bandleader may eventually own the complete master recording of the set of music, they will not own any songs they didn't write. If you wrote originals songs that were performed on one of the videos listed on this page, you will still own the copyrights to those songs no matter what. No copyright in any songs is ever transferred on SmallsLIVE anywhere.</p>
   
  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul> 
  </Ul>
</div>
{% endblock content %}
