{% extends "base_musician-signup.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-4 col-lg-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-7 col-md-6 col-lg-4">      
    <div class="well">
      <h2>Have a Smalls or SmallsLIVE account already?</h2>
      <p>Log in now to speed up your registration. If we had a current email account on file, we emailed you information on how to log in. </p> 
      <form  role="form">
        <div class="form-group">
          <label for="inputEmail3" class=" control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputPassword3" class=" control-label">Password</label>
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <div class="form-group">     
            <button type="submit" class="btn btn-primary">Log In</button> <a href="/static_page/musician-signup-rescue-password">Resend my password</a>
        </div>
      </form>  
    </div> 
    <div class="well">
      <h4 class="text-primary">Don't have a password yet? <code>4</code></h4>
      <p>No problem: you can continue registration as an artist below without logging in. Later, we'll ask you to create a password. </p>
      <a href="../musician-signup-password" class="btn btn-default">Continue</a>
    </div>
  </div> 
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul>
    <li><code>1</code> This is CMS Content</li>
    <li><code>2</code> Change active state on each page. let users go back once they have completed a step.</li>
    <li><code>3</code> Don't show login item if they are logged in already somehow.</li>
    <li><code>4</code> UNless the business wants to hide this URL from the public website, you do need a way for artists who do NOT come from a custom signup link (that has been parameterized to identify itself as a link associated with an invitation), then you do need a way for artists to come in blind off the website and register. The majority of people probably will not need to see this box and will just see the login box above if for example, the URL contained a ?email=arist@artistname.com parameter.</li>
  </Ul>
</div>
{% endblock content %}
