{% extends "base_my_account.html" %}
{% block title %}View Orders / Transaction History{% endblock title%}
{% block content_for_account_mgmt %}  
  <a href="" class="btn-sm btn-primary"><span class="glyphicon glyphicon-download"></span> Download Everything (650MB)</a> - all purchased music downloads bundled together.</p> 
  <table class="table table-striped payment-history">
    <thead>
      <tr>
        <th>Date</th>
        <th>Order</th>
        <th><span class="glyphicon glyphicon-music"></span> Purchased</th>
        <th>More Info</th>
        <th class="num">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><time datetime="">11 Apr 2014</time></td>
        <td><a href="#">41452</a></td>
        <td><span class="text-muted">CD: </span><span class="media">Frank Lacy: Live at Smalls</span><br />&#8471;2011</td>
        <td class="nowrap"><a href="#">Shipped 12 Apr 2014</a><code>3</code></td>
        <td class="num">$15.89</td>
      </tr>
      <tr>
        <td><time datetime="">1 Apr 2014</time></td>
        <td><a href="#">98298</a></td>        
        <td>"Take the A Train" <span class="text-muted">(Live: 8:32)</span><br /><a href="">event.displaytitle</a></td>
        <td class="nowrap"><span class="glyphicon glyphicon-download"></span> <a href="">Download</a></td>
        <td class="num">$5.00</td>
      </tr>
    </tbody>
  </table>

  <div class="dev">
    <ul>
      <li><code>1</code> - 50 rows per page, then paginate</li>   
      <li><code>2</code> - links go to receipt page</li>     
      <li><code>3</code> - tracking number link (launch USPS, UPS, or whatever if possible)</li>   
    </ul>
  </div> 
{% endblock content_for_account_mgmt %}