{% extends "base_my_account.html" %}
{% block bodyclass %}my-account{% endblock bodyclass %}
{% block title %}Downloads and Orders{% endblock title%}
{% block content_for_account_mgmt %}  
  <p class="download-all"><a href="" class="btn-xs btn-default btn"><span class="glyphicon glyphicon-download"></span> Download All Songs (650MB)</a></p> 
  <h2 class="orders">(2) Orders</h2>
  <div class="row search-orders-by-number">
    <div class="col-sm-5"> 
      <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Order number">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-sm" type="button">Find Order<code>4</code></button> 
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-sm-3">
      <a  href="#" class="trigger-search-orders-by-date">Find by date...</a>
    </div>
  </div><!-- /.row -->
  <div class="row none search-orders-by-date ">
    <div class="col-sm-7"> 
      {% include 'blocks/search-orders-by-date.html' %}
    </div>
    <div class="col-sm-3">
      <a href="#" class="trigger-search-orders-by-number">Find by order #...</a>
    </div>
  </div>
  <table class="table table-striped payment-history">
    <thead>
      <tr>
        <th>Date</th>
        <th>Order</th>
        <th class="num">Items</th>
        <th>Item Details</th>
        <th>More Info</th>
        <th class="num">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><time datetime="">11 Apr 2014</time></td>
        <td><a href="#">41452</a></td>
        <td class="num">1</td>
        <td><span class="text-muted">CD: </span><span class="media">Frank Lacy: Live at Smalls</span><br />&#8471;2011</td>
        <td class="nowrap"><a href="#">Shipped 12 Apr 2014</a><code>3</code></td>
        <td class="num">$15.89</td>
      </tr>
      <tr>
        <td><time datetime="">1 Apr 2014</time></td>
        <td><a href="#">98298</a></td>    
        <td class="num">1</td>    
        <td>"Take the A Train" <span class="text-muted">(Live: 8:32)</span><br /><a href="">event.displaytitle</a></td>
        <td class="nowrap"><span class="glyphicon glyphicon-download"></span> <a href="">Download</a></td>
        <td class="num">$5.00</td>
      </tr>
    </tbody>
  </table>

  <div class="dev">
    <ul>
      <li><code>1</code> - 50 rows per page, then paginate</li>   
      <li><code>2</code> - links go to receipt page</li>     
      <li><code>3</code> - tracking number link (launch USPS, UPS, or whatever if possible)</li> 
      <li><code>4</code> - go right to order/receipt page</li>  
    </ul>
  </div> 
{% endblock content_for_account_mgmt %}