{% extends "base_my_account.html" %}
{% block title %}Edit My Account{% endblock title%}
{% block content_for_account_mgmt %}
  <div class="col-sm-12">
    <!-- if user==artist -->
    <div class="alert alert-info">
      <code>1</code>Artists: Use this page to edit your personal (and private) profile information. To make edits to your public artist profile,  <a href="/artists/102/edit">Edit your artist profile</a>.
    </div> 
    <!-- end if -->
    <p><code>2</code>[Output user model form in this order: <br />image,<br /> email, <br />password, <br />username,<br /> name,<br /> address, <br />phone  ]</p>
  </div>

  <div class="dev">
    <h1>Dev notes</h1>
    <Ul> 
      <li><code>1</code> note pseudo code in comments</li>
      <li><code>2</code> For image field, if user==artist, then say "if you do not upload a photo, your artist profile photo will be used". Take user to Dashboard w/ Flash message </li>
    </Ul>
  </div>
{% endblock content_for_account_mgmt %}
