{% extends "base_my_account.html" %}
{% block title %}My Account &amp; Subscription{% endblock title%}
{% block content_for_account_mgmt %} 
 
  <table class="table nv  ">
    <tbody>
      <tr>
        <td colspan="3" class="txt"><h2>{ user.full_name }</h2></td>
      </tr>
      {% if user.is_artist %}
      <tr>
        <td colspan="">Musician/Artist Profile</td>
        <td colspan=""><a href="/artists/102/edit">Edit your artist bio, photo etc. here</a><br />To cancel your artist account, <a href="#">email Spike</a></td>
      </tr> 
      {% endif %} 
      <tr>
        <td>Email (your login)</td><td><p>{{ user.email }} <code>6</code>(unverified) </p><a href="/static_page/my-account-edit">edit email address</a><code>4</code></td>
      </tr>
      <tr>
        <td>Password</td><td><p>****</p><a href="/static_page/my-account-edit">change password<code>4</code></a></td>
      </tr> 
      {% if user.phone1  %}
      <tr>
        <td><code>7</code>Phone</td><td>{{ user.phone1 }}</td><td><a href="/static_page/my-account-edit">edit phone</a></td>
      </tr>
      {% endif %}
      {% if user.address1  %}
      <tr>
        <td><code>7</code> Address</td><td><address>{{ user.address1 }}<br />{{ user.address2 }}<br />{{ user.city }}, {{ user.state }} {{ user.zip }}<br />user.country</address></td><td><a href="">edit address</a></td>
      </tr>
      {% endif %}
      <tr><td colspan="2" class="txt"><h2>Subscription</h2></td></tr>
      {% if user.is_artist %}
        <tr>
          <td colspan="">Subscription Type</td>
          <td>You have a free artist subscription. Music you listen to does not count towards play counts or royalties.</td>
        </tr> 
      {% else %}
        {% if request.GET.inTrial %}
          <tr>
            <td>Subscription Type</td>
            <td><p><strong>Free Trial</strong> (Ends in 2 days on April 16, 2015. After that, you'll be charged $10/month.)  </p><a href="">Cancel my trial</a></td>
          </tr>
        {% endif %}
        {% if request.GET.cancelled %}
          <tr>
            <td>Subscription Type</td>
            <td>You are not currently a subscriber. For $10/month get:<br />
            <ul>
              <li>Access all audio streams</li>
              <li>Watch tonight's live concert(s)</li>
              <li>Access to purchase downloads (when avail.)</li>
            </ul>
            <a href="" class="btn btn-primary" role="button">Subscribe Now</a></td>
          </tr>
        {% endif %}
        {% if request.GET.cancelled or request.GET.inTrial %}
        {% else %} 
          <tr>
            <td>Subscription Type</td>
            <td><p>You have a regular subscription. $10/month is getting you:</p>
              <ul>
                <li>Access all audio streams</li>
                <li>Watch tonight's live concert(s)</li>
                <li>Access to purchase downloads (when avail.)</li>
              </ul>
              <a href="?cancel=1">Change or cancel my subscription</a>
            </td>
          </tr>
        {% endif %}
      {% endif %}
      {% if request.GET.cancelled %}
        <tr>
          <td>Subscription history</td>
          <td>You cancelled your last subscription on May 1, 2014.</td>
        </tr>
      {% else %}
        <tr>
          <td>Billing</td>          
          <td>
            <p>{% if request.GET.inTrial %}We will charge{% else %}We are charging{% endif %} your VISA card ending in 1234. </p>
            <p class="text-warning">This card will expire on 6/1/2014.</p>
            <a href="{% url 'djstripe:change_card' %}">Change credit card</a><code>2</code>
          </td>
        </tr>
        <tr>
          <td>Subscriber since</td>
          <td>March 1, 2015</td> 
        </tr>
        <tr>
          <td>Artist Revenue Generated</td>
          <td><span class="text-success">~$100.00 from your subscription fees and purchases have gone directly into our artist revenue pool. Thanks!</span></td> 
        </tr> 
      {% endif %}
      <tr>
        <td>Orders/Transactions</td>
        <td>You've placed <a href="">5 additional music orders</a> to date. <a href="/static_pages/my_account_purchase_history">View all payments</a> (including subscription fees).</td>
      </tr>
    </tbody>
  </table>
 
  <div class="dev">
    <h1>Alternate states</h1>
    <Ul> 
      <li><a href="?inTrial=1">User is inside trial period</a></li>
      <li><a href="?free=1">User is free-service subscriber</a></li> 
      <li><a href="?">User is a paid subscriber</a></li>         
      <li><a href="?cancelled=1">User has cancelled</a></li>     
    </Ul> 
    <h1>Dev notes</h1>
    <Ul>  
      <li><code>1</code> note pseudo code in comments</li>  
       
      <li><code>3</code> if there is an artist photo uploaded but no user photo, display that here. Else, show user profile image.</li>
      <li><code>4</code>  these edit links  open a dialog to change the requested field using a unique form. Display form fields, and on submit,  emit  flash/feedback message in the dialog and provide a button to close dialog (closing dialog should also reload the my-account summary page). See #<code>5</code> for UI requirements for forms</li>
      <li><code>5</code> Forms + Flash messages for each row:
        <ul> 
          <li>Email: just show an email field. The response should be flash text using div.alert-info "In order for SmallsLIVE to use this new email address, please click the link in the email we just sent you (verifying you own that email account)."</li>
          <li>Password: just show one field (dont require a retype); its easy enough to change the password if its not right. Flash mesg: "Your password was updated successfully.</li>
 
          <li>Phone: same as password; replace "password" with "phone" in the flash message. Use 1 input field; talk to brian if we need to handle international number entry. See <code>7</code></li>
          <li>Address: use text inputs for all fields; do not use dropdown for state (use .selectize). talk to brian if we're handling international addresses. See <code>7</code></li>
        </ul>
       <li><code>6</code> This email address hasn't been click-verified; this could only happen for a registered user who changes their email after signing up.</li> 
       <li><code>7</code> - only show phone and address fields if they have ordered something that required these fields at checkout time</li>
    </Ul>
  </div>
{% endblock content_for_account_mgmt %}
