{% extends "base_my_account.html" %}
{% block title %}My Subscription{% endblock title%}
{% block content_for_account_mgmt %} 
  <table class="table nv">
    <tbody>
      {% if user.is_artist %}
        <tr>
          <td colspan="">Subscription Type</td>
          <td>You have a free artist subscription. Music you listen to does not count towards play counts or royalties.</td>
        </tr> 
      {% else %}
        {% if request.GET.inTrial %}
          <tr>
            <td>Subscription Type</td>
            <td><p><strong>Free Trial</strong> (Ends in 2 days on April 16, 2015. After that, you'll be charged $10/month.)  </p><a href="">Cancel my trial</a></td>
          </tr>
        {% endif %}
        {% if request.GET.cancelled %}
          <tr>
            <td>Subscription Type</td>
            <td>You are not currently a subscriber. For $10/month get:<br />
            <ul>
              <li>Access all audio streams</li>
              <li>Watch tonight's live concert(s)</li>
              <li>Access to purchase downloads (when avail.)</li>
            </ul>
            <a href="" class="btn btn-primary" role="button">Subscribe Now</a></td>
          </tr>
        {% endif %}
        {% if request.GET.cancelled or request.GET.inTrial %}
        {% else %} 
          <tr>
            <td>Subscription Type</td>
            <td><p>You have a regular subscription. $10/month is getting you:</p>
              <ul>
                <li>Access all audio streams</li>
                <li>Watch tonight's live concert(s)</li>
                <li>Access to purchase downloads (when avail.)</li>
              </ul>
              <a href="?cancel=1">Cancel my subscription</a>
            </td>
          </tr>
        {% endif %}
      {% endif %}
      {% if request.GET.cancelled %}
        <tr>
          <td>Subscription history</td>
          <td>You cancelled your last subscription on May 1, 2014.</td>
        </tr>
      {% else %}
        <tr>
          <td>Billing</td>          
          <td>
            <p>{% if request.GET.inTrial %}We will charge{% else %}We are charging{% endif %} your VISA card ending in 1234. </p>
            <p class="text-warning">This card will expire on 6/1/2014.</p>
            <p><a href="{% url 'djstripe:change_card' %}">Change credit card</a><code>2</code></p>
          </td>
        </tr>
        <tr>
          <td>Subscriber since</td>
          <td>March 1, 2015</td> 
        </tr>
        <tr>
          <td>Artist Revenue Generated</td>
          <td><span class="text-success">~$100.00 from your subscription fees has gone directly into our artist revenue pool. Thanks!</span></td> 
        </tr>
        <tr>
          <td>Cancel subscription</td>
          <td><a href="/static_page/change_subscription">Change/cancel subscription</a></td> 
        </tr>
      {% endif %}
      <tr>
        <td>Orders/Transactions</td>
        <td>You've placed <a href="">5 additional music orders</a> to date. <a href="/static_pages/my_account_purchase_history">View entire transaction history</a></td>
      </tr>
    </tbody>
  </table>
 
  <div class="dev">
    <h1>Alternate states</h1>
    <Ul> 
      <li><a href="?inTrial=1">User is inside trial period</a></li>
      <li><a href="?free=1">User is free-service subscriber</a></li> 
      <li><a href="?">User is a paid subscriber</a></li>         
      <li><a href="?cancelled=1">User has cancelled</a></li>     
    </Ul>
    <h1>Dev notes</h1>
    <Ul> 
      <li><code>2</code> - put the form in a popup window</li>   
    </Ul>
  </div>
{% endblock content_for_account_mgmt %}
