{% extends "static-page.html" %}
{% load static from staticfiles %}

{% block newsletters-active %}static-nav__item--active{% endblock %}

{% block static-content %}
  <section class="static-content newsletters col-xs-12 col-md-9">
    <h1 class="static-content__main-title">Newsletters Archive</h1>
    <p>
        This is the newsletter archive. This text explains what our newsletters are, and also may get people to want to subscribe. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
    <div class="newsletters__subscribe row">
        <div class="col-xs-12 newsletters__subscribe__text">
            Sign up and stay informed!
        </div>
        <div class="col-xs-12 col-sm-7">
            <input type="text" class="newsletters__subscribe__input" placeholder="Your email address"/>
            <input type="submit" value="SUBSCRIBE" class="newsletters__subscribe__button"/>
        </div>
    </div>
    <div class="newsletters__year row">
        <div class="newsletters__year__heading col-xs-12">2015</div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Short name here?</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt unavailable">This newsletter has no excerpt. On the other hand, that doesn't mean it's empty!</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">We’re presenting to you - our new website!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">And a very very long name goes here, so what do we do now? Shift down.</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Another great article about something!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

    </div>

    <div class="newsletters__year row">
        <div class="newsletters__year__heading col-xs-12">2014</div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

        <div class="newsletter col-xs-6 col-sm-4">
            <div class="newsletter__title">Some good news for Mezzrow!</div>
            <div class="newsletter__date">01/20/2015</div>
            <div class="newsletter__excerpt">Good news for Mezzrow! - we worked out an agreement with Steinway to get a brand new instrument (a truly unbelievable model “A”) as part of an endorsement deal.  As a piano room I can’t think of a better company to partner with.  Also, Steinway is a true New York...</div>
            <div class="newsletter__separator"></div>
            <a href="" class="newsletter__view-button">Read newsletter</a><span class="arrow"></span>
        </div>

    </div>

  </section>
{% endblock static-content %}