{% extends "home_new.html" %}
{% load add_get_parameter %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block content %}

    <div class="content-wrapper" style="border:none">
        <form>
            <section class="page-heading container" style="width: 100%;">
                <h1>SmallsLIVE Payout Calculation Admin:</h1>
            </section>
            <section class="payout-calculator">
                    <div class="payout-calculator__input"><span class="payout-calculator__input__label">Period income:</span><input class="payout-calculator__text-input" type="number" name="period-income" placeholder="Enter value: 0000.00"></div>
                    <div class="payout-calculator__input"><span class="payout-calculator__input__label">Period costs:</span><input class="payout-calculator__text-input" type="number" name="period-income" placeholder="Enter value: 0000.00"></div>
                    <div class="payout-calculator__input"><span class="payout-calculator__input__label">Period start date:</span><span class="payout-calculator__date-picker" id="payout-calculator__date-picker-start"><input class="" type="text" readonly><i class="fa fa-caret-down"></i></span></div>
                    <div class="payout-calculator__input"><span class="payout-calculator__input__label">Period end date:</span><span class="payout-calculator__date-picker" id="payout-calculator__date-picker-end"><input class="" type="text" readonly><i class="fa fa-caret-down"></i></span></div>
                    <div class="payout-calculator__instructions">
                        <p>Please select above the starting date and ending date for which you want to calculate the payout amounts for each artist.</p>
                    </div>
                    <div class="payout-calculator__set-final__container">
                        <div class="payout-calculator__set-final__checkbox-container">
                            <input type="checkbox" class="payout-calculator__set-final__checkbox" name="set-final">
                            <label for="set-final" class="payout-calculator__set-final__checkbox-label">Set these calculated values as final</label>
                        </div>
                        <div class="payout-calculator__instructions warning">
                            <p>Be aware that if you set this checkbox above as enabled, the values that get calculated for this period will be set as default for the respective period and will be displayed to artists through their dashboards.</p>
                        </div>
                    </div>
                    <button type="submit" class="payout-calculator__submit-button">Calculate</button>
            </section>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
          <script src="{% static 'js/intro/intro.min.js' %}"></script>
          <script src="{% static 'js/bootstrap-select.js' %}"></script>
          <script src="{% static 'js/Chart.min.js' %}"></script>
          <script src="{% static 'js/dashboard-base.js' %}"></script>
          <script>
              var firstLogin = {{ first_login|lower }};
              if (firstLogin) {
                $(document).ready(function () {
                  if( $(window).width() > 1000) {
                      introJs().start();
                  }
                })
              }
          </script>

          <!-- Bootstrap datepicker JavaScript -->
          <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
          <script src="{% static 'js/metrics_datepicker.js' %}"></script>
          <script>
            var $datePickerStart = $('#payout-calculator__date-picker-start input');
            $datePickerStart.datepicker({
                format: 'MM // yyyy',
                minViewMode: "months",
                orientation: "top auto",
                startDate: new Date(2015, 7-1, 1),
                autoclose: true
            });

            var $datePickerEnd = $('#payout-calculator__date-picker-end input');
            $datePickerEnd.datepicker({
                format: 'MM // yyyy',
                minViewMode: "months",
                orientation: "top auto",
                startDate: new Date(2015, 7-1, 1),
                autoclose: true
            });

            var date = new Date(2015, 7, 1);
            $datePickerStart.datepicker("setDate", date);
            $datePickerEnd.datepicker("setDate", date);
          </script>
{% endblock %}