{% extends "static-page.html" %}
{% load static from staticfiles %}

{% block photo-gallery-active %}static-nav__item--active{% endblock %}

{% block static-content %}
  <section class="static-content col-md-9">
    <h1 class="static-content__main-title">Photo Gallery</h1>
    <div class="row photo-gallery">
      {% for img in "123456789" %}
        {% if forloop.counter0|divisibleby:"6"  %}
            <div class="col-md-8"><img src="{% static 'image/photo-gallery/wide.png' %}" class="img-responsive photo-gallery__image" alt=""/></div>
        {% else %}
            <div class="col-md-4"><img src="{% static 'image/photo-gallery/normal.png' %}" class="img-responsive  photo-gallery__image" alt=""/></div>
        {% endif %} 
      {% endfor %}
    </div>
  </section>
{% endblock static-content %}