{% extends "static-page.html" %}
{% load static from staticfiles %}
{% load custom_cloudinary_tags %}

{% block photo-gallery-active %}static-nav__item--active{% endblock %}

{% block title %}Photo gallery{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}">
  <style type="text/css">
    @media (max-width: 992px) {
      .fancybox-next span {
        left: auto;
        right: -22px;
      }

      .fancybox-prev span {
        left: -20px;
      }

      .fancybox-nav span {
        visibility: visible;
      }
    }
  </style>
{% endblock %}

{% block static-content %}
  <section class="static-content col-md-9">
    <h1 class="static-content__main-title">Photo Gallery</h1>
    <div class="row photo-gallery">
      {% for photo in photos %}
        {% if forloop.counter0|divisibleby:"6"  %}
            <div class="col-sm-4 col-xs-6 photo-gallery__image-container"><a href="{{ photo.file.url }}" rel="group" class="photo-gallery__image fancybox"><img src="{% cloudinary_image_url photo_url=photo.file.url|urlencode height=548 width=548 %}" class="img-responsive photo-gallery__image" alt=""/></a></div>
        {% else %}
            <div class="col-sm-4 col-xs-6 photo-gallery__image-container"><a href="{{ photo.file.url }}" rel="group" class="photo-gallery__image fancybox"><img src="{% cloudinary_image_url photo_url=photo.file.url|urlencode height=264 width=264 %}" class="img-responsive  photo-gallery__image" alt=""/></a></div>
        {% endif %} 
      {% endfor %}
    </div>
  </section>
{% endblock static-content %}

{% block extra_js %}
  <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".fancybox").fancybox({
        preload: 2
      });
    });
  </script>
{% endblock %}