{% extends "static-page.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}


{% block press-active %}active{% endblock %}

{% block title %}Press{% endblock %}

{% block static-content %}
  <section class="static-content press">
    <h1 class="main-title">Press</h1>
    {{ page.content|removetags:"span"|safe }}

    <div class="press__section">
        <div class="press__section__heading col-xs-12">Press releases and materials</div>
        {% for file in files %}
            <div class="press__file col-sm-4 col-xs-6">
                <div class="press__file__photo col-sm-8 col-xs-12">
                    <img src="{% static 'image/file-thumbnail-vector.svg' %}" alt="{{ file.name }} file"/>
                </div>
                <div class="press__file__title">{{ file.name }}</div>
                <div class="press__file__meta">{{ file.extension|upper }}  |  {{ file.size|filesizeformat }}</div>
                <a href="{{ file.file.url }}" class="press__file__download-button">Download</a><span class="arrow"></span>
            </div>
        {% endfor %}
    </div>

    <div class="press__section">
        <div class="press__section__heading col-xs-12">High resolution photos</div>
        {% for photo in photos %}
            <div class="press__file col-sm-4 col-xs-6">
                <div class="press__file__photo col-xs-12">
                    <img src="{% thumbor_url photo.file.url|urlencode height=255 width=255 smart=True %}" alt="{{ photo.name }} photo"/>
                </div>
                <div class="press__file__title">{{ photo.name }}</div>
                <div class="press__file__meta">{{ photo.extension|upper }}  |  {{ photo.size|filesizeformat }}</div>
                <a href="{{ photo.file.url }}" class="press__file__download-button">Download</a><span class="arrow"></span>
            </div>
        {% endfor %}
    </div>

  </section>
{% endblock static-content %}
