{% extends "static-page.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}


{% block press-active %}static-nav__item--active{% endblock %}

{% block static-content %}
  <section class="static-content press col-xs-12 col-md-9">
    <h1 class="static-content__main-title">Press</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
    </p>
    <p>
        Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
    </p>

    <div class="press__section">
        <div class="press__section__heading col-xs-12">Press releases and materials</div>
        {% for file in files %}
            <div class="press__file col-sm-4 col-xs-6">
                <div class="press__file__photo col-sm-8 col-xs-12">
                    <img src="{% static 'image/press/file-icon-pdf.png' %}" alt="{{ file.name }} file"/>
                </div>
                <div class="press__file__title">{{ file.name }}</div>
                <div class="press__file__meta">{{ file.extension|upper }}  |  {{ file.size|filesizeformat }}</div>
                <a href="{{ file.file.url }}" class="press__file__download-button">Download</a><span class="arrow"></span>
            </div>
        {% endfor %}
    </div>

    <div class="press__section">
        <div class="press__section__heading col-xs-12">High resolution photos</div>
        {% for photo in photos %}
            <div class="press__file col-sm-4 col-xs-6">
                <div class="press__file__photo col-xs-12">
                    <img src="{% thumbor_url photo.file.url|urlencode height=255 width=255 smart=True %}" alt="{{ photo.name }} photo"/>
                </div>
                <div class="press__file__title">{{ photo.name }}</div>
                <div class="press__file__meta">{{ photo.extension|upper }}  |  {{ photo.size|filesizeformat }}</div>
                <a href="{{ photo.file.url }}" class="press__file__download-button">Download</a><span class="arrow"></span>
            </div>
        {% endfor %}
    </div>

  </section>
{% endblock static-content %}