{% extends "home_new.html" %}
{% load static %}

{% block contact-us-active %}active{% endblock %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

  <div class="main-container pad-content">
    <div class="flex-row content-centered">
      <div class="flex-column info-page-container legal-content">
        <h1>SmallsLIVE Foundation Privacy Policy</h1>

        <ul>
            <li>
                We do not sell or give your email address to other companies for their marketing purposes without your permission.
            </li>
            <li>
                Personal information will not be shared with third parties for their marketing purposes.
            </li>
            <li>
                To make sure your personal information is secure, we communicate our privacy and security guidelines to SMALLSLIVE FOUNDATION employees and strictly enforce privacy safeguards within the company.
            </li>
        </ul>

        <h3>Personal Information</h3>
        <h4>The personal information we collect</h4>
        <ul>
            <li>When you register as a Member we collect your name, email address and in the case of Supporters, credit card information.</li>
        </ul>

        <p>If we do combine non-personal information with personal information the combined information will be treated as personal information for as long as it remains combined.</p>

        <p>As is true of most websites, we gather some information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring and exit pages, operating system, date/time stamp, and clickstream data.</p>
        <p>We use this information to understand and analyze trends, to administer the site, to learn about user behavior on the site, and to gather demographic information about our user base as a whole. SmallsLIVE Foundation may use this information in our marketing and advertising services.</p>
        <p>In some of our email messages, we use a “click-through URL” linked to content on the SmallsLIVE Foundation website. When you click one of these URLs, they pass through a separate web server before arriving at the destination page on our website. We track this click-through data to help us determine interest in particular topics and measure the effectiveness of our customer communications. If you prefer not to be tracked in this way, you should not click text or graphic links in the email messages.</p>
        
        <p>It may be necessary − by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence − for SmallsLIVE Foundation to disclose your personal information. We may also disclose information about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, disclosure is necessary or appropriate.</p>

        <p>SmallsLIVE Foundation makes it easy for you to keep your personal information accurate, complete, and up to date. We will retain your personal information for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.</p>

        <h3>Access to Personal Information</h3>
        <p>You can help ensure that your contact information and preferences are accurate, complete, and up to date by logging in to your account. For other personal information, we make good faith efforts to provide you with access so you can request that we correct the data if it is inaccurate or delete the data if SmallsLIVE Foundation is not required to retain it by law or for legitimate business purposes. We may decline to process requests that are unreasonably repetitive, require disproportionate technical effort, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local law.</p>
        
      </div>
    </div>
  </div>

{% endblock content %}
