{% extends "search_base.html" %}
{% load static from staticfiles %}

{% block search_section_title %}Found 32 events:{% endblock %}

{% block search_content %}
  <div class="search-events">
    {% for event in "123" %}
      <div class="search-event">
        <p class="search-event__date">12/02/2014</p>
        <h2 class="search-event__title">The David Schnitter Quartet</h2>
        <p class="search-event__sidemen-section-title">Artists:</p>
        <p class="search-event__sidemen">Colin Stranahan <span
                class="search-event__sidemen-instrument">(drums)</span> // Glenn Zaleski (piano) // Lucas Pino
          (tenor
          sax) // Desmont White (bass) // Alex Lore (alto sax) // Rafal Sarnecki (guitar) // Nick Finzer
          (trombone) // Andrew Gutauskas (baritone sax)</p>
        <p class="search-event__features-section-title">Available features:</p>
        <p class="search-event__features"><span class="fa fa-volume-down"></span> audio <span
                class="fa fa-music"></span> tracks <span class="fa fa-video-camera"></span> video</p>
      </div>
    {% endfor %}
  </div>
{% endblock search_content %}
