{% extends "search_base.html" %}
{% load static from staticfiles %}

{% block search_section_title %}Found 3 artists:{% endblock %}

{% block search_content %}
  <div class="search-artists">
    {% for artist in "123" %}
      <div class="search-artist">
        <div class="search-artist__image">
          <img src="http://placehold.it/140x140/232323/" alt=""/>
        </div>
        <div class="search-artist-info">
          <h2 class="search-artist-info__title">The David Schnitter Quartet</h2>
          <p class="search-artist-info__stats">Organ // 22 events <a href="" class="search-artist-info__link">(view)</a>
          </p>

          <p class="search-artist-info__bio">As a drummer, Ari Hoenig’s success has been unprecedented. Growing up in
            Philadelphia, his parent’s influence exposed Ari to a variety of...</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock search_content %}
