{% extends "search_base.html" %}
{% load static from staticfiles %}

{% block search_section_title %}Found 2 products:{% endblock %}

{% block search_content %}
  <div class="search-stores">
        {% for store in "123" %}
        <div class="search-store">
            <div class="search-store__image">
              <img src="http://placehold.it/140x140/232323/" alt=""/>
            </div>
            <div class="search-store-info">
              <h2 class="search-store-info__title">The David Schnitter Quartet</h2>
              <p class="search-store-info__type">CD / Digital Download</p>
              <p class="search-store-info__price">$15,00</p>
              <a href="" class="search-store-info__buynow">Buy now</a><span class="arrow"></span>
            </div>
          </div>
        {% endfor %}
      </div>
{% endblock search_content %}
