{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <section class="cto cto--search container">
    <h1 class="cto__title search-cto__title">Search results for:<br/>“Lucas”</h1>
  </section>
  <div class="container">
    <div class="row">
      <section class="col-md-3 search-sidebar">
        <ul class="search-nav">
          <li class="search-nav__item">Artists <span class="badge">3</span></li>
          <li class="search-nav__item">Events <span class="badge">32</span></li>
          <li class="search-nav__item">Store <span class="badge">2</span></li>
        </ul>
      </section>
      <section class="col-md-9 search-results">
        <h1 class="search-results__section-title">{% block search_section_title %}{% endblock %}</h1>
        {% block search_content %}
        {% endblock search_content %}
        <p class="search-pagination-info">Showing results 1-3 of 3</p>
        <div class="search-pagination"><span class="fa fa-caret-left"></span> <span class="badge">1</span> <span
                class="fa fa-caret-right"></span></div>
      </section>
    </div>
  </div>
{% endblock content %}
