{% extends "smalls_base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">

  <section class="social-connect container vertical-align-parent">
    <div class="vertical-align-child">
        <h1 class="social-connect__title">Sign up with one click</h1>

        <p class="social-connect__text">You can sign up for SmallsLIVE with just one click if you have a Facebook account!<br>Alternatively, below you can quickly sign up using your email.</p>
        <a class="fb-login-button" href=""><div class="vcenter"><i class="fa fa-facebook-square"></i></div><div class="vcenter">Sign up with Facebook</div></a>
    </div>
  </section>


  <section class="sign-up container">

    <h1 class="sign-up__main-title">Sign up for SmallsLIVE
using email</h1>

    <div class="row">
        <div class="col-sm-6 col-xs-12 sign-up__form">
            <form role="form" id="form-login" action="#">

                <h2 class="sign-up__form__heading">Basic account information:</h2>
                <label for="email">Your email address <span class="required">required</span></label>
                <input type="email" class="form-control" name="email" placeholder="Your email">
                <label for="password">Your password <span class="required">required</span></label>
                <input type="password" class="form-control" name="password" placeholder="Your password">
                <label for="confirm-password">Confirm your password <span class="required">required</span></label>
                <input type="password" class="form-control" name="confirm-password" placeholder="Confirm your password">

                <h2 class="sign-up__form__heading">Personal information:</h2>
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Your name">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" name="surname" placeholder="Your surname">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="location" placeholder="Your location">

                <h2 class="sign-up__form__heading">Notification settings:</h2>
                <div class="row">
                    <div>
                        <input type="checkbox" name="terms-agree">
                    </div>
                    <div class="col-xs-10">
                        <span class="checkbox-label">I agree with <a href="{% url "static_page" "terms-of-use" %}" target="_blank">terms and conditions</a> of SmallsLIVE</span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input type="checkbox" name="terms-agree">
                    </div>
                    <div class="col-xs-10">
                        <span class="checkbox-label">I wish to recieve news and updates on SmallsLIVE and Mezzrow
    via email.</span>
                    </div>
                </div>

                <a class="sign-up__form__button" href="">Sign up with email</a>

            </form>
        </div>

        <div class="col-sm-6 col-xs-12 sign-up__hints">
            <h2 class="sign-up__form__heading">Some info:</h2>
            <ul class="sign-up__hints__list">
                <li><b>Please provide a valid email address.</b> A confirmation email will be sent to the address you provide. Without <b>confirming the email address you will not be able to use the benefits</b> of your SmallsLIVE account.</li>
                <li>We recommend that your password contains <b>at least 6 characters</b>, and that you use a combination of small and capital letters and numerals.</li>
                <li><b>SmallsLIVE will not share any of your personal information</b> with any third parties, and will use it only to enhance your experience of SmallsLIVE platform.</li>
                <li>We send weekly news and updates to our users and fans via newsletters. If you don’t want to receive those go on and break our heart by turning them off in notification settings.</li>
                <li>If you encounter any problems with the signup process, or have any questions, feel free to contact us on <a href="mailto:info@smallsjazzclub.com" target="_blank">info@smallsjazzclub.com</a></li>
            </ul>
        </div>
    </div>

  </section>
</div>
{% endblock content %}