{% load account %}
{% load pipeline %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - SmallsLIVE</title>
  {% stylesheet 'css' %}

  <!-- favicon part -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#d21535">
    <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}">
    <meta name="theme-color" content="#d21535">
  <!-- end of favicon part -->

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900' rel='stylesheet'
        type='text/css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  {% block extra_head %}
  {% endblock %}
</head>
<body>
{% include "account/ajax_login.html" %}

{% if user.is_authenticated and not user.has_activated_account %}
  <div class="alert alert-danger" role="alert">
  <p class="container">
    <strong>Your account is not active yet!</strong> Please confirm it by clicking the link in the account activation email.
  </p>
  </div>
{% endif %}
<!-- ALERT TEST -->
{% if messages %}
    <div class="messages" id="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}



{% if user.is_superuser %}
<div class="container-fluid admin-nav">
    <div class="container">
        <button type="button" class="navbar-toggle mobile-nav__button collapsed" data-toggle="collapse" data-target="#admin-navbar">
            <i class="fa fa-bars"></i>
        </button>
        <span class="heading">Smalls admin</span>
        <div class="collapse navbar-collapse" id="admin-navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url "home" %}">Homepage</a></li>
                <li><a href="{% url "event_add" %}">Add events</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artists <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "artist_add" %}">Add artists</a></li>
                    <li><a href="{% url "artist_list" %}">Artist list</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Institutions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "institution_list" %}">Institution list</a></li>
                    <li><a href="{% url "institution_add" %}">Add institution</a></li>
                  </ul>
                </li>
                <li><a href="{% url "dashboard:index" %}">Store dashboard</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Metrics admin <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "artist_dashboard:admin_metrics" %}">Metrics admin</a></li>
                    <li><a href="{% url "artist_dashboard:metrics_payout" %}">Payout calculator</a></li>
                    <li><a href="{% url "artist_dashboard:change_payout_period" %}">Change payout period</a></li>
                  </ul>
                </li>
                <!-- <li><a href="#">Email User</a></li> -->
            </ul>
        </div>
    </div>
</div>
{% endif %}


<!-- mobile devices header -->
<nav class="navbar navbar-default mobile-navbar visible-xs visible-sm" role="navigation">
  <div class="container mobile-menu">
    <!-- Grouping logo and toggle for mobile -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed mobile-nav__button" data-toggle="collapse"
              data-target="#smalls-menu-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <button type="button" class="navbar-toggle collapsed mobile-nav__button" data-toggle="collapse" data-target="#search-collapse">
          <i class="fa fa-search"></i>
      </button>
      <a href="/" class="smalls-hor-logo"><img src="{% static 'smalls_live_horizontal_negative.svg' %}" alt=""/></a>
    </div>

    <!-- Collect the nav links, forms and other content for toggling -->
    <div class="collapse navbar-collapse menu" id="smalls-menu-collapse">
      <div class="header-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{% url "live-stream" %}">Live now!</a></li>
            <li><a href="{% url "archive" %}">Archive</a></li>
            <!--<li><a href="{% url "promotions:home" %}">SmallsLIVE Store</a></li>-->
            <li><a role="button" data-toggle="collapse" href="#mobile-nav-info-links" aria-expanded="false" aria-controls="mobile-nav-info-links">Info <i class="fa fa-caret-down"></i> </a></li>
            <li class="nopadding">
                <ul class="mobile-navbar__submenu collapse" id="mobile-nav-info-links">
                    <li class="hidden-sm"><a href="{% url "contact-and-info" %}">Contact & Info</a></li>
                    <li class="hidden-sm"><a href="{% url "about-us" %}">About us</a></li>
                    <li class="hidden-sm"><a href="{% url "revenue-share" %}">Revenue Share</a></li>
                    <li class="hidden-sm"><a href="{% url "photo-gallery" %}">Photo Gallery</a></li>
                    <li class="hidden-sm"><a href="{% url "newsletters" %}">Newsletters</a></li>
                    <li class="hidden-sm"><a href="{% url "static_page" "press" %}">Press</a></li>
                </ul>
            </li>
            <li role="presentation" class="divider"></li>
            <li><a href="https://www.mezzrow.com" target="_blank">Mezzrow</a></li>
            <li role="presentation" class="divider"></li>
            {% if user.is_authenticated %}
                <li class="mobile-navbar__user-name">{% user_display user %}</li>
                {% if request.user.artist %}
                  <li><a href="{% url "artist_dashboard:home" %}">Artist Dashboard</a></li>
                {% endif %}
                <li><a href="{% url "my-downloads" %}">My Downloads</a></li>
                <li><a href="{% url "user_settings" %}">User Settings</a></li>
                {% if not request.user.is_staff %}
                  <li><a href="{% url "subscription_settings" %}">My Subscription / Upgrade</a></li>
                {% endif %}
                <li><a href="{% url "account_logout" %}">Sign out</a></li>
             {% else %}
                <li><a class="mobile-nav__signin-button" href="#" data-toggle="modal" data-target="#logIn">Sign in</a></li>
                <li><a class="mobile-nav__signup-button" href="{% url "signup_landing" %}">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Collapsed search -->
    <div class="collapse navbar-collapse search-dropdown" id="search-collapse">
      <div class="header-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li>
                <div class="search">
                  <form action="{% url "artist_search" %}" method="get">
                    <div class="form-group has-feedback">
                      <input id="header--search" type="text" name="q" class="form-control search__input" placeholder="Search our Archive..."/>
                      <i class="fa fa-search form-control-feedback"></i>
                    </div>
                  </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar-collapse -->
    <!--
                <form action="" class="search">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control search__input" placeholder="Search our Archive..."/>
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
    -->
  </div>
  <!-- /. container-fluid -->
</nav>
<!-- end of mobile devices header -->

<!-- regular header -->
<header class="container hidden-xs hidden-sm">
  <a href="/" class="smalls-logo"><img src="{% static 'logo.svg' %}" width="101" height="100" alt=""/></a>
  <ul class="header-social clearfix">
          <li class="header-social__item"><a target="_blank" href="https://www.facebook.com/smallsjazzclubnyc"><i class="fa fa-facebook"></i></a></li>
          <li class="header-social__item"><a target="_blank" href="https://twitter.com/smallsjazzclub"><i class="fa fa-twitter"></i></a></li>
          <li class="header-social__item"><a target="_blank" href="https://instagram.com/smallsjazzclub/"><i class="fa fa-instagram"></i></a></li>
  </ul>

  {% with active_plan=user.get_subscription_plan.type %}
  {% if active_plan == "free" %}
  <ul class="header-login">
    <li class="header-login__upgrade">
      <a href="{% url "subscription_settings" %}">
        <div class="btn-group btn-group-xs">Upgrade</div>
      </a>
    </li>
  </ul>
  {% endif %}
  {% endwith %}


  <ul class="header-login clearfix">
    {% if user.is_authenticated %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle header-login__user-name" data-toggle="dropdown" role="button" aria-expanded="false">{% user_display user %}{% if basket.num_lines  %}<span class="badge header-user">{{ basket.num_lines }}</span>{% endif %} <span class="caret"></span></a>
        <ul class="dropdown-menu header-login__user-dropdown" role="menu">
            {% if request.user.artist %}
              <li><a href="{% url "artist_dashboard:home" %}">Artist Dashboard</a></li>
            {% endif %}
            <li><a href="{% url 'basket:summary' %}">Shopping Cart {% if basket.num_lines  %}<span class="badge header-user">{{ basket.num_lines }}</span>{% endif %}</a></li>
            <li><a href="{% url "my-downloads" %}">My Downloads</a></li>
            <li><a href="{% url "user_settings" %}">User Settings</a></li>
            {% if not request.user.is_staff %}
              <li><a href="{% url "subscription_settings" %}">Subscription Settings</a></li>
            {% endif %}
            <li><a href="{% url "account_logout" %}">Sign out</a></li>
        </ul>
      </li>
    {% else %}
        <li class="header-login__item"><a href="#" data-toggle="modal" data-target="#logIn">Sign in</a></li>
        <li class="header-login__item"><a href="{% url "signup_landing" %}">Sign up</a></li>
    {% endif %}
  </ul>
  <div class="header-nav-group">
      <nav class="navigation navbar-collapse">
        <ul class="navigation__menu">
          <li class="navigation__item {% block homepage_nav_active %}{% endblock %}"><a href="/"><i class="navigation__icon fa fa-2x fa-home "></i><span class="menu-label">Home</span></a></li>
          <li class="navigation__separator"></li>
          <li class="navigation__item {% block livestream_nav_active %}{% endblock %}"><a href="{% url "live-stream" %}"><i
                  class="navigation__icon fa fa-play-circle"></i><span class="menu-label">Live now!</span></a></li>
                  <li class="navigation__separator"></li>
          <li class="navigation__item {% block archive_nav_active %}{% endblock %}"><a href="{% url "archive" %}"><i
                  class="navigation__icon fa fa-video-camera"></i><span class="menu-label">Archive</span></a></li>
                  <li class="navigation__separator"></li>
          <li class="navigation__item {% block store_nav_active %}{% endblock %}"><a href="{% url "promotions:home" %}"><i class="navigation__icon fa fa-shopping-cart"></i><span class="menu-label">SmallsLIVE Store</span></a></li>
          <li class="navigation__separator"></li>
          <li class="navigation__item {% block info_nav_active %}{% endblock %}"><a href="{% url "contact-and-info" %}"><i class="navigation__icon fa fa-info-circle"></i>
           <span class="menu-label">Info</span></a></li>
          <li class="navigation__separator"></li>
          <li class="navigation__item hide-on-search"><a href="https://www.mezzrow.com" target="_blank"><img id="mezzrow-logo-header" src="{% static 'image/mezzrow-logo-negative.svg' %}"></a></li>
          <li class="navigation__separator hide-on-search"></li>
          <li class="navigation__item nav-search">
              <div class="search">
                  <form action="{% url "artist_search" %}" method="get">
                    <div class="form-group has-feedback" id="header-search-container">
                      <input id="header--search" type="text" name="q" class="form-control search__input" placeholder="Search SmallsLIVE"/>
                      <i class="fa fa-search form-control-feedback"></i>
                    </div>
                  </form>
              </div>
          </li>
        </ul>
      </nav>
  </div>
</header>
<!-- end of regular header -->



{% block content %}{% endblock content %}

<footer class="container">
  <div class="footer-content">
    <img class="footer-logo" src="{% static "logo-black.svg" %}" alt=""/>
    <ul class="footer-nav">
      <li><a href="{% url "static_page" "privacy" %}">Privacy</a></li>
      <li><a href="{% url "terms-and-conditions" %}">Terms and Conditions</a></li>
      <li><a href="{% url "contact-and-info" %}">Contact & Info</a></li>
    </ul>
    <address>
      <a href="https://goo.gl/maps/s4jFT">SmallsLIVE  |  183 West 10th Street, Basement  |  New York City, NY 10014</a> <br/>
      <a href="mailto:smallslive@gmail.com">smallslive@gmail.com</a>
    </address>
  </div>
</footer>

{% javascript 'js' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
  ga('create', 'UA-68202880-1', 'auto');
  ga('send', 'pageview');
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
