{% extends "home_new.html" %}
{% load static from staticfiles %}

{% block info_nav_active %}active{% endblock %}

{% block content %}
    <div>
      <div>
        <div class="flex-row content-centered">
          <div>
            <ul class="static-nav-menu">
              <li class="white-border-button no-border
                      {% block contact-us-active %}{% endblock %}">
                <a href="{% url "contact-and-info" %}">Contact us</a>
              </li>
              <li class="white-border-button no-border
                      {% block about-us-active %}{% endblock %}">
                <a href="{% url "about-us" %}">About us</a>
              </li>
              <li class="white-border-button no-border
                      {% block mission-statement-active %}{% endblock %}">
                <a href="{% url "revenue-share" %}">Revenue Share</a>
              </li>
              <li class="white-border-button no-border
                      {% block newsletters-active %}{% endblock %}">
                <a href="{% url "newsletters" %}">Newsletters</a>
              </li>
              <li class="white-border-button no-border
                      {% block press-active %}{% endblock %}"><a
                      href="{% url "press" %}">Press</a>
              </li>
              <li class="white-border-button no-border
                      {% block mezzrow-active %}{% endblock %}"><a
                      href="{% url "mezzrow" %}">Mezzrow</a>
              </li>
            </ul>
          </div>
          {% block static-content %}{% endblock static-content %}
        </div>
      </div>
    </div>
{% endblock content %}
