{% extends "smalls_base.html" %}
{% load static %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}">
  <style type="text/css">
    @media (max-width: 992px) {
      .fancybox-next span {
        left: auto;
        right: -22px;
      }

      .fancybox-prev span {
        left: -20px;
      }

      .fancybox-nav span {
        visibility: visible;
      }
    }
  </style>
{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <section class="store-header container">
            <div class="store-header__content">
                <h1 class="store-header__title">SmallsLIVE Store<span class="store-header__title__divider">|</span><span class="store-header__title__category">T-Shirts</span></h1>
            </div>
        </section>

        <section class="store-listing container">
            <div class="col-xs-12 col-sm-8 col-md-9 col-sm-push-4 col-md-push-3 store-single__content">
                <div class="row">
                    <div class="store-single__item row">
                    <div class="col-xs-12 col-sm-6 store-single__item__images">
                        <div class="store-single__item__images__carousel" id="store-single__item__images__carousel">
                            <div class="store-single__item__images__big-image square-container">
                                <a href="{% static 'image/store/tshirt-black.png' %}" class="fancybox"><img class="defineImageRatio" src="{% static 'image/store/tshirt-black.png' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                            </div>
                            <div class="store-single__item__images__big-image square-container">
                                <a href="{% static 'image/store/tshirt-examples/01.jpg' %}" class="fancybox"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/01.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                            </div>
                            <div class="store-single__item__images__big-image square-container">
                                <a href="{% static 'image/store/tshirt-examples/02.jpg' %}" class="fancybox"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/02.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                            </div>
                            <div class="store-single__item__images__big-image square-container">
                                <a href="{% static 'image/store/tshirt-examples/03.jpg' %}" class="fancybox"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/03.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                            </div>
                            <div class="store-single__item__images__big-image square-container">
                                <a href="{% static 'image/store/tshirt-examples/04.jpg' %}" class="fancybox"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/04.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                            </div>
                            <div class="store-single__item__images__big-image square-container">
                                <a href="{% static 'image/store/tshirt-examples/05.jpg' %}" class="fancybox"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/05.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                            </div>
                        </div>
                        <span class="store-single__item__images__helper">(Click/tap on the image to zoom.)</span>
                        <ul class="store-single__item__images__thumbnails">
                            <li data-slickPosition="0" class="store-single__item__images__thumbnail square-container active"><img class="defineImageRatio" src="{% static 'image/store/tshirt-black.png' %}" alt="The official SmallsLIVE Cotton T-Shirt"></li>
                            <li data-slickPosition="1" class="store-single__item__images__thumbnail square-container"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/01.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></li>
                            <li data-slickPosition="2" class="store-single__item__images__thumbnail square-container"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/02.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></li>
                            <li data-slickPosition="3" class="store-single__item__images__thumbnail square-container"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/03.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></li>
                            <li data-slickPosition="4" class="store-single__item__images__thumbnail square-container"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/04.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></li>
                            <li data-slickPosition="5" class="store-single__item__images__thumbnail square-container"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/05.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 store-single__item__content">
                        <h2 class="store-single__item__name">
                            <a href="#">The official SmallsLIVE Cotton T-Shirt</a>
                        </h2>
                        <p class="store-single__item__description">
                            This is our official 100% cotton SmallsLIVE T-Shirt! Available in 4 sizes, choose S, M, L or XL. <b>Shipping included.</b>
                        </p>
                        <p class="store-single__item__details">
                            <span class="store-single__item__details__title">Detailed description:</span>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <span class="store-single__item__price">
                            $25.00
                        </span>
                        <form>
                            <div class="store-add-large">
                                <select class="store-add-large__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-large__button">Add to cart</button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="store-nav col-xs-12 col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
                <div class="store-search__container small">
                    <i class="fa fa-search store-search__small__icon"></i>
                    <input type="text" class="store-search__small__input" name="store-search" placeholder="Search our store...">
                    <button type="submit" class="store-search__small__button"><i class="fa fa-arrow-circle-right"></i></button>
                </div>
                <div class="store-nav__search-divider"></div>
                <ul class="store-nav__categories">
                    <li class="store-nav__category"><a href="#">Digital music</a></li>
                    <li class="store-nav__category"><a href="#">CD's</a></li>
                    <li class="store-nav__category active"><a href="#">Merchandise</a></li>
                    <li class="store-nav__category"><a href="#">Something else</a></li>
                </ul>
            </div>
        </section>

    </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/store-base.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".fancybox").fancybox({
        preload: 2
      });
    });
  </script>
{% endblock %}