{% extends "home_new.html" %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block title %}SmallsLIVE Tracks{% endblock %}


{% block home_content %}
    <div class="">
        <div class="store-nav store-nav--category landing-nav col-xs-12 visible-xs">
            <span class="visible-xs store-nav__title store-nav__title--category expand-toggle" id="store-nav-cat-expand">Store Categories<i class="fa fa-caret-down"></i></span>
                <ul class="store-nav__categories" id="store-nav-cat">
                <form method="get" action="{% url 'search:search' %}">
                    <li class="store-search__container small">
                        <i class="fa fa-search store-search__small__icon"></i>
                        <input type="text" class="store-search__small__input" name="q"
                               placeholder="Search the store...">
                        <button type="submit" class="store-search__small__button"><i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </li>
                </form>
                {% category_tree as tree_categories %}
                {% if tree_categories %}
                    {% for tree_category, info in tree_categories %}
                        <li class="store-nav__category {% if tree_category.pk == category.pk %}active{% endif %}">
                            {% if tree_category.pk == category.pk %}
                                {{ tree_category.name }}
                            {% else %}
                                <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                            {% endif %}

                            {% if info.has_children %}
                                <ul>{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                                </ul></li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
            </ul>
        </div>
        {% include 'home_banners.html' with active='store' %}
        {% include 'home_banners_mobile.html'  with active='store'%}
        <section class="store-header flex-row content-centered">
            <div class="store-header__content">
                <span class="store-header__title">
                    <a href="{% url "promotions:home" %}">SmallsLIVE Store</a>
                    {% block breadcrumbs %}
                    {% endblock breadcrumbs %}
                </span>
            </div>
        </section>

        <section class="store-listing flex-row">
            <div class="store-nav landing-nav hidden-xs">
                <ul class="store-nav__categories" id="store-nav-cat">
                    <form method="get" action="{% url 'search:search' %}">
                        <li class="store-search__container small">
                            <i class="fa fa-search store-search__small__icon"></i>
                            <input type="text" class="store-search__small__input" name="q"
                                   placeholder="Search the store...">
                            <button type="submit" class="store-search__small__button"><i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </li>
                    </form>
                    {% category_tree as tree_categories %}
                    {% if tree_categories %}
                        {% for tree_category, info in tree_categories %}
                            {% if tree_category.slug != 'gifts' and tree_category.slug != 'tickets' %}
                            <li class="store-nav__category {% if tree_category.pk == category.pk %}active{% endif %}">
                                {% if tree_category.pk == category.pk %}
                                    {{ tree_category.name }}
                                {% else %}
                                    <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                {% endif %}

                                {% if info.has_children %}
                                    <ul>{% else %}</li>{% endif %}
                            {% for n in info.num_to_close %}
                                </ul></li>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div>
            </div>
        </section>

    </div>
        <div id="store-home">
            {% block store_extra %}
            {% endblock store_extra %}
            {% block store_content %}{% endblock %}
        </div>
        <div id="artist-store">
        </div>

{% endblock home_content %}

{% block extra_js %}
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/store-base.js' %}"></script>
{% endblock %}
