{% extends "smalls_base.html" %}
{% load static from staticfiles %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <section class="store-header container">
            <div class="store-header__content">
                <h1 class="store-header__title">SmallsLIVE Store<span class="store-header__title__divider">|</span><span class="store-header__title__category">Order payment</span></h1>
            </div>
        </section>
        <form id="payment-form">
        <section class="store-billing container">
            <h3  tabindex="0" class="store__form__heading">Billing information:</h3>
            <div class="row">
                <div class="col-xs-12 store__form__selection__container">
                    <div class="store__form__selection__option">
                        <input type="radio" name="option-billing" id="same-address" value="same-address"><label for="same-address">My billing address is the same as the shipping address</label>
                    </div>
                    <div class="store__form__selection__option">
                        <input type="radio" name="option-billing" id="different-address" value="different-address" checked><label for="different-address">My billing address is different than the shipping address</label>
                    </div>
                </div>
                <div class="store__form__group clearfix" id="custom-billing-address">
                    <div class="col-xs-12 col-sm-6">
                        <label for="name" class="store__form__label">Name</label>
                        <input type="text" name="name" class="store__form__input" value="Matej">
                        <label for="name" class="store__form__label">Surname</label>
                        <input type="text" name="surname" class="store__form__input" value="Grozdanović">
                        <label for="email" class="store__form__label">Name</label>
                        <input type="email" name="email" class="store__form__input" value="grozdanowski@gmail.com">
                        <label for="phone" class="store__form__label">Surname</label>
                        <input type="tel" name="phone" class="store__form__input" value="+385 91 6183 233">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label for="address1" class="store__form__label">Address - line 1</label>
                        <input type="text" name="address1" class="store__form__input" value="Street Name 123">
                        <label for="address2" class="store__form__label">Address - line 2</label>
                        <input type="text" name="address2" class="store__form__input" value="">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="city" class="store__form__label">City</label>
                                <input type="text" name="city" class="store__form__input" value="Boston">
                            </div>
                            <div class="col-xs-6">
                                <label for="state" class="store__form__label">State</label>
                                <select name="state" class="store__form__select">
                                    <option>Massachusetts</option>
                                    <option>Michigan</option>
                                </select>
                            </div>
                        </div>
                        <label for="country" class="store__form__label">Country</label>
                            <select name="country" class="store__form__select">
                                <option>USA</option>
                                <option>Croatia</option>
                            </select>
                    </div>
                </div>
            </div>
            <h3 class="store__form__heading">Payment information:</h3>
            <div class="row">
                <div class="col-xs-12 store__form__selection__container">
                    <div class="store__form__selection__option">
                        <input type="radio" name="option-payment-method" id="pay-credit-card" value="pay-credit-card" checked><label for="pay-credit-card">Pay with credit card</label>
                    </div>
                    <div class="store__form__selection__option">
                        <input type="radio" name="option-payment-method" id="pay-paypal" value="pay-paypal"><label for="pay-paypal">Pay with PayPal</label>
                    </div>
                </div>
            </div>
            <div class="store__form__group clearfix row" id="credit-card-form">
                <div class="col-xs-12 col-sm-6">
                    <p class="signup__payment__text">We accept the following credit cards:</p>
                    <div class="signup__payment__card-icons">
                        <img src="{% static 'image/payment/visa.png' %}" alt="Visa">
                        <img src="{% static 'image/payment/mastercard.png' %}" alt="MasterCard">
                        <img src="{% static 'image/payment/amex.png' %}" alt="American Express">
                        <img src="{% static 'image/payment/diners.png' %}" alt="Diners">
                    </div>
                    <div class="signup__payment__card__info">
                        {% csrf_token %}
                        <label for="card-number" class="store__form__label">Credit card number</label>
                        <input type="text" class="store__form__input"  id="card-number" placeholder="XXXX XXXX XXXX XXXX" size="20" pattern="[\d ]*" autocomplete="off" data-stripe="number">
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="expiry" id="expiry-label" class="store__form__label">Valid thru:</label>
                                <input type="text" class="store__form__input" id="expiry-month" placeholder="MM" size="2" pattern="\d*" autocomplete="off" data-stripe="exp-month">
                            </div>
                            <div class="col-xs-3">
                                <label for="expiry" id="expiry-label" class="store__form__label"> </label>
                                <input type="text" class="store__form__input" id="expiry-year" placeholder="YY" size="2" pattern="\d*" autocomplete="off" data-stripe="exp-year">
                            </div>
                            <div class="col-xs-6">
                                <label for="cvc" id="cvc-label" class="store__form__label">CVC</label>
                                <input type="text" class="store__form__input" id="cvc" placeholder="xxx" size="4" pattern="\d*" autocomplete="off" data-stripe="cvc">
                            </div>
                        </div>
                        <label for="name" class="store__form__label">Name on card</label>
                        <input type="text" class="store__form__input" placeholder="Name on card" autocomplete="off" data-stripe="name">
                        <div class="payment-errors"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 signup__payment__card__image">
                    <div class="card-wrapper"></div>
                </div>
            </div>
            <div class="store__form__group clearfix row" id="paypal-form">
                <div class="col-xs-12 col-sm-6">
                    <p class="signup__payment__text">You'll be taken to a separate PayPal screen later on during the purchase process.</p>
                </div>
            </div>
        </section>
        <section class="store-cart__footer container">
            <div class="col-xs-12 col-sm-6 store-cart__footer__right">
                <div class="store-cart__footer__price-container">
                    <span class="store-cart__footer__price-container__value">$1999.99</span>
                    <span class="store-cart__footer__price-container__label">Something:</span>
                    <span class="store-cart__footer__price-container__value">$1999.99</span>
                    <span class="store-cart__footer__price-container__label">Else:</span>
                    <div class="store-cart__footer__price-container__total">
                        <span class="store-cart__footer__price-container__value">$9875.99</span>
                        <span class="store-cart__footer__price-container__label">Total:</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 store-cart__footer__buttons">
                <a href="#" class="store-cart__footer__button-back"> Back to something</a>
                <a href="#" class="store-cart__footer__button-next">Continue</a>
            </div>
        </section>
        </form>
    </div>

{% endblock content %}


{% block extra_js %}
    <script src="{% static 'js/store-base.js' %}"></script>
    <script src="{% static 'js/card.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
      var card = new Card({
        // a selector or DOM element for the form where users will
        // be entering their information
        form: '#payment-form', // *required*
        // a selector or DOM element for the container
        // where you want the card to appear
        container: '.card-wrapper', // *required*

        formSelectors: {
          numberInput: 'input[data-stripe="number"]', // optional — default input[name="number"]
          expiryInput: 'input[data-stripe="exp-month"], input[data-stripe="exp-year"]', // optional — default input[name="expiry"]
          cvcInput: 'input[data-stripe="cvc"]', // optional — default input[name="cvc"]
          nameInput: 'input[data-stripe="name"]' // optional - defaults input[name="name"]
        },

        width: 350, // optional — default 350px
        formatting: true, // optional - default true


        // Default values for rendered fields - optional
        values: {
          number: '•••• •••• •••• ••••',
          name: 'Name',
          expiry: '••/••',
          cvc: '•••'
        },

        // if true, will log helpful messages for setting up Card
        debug: false // optional - default false
      });
    </script>
    <script>
        /* Settings payment div reveal Paypal js */
        $(document).ready(function () {
            if ($('input[name=option-billing]:checked').val() === "same-address") {
                $("#custom-billing-address").css("display", "none");
            }
            $(".store__form__selection__option").click(function(){
                if ($('input[name=option-billing]:checked').val() === "different-address") {
                    $("#custom-billing-address").slideDown("fast"); //Slide Down Effect
                } else {
                    $("#custom-billing-address").slideUp("fast");
                }
            });

            if ($('input[name=option-payment-method]:checked').val() === "pay-paypal") {
                $("#credit-card-form").css("display", "none");
            } else {
                $("#paypal-form").css("display", "none");
            }
            $(".store__form__selection__option").click(function(){
                if ($('input[name=option-payment-method]:checked').val() === "pay-credit-card") {
                    $("#paypal-form").slideUp("fast");
                    $("#credit-card-form").slideDown("fast"); //Slide Down Effect
                } else {
                    $("#credit-card-form").slideUp("fast");
                    $("#paypal-form").slideDown("fast"); //Slide Down Effect
                }
            });
        });
    </script>
{% endblock %}