{% extends "smalls_base.html" %}
{% load static %}
{% load thumbor_tags %}

{% block store_nav_active %}active{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <section class="store-header container">
            <div class="store-header__content">
                <h1 class="store-header__title">SmallsLIVE Store<span class="store-header__title__divider">|</span><span class="store-header__title__category">Search results for: "T-Shirt jazz"</span></h1>
            </div>
        </section>

        <section class="store-listing container">
            <div class="col-xs-12 col-sm-8 col-md-9 store-listing__content">
                <div class="row">
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/01.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/02.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/03.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/04.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/05.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/01.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/02.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                    <!-- Single store item -->
                    <div class="col-xs-12 col-sm-6 col-md-4 store-list-item">
                        <div class="store-list-item__image square-container">
                            <a href="#"><img class="defineImageRatio" src="{% static 'image/store/tshirt-examples/03.jpg' %}" alt="The official SmallsLIVE Cotton T-Shirt"></a>
                        </div>
                        <h4 class="store-list-item__name"><a href="#">Ut wisi enim ad minim veniam, quis nostrud exerc</a></h4>
                        <span class="store-list-item__price">$25.00</span>
                        <form>
                            <div class="store-add-small">
                                <select class="store-add-small__options">
                                    <option>Mens - XL -- $25.00</option>
                                    <option>Woman - M -- $30.00</option>
                                </select>
                                <div><button type="submit" class="store-add-small__button"><i class="fa fa-plus"></i></button><span class="arrow"></span></div>
                            </div>
                        </form>
                    </div>
                    <!-- End of single store item -->
                </div>
            </div>
            <div class="store-nav col-xs-12 col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
                <div class="store-search__container small">
                    <i class="fa fa-search store-search__small__icon"></i>
                    <input type="text" class="store-search__small__input" name="store-search" value="T-Shirt jazz">
                    <button type="submit" class="store-search__small__button"><i class="fa fa-arrow-circle-right"></i></button>
                </div>
                <div class="store-nav__search-divider"></div>
                <ul class="store-nav__categories">
                    <li class="store-nav__category"><a href="#">Digital music</a></li>
                    <li class="store-nav__category"><a href="#">CD's</a></li>
                    <li class="store-nav__category"><a href="#">Merchandise</a></li>
                    <li class="store-nav__category"><a href="#">Something else</a></li>
                </ul>
            </div>
        </section>

    </div>

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/store-base.js' %}"></script>
{% endblock %}