{% extends "base.html" %}
{% load account crispy_forms_tags socialaccount %}
{% block nav %}{% endblock nav %}
{% block title %}Upgrade to a Premium Access{% endblock %}
{% block alert %}<div class="alert alert-danger"> <code>1</code> Your Premium Subscription trial [will expire in][has expired]. <a href="/static_page/upgrade" class="alert-link">View my subscription options</a></div>{% endblock alert %}
{% block content %} 
  <div class="row">
    <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
    
      <div class="page-header">
        <h1>Upgrade Your Subscription</h1>
      </div> 
      <div class="marketing-reasons">
      <h4 class="text-success">Get Full Video Access for $10/month</h4>
        <p>Your free trial of SmallsLIVE premium archive access [is about to expire][has expired]. If you want to continue receiving uninterrupted access to the archive of 1000s of video and audio recordings, and support the musicians who perform at Smalls Jazz Club, please purchase a Premium Subscription below.</p> 
        <ul>
          <li>You will be billed $10/month on 1st day of each month covering your fees for the following month.</li>
          <li>Cancel anytime and we'll pro-rate and refund any unused portion of your current month</li>
          <li>If you decide not to purchase a Premium Subscription now, you can do so later. Your free access will still get you video access to each evening's live performances.</li>
        </ul>
      </div>
      <form id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <!-- {{ form|crispy }} -->
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}     
        {% include 'blocks/credit-card-fields.html' %} 
        <div class="form-group primary-submit"> 
          <button type="submit" class="btn btn-primary">Upgrade now<code>2</code></button>      <button type="submit" class="btn btn-default">No thanks, I'll keep my free subscription <code>3</code></button>
        </div>          
      </form>  
    </div> 
  </div>
  <div class="dev">
  <h1>Alternate Views:</h1>
    <ul>
      <li><code>1</code> - This alert   banner should appear site-wide once the trial is expiring or expired. If the trial has expired, change the alert class to alert-danger.</li> 
      <li><code>2</code> - when clicked, we send a receipt email to the user, send user to the archive/video homepage, and provide a green success banner that says "You now have a Premium Subscription. Enjoy the archive! [x]"</li>
      <li><code>3</code> - this is the way by which we kill the alert banner. if clicked, we should show a green success alert message that says "You now have a free subscription. To upgrade in the future, go to <a href="">my account.</a> [x]"</li>
    </ul>
  <h1>UI Reqs</h1>
      <li> </li>
    </ul>
  </div>
{% endblock %}

