{% extends "base_venue.html" %}
{% block title %}Dashboard{% endblock title%}
{% block content %}
  <h1>Venue Settings</h1>
  <div class="row">
    <div class="col-sm-12">
      
      <div class="well">
      <h2>Change Default Set/Slot Times:</h2>
      <p>[form here]
      </div>  
      
      <div class="well">
      <h2>Venue Address/Time Zone:</h2>
      <p>Enter your venue's street address and select the time zone used to display events to the public:</p>
      <p>[form here]</p>
      </div>  
      
      <div class="well">
      <h2>Artist Powers:</h2>
      <p>Use this form to determine how much editing control artists will have over gig/event listings:</p>
      <p>[form here]</p>
      </div>  
 
    </div>
  </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <Ul> 
    </Ul>
  </div>
{% endblock content %}
