{% extends "smalls_base.html" %}
{% load static %}
{% load thumbor_tags %}

{% block schedule_nav_active %}active{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <section class="container">
      <div class="event-video row">
        <div class="event-video__stats col-xs-12">
          <p>360p mp4 video</p>
        </div>
        <div id="video-player-360p" style="height: 450px">
        </div>

      </div>
      <div class="event-video row">
        <div class="event-video__stats col-xs-12">
          <p>720p mp4 video</p>
        </div>
        <div id="video-player-720p" style="height: 450px">
        </div>
      </div>
      <div class="event-video row">
        <div class="event-video__stats col-xs-12">
          <p>HLS video</p>
        </div>
        <div id="video-player-hls" style="height: 450px">
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://jwpsrv.com/library/w1FDmNWFEeS9qhJtO5t17w.js"></script>
  <script>
    jwplayer("video-player-360p").setup({
      file: "https://s3.amazonaws.com/smallslivevideooutput/8512-1/360p/8512-1-360p.mp4",
      image: "https://s3.amazonaws.com/smallslivevideothumbnails/8512-1/360p/8512-1-00003.png",
      width: "100%",
      aspectratio: "16:9"
    });
    jwplayer("video-player-720p").setup({
      file: "https://s3.amazonaws.com/smallslivevideooutput/8512-1/720p/8512-1-720p.mp4",
      image: "https://s3.amazonaws.com/smallslivevideothumbnails/8512-1/720p/8512-1-00003.png",
      width: "100%",
      aspectratio: "16:9"
    });
    jwplayer("video-player-hls").setup({
      file: "https://s3.amazonaws.com/smallslivevideooutput/8512-1/hlsv3/8512-1.m3u8",
      image: "https://s3.amazonaws.com/smallslivevideothumbnails/8512-1/720p/8512-1-00003.png",
      width: "100%",
      aspectratio: "16:9"
    });
  </script>
{% endblock %}