.featured-metrics, .detailed-metrics {
  padding: 40px 20px;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  &.slick-slider {
    margin: 0;
  }

  & .slick-list {
    width: 100%;
  }

  .slick-prev, .slick-next {
    z-index: 101;
    bottom: 140px;
  }

  &__metric {
    text-align: center;

    & .positive {
      color: $metric-positive;
    }

    & .neutral {
      color: $metric-neutral;
    }

    & .normal {
      color: $metric-normal;
    }

    & .negative {
      color: $metric-negative;
    }

    &__name {
      @include lato-black;
      font-size: 12px;
      color: #aaa;
      text-transform: uppercase;
    }

    &__content {
      @include lato-black;

      &__primary, &__donut {

        & h2 {
          font-size: 16px;
          @include lato-black;
        }

        & h1 {
          font-size: 32px;
          @include lato-black;
        }
      }

      &__secondary {

        & h2 {
          font-size: 14px;
          @include lato-black;
        }

        & h1 {
          font-size: 24px;
          @include lato-black;
        }
      }
    }
  }
}


.metric-graph {
  background-color: #fff;
  padding: 30px;

  &__header {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }

  &__title {
    @include lato-black;
    font-size: 18px;
    margin: 0 30px 0 0;
  }

  &__date-picker {
    padding: 10px 0 10px 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-left: 10px;
    font-size: 16px;

    & input {
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: auto;
      padding: 10px;
      position: relative;
      z-index: 2;
    }

    & i {
      opacity: 0.5;
      position: relative;
      left: -20px;
      z-index: 1;
    }
  }

  &__switch {
    margin: 0;
    padding: 0;

    &__option {
      list-style-type: none;
      display: inline-block;
      padding: 10px 15px;
      margin: 0;
      font-size: 14px;
      @include lato-bold;
      @include transition(all 0.3s ease-in-out);
      cursor: pointer;

      &.active, &:hover, &:focus {
        border-bottom: 4px solid $main-accent-color;
      }

      &:hover, &:focus {
        color: rgba($base-text-color, 0.7);
      }

      & a {
        text-decoration: none;
        color: $base-text-color;

        &:hover, &:focus {
          text-decoration: none;
          color: rgba($base-text-color, 0.7);
        }
      }
    }
  }

  &__switch-group {
    margin: 0;
    padding: 0;

    &__single {
      list-style-type: none;
      display: inline-block;
      padding: 5px 40px;
      border-right: 1px solid #ddd;

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }
}

.graph-canvas {
  width: 100%;
  height: 350px;

  &.larger {
    height: 450px;
  }
}