.navbar {
  background-color: $main-accent-color;
  border: none;
  @include lato-bold;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;

  & .navbar-nav {
    float: right;

    & li a {
      color: #fff;
      opacity: 0.7;
      padding: 10px 20px;

      &:hover {
        color: #fff;
      }
    }

    & .contract__pending {
      margin-left: 4px;
    }

    & li:hover a {
      color: #fff;
      opacity: 1;
    }

    & .active a {
      background: none;
      color: #fff;
      opacity: 1;

      &:hover {
        background: none;
        color: #fff;
      }
    }

    & .dropdown-menu {

    & li a {
      color: #222;
    }
  }
  }
  
  &__logo {
    opacity: 0.7;
    display: block;
    margin-top: 8px;

    &:hover {
      opacity: 1;
    }

    & img {
      height: 24px;
      width: auto;
    }
  }

  &__item {
    border-left: 1px solid rgba(255,255,255,0.3);

    &:first-child {
      border-left: none;
    }
  }

  &__user {
    padding: 0 20px;

    &__button {
      background-color: transparent;
      border: none;
      color: #fff;

      & span {
        opacity: 0.7;
        margin-left: 10px;
      }

      &:hover span {
        opacity: 1;
      }
    }

    &__image {
      display: inline-block;
      height: 40px;
      width: auto;
      border-radius: 100%;
    }
  }

  &__settings {
    font-size: 24px;
  }
}