<div class="form-group">
  <label   for="t1">Show #1:</label>
  <input type="text" class="form-control" placeholder="Ex: 10-11pm" id="t1">
</div> 
<div class="form-group">
  <label   for="t1">Show #2:</label>
  <input type="text" class="form-control" placeholder="" id="t1">
</div> 
<div class="form-group">
  <label   for="t1">Show #3:</label>
  <input type="text" class="form-control" placeholder="" id="t1">
</div> 
<div class="form-group">
  <label   for="t1">Show #4:</label>
  <input type="text" class="form-control" placeholder="" id="t1">
</div> 
<div class="form-group">
  <label   for="t1">Show #5:</label>
  <input type="text" class="form-control" placeholder="" id="t1">
</div>