<div class="row">
  <div class="col-sm-6">
    <div class="form-group" id="div_id_street1">
      <label class="control-label " for="id_street1">Street (line 1):</label>
      <div class="controls ">
        <input type="text" placeholder="" name="street1" value="" id="id_street1" class="form-control">
      </div>
    </div> 
  </div>
  <div class="col-sm-6">
    <div class="form-group" id="div_id_street1">
      <label class="control-label " for="id_street1">Street (line 2 - optional)</label>
      <div class="controls ">
        <input type="text" placeholder="" name="street1" value="" id="id_street1" class="form-control">
      </div>
    </div> 
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group" id="div_id_country">
      <label class="control-label" for="id_country">Country:</label>
      <div class="controls ">
        <select class="form-control" name="country" id="id_country">
          <option>United States</option>
          <option>United Kingdom</option>
        </select>
      </div>
    </div> 
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="form-group" id="div_id_city">
      <label class="control-label " for="id_city">City:</label>
      <div class="controls ">
        <input type="text" placeholder="" name="city" value="" id="id_city" class="form-control">
      </div>
    </div> 
  </div>
  <div class="col-sm-3">
    <div class="form-group" id="div_id_state">
      <label class="control-label " for="id_state">State/Region:</label>
      <div class="controls ">
        <select class="form-control" name="state" id="id_state">
          <option>[None]</option>
        </select>
      </div>
    </div> 
  </div>
  <div class="col-sm-4">
    <div class="form-group" id="div_id_postal_code">
      <label class="control-label" for="id_postal_code">ZIP/Postal Code:</label>
      <div class="controls ">
        <input type="text" placeholder="" name="postal_code" value="" id="id_postal_code" class="form-control">
      </div>
    </div> 
  </div>
</div>