<tr class="belongs_to_{{ product_id }} item-earning-detail-over-time-period">
  <td>This month</td>
  <td class="num">1</td>
  <td class="num">$0.12</td>
  <td class="rank"> #326  </td>
</tr>
<tr class="belongs_to_{{ product_id }} item-earning-detail-over-time-period">
  <td>Last month</td>
  <td class="num">1</td>
  <td class="num">$0.45</td>
  <td class="rank"> #4 <span class="text-success">(Top 24%!)</span></td>
</tr>
<tr class="belongs_to_{{ product_id }} item-earning-detail-over-time-period">
  <td>Your Average Monthly</td>
  <td class="num">1</td>
  <td class="num">$0.45  </td>
  <td class="rank"> #14   <span class="text-success">(Top 4%!)</span></td>
</tr> 
<tr class="belongs_to_{{ product_id }} item-earning-detail-over-time-period">
  <td>YTD</td>
  <td class="num">1</td>
  <td class="num">$2.45</td>
  <td class="rank"> #24    <span class="text-success">(Top 14%!)</span></td>
</tr>  