{% load humanize %}
{% load custom_cloudinary_tags %}
<table class="table list-of-recordings table-bordered">
  <thead>
    <tr>
      <th><a href="">Gig Date</a></th>
      <th>Set</th>
      <th>Video</th>
      <th>Audio</th>
      <th><a href="">Views &darr;</a></th> 
      <th><a href="">Site Rank</a></th> 
      <th><a href="">Lifetime $</a></th> 
      <th><a href="">Publish Date</a><code>4</code></th>
    </tr>
  </thead>
  <tbody>
    {% for past_event in past_events %}
    <tr data-event="{{ past_event.id }}"  class="event_{{ past_event.id }}"> 
      <td rowspan="2" class="event_date"><time datetime="{{ past_event.start|date:"c" }}">{{ past_event.start|date:"D, M. d" }}<br />{{ past_event.start|date:"Y - f a" }}</time></td>
      <td  class="choose-set active">
        <label class="small"><input type="radio" name="set_{{ past_event.id }}" value="1" checked="checked"> 1 (66min) <span class="glyphicon glyphicon-arrow-right"></span></label>
      </td>
      <td rowspan="2" class="video-thumb">
        <a href="" class="download small"><span class="glyphicon glyphicon-download"></span>   1.2GB MP4</a>

        {% if past_event.get_photo_url != "" %}
          <a href="/events/{{ past_event.id }}/">
            <span class="glyphicon glyphicon-play"></span>
            <img src="{% cloudinary_image_url photo_name=past_event.get_photo_name_with_bucket photo_url=past_event.get_photo_url|urlencode width=100 height=60 %}" alt="Play video: {{ event.title }}" class="img-responsive" />
          </a>
        {% endif %}       
      </td>
      
      <td class="audio-play" rowspan="2"> 
          <a href="" class="download small"><span class="glyphicon glyphicon-download"></span>   52MB MP3</a>
          <a  href="/events/{{ past_event.id }}/" class=" btn btn-default" role="button" title="Play audio {{ past_event.displaytitle }}"><span class="glyphicon glyphicon-play"></span></a>                  
      </td>
      <td colspan="4" class="description"> 
         <a  href="{{ past_event.get_absolute_url }}" class="unstyled-link event-title" >{{ past_event.display_title }}
         {% if past_event.subtitle %}
           <br /><span class="text-muted">{{ past_event.subtitle }}</span>
         {% endif %}</a>
         <div><small><a  href="{% url "event_edit" pk=past_event.id slug=past_event.title|slugify %}">{% if past_event.description %}Edit{% else %}Add{% endif %} description</a></small></div>
      </td>   
    </tr>
    <tr data-event="{{ past_event.id }}" class="event_{{ past_event.id }}">
      <td  class="choose-set not-first">
        <label class="small"><input type="radio" name="set_{{ past_event.id }}" value="2"> 2 (34min) <span></span></label>
      </td>   
      <td   class="fan_count">312</td>
      <td   class="fan_count">#212</td>
      <td class="num">$0.01</td>
      <td  class="text-muted" >Jan 1, 2015</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if paginator.num_pages > 1 %}
   <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}#past">&laquo;</a></li>
    {% endif %}
    {% for num in paginator.page_range %}
      {% ifequal num page_obj.number %}
        <li class="active"><a href="#">{{ num }}</a></li>
      {% else %}
        <li><a href="?page={{ num }}#past"> {{ num }}</a></li>
      {% endifequal %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}#past">&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}         