Subject = Hello from a SmallsLIVE fan, {{ fan.name }}  
Reply-to = fan.email

Hi artist.first_name,

You have a message from a fan, sent from your <a href="">artist profile</a> on SmallsLIVE. 
{{ fan.name }} also like you to add them to your mailing list if you have one. 

## MESSAGE FROM {{ fan.name }}: ## 

{{ fan.message }}

Please add me to your mailing list* too using this info:

fan.email
fan.country
fan.zip

## END MESSAGE ##

* If you dont have a mailing list, you can get a free one at MailChimp.com. 

Good luck with your music,

Spike and the SmallsLIVE Team
