<h2 style="font-size: 24px;">You have successfully purchased {{ quantity }} seats for "{{ event_title }}", on {{ event_date }} at {{ time }}.</h2>

<h2 style="font-size: 24px;">Your confirmation number is: {{ order_number }}</h2>

{% if venue == 'Mezzrow' %}
  <h2 style="font-size: 24px;">Location: Mezzrow (163 w. 10th Street)</h2>
{% elif venue == 'Smalls' %}
  <h2 style="font-size: 24px;">Location: Smalls Jazz Club (183 w. 10th Street)</h2>
{% endif %}

<p style="font-size: 18px;">THANK YOU FOR YOUR PURCHASE. Your name will be at the door when you arrive, but please also have your confirmation email with you. There is a <strong style="color: #d21535">NO REFUND POLICY</strong> for all ticket sales. You must use the tickets you’ve purchased they cannot be refunded. You may, however, exchange your tickets for another show on the calendar. For all ticket exchanges please email: <a href="mailto:reservations@smallslive.com" style="color: #d21535">reservations@smallslive.com</a> </p>

<p style="font-size: 18px;">After confirming purchase, please look for your confirmation email. This email will have your confirmation number and party name. Your name will be at the door as well, when you arrive. However, please also have your confirmation email with you.</p>

<p style="font-size: 18px;"><strong style="color: #d21535">PLEASE NOTE:</strong> your ticket guarantees you entrance, but choice of seats is first come/first served, so please be on-time for seating. Seating for each show begins approximately 30 minutes before the set begins. Please arrive at least 30 minutes before the set and join the advanced ticket line.</p>

<p style="font-size: 18px;"><strong style="color: #d21535">PLEASE NOTE:</strong> once the set has begun, we reserve the right to fill the seats of ticket holders who have not arrived. If you arrive late, you will have the option to be seated on the following set, or to be seated at the other club if possible.</p>

<p style="font-size: 18px;"><strong style="color: #d21535">PLEASE NOTE:</strong> there is a required one-drink minimum per person, per set. It is also customary to leave a gratuity for the bar staff.</p>
