{% load static from staticfiles %}

<header class="main-header hidden-xs hidden-sm hidden-md">
  <div class="flex-row items-center wrap content-space-between">
    <div class="flex-row items-center logo-container">
      <div>
        <a href="/" class="smalls-logo">
          <img src="{% static 'new_logo_transparent_black.svg' %}" alt=""/>
        </a>
      </div>
      <div class="section-title" style="margin-right:10px; background-size: 500px 5px;">
        <div class="title1 artist-title" >Dashboard</div>
      </div>
    </div>

    <div class="flex-row content-flex-end">
      <div class="button-row">

        <a href="{% url 'artist_dashboard:my_past_events' %}">
            <button class="no-border {% if request.resolver_match.url_name == 'my_past_events' %}active{% endif %}">
                Archived
            </button>
        </a>
        <a href="{% url 'artist_dashboard:metrics' %}">
            <button class="no-border {% if request.resolver_match.url_name == 'contact-and-info' %}active{% endif %}">
                Payout
            </button>
        </a>
        <a href="{% url 'artist_dashboard:my_future_events' %}">
          <button class="no-border {% if request.resolver_match.url_name == 'my_future_events' %}active{% endif %}">
              Upcoming
          </button>
        </a>
          <a href="{% url 'artist_dashboard:edit_profile' %}">
            <button class="no-border  {% if request.resolver_match.url_name == 'edit_profile' %}active{% endif %}">
                Profile
            </button>
        </a>
        {% comment %}
          <a href="{% url 'artist_dashboard:legal' %}">
              <button class="no-border">
                  Agreement
              </button>
          </a>
        {% endcomment %}
      </div>
      {% if not request.user.is_authenticated %}
        <button class="white-border-button sign-in-button" href="#logIn" data-toggle="modal">
          Sign In
        </button>
      {% else %}
        <div class="user-menu white-border-select no-arrow">
          <select id="userMenu">
            <option value="current" noSelect="1" selected="selected">
              {% if request.user.first_name or request.user.last_name%}
                {% if request.user.first_name %}{{ request.user.first_name }}{% endif %}
                {% if request.user.last_name %} {{ request.user.last_name }}{% endif %}
              {% else %}
                {{ request.user.email }}
              {% endif %}
            </option>
              <option value="home">Home</option>
              {% comment %}
                <option value="my_downloads">Library</option>
              {% endcomment %}
              <option value="account_info">Account</option>
            <option value="logout">Sign Out</option>
          </select>
        </div>
      {% endif %}
    </div>
  </div>
</header>

<header class="mobile-header visible-xs visible-sm visible-md mobile-artist-header">
  <div class="mobile-logo-container">
    <a href="/" class="smalls-logo">
      <img src="{% static 'new_logo_transparent_black.svg' %}"  alt=""/>
    </a>
  </div>
  <div class="mobile-menu-icons flex-row items-center content-space-between">
    <i class="fa fa-bars" onclick="toggleSideBar()"></i>
    <div>
      <i class="fa fa-user" onclick="toggleAdmin()"></i>
    </div>
  </div>
  <div id="mobile-user-option-menu" hidden class="mobile-user-option flex-column">
    {% if not request.user.is_authenticated %}
      <button class="text2 sign-in-button" href="#logIn" data-toggle="modal">
      Sign In
      </button>
    {% else %}
      {% if request.user.artist %}
        {% if is_dashboard %}
          <div class="text2"><a href="{% url 'home' %}">Home</a></div>
        {% else %}
          <div class="text2"><a href="{% url 'artist_dashboard:my_past_events' %}">Dashboard</a></div>
        {% endif %}
      {% endif %}
      {% comment %} <div class="text2"><a href="{% url 'my-downloads' %}">Library</a></div> {% endcomment %}
      <div class="text2"><a href="{% url 'user_settings_new' %}">Account</a></div>
      <div class="text2"><a href="{% url 'account_logout' %}">Sign Out</a></div>
    {% endif %}
  </div>
</header>

<div id="side-navigation" class="side-bar-container visible-sm visible-xs visible-md side-bar-hidden">
  <div class="side-navigation-overlay" onclick="toggleSideBar()"></div>
  <div class="side-bar">
    <div class="side-bar-header flex-row">
      <a href="/">
        <img src="{% static 'new_logo_transparent_black.svg' %}" alt=""/>
      </a>
    </div>
    <div class="flex-column text2">
      <a href="{% url 'artist_dashboard:my_past_events' %}" class="{% if request.resolver_match.url_name == 'my_past_events' %}active{% endif %}">Archived</a>
      <a href="{% url 'artist_dashboard:metrics' %}" class="{% if request.resolver_match.url_name == 'metrics' %}active{% endif %}">Payout</a>
      <a href="{% url 'artist_dashboard:my_future_events' %}" class="{% if request.resolver_match.url_name == 'my_future_events' %}active{% endif %}">Upcoming</a>
      <a href="{% url 'artist_dashboard:edit_profile' %}" class="{% if request.resolver_match.url_name == 'edit_profile' %}active{% endif %}">Profile</a>
      {% comment %} <a href="">Smallslive Tracks</a>
      <a href="{% url 'terms-and-conditions' %}">Agreement</a> {% endcomment %}
    </div>
  </div>
</div>

<script>
  function toggleSideBar() {
      $('#side-navigation').toggleClass('side-bar-hidden');
  }
  function toggleAdmin(){
    if ($("#mobile-user-option-menu").is(":hidden")) {
      $("#mobile-user-option-menu").slideDown("fast");
    } else {
      $("#mobile-user-option-menu").slideUp("fast");
    }
  }
</script>
