{% load static from staticfiles %}

<header class="main-header hidden-xs hidden-sm hidden-md">
  <div class="flex-row items-center wrap content-space-around">
    <div class="flex-row items-center wrap logo-container" style="position:relative">
      <div>
        <a href="/" class="smalls-logo">
          <img src="{% static 'logo-black.svg' %}" alt=""/>
        </a>
      </div>
      <form class="search-input" action="{% url 'search' %}">
        <input id="desktop-search-bar" name="q" type="text" placeholder="SEARCH" autocomplete="off">
      </form>
      <div class="search-bar-autocomplete-container"></div>
    </div>

    <div class="button-row">
      {% include 'partials/header_button.html' with button_url='schedule' button_text='Calendar' %}
      {% include 'partials/header_button.html' with button_url='search' button_text='Archive' %}
      {% include 'partials/header_button.html' with button_url='contact-and-info' button_text='Info' %}
      {% include 'partials/header_button.html' with button_text='Education' %}
      {% include 'partials/header_button.html' with button_url='promotions:home' button_text='Store' %}

      {% if not request.user.is_authenticated %}
        <button class="white-border-button sign-in-button" href="#logIn" data-toggle="modal">
          Sign In
        </button>
      {% else %}
        <div class="user-menu white-border-select no-arrow">
          <select id="userMenu">
            <option value="current" noSelect="1" selected="selected">
              {% if request.user.first_name or request.user.last_name%}
                {% if request.user.first_name %}{{ request.user.first_name }}{% endif %}
                {% if request.user.last_name %} {{ request.user.last_name }}{% endif %}
              {% else %}
                {{ request.user.email }}
              {% endif %}
            </option>
              {% if request.user.artist %}
                  <option value="artist_dashboard">Artist Dashboard</option>
              {% endif %}
              <option value="account_info">Account</option>
            <option value="logout">Sign Out</option>
          </select>
        </div>
      {% endif %}
    </div>

  </div>
</header>


<header class="mobile-header visible-xs visible-sm visible-md">
  <div class="mobile-logo-container">
    <a href="/" class="smalls-logo">
      <img src="{% static 'logo-black.svg' %}"  alt=""/>
    </a>
  </div>
  <div class="mobile-menu-icons flex-row items-center content-space-between">
    <i class="fa fa-bars" onclick="toggleSideBar()"></i>
    <div>
      <i class="fa fa-search"></i>
      <i class="fa fa-user" onclick="toggleAdmin()"></i>
    </div>
  </div>
  <div id="mobile-user-option-menu" hidden class="mobile-user-option flex-column">
    {% if not request.user.is_authenticated %}
      <button class="text2 sign-in-button" href="#logIn" data-toggle="modal">
      Sign In
      </button>
    {% else %}
      {% if request.user.artist %}
        <div class="text2"><a href="{% url 'artist_dashboard:my_past_events' %}">Artist Dashboard</a></div>
      {% endif %}
        <div class="text2"><a href="{% url 'user_settings_new' %}">Account</a></div>
        <div class="text2"><a href="{% url 'account_logout' %}">Sign Out</a></div>
    {% endif %}
  </div>
</header>

<div id="search-bar" class="mobile-search-header visible-xs visible-sm visible-md">
  <div class="mobile-search-container flex-row items-center">
    <form id="headerSearchForm" action="{% url 'search' %}">
      <input name="q" type="text" autocomplete="off">
    </form>
    <i id="searchArrow" class="fa fa-arrow-right"></i>
  </div>
</div>
<div class="search-bar-autocomplete-container mobile-search-container"></div>

<div id="side-navigation" class="side-bar-container visible-sm visible-xs visible-md side-bar-hidden">
  <div class="side-navigation-overlay" onclick="toggleSideBar()"></div>
  <div class="side-bar">
    <div class="side-bar-header flex-row">
      <a href="/">
        <img src="{% static 'logo-black.svg' %}" alt=""/>
      </a>
    </div>
    <div class="flex-column text2">
      <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
      {% if request.user.artist %}
        <a href="{% url 'artist_dashboard:my_past_events' %}" class="{% if request.resolver_match.url_name == 'my_past_events' %}active{% endif %}">My dashboard</a>
      {% endif %}
      <a href="{% url 'schedule' %}" class="{% if request.resolver_match.url_name == 'schedule' %}active{% endif %}">Calendar</a>
      <a href="{% url 'search' %}" class="{% if request.resolver_match.url_name == 'search' %}active{% endif %}">Archive</a>
      <a href="{% url 'contact-and-info' %}" class="{% if request.resolver_match.url_name == 'contact-and-info' %}active{% endif %}">Info</a>
      <a href="">Education</a>
      <a href="{% url "promotions:home" %}">Store</a>
    </div>
  </div>
</div>
<script>
  function toggleSideBar() {
      $('#side-navigation').toggleClass('side-bar-hidden');
  }
  function toggleAdmin(){
    if ($("#mobile-user-option-menu").is(":hidden")) {
      $("#mobile-user-option-menu").slideDown("slow");
    } else {
      $("#mobile-user-option-menu").hide();
    }
  }
  function toggleSearch() {
     
      if(!($('#search-bar').hasClass('mobile-search-header-shown'))){
        $(".search-bar-autocomplete-container").css("display", "none");
      }
    }
  
  $('.mobile-menu-icons .fa-search').click(function () {
      var headerCount = getHeaderCount();
      if ($('#search-bar').hasClass('mobile-search-header-shown')) {
          $('body').removeClass('headers-' + (headerCount))
          $('body').addClass('headers-' + (headerCount - 1))
      } else {
        $('body').removeClass('headers-' + (headerCount))
          $('body').addClass('headers-' + (headerCount + 1))
      }

      $('#search-bar').toggleClass('mobile-search-header-shown');
      toggleSearch()
  });

  $(document).ready(function () {
     $('#searchArrow').on('click', function () {
         $('#headerSearchForm').submit();
     });
  });

  $(document).ready(function () {
      var searchTerm = getUrlParameter("q");
      if (searchTerm) {
          searchTerm = searchTerm.replace(/\+/g, ' ');
      } else {
          searchTerm = '';
      }

      if (searchTerm) {
          $('.mobile-menu-icons .fa-search').click();
      }
  })

</script>
<script type="text/javascript" src="{% static 'js/search/search-bar.js' %}"></script>
