<section id="mc_embed_shell">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div id="mc_embed_signup">
                  <form action="https://smallsjazzclub.us5.list-manage.com/subscribe/post?u=76eb9d2dd6485b9ecfbcbe904&amp;id=de8ca4ce7a&amp;f_id=00d4c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                      <div id="mc_embed_signup_scroll">
                          <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display: none;"></div>
                              <div class="response" id="mce-success-response" style="display: none;"></div>
                          </div>
                          <div class="mc_field_group">
                              <div class="mc-field-group">
                                  <label for="mce-EMAIL">Subscribe to our newsletter</label>
                                  <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Email address">
                                  <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                              </div>
                              <div class="clear">
                                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button white-border-button" value="Subscribe">
                              </div>
                          </div>
                          <div aria-hidden="true" style="position: absolute; left: -5000px;">
                              <input type="text" name="b_76eb9d2dd6485b9ecfbcbe904_de8ca4ce7a" tabindex="-1" value="">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</section>