{% load static %}
{% load custom_cloudinary_tags %}

background-image:url(
{% if photo_url %}
  {% if crop_box %}
    '{% cloudinary_image_url photo_name="" photo_url=photo_url|urlencode crop_box=crop_box width=600 %}'
  {% else %}
    '{% cloudinary_image_url photo_name="" photo_url=photo_url|urlencode height=360 width=600 smart=True %}'
  {% endif %}
{% else %}
  '{% static "image/no-event-image-placeholder.jpg" %}'
{% endif %}
); background-size: cover; position: absolute; width: 100%; height: 60%; z-index: -1;
