{% load static %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}


<!-- Cart table header -->
<div class="basket-header clearfix">
    <div class="col-xs-12 store-cart__table__header__title">
        <span>Digital downloads:</span> <span class="digital-info smaller">Upon purchase your Digital downloads will be available to you in your <a
            class="smalls-color" href="{% url 'my-downloads' %}">Library</a>.</span>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2 store-cart__table__cell image">
        Cover
    </div>
    <div class="hidden-xs hidden-sm col-md-10 col-lg-10 no-padding"  style="padding: 0px 30px;">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 store-cart__table__cell" style="padding-left:0">
            Title
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 store-cart__table__cell album"  style="padding: 0px 30px;">
            Album
        </div>
        <div class="store-cart__mobile-quantity col-md-4 col-lg-3">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 store-cart__table__cell">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 store-cart__table__cell">
                Price
            </div>
        </div>
    </div>
</div>
<!-- End of cart table header -->
{% for form in formset %}
    {% with line=form.instance product=form.instance.product %}
        {% if not product.is_shipping_required %}
            {% purchase_info_for_line request line as session %}
            <!-- Cart table row -->
            <div class="store-cart__table__row clearfix">
                <div class="store-cart__table__row__remove">
                    <a class="store-cart__table__remove-button" data-behaviours="remove" data-id="{{ forloop.counter0 }}"><i class="fa fa-remove"></i></a>
                </div>
                <div class="store-cart__table__row__container">
                    {{ form.id }}
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 image">
                    {% if product.parent_id %}
                        {% with image=product.parent.primary_image %}
                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ product.parent.get_absolute_url }}"><img class="defineImageRatio"
                                                                            src="{{ thumb.url }}"
                                                                            alt="{{ product.get_title }}"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    {% else %}
                        {% if product.album.primary_image  %}
                        {% with image=product.primary_image %}
                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ product.get_absolute_url }}"><img class="defineImageRatio"
                                                                            src="{{ thumb.url }}"
                                                                            alt="{{ product.get_title }}"></a>
                            {% endthumbnail %}
                        {% endwith %}
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-11 no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 store-cart__table__cell name">
                            <a href="{{ product.album.get_absolute_url }}">{% if product.parent %}{{ product.parent.title }} - {% endif %}{{ product.get_title }}</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 store-cart__table__cell album">
                            {% if product.album %}
                                <a href="{{ product.album.get_absolute_url }}">{{ product.album.get_title }}</a>
                            {% endif %}
                        </div>
                        <div class="store-cart__mobile-quantity col-md-4 col-lg-3 digital">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 store-cart__table__cell">
                                {% if line.stockrecord.is_hd %}
                                    HD
                                {% else %}
                                    Mp3
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 store-cart__table__cell">
                                <input type="hidden" name="form-{{ forloop.counter0 }}-quantity"  value="{{ form.quantity.value }}"/>
                                {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                <div style="display: none;"><input id="id_form-{{ forloop.counter0 }}-DELETE" name="form-{{ forloop.counter0 }}-DELETE" type="checkbox"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 hidden-md hidden-lg store-cart__table__cell remove">
                        <a class="store-cart__table__remove-button" data-behaviours="remove" data-id="{{ forloop.counter0 }}"><i class="fa fa-remove"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endwith %}
        <!-- End of cart table row -->
{% endfor %}
<!-- Cart table footer -->
<div class="store-cart__table__footer clearfix">
    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-6 col-sm-3 col-md-offset-8 col-md-2 col-lg-offset-10 col-lg-1 store-cart__table__footer__cell">
        Sub-total:
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 store-cart__table__footer__cell value">
        {{ basket.digital_total_excl_tax|currency:basket.currency }}
    </div>
</div>
<!-- End of cart table footer -->