{% load static %}

{% load thumbnail %}
{% load thumbor_tags %}

<li class="my-downloads-album row">
  <div class="hidden-xs col-sm-4 col-md-3 my-downloads-album__cover">
    {% with image=album.primary_image %}
      {% if album.parent_id %}
          {% with image=album.parent.primary_image %}
              {% thumbnail image.original "245x245" upscale=False as thumb %}
                  <a href="{{ album.parent.get_absolute_url }}"><img class="defineImageRatio"
                                                            src="{{ thumb.url }}"
                                                            alt="{{ album.get_title }}"></a>
              {% endthumbnail %}
          {% endwith %}
      {% else %}
          {% with image=album.primary_image %}
              {% thumbnail image.original "245x245" upscale=False as thumb %}
                  <a href="{{ album.get_absolute_url }}"><img class="defineImageRatio"
                                                            src="{{ thumb.url }}"
                                                            alt="{{ album.get_title }}"></a>
              {% endthumbnail %}
          {% endwith %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <h2 class="my-downloads-album__name">
      <a href="{{ album.get_absolute_url }}">{% if album.parent %}{{ album.parent.title }} - {% endif %}{{ album.title }}</a>
    </h2>
    {% if album.event %}
      <div class="my-downloads-album__event-link">
        <a href="{{ album.grouper.event.get_absolute_url }}">View event in our Archive</a>
        <span class="arrow"></span>
      </div>
    {% endif %}
    <div class="my-downloads-album__tracks-table">
      <h3 class="my-downloads-album__tracks-table__heading">Tracks bought:</h3>
      <!-- tracks table header -->
      <div class="my-downloads-album__tracks-table__header row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-5 my-downloads-album__tracks-table__column duration">
          Play
        </div>
        <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 my-downloads-album__tracks-table__column title">
          Title
        </div>
        <div class="col-sm-3 col-md-2 hidden-xs hidden-sm hidden-md col-lg-2 my-downloads-album__tracks-table__column composer">
          Composer
        </div>
        <div class="col-md-2 col-lg-1 hidden-xs hidden-sm hidden-md my-downloads-album__tracks-table__column duration">
          Duration
        </div>
        
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 my-downloads-album__tracks-table__column buy-track">

        </div>
      </div>
      <!-- end of tracks table header -->
      {% for track in album.parent.get_tracks %}
        <!-- tracks table row -->
        <div class="my-downloads-album__tracks-table__row row">
          <div class="col-xs-12 col-sm-8 col-md-7 col-lg-5 my-downloads-album__tracks-table__column duration">
            <audio class="audio-player" controls>
             {% if is_hd %}
                <source src="{{ track.get_hd_track_stockrecord.digital_download.get_file_url }}" type="audio/mpeg">
              {% else %}
                <source src="{{ track.get_track_stockrecord.digital_download.get_file_url }}" type="audio/mpeg">
              {% endif %}

            </audio>
          </div>
          <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 my-downloads-album__tracks-table__column title">
            {{ track.title }}
          </div>
          <div class="col-sm-3 col-md-2 hidden-xs hidden-sm hidden-md col-lg-2 my-downloads-album__tracks-table__column composer">
            {{ track.attr.composer }}
          </div>
          <div class="col-md-2 col-lg-1 hidden-xs hidden-sm hidden-md my-downloads-album__tracks-table__column duration">
            {{ track.attr.duration }}
          </div>
          <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 my-downloads-album__tracks-table__column buy-track">
            <div class="buy-button-container">
              <a class="white-border-button flex-button" data-toggle="dropdown" aria-expanded="false" href="">
                      <span>Download</span> <i class="fa fa-caret-down"></i></a>
              <div class="dropdown-menu" role="menu">
                {% if is_hd %}
                  <a class="white-border-button flex" href="{{ track.get_hd_track_stockrecord.digital_download.get_downloadable_file_url }}" download="{{ track.get_hd_track_stockrecord.digital_download.file.name }}">Download
                    HD</a>
                {% else %}
                  <a class="white-border-button flex" href="{{ track.get_track_stockrecord.digital_download.get_downloadable_file_url }}" download="{{ track.get_track_stockrecord.digital_download.file.name }}">Download
                    mp3</a>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
        <!-- end of tracks table row -->
      {% endfor %}
    </div>
    <!-- end of tracks table -->
  </div>
</li>