.about-smalls {
  h1 {
    color: #6a6a6a;
    font-family: 'museo500', sans-serif;
    font-size: 18px;
  }

  p {
    color: #333;
    font-family: 'Rosario', sans-serif;
    font-size: 12px;
    line-height: 1.5;
  }
}
