.about-smalls {
  h1 {
    color: #6a6a6a;
    font-family: 'museo500', sans-serif;
    font-size: 18px;
  }

  h2 {
    font-family: 'museo_sans500', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  p {
    color: #333;
    font-family: 'Rosario', sans-serif;
    font-size: 12px;
    line-height: 1.5;
  }

  .fa {
    color: #666;
    margin-right: 10px;
  }
}
