.about-smalls {
  @extend %bottom-section-border;
  background-color: white;

  &__info {
    padding: 35px 29px 20px 20px;
  }

  &__img {
    background-image: url('../image/about-smalls-bg.jpg');
    background-size: cover;
    height: 317px;
  }

  &__title {
    @include lato;
    font-size: 32px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  &__text {
    @include lato;
    font-size: 14px;
    margin-bottom: 6px;
  }
}