$event-view_header-height: 450px;
$future-event-view_header-height: 300px;

.event-view {

  &__header {
    min-height: 380px;
    padding: 0;
    overflow: hidden;

    &.future-event, &.no-media, &.audio-only {
      position: relative;
      @include display(flex);
      @include align-items(center);

      & .event-view__header {

        &__bg-photo {
          z-index: 0;
        }
      }
    }

    & .slick-slide {
      @include display(flex);
      @include flex-wrap(wrap);
      position: relative;
    }

    &.slick-slider {
      margin-bottom: 0;
    }

    &__bg-photo {
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;

      & img {
        width: 100%;
        height: auto;
        @include filter(grayscale(100%) blur(3px) brightness(0.4));
        @include transform(scale(1.1));
      }
    }

    &__bg-photo-cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      @include filter(grayscale(100%) blur(3px));
      @include transform(scale(1.05));
      background-size: cover;
      background-position: center center;
    }

    &__info {
      width: 100%;
      overflow: hidden;
      background-color: #000;

      &__container {
        @include display(flex);
        @include align-items(center);
        @include flex-wrap(wrap);
        margin: 60px 0 40px;
        width: 100%;
        min-height: 283px;
      }
    }

    &__meta {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
      padding: 30px;

      &__time {
        @include lato-black;
        font-size: 18px;
        margin: 0 0 8px;
        display: block;

        & span {
          margin: 0 10px;
        }
      }

      &__title {
        @include lato-black;
        font-size: 48px;
        text-transform: uppercase;
        margin: 0 0 8px;
      }

      &__venue {
        @include lato-black;
        color: #858585;
        text-transform: uppercase;
      }

      &__subtitle {
        @include lato-italic;
        font-size: 22px;
        margin: 0;
      }

      &__no-media {
        @include lato-italic;
        font-size: 16px;
        opacity: 0.8;
        margin-top: 20px;
        width: 60%;
        text-shadow: none;
      }
    }

    &__track {
      @include display(flex);
      padding: 0;
      position: relative;
      top: 5px;

      &__info {
        background-color: rgba(51,51,51,0.5);
        height: 60px;
        @include display(flex);
        @include align-items(center);
        padding: 10px 30px;

        & p {
          @include lato;
          font-size: 14px;
          color: #fff;
          margin: 0;
          
          &.no-media {
            @include lato-italic;
            opacity: 0.7;
          }

          &.not-allowed {
            font-size: 14px;
            opacity: 0.8;
            @include transition(all 0.3s ease-in-out);
            
            &:hover, &:focus {
              opacity: 1;
            }
          }
        }

        &__cta {
          @include lato-bold;
          margin-left: 10px;
          padding: 6px 10px;
          border: 2px solid rgba(255,255,255,0.5);
          border-radius: 4px;
          color: #fff;
          @include transition(all 0.3s ease-in-out);

          &:hover, &:focus {
            background-color: rgba(255,255,255,0.6);
            border-color: rgba(255,255,255,0.7);
            color: #000;
          }
        }
      }

      & .jwplayer {
        position: relative;
        top: 5px;
      }

      &__playlist {
        background-color: rgba(51,51,51,0.5);
        height: 60px;
        @include display(flex);
        @include align-items(center);
        @include flex-wrap(nowrap);
        padding: 10px 30px;

        & span {
          @include lato-bold;
          font-size: 12px;
          text-transform: uppercase;
          margin: 0 15px;
          color: #fff;
          opacity: 0.7;
        }

        & .player-control-icon {
          opacity: 0.7;
          height: 24px;
          width: auto;
          cursor: pointer;
          @include transition(opacity 0.3s ease-in-out);

          &:hover, &:focus {
            opacity: 1;
          }
        }
      }
    }

    &__video-link {
      text-align: center;
      display: block;
      color: #fff;
      max-width: 200px;
      margin: 0 auto;
      padding: 20px;
      @include transition(all 0.3s ease-in-out);
      cursor: default;

      &:hover, &:focus {
        border-color: rgba(255,255,255,0.7);
      }

      &__icon {
        font-size: 48px;
        display: block;
        margin-bottom: 10px;
      }

      & p {
        @include lato-bold;
        font-size: 16px;
        margin: 0;

        &.smaller {
          font-size: 14px;
          margin: 8px 0 0;
        }
      }

      &__cta {
        display: inline-block;
        @include lato-bold;
        font-size: 16px;
        color: #fff;
        padding: 10px 25px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 4px;
        background-color: rgba(0,0,0,0.2);
        margin-top: 15px;
        margin-botom: 15px;
        @include transition(all 0.3s ease-in-out);

        &:hover, &:focus {
          background-color: rgba(255,255,255,0.6);
          border-color: rgba(255,255,255,0.7);
          color: #000;
        }
      }

      &__container {
        padding: 40px 20px;
        margin-bottom: 40px;
        border-left: 1px solid rgba(255,255,255,0.5);
        opacity: 0.7;
        @include transition(all 0.3s ease-in-out);

        &.playable {

          &:hover, &:focus {
            opacity: 1;
          }

          & .event-view__header__video-link {
            cursor: pointer;
          }
        }
      }
    }

    &__video {

      &__container {
        width: 100%;
        background-color: #000;
        @include display(flex);
        @include align-items(center);
      }

      &__close {
        width: 200px;
        opacity: 0.3;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;
        color: #fff;
        text-align: center;
        padding: 80px 20px;
        border-right: 1px solid rgba(255,255,255,0.5);

        & i {
          font-size: 32px;
          margin-bottom: 10px;
        }

        & p {
          font-size: 14px;
          @include lato;
        }

        &:hover, &:focus {
          opacity: 1;
        }
      }

      &__playlist {
        width: 200px;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;
        color: #fff;
        text-align: left;
        padding: 80px 20px;
        border-left: 1px solid rgba(255,255,255,0.25);
        opacity: 0.6;

        &:hover {
          opacity: 1;
          width: 360px;
        }

        &__heading {
          display: block;
          @include lato-bold;
          font-size: 16px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(255,255,255,0.2);
          margin-bottom: 10px;
          color: rgba(255,255,255,0.8);
        }

        & ul {
          padding: 0;
          margin: 0;
        }

        &__item {
          display: block;
          width: 100%;
          float: left;
          @include lato;
          font-size: 14px;
          color: #fff;
          opacity: 0.8;
          padding: 8px 10px;
          border-bottom: 1px solid rgba(255,255,255,0.35);
          cursor: pointer;
          @include transition(all 0.3s ease-in-out);

          & .duration {
            font-size: 12px;
            @include lato-bold;
            float: right;
          }

          &.active {
            background-color: rgba(255,255,255,0.8);
          }
          
          &:hover, &:focus {
            opacity: 1;
          }
        }
      }
    }
  }

  &__details {
    background-color: #f7f7f7;
    border-top: 3px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 30px 30px 10px;

    &__description {

      & h3 {
        @include lato-black;
        font-size: 18px;
        margin: 0 0 15px;
      }

      & p {
        font-size: 14px;
        @include lato;
        text-align: justify;
      }
    }

    &__admin {
      margin: 0 0 10px;
      float: left;
      width: 100%;
      @include display(flex);
      @include align-items(center);
      @include flex-wrap(wrap);

      &__id {
        display: inline-block;
        float: left;
        margin-right: 20px;
        font-size: 16px;
        @include lato-black;
        padding: 8px 15px;
        border: 1px solid rgba(0,0,0,0.4);
        margin-bottom: 10px;
      }

      &__button {
        display: inline-block;
        float: left;
        margin-right: 10px;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: $main-accent-color;
        color: #fff;
        @include transition(all 0.3s ease-in-out);
        @include lato-bold;
        font-size: 14px;
        min-width: 100px;
        text-transform: capitalize;
        margin-bottom: 10px;

        &:hover, &:focus {
          text-decoration: none;
          color: rgba(255,255,255,0.7);
          background-color: shade($main-accent-color, 20%);
        }

        &.button-clone {
          background-color: #2ecc71;

          &:hover, &:focus {
            background-color: shade(#2ecc71, 20%);
          }
        }
      }
    }

    &__share {

      & h3 {
        @include lato-black;
        font-size: 18px;
        margin: 0 0 15px;
        color: #858585;
      }
    }
  }

  &__artists {
    background-color: #fff;
    padding: 30px;

    & h3 {
      @include lato-black;
      font-size: 18px;
      margin: 0 0 30px;
    }

    &__container {
      @include display(flex);
      @include flex-wrap(wrap);

      &:before, &:after {
        display: none;
      }
    }

    & .mini-artist {
      margin-bottom: 10px;

      &-info__bio {
       // min-height: 58px;
      }

      &:nth-child(even) {
        padding-left: 20px;
      }

      &:nth-child(odd) {
        padding-right: 20px;
      }
    }
  }

  &__share-social {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(255,255,255,0.6);
    float: left;
    padding-right: 20px;
    padding-top: 0px;
    opacity: 0.7;
    @include transition(all 0.3s ease-in-out);

    &:hover, &:focus {
      opacity: 1;
      margin-top: 20px;
      padding-top: 10px;
      margin-bottom: 0;
    }

    &__title {
      @include lato-light;
      font-size: 14px;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      top: 3px;
    }

    & .social-btn {
      text-shadow: none;
      font-size: 16px;
      width: 36px;
      border-radius: 100%;
      height: 36px;
      text-align: center;
      padding: 8px;
      background-color: transparent;
      @include transition(all 0.3s ease-in-out);

      &:hover, &:focus {
        color: #fff;
      }

      &--facebook {

        &:hover {
          background-color: #3b5998;
        }
      }

      &--twitter {

        &:hover {
          background-color: #00aced;
        }
      }

      &--google {

        &:hover {
          background-color: #dd4b39;
        }
      }
    }
  }
}


@media (max-width: $screen-xs-max) {

  .event-view {

    &__header {
      background-color: #000;

      &__bg-photo img {
        height: 100%;
        width: auto;
      }

      &__info {

        &__container {
          @include align-items(flex-start);
          margin: 40px 0 20px;
        }
      }

      &__meta {
        padding: 20px 30px;
        @include flex-grow(0);

        &__time {
          font-size: 16px;

          & span {
            opacity: 0;
            width: 100%;
            height: 3px;
            overflow: hidden;
            display: block;
          }
        }

        &__title {
          font-size: 32px;
          line-height: 130%;
        }
      }

      &__video-link {
        display: block;
        margin: 0;
        margin-left: 10px;

        &__icon {
          display: inline-block;
          font-size: 48px;
          float: left;
          margin: 0;
        }

        &__container {
          border: none;
          padding: 0;
          margin-bottom: 0;
          display: block;
        }

        & p {
          display: inline-block;
          float: left;
          text-align: left;
          margin-top: 10px;
        }

        &__cta {
          float: left;
          margin-bottom: 20px;
        }
      }

      &__track {
        @include flex-wrap(wrap);

        &.audio-available {
          position: relative;
          bottom: -55px;
        }

        &__info {
          margin-bottom: 0;
          padding-left: 20px;
          padding-bottom: 0;
          @include flex-shrink(1);

          &__cta {
            display: block;
            @include flex-shrink(0);
            text-align: center;
          }
        }

        &__playlist {
          margin-top: 30px;
        }
      }

      &__video {

        &__container {
          padding: 0;
          @include flex-wrap(wrap);
        }

        &__close {
          width: 100%;
          padding: 20px 30px;
          border-right: none;
          position: absolute;
          z-index: 100;

          & i {
            display: inline-block;
            float: left;
          }

          & p {
            display: none;
          }
        }

        &__playlist {
          width: 100%;
          border-left: none;
          padding: 20px 30px;
        }
      }
    }

    &__share-social {

      & h3 {
        display: block;
      }
    }

    &__artists {

      & .mini-artist {

        &:nth-child(even), &:nth-child(odd) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
