.event-tracks {
  background-color: $main-accent-color;
  padding: 0 30px;
}

.event-tracks-header {
  padding: 10px 0;

  &__title {
    @include lato-black;
    font-size: 24px;
    color: white;
    margin-top: 5px;
  }

  &__text {
    @include lato;
    font-size: 14px;
    color: white;
  }
}

.tracks-table-separator {
  border: 1px #333 solid;
  border-bottom: 0;
  margin: 0 -30px;
  opacity: 0.2;
}

.tracks-table {
  border-bottom: 1px #EEEEEE solid;
  margin: 0 -30px;

  &__header {
    color: white;
    font-weight: bolder;
    padding: 15px 10px;
  }

  th.tracks-table__header-cell {
    border-bottom: 0;
  }

  &__row {
    background-color: #FFFFFF;
    padding: 10px;
    border-bottom: 1px #eee solid;

    .playback-control {
      color: #333;
      font-size: 16px;
    }

    .buy-button-container {
      float: none;
      margin: 0 auto;
      display: inline-block;
    }

    .title {

    }
  }

  // needed to write it like this to override aggressive specificity bootstrap styles
  td.tracks-table__cell {
    border-color: #EEEEEE;
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;

    &:first-child {
      text-align: center;
    }
  }

  &__button {
    @include lato-bold-italic;
    @include red-button;
  }
}