$event-view_header-height: 450px;

.event-view {

  &__header {
    height: $event-view_header-height;
    padding: 0;

    & .slick-slide {
      display: block;
    }

    &.slick-slider {
      margin-bottom: 0;
    }

    &__bg-photo {
      width: 100%;
      height: $event-view_header-height;
      overflow: hidden;
      position: relative;

      & img {
        width: 100%;
        height: auto;
        @include filter(grayscale(100%) blur(5px) brightness(0.32));
        @include transform(scale(1.1));
      }
    }

    &__info {

      &__container {
        position: relative;
        top: -$event-view_header-height;
        height: $event-view_header-height;
        padding-bottom: 60px;
        @include display(flex);
        @include align-items(center);

        &.no-track {
          padding-bottom: 0;
        }
      }
    }

    &__meta {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
      padding: 20px;

      &__time {
        @include lato-black;
        font-size: 18px;
        margin: 0 0 8px;
        display: block;

        & span {
          margin: 0 10px;
        }
      }

      &__title {
        @include lato-black;
        font-size: 48px;
        text-transform: uppercase;
        margin: 0 0 8px;
      }

      &__subtitle {
        @include lato-italic;
        font-size: 22px;
        margin: 0;
      }
    }

    &__track {
      @include display(flex);
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;

      &__info {
        background-color: rgba(51,51,51,0.5);
        height: 60px;
        @include display(flex);
        @include align-items(center);
        padding: 10px 20px;

        & p {
          @include lato;
          font-size: 16px;
          color: #fff;
          margin: 0;
          
          &.no-media {
            @include lato-italic;
            opacity: 0.7;
          }

          &.not-allowed {
            font-size: 14px;
            opacity: 0.8;
            @include transition(all 0.3s ease-in-out);
            
            &:hover, &:focus {
              opacity: 1;
            }
          }
        }

        &__cta {
          @include lato-bold;
          margin-left: 10px;
          padding: 6px 10px;
          border: 2px solid rgba(255,255,255,0.5);
          border-radius: 4px;
          color: #fff;
          @include transition(all 0.3s ease-in-out);

          &:hover, &:focus {
            background-color: rgba(255,255,255,0.6);
            border-color: rgba(255,255,255,0.7);
            color: #000;
          }
        }
      }

      & .jwplayer {
        position: relative;
        top: 30px;
      }
    }

    &__video-link {
      text-align: center;
      display: block;
      color: #fff;
      max-width: 200px;
      margin: 0 auto;
      border: 1px solid rgba(255,255,255,0.5);
      padding: 20px;
      border-radius: 10px;
      @include transition(all 0.3s ease-in-out);
      cursor: pointer;
      opacity: 0.8;

      &:hover, &:focus {
        border-color: rgba(255,255,255,0.7);
        opacity: 1;
      }

      &__icon {
        font-size: 48px;
        display: block;
        margin-bottom: 10px;
      }

      & p {
        @include lato;
        font-size: 16px;
        margin: 0 0 8px;

        &.smaller {
          font-size: 12px;
        }
      }

      &__cta {
        display: inline-block;
        @include lato-bold;
        font-size: 12px;
        color: #fff;
        padding: 6px 10px;
        border: 2px solid rgba(255,255,255,0.3);
        border-radius: 4px;
        background-color: rgba(0,0,0,0.2);
        margin-top: 3px;
        @include transition(all 0.3s ease-in-out);

        &:hover, &:focus {
          background-color: rgba(255,255,255,0.6);
          border-color: rgba(255,255,255,0.7);
          color: #000;
        }
      }

      &__container {
        padding: 20px 40px;
      }
    }

    &__video {

      &__close {
        position: absolute;
        top: 120px;
        z-index: 100;
        opacity: 0.3;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;
        color: #fff;
        text-align: center;
        padding: 80px 20px;
        border-right: 1px solid rgba(255,255,255,0.5);

        & i {
          font-size: 32px;
          margin-bottom: 10px;
        }

        & p {
          font-size: 14px;
          @include lato;
        }

        &:hover, &:focus {
          opacity: 1;
        }
      }
    }
  }

  &__details {
    background-color: #f7f7f7;
    border-top: 3px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 30px 20px 10px;

    &__description {

      & h3 {
        @include lato-black;
        font-size: 18px;
        margin: 0 0 15px;
      }

      & p {
        font-size: 14px;
        @include lato;
        text-align: justify;
      }
    }

    &__admin {
      margin-top: 35px;

      &__button {
        display: inline-block;
        float: left;
        margin-right: 10px;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: $main-accent-color;
        color: #fff;
        @include transition(all 0.3s ease-in-out);
        @include lato-bold;
        font-size: 14px;
        min-width: 100px;
        text-transform: capitalize;

        &:hover, &:focus {
          text-decoration: none;
          color: rgba(255,255,255,0.7);
          background-color: shade($main-accent-color, 20%);
        }

        &.button-clone {
          background-color: #2ecc71;

          &:hover, &:focus {
            background-color: shade(#2ecc71, 20%);
          }
        }
      }
    }

    &__share {

      & h3 {
        @include lato-black;
        font-size: 18px;
        margin: 0 0 15px;
        color: #858585;
      }
    }
  }

  &__artists {
    background-color: #fff;
    padding: 30px 20px;

    & h3 {
      @include lato-black;
      font-size: 18px;
      margin: 0 0 30px;
    }
  }
}