$mobile-event-card-width: $event-card-width / 1.5;

.event-row, .album-row {
  display: flex;
  overflow: auto;
  //padding-left: 20px;

  //@media (min-width: $screen-md-min) {
  //  padding-left: 40px;
  //}

  .event-display {
    margin: 5px;
    flex: 4;
  }
}

.event-info {
  @include links1;
  margin-top: 10px;

  &.top-border {
    padding-bottom: 30px;
    padding-top: 5px;
    border-top: $underline-height solid $white-transparent;
  }

  div {
    div:first-child {
      @media (min-width: $screen-md-min) {
        max-width: 130px;
      }
      @media (max-width: $screen-sm-max) {
        max-width: $mobile-event-card-width;
      }
    }
  }
}


@mixin event-card ($event-card-width, $event-card-height) {
  //max-width: $event-card-width;
  //min-height: $event-card-height;
  position: relative;

  .event-picture-container {
    position: relative;
    $picture-border-radius: 10px;
    border-radius: $picture-border-radius;
    overflow: hidden;

    .event-picture {
      @include cross-browser-grayscale;
      //height: $event-card-height;
      //width: $event-card-width;
      position: relative;

      img {
        width: 100%;

        &:before {
          content: ' ';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          //height: $event-card-height;
          //width: $event-card-width;
          background-image: url('../image/no-event-image-placeholder.jpg');
          background-size: cover;
        }
      }
    }

    .icon-overlay {
      @include animated;
      color: $accent-color;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      font-size: 25px;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-thin-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        $circle-size: 60px;

        height: $circle-size;
        width: $circle-size;

        border-radius: $circle-size / 2;
        border: 1px solid $accent-color;

        &:before {
          left: 3px;
          position: relative;
        }
      }
    }
  }

  &:hover {
    .event-picture {
      filter: $sepia-filter;
    }

    .icon-overlay {
      opacity: 1;
    }
  }

  .event-dates {
    position: absolute;

    left: 0;
    bottom: 4px;

    > span {
      color: $white-transparent;
      background-color: black;
      padding: 2px 10px;

      &.accent-box {
        background-color: $accent-color;
        color: $white-transparent
      }
    }
  }
}

.event-card {
  @media (min-width: 1441px) {
    @include event-card(300px, 300px * 0.6);
  }

  @media (max-width: 1440px) and (min-width: 1281px) {
    @include event-card(215px, 215px * 0.6);
  }

  @media (max-width: 1280px) and (min-width: 1025px) {
    @include event-card(260px, 260px * 0.6);
  }

  @media (max-width: 1024px) and (min-width: $screen-sm-max) {
    @include event-card(200px, 200px * 0.6);
  }

  @media (max-width: $screen-sm-max) {
    @include event-card($mobile-event-card-width, $event-card-height / 1.5);
  }
}

.event-card-secondary {
  @media (min-width: 1441px) {
    @include event-card(220px, 220px * 0.6);
  }

  @media (max-width: 1440px) and (min-width: 1281px) {
    @include event-card(160px, 160px * 0.6);
  }

  @media (max-width: 1280px) and (min-width: 1025px) {
    @include event-card(140px, 140px * 0.6);
  }

  @media (max-width: 1024px) and (min-width: $screen-sm-max) {
    @include event-card(150px, 150px * 0.6);
  }

  @media (max-width: $screen-sm-max) {
    @include event-card($mobile-event-card-width, $event-card-height / 1.5);
  }
}

.event-card-small {
  @include event-card($mobile-event-card-width, $event-card-height / 1.5);

  .event-picture-container {
    border-radius: 0;
  }
}

//TODO Move
.album-row {
  .event-display {
    max-width: 100%;
    .event-card {
      @include event-card(300px, 300px);
      .event-picture-container {
        .event-picture {
          filter: none
        }
      }
    }
  }
}
