.free-trial-box {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 20px 16px 14px;


  p {
    color: #3c3c3c;
    font-family: 'Rosario', sans-serif;
    line-height: 2;
  }

  .new-from-smalls {
    color: #e02147;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 12px;
    text-align: center;
  }

  ul {
    color: #6a6a6a;
    font-family: 'museo500', sans-serif;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    text-align: center;

    li {
      margin-bottom: 10px;
    }
  }

  hr {
    @include horizontal-ruler(#e6e6e6);
  }

  .login {
    color: #888;
    font-family: 'Rosario', sans-serif;
    margin-left: 14px;
    text-decoration: underline;
  }
}

.start-trial-button {
  @include button-size($padding-base-vertical, $padding-base-horizontal, 11px, $line-height-base, 0);
  @include button-variant(#fff, #32a0d7, #32a0d7);
  font-family: 'museo500', sans-serif;
}
