.header-img {
  @include bottom-section-border;
  background-image: url('../image/page_headers/about-us-header.jpg');
  background-size: cover;
  background-position: center center;
  height: 300px;
}
