.homepage-news {
  @extend %lato;
  background-color: #1F1F1F;
  color: white;
  height: 70px;
  padding-left: 19px;
  padding-top: 15px;

  &__title {
    @extend %lato-black;
    font-size: 24px;
    display: inline-block;
    margin-top: 10px;
  }

  &__text {
    font-size: 14px;
    display: inline-block;
    margin-left: 14px;
  }

  &__input {
    @include border-left-radius(4px);
    border: none;
    font-size: 14px;
    color: #333;
    height: 40px;
    padding-left: 15px;
    width: 270px;
    vertical-align: middle;
    float: right;
  }

  &__button {
    @extend %lato-black;
    @extend .btn;
    font-weight: bold;
    background-color: #555555;
    height: 40px;
    @include border-left-radius(0);
    margin-left: -5px;
    margin-right: 10px;
    float: right;
    width: 110px;
  }
}