.home-store {
  @include bottom-section-border;
  background-color: white;
  padding-bottom: 20px;

  &__section-title {
    @include section-title;
    margin-bottom: 28px;
  }

  &__title {
    @include lato-bold;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2px;
    height: 40px;
    color: #131313;
    font-weight: 600;
    line-height: 130%;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
      color: #131313;
      text-decoration: none;
    }

    & a:hover {
      opacity: 0.8;
      color: #131313;
      text-decoration: none;
    }
  }

  &__type {
    @include lato-bold;
    color: #777777;
    font-size: 13px;
    margin-bottom: 5px;
  }

  &__price {
    @include lato-bold;
    color: #D80F2E;
    font-size: 16px;
    font-weight: 800;
  }

  &__buynow {
    @include lato-bold-italic;
    color: white;
    border: none;
    background-color: #DA0B28;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px 4px 7px;
    margin-bottom: 20px;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }
  }

  &__img {
    @include center-block;
    @include img-responsive;
    margin-bottom: 10px;
    width: 100%;
  }
}

.arrow {
  display: block;
  float: left;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-left-color: #DA0B28;
}