.from-our-archive {
  background-color: #FFF;
}

.from-our-archive__section-title {
  @extend %lato-black;
  color: #B1B1B1;
  font-size: 24px;
  margin-bottom: 28px;
}

.from-our-archive__image {
  @include center-block;
  @include img-responsive;
  width: 100%;
  border-bottom: 8px solid;
  margin-bottom: 30px;


  &--green {
    border-bottom-color: #5FA051;
  }

  &--blue {
    border-bottom-color: #68ACE3;
  }

  &--yellow{
    border-bottom-color: #E5DA33;
  }

  &--gold{
    border-bottom-color: #AC893B;
  }

  &--red {
    border-bottom-color: #7F2D13;
  }

  &--purple {
    border-bottom-color: #752C8F;
  }

  &--darkblue {
    border-bottom-color: #2E338F;
  }

  &--orange {
    border-bottom-color: #DC9231;
  }

}