.event-details {
  min-height: 320px;
  background-color: #1B191A;
  background-size: cover;

  &__cancelled-ribbon {
    @include lato-bold;
    color: #fff;
    background-color: $main-accent-color;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: absolute;
    @include transform(rotate(45deg));
    padding: 10px 90px;
    right: -50px;
    top: -20px;
    text-transform: uppercase;
  }

  &__image {
    @include cross-browser-grayscale;
  }

  & .info {
    padding: 0 50px 0 20px;
  }

  &__title {
    @include lato-black;
    font-size: 34px;
    text-transform: uppercase;
    color: $main-accent-color;
    margin-bottom: 16px;
    margin-top: 30px;
  }

  &__title a {
    color: $main-accent-color;
    text-decoration: none;
  }

  &__title a:hover {
    opacity: 0.7;
  }

  &__artists {
    @include lato-black;
    font-size: 14px;
    color: #fefefe;
    line-height: 23px;
    padding-right: 50px;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__artists a {
    color: white;
    text-decoration: none;
  }

  &__artists a:hover {
    opacity: 0.7;
  }

  &__instrument {
    @include lato;
    font-size: 14px;
    text-transform: lowercase;
  }

  &__event-button {
    @include lato-bold-italic;
    @include red-button;
    margin-bottom: 30px;
  }
}

.event-select {
  color: #fefefe;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 10px;
  background-color: $main-accent-color;

  &__title {
    @include lato-black;
    font-size: 24px;
    margin-top: 0;
  }

  &__date-select {
    @include lato-bold;
    font-size: 14px;
    background-color: transparent;
    color: #fefefe;
    cursor:pointer;
  }

  &__date-select option {
    color: #131313;
  }

  &__slots {
    @include lato-bold;
    font-size: 14px;
    margin-top: 10px;


    li {
      color: #F4C4CC;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
    }

    li:hover {
      color: white;
    }

    li.active {
      color: white;
    }


  }
}

.event-select:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(210, 21, 253, 0);
  border-bottom-color: $main-accent-color;
  border-width: 20px;
  margin-left: -20px;
  z-index: 10001;
}

#upcoming-carousel {
  margin-left: -10px;
  margin-right: -10px;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  width: auto;
  margin-left: 0;
  padding-left: 0;
  text-align: left;

  & .active {
    margin: 0;
    width: auto;
    height: auto;
    background: none;
    color: white;
  }

  & li {
    text-indent: inherit;
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0;
  }
}

@media (max-width: 780px) {
  .event-details {
    min-height: 0;
    text-align: center;

    &__title {
      margin-top: 30px;
    }

    &__artists {
      padding-right: 0;
      margin-bottom: 50px;
    }

    &__event-button {
      display: none;
    }

    .arrow {
      display: none;
    }
  }

  .event-select {
      text-align: center;
      padding: 20px;

    &__title {
      margin-bottom: 20px;
    }

    &__date-select {

    }

    &__date-select option {;
    }

    &__slots {
      margin-top: 20px;
      padding: 0;
      text-align: center;

      li {
        padding: 15px 0;
        width: 100%;
      }

      li:hover {

      }
    }
  }

}

@media (max-width: 993px) {
  .event-details .div-fill-img.wide {
    width: 100%;
    height: auto;
  }

  .event-details .info {
    padding: 20px 30px;
    overflow: hidden;
  }

  .event-details__cancelled-ribbon {
    top: 40px;
    z-index: 100;
  }
}


.upcoming-events.mobile {
  border-bottom: 8px solid $main-accent-color;

  & .event-select {
    margin-left: -10px;
    margin-right: -10px;

    &__title {
      margin-bottom: 10px;
    }

    & a {
      @include lato-bold;
      color: #fff;
      opacity: 0.7;
      text-decoration: none;

      &:hover, &:focus {
        color: #fff;
        opacity: 1;
        text-decoration: none;
      }
    }
  }

  & .event-details__title {
    margin-top: 5px;
  }

  & .event-details__artists {
    margin-bottom: 0;
  }

  & .event-details__timeslot {
    @include lato-bold;
    font-size: 16px;
    color: #fefefe;
    opacity: 0.7;
  }

  .event-select:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(210, 21, 253, 0);
  border-top-color: $main-accent-color;
  border-width: 20px;
  margin-left: -20px;
  z-index: 10001;
}
}