$banners-height: 38vh;

.banners {

  @media (max-width: $screen-sm-max) {
    display: none;
  }
  width: 100%;


  #banner-container {
    display: none;
    position: relative;
    overflow: hidden;
    height: 15.065vw;

    
    .banner-border {
      height: 100%;
      width: 100%;

      border-top: 1px solid $light-grey;
      border: none;

      padding: 1vh 2vw;

     

      .banner-title-button {
        padding: 1px 1px;

        #banner-title {
          @include title4;

          padding-left: 2vw;
          padding-right: 2vw;
          padding-top: 0.7vw;
          text-wrap: normal;

          &.custom-banner-text {
            font-size: 1px;
            max-width: 355px;
          }
        }

        .learnmore-container {
          z-index: 2;

          .banner-learnmore {
            padding: 0 2vw;
            vertical-align: top;
          }

          #banner-button {
            justify-content: center;
            @include white-border-button;
            width: 100%;
          }

          #banner-button-info {
            justify-content: center;
            @include white-border-button;
            width: 100%;
          }
        }
      }

      .banner-text-container {
        flex: 1;
        #banner-text {
          @include title-banner;
          text-align: justify;
          margin: 0;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &.supporter {

      .banner-border {
        padding-left: 1.5vw;
        padding-right: 1.5vw;

        .banner-title-button {
          flex: none;
          width: 25.5%;

          #banner-title {

            padding-left: 1.7vw;
            padding-right: 1.2vw;
            padding-top: 1.7vw;

            &.custom-banner-text {
              letter-spacing: 0.6vw;
              line-height: 2.5vw;
              max-width: initial;
              font-size: 2.35vw;
              font-weight: 300;
              text-align: justify;

              .accent-color {
                letter-spacing: 3px;
                white-space: nowrap;
              }

              .last {
                letter-spacing: 0.47vw;
                white-space: nowrap;
              }

            }
          }
        }

        .learnmore-container {

          margin-top: 1.5vw;

          .banner-learnmore {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            padding-left: 1.5vw;
            vertical-align: top;
            width: 65%;
          }
          .banner-learnmore-info {
            display: inline-block;
            width: 27%;
          }
        }
        .banner-text-container {
          flex: none;
          width: 73.5%;

          #banner-text {
            letter-spacing: 0.136vw;
            text-align: left;
            font-size: 1.46vw;
            line-height: 1.87vw;
          }
        }
      }
    }
  }

  .banner-options {
    width: 100%;

    .banner-option {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $white-transparent;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &.shadow-text {
        @include shadow-text;
      }

      #banner-archive-box {
        margin-right: 0.94%;
      }

      #banner-live-box {
        margin-right: 0.94%;
      }

    }
  }

  &.mobile {
    & + * + .event-stripe{
      margin-top:0;
      & > .live{
        margin-top:0;
      }
    }
    margin-bottom: 0px;
    background-size: cover;
    margin-top: 15vw;
    .slick-dots{
      bottom:0;
      li{
        margin: 0 2.35px;}
    }
    .slick-dots li button:before {
      font-size: 20px;
      content: "○";
      opacity: 1;
    }
    .slick-dots .slick-active button:before {
      content: "●";
      opacity: 1;
      color: black;
    }
    display: none;
    white-space: nowrap;
    width: 100vw;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      display: block;
    }

    .box {
      .banner-learnmore {
        margin-top: 10px;}
      .banner-text-container {
        .content{
          @include reen-kufi-normal;
        }
      }
      // .banner-text-container{

      // }
      &.flex-column{
        display: flex;
        height: 65vw;
        justify-content: center;
        padding: 2.6vw 0;

      }
      display: inline-block;
      filter: brightness(1.85);
      font-family: 'Oswald', sans-serif;
      justify-content: space-between;
      
      margin-bottom: 40px;
      vertical-align:top;
      -webkit-filter: brightness(1.85);
      width: 100vw;

      &.archive {
        background-image: url("/static/image/banners/archive_mobile_banner.jpg"); 
        background-size: 100% 100%;

      }

      &.live {
        background-image: url("/static/image/banners/live_mobile_banner.jpg"); 
        background-size: 100% 100%;

      }

      &.mission {
        background-image: url("/static/image/banners/mission_mobile_banner.jpg"); 
        background-size: 100% 100%;

      }
      &.supporting{
        background-image: url("/static/image/banners/supporter_mobile_banner.jpg"); 
        background-size: 100% 100%;
        padding: 6.2vw 0;
        margin-bottom: 0;
        .text9{
          font-size: 3.84vw;
          text-align: justify;
        }
        .banner-learnmore {
          padding-top: 3.1vw;
          display: flex;
          justify-content: space-evenly;
          button, a{
            color: black;
            padding: 2vw 5vw;
          }
        }
        .title7{
          font-size: 4.94vw;
          line-height: 1.68em;
          .bold{
            font-weight: 700;
          }
        }
      }

      p.title {
        font-weight: 600;
        font-size: 10.5vw;
        letter-spacing: 0;
        margin-top: 3px;
        text-transform: uppercase;
        transform: scaleY(1.2);
      }

      p.content {
        font-size: 3.5vw;
        margin: 0 auto;
        text-align: left;
        white-space: initial;
        height: 20vw;
        vertical-align: middle;
        display: table-cell;
        padding: 0 5vw;
      }

      button, a {
        font-size: 3.5vw;
        border: 3px solid white;
        border-radius: 50px;
        padding: 2vw 8vw;

        background-color: transparent;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
      }
    }

  }
}

.darked-image {
  @include background-image-with-overlay(rgba(0, 0, 0, 0.6));
}

.lighten-image {
  @include background-image-with-overlay(rgba(255, 255, 255, 0.85));
}

.fake-image {

  width: 33vw;

  &:hover {
    opacity: 0.5;
    filter: brightness(250%);
  }

  img {
    width: 100%;
  }

  &.archive {
    margin-right: 0.5vw;
  }

  &.live {
    margin-right: 0.5vw;
  }
}



