.event-details {
  min-height: 320px;
  background-color: #1B191A;
  background-size: cover;

  &__image {
    @include filter(grayscale(100%));
  }

  & .info {
    padding: 0 20px;
  }

  &__title {
    @include lato-black;
    font-size: 34px;
    text-transform: uppercase;
    color: $main-accent-color;
    margin-bottom: 16px;
    margin-top: 30px;
  }

  &__title a {
    color: #D21535;
    text-decoration: none;
  }

  &__title a:hover {
    opacity: 0.7;
  }

  &__artists {
    @include lato-black;
    font-size: 14px;
    color: #fefefe;
    line-height: 24px;
    padding-right: 50px;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__artists a {
    color: white;
    text-decoration: none;
  }

  &__artists a:hover {
    opacity: 0.7;
  }

  &__instrument {
    @include lato;
    font-size: 14px;
    text-transform: lowercase;
  }

  &__event-button {
    @include lato-bold-italic;
    color: #FEFEFE;
    border: 0;
    background-color: $main-accent-color;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 10px 4px 7px;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  &__event-button:hover {
    color: rgba(254,254,254,0.8);
    text-decoration: none;
  }
}

.event-select {
  min-height: 96px;
  color: #fefefe;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
  background-color: $main-accent-color;

  &__title {
    @include lato-black;
    font-size: 24px;
    margin-top: 13px;
  }

  &__date-select {
    @include lato-bold;
    font-size: 14px;
    background-color: transparent;
    color: #fefefe;
  }

  &__date-select option {
    color: #131313;
  }

  &__slots {
    @include lato-bold;
    font-size: 14px;
    margin-top: 10px;


    li {
      color: #F4C4CC;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
    }

    li:hover {
      color: white;
    }

    li.active {
      color: white;
    }


  }
}

.event-select:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(210, 21, 253, 0);
  border-bottom-color: $main-accent-color;
  border-width: 20px;
  margin-left: -20px;
}

#upcoming-carousel {
  margin-left: -10px;
  margin-right: -10px;
}

.carousel-indicators {
  position: initial;
  bottom: initial;
  left: initial;
  width: initial;
  margin-left: initial;
  padding-left: initial;
  text-align: initial;

  & .active {
    margin: initial;
    width: initial;
    height: initial;
    background-color: initial;
    color: white;
  }

  & li {
    text-indent: initial;
    border: initial;
    border-radius: initial;
    width: initial;
    height: initial;
    margin: initial;
  }
}

@media (max-width: 780px) {
  .event-details {
    min-height: 0;
    text-align: center;

    &__title {
      margin-top: 30px;
    }

    &__artists {
      padding-right: 0;
      margin-bottom: 50px;
    }

    &__event-button {
      display: none;
    }

    .arrow {
      display: none;
    }
  }

  .event-select {
      text-align: center;
      padding: 20px;

    &__title {
      margin-bottom: 20px;
    }

    &__date-select {

    }

    &__date-select option {;
    }

    &__slots {
      margin-top: 20px;
      padding: 0;
      text-align: center;

      li {
        padding: 15px 0;
        width: 100%;
      }

      li:hover {

      }
    }
  }

}

@media (max-width: 993px) {
  .event-details .div-fill-img.wide {
    width: 100%;
    height: auto;
  }

  .event-details .info {
    padding: 20px 30px;
  }
}