$banners-height: 38vh;

.banners {

  @media (max-width: 960px) {

  }
  width: 100%;


  #banner-container {
    display: none;
    position: relative;
    overflow: hidden;
    height: 15.065vw;

    
    .banner-border {
      height: 100%;
      width: 100%;

      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;

      padding: 1vh 2vw;

      .banner-title-button {
        padding: 1px 1px;

        .banner-learnmore {
          padding: 0 2vw;
        }

        #banner-title {
          @include title4;

          padding-left: 2vw;
          padding-right: 2vw;
          padding-top: 2vh;
          text-wrap: normal;

          &.custom-banner-text {
            font-size: 1px;
            max-width: 355px;
          }
        }

        #banner-button {
          justify-content: center;
          @include white-border-button;
          width: 100%;
        }
      }

      .banner-text-container {
        flex: 1;

        #banner-text {
          @include title-banner;
          text-align: justify;
          font-size: 33px;
          margin: 0;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }

  .banner-options {
    width: 100%;

    .banner-option {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $white-transparent;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &.shadow-text {
        @include shadow-text;
      }

      #banner-archive-box {
        margin-right: 0.94%;
      }

      #banner-live-box {
        margin-right: 0.94%;
      }

    }
  }
}

.darked-image {
  @include background-image-with-overlay(rgba(0, 0, 0, 0.6));
}

.lighten-image {
  @include background-image-with-overlay(rgba(255, 255, 255, 0.8));
}

.fake-image {

  width: 33vw;

  &:hover {
    opacity: 0.5;
    filter: brightness(250%);
  }

  img {
    width: 100%;
  }

  &.archive {
    margin-right: 0.5vw;
  }

  &.live {
    margin-right: 0.5vw;
  }
}


