.modal {
  top:10%;
}

.modal-backdrop {
  height: 100%;
  opacity: 0.65 !important;
}

.login-modal .modal-body {
  overflow: hidden;
}

.login-modal {
  border: 8px solid $white-transparent;
  border-radius: 0;
  background-color: $background-color;
  background-clip: unset;

  padding: 35px;

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
      margin-bottom: 15px;
    }

    form {
      width: 70%;

      margin-top: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      align-items: center;

      .form-group {
        width: 100%;

        input[type="text"], input[type="password"], input[type="email"] {
          @include bordered-input;
        }

        //TODO Custom check box
        input[type="checkbox"] {
          margin: 1px 0 0 -20px;
        }
      }

    }
  }
}

.form-button {
  @include white-border-button;
  @include input-border;

  margin-top: 40px;
  padding: 0 40px;
}

.modal-separator {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  margin: 30px 0;
  background-color: white;
}

.empty-separator-20 {
  width: 100%;
  height: 20px;
  float: left;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-dialog .close {
  background: none;
  border: none;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
}

@media (max-width: 750px) {
  .login-modal {
    padding: 30px 10px;
  }
  
  .fb-login-button {
    margin-top: 10px;
  }

  .modal-dialog .close {
  right: 0px;
}
}
