.my-downloads-header {
  padding: 30px 20px;
  background-color: #fff;
  color: $main-accent-color;

  &__title {
    @include lato-black;
    font-size: 32px;
    margin: 0;
  }
}

.my-downloads-album {
  list-style-type: none;
  padding: 40px 20px;

  &:nth-child(odd) {
    background-color: #efefef;
  }

  &__list {
    position: relative;
    background-color: #fff;
    padding: 0 10px;

    &:before {
      top: 0;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #fff;
      border-width: 24px;
      margin-left: -24px;
    }

    & ul {
      padding: 0;
      margin: 0;
    }
  }

  &__cover {
    padding-right: 20px;
  }

  &__name {
    @include lato-black;
    font-size: 28px;
    color: $main-accent-color;
    margin: 0 0 15px;
    line-height: 130%;

    & a {
      color: $main-accent-color;

      &:hover, &:focus {
        color: rgba($main-accent-color, 0.7);
      }
    }
  }

  &__event-link {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 15px;

    & a {
      @include red-button;
      font-size: 14px;
    }

   & .arrow {
      float: left;
    }
  }

&__tracks-table {
  padding: 0 10px;
  float: left;
  width: 100%;
  margin-top: 20px;

  &__heading {
    @include lato-black;
    font-size: 18px;
    margin: 0 0 15px;
  }

  &__header {
    padding: 10px 0;
    border-top: 1px solid rgba(#000, 0.1);
    border-bottom: 1px solid rgba(#000, 0.1);
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);

    &:before, &:after {
      display: none;
    }
  }

  &__row {
    padding: 7px 0;
    border-bottom: 1px solid rgba(#000, 0.1);
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);

    &:before, &:after {
      display: none;
    }

    &.download-all {
      background-color: rgba(#000, 0.05);
    }

    & .title {
      @include lato-bold;
    }
  }

  &__column {

    &.preview {
      text-align: center;
    }

    &.title, &.buy-track {
      text-align: left;
    }

    &.buy-track {
      padding-right: 20px;
      @include display(flex);
      @include align-items(center);
      @include justify-content(flex-end);
    }

    &.duration {
      text-align: center;
    }
  }

  & a {
    color: #131313;

    &:hover, &:focus {
      color: rgba(#131313, 0.7);
    }
  }

  & .tracks-table__button {
    border: 1px solid #fff;
    border-right: none;
    position: relative;
    float: right;
    color: #fff;

    &:hover, &:focus {
      color: rgba(#fff, 0.7);
    }

    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-left-color: $main-accent-color;
      border-width: 14px;
      margin-top: -14px;
    }

    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #fff;
      border-width: 15px;
      margin-top: -15px;
    }

    & a {
      color: #fff;

      &:hover, &:focus {
        color: rgba(#fff, 0.7);
      }

      & i {
        margin-left: 5px;
      }
    }
  }

  & .arrow {
    float: right;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 30px;
    }
  }
}

.my-downloads__nothing-bought {
  background-color: #EFEFEF;
  padding: 50px 30px;

  & h3 {
    @include lato-bold;
    font-size: 18px;
  }
}