.press {

  &__section {
    margin: 20px 0;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    &__heading {
      @include lato-black;
      font-size: 24px;
      color: #A2A1A1;
      border-bottom: 1px solid #DDDDDD;
      margin-bottom: 20px !important;
      padding-bottom: 6px !important;
    }
  }

  &__file {
    margin-bottom: 30px !important;
    padding-bottom: 0 !important;

    &__photo {
      clear: both;
      border: 1px solid #ddd;
      padding: 0 !important;
      margin-bottom: 10px !important;

      & img {
        width: 100%;
        height: auto;
      }
    }

    &__title {
      width: 100%;
      float: left;
      @include lato-bold;
      font-size: 18px;
      margin-bottom: 4px;
    }

    &__meta {
      width: 100%;
      float: left;
      @include lato;
      font-size: 14px;
      color: #777;
      margin-bottom: 8px;
    }

    &__download-button {
      @include red-button;
    }
  }
}

.newsletter {
  margin-bottom: 40px !important;
  padding-bottom: 0 !important;
  @include align-self(flex-end);

  &__title {
    @include lato-bold;
    font-size: 18px;
    margin-bottom: 2px;
  }

  &__date {
    @include lato-bold;
    font-size: 14px;
    color: $main-accent-color;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  &__excerpt {
    @include lato;
    font-size: 14px;
    line-height: 120%;
    text-align: justify;
    height: 112px;
    text-overflow: ellipsis;
    overflow: hidden;
    
    &.unavailable {
      font-style: italic;
      opacity: 0.5;
    }
  }

  &__separator {
    background-color: #ddd;
    height: 1px;
    margin: 10px 0 12px;
  }

  &__view-button {
    @include red-button;
  }
}

@media (max-width: 760px) {
  .newsletter {
    &__excerpt {
      text-align: left;
    }
  }
}