.schedule {
  background-color: white;
  border-bottom: 1px #CCCCCC solid;;
}

.day {
  border: 1px #CCCCCC solid;
  border-left: 0;

  &:first-child {
      border-left: 1px #CCCCCC solid;
  }

  &:hover {
    background-image: url("../image/background-tile.png");

    cursor: pointer;
  }

  &--navigate {
    background-color: $main-accent-color;
  }

  &__date {
    @extend %lato;
    font-size: 16px;
    color: $main-accent-color;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__event-time {
    @extend %lato;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 3px;
  }

  &__event-title {
    @extend %lato-bold;
    font-size: 14px;
    color: #000000;
  }
}