.schedule-legend {
  display: inline-block;
  padding: 20px 20px 10px;
  border-top: 1px solid rgba(#fff, 0.5);

  & p {
    font-size: 14px;
    @include lato-bold;
    margin: 0;
  }

  &__icons {
    margin-top: 10px;
    & span {
      display: inline-block;
      margin: 5px 10px;

      & i {
        margin-right: 5px;
      }
    }
  }
}