/* Smalls logo and search bar combined */
.smalls-logo {
  background-color: #fff;
  display: block;
  width: 98px;
  float: left;
}

.smalls-logo img {
  position: relative;
  z-index: 999;
}

.search-form {
  float: left;
  padding-top: 34px;
  margin-left: -5px;
  z-index: 0;
  position: relative;
}

.search-form input {
  padding-left: 10px;
}

.search {
  max-width: 282px;
}