.section-title {
  $underline-length: 750px;
  position: relative;

  &:not(.section-title-padded) {
    width: 100%;
    @media(min-width: $screen-md-max) {
      width: $underline-length;
    }
  }

  &.section-flex {
    width: 100%;
  }

  &.section-title-padded {
    $padding: 40px;
    margin-top: 40px;
    padding-left: $padding;
    padding-right: $padding;
  }

  margin-bottom: 20px;
  padding-left: 20px;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, $white-transparent, $white-transparent) no-repeat bottom left;
  background-size: $underline-length $underline-height;
  padding-bottom: $underline-height / 2;

  .date-separator {
    color: $accent-color;
    padding-left: 0.3em;
  }

  // Adjust titles
  > div {
    &.title1, &.title2, &.title7 {
      display: inline-block;
    }

    &.title1, &.title2 {
      line-height: 1.1em;
    }

    &.title7 {
      line-height: 1.2em;
    }
  }
}
