.section-title {
  $underline-length: 750px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-left: $content-left-padding;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  background: linear-gradient(to right, $white-transparent, $white-transparent) no-repeat bottom left;
  background-size: $underline-length 5px;

  width: 100%;
  @media(max-width: $screen-sm-max) {
    background-size: 100vw 10px;
    padding-bottom: 9px;
    width: 500px;
  }

  &.home {
    width: 630px;
    @media(max-width: $screen-sm-max) {
    background-size: 100vw 5px;
    padding-bottom: 3px;
      width: 100vw;
    
    .select-container{      
      height: 100%;
    }
    .white-border-select.home-filter{
      width: 37vw;
      height: 100%;
      .select-items{
        top: 98%;
      }
      .select-selected{
        height: 100%;
        padding: 0;
        font-size: 4vw;
        border: 0;
        justify-content: flex-end;
        padding-right: 7vw;
        &::after{
          top:auto;
          right: 3vw;
        }
      }
    }
  }
}

  &.section-flex {
    width: 100%;
  }

  &.section-title-no-padded {
    padding-left: 0;
  }

  .date-separator {
    color: $accent-color;
    margin-right: 0.3em;
  }

  // Adjust titles
  > div {
    &.title1, &.title2, &.title7 {
      display: inline-block;
    }

    &.title1, &.title2 {

      &.header-sub {
        margin-bottom: 0;
      }
    }

    &.title1 {
      display: inline-block;
      line-height: 46px;
    }

    &.title2 {
      line-height: 25px;
    }

    @media(max-width: $screen-sm-max) {

      &.title1 {
        font-size: 7vw;
        line-height: 9vw;
      }

      &.title2 {
        font-size: 3vw;
        line-height: 2.5vw;
      }
    }

    &.title7 {
      line-height: 1.2em;
    }
  }
}
