.section-title {
  $underline-length: 750px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 1.5vw;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  background: linear-gradient(to right, $white-transparent, $white-transparent) no-repeat bottom left;
  background-size: $underline-length $underline-height;
  padding-bottom: 3px;

  width: 100%;
  @media(min-width: $screen-md-max) {
    width: 500px;
  }

  &.home {
    width: 630px;
  }

  &.section-flex {
    width: 100%;
  }

  &.section-title-no-padded {
    padding-left: 0;
  }

  .date-separator {
    color: $accent-color;
    margin-right: 0.3em;
  }

  // Adjust titles
  > div {
    &.title1, &.title2, &.title7 {
      display: inline-block;
    }

    &.title1, &.title2 {
      line-height: 1.1em;
    }

    &.title7 {
      line-height: 1.2em;
    }
  }
}
