.video-audio {
  background-color: #FFFFFF;
  border-top: 1px #DDDDDD solid;
  padding: 20px 20px 40px;

  &__section-title {
    @include lato-black;
    font-size: 18px;
    color: #131313;
    margin-bottom: 20px;
  }

  &__more-link {
    @include lato-bold-italic;
    font-size: 16px;
    color: $main-accent-color;
    text-decoration: underline;
    margin-left: 105px;

    &:hover, &:focus {
      text-decoration: underline;
      color: $main-accent-color-darker;
    }
  }
}
