{% extends "base_admin.html" %}
{% block title %}Dashboard: %username% {% endblock title%}
{% block bodyclass %}dashboard-musician{% endblock bodyclass %}
{% block content %}
  <h1>$ Dashboard {% if user.first_name %}for {{ user.first_name }}{% endif %} </h1>
  <div class="row summaries">
    <div class="col-md-6 col-sm-12">
      <div class="alert alert-info">
        <h5>Summary</h5>
        <table class="table nv">
          <tbody>
            <tr>
              <td>Next payment</td><td><strong>$5.43</strong>  {% if request.GET.paymentMethodSet %} on 4/1/2015 (for the period x-y) via  <a href="#" class="alert-link">direct deposit</a>{% else %} <span class="text-danger">, but we don't know how to pay you!  <br /><a href="#" class="alert-link">Add your bank info</a></span> {% endif %}</td>
            </tr>
            <tr>
              <td>Last payment</td><td><strong>$2.42</strong> deposited 1/1/2015 (for the period v-x)</td>
            </tr>
            <tr>  
              <td>Revenue-eligible</td><td> <span class="label label-primary"><strong>17</strong> videos</span>   <span class="label label-primary"><strong>2</strong> CDs</span>  <span class="label label-primary"><strong>1</strong> track download</span> <a href="https://slstore.herokuapp.com/en-us/search/?q={{ user.full_name }}"  class="alert-link">View my store</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class=" alert-danger alert ">
      <h5>To-Do Items</h5>
        <ul>
          <li>Incomplete artist profile<br /> <a href="" class="alert-link">Update my profile</a></li>
          {% if not request.GET.paymentMethodSet %}<li>We don't know how to pay you (and you are owed $42.12)! <br /><a href="#" class="alert-link">Add your bank information</a></li>{% endif %}
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="alert alert-warning">
        <h5>News &amp; Your Videos <code>2</code></h5> 
        <ul>
          <li><span class="label label-warning">Just Added</span> (2) new recordings featuring you have been added to the archive since your last login</li>
          <li><span class="label label-warning">NEWS (6/26)</span> - some news about a new feature we released... <a href="#" class="alert-link">more</a></li>
          <li><a class="alert-link" href="{% url 'my_gigs' %}">My video/audio stats</a></li>
        </ul>
        
            
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"> 
      <table class="table ">
        <thead>
          <tr>
            <th class="text-primary"><select><option>Total Revenue</option><option>Streaming Revenue</option><option>Store Revenue</option></select></th>
            <th class="num">You</th>
            <th class="num">Your Rank/Position</th>
            <th class="num">Musician Average<sup>1</sup></th>
            <th class="num">Entire Community</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>This month</td>
            <td class="num">$0.12</td>
            <td class="rank"> #326  </td>
            <td class="num">$0.44</td>
            <td class="num">$4.33</td>
          </tr>
          <tr>
            <td>Last month</td>
            <td class="num">$0.45</td>
            <td class="rank"> #4 <span class="text-success">(Top 24%!)</span></td>
            <td class="num">$0.12</td>
            <td class="num">$12.33</td>
          </tr>
          <tr>
            <td>Your Average Monthly</td>
            <td class="num">$0.45  </td>
            <td class="rank"> #14   <span class="text-success">(Top 4%!)</span></td>
            <td class="num">$0.98</td>
            <td class="num">$0.41</td>
          </tr> 
          <tr>
            <td>YTD</td>
            <td class="num">$2.45</td>
            <td class="rank"> #24    <span class="text-success">(Top 14%!)</span></td>
            <td class="num">$1.11</td>
            <td class="num">$112.62</td>
          </tr> 
          <tr>
            <td><strong>Lifetime</strong></td>
            <td class="num">$104.23</td>
            <td class="rank"> #91  </td>
            <td class="num">$41.15</td>
            <td class="num">$5,121.21</td>
          </tr>  
        </tbody>
      </table>
      
      <table class="table store-revenue-per-item-breakdown">
        <thead>
          <tr>
            <th>Type</th>
            <th class="text-primary">Lifetime Store Revenue by Item (3)</th>
            <th class="num"><a href="">Units Sold</a> </th>
            <th class="num"><a href="">Your Earnings<sup>2</sup> &darr;</a></th>
            <th>Item Rank</th>
            <th>View item</th>
          </tr>
        </thead>
        <tbody>
          <tr product_id="1">
            <td>CD</td>
            <td class="product"><a href="" class="unstyled-link"><span class="glyphicon glyphicon-expand"></span> Dave Berkman w/ Tom Harrell</a>
            </td>
            <td class="num">3 </td>
            <td class="num">$30.00</td>
            <td class="rank">#14</td>
            <td><a href="https://slstore.herokuapp.com/en-us/catalogue/david-berkman-w-tom-harrell_40/">View item</a></td>
          </tr>
              {% include 'blocks/store-revenue-per-item-breakdown.html' with product_id=1 %}
          <tr product_id="2">
            <td>CD</td>
            <td class="product"><a href="" class="unstyled-link"><span class="glyphicon glyphicon-expand"></span> Kind of Red</a></td>

            <td class="num">1  </td>
            <td class="num">$5.00</td>
            <td class="rank">#11</td>            
            <td><a href="https://slstore.herokuapp.com/en-us/catalogue/spike-wilner-solo_19/">View item</a></td>
          </tr>
              {% include 'blocks/store-revenue-per-item-breakdown.html' with product_id=2 %}
          <tr product_id="3">
            <td><span class="glyphicon glyphicon-download"></span></td>
            <td class="product"><a href="" class="unstyled-link"><span class="glyphicon glyphicon-expand"></span> Summertime</a></td>
            <td class="num">1 </td>
            <td class="num">$1.00</td>
            <td class="rank">#41</td>            
            <td><a href="https://slstore.herokuapp.com/en-us/catalogue/david-berkman-w-tom-harrell_40/">View item</a></td>
          </tr>
              {% include 'blocks/store-revenue-per-item-breakdown.html' with product_id=3 %}
  
        </tbody>
      </table>
   

      
    </div>    
    <div  class="col-sm-4">
      <table class="table  fans-following">
        <thead>
          <tr>
            <th class="text-primary"># Fans Following You</th>
            <th>You</th>
            <th class="num"> Musician Average</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jun 2014</td><td>4</td><td>4</td>
          </tr>
          <tr> 
            <td>Last month</td><td>3</td><td>0.4</td>
          </tr>
          <tr>        
            <td>Your monthly average</td><td>12</td><td>3</td>
          </tr>
          <tr>        
            <td>Year to Date</td><td><strong>51</strong></td><td><strong>15</strong></td>
          </tr>
          <tr>        
            <td><strong></strong></td><td><strong>51</strong></td><td><strong>22</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
  <p class="footnote"><sup>1</sup> Musician Average means any musician with earnings in the last 12 months. When counting  fans, the Musician Average only includes musicians with at least 1 fan signup in the last year.  SmallsLIVE has been live for 1,301 days and currently has 512 videos published. <a href="">More Community stats</a></p>
  <p class="footnote"><sup>2</sup> Your Earnings on store items are your net earnings, after SmallsLIVE has deducted its %.</p>
      
      
  <div class="dev">
    <h1>Alt. States</h1>
    <ul>
      <li><a href="../?paymentMethodSet=1">User has set payment method</a> {paymentMethodSet}</li>
    </ul>
    <h1>Dev notes</h1>
    <Ul> 
      <li><code>1</code> - only show amount owed if tey are owed anything. The green alert message is only shown if any videos' published-date stamps are > then last login date.</li>
      <li><code>2</code> - if there are no red To Do items, the col-md-3 should become col-md-6 for this beige column</li>
    </Ul>
  </div>
{% endblock content %}
