{% extends "base_admin.html" %}
{% load humanize %}
{% load thumbor_tags %}
{% block title %}Dashboard{% endblock title%}
{% block content %}
  <div class="page-header">
    <h1>Admin Calendar</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
       
      <p class="pull-right"><a href="{% url "event_add" %}"><button class="btn btn-primary btn-sm">Add new event&hellip;</button></a> <a href="{% url "artist_add" %}"><button class="btn btn-default btn-sm">Add new artist</button></a></p>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#upcoming" data-toggle="tab">Upcoming &amp; Recently Updated Gigs</a></li>
        <li><a href="#all" data-toggle="tab">Calendar View (incl. holds)</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="upcoming">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th><a href="#sort">Date &darr;</a><code>2</code></th>
                <th>Time</th>
                <th>Event Photo</th>
                <th>View Event / Title / Subtitle</th>
                <th class="nowrap">Edit event</th>
                <th class="nowrap">Artist Status</th>
                <th class="nowrap"><a href="#sort">Last Updated</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="3" class="event_date">
                  <span>Wed<br />
                    <small>Jan 9</small>
                  </span>
                </td>
                <td class="event_time">9 - 11PM</td>
                <td><img src="http://d3dombqstlgdhj.cloudfront.net/uG6cxKo4bKJH1-gvfitnjNKIRmg=/100x60/smart/http%3A//d3dombqstlgdhj.cloudfront.net/images/Michela..jpg" class=""></td>
                <td colspan="5" rowspan="3"><code>1</code></td>
              </tr>              
              <tr>
                <td class="event_time">11 - 12:30 AM</td>
                <td><img src="http://d3dombqstlgdhj.cloudfront.net/uG6cxKo4bKJH1-gvfitnjNKIRmg=/100x60/smart/http%3A//d3dombqstlgdhj.cloudfront.net/images/Michela..jpg" class=""></td>
              </tr>            
              <tr>
                <td class="event_time">1 - 2 AM</td>
                <td><img src="http://d3dombqstlgdhj.cloudfront.net/uG6cxKo4bKJH1-gvfitnjNKIRmg=/100x60/smart/http%3A//d3dombqstlgdhj.cloudfront.net/images/Michela..jpg" class=""></td>
              </tr>
              {% for event in events %}
              <tr>
                <td class="event_date">
                  <span>{{ event.start|date:"D" }}<br />
                    <small>{{ event.start|date:"M j" }}</small>
                  </span>
                </td>

                <td class="event_time"><time datetime="{{ event.start|date:"c" }}">{{ event.start|date:"f" }} - {{ event.end|date:"f A" }}</time></td>                <td>{% if event.get_photo_url != "" %}
            <img src="{% thumbor_url event.get_photo_url|urlencode height=60 width=100 smart=True   %}" class="" />{% else %}<a href="{% url "event_edit" pk=event.id  slug=event.title|slugify %}"><span class="text-danger">[missing photo]</span></a>
          {% endif %}</td>
                <td><a href="{{ event.get_absolute_url }}">{{ event.display_title }}</a
                {% if event.subtitle %}<span class="text-muted"><br />{{ event.subtitle }}</span>{% endif %}</td>
                <td><a href="{% url "event_edit" pk=event.id slug=event.title|slugify %}">Edit event</a></td>
                <td class="nowrap"><a href="/static_page/invite-artists"><span class="text-danger">3/4 unregistered</span><br /><span class="glyphicon glyphicon-envelope"></span> Invite&hellip;</a></td>
                <td class="text-muted">{{ event.last_modified_by.get_full_name }} {{ event.modified|naturaltime }}</td>
              </tr>
              {% endfor %}
              <tr><td colspan="4">Show 50 rows + use datatables to allow sorting and maybe filtering</td></tr>
            </tbody>
          </table>
        </div> 
        <div class="tab-pane" id="all">
          <div class="well">This would be a version of the calendar UI on calendar.html w/ all upcoming dates, holds, and open slots. (Yes, we would include drafts/holds in this view even thought those have a dedicated list view as well). However, all event links would point to the /edit and not the /detail view (unlike the public calendar.html screen).</div>
        </div> 
      </div> 
     
    </div>
 
  </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <Ul> 
      <li><code>1</code> - example of how 3 gigs happening on one 1 date should look (print the common day just one time with rowspan, print 1 row per slot/artist)</li>
      <li><code>2</code> - default sort is accurate. note Last updated is also sortable.</li>
    </Ul>
  </div>
{% endblock content %}
