{% extends "base_musician-signup.html" %}
{% block title %}stepnamehere{% endblock title %}
{% block bodyclass %}musician-registration{% endblock bodyclass %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% include "blocks/musician-signup-steps.html" %}
  </div>
  <div class="col-sm-6">
    <form action="/static_page/musician-signup-artist-edit/">  
      <h2><span class="glyphicon glyphicon-envelope"></span> Send Invitations</h2>
          <p class=""> You may want to consider inviting the artists listed below to join SmallsLIVE as they share recordings with you that you would like to have made available to listeners in the archive. Each recipient will get their own email. This step is optional.  </p>      
 
      <table class="table">
        <thead>
          <tr> 
            <th>Add to recipient list</th>
            <th>Musician</th> 
            <th># recordings you share <code>1</code></th>         
          </tr>
        </thead>
        <tbody>  
          <tr>
            <td><input type="checkbox" checked /></td>
            <td>Ugonna Okegwo (dr)</td>
            <td>44</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked /></td>
            <td>Anthony Pinciotti (gtr)</td>
            <td>34</td>
          </tr>
          <tr>
            <td><input type="checkbox" checked /></td>
            <td>Jon Grimes (vib)</td>
            <td>14</td>
          </tr>
        </tbody>
      </table>  
      <h3>Here's the message your (3) recipients will each get:</h3>
      <div class="well">
 
          <p>Hi {recipient-first-name},</p>
          <p>I just signed up as a recording artist for SmallsLIVE, the new Netflix-style subscription service from Smalls jazz club in NYC. As musicians, we can make money when people listen to recordings of our past gigs (and the <a href="/static_page/about-smallslive-for-musicians/">50/50 money split is better than Spotify</a>!)</p>
          <p>You and I play on at least one recording from past gigs at the club, and since we each own a share in the copyright on these recordings, we need to get approval from everyone who played on the gig in order to add that night's music into the archive. To review/approve recordings and sign up, use  this special sign-up button:</p>
          <p><a href="" class="btn btn-primary" role="button">Register As Artist</a></p>          <p><textarea placeholder="Additional message from you (optional)" rows="4" class="form-control"></textarea></p>
          <p>Thanks!</p>
          <p>{{ user.first_name }}</p>
          
          <p>p.s. Don't share/forward this email as the sign-up button is customized for your account.</p>

 
      </div>
      <p><button type="submit" class="btn btn-primary">Send Invitations &amp; Finish Registration</button>  <button type="submit" class="btn btn-default">Skip this</button></p>
    </form> 

  </div>
</div>
<div class="dev">
  <h1>Dev notes</h1>
  <Ul> 
    <li><code>1</code> this query should be ordered by "most recordings to least". only include artists on here that were "black" on the previous page (we share a common past recording, and they havent registered for the site yet).</li>
  </Ul>
</div>
{% endblock content %}
