{% extends "base_my_account.html" %}
{% load socialaccount %}
{% block title %}My Account &amp; Subscription{% endblock title%}
{% block content_for_account_mgmt %} 
 
  <table class="table nv my-account ">
    <tbody>
      {% if user.is_artist %}
      <tr>
        <td colspan="">Musician/Artist Profile</td>
        <td colspan=""><a href="/artists/102/edit">Edit your artist info, bio, photo etc. here</a><br />To cancel your artist account, <a href="#">email Spike</a></td>
      </tr>  
      <tr>
        <td colspan="">How We Will Pay You</td>
        <td colspan="">[Direct Deposit to your %bank_name%.][Personal check to %legal_name% @ 123 Main St., Phoenix AZ 85021]<br /><span class="text-muted"><span class="label label-default">Note:</span>
        Next payouts begin 4/15/15 for Q1 2014.</span> <br /><a href="/artists/102/edit">Edit how you get paid</a> or <a href="/static_page/dashboard-musician.html" class="alert-link">View your $ Dashboard</a></td>
      </tr>  
      {% endif %} 
      {% if request.GET.social %}
        <tr>
          <td>Your Login / Social Media Connections</td>
          <td>
            <p>You use {sitename} to log in to SmallsLIVE. <a href="">change how I log in</a></p>
            <p>
            <div class="social-logins"><a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-default btn-sm">Facebook</a> <a href="{% provider_login_url "linkedin_oauth2" method="oauth2" %}" class="btn btn-default btn-sm">LinkedIn</a> <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-default btn-sm">Google</a> <a href="{% provider_login_url "twitter" method="oauth2" %}" class="btn btn-default btn-sm">Twitter</a></div>
          </td>
        </tr>      
      {% else %}
        <tr>
          <td>Email (your login)</td><td><p>{{ user.email }} <span class="text-warning">(unverified - check your email for a message we sent you with a link to click on to verify this account)<code>6</code></p><a href="/static_page/my-account-edit">Edit email address / resend verification</a><code>4</code></td>
        </tr>
        <tr>
          <td>Social Media Accounts</td>
          <td>
            <p>Connect your social media profiles for easier sharing of SmallsLIVE content with your friends.</p>
            <div class="social-logins"><a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-default btn-sm">Facebook</a> <a href="{% provider_login_url "linkedin_oauth2" method="oauth2" %}" class="btn btn-default btn-sm">LinkedIn</a> <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-default btn-sm">Google</a> <a href="{% provider_login_url "twitter" method="oauth2" %}" class="btn btn-default btn-sm">Twitter</a></div>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>Mailing List</td>
        <td>
          {% if request.GET.onMailingList %}
          <div class="mailinglist-joined">
            <p>Joined 1 April 2014. </p>
            <a href="">Change email</a> or <a href="" class="trigger-unsubscribe">Unsubscribe email@email.com</a>
          </div>
          <div class="mailinglist-not-joined none">
            <p><a href="" class="trigger-subscribe">Join mailing list</a></p>
          </div>
          {% else %}
          <div class="mailinglist-joined none">
            <p>Joined 1 April 2014. </p>
            <a href="">Change email</a> or <a href="" class="trigger-unsubscribe">Unsubscribe email@email.com</a>
          </div>
          <div class="mailinglist-not-joined">
            <p><a href="" class="trigger-subscribe">Join mailing list</a></p>
          </div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Password</td><td>****<br /><a href="/static_page/my-account-edit">Change password<code>4</code></a></td>
      </tr> 
      {% if user.phone1  %}
      <tr>
        <td><code>7</code>Phone</td><td>{{ user.phone1 }}</td><td><a href="/static_page/my-account-edit">edit phone</a></td>
      </tr>
      {% endif %}
      {% if user.address1  %}
      <tr>
        <td><code>7</code> Address</td><td><address>{{ user.address1 }}<br />{{ user.address2 }}<br />{{ user.city }}, {{ user.state }} {{ user.zip }}<br />user.country</address></td><td><a href="">edit address</a></td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="2" class="txt"><h4>Subscription Info</h4></td>
      </tr>
      <tr>
        <td colspan="">Current Subscription</td>
        <td>
          {% if user.is_artist %}
          You have a free artist subscription. Music you listen to does not count towards play counts or royalties.
          {% else %}
          <!-- not artist -->
            {% if request.GET.inTrial %}
              <p><strong>Premium Subscription Trial</strong></p>
              <p class="text-warning"> (Ends in 2 days on April 16, 2015.)</p>
              <p>After that, you'll lose access to the video archive unless you set up payment to keep your Premium service ($10/month).</p>
               <a href="" class="btn btn-primary" role="button">Add Payment Info</a>

            {% else %}
              {% if request.GET.free %}
                <!-- not in premium trial; has free sub -->
                <p><strong>Free Subscription</strong></p>
                <p>With a Premium Subscription you could get:</p>
                <ul>
                  <li>Access all audio streams</li>
                  <li>Watch tonight's live concert(s)</li>
                  <li>Access to purchase downloads (when avail.)</li>
                </ul>
                <a href="" class="btn btn-primary" role="button">Upgrade Now ($10/month)</a>
              {% else %}
                <p><strong>Premium Subscription ($10/mo)</strong></p>
                <a href="">Change/Cancel Subscription</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% if request.GET.cancelled %}
        <tr>
          <td>Subscription History</td>
          <td>You cancelled your last subscription on May 1, 2014.</td>
        </tr>
      {% else %}
      
        {% if request.GET.inTrial or request.GET.free %}
        {% else %}
        <tr>
          <td>Billing / Name on Account</td>          
          <td>
            {% if not user.is_artist %}
              <p>Name on account: {{ request.user.full_name }}. 
                {% if request.GET.inTrial %}We will charge{% else %}We are charging{% endif %} 
                a VISA card ending in 1234. 
              </p>
            {% endif %}
            <p class="text-warning">Your VISA card will expire on 6/1/2014.</p>
            <a href="{% url 'djstripe:change_card' %}">Change credit card / name on account</a><code>4</code>
          </td>
        </tr>
        {% endif %}
       {% if not user.is_artist %}
        <tr>
          <td>Subscriber since</td>
          <td>March 1, 2015</td> 
        </tr>
        {% endif %}
        {% if request.GET.inTrial or request.GET.free or user.is_artist %}
        {% else %}
          <tr>
            <td>Artist Revenue Generated</td>
            <td><span class="text-success">~$100.00 from your subscription fees and purchases have gone directly into our artist revenue pool. Thanks!</span></td> 
          </tr> 
        {% endif %}
      {% endif %}
      <tr>
        <td>Orders/Transactions</td>
        <td>You've placed <a href="">5 music orders</a> to date. <a href="/static_pages/my_account_purchase_history">View all payments you've made</a> 
       {% if not user.is_artist %}(including subscription fees).{% endif %}</td>
      </tr>
    </tbody>
  </table>
 
  <div class="dev">
    <h1>Alternate states</h1>
    <Ul> 
      <li><a href="?onMailingList=1">Already on mailing list</a></li>
      <li><a href="?free=1">User is free-service subscriber</a></li> 
      <li><a href="?free=1&social=1">User is free-service subscriber w/ social auth used</a></li> 
      <li><a href="?inTrial=1">User is inside trial period of paid sub. service</a></li>
      <li><a href="?">User is paid subscriber</a></li>         
      <li><a href="?cancelled=1">User just cancelled / is cancelled</a></li>     
    </Ul> 
    <h1>Dev notes</h1>
    <Ul>  
      <li><code>1</code> note pseudo code in comments</li>  
      <li><code>2</code> - this placement of the cancel-success message is not in the right place. it should be in the masthead per normal site messages.
      <li><code>4</code>  these edit links  open a dialog to change the requested field using a unique form. Display form fields, and on submit,  emit  flash/feedback message in the dialog and provide a button to close dialog (closing dialog should also reload the my-account summary page). See #<code>5</code> for UI requirements for forms</li>
      <li><code>5</code> Forms + Flash messages for each row:
        <ul> 
          <li>Email: just show an email field. The response should be flash text using div.alert-info "In order for SmallsLIVE to use this new email address, please click the link in the email we just sent you (verifying you own that email account)."</li>
          <li>Password: just show one field (dont require a retype); its easy enough to change the password if its not right. Flash mesg: "Your password was updated successfully.</li>
 
          <li>Phone: same as password; replace "password" with "phone" in the flash message. Use 1 input field; talk to brian if we need to handle international number entry. See <code>7</code></li>
          <li>Address: use text inputs for all fields; do not use dropdown for state (use .selectize). talk to brian if we're handling international addresses. See <code>7</code></li>
        </ul> 
       <li><code>7</code> - only show phone and address fields if they have ordered something that required these fields at checkout time</li>
    </Ul>
  </div>
{% endblock content_for_account_mgmt %}
