{% extends "old/smalls_base.html" %}
{% block title %}Browse Video Archive: {query}{% endblock title%}
{% block bodyclass %}search{% endblock bodyclass%}
{% block content %}
  <h1>SmallsLIVE Video Archive:</h1>
  <div class="row">
    <div class="col-sm-3 facets">
      <form role="form"> 
        <div class="well">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="qType" value="artist">
            </span>
            <input type="text" class="form-control" id="f1" placeholder="Artist, instrument, date">
          </div>    
          <code>see PDF for the design<br /> of this facet/browse/search widget</code>        </div>
      </form>
    </div>
    <div class="col-sm-9">
      <code>Default search result = newest recordings in archive:</code>
      <h1>(21) concert videos:</h1>
      <p>Sort:  just added  | <a href="">most recent show date first</a> | <a href="">most popular</a> </p>
      <code>if search query/facet choices exists: </code>
      <h1>(21) concert videos:</h1>
      <p>Sort: best match |  <a href="">just added</a>  | <a href="">most recent show date first</a> | <a href="">most popular</a> </p>
 
      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

      {% include 'blocks/search-result-media.html' %}

    </div>
  </div>
  <div class="dev">
    <h1>Dev notes</h1>
    <Ul> 
      <li><code>1</code> Ajax selection of artist controls which sidemen appear</li> 
      <li><code>2</code> Return 20 sidemen order by most-videos-played-on. The sidemen checkboxes are "or" searches not "and" searches, however, if you have a match for leader and a match for 2/2 checked sidemen, then that video should surface at the top.</li> 

    </Ul>
  </div>
{% endblock content %}
