{# {% load pipeline %} #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}{% block title_prefix %}
    @ {% endblock title_prefix %}SmallsLIVE{% block title_suffix %}{% endblock title_suffix %}</title>
  {# {% stylesheet 'css' %} #}
  <link href='http://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
  {% block extra_css %}
  {% endblock extra_css %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block extra_head %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
{% block alert %}
  {% for message in messages %}
    <div class="alert alert-dismissible {% if message.tags %}{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endblock alert %}
<header class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="/" class="smalls-logo"><img src="{% static 'image/smalls-logo.png' %}" alt="Smalls"
                                            class="img-circle" width="98" height="98"/>{% block subbrand %}{% endblock subbrand %}</a>
      <form role="search" class="search-form" action="/static_page/search">
        <div class="form-group">
          <div class="input-group input-group-sm search">
            <input type="text" class="form-control " placeholder="Search Artist, Instrument or Date">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {% include "blocks/navigation.html" %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <hr class="separator-line" />
    </div>
    <div class="col-lg-3">
      <form role="search" action="/static_page/search">
        <div class="form-group">
          <div class="input-group input-group-sm search">
            <input type="text" class="form-control " placeholder="Email address">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Join List</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>

<div class="container">
  {% block custom-page-heading %}{% endblock custom-page-heading %}
  {% block content %}{% endblock content %}
  <hr />
</div>
<footer class="footer">
  <p>&copy;2014 Smalls • 183 W. 10th St, New York, NY 10014 <a href="#">(Directions)</a><br/><a
          href="mailto:info@smallsjazzclub.com">info@smallsjazzclub.com</a> • 212-252-5091</p>
  <p><a href="">Staff/Team</a> • <a href="">Mission Statement</a></p>
</footer>

{% comment %}
<div class="dev">
  <h1>Global Dev Notes:</h1>
  <ul>
    <li><code>G1</code> if a show is going on, we display this in the nav bar. else, hide the link. this goes right to
      the event that has a show going on.
    </li>
    <li><code>g2</code> - cancel musician reg. link - when clicked, cancel the reg in backend as needed, redirect them
      to about-smallslive-for-musicians and show a green success flash message: "You cancelled the artist sign-up
      process. Bookmark this page if you want to sign up at a later date."
    </li>
    <li><code>g3</code> - see base_musician-signup.html - we show the artist's name when they are signing up, as soon as
      the system is capable of displaying it via URL or logged in status.
    </li>
  </ul>
</div>
<div class="well">
  <h2>Screen Listing</h2>

  <h3>Artist and Public Screens </h3>
  <ul>
    <li><a href="/">SmallsLIVE Home</a></li>
    <li><a href="{% url "artist_detail" pk=122 %}">Artist page</a></li>
    <li><a href="{% url "event_detail" pk=8402 slug="something" %}">Event page</a></li>
    <li><a href="/static_page/about">About the club</a></li>
    <li><a href="/static_page/about-smallslive-for-musicians">Artist Sign Up Starting Point</a> &rarr; <a
            href="/static_page/musician-signup-login">Artist Reg (1 of 4)</a> (this link starts process)
    </li>
    <li><a href="/accounts/login/">Log In</a> &rarr; <a href="/accounts/signup/">Signup Form</a>
      &rarr; <a href="/static_page/upgrade/">Upgrade Form</a>
    <li><a href="/static_page/my-account-summary">My Account Section</a> - subscription, downloads, trans. history (has
      many versions, see footer)
    </li>
    <li><a href="{% url 'my_gigs' %}">$ Dashboard for Artists</a></li>
  </ul>
  <h3>Admin Screens</h3>
  <ul>
    <li><a href="{% url 'venue_dashboard' %}">Calendar (Dashboard)</a> &rarr; <a href="/static_page/invite-artists/">Invite
      artists in bulk</a></li>
    <li><a href="{% url 'recordings' %}">Videos &amp; Audio</a></li>
    <li><a href="{% url "admin:index" %}">Django Admin</a></li>
  </ul>
</div>
</div>
{% endcomment %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/application.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
